/* ARTICLE */

.article-holder {
	@extend .flex, .flex-wrap, .align-content-stretch;
	margin-left: -15px;
	margin-right: -15px;
	@include respond-to(xs) {
		flex-direction: column;
	}
}

.article__item {
	@extend .flex-half;
	@extend .flex, .flex-column;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 40px;
	@include respond-to(xs) {
		flex-basis: 100%;
		margin-bottom: 25px;
	}
}
.article__item-has-date {
	.article__title {
		margin-bottom: 10px;
	}
}
.article__body {
	flex: 1;
	margin-bottom: 20px;
}
.article__title {
	font-family: $font-black;
	margin-bottom: 25px;
}

.aritcle__text-box {
	p {
		margin-bottom: 10px;
	}
}
.article__date {
	margin-bottom: 25px;
}

