/* BUTTONS */

.btn {
	padding: 7px 14px;
	&.btn-success {
		border-color: $success;
		background: $success;
		&:hover, &:focus {
			border-color: darken($success, 10%);
			background: darken($success, 10%);
		}
	}
}