/* VARIABLES */


/* COLORS */

/* For color names was used site - http://chir.ag/projects/name-that-color */

/************************* 
	Main colors start
*************************/
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Green group */
$boston-blue: #31a3ae; //Success color
/* Gray group */
$dove-gray: #706565; //Body text color
/* Orange group */
$tango: #ea661e; //Warning color
$linen: #fbf2ea; //Warning bg
/* Blue group */
$stratos: #00052D;

/************************* 
	Local colors start
*************************/
$success: $boston-blue;
$warning: $tango;
$blue: $stratos;

$bg-warning: $linen;


/************************* 
	Fonts variable
*************************/
$font-base: 'latoregular';
$font-light: 'latolight';
$font-regular: 'latoregular';
$font-bold: 'latobold';
$font-black: 'latoblack';


$font-icons: 'fontello';

/************************* 
	Body variable
*************************/
$body-font-family: $font-base;
$body-font-size: 16px;
$body-line-height: 24px;
$body-main-color: $dove-gray;


/************************* 
	Links color variable
*************************/
$link-color: $success;


/************************* 
	Title color variable
*************************/
$title-color: $warning;
$title-ff: $font-bold;



