<footer class="footer">
  <div class="container">
    <div class="d-lg-flex justify-content-center align-items-center mb-4 mb-md-5">
      <p class="mb-lg-0 mr-lg-3">Copyright © 2000-2017 Digital Envoy. All rights reserved.</p>
      <ul class="list-divider justify-content-center">
        <li class="list-divider__item">
          <a href="#" class="list-divider__link">Contact Us</a>
        </li><!--list-divider__item-->
        <li class="list-divider__item">
          <a href="#" class="list-divider__link">Privacy Policy</a>
        </li><!--list-divider__item-->
        <li class="list-divider__item">
          <a href="#" class="list-divider__link">Ad Choices</a>
        </li><!--list-divider__item-->
        <li class="list-divider__item">
          <a href="#" class="list-divider__link">Resource Center Login</a>
        </li><!--list-divider__item-->
      </ul><!--list-divider-->
    </div>

    <div class="text-center">
      <a href="#">
        <img src="assets/images/elements/footer-logo.svg" alt="" class="imf-fluid">
      </a>
    </div>
  </div><!--container-->
</footer><!--footer-->
