<header class="header fixed-top">
  <nav class="navbar navbar-expand-md navbar--top">
    <ul class="navbar-nav ml-auto d-none d-lg-flex d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link digital-icon-facebook" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-twitter" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-linkedin-squared" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-youtube-play" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-slideshare" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-google" href="#"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle--flag dropdown-toggle--no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu--flag">
          <a class="dropdown-item" href="#">
            Ukraine <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
          </a>
          <a class="dropdown-item" href="#">
            Spanish <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
          </a>
        </div>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar--bottom navbar-expand-lg px-xl-5">
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/navbar-logo.svg" class="navbar-brand__img" alt="">
    </a>
    <button class="navbar__toggle">
      <span class="navbar__toggle__icon"></span>
    </button>

    <div class="navbar__collapse">
      <button class="navbar__close">
        <span class="navbar__close__icon"></span>
      </button>

      <div class="flex-1 mb-3 mb-lg-0">
        <ul class="navbar-nav d-flex d-lg-none pt-3 pt-lg-0 mb-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle--flag dropdown-toggle--no-arrow d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              <img src="assets/images/flags/US.svg" class="navbar__flag mr-3" alt=""> English
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu--flag">
              <a class="dropdown-item" href="#">
                Ukraine <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
              </a>
              <a class="dropdown-item" href="#">
                Spanish <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
              </a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav navbar-nav--main mr-0 ml-lg-5 d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">Geolocation</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              Solutions
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              Applications
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              Resources
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              Company
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>


        <ul class="navbar-nav navbar-nav--main mr-0 ml-lg-5 d-flex d-lg-none">
          <li class="nav-item">
            <a class="nav-link" href="#">Geolocation</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center justify-content-between" href="#">
              Solutions
              <span class="dropdown-toggle-mobile"></span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center justify-content-between" href="#">
              Applications
              <span class="dropdown-toggle-mobile"></span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center justify-content-between" href="#">
              Resources
              <span class="dropdown-toggle-mobile"></span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center justify-content-between" href="#">
              Company
              <span class="dropdown-toggle-mobile"></span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
              <a class="dropdown-item" href="#">Lorem ipsum</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex flex-row d-lg-none flex-1">
          <li class="nav-item">
            <a class="nav-link digital-icon-facebook" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link digital-icon-twitter" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link digital-icon-linkedin-squared" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link digital-icon-youtube-play" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link digital-icon-slideshare" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link digital-icon-google" href="#"></a>
          </li>
        </ul>
      </div>


      <img src="assets/images/elements/white-logo.svg" alt="" class="img-fluid d-block d-lg-none mx-auto">
    </div><!--collapse-->
    <a href="#scroll-anchor" class="btn btn-outline-primary navbar-btn-scroll mr-md-6 mr-lg-0 ml-auto d-none d-md-inline-flex float-right" data-click="scroll-to-target">Pricing Request <i class="digital-icon-down-open"></i></a>
  </nav>
</header>
