<header class="header fixed-top">
  <nav class="navbar navbar-expand-md navbar--top d-none d-md-flex">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link digital-icon-facebook" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-twitter" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-linkedin-squared" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-youtube-play" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-slideshare" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link digital-icon-google" href="#"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle--flag dropdown-toggle--no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu--flag">
          <a class="dropdown-item" href="#">
            Ukraine <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
          </a>
          <a class="dropdown-item" href="#">
            Spanish <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
          </a>
        </div>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar--bottom navbar-expand-lg px-lg-5">
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/navbar-logo.svg" class="navbar-brand__img d-none d-md-block" alt="">
      <img src="assets/images/elements/white-logo.svg" class="navbar-brand__img d-block d-md-none" alt="">
    </a>
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle__icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav d-flex d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropdown-toggle--flag dropdown-toggle--no-arrow d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            <img src="assets/images/flags/US.svg" class="navbar__flag mr-3" alt=""> English
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu--flag">
            <a class="dropdown-item" href="#">
              Ukraine <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
            </a>
            <a class="dropdown-item" href="#">
              Spanish <img src="assets/images/flags/US.svg" class="navbar__flag" alt="">
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav--main ml-lg-5 mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Geolocation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Geolocation
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Geolocation
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Geolocation
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Geolocation
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav d-flex flex-row d-md-none">
        <li class="nav-item">
          <a class="nav-link digital-icon-facebook" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link digital-icon-twitter" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link digital-icon-linkedin-squared" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link digital-icon-youtube-play" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link digital-icon-slideshare" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link digital-icon-google" href="#"></a>
        </li>
      </ul>
    </div><!--collapse-->
  </nav>
</header>
