/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$black-thin: #1C1C1C;
$yellow-thin: #FBE98A;
$yellow: #FFD600;
$orange: #FFA800;
$silver: #E7E8EA;
$gray: #CBCBCB;
$blue: #1B2E5C;
$blue-muted: #333A4C;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-black-thin {
  color: $black-thin !important;
}
.text-yellow-thin {
  color: $yellow-thin !important;
}
.text-yellow {
  color: $yellow !important;
}
.text-orange {
  color: $orange !important;
}
.text-silver {
  color: $silver !important;
}
.text-blue {
  color: $blue !important;
}
.text-blue-muted {
  color: $blue-muted !important;
}
.text-gray {
  color: $gray !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-black-thin {
  background-color: $black-thin !important;
}
.bg-yellow-thin {
  background-color: $yellow-thin !important;
}
.bg-yellow {
  background-color: $yellow !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-blue-muted {
  background-color: $blue-muted !important;
}
.bg-gray {
  background-color: $gray !important;
}

/*************************
	Fonts variables
*************************/
$font-hind-regular: 'hind-regular';
$font-hind-medium: 'hind-medium';
$font-hind-semibold: 'hind-semibold';
$font-hind-bold: 'hind-bold';

.font-hind-regular {
  font-family: $font-hind-regular !important;
}
.font-hind-medium {
  font-family: $font-hind-medium !important;
}
.font-hind-semibold {
  font-family: $font-hind-semibold !important;
}
.font-hind-bold {
  font-family: $font-hind-bold !important;
}

$font-montserrat-regular: 'montserrat-regular';
$font-montserrat-medium: 'montserrat-medium';
$font-montserrat-bold: 'montserrat-bold';
$font-montserrat-black: 'montserrat-black';

.font-montserrat-regular {
  font-family: $font-montserrat-regular !important;
}
.font-montserrat-medium {
  font-family: $font-montserrat-medium !important;
}
.font-montserrat-bold {
  font-family: $font-montserrat-bold !important;
}
.font-montserrat-black {
  font-family: $font-montserrat-black !important;
}


$font-icons: "fontello";
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}

/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-hind-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-font-size-mobile: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $orange;

/*************************
	Title variables
*************************/
$title-font: $font-montserrat-black;
