<footer class="footer">
  <div class="container">
    <h2 class="h1 text-center">Download the app to team up<br class="d-none d-xl-inline-block" /> with your favorite players.</h2>
    <a href="#" class="apple-btn"><img src="assets/images/elements/apple-btn.svg" alt="" class="w-100"></a>
    <div class="footer__content">
      <div class="text-center text-md-left">
        <a href="#" class="footer__logo">
          <img src="assets/images/elements/logo-white.svg" alt="" class="w-100">
        </a>
      </div>

      <div class="footer__nav-holder">
        <div class="footer__nav">
          <a href="#" class="footer__nav-link">Home</a>
          <a href="#" class="footer__nav-link">Discover</a>
          <a href="#" class="footer__nav-link">Search</a>
          <a href="#" class="footer__nav-link" data-scroll="apply-anchor">Apply</a>
        </div>
        <div class="footer__nav">
          <a href="mailto:support@crossplay.app" class="footer__nav-link">Support</a>
          <a href="#" class="footer__nav-link">Contact</a>
          <a href="#" class="footer__nav-link">Jobs</a>
        </div>
        <div class="footer__nav">
          <a href="#" class="footer__nav-link">Terms</a>
          <a href="#" class="footer__nav-link">Privacy</a>
        </div>
      </div>

      <div class="">
        <div class="footer__social">
          <a href="#" class="footer__social-item crossplay-icon-medium"></a>
          <a href="#" class="footer__social-item crossplay-icon-twitter"></a>
          <a href="#" class="footer__social-item crossplay-icon-facebook2"></a>
          <a href="#" class="footer__social-item crossplay-icon-instagram"></a>
        </div>
        <p class="text-center text-md-right"><b>© Crossplay LLC.<br />All Rights Reserved.</b></p>
      </div>
    </div>
  </div>
</footer>