<!-- Modal -->
<div class="modal fade" id="player-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between mb-4 mb-md-5">
          <div class="player p-0 shadow-none">
            <img src="assets/images/temp/player-1.jpg" alt="" class="player__avatar">
            <div class="player__content">
              <h5 class="player__title">Ninja</h5>
              <p class="player__subtitle">pc</p>
            </div>
          </div>

          <div class="ml-3 text-right flex-shrink-0">
            <p class="lead-sm text-muted mb-0">192 Ratings</p>
            <div class="rating">
              <div class="rating__item rating__item--full"></div>
              <div class="rating__item rating__item--full"></div>
              <div class="rating__item rating__item--full"></div>
              <div class="rating__item rating__item--full"></div>
              <div class="rating__item rating__item--full"></div>
            </div>
          </div>
        </div>

        <p class="mb-4 mb-md-5">Ninja is an American YouTuber, Mixer Streamer, a professional eSports Gamer, and former Twitch Streamer who is mostly known for playing and streaming Fortnite: Battle Royale.</p>

        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q6omsDyFNlk"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>