<nav class="navbar navbar-expand-md">
  <div class="container">
    <button class="navbar-toggler" type="button">
    </button>

    <a class="navbar-brand" href="index.html">
      <img src="assets/images/elements/logo.svg" alt="" class="w-100">
    </a>

    <div class="navbar-mobile-holder">
      <a class="nav-link nav-search-panel-toggle crossplay-icon-search" href="#"></a>
    </div>


    <div class="nav-collapse">
      <ul class="navbar-nav w-100">
        <li class="nav-item active ml-md-auto">
          <a class="nav-link" href="index.html">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/discover.html">Discover</a>
        </li>

        <li class="nav-item d-none d-md-inline-flex">
          <a class="nav-link" href="/search.html">Search</a>
        </li>

        <li class="nav-item mr-0 mr-md-auto">
          <a class="nav-link" href="/support.html">Support</a>
        </li>
      </ul>
    </div>

    <a href="#" class="btn btn-success btn-pill btn-animated d-none d-md-inline-flex">Download</a>

    <div class="nav-search-panel">
      <form class="nav-search-form" action="" method="">
        <div class="form-group mb-0 position-relative">
          <i class="form-search-icon crossplay-icon-search"></i>
          <input type="search" class="form-control" placeholder="Search">
        </div>
      </form>

      <a href="#" class="nav-search-panel-close crossplay-icon-close"></a>
    </div>
  </div>
</nav>