/* BUTTONS */

.btn {
    font-family: $font-poppins-regular;
    border-radius: 49px;
    font-size: 15px;
    padding: 10px 30px;
    min-height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-primary {
        @include button-variants($bg: $primary, $color: $white);
    }
}