/* HERO */

.hero {
    @extend .position-relative;
    padding: 100px 0 60px 0;
    z-index: 5;

    @include media-breakpoint-up(lg) {
        padding: 184px 0 93px 0;
    }

    &:before {
        @extend .position-absolute,
        .w-100,
        .h-100,
        .start-0,
        .top-0;
        background-image: linear-gradient(to bottom, #f9fcfe, #f9fcfe);
        content: '';
        z-index: -2;
    }

    &:after {
        @extend .position-absolute,
        .w-100,
        .h-100,
        .start-0,
        .top-0;
        content: '';
        z-index: -1;
        max-width: 388px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-image: url('../img/temp/hero-dots.png');
        opacity: .5;
    }
}

.hero__img {
    @media (min-width: 1500px) {
        transform: scale(1.35);
    }
}

// .hero__dots {
//     @extend .position-absolute,
//     .start-0;
//     z-index: -1;
//     opacity: .5;

//     @include media-breakpoint-up(lg) {
//         top: 0;
//         height: 100%;
//         width: 100%;
//         max-width: 16%;
//         object-fit: cover;
//     }
// }