/* BREADCRUMB */

.breadcrumb {
    @extend .bg-transparent;
    padding: 0;

    &--mobile {
        @extend .bg-silver;
        padding: 8px 15px;

        .breadcrumb-item {
            @extend .w-100;

            a {
                @extend .d-flex,
                .align-items-center,
                .justify-content-center,
                .text-black,
                .font-demi,
                .position-relative,
                .font-icons,
                .qarqish-icon-chevron-thin-left,
                .pl-4;

                &:before {
                    @extend .position-absolute,
                    .text-muted;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 18px;
                }
            }
        }
    }
}

.breadcrumb-item {
    color: $muted;

    &.active {
        color: $muted;
    }

    &+.breadcrumb-item {
        &:before {
            content: '>';
        }
    }

    a {
        color: $muted;

        &:hover,
        &:focus {
            color: $orange;
        }
    }
}