/* CART LIST */

$cart-counter-btn-size: 32px;

.cart-list {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.cart-list__item {
    @extend .checkbox,
    .d-flex,
    .position-relative;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid $silver;
    padding-left: calc(#{$checkbox-size} + 10px);

    @include media-breakpoint-up(md) {
        padding-left: calc(#{$checkbox-size} + 20px);
    }

    &:last-of-type {
        margin-bottom: 30px;
    }

    &--favorite {
        .cart-list__wishlist {
            &:before {
                @extend .text-danger;
            }
        }
    }

    .checkbox {
        @extend .position-absolute;
        top: 20px;
        left: 0;
    }
}

.cart-list__description {
    @extend .flex-fill,
    .d-flex;
    min-width: 0;
}

.cart-list__wishlist {
    @extend .flex-shrink-0,
    .mr-2,
    .mr-md-4,
    .position-relative,
    .overflow-hidden,
    .font-icons,
    .text-center,
    .qarqish-icon-heart;
    border-radius: 2px;
    width: 69px;

    &:before {
        @extend .position-absolute,
        .text-white;
        top: 5px;
        right: 5px;
        font-size: 18px;
        line-height: 1;

        @include media-breakpoint-up(md) {
            font-size: 24px;
            top: 10px;
            right: 10px;
        }
    }

    @include media-breakpoint-up(md) {
        width: 120px;
    }
}

.cart-list__label {
    @extend .lead,
    .text-orange;

    @include media-breakpoint-down(sm) {
        margin-top: 10px;
    }
}

.cart-list__description-inner {
    @extend .flex-fill,
    .d-flex,
    .flex-column,
    .position-relative,
    .pr-4,
    .pr-md-0;
    min-width: 0;

    .cart-list__remove {
        @extend .d-md-none,
        .position-absolute;
        right: 0;
        top: 0;
    }
}

.cart-list__price-box {
    @extend .d-flex,
    .align-items-center;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }

}

.cart-list__control {
    @extend .flex-shrink-0,
    .ml-4,
    .d-none,
    .d-md-flex,
    .flex-md-column,
    .align-items-md-end;
}

.cart-list__remove {
    @extend .btn,
    .btn-icon,
    .text-muted;

    &:hover,
    &:focus {
        @extend .text-orange;
    }
}

.cart-list__counter {
    @extend .d-flex,
    .align-items-center,
    .justify-content-between;
    line-height: 1;
}

.cart-list__counter-btn {
    @extend .btn,
    .d-inline-flex,
    .align-items-center,
    .justify-content-center,
    .text-white,
    .p-0;
    width: $cart-counter-btn-size / 2;
    height: $cart-counter-btn-size / 2;
    background-color: $orange;
    border-radius: 2px;
    font-size: 8px;

    @include media-breakpoint-up(md) {
        width: $cart-counter-btn-size;
        height: $cart-counter-btn-size;
        font-size: 12px;
    }

    &:hover,
    &:focus {
        background-color: darken($orange, 10%);
    }
}

.cart-list__counter-qta {
    @extend .d-inline-flex,
    .mx-3,
    .font-medium;
    line-height: 1;
}