/* CART BAR */

$cart-padding: 10px;

.cart-bar {
    @extend .bg-brand,
    .text-white;
    padding-top: $cart-padding;
    padding-bottom: $cart-padding;
    position: sticky;
    bottom: 0;
    left: 0;

    >.container {
        @extend .d-flex,
        .align-items-center;
    }

    .checkbox {
        @extend .flex-shrink-0;
        margin-right: 20px;

        @include media-breakpoint-up(md) {
            margin-right: 50px;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 70px;
        }
    }

    .show {
        .cart-bar__dropdown-toggle-icon {
            transform: rotate(180deg);
        }
    }
}

.cart-bar__inner {
    @extend .d-flex,
    .align-items-center,
    .flex-fill;

    .btn-checkout {
        @extend .ml-auto;

        @include media-breakpoint-down(sm) {
            border-radius: 0;
            margin: -10px -15px -10px 0;
            height: 41px;
        }

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }
}

.cart-bar__info {
    @extend .flex-fill,
    .d-flex,
    .align-items-center;

    @include media-breakpoint-down(xs) {
        font-size: 12px;
    }
}

.cart-bar__info-item {
    @include media-breakpoint-up(lg) {
        flex-basis: 25%;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;

    &:not(:last-of-type) {
        padding-right: 25px;
        border-right: 1px solid $white;
    }

    &:last-of-type {
        @include media-breakpoint-up(xl) {
            margin-right: 40px;
        }
    }

    &--total {
        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }
}

.cart-bar__dropdown-toggle {
    @extend .font-medium;
}

.cart-bar__dropdown-toggle-icon {
    @extend .mr-1,
    .d-inline-block;
    font-size: 14px;
}

.cart-bar__dropdown-menu {
    @extend .py-0;

    min-width: 220px;

    @include media-breakpoint-up(sm) {
        width: 383px;
    }

    border-color: $silver;

    .dropdown-item {
        @extend .text-dark,
        .d-flex,
        .align-items-center,
        .justify-content-between,
        .bg-transparent,
        .py-2;

        &:not(:first-of-type) {
            border-top: 1px solid $silver;
        }
    }
}

.dropdown-header {
    @extend .bg-silver,
    .text-center,
    .text-black;
    font-size: 16px;
}