/* CHECKBOX */

$checkbox-size: 16px;

.checkbox {
    input[type="checkbox"] {
        opacity: 0;
        height: 0;
        width: 0;
        position: absolute;

        &:focus {
            &~.checkbox__label {
                &:before {
                    box-shadow: 0 0 0 0.2rem rgba($brand, .25) !important;
                }
            }
        }

        &:checked {
            &~.checkbox__label {
                &:before {
                    border-color: $brand;
                }

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &.checkbox--white {
        input[type="checkbox"] {
            &:checked {
                &~.checkbox__label {
                    &:before {
                        border-color: $white;
                    }
                }
            }
        }

        .checkbox__label {
            @extend .text-white;

            &:before {
                border-color: $white;
            }

            &:after {
                background-color: $white;
            }
        }
    }
}

.checkbox__label {
    @extend .position-relative,
    .m-0,
    .w-100;
    cursor: pointer;
    line-height: $checkbox-size;
    min-height: $checkbox-size;
    padding-left: calc(#{$checkbox-size} + 10px);

    &:after,
    &:before {
        content: '';
        @extend .position-absolute;
    }

    &:before {
        border-radius: 2px;
        width: $checkbox-size;
        height: $checkbox-size;
        border: 1px solid $muted;
        left: 0;
        top: -1px;
    }

    &:after {
        @include transition($base-animation);
        border-radius: 2px;
        width: $checkbox-size - 8px;
        height: $checkbox-size - 8px;
        background-color: $brand;
        left: 4px;
        top: 3px;
        opacity: 0;
        visibility: hidden;
    }
}