/* DROPDOWN */

.btn-dropdown-close {
    @extend .position-absolute,
    .bg-transparent,
    .text-muted,
    .shadow-none;
    right: 10px;
    top: 8px;
    line-height: 1;

    &:hover,
    &:focus {
        @extend .text-muted-soft;
    }
}