/* FORMS */

$field-height: 40px;
$field-border-color: $gray;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: $field-height;
	border-color: $field-border-color;
	@include custom-placeholder($color: $muted-soft,
		$font-size: 14px,
		$font-family: $font-medium);
}