/* POPOVER */

$popover-color: $dark;

.popover-header,
.popover-body {
    color: $popover-color;
}

.popover-header {
    @extend .font-book,
    .bg-transparent,
    .border-0;
}

.popover-title {
    @extend .d-flex,
    .align-items-center,
    .text-silver-light,
    .font-demi;

    &:not(:last-child) {
        @extend .mb-3;
    }
}

.btn-popover {
    @extend .btn,
    .p-0,
    .border-0,
    .mr-2;
}

.popover-title__icon {
    @extend .flex-shrink-0,
    .text-brand;
}

.popover__close-btn {
    @extend .flex-shrink-0,
    .ml-3;
    cursor: pointer;
}