/* RADIO */

$radio-size: 16px;

.radio {
    input[type="radio"] {
        opacity: 0;
        height: 0;
        width: 0;
        position: absolute;

        &:focus {
            &~.radio__label {
                &:before {
                    box-shadow: 0 0 0 0.2rem rgba($orange, .25) !important;
                }
            }
        }

        &:checked {
            &~.radio__label {
                &:before {
                    border-color: $orange;
                }

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.radio__label {
    @extend .position-relative,
    .m-0,
    .w-100;
    cursor: pointer;
    line-height: $radio-size;
    min-height: $radio-size;
    padding-left: calc(#{$radio-size} + 10px);

    &:after,
    &:before {
        content: '';
        @extend .position-absolute;
        border-radius: 50%;
    }

    &:before {
        width: $radio-size;
        height: $radio-size;
        border: 1px solid $muted;
        left: 0;
        top: -1px;
    }

    &:after {
        @include transition($base-animation);
        width: $radio-size - 4px;
        height: $radio-size - 4px;
        background-color: $orange;
        left: 2px;
        top: 1px;
        opacity: 0;
        visibility: hidden;
    }
}