/* SOCIAL LIST */

$social-btn-size: 27px;

.social-list {
    @extend .d-flex,
    .align-items-center;
}

.social-list__item {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center,
    .rounded-circle,
    .text-black,
    .bg-silver-soft;

    width: $social-btn-size;
    height: $social-btn-size;

    &:hover,
    &:focus,
    &:active {
        @extend .bg-orange,
        .text-white;
    }

    &+.social-list__item {
        margin-left: 8px;
    }
}