/* TICK */

$tick-size: 16px;
$tick-color: $brand;

.ticks {
    @extend .d-flex,
    .align-items-center,
    .flex-wrap;
}

.tick {
    @extend .d-flex,
    .align-items-center,
    .position-relative;
    cursor: pointer;
    padding-left: $tick-size + 8px;

    &:before,
    &:after {
        content: '';
        @extend .position-absolute,
        .rounded-circle;
    }

    &:before {
        left: 0;
        top: 1px;
        width: $tick-size;
        height: $tick-size;
        border: 1px solid $tick-color;
    }

    &:after {
        left: 2px;
        top: 3px;
        width: $tick-size - 4px;
        height: $tick-size - 4px;
        background-color: $tick-color;
    }

    &[aria-expanded="false"] {
        &:after {
            @extend .invisible;
        }
    }

    &+.tick {
        @extend .ml-5;
    }
}