/* PRODUCT GALLERY */


$product-gallery-primary-color: $silver;

.product-gallery {
    @extend .overflow-hidden,
    .mb-2;
    background-color: $product-gallery-primary-color;
    border-radius: $base-radius;
}

.product-gallery-thumbs-holder {
    @extend .flex-fill;
    min-width: 0;
}

.product-gallery-thumbs {}

.product-gallery__img {
    @extend .img-fluid,
    .d-block,
    .mx-auto;
}