/* AVATAR */

.avatar-holder {
	text-align: center;
}
.avatar__box {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	border: 2px solid $white;
	position: relative;
	box-shadow: 0px 2px 2px 1px rgba($black, .15);
	margin: 0 auto 10px auto;
	background: $white;
}
.avatar__img {
	border-radius: 50%;
	width: 100%;
}
.avatar__icon {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: 2px solid $white;
	position: absolute;
	right: -5px;
	bottom: 5px;
	background: $white;
}
.avatar__name {
	color: $text-danger;
	margin-bottom: 5px;
	&.avatar__name-white {
		color: $white;
	}
}
.avatar__role {
	color: $dove-gray;
	font-family: $font-base;
	font-size: 16px;
	&.avatar__role-mutted {
		color: #dbdbdb;
	}
}
.avatar__name, .avatar__role {
	line-height: 115%;
}