/* CARD */

.card__header {
	margin-bottom: 20px;
	text-align: center;
	font-size: 22px;
	@include respond-to(xs-min) {
		min-height: 62px;
	}
	@include respond-to(sm) {
		font-size: 18px;
	}
}

.card__body {
	margin-bottom: 20px;
	position: relative;
}
.card__img {
	@extend .full-width, .img-shadow;
}

.card__footer {
	font-size: 16px;
	color: #888888;
	p {
		margin-bottom: 10px;
	}
}
.card__domains {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__domains-item {
	color: $text-danger-soft;
	font-size: 20px;
	font-family: $font-base-bold;
}
.card__wins {
	display: block;
	font-size: 15px;
	color: #333333;
}