/* FONTS */
$font-path: '../fonts/';

/* Raleway */
@font-face {
    font-family:'Raleway-Light';
    src: url('#{$font-path}raleway/Raleway-Light_gdi.eot');
    src: url('#{$font-path}raleway/Raleway-Light_gdi.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}raleway/Raleway-Light_gdi.woff') format('woff'),
        url('#{$font-path}raleway/Raleway-Light_gdi.ttf') format('truetype'),
        url('#{$font-path}raleway/Raleway-Light_gdi.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('#{$font-path}raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('#{$font-path}raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('#{$font-path}raleway/Raleway-Heavy.woff2') format('woff2'),
     url('#{$font-path}raleway/Raleway-Heavy.woff') format('woff'),
     url('#{$font-path}raleway/Raleway-Heavy.ttf') format('ttf');
}

/* Volkhov */
@font-face {
    font-family:'Volkhov-Italic';
    src: url('#{$font-path}volkhov/Volkhov-Italic_gdi.eot');
    src: url('#{$font-path}volkhov/Volkhov-Italic_gdi.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}volkhov/Volkhov-Italic_gdi.woff') format('woff'),
        url('#{$font-path}volkhov/Volkhov-Italic_gdi.ttf') format('truetype'),
        url('#{$font-path}volkhov/Volkhov-Italic_gdi.svg#Volkhov-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}
@font-face {
    font-family: 'volkhovbold_italic';
    src: url('#{$font-path}volkhov/volkhov-bolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}volkhov/volkhov-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Fontello */
@font-face {
    font-family: 'fontello';
    src: url('#{$font-path}fontello/fontello.eot?84459190');
    src: url('#{$font-path}fontello/fontello.eot?84459190#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?84459190') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?84459190') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?84459190') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?84459190#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="neomam-icon-"]:before, [class*=" neomam-icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.neomam-icon-menu:before { content: '\e800'; } /* '' */
.neomam-icon-twitter:before { content: '\e801'; } /* '' */
.neomam-icon-linkedin:before { content: '\e802'; } /* '' */
.neomam-icon-mail-alt:before { content: '\e803'; } /* '' */
.neomam-icon-rss:before { content: '\e804'; } /* '' */
.neomam-icon-quote-left:before { content: '\e805'; } /* '' */
.neomam-icon-quote-right:before { content: '\e806'; } /* '' */
.neomam-icon-mouse:before { content: '\e807'; } /* '' */
.neomam-icon-ok:before { content: '\e808'; } /* '' */
.neomam-icon-cancel:before { content: '\e809'; } /* '' */
.neomam-icon-verified:before { content: '\e80a'; } /* '' */
.neomam-icon-down-big:before { content: '\e80b'; } /* '' */
.neomam-icon-left-big:before { content: '\e80c'; } /* '' */
.neomam-icon-right-big:before { content: '\e80d'; } /* '' */
.neomam-icon-up-big:before { content: '\e80e'; } /* '' */
.neomam-icon-megaphone:before { content: '\e80f'; } /* '' */
.neomam-icon-ic_library_books_black:before { content: '\e810'; } /* '' */
.neomam-icon-ic_visibility_black:before { content: '\e811'; } /* '' */
.neomam-icon-down-open-1:before { content: '\e812'; } /* '' */
.neomam-icon-down-open:before { content: '\e813'; } /* '' */
.neomam-icon-left-open:before { content: '\e814'; } /* '' */
.neomam-icon-right-open:before { content: '\e815'; } /* '' */
.neomam-icon-up-open:before { content: '\e816'; } /* '' */
.neomam-icon-left-open-1:before { content: '\e817'; } /* '' */
.neomam-icon-right-open-1:before { content: '\e818'; } /* '' */
.neomam-icon-up-open-1:before { content: '\e819'; } /* '' */
.neomam-icon-help:before { content: '\e81a'; } /* '' */
.neomam-icon-trending_up:before { content: '\e81b'; } /* '' */
.neomam-icon-playlist_add_check:before { content: '\e81c'; } /* '' */
