/* Form variables */
$placeholder-color: $silver-chalise;
$placeholder-font-size: 12px;
$placeholder-opacity: 0;
$placeholder-font-style: bold;
$field-height: 43px;



/* FORMS */
.form-control {
	-webkit-appearance:none;
	box-shadow: none;
	border-radius: 0;
	height: $field-height;
	font-size: 14px;
	@include custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-weight: $placeholder-font-style);
	&:focus {
		border-color: $apple-blossom;
		@include custom-placeholder-opacity($opacity: $placeholder-opacity);
		box-shadow: inset 0 1px 1px rgba($apple-blossom, 0.075), 0 0 8px rgba($apple-blossom, 0.6);
	}
	&.form-control-transparent {
		border-radius: 0;
	}
}
.form-control-transparent {
	background: transparent;
	border: none;
	border-bottom: 1px solid #555555;
	@include custom-placeholder($color: #555555, $font-size: 20px, $font-weight: $placeholder-font-style);
	@include placeholder-font-family($font-family: $font-base-light);
	&:focus {
		border: 1px solid $apple-blossom;
	}
	@include respond-to(xs) {
		@include custom-placeholder($color: #555555, $font-size: 16px, $font-weight: $placeholder-font-style);
	}
}
textarea {
	&.form-control-transparent {
		border: 1px solid #555555;
	}
}

.form-group-lg {
	margin-bottom: 40px;
	@include respond-to(xs) {
		margin-bottom: 20px;
	}
}

.form-control-feedback {
	height: $field-height;
	line-height: $field-height;
}

.required-field-icon {
	font-size: 50px;
	line-height: 68px;
	color: $apple-blossom;
}

textarea {
	resize: none;
	min-height: 120px;
}



.contact-form-holder {
	padding: 100px 50px;
	@include respond-to(xs) {
		padding: 75px 15px;
	}
}
