/* LIST */

.list-social {
	@extend .list-unstyled;
	>li {
		display: inline-block;
		font-size: 20px;
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.list {
	@extend .list-unstyled;
}

.list-check-white {
	.list-check__item {
		color: $white;
		&:before {
			color: $white;
		}
	}
	&.list-check-gray-soft-xs {
		@include respond-to(xs) {
			.list-check__item {
				color: $mine-shaft;
				&:before {
					color: $mine-shaft;
				}
			}
		}
	}
}
.list-check-primary {
	.list-check__item {
		&:before {
			color: $text-primary-soft;
		}
	}
}
.list-check-danger {
	.list-check__item {
		color: $white;
		&:before {
			color: $text-danger-soft;
		}
	}
}
.list-check-shorter {
	.list-check__item {
		padding-left: 35px;
	}
}
.list-check__item {
	position: relative;
	font-size: 17px;
	font-family: $font-base-bold;
	color: $text-mutted-soft;
	padding-left: 55px;
	@include respond-to(xs) {
		padding-left: 35px;
	}
	&:not(:last-child) {
		margin-bottom: 25px;
	}
	&:before {
		font-family: $font-icon;
		@extend .neomam-icon-ok;
		color: $text-success;
		position: absolute;
		left: 0;
		top: 0
	}
}
.list-check__item-white {
	color: $white;
}

.list-icon-block__item {
	display: flex;
	align-items: center;
	color: $text-danger-soft;
	font-size: 28px;
	font-family: $font-base-bold;
	@include respond-to(sm) {
		font-size: 22px;
	}
	@include respond-to(xs) {
		font-size: 18px;
	}
	&+.list-icon-block__item {
		margin-top: 30px;
	}
}
.list-icon-block__icon {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	margin-right: 30px;
	font-size: 30px;
	color: $text-danger-soft;
	box-shadow: 3px 6px 11px 3px rgba($black, .1);
	border-radius: 50%;
	@include respond-to(xs) {
		width: 50px;
		height: 50px;
		font-size: 24px;
	}
}
