/* MEDIA */

.media-about {
	.media-left {
		padding-right: 30px;
		@include respond-to(xs) {
			padding-right: 10px;
		}
	}
	.media-object {
		width: 170px;
		margin-bottom: 10px;
		@include respond-to(xs) {
			width: 100px;
		}
	}
}

.media-left {
	padding-right: 15px;
}

