/* MIXINS */
// Different devices resolutions
@mixin respond-to($media) {
    @if $media == xs-small {
        @media only screen and (max-width: 450px) { @content; }
    }
    @if $media == xs {
        @media only screen and (max-width: $screen-xs-max) { @content; }
    }
    @if $media == xs-min {
        @media only screen and (min-width: $screen-xs-max) { @content; }
    }
    @else if $media == sm {
        @media only screen and (max-width: $screen-sm-max) { @content; }
    }
    @else if $media == sm-min {
        @media only screen and (min-width: $screen-sm-max) { @content; }
    }
    @else if $media == md {
        @media only screen and (max-width: $screen-md-max) { @content; }
    }
    @else if $media == lg {
        @media only screen and (min-width: $screen-lg-min) { @content; }
    }
}

// Placeholder text
@mixin custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-weight: $placeholder-font-style) {
    &:-moz-placeholder {
        color: $color;
        font-size: $font-size;
        font-weight: $placeholder-font-style;
    }
    &::-moz-placeholder {
        color: $color;
        font-size: $font-size;
        font-weight: $placeholder-font-style;
    }
    &:-ms-input-placeholder {
        color: $color;
        font-size: $font-size;
        font-weight: $placeholder-font-style;
    }
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $font-size;
        font-weight: $placeholder-font-style;
    }
}
@mixin placeholder-font-family($font-family: $placeholder-font-family) {
    &:-moz-placeholder {
        font-family: $font-family;
    }
    &::-moz-placeholder {
        font-family: $font-family;
    }
    &:-ms-input-placeholder {
        font-family: $font-family;
    }
    &::-webkit-input-placeholder {
        font-family: $font-family;
    }
}

//Placeholder opacity
@mixin custom-placeholder-opacity($opacity: $placeholder-opacity) {
    &:-moz-placeholder {
        opacity: $opacity;
    }
    &::-moz-placeholder {
        opacity: $opacity;
    }
    &:-ms-input-placeholder {
        opacity: $opacity;
    }
    &::-webkit-input-placeholder {
        opacity: $opacity;
    }
}