/* PANEL USER */

.panel-user {
	text-align: center;
	font-size: 18px;
	border-radius: 10px;
	box-shadow: 0px 0px 25px 0px rgba($black, .25);
	@include respond-to(xs) {
		font-size: 16px;
	}
}
.panel-user-has-avatar {
	margin-top: 140px;
	@include respond-to(xs) {
		margin-top: 0;
	}
}
.panel-user-shadow-lg {
	box-shadow: 0px 0px 15px 0px rgba(#000000, .6);
}
.panel-user-dark {
	color: #cccccc;
}

.panel-user__body {
	padding: 80px 30px 30px 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	@include respond-to(xs) {
		padding: 25px 15px;
	}
	&:before, &:after {
		content: '';
		display: block;
		width: 140px;
		height: 35px;
		position: absolute;
		background: $text-danger-soft;
		@include respond-to(xs) {
			content: none;
		}
	}
	&:before {
		top: -12px;
		right: -50px;
		@include rotate(45deg);
	}
	&:after {
		bottom: -12px;
		left: -50px;
		@include rotate(45deg);
	}
}
.panel-user__body-np {
	padding: 0;
}
.panel-user__text {
	font-size: 20px;
	font-family: $font-base-light;
	font-style: italic;
	@include respond-to(xs) {
		font-size: 18px;
	}
}
.panel-user__text--regular {
	font-family: $font-base;
	font-style: normal;
}
.panel-user__name {
	margin-bottom: 0px;
	color: $text-danger-soft;
	font-family: $font-base-bold;
}

.panel-user__avatar {
	width: 104px;
	height: 104px;
	border-radius: 50%;
	margin: 0 auto 0px auto;
	border: 2px solid $text-danger-soft;
	position: relative;
	@include respond-to(xs-min) {
		transform: translateY(-50%);
		top: 50%;
		margin-bottom: -52px;
	}
	@include respond-to(xs) {
		margin-top: 20px;
	}
}

.panel-user__avatar-holder {
	height: 0;
	@include respond-to(xs) {
		height: 100%;
	}
}

.panel-user__body-img {
	@extend .img-responsive;
}
