/* RESET STYLES */

* {
	&:hover, &:focus, &:active {
		outline: none !important;
	}
}

a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
	outline-offset: 0;
}

ol, ul {
	margin-bottom: 20px;
	padding-left: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

.push-md-down {
	@include respond-to(md) {
  		margin-bottom: 30px;
	}
}
.push-sm-down {
	@include respond-to(sm) {
  		margin-bottom: 30px;
	}
}
.push-xs-down {
	@include respond-to(xs) {
  		margin-bottom: 30px;
	}
}
.mobile-text-center {
	@include respond-to(xs) {
  		text-align: center;
	}
}
.mobile-text-left {
	@include respond-to(xs) {
  		text-align: left;
	}
}
.relative {
	position: relative;
	z-index: 10;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.full-width {
	width: 100%;
	display: block;
}

.nagative-top {
	position: relative;
	@include translate(0, -200px);
	@include respond-to(sm) {
		@include translate(0, -160px);
	}
	@include respond-to(xs) {
		@include translate(0, 0px);
	}
}
.img-nagative-bottom {
	position: relative;
	@include translate(0, 90px);
	@include respond-to(md) {
		@include translate(0, 189px);
	}
	@include respond-to(sm) {
		@include translate(0, 0px);
	}
}

.mt10 {
	margin-top: 10px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb-lg {
	margin-bottom: 40px;
	@include respond-to(xs) {
		margin-bottom: 20px;
	}
}
.mb-xl {
	margin-bottom: 90px;
	@include respond-to(sm) {
		margin-bottom: 60px;
	}
	@include respond-to(xs) {
		margin-bottom: 30px;
	}
}
.mb-xxl {
	margin-bottom: 120px;
	@include respond-to(sm) {
		margin-bottom: 80px;
	}
	@include respond-to(xs) {
		margin-bottom: 30px;
	}
}

.img-shadow {
	box-shadow: 0px 0px 15px 0px rgba($dove-gray, .5);
}
.img-shadow-black {
	box-shadow: 0px 0px 15px 0px rgba(#000000, .6);
}
.img-sm {
	max-width: 500px;
	@include respond-to(xs) {
		max-width: 100%;
	}
}

.divider {
	height: 20px;
}
.divider-sm {
	height: 40px;
}
.divider-md {
	height: 60px;
}
.divider-lg {
	height: 75px;
}
.divider-huge {
	height: 90px;
}
.divider-xl {
	height: 150px;
}

.z-index-lg {
	position: relative;
	z-index: 20;
}

#contact-map {
	//position: absolute;
	//top:0;
	//left:0;
	//width: 100%;
	//height:100%;
	@include respond-to(sm) {
		position: static;
	}
	img	{
		width: 100%;
		height: 100%;
	}
}

.content-item {
	margin-bottom: 50px;
	@include respond-to(sm) {
		margin-bottom: 35px;
	}
}

.floatet-xs-icon {
	position: absolute;
	bottom: -40px;
	right: -175px;
	z-index: -1;
	@media (max-width: 1300px) {
		right: -120px;
	}
	@include respond-to(md) {
		right: 0;
		bottom: -15px;
	}
	@include respond-to(xs) {
		display: none;
	}
}

.column-holder {
	padding: 85px;
	@include respond-to(md) {
		padding: 60px 40px;
	}
	@include respond-to(sm) {
		padding: 30px 25px;
	}
}
.content-item {
	color: #484848;
	&:not(:last-child) {
		margin-bottom: 60px;
	}
}

.break-line {
	display: block;
	height: 2px;
	width: 100%;
	max-width: 70px;
	background: $text-danger-soft;
	margin-top: 25px;
	margin-bottom: 25px;
}
.mb5 {
	margin-bottom: 5px;
}

.content-logo {
	@extend .img-responsive;
	max-width: 400px;
}


.hr--lg {
	margin-top: 80px;
	margin-bottom: 80px;
	border-color: $silver-thin;
	@include respond-to(sm) {
		margin-top: 55px;
		margin-bottom: 55px;
	}
	@include respond-to(xs) {
		margin-top: 35px;
		margin-bottom: 35px;
	}
}

.has-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
