/* VARIABLES */

/*************************
	Fonts variable
*************************/
$font-base: 'ralewayregular';
$font-base-light: 'Raleway-Light';
$font-base-bold: 'ralewaybold';
$font-base-heavy: 'Raleway-Heavy';
$font-secondary-italic: 'Volkhov-Italic';
$font-secondary-bold: 'volkhovbold_italic';

$font-icon: 'fontello';
/*************************
	Body variable
*************************/
$body-color: $dove-gray;

$main-text-color: $body-color;
$body-main-font: $font-base;
$body-font-size: 16px;
$body-font-size-mobile: 14px;

/*************************
	Links color variable
*************************/
$link-color: $text-danger;
