/* BOX */

.box {
    padding: 1rem;

    @include media-breakpoint-up(lg) {
        padding: 3rem 6rem;
    }

    &--card {
        @extend .bg-white;
        border-radius: 10px;
        box-shadow: 4px 4px 15px 0px rgba(46, 44, 165, 0.25);
    }
}