/* PRODUCTS */

.products {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.product {
    @extend .d-flex,
    .flex-column,
    .text-center;
    background: #e7eef4;
    background: linear-gradient(180deg, #ffffff),
        #e7eef4;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0px rgba(46, 44, 165, 0.25);
    @include transition($base-animation);
    padding-bottom: 50px;

    &:hover {
        @include media-breakpoint-up(lg) {
            transform: scale(1.1);
        }
    }

    &--best {
        .product__header {
            @extend .text-white;
            background-image: url('../img/temp/Bg-modal1.png');
            border-radius: 10px;
        }
    }
}

.product__header {
    @extend .text-uppercase,
    .text-center,
    .font-bold,
    .h5,
    .has-bg;
    padding: 21.5px 0;
    margin-bottom: 48px;
}

.product__img {
    max-height: 227px;
}

.product__body {
    @extend .px-3;
}

.product__cta {
    @extend .d-block,
    .mx-auto;
    max-width: 220px;
}