/* HEADER */

$header-bg: $white;
$header-height: 62px;
$header-box-shadow: 0 4px 2px -2px rgba($black, .1);

.header {
  @include transition(500ms);
  @include media-breakpoint-down(md) {
    background: $header-bg;
    min-height: $header-height;
    box-shadow: $header-box-shadow;
  }
}
.header--animation {
  @include media-breakpoint-up(lg) {
    box-shadow: $header-box-shadow;
    background: rgba($header-bg, .95);
  }
  .navbar {
    @include media-breakpoint-up(lg) {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
}
