/* Fonts icons */

//Icomoon
@font-face {
    font-family: 'icomoon';
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc');
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon/icomoon.ttf?raxetc') format('truetype'),
    url('#{$font-path}icomoon/icomoon.woff?raxetc') format('woff'),
    url('#{$font-path}icomoon/icomoon.svg?raxetc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before {
    content: "\e900";
}

.icon-web-design:before {
    content: "\e901";
}

.icon-trending-up:before {
    content: "\e902";
}

.icon-star-empty:before {
    content: "\e903";
}

.icon-star-fill:before {
    content: "\e904";
}

.icon-router:before {
    content: "\e905";
}

.icon-quote:before {
    content: "\e906";
}

.icon-money-withdraw:before {
    content: "\e907";
}

.icon-menu:before {
    content: "\e908";
}

.icon-mail:before {
    content: "\e909";
}

.icon-hand:before {
    content: "\e90a";
}

.icon-flash:before {
    content: "\e90b";
}

.icon-fast-time:before {
    content: "\e90c";
}

.icon-chevron-right:before {
    content: "\e90d";
}

.icon-chevron-down:before {
    content: "\e910";
}

.icon-check-rounded:before {
    content: "\e90e";
}

.icon-call:before {
    content: "\e90f";
}