<footer class="footer">
    <div class="container">
        <a href="#" class="logo">
            <img src="img/elements/logo.jpg" alt="" class="w-100">
        </a>

        <nav class="nav justify-content-center mb-4">
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#">Privacy Policy</a>
            <a class="nav-link" href="#">Cookies Policy</a>
            <a class="nav-link" href="#">Terms of Use</a>
        </nav>

        <p class="text-uppercase">THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS<br class="d-none d-xl-inline-block" />
            ARTICLE, BLOG, OR CONSUMER PROTECTION
            UPDATE</p>
        <p class="mb-5">Trademarks utilized on our website belong to their respective owners and no implied or expressed
            endorsement
            of our website or services is intended. Through in-depth research and experienced editors we provide
            feedback about products and services. We are independently owned, and opinions expressed here are our own.
            This website is an independent professional comparison and review site supported by referral fees from the
            sites and products featured.</p>
        <p>©2020 GrowthMax. All Rights Reserved.</p>
    </div>
</footer>