/* FORMS */
$field-border-color: $silver;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-color: $field-border-color;
}

.form-group {
	margin-bottom: 25px;
}

.input-group-text {
	@extend .bg-transparent;
	border-color: $field-border-color;
}

select.form-control {
	padding-right: 40px;
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: right 10px center;
	background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9Ijc2OCIgaGVpZ2h0PSI3NjgiIHZpZXdCb3g9IjAgMCA3NjggNzY4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZmlsbD0iI2UxZTVlOSIgZD0iTTE2OS4zNzYgMzEwLjYyNGwxOTIgMTkyYzEyLjUxMiAxMi41MTIgMzIuNzY4IDEyLjUxMiA0NS4yNDggMGwxOTItMTkyYzEyLjUxMi0xMi41MTIgMTIuNTEyLTMyLjc2OCAwLTQ1LjI0OHMtMzIuNzY4LTEyLjUxMi00NS4yNDggMGwtMTY5LjM3NiAxNjkuMzc2LTE2OS4zNzYtMTY5LjM3NmMtMTIuNTEyLTEyLjUxMi0zMi43NjgtMTIuNTEyLTQ1LjI0OCAwcy0xMi41MTIgMzIuNzY4IDAgNDUuMjQ4eiI+PC9wYXRoPgo8L3N2Zz4K");
}