/* SOCIAL BOX */
.box {
  @extend .flex-shrink-0, .d-flex, .flex-column;
  margin-bottom: 26px;
}

.box__body {
  @extend .d-flex, .align-items-center, .flex-shrink-0;
  margin-bottom: 5px;

  .irs-max,
  .irs-min {
    @extend .d-block, .bg-transparent, .text-muted, .font-base-bold;
    font-size: 12px;
  }

  .irs-handle {
    &.single {
      width: 16px;
      height: 16px;
      top: 21px;
    }
  }

  .irs--flat .irs-single {
    top: -3px;
    padding: 2px 6px;
    font-size: 11px;
  }

  .irs-bar.irs-bar--single,
  .irs-line {
    height: 8px;
  }
}

.box__logo {
  width: 60px;
  @extend .flex-shrink-0, .mr-3;
}

.box__footer {
  @extend .font-base-semibold;
  font-size: 17px;

  a {
    text-decoration: underline;
  }
}