/* TABS */
.tabs {
  @extend .d-flex, .align-items-center;
  margin-bottom: 50px;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
  }

  &--centered {
    @extend .justify-content-center;
  }
}

.tab {
  font-size: 20px;
  border: 1px solid $silver;
  color: $muted;
  padding: 10px 20px;
  @include media-breakpoint-up(sm) {
    padding: 24px 60px;
  }

  &:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &.active {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}