/* WIZARD NAV */
$wizard-counter-size: 50px;

.wizard-nav {
  @extend .list-unstyled;
  counter-reset: wizard-counter;
  @include media-breakpoint-up(lg) {
    max-width: 340px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% - (#{$wizard-counter-size} / 2)));
  }
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: space-between;
  }
}

.wizard-nav__item {
  @extend .position-relative;
  counter-increment: wizard-counter;
  @include media-breakpoint-up(lg) {
    padding-left: 70px;
  }

  &:before {
    content: counter(wizard-counter);
    @extend .rounded-circle, .bg-white, .d-flex, .align-items-center, .justify-content-center, .font-secondary-medium;
    font-size: 20px;
    width: $wizard-counter-size;
    height: $wizard-counter-size;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    @include media-breakpoint-up(lg) {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &+.wizard-nav__item {
    @include media-breakpoint-up(lg) {
      margin-top: 35px;
    }
  }

  &.active {
    &:before {
      @extend .bg-primary, .text-white;
    }

    .wizard-nav__heading,
    .wizard-nav__text {
      opacity: 1;
    }
  }
}

.wizard-nav__heading {
  @extend .font-secondary-regular, .align-items-center, .mb-2, .d-none, .d-lg-flex;
  font-size: 20px;
}

.wizard-nav__heading,
.wizard-nav__text {
  @include media-breakpoint-up(lg) {
    color: $white;
    opacity: 0.5;
  }
}

.wizard-nav__text {
  @extend .text-sky-soft, .d-none, .d-lg-block;
}

.wizard-nav__logo {
  @extend .mr-1;
  width: 20px;
}