/* FOOTER */

.footer {
    @extend .bg-blue,
    .text-white,
    .flex-shrink-0,
    .mt-auto;
    padding: 40px 0;

    @include media-breakpoint-up(md) {
        padding: 40px 0 20px 0;
    }
}

.footer__top {
    @extend .d-flex,
    .align-items-start,
    .align-items-lg-center,
    .flex-column,
    .flex-lg-row,
    .justify-content-lg-between;
    padding-bottom: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray;

    @include media-breakpoint-up(md) {
        margin-bottom: 20px;
    }
}

.footer-logo {
    width: 140px;
    @extend .d-block,
    .flex-shrink-0,
    .mb-md-0;
    margin-bottom: 30px;
}

.footer-nav {
    @extend .d-flex,
    .flex-wrap;

    &--lg {
        @extend .flex-column,
        .flex-lg-row,
        .align-items-lg-center;

        .footer-link {
            padding-top: 8px;
            padding-bottom: 8px;
            letter-spacing: 0.34px;
            word-break: normal;

            @include media-breakpoint-up(lg) {
                padding-left: 21px;
                padding-right: 21px;
            }
        }
    }
}

.footer-link {
    @extend .text-white;
    letter-spacing: 0.28px;
    word-break: break-all;
}

.footer__bottom {
    @extend .d-flex,
    .flex-column,
    .flex-lg-row,
    .align-items-start,
    .align-items-lg-center,
    .justify-content-lg-between,
    .fs-14;
}

.footer-link-divider {
    @extend .d-inline-block,
    .mx-2;

    @include media-breakpoint-up(lg) {
        opacity: 0;
    }
}