/* NAVBAR */

.navbar {
    border-bottom: 2px solid $yellow;
    background: rgba($white, .35);
    backdrop-filter: blur(12.7px);
    z-index: 100;

    @include media-breakpoint-up(lg) {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .logo-white, .menu-white {
        display: none !important;
    }

    &.navbar--is-opened {
        @include media-breakpoint-down(lg) { 
            backdrop-filter: blur(0);
            background-color: $blue;
            border-bottom-color: $blue;
            height: 100vh;
            overflow-y: auto;
            align-items: flex-start;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-size: 260px;
                background-position: bottom right;
                background-image: url('../img/temp/world-motif.png');
                opacity: .1;
            }
            .logo-white, .menu-white {
                display: block !important;
            }
            .logo-dark, .menu-dark {
                display: none !important;
            }
            .navbar-nav {
                padding-top: 40px;
            }
        }
    }
}

.navbar-brand {
    width: 105px;

    @include media-breakpoint-up(lg) { 
        width: 140px;
    }
}

.navbar-collapse {
    &.collapsing {
        transition: none;
        display: none;
    }
}

.navbar-nav {
    >.nav-item {
        >.nav-link {
            @extend .text-blue;
            letter-spacing: 0.34px;

            &:hover,
            &:focus,
            &:active {
                @extend .text-sky;
            }

            &.active {
                @extend .font-base-bold;
            }

            @include media-breakpoint-up(lg) {
                padding-left: 24px;
                padding-right: 24px;
            }
            @include media-breakpoint-down(lg) { 
                color: $white !important;
                font-family: $font-base-bold !important;
                font-size: 26px !important;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        >.navbar-btn {
            @include media-breakpoint-up(lg) {
                margin-left: 24px;
            }
        }
    }
}

.navbar-toggler {
    @extend .shadow-none,
    .p-0,
    .rounded-0;
    width: 30px;
    height: 21px;
}