<footer class="bg-white py-8 md:py-14 md:text-base">
  <div class="container space-y-6 md:space-y-10">
    <div class="flex flex-col items-center gap-6 lg:flex-row lg:items-center lg:justify-between">
      <a href="#" class="shrink-0 w-[200px] md:w-[260px]">
        <img src="./assets/images/logo.svg" alt="{{siteName}}" class="w-full" />
      </a>

      <nav class="flex flex-col items-center gap-3 md:flex-row md:gap-8">
        <a href="#" class="underline font-bold text-base text-cyan transition-colors hover:text-black">Privacy
          Policy</a>
        <a href="#" class="underline font-bold text-base text-cyan transition-colors hover:text-black">Terms Of Use</a>
        <a href="#" class="underline font-bold text-base text-cyan transition-colors hover:text-black">Advertiser
          Disclosure</a>
        <a href="#" class="underline font-bold text-base text-cyan transition-colors hover:text-black">About Us</a>
        <a href="#" class="underline font-bold text-base text-cyan transition-colors hover:text-black">Contact Us</a>
      </nav>
    </div>

    <div class="text-center space-y-6 md:space-y-10">
      <p>This Site may earn revenue from Amazon and other links based on qualifying purchases, as more fully
        <a href="#" class="underline font-bold text-base text-cyan transition-colors hover:text-black">here</a>.
      </p>
      <p class="text-muted">
        Consumerexpertreview.com © 2021-2026 All Rights Reserved.</p>
    </div>
  </div>
</footer>