/* BOX */

.box {
    @extend .bg-white,
    .p-3,
    .px-md-4,
    .text-center;
    border-radius: 0.7rem;
}

.box__avatar {
    @extend .d-block,
    .mx-auto,
    .rounded-circle,
    .w-100,
    .mb-2;
    max-width: 120px;
}

.box__icon {
    @extend .flex-shrink-0,
    .me-2;
    width: 25px;
}

.box__signature {
    @extend .font-secondary;
    font-size: 30px;
}