/* BUTTONS */

.btn {
    border-radius: 0.5rem;

    &-primary {
        @extend .text-primary;
        background: $gray300;

        &:hover,
        &:focus {
            @extend .text-primary;
            background: darken($gray300, 10%);
        }
    }
}

.btn-cta {
    @extend .text-black,
    .text-center,
    .w-100,
    .font-base-bold;
    font-size: 1.7rem;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.3rem 4.5rem;
    border-radius: 100px;
    margin: 1rem auto 1.5rem;
    border-bottom: 0.3rem solid #d8aa17;
    box-shadow: 0 4px 0 0 rgba($black, .2);
    animation: ctaBtnAnimation 2.5s infinite ease-in-out;
    background: #fcc819;

    @include media-breakpoint-down(md) {
        font-size: 4.5vw;
        padding: 20px 15px 15px 15px;
    }

    @include media-breakpoint-up(md) {
        max-width: calc(100% - 60px);
    }

    @include media-breakpoint-up(lg) {
        font-size: 3.3rem;
        max-width: calc(100% - 150px);
    }

    span {
        @extend .me-2;
        display: inline-block;
        line-height: 100%;
        vertical-align: bottom;
        font-size: 3rem;

        @include media-breakpoint-down(md) {
            font-size: 6vw;
        }

        @include media-breakpoint-up(lg) {
            font-size: 4rem;
        }
    }

    img {
        @extend .ms-3;
        display: inline-block;
        vertical-align: middle;
        width: 15px;

        @include media-breakpoint-up(lg) {
            width: 25px;
        }

        @include media-breakpoint-up(xl) {
            width: 30px;
        }
    }
}

@keyframes ctaBtnAnimation {

    0%,
    to {
        transform: scale(1)
    }

    50% {
        transform: scale(.9)
    }
}