/* FAQ */

.faqs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.faq {
    @extend .bg-white;
    border-radius: 10px;
}

.faq-toggle {
    @extend .py-3,
    .px-3,
    .px-md-4,
    .d-block;
    font-size: 16px;

    @include media-breakpoint-up(md) {
        font-size: 22px;
    }

    &.active {
        .faq-toggle-inner {
            &:before {
                transform: rotate(-180deg)
            }
        }

        .faq-body {
            @extend .d-block;
        }
    }
}

.faq-toggle-inner {
    @extend .position-relative,
    .d-flex;

    &:before {
        @extend .d-inline-block,
        .flex-shrink-0,
        .me-3,
        .me-md-4;
        content: "";
        margin-top: 6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 7px 0 7px;
        border-color: $primary transparent transparent transparent;

        @include media-breakpoint-up(md) {
            margin-top: 12px;
        }
    }
}

.faq-body {
    @extend .text-black,
    .mt-2;
    display: none;
    font-size: 14px;

    @include media-breakpoint-up(md) {
        font-size: 19px;
    }

    >p {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}