/* list-references */

.list-references {
    @extend .font-base-bold;
    font-size: .8rem;

    @include media-breakpoint-up(md) {
        font-size: .9rem;
        columns: 2;
        gap: 80px;
    }

    >li {
        color: #7f7f7f;

        &:not(:last-child) {
            @extend .mb-4;
        }

        a {
            @extend .font-base-regular;
            color: #b0b0b0;
        }
    }
}