/* SECURITY BOX */

.security-box {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center;

    &--secondary {
        .security-box__content {
            color: #666666;

            .icon {
                fill: #666666;
            }
        }
    }
}

.security-box__content {
    @extend .d-flex,
    .align-items-center,
    .flex-shrink-0,
    .font-base-bold,
    .text-start;

    @include media-breakpoint-down(md) {
        font-size: 12px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 10px;
    }

    .icon {
        width: 30px;
        fill: $white;

        @include media-breakpoint-down(md) {
            width: 18px
        }

        @include media-breakpoint-down(sm) {
            width: 15px
        }
    }
}

.security-box__cards {
    @extend .flex-fill;
    max-width: 336px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-auto-rows: 1fr;
    grid-gap: 5px;
}

.security-box__card {
    display: block;
    width: 100%;
}