/* VIDEO */

.video-overlay {
    @extend .position-absolute,
    .w-100,
    .h-100,
    .start-0,
    .top-0,
    .d-none,
    .align-items-center,
    .justify-content-center;
    cursor: pointer;
    pointer-events: none;

    &.video-overlay--is-shown {
        @extend .d-flex;
    }
}

.video-overlay-play {
    width: 52px;
    transform: scale(1);
    animation: btnAnimation 2s infinite ease-out;
}

@keyframes btnAnimation {

    0%,
    to {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }
}

.video-poster {
    @extend .position-absolute,
    .w-100,
    .h-100,
    .start-0,
    .top-0;
    z-index: 300;
    cursor: pointer;
    pointer-events: none;
}