<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a class="footer-logo" href="index.html">
                <img src="img/elements/logo-white.svg" alt="" class="w-100 d-block">
            </a>
            <div class="footer-nav footer-nav--lg">
                <a href="observation-panel.html" class="footer-link">Observation Panel</a>
                <a href="place-intelligence.html" class="footer-link">Place Intelligence</a>
                <a href="audiences.html" class="footer-link">Audiences</a>
                <a class="btn btn-primary footer-nav-btn mt-3 mt-md-0" href="contact.html">Contact Us</a>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="mb-lg-0">©2021 Outlogic | All Rights Reserved.</p>

            <div class="footer-nav">
                <a href="#" class="footer-link">Privacy Policy <span class="footer-link-divider">|</span></a>
                <a href="#" class="footer-link">Do Not Sell My Personal Information <span
                        class="footer-link-divider">|</span></a>
                <a href="#" class="footer-link">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer>