<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="img/elements/logo-dark.svg" alt="" class="w-100 d-block logo-dark">
      <img src="img/elements/logo-white.svg" alt="" class="w-100 d-block logo-white">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="img/elements/menu.svg" alt="" class="w-100 d-block menu-dark">
      <img src="img/elements/menu-white.svg" alt="" class="w-100 d-block menu-white">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="observation-panel.html">Observation Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="place-intelligence.html">Place Intelligence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="audiences.html">Audiences</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="btn btn-primary navbar-btn" href="contact.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>