<footer class="text-sm text-center text-white bg-gray-900 py-14 md:py-20 md:text-base">
  <div class="container xl:max-w-[1070px]">
    <a href="#" class="mx-auto mb-7 block w-[164px] sm:w-[264px] md:mb-8">
      <img src="img/logo-white.svg" alt="logo" class="block w-full" />
    </a>

    <div class="mb-8 space-y-6 md:mb-10 md:space-y-8">
      <p class='opacity-50'>
        MARKETING DISCLOSURE: This website is a market place. As such you should know that the owner has a monetary
        connection
        to the product and services advertised on the site. The owner receives payment whenever a qualified lead is
        referred but
        that is the extent of it.
      </p>
      <p class='opacity-50'>
        ADVERTISING DISCLOSURE: This website and the products & services referred to on the site are advertising
        marketplaces.
        This website is an advertisement and not a news publication. Any photographs of persons used on this site are
        models.
        The owner of this site and of the products and services referred to on this site only provides a service where
        consumers
        can obtain and compare.
      </p>
    </div>
    <div class="flex flex-col justify-center gap-2 md:flex-row md:gap-7">
      <p>© 2024 All Rights Reserved</p>
      <nav class="flex justify-center gap-2 md:gap-7">
        <a href="#" class="text-white transition border-b hover:text-brand-500">Terms</a>
        <a href="#" class="text-white transition border-b hover:text-brand-500">Privacy</a>
        <a href="#" class="text-white transition border-b hover:text-brand-500">Policy</a>
        <a href="#" class="text-white transition border-b hover:text-brand-500">Contact
        </a>
      </nav>
    </div>
  </div>
</footer>