/* BENEFIT */

.benefit {
  text-align: center;
  @extend .px-4, .px-md-0, .px-lg-4;
  color: #b05d2e;
}

.benefit__title {
  font-size: 21px;
  color: #4f301c;
  font-family: $font-bold;
}

.benefit__subtitle {
  font-size:15px;
  font-family: $font-bold;
}
