/* BLOG */

.blog-date {
  color: #96c7c7;
  font-family: $font-bold;
  font-size: 60px;
  line-height: 1;
}

.blog-date__month {
  @extend .d-block;
  font-size: 21px;
}

.blog-controls {
  @extend .d-flex, .align-items-center, .justify-content-center;
  padding: 4px 0;
}

.blog-controls__item {
  text-transform: uppercase;
  font-family: $font-bold;
  line-height: 1;
}

.blog-controls__item--prev {
  color: #b05d2e;
  &:hover, &:focus {
    color: darken(#b05d2e, 10%);
  }
}

.blog-controls__item--next {
  color: #999999;
  border-left: 1px solid #999999;
  margin-left: 18px;
  padding-left: 17px;
  &:hover, &:focus {
    color: darken(#999999, 10%);
  }
}

.blog-list-item {
  &+.blog-list-item {
    margin-top: 80px;
    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }
}
