/* BUTTONS */

.btn {
  border-radius: 0;
  border: 1px solid #c9cac8;
  background: $white;
  color: #af5c2e;
  text-transform: uppercase;
  font-family: $font-bold;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @include media-breakpoint-up(lg) {
    padding: 8px 49px;
  }
  &:hover, &:focus {
    background: darken($white, 5%);
    color: #af5c2e;
    box-shadow: none;
  }
  &.btn-brand {
    @include button-variants($bg: #af5d2e, $color: $white);
  }
  &.btn-file {
    text-align: left;
    min-width: 200px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0px 6px 6px;
      border-color: transparent transparent transparent #af5e2e;
      content: '';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.btn-file-fill {
    text-align: left;
    min-width: 200px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    color: $white;
    background: #af5e2e;
    border-color: #af5e2e;
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0px 6px 6px;
      border-color: transparent transparent transparent $white;
      content: '';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover, &:focus {
      background: darken(#af5e2e, 10%);
      border-color: darken(#af5e2e, 10%);
    }
  }
  &.btn-link {
    color: #c5bebb;
    border-color: transparent;
    background: transparent;
    &:hover, &:focus {
      color: darken(#c5bebb, 10%);
      border-color: transparent;
      background: transparent;
    }
  }
  &.btn-has-shadow {
    box-shadow: 0 0 4px 2px rgba($black, .1);
  }
  &.btn-has-arrow {
    padding-right: 65px;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 27px;
      border-left: 1px solid #c9cac8;
    }
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0px 8px;
      border-color: #4e301c transparent transparent transparent;
      content: '';
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.btn-has-arrow--white {
      &:after {
        border-color: $white transparent transparent transparent;
      }
    }
  }
  &.btn-long {
    @include media-breakpoint-up(lg) {
      min-width: 300px;
    }
  }
}
