/* BUTTONS */

.btn {
  border-radius: 0;
  border: 1px solid #c9cac8;
  background: $white;
  color: #af5c2e;
  text-transform: uppercase;
  font-family: $font-bold;
  padding-left: 20px;
  padding-right: 20px;
  @include media-breakpoint-up(lg) {
    padding: 8px 49px;
  }
  &:hover, &:focus {
    background: darken($white, 5%);
    color: #af5c2e;
    box-shadow: none;
  }
  &.btn-brand {
    @include button-variants($bg: #af5d2e, $color: $white);
  }
  &.btn-file {
    text-align: left;
    min-width: 200px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0px 6px 6px;
      border-color: transparent transparent transparent #af5e2e;
      content: '';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.btn-link {
    color: #c5bebb;
    border-color: transparent;
    background: transparent;
    &:hover, &:focus {
      color: darken(#c5bebb, 10%);
      border-color: transparent;
      background: transparent;
    }
  }
  &.btn-has-shadow {
    box-shadow: 0 0 4px 2px rgba($black, .1);
  }
}
