/* DROPDOWN */


.dropdown-list {
  @extend .list-unstyled;
}

.dropdown-list__item {
  &+.dropdown-list__item {
    @include media-breakpoint-up(lg) {
      border-top: 1px solid $white;
    }
  }
}

.dropdown-list__link {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5px 0;
  font-family: $font-medium;
  @include media-breakpoint-up(lg) {
    color: #4f301c;
    &:hover, &:focus {
      color: #b05d2e;
    }
  }
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}
