/* LIST DOTTED */

.list-dotted {
  @extend .list-unstyled;
  >li {
    position: relative;
    padding-left: 20px;
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      margin-right: 10px;
      background: #4e301c;
      position: absolute;
      left: 0;
      top: 5px;
    }
    &+li {
      margin-top: 10px;
    }
  }
}
