/* LIST SOCIAL */

.list-social {
  @extend .list-unstyled, .d-flex, .justify-content-center, .justify-content-lg-start;
}

.list-social--gray {
  .list-social__link {
    color: $gray-thin;
    &:hover, &:focus {
      color: $gray;
    }
  }
}

.list-social__item {
  &+.list-social__item {
    margin-left: 10px;
  }
}

.list-social__link {
  font-size: 26px;
  color: $white;
  display: inline-block;
  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
  &:hover, &:focus {
    color: $gray-thin;
  }
  &:before {
    @extend .mx-0;
  }
}
