/* CAROUSEL */

.slick-dots {
	bottom: 20px;
	>li {
		width: 10px;
		height: 10px;
		&.slick-active {
			>button {
				background: $sky;
			}
		}
		>button {
			background: $white;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			&:before {
				content: none;
			}
		}
	}
}
