/* CARD */

.card {
  display: block;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
}

.card-item {
  text-align: center;
}
.card-item-header {
  position: relative;
  margin-bottom: 30px;
}
.card-item__subtitle {
  font-size: 14px;
  color: $gray;
  margin-bottom: 10px;
}
.card-item-header__label {
  position: absolute;
  top: 0;
  left: 35px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: $primary;
  color: $white;
  text-align: center;
  font-weight: bold;
}
.card-item-header__label--sky {
  background: $sky;
}
