/* Fonts */



@font-face {
  font-family: 'fzzhengheis-el-gbregular';
  src: url('#{$font-path}chinese-font/fzzxhjw-regular-webfont.woff2') format('woff2'),
       url('#{$font-path}chinese-font/fzzxhjw-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fzzhengheis-db-gbbold';
  src: url('#{$font-path}chinese-font/fzzzhongjw-bold-webfont.woff2') format('woff2'),
       url('#{$font-path}chinese-font/fzzzhongjw-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


//Gilroy
@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gilroy/Gilroy-Light.woff2') format('woff2'),
       url('#{$font-path}gilroy/Gilroy-Light.woff') format('woff'),
       url('#{$font-path}gilroy/Gilroy-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
       url('#{$font-path}gilroy/Gilroy-ExtraBold.woff') format('woff'),
       url('#{$font-path}gilroy/Gilroy-ExtraBold.ttf') format('ttf');
}
