/* LIST */

.list-social__link {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  line-height: 40px;
  color: $white;
  background: $success;
  text-align: center;
  font-size: 18px;
  &:hover {
    color: $white;
    background: $success-thin;
  }
  &:focus {
    color: $white;
    background: $success-soft;
  }
}
