/* VARIABLES */


/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Blue group */
$picton-blue: #00B5E2; //Sky color
$biscay: #002855; //Primary color
/* Gray group */
$alabaster: #f8f8f8;
$mercury: #e1e1e1;
$black-haze: #F7F8F8; //Gray light color
$athens-gray: #F1F1F2; //Gray thin color
$silver-chalise: #b1b1b1; //Gray color
$oxford-blue: #394a58; //Muted color
/* Green group */
$turquoise-blue: #6EE8D0; //Success thin color
$turquoise: #40C1AC; //Success color
$keppel: #32ad95; //Success soft color

/*************************
	Global color variables
*************************/
$white: $white;
$black: $black;
$sky: $picton-blue;
$primary: $biscay;
$gray-light: $black-haze;
$gray-thin: $athens-gray;
$gray: $silver-chalise;
$muted-thin: $mercury;
$muted: $oxford-blue;
$success: $turquoise;
$success-thin: $turquoise-blue;
$success-soft: $keppel;


$base-color: $muted;


/*************************
	Fonts variables
*************************/
$font-base: 'FZZXHJW--GB1-0';
$font-bold: 'FZZZHONGJW--GB1-0';
$font-secondary-light: 'Gilroy-Light';
$font-secondary-bold: 'Gilroy-ExtraBold';

$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $success;
$link-color-hover: $success-soft;


/*************************
	Title variables
*************************/
$title-color: $primary;
$title-font-family: $font-bold;
$title-line-height: 1.3;
