/* VIDEO */

$vjs-big-play-button-size: 80px;

.video-js {
  display: inline-block;
  &:hover {
    .vjs-big-play-button {
      background: $primary;
    }
  }
  .vjs-big-play-button {
    left: 50%;
    top: 50%;
    width: $vjs-big-play-button-size;
    height: $vjs-big-play-button-size;
    border-radius: 50%;
    margin-top: -$vjs-big-play-button-size / 2;
    margin-left: -$vjs-big-play-button-size / 2;
    border: none;
    background: $sky;
    line-height: $vjs-big-play-button-size;
    font-size: 6em;
  }
}
