/* Fonts icons */
//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url("#{$font-path}icomoon/icomoon.eot?v65g5d");
  src: url("#{$font-path}icomoon/icomoon.eot?v65g5d#iefix") format('embedded-opentype'), url("#{$font-path}icomoon/icomoon.ttf?v65g5d") format('truetype'), url("#{$font-path}icomoon/icomoon.woff?v65g5d") format('woff'), url("#{$font-path}icomoon/icomoon.svg?v65g5d#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-reliable-"],
[class*=" icon-reliable-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reliable-building:before {
  content: "\e914";
}

.icon-reliable-angle-down:before {
  content: "\e910";
}

.icon-reliable-angle-left:before {
  content: "\e911";
}

.icon-reliable-angle-right:before {
  content: "\e912";
}

.icon-reliable-angle-up:before {
  content: "\e913";
}

.icon-reliable-menu:before {
  content: "\e90f";
}

.icon-reliable-phone:before {
  content: "\e900";
}

.icon-reliable-pin:before {
  content: "\e901";
}

.icon-reliable-plumbing:before {
  content: "\e902";
}

.icon-reliable-plus:before {
  content: "\e903";
}

.icon-reliable-remodeling:before {
  content: "\e904";
}

.icon-reliable-roof:before {
  content: "\e905";
}

.icon-reliable-window:before {
  content: "\e906";
}

.icon-reliable-more:before {
  content: "\e907";
}

.icon-reliable-minus:before {
  content: "\e908";
}

.icon-reliable-instagram:before {
  content: "\e909";
}

.icon-reliable-linkedin:before {
  content: "\e90a";
}

.icon-reliable-email:before {
  content: "\e90b";
}

.icon-reliable-facebook:before {
  content: "\e90c";
}

.icon-reliable-cog:before {
  content: "\e90d";
}

.icon-reliable-cleaning:before {
  content: "\e90e";
}