/* Fonts */


//Roboto
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Light.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Light.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Regular.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Regular.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Medium.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Medium.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Bold.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Bold.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Black.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Black.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Black.ttf') format('ttf');
}

//Playfair-display
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}playfair-display/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('#{$font-path}playfair-display/PlayfairDisplay-Regular.woff') format('woff'),
       url('#{$font-path}playfair-display/PlayfairDisplay-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}playfair-display/PlayfairDisplay-Bold.woff2') format('woff2'),
       url('#{$font-path}playfair-display/PlayfairDisplay-Bold.woff') format('woff'),
       url('#{$font-path}playfair-display/PlayfairDisplay-Bold.ttf') format('ttf');
}
