/* HAS OVERLAY */

.has-overlay {
  @extend .position-relative;
  z-index: 20;
  &:before {
    content: '';
    @extend .position-absolute, .w-100;
    left: 0;
    top: 0;
    z-index: -1;
    min-height: 100%;
  }
  &--blue {
    &:before {
      background-color: rgba($blue, .9);
    }
  }
}
