/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$sky: #487EFB;
$sky-secondary: rgba(#487EFB, .5);
$silver: #F6F6F6;
$silver-soft: #ABB1C0;
$gray: #EBEFF7;
$muted: #c5d0de;
$muted-soft: #333333;
$primary: #556280;
$blue-thin: #f2f6ff;
$blue: #182B54;
$danger: #DA6E69;
$danger-secondary: #F8E2E1;
$warning: #EFB843;
$success: #79D6A7;
$success-secondary: #E4F7ED;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.text-sky {
	color: $sky !important;
}

.text-sky-secondary {
	color: $sky-secondary !important;
}

.text-silver {
	color: $silver !important;
}

.text-silver-soft {
	color: $silver-soft !important;
}

.text-primary {
	color: $primary !important;
}

.text-gray {
	color: $gray !important;
}

.text-muted {
	color: $muted !important;
}

.text-muted-soft {
	color: $muted-soft !important;
}

.text-blue {
	color: $blue !important;
}

.text-blue-thin {
	color: $blue-thin !important;
}

.text-danger {
	color: $danger !important;
}

.text-danger-secondary {
	color: $danger-secondary !important;
}

.text-warning {
	color: $warning !important;
}

.text-success {
	color: $success !important;
}

.text-success-secondary {
	color: $success-secondary !important;
}

.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-sky {
	background-color: $sky !important;
}

.bg-sky-secondary {
	background-color: $sky-secondary !important;
}

.bg-gray {
	background-color: $gray !important;
}

.bg-muted {
	background-color: $muted !important;
}

.bg-muted-soft {
	background-color: $muted-soft !important;
}

.bg-silver {
	background-color: $silver !important;
}

.bg-silver-soft {
	background-color: $silver-soft !important;
}

.bg-primary {
	background-color: $primary !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-blue-thin {
	background-color: $blue-thin !important;
}

.bg-danger {
	background-color: $danger !important;
}

.bg-danger-secondary {
	background-color: $danger-secondary !important;
}

.bg-warning {
	background-color: $warning !important;
}

.bg-success {
	background-color: $success !important;
}

.bg-success-secondary {
	background-color: $success-secondary !important;
}

/*************************
	Fonts variables
*************************/
$font-regular: 'Roboto-Regular';

.font-regular {
	font-family: $font-regular !important;
}

$font-medium: 'Roboto-Medium';

.font-medium {
	font-family: $font-medium !important;
}

$font-bold: 'Roboto-Bold';

.font-bold {
	font-family: $font-bold !important;
}

$font-black: 'Roboto-Black';

.font-black {
	font-family: $font-black !important;
}

$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $primary;
$base-font: $font-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
$body-bg: $gray;

/*************************
	Links variables
*************************/
$link-color: $sky;

/*************************
	Heading variables
*************************/
$heading-font: $font-bold;
$heading-color: $blue;

/*************************
	Radius variables
*************************/
$radius-base: 6px;

.radius-base {
	border-radius: $radius-base;
}

$radius-xs: 4px;

.radius-xs {
	border-radius: $radius-xs;
}

/*************************
	Gutter variables
*************************/
$base-gutter: 16px;

.mb-base-gutter {
	margin-bottom: $base-gutter;
}

.mr-base-gutter {
	margin-right: $base-gutter;
}

.ml-base-gutter {
	margin-left: $base-gutter;
}

.mt-base-gutter {
	margin-top: $base-gutter;
}