/* FOOTER */

.footer {
    @extend .text-center,
    .fs-14;
    padding: 48px 0;
    background: #7d252a;
    border-top: 1px solid #611d21;
}

.footer-box {
    margin-top: 44px;
    margin-bottom: 16px;
    padding: 24px;
    border: 1px solid hsla(0, 0%, 100%, .3);
    border-radius: 4px;
}

.footer-box__logo-box {
    @extend .mb-4,
    .mx-auto,
    .px-4;
    margin-top: -36px;
    background: #7d252a;
    width: 168px;
}