/* Fonts icons */

//Icomoon
@font-face {
    font-family: 'icomoon';
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc');
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon/icomoon.ttf?raxetc') format('truetype'),
    url('#{$font-path}icomoon/icomoon.woff?raxetc') format('woff'),
    url('#{$font-path}icomoon/icomoon.svg?raxetc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sort-amount-desc:before {
    content: "\e918";
}

.icon-minus:before {
    content: "\e929";
}

.icon-plus:before {
    content: "\e92a";
}

.icon-upload:before {
    content: "\e928";
}

.icon-image:before {
    content: "\e927";
}

.icon-rotate-ccw:before {
    content: "\e925";
}

.icon-rotate-cw:before {
    content: "\e926";
}

.icon-edit-2:before {
    content: "\e923";
}

.icon-trash:before {
    content: "\e924";
}

.icon-edit:before {
    content: "\e921";
}

.icon-user:before {
    content: "\e922";
}

.icon-alert-circle:before {
    content: "\e91c";
}

.icon-alert-triangle:before {
    content: "\e91d";
}

.icon-info:before {
    content: "\e91e";
}

.icon-share:before {
    content: "\e900";
}

.icon-search:before {
    content: "\e902";
}

.icon-play-circle:before {
    content: "\e903";
}

.icon-phone:before {
    content: "\e907";
}

.icon-message-square:before {
    content: "\e908";
}

.icon-location:before {
    content: "\e909";
}

.icon-world:before {
    content: "\e90a";
}

.icon-chevron-right:before {
    content: "\e90b";
}

.icon-chevron-left:before {
    content: "\e91f";
}

.icon-chevron-down:before {
    content: "\e90f";
}

.icon-chevron-up:before {
    content: "\e920";
}

.icon-check:before {
    content: "\e910";
}

.icon-arrow-right:before {
    content: "\e911";
}

.icon-love:before {
    content: "\e917";
}

.icon-check-square:before {
    content: "\e91a";
}

.icon-square:before {
    content: "\e91b";
}

.icon-filter:before {
    content: "\e919";
}

.icon-check-circle:before {
    content: "\e915";
}

.icon-circle:before {
    content: "\e916";
}

.icon-crosshair:before {
    content: "\e914";
}

.icon-twitter:before {
    content: "\e901";
}

.icon-repost:before {
    content: "\e904";
}

.icon-report:before {
    content: "\e905";
}

.icon-quote-left:before {
    content: "\e906";
}

.icon-linkedin-filled:before {
    content: "\e90c";
}

.icon-instagram:before {
    content: "\e90d";
}

.icon-facebook-circle:before {
    content: "\e90e";
}

.icon-approved:before {
    content: "\e912";
}

.icon-close:before {
    content: "\e913";
}