/* Fonts */

//Manrope
@font-face {
    font-family: 'Manrope-Regular';
    src: url('#{$font-path}Manrope/Manrope-Regular.woff2') format('woff2'),
    url('#{$font-path}Manrope/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('#{$font-path}Manrope/Manrope-Medium.woff2') format('woff2'),
    url('#{$font-path}Manrope/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('#{$font-path}Manrope/Manrope-SemiBold.woff2') format('woff2'),
    url('#{$font-path}Manrope/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('#{$font-path}Manrope/Manrope-Bold.woff2') format('woff2'),
    url('#{$font-path}Manrope/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('#{$font-path}Manrope/Manrope-ExtraBold.woff2') format('woff2'),
    url('#{$font-path}Manrope/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

//Bergen Text
@font-face {
    font-family: 'BergenText-Regular';
    src: url('#{$font-path}BergenText/BergenText-Regular.woff2') format('woff2'),
    url('#{$font-path}BergenText/BergenText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BergenText-SemiBold';
    src: url('#{$font-path}BergenText/BergenText-SemiBold.woff2') format('woff2'),
    url('#{$font-path}BergenText/BergenText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BergenText-Bold';
    src: url('#{$font-path}BergenText/BergenText-Bold.woff2') format('woff2'),
    url('#{$font-path}BergenText/BergenText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//BwDarius
@font-face {
    font-family: 'BwDarius-Bold';
    src: url('#{$font-path}BwDarius/BwDarius-Bold.woff2') format('woff2'),
    url('#{$font-path}BwDarius/BwDarius-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//Montserrat
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('#{$font-path}Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('#{$font-path}Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('#{$font-path}Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('#{$font-path}Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('#{$font-path}Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('#{$font-path}Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//Lato
@font-face {
    font-family: 'Lato-Medium';
    src: url('#{$font-path}Lato/Lato-Medium.woff2') format('woff2'),
    url('#{$font-path}Lato/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

//Circular-Std
@font-face {
    font-family: 'Circular-Std-Book';
    src: url('#{$font-path}CircularStd/CircularStd-Book.woff2') format('woff2'),
    url('#{$font-path}CircularStd/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Medium';
    src: url('#{$font-path}CircularStd/CircularStd-Medium.woff2') format('woff2'),
    url('#{$font-path}CircularStd/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Bold';
    src: url('#{$font-path}CircularStd/CircularStd-Bold.woff2') format('woff2'),
    url('#{$font-path}CircularStd/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Black';
    src: url('#{$font-path}CircularStd/CircularStd-Black.woff2') format('woff2'),
    url('#{$font-path}CircularStd/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}