/* FOOTER */

.footer {
    @extend .text-center,
    .text-lg-start,
    .bg-gray;
    padding: 60px 0;

    @include media-breakpoint-up(lg) {
        padding: 50px 0 24px 0;
    }
}

.footer__top {
    @extend .d-flex,
    .flex-column,
    .flex-lg-row,
    .align-items-center,
    .justify-content-lg-between;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 56px;
    }
}

.footer__logo {
    @extend .d-inline-block,
    .flex-shrink-0,
    .me-lg-4,
    .mb-4,
    .mb-lg-0;
    width: 100%;
    max-width: 280px;

    @include media-breakpoint-up(sm) {
        max-width: 220px;
    }

    @include media-breakpoint-up(xl) {
        max-width: 384px;
    }
}

.footer-nav {
    @extend .d-flex,
    .flex-column,
    .flex-lg-row;
}

.footer-nav__item {
    @extend .py-1,
    .text-uppercase;
    font-size: 15px;

    &:not(:first-child) {
        @include media-breakpoint-up(lg) {
            padding-left: 17.5px;
        }
    }

    &:not(:last-child) {
        @include media-breakpoint-up(lg) {
            padding-right: 17.5px;
        }
    }
}

.footer__protected-logo {
    width: 96px;
}