/* MARGINS */

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-11 {
    margin-bottom: 11px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-13 {
    margin-bottom: 13px !important;
}

.mb-14 {
    margin-bottom: 14px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-17 {
    margin-bottom: 17px !important;
}

.mb-18 {
    margin-bottom: 18px !important;
}

.mb-19 {
    margin-bottom: 19px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}