/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$silver: #ededed;
$muted-light: #f5f5f1;
$muted: #878787;
$gray: #6c6f75;
$warning: #f7b92e;
$danger: #db0c25;
$success: #21991b;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-silver {
  color: $silver !important;
}
.text-muted-light {
  color: $muted-light !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}
.text-warning {
  color: $warning !important;
}
.text-danger {
  color: $danger !important;
}
.text-success {
  color: $success !important;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-muted-light {
  background-color: $muted-light !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-success {
  background-color: $success !important;
}



/*************************
	Fonts variables
*************************/
$font-regular: 'ObjektivRegular';
$font-bold: 'ObjektivBold';
$font-black: 'ObjektivBlack';

.font-regular {
  font-family: $font-regular !important;
}
.font-bold {
  font-family: $font-bold !important;
}
.font-black {
  font-family: $font-black !important;
}




$font-icons: 'fontello';
.font-icons {
  font-family: $font-icons;
}


/*************************
	Base variables
*************************/
$base-color: $gray;
$font-base: $font-regular;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $success;


/*************************
	Title variables
*************************/
$title-font: $font-black;
$title-color: $black;
$title-kerning: 1.4;
