/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$black-thin: #323232;
$sky: #014C83;
$blue: #2A416A;
$success: #00798C;
$danger: #D53B41;
$orange: #EDAE49;
$warning: #EDBD43;
$muted: #f7f7f7;
$gray: #efefef;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-black-thin {
  color: $black-thin !important;
}
.text-sky {
  color: $sky !important;
}
.text-blue {
  color: $blue !important;
}
.text-success {
  color: $success !important;
}
.text-danger {
  color: $danger !important;
}
.text-orange {
  color: $orange !important;
}
.text-warning {
  color: $warning !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-black-thing {
  background-color: $black-thin !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}




/*************************
	Fonts variables
*************************/

$font-base-light: 'Roboto-Light';
$font-base-regular: 'Roboto-Regular';
$font-base-medium: 'Roboto-Medium';
$font-base-bold: 'Roboto-Bold';

$font-secondary-regular: 'PlayfairDisplay-Regular';
$font-secondary-bold: 'PlayfairDisplay-Bold';



$font-icons: 'fontello';
.font-icons {
  font-family: $font-icons;
}


/*************************
	Base variables
*************************/
$base-color: $black-thin;
$font-base: $font-base-regular;
/*************************
	Font path variable
************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-font-size-lg: 18px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $orange;


/*************************
	Title variables
*************************/
$title-font: $font-secondary-regular;
