<aside class="aside collapse" id="navbarContent">
  <div class="aside__inner">
    <div class="container-fluid">
      <h5 class="text-uppercase mb-2">INFORMATION ABOUT:</h5>
      <ul class="list-unstyled aside__list">
        <li class="aside__list__item"><a href="#" class="aside__list__link">Ankle</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Child Orthopedics</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Elbow</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Foot</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Fractures</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">General</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Hand</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Hip</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Knee</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Pain Management</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Shoulder</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Spine - Cervical</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Spine - General</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Spine - Lumbar</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Spine - Thoracic</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Wrist</a></li>
      </ul>

      <h5 class="text-uppercase mb-2">INFORMATION ABOUT:</h5>
      <form action="" class="mb-3">
        <div class="form-group mb-0">
          <select name="" id="" class="form-control">
            <option value="">-- Select Provider --</option>
            <option>Dr. Richard  Bowman, MD </option>
            <option>Dr. Jason  Gessel, DO </option>
            <option>Dr. Gregory  Krivchenia, II, MD </option>
            <option> Ginger  Sims, APRN, FNP-BC </option>
          </select>
        </div><!--form-group-->
      </form>

      <ul class="list-unstyled aside__list">
        <li class="aside__list__item"><a href="#" class="aside__list__link">Copyright Statement</a></li>
        <li class="aside__list__item"><a href="#" class="aside__list__link">Patient Education Disclaimer</a></li>
      </ul>
    </div><!--container-fluid-->
  </div><!--aside__inner-->
</aside><!--aside-->
