<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="assets/images/elements/logo.png" class="w-100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="eorthopod-icon-menu"></i>
  </button>

  <div class="collapse navbar-collapse">
    <div class="ml-auto py-md-2">
      <p class="mb-1"><b>Patient Information Resources</b></p>
      <address class="mb-0">
        <b>Roane General Hospital Pain Management and Orthopaedics</b><br>
        200 Hospital Drive<br>
        Spencer, WV 25276<br>
        Ph: 304-927-6844<br>
      </address>
    </div>
  </div>
</nav><!--navbar-->
