/* AUTOCOMPLITE */
.autocomplite {
  .autocomplete-container {
    @extend .w-100, .m-0, .bg-white, .base-radius, .font-icons, .icon-hesitant-pin;
    max-width: 940px;
    height: 62px !important;
    padding: 4px 4px 4px 40px;

    &:before {
      @extend .text-turquoise, .position-absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
    }
  }

  .autocomplete-input {
    @extend .w-100, .form-control, .shadow-none, .border-0;
    height: 54px !important;
    @include custom-placeholder($color: $gray, $font-size: 15px, $font-family: $font-roboto-regular, $text-transform: uppercase, $letter-spacing: 4px);

    &:focus {
      @include custom-placeholder-opacity($opacity: 0);
    }
  }

  .autocomplete-button {
    @extend .position-absolute, .d-flex, .align-items-center, .justify-content-center, .font-icons, .icon-hesitant-search, .base-radius;
    right: 4px;
    top: 4px;
    height: 54px !important;
    width: 52px !important;
    font-size: 0;
    background-color: $warning-secondary;

    &:focus,
    &:hover {
      background-color: darken($warning-secondary, 10%);
    }

    &:before {
      @extend .position-absolute, .fs-16;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .proposal-box {
    top: 100% !important;
    @extend .w-100, .bg-white, .base-radius, .overflow-hidden, .mt-1;

    .proposal {
      @extend .text-gray, .border-0;
      padding: 10px 15px;
      height: auto !important;
      border-bottom: 1px solid $base-border-color !important;

      &:focus,
      &:hover {
        background-color: transparent !important;
        color: $turquoise !important;
      }

      &:last-of-type {
        @extend .border-0;
      }
    }
  }
}

.autocomplete-container {
  position: relative;
  width: 283px;
  height: 32px;
  margin: 0 auto;
}

.autocomplete-input {
  padding: 9px;
  border-radius: 3px;
  font-family: inherit;
  float: left;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.19);
  margin: 0;
}

.autocomplete-button {
  font-family: inherit;
  border: none;
  background-color: #990101;
  color: white;
  padding: 8px;
  float: left;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  transition: all 0.2s ease-out 0s;
  margin: 0.5px 0 0 -1px;
}

.autocomplete-button:HOVER {
  background-color: #D11E1E;
}

.proposal-box {
  position: absolute;
  height: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  left: 0;
}

.proposal-list {
  list-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.proposal-list li {
  text-align: left;
  padding: 5px;
  font-family: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  height: 25px;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

li.proposal.selected {
  background-color: rgba(175, 42, 0, 0.52);
  color: white;
}