/* BUTTONS */
.btn {
  @extend .font-helvetica-bold, .text-uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 11px 20px;
  @include media-breakpoint-up(md) {
    padding: 11px 48px;
  }

  &-primary {
    @include button-variants($bg: $primary, $color: $white);
  }
}