/* CARD */
.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);

  &:not(:last-child) {
    margin-bottom: 50px;
  }
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  @extend .base-radius, .overflow-hidden, .border-0;
  box-shadow: 0 0 35px 0 rgba(194, 194, 208, 0.56);

  &--horizontal {
    @extend .flex-lg-row;

    > img {
      @include media-breakpoint-up(lg) {
        max-width: 450px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 600px;
      }
    }

    .card-body {
      @extend .d-lg-flex, .align-items-lg-start, .justify-content-lg-center, .flex-lg-column, .p-lg-5;
      @include media-breakpoint-up(lg) {
        min-width: 440px;
      }
    }
  }

  .subtitle {
    a {
      @extend .text-gray;

      &:focus,
      &:hover {
        @extend .text-sky;
      }
    }
  }
}

.card-text {
  @extend .font-roboto-regular;
}