/* COMMENT */
.comments {
  &:not(:last-child) {
    @extend .mb-4;
  }
}

.comment {
  @extend .fs-15;

  &+.comment {
    @extend .mt-4;
  }
}

.comment__header {
  @extend .d-flex, .align-items-center;
}

.comment__header-avatar {
  @extend .flex-shrink-0, .rounded-circle, .mr-3;
  width: 54px;
}

.comment__header-body {
  @extend .flex-fill;
}

.comment__header-name {
  @extend .fs-16, .text-dark, .font-roboto-medium, .mb-1;
}

.comment__stats {
  @extend .d-flex, .align-items-center, .flex-wrap;
}

.comment__stat {
  @extend .position-relative, .fs-15, .py-1;
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    padding-right: 15px;
    margin-right: 15px;

    &:after {
      @extend .position-absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      background-color: $base-border-color;
      height: 15px;
    }
  }

  .c100 {
    float: none;
    transform: scale(0.6);
  }
}

.comment__body {
  @extend .mt-3;
}

.comment__form {
  @extend .py-4;

  .form-group {
    @extend .position-relative;
  }

  .form-control {
    height: 46px;
    padding-right: 40px;
  }

  .btn-submit {
    @extend .position-absolute, .py-0, .px-3;
    color: $silver;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 24px;

    &:focus,
    &:hover {
      color: $primary;
    }
  }
}

.comment-answers {
  padding-left: 30px;
  @extend .mb-5;

  .comment {
    @extend .mt-0, .mb-4, .pb-4;
    border-bottom: 1px dotted $silver;

    &+.comment {
      @extend .mt-0;
    }
  }
}