/* DESTINATIONS */
.destinations {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(1, 1fr);

  &:not(:last-child) {
    margin-bottom: 50px;
  }
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.destination {
  @extend .position-relative, .base-radius, .overflow-hidden;
  display: inline-block;
}

.destination__img {
  @extend .w-100;
}

.destination__inner {}

.destination__decription {
  @extend .position-absolute, .w-100, .text-white;
  left: 0;
  bottom: 0;
  padding: 10px 15px;
  background-color: rgba(#1b2831, .51);
  text-align: right;
  z-index: 20;
}

.destination__title {
  @extend .fs-20, .mb-0, .font-roboto-medium;
}