/* FRAME */
.frames {
  @extend .d-flex, .flex-wrap, .flex-column, .flex-lg-row;
}

.frame {
  @extend .flex-shrink-0, .d-flex, .flex-column, .align-items-center, .justify-content-center;
  padding: 50px 25px;
  flex: 1;
  @include media-breakpoint-down(md) {
    padding: 30px 15px;
  }

  &+.frame {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid $base-border-color;
    }
    @include media-breakpoint-down(md) {
      border-top: 1px solid $base-border-color;
    }
  }
}

.frame__icon {
  @extend .text-primary, .mb-4;
  font-size: 50px;
}

.frame__title {
  color: #2f2b2a;
  letter-spacing: 0.42px;
  font-size: 19px;
}