/* LOGO */
.logo {
  @extend .text-uppercase, .text-white, .font-roboto-regular;
  font-size: 29px;
  letter-spacing: 1.16px;
  line-height: 75%;
  display: inline-block;
}

.logo__span {
  @extend .text-turquoise;
}