/* PADINATION */
.pagination {
  @extend .flex-wrap;
  padding: 15px 15px 5px;
  border-radius: 3px;
  border: 1px solid $base-border-color;
}

.page-item {
  margin-bottom: 10px;

  &+.page-item {
    margin-left: 10px;
  }

  &.active {
    .page-link {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }
  }
}

.page-link {
  @extend .mx-0;
  border-radius: 3px;
  padding: 4px 10px;
  color: $gray-bold;

  &:focus,
  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }

  &.btn {
    @extend .btn-primary, .px-3, .fs-14;
    letter-spacing: normal;
    text-transform: none !important;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }
}