/* PROGRESS */
// VARS
$circle-width: 0.08em;
$circle-width-hover: 0.04em; // colors default
$primary-color: $success;
$secondary-color: $white;
$bg-color: $white;
$primary-color-green: #4db53c;
$primary-color-orange: #dd9d22; // colors dark skin
$primary-color-dark: #c6ff00;
$secondary-color-dark: #777;
$bg-color-dark: #666;
$primary-color-green-dark: #5fd400;
$primary-color-orange-dark: #e08833; // mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin rotate($rotation) {
  -webkit-transform: rotate($rotation);
  -moz-transform: rotate($rotation);
  -ms-transform: rotate($rotation);
  -o-transform: rotate($rotation);
  transform: rotate($rotation);
}
@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin transition-property($transition) {
  -webkit-transition-property: $transition;
  -moz-transition-property: $transition;
  -o-transition-property: $transition;
  transition-property: $transition;
}
@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin transition-timing-function($timing) {
  -webkit-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
// CIRCLE
// classes 2 extend

.rect-auto {
  clip: rect(auto, auto, auto, auto);
}

.pie {
  position: absolute;
  border: $circle-width solid $primary-color;
  width: 1 - (2 * $circle-width);
  height: 1 - (2 * $circle-width);
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  @include rotate(0);
}

.pie-fill {
  @include rotate(180deg);
}
// main

.c100 {
  *,
  *:after,
  *:before {
    @include box-sizing(content-box);
  }
  position: relative;
  font-size: 74px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  background-color: $secondary-color;

  &.center {
    float: none;
    margin: 0 auto;
  }
  // bigger size
  &.big {
    font-size: 240px;
  }
  // smaller size
  &.small {
    font-size: 80px;
  }
  // centered value inside circle
  > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: $gray-bold;
    display: block;
    text-align: center;
    white-space: nowrap;
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
  }
  // background inside the circle
  &:after {
    position: absolute;
    top: $circle-width;
    left: $circle-width;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: $bg-color;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
  }
  // the slice (mask)
  .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
  }
  // circle to show the status
  .bar {
    @extend .pie;
  }

  &.danger {
    .bar,
    .fill {
      border-color: $danger;
    }
  }

  &.warning {
    .bar,
    .fill {
      border-color: $warning;
    }
  }
  // loop to create all needed elements automatically
  @for $i from 51 through 100 {
    &.p#{$i} {
      & .slice {
        @extend .rect-auto;
      }

      &.bar:after {
        @extend .pie-fill;
      }

      & .fill {
        @extend .pie;
        @extend .pie-fill;
      }
    }
  }
  // loop to rotate all 100 circles
  @for $i from 1 through 100 {
    &.p#{$i} .bar {
      $degs: (360/100 * $i);
      @include rotate(#{$degs}deg);
    }
  }
}