/* BOX */

.box {
    @extend .bg-white;
    border-radius: $base-radius;
    padding: 15px;

    @include media-breakpoint-up(xl) {
        padding: 30px;
    }

    &.is-opened {
        .box-hidden-box {
            @extend .d-block;
        }
    }

    &--sm {
        @include media-breakpoint-up(xl) {
            padding: 25px 30px;
        }

        .box__inner {
            @include media-breakpoint-up(xl) {
                padding: 25px 30px;
                margin: -25px -30px;
            }
        }
    }

    &--xl {
        @include media-breakpoint-up(xl) {
            padding: 40px 66px;
        }

        .box__inner {
            @include media-breakpoint-up(xl) {
                padding: 40px 66px;
                margin: -40px -66px;
            }
        }
    }
}

.box__inner {
    padding: 15px;
    margin: -15px;

    @include media-breakpoint-up(xl) {
        padding: 30px;
        margin: -30px;
    }
}

.box-toggle {
    @extend .btn,
    .border-0,
    .position-relative,
    .bg-transparent,
    .rounded-0,
    .shadow-none,
    .py-0,
    .pl-0,
    .btn-block,
    .align-items-start,
    .fs-14,
    .flex-column,
    .text-left,
    .text-black500;
    padding-right: 50px;

    &[aria-expanded="true"] {
        &:before {
            border-width: 0 7px 9px 7px;
            border-color: transparent transparent $black300;
        }
    }

    &:before {
        @extend .position-absolute;
        content: '';
        right: 15px;
        top: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 7px 0 7px;
        border-color: $black300 transparent transparent transparent;
    }
}

.box-hidden-box {
    @extend .d-none,
    .mt-4;
}

.box-hidden-item {
    @extend .d-none,
    .mt-4;

    &.is-opened {
        @extend .d-block;
    }
}

.box-hidden-childs,
.box-hidden-item-secondary {
    @extend .d-none,
    .mt-3;

    &.is-opened {
        @extend .d-block;
    }
}