/* BOX 404 */

.box-404 {
    @extend .position-relative,
    .bg-white,
    .mx-auto,
    .w-100,
    .text-left;
    max-width: 927px;
    z-index: 20;
}

.box-404__inner {
    @extend .bg-white;
    padding: 20px;
    z-index: 20;

    @include media-breakpoint-up(md) {
        padding: 40px 60px;
    }

    @include media-breakpoint-up(xl) {
        padding: 65px 100px;
    }
}

.box-404__figure {
    @extend .position-absolute,
    .has-bg;
    width: 336px;
    height: 336px;
    left: 0;
    top: 0;
    margin-top: -168px;
    margin-left: -168px;
    background-image: url('../img/temp/page-overlay.svg');
    z-index: -1;
}

.box-404__title {
    @extend .font-opensans-bold;
    font-size: 100px;
}

.box-404__subtitle {
    @extend .font-opensans-semibold;
    font-size: 50px;
}

.box-404_basket {
    @extend .position-absolute;
    right: 15px;
    top: 15px;

    @include media-breakpoint-down(sm) {
        max-width: 100px;
    }

    @include media-breakpoint-up(md) {
        top: 50%;
        transform: translateY(-50%);
    }

    @include media-breakpoint-up(xl) {
        right: -80px;
    }
}