/* BOX COLLAPSE */

.box-collapse-holder {
    @include media-breakpoint-down(lg) {
        max-height: 100% !important;
    }
}

.box-collapse {
    @extend .bg-white,
    .position-relative;
    border-radius: $base-radius;

    &+.box-collapse {
        margin-top: 10px;
    }

    &.is-opened {
        .box-collapse__toggle {
            @extend .icon-arrow-up;
        }

        .box-collapse__body {
            @extend .d-block;
        }
    }
}

.box-collapse__toggle {
    @extend .icon-arrow-down,
    .font-icons,
    .position-absolute,
    .btn-icon,
    .fs-18;
    right: 15px;
    top: 15px;

    @include media-breakpoint-up(lg) {
        top: 25px;
    }
}

.box-collapse__header {
    @extend .d-lg-flex,
    .align-items-lg-center;
    padding: 15px 65px 15px 15px;

    @include media-breakpoint-up(xl) {
        padding: 12px 65px 12px 30px;
    }
}

.box-collapse__heading {
    @extend .mb-lg-0,
    .flex-fill,
    .mr-md-4;
}

.box-collapse__heading-logo {
    @extend .w-100,
    .mr-md-4,
    .mb-4,
    .mb-lg-0;
    max-width: 155px;
}

.box-collapse__header-inner {
    @extend .flex-shrink-0,
    .d-flex,
    .align-items-center,
    .justify-content-start,
    .ml-auto;
}

.box-collapse__body {
    @extend .d-none;
    padding: 5px 15px 15px 15px;

    @include media-breakpoint-up(xl) {
        padding: 15px 25px 12px 30px;
    }
}

.box-collapse__body-inner {
    @extend .d-flex,
    .flex-column,
    .flex-md-row,
    .align-items-md-end;
}

.box-collapse__info {
    @extend .flex-fill,
    .mb-4,
    .mb-md-0;
}

.box-collapse__edit {
    @extend .flex-shrink-0,
    .ml-md-5,
    .d-flex,
    .align-items-center;
}

.box-collapse-create {
    @extend .btn,
    .border-0,
    .btn-block,
    .fs-14,
    .font-opensans-bold,
    .text-black400;
    margin-top: 10px;
    padding: 26px 15px;
    background-color: $gray300;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($gray300, 10%);
    }
}