/* BUTTONS */

.btn {
    border-radius: $base-radius;
    font-size: 12px;

    &-success {
        @include button-variants($bg: $green100, $color: $white);
    }

    &-lg {
        font-size: 14px;
        padding: 13px 20px;
    }

    &-block {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}