/* BUTTONS */

.btn {
    border-radius: $base-radius;
    font-size: 12px;
    font-family: $opensans-semibold;
    padding: 6px 13px;
    min-height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-success {
        @include button-variants($bg: $green100, $color: $white);
    }

    &-warning {
        @include button-variants($bg: $warning, $color: $black100);
    }

    &-muted {
        @include button-variants($bg: $gray200, $color: $black100);
    }

    &-success-secondary {
        @include button-variants($bg: $green200, $color: $black100);
    }

    &-primary {
        @include button-variants($bg: $blue200, $color: $white);
    }

    &-primary-outline {
        @include button-outline-variants($color: $blue200);
    }

    &-link {
        color: $blue200;

        &:hover,
        &:focus,
        &:active {
            color: darken($blue200, 10%);
            text-decoration: none;
        }
    }

    &-icon {
        @extend .border-0,
        .shadow-none,
        .bg-transparent,
        .py-0;
        font-size: 24px;
        padding-left: 1px;
        padding-right: 1px;
        min-height: auto;
    }

    &-lg {
        @include media-breakpoint-up(sm) {
            font-size: 14px;
            padding: 13px 40px;
        }
    }

    &-sm {
        @include media-breakpoint-up(sm) {
            font-size: 18px;
            padding: 5px 21px;
        }
    }

    &-long {
        @include media-breakpoint-up(sm) {
            padding-left: 28px;
            padding-right: 28px;
        }
    }

    &-long-xl {
        @include media-breakpoint-up(sm) {
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    &-block {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}