/* CHECKBOX */

$checkbox-size: 20px;
$checkbox-sm-size: 16px;

.checkbox {
    &+.checkbox {
        margin-top: 16px;
    }

    &-sm {
        .checkbox__label {
            padding-left: $checkbox-sm-size + 16px;

            &:before {
                width: $checkbox-sm-size;
                height: $checkbox-sm-size;
                top: 3px;
            }

            &:after {
                width: $checkbox-sm-size - 8px;
                height: $checkbox-sm-size / 3;
                top: 7px;
            }
        }
    }

    [type="checkbox"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;

        &:checked {
            &+.checkbox__label {
                &:before {
                    background-color: $blue200;
                    border-color: $blue200;
                }

                &:after {
                    transform: scale(1) rotate(-45deg);
                }
            }
        }
    }
}

.checkbox__label {
    @extend .position-relative,
    .m-0,
    .fs-16,
    .font-opensans-semibold,
    .text-black200,
    .d-block;
    padding-left: $checkbox-size + 16px;
    cursor: pointer;
    min-height: 24px;

    &:before,
    &:after {
        content: '';
        @extend .position-absolute;
    }

    &:before {
        left: 0;
        top: 1px;
        width: $checkbox-size;
        height: $checkbox-size;
        border: 1px solid $gray500;
        border-radius: $base-radius;
    }

    &:after {
        left: 4px;
        top: 6px;
        width: $checkbox-size - 8px;
        height: $checkbox-size / 3;
        @include transition($base-animation);
        transform: scale(0) rotate(-45deg);
        border-bottom: 1px solid $white;
        border-left: 1px solid $white;
    }
}