/* DROPZONE */

.dropzone {
    @extend .border-0,
    .base-radius,
    .bg-transparent,
    .d-flex,
    .align-items-center,
    .justify-content-center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23152339' stroke-width='6' stroke-dasharray='20' stroke-dashoffset='28' stroke-linecap='square'/%3e%3c/svg%3e");
    min-height: 215px;
}

.dropzone__message {
    @extend .d-flex,
    .flex-column,
    .flex-md-row,
    .align-items-center,
    .text-blue200;
}

.dropzone__icon {
    @extend .flex-shrink-0,
    .mb-2,
    .mb-md-0,
    .mr-md-4;
    font-size: 40px;

    @include media-breakpoint-up(md) {
        font-size: 60px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 80px;
    }
}

.dropzone__message-body {
    @extend .flex-fill,
    .text-md-left;
}

.dropzone__title {
    @extend .mb-1,
    .fs-28,
    .font-ubuntu-regular;
}

.dropzone__subtitle {
    @extend .fs-18,
    .font-opensans-semibold,
    .text-black500;
}