/* FEEDBACK BOX */

.feedback-boxes {
    @extend .d-flex,
    .flex-wrap,
    .justify-content-between;
    margin-left: -15px;
    margin-left: -15px;
}

.feedback-box {
    @extend .bg-white,
    .text-gray400,
    .flex-fill,
    .d-flex,
    .flex-column,
    .justify-content-center,
    .align-items-center,
    .fs-13;
    padding: 15px;
    border-radius: $base-radius;
    border-left: 15px solid $body-bg;
    border-right: 15px solid $body-bg;
    border-bottom: 15px solid $body-bg;

    @include media-breakpoint-up(sm) {
        flex-basis: 50% !important;
    }

    @include media-breakpoint-up(lg) {
        padding: 30px;
    }
}

.feedback-box__icon {
    @extend .text-blue200,
    .mb-4;
    font-size: 90px;
}