/* FORMS */

$field-border-color: #b5b5b5;
$field-height: 49px;
$field-placeholder-font-size: 16px;
$field-placeholder-font: $opensans-regular;


.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-color: $field-border-color;
	height: $field-height;
	@extend .px-4;
	@include custom-placeholder($color: $black200,
		$font-size: $field-placeholder-font-size,
		$font-family: $field-placeholder-font);
}


textarea.form-control {
	resize: none;

	@include media-breakpoint-up(sm) {
		height: 220px;
	}
}

.form-group {
	margin-bottom: 24px;
}

label {
	font-size: 16px;
	font-family: $opensans-semibold;
}