/* FORMS */

$field-border-color: #b5b5b5;
$field-height: 49px;
$field-sm-height: 37px;
$field-xs-height: 33px;
$field-placeholder-font-size: 16px;
$field-placeholder-font: $opensans-regular;


.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-color: $field-border-color;
	height: $field-height;
	font-size: $field-placeholder-font-size;
	@extend .px-4;
	@include custom-placeholder($color: $black200,
		$font-size: $field-placeholder-font-size,
		$font-family: $field-placeholder-font);

	&--placeholder-gray {
		@include custom-placeholder($color: $gray75,
			$font-size: $field-placeholder-font-size,
			$font-family: $field-placeholder-font);
	}

	&--secondary {
		@extend .bg-silver50;
		border-color: $silver50;

		&:focus {
			@extend .bg-white;
		}
	}

	&.form-control--sm {
		height: $field-sm-height;
	}

	&.form-control--xs {
		height: $field-xs-height;
	}

	&.form-control--fixed {
		@include media-breakpoint-up(xxl) {
			//max-width: 120px;
		}
	}
}


textarea.form-control {
	resize: none;

	@include media-breakpoint-up(sm) {
		height: 220px;
	}
}

.form-group {
	margin-bottom: 24px;
}

label {
	font-size: 16px;
	font-family: $opensans-semibold;
}

.form-control-label-box {
	@extend .position-relative;

	.form-control {
		padding-right: 45px !important;
	}

	.form-control-label {
		@extend .position-absolute,
		.text-black200,
		.font-opensans-semibold,
		.fs-16;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
	}
}

.btn-field-show-password {
	@extend .font-opensans-bold,
	.text-truncate,
	.d-block,
	.align-self-center;
	min-height: auto;
	cursor: pointer;
}

.btn-edit-field,
.btn-close-edit-field {
	@include transition(0);
	min-width: 58px;

	&.invisible {
		width: 0;
		height: 0;
		min-width: 0;
	}
}

.no-arrow {
	-moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
	display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}