/* PAYMENT METHOD */

$payment-method-radio-size: 20px;

.payment-method {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.payment-method__title {
    @extend .fs-16,
    .text-black200,
    .font-opensans-semibold,
    .mb-1;
}

.payment-method-radio {
    [type="radio"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;

        &:checked {
            &+.payment-method-radio__label {
                box-shadow: 0px 0px 0px 2px $blue200 inset;
                border-color: $blue200;

                &:before {
                    border-color: $blue200;
                }

                &:after {
                    transform: scale(1);
                }
            }
        }
    }
}

.payment-method-radio__label {
    @extend .position-relative,
    .m-0,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .bg-white;
    padding-left: $payment-method-radio-size + 16px;
    cursor: pointer;
    min-height: 126px;
    padding: 15px 15px 15px $radio-size+30px;
    border: 1px solid $gray500;

    &:before,
    &:after {
        content: '';
        @extend .position-absolute,
        .rounded-circle;
    }

    &:before {
        left: 0;
        top: 1px;
        width: $payment-method-radio-size;
        height: $payment-method-radio-size;
        border: 1px solid $gray500;
        top: 50%;
        margin-top: -10px;
        left: 15px;
    }

    &:after {
        left: 19px;
        top: 5px;
        width: $payment-method-radio-size - 8px;
        height: $payment-method-radio-size - 8px;
        @extend .bg-blue200;
        @include transition($base-animation);
        transform: scale(0);
        top: 50%;
        margin-top: -6px;
    }
}