/* PRICE BOX */

.price-box {
    &:not(:last-child) {
        @extend .mb-4;
    }

    @extend .font-ubuntu-medium;
    font-size: 35px;
    line-height: 1;
}

.price-box__currency {
    @extend .fs-15,
    .font-segoeui-regular;
    top: -13px;
}

.price-box__item {
    @extend .fs-14,
    .font-opensans-regular;
    bottom: -5px;
}