/* RADIO-box */

$radio-size: 28px;

.radio-box {
    &+.radio-box {
        margin-top: 20px;
    }

    [type="radio"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;

        &:checked {
            &+.radio-box__label {
                box-shadow: 0px 0px 0px 2px $blue200 inset;
                border-color: $blue200;

                &:before {
                    border-color: $blue200;
                }

                &:after {
                    transform: scale(1);
                }

                .radio-box__hidden-box {
                    @extend .d-block;
                }
            }
        }
    }
}

.radio-box__label {
    @extend .position-relative,
    .m-0,
    .fs-16,
    .text-black200,
    .d-block,
    .bg-white,
    .font-opensans-regular,
    .base-radius;
    cursor: pointer;
    padding: 15px 15px 15px $radio-size + 30px;

    border: 1px solid $gray500;

    @include media-breakpoint-up(md) {
        padding: 25px 25px 25px $radio-size + 50px;
    }

    &:before,
    &:after {
        content: '';
        @extend .position-absolute,
        .rounded-circle;
    }

    &:before {
        left: 15px;
        width: $radio-size;
        height: $radio-size;
        border: 2px solid $gray400;
        top: 30px;

        @include media-breakpoint-up(sm) {
            left: $radio-size;
            top: 50px;
        }
    }

    &:after {
        left: 15px + 6px;
        width: $radio-size - 12px;
        height: $radio-size - 12px;
        @extend .bg-blue200;
        @include transition($base-animation);
        transform: scale(0);
        top: 30px + 6px;

        @include media-breakpoint-up(sm) {
            left: $radio-size + 6px;
            top: 50px+6px;
        }
    }
}

.radio-box__hidden-box {
    @extend .d-none,
    .mt-4;
}