/* RESUME */

$resume-table-border-color: #1d1d1d;

.resume {
    padding: 15px;
    @extend .bg-white,
    .position-fixed;
    z-index: 100;

    @include media-breakpoint-down(md) {
        width: 100% !important;
    }

    @include media-breakpoint-down(lg) {
        right: 0px;
        bottom: 0px;
        width: calc(100% - #{$navigation-width});
        border-top: 1px solid $blue200;
    }

    @include media-breakpoint-up(xl) {
        padding: 29px 36px;
        width: 440px;
        bottom: 45px;
        right: 15px;
        border-radius: $base-radius;
    }

    @include media-breakpoint-up(xxl) {
        bottom: 45px;
        right: 70px;
    }

    &.is-opened {
        .resume-header {
            @extend .d-none;
        }

        .resume-body {
            @extend .d-block;
        }
    }

    .table {



        >thead,
        >tbody,
        >tfoot {
            >tr {

                >th,
                td {
                    border-color: $resume-table-border-color;

                    &:first-child {
                        @extend .pl-0;
                    }

                    &:last-child {
                        border-left: 1px solid $resume-table-border-color;
                    }
                }
            }
        }

        >tbody,
        >tfoot {
            >tr {

                >th,
                td {
                    border-color: $resume-table-border-color;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }

        >thead {
            >tr {

                >th,
                td {
                    @extend .fs-18,
                    .font-opensans-semibold;
                    border-bottom: 1px solid $resume-table-border-color;
                    border-top: none;
                    padding-top: 2px;
                    padding-bottom: 4px;
                }
            }
        }

        >tbody {
            >tr {

                >th,
                td {
                    border-top: none;
                    border-bottom: none;
                }
            }
        }

        >tfoot {
            >tr {

                >th,
                td {
                    @extend .pb-0,
                    .font-opensans-semibold;

                    &:last-child {
                        @extend .font-opensans-bold;
                    }
                }
            }
        }
    }
}

.resume-header {
    @extend .d-flex,
    .align-items-center,
    .justify-content-between;
}

.resume__open,
.resume__close {
    @extend .btn,
    .fs-14,
    .font-opensans-bold,
    .border-0,
    .shadow-none,
    .p-0,
    .flex-shrink-0,
    .mr-4;
    min-height: auto !important;
}

.resume-body {
    @extend .d-none;
}

.resume-footer {
    @extend .d-flex,
    .justify-content-between;
    margin-top: 15px;

    @include media-breakpoint-up(xl) {
        margin-top: 34px;
    }

    .btn {
        @include media-breakpoint-down(xs) {
            font-size: 11px;
        }
    }
}