/* TABLE */

.table {
    &:not(.bootstrap-table) {

        >tbody,
        >tfoot,
        >thead {
            >tr {

                >th,
                td {
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }
        }

        >thead {
            >tr {

                >th,
                td {
                    border: none;
                    white-space: nowrap;
                }
            }
        }

        >tbody,
        >tfoot {
            >tr {

                >th,
                td {
                    border-color: $gray500;
                }
            }
        }
    }
}