html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  line-height: $body-line-height;
  font-family: $body-font;
  font-size: $body-font-size-mobile;
  min-height: 100vh;
  color: $body-color;

  @include media-breakpoint-up(md) {
    font-size: $body-font-size-desktop;
  }
}

body {
  @extend .d-flex,
  .flex-column;
}

.main {
  @extend .flex-grow-1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.45;
  font-family: $font-base-semibold;
  color: $dark-500;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  font-size: 28px;
  letter-spacing: -.56px;
  font-family: $heading-font;
  line-height: 1.23;

  @include media-breakpoint-up(md) {
    font-size: 46px;
    letter-spacing: -.75px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 69px;
    letter-spacing: -1.12px;
  }
}

h2,
.h2 {
  font-size: 27px;
  font-family: $heading-font;
  line-height: 1.23;

  @include media-breakpoint-up(md) {
    font-size: 38px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 44px;
  }
}

h3,
.h3 {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 22px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {}

h6,
.h6 {
  font-size: 16px;
}

button,
a {
  @include transition($base-animation);
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-md {
  font-size: 13px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}

.text-sm {
  font-size: 12px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}