/* CONTENT */

$content-fs: 11px;

.content {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $muted;
  border: 1px solid $black;
  font-size: $content-fs;
  @include media-breakpoint-down(sm) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
