/* CONTENT */


.content {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $muted;
  border: 1px solid $black;
  @include media-breakpoint-down(sm) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
