/* CONTENT */


.content {
  padding: 30px 15px;
  background-color: $muted;
  border: 1px solid $black;
  @media (max-width: 767.98px) {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0;
  }
}
