/* LIST GROUP */

.list-group-item {
  border-color: $muted;
  &--header {
    background-color: $muted;
    @extend .text-black;
    padding-bottom: 0.25rem;
    border-bottom: none;
    a {
      @extend .text-black;
    }
  }
}

.list-group-link {
  color: $tarawera;
  &:hover, &:focus {
    color: darken($tarawera, 10%);
    text-decoration: underline;
  }
}

.list-group-date {
  color: $gray-bold;
}
