/* LINE HEIGHT */

.lh-15 {
    line-height: 1.5 !important;
}

.lh-16 {
    line-height: 1.6 !important;
}

.lh-17 {
    line-height: 1.7 !important;
}

.lh-18 {
    line-height: 1.8 !important;
}

.lh-19 {
    line-height: 1.9 !important;
}

.lh-2 {
    line-height: 2 !important;
}