<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="#" class="footer__logo">
                    <img src="img/elements/logo-footer.svg" alt="" class="w-100">
                </a>

                <address class="m-0">
                    Kukučínova 86/9, 040 01 Košice<br />
                    Slovak Republic<br />
                    <br />
                    ID/IČO: 47 461 845<br />
                    SK VAT: SK2023902386<br />
                    IBAN: SK1109000000005162864963<br />
                    SWIFT: GIBA SK BX
                </address>
            </div>

            <div class="col-md-8">
                <div class="row row-cols-2 row-cols-lg-4">
                    <div class="col mb-4 mb-lg-0">
                        <h4 class="footer__heading">Products</h4>
                        <div class="footer-nav order-md-2 mb-4 mb-md-0">
                            <a href="#" class="footer-nav__link">Solar panels</a>
                            <a href="#" class="footer-nav__link">Solar inverters</a>
                            <a href="#" class="footer-nav__link">Batteries</a>
                            <a href="#" class="footer-nav__link">Mounting structures</a>
                            <a href="#" class="footer-nav__link">Auxiliaries</a>
                        </div>
                    </div>

                    <div class="col mb-4 mb-lg-0">
                        <h4 class="footer__heading">Solutions</h4>
                        <div class="footer-nav order-md-2 mb-4 mb-md-0">
                            <a href="#" class="footer-nav__link">Industry technologies</a>
                            <a href="#" class="footer-nav__link">Solar farms</a>
                            <a href="#" class="footer-nav__link">Residental photovoltaic</a>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="footer__heading">About us</h4>
                        <div class="footer-nav order-md-2 mb-4 mb-md-0">
                            <a href="#" class="footer-nav__link footer-nav__link--lg">Case studies</a>
                            <a href="#" class="footer-nav__link footer-nav__link--lg">News</a>
                            <a href="#" class="footer-nav__link footer-nav__link--lg">Contact</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social-list">
                            <a href="#" class="social-list-item">
                                <div class="social-list-item__icon-box">
                                    <i class="icon-facebook"></i>
                                </div>
                                Facebook
                            </a>
                            <a href="#" class="social-list-item">
                                <div class="social-list-item__icon-box">
                                    <i class="icon-instagram"></i>
                                </div>
                                Instagram
                            </a>
                            <a href="#" class="social-list-item">
                                <div class="social-list-item__icon-box">
                                    <i class="icon-linkedin"></i>
                                </div>
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-4 mt-5">

        <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between">
            <div class="footer-links order-md-2 mb-4 mb-md-0">
                <a href="#" class="footer-link">Privacy Policy</a>
                <a href="#" class="footer-link">Terms of Service</a>
            </div>
            <p class="order-md-1">© 2021 Enprotech. All right reserved.</p>
        </div>
    </div>
</footer>