<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <a href="#" class="footer__logo">
          <img src="assets/images/elements/logo-footer.png" alt="" class="w-100">
        </a>
        <p class="footer__lead">
          1.800.123.4567<br />
          ©2018. All Rights Reserved
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">EMAIL SIGNUP</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        <form class="footer__form" action="" method="">
          <div class="form-group mb-0 d-flex">
            <input type="text" class="form-control flex-1 align-self-stretch h-auto">
            <button class="btn btn-white flex-0 ml-2" type="submit" name="">Submit</button>
          </div>
        </form>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="row mb-3">
          <div class="col-6">
            <div class="footer__nav">
              <a href="#">Lorem Ipsum</a>
              <a href="#">Dolor Sit Amet</a>
              <a href="#">Consectetuer</a>
              <a href="#">Adipiscing Elit</a>
            </div>
          </div>

          <div class="col-6">
            <div class="footer__nav">
              <a href="#">Job Application</a>
              <a href="#">Dolor Sit Amet</a>
              <a href="#">Contact Us</a>
              <a href="#">Privacy</a>
            </div>
          </div>
        </div>

        <div class="footer__social">
          <a href="#" class="infinity-icon-facebook-circled"></a>
          <a href="#" class="infinity-icon-gplus-circled"></a>
          <a href="#" class="infinity-icon-twitter-circled"></a>
          <a href="#" class="infinity-icon-youtube-circled"></a>
          <a href="#" class="infinity-icon-linkedin-circled"></a>
        </div>
      </div>
    </div>
  </div>
</footer>