<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/logo-navbar.png" alt="" class="w-100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <i class="infinity-icon-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#" data-toggle="dropdown">
            ABOUT
          </a>
          <div class="dropdown-menu">
            <a href="#">LOREM IPSUM DOLOR</a>
            <a href="#">LOREM IPSUM DOLOR</a>
            <a href="#">LOREM IPSUM DOLOR</a>
            <a href="#">LOREM IPSUM DOLOR</a>
          </div>
        </li>
        <li>
          <a href="#">CAREERS</a>
        </li>
        <li>
          <a href="#">CARRIERS</a>
        </li>
        <li>
          <a href="#">SHIPPERS</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
      </ul>

      <a href="#" class="btn btn-brand">CUSTOMER LOGIN</a>
    </div>
  </div>
</nav>