/* BUTTONS */


.btn {
    &-success {
        @include button-variants($bg: $green, $color: $white);
    }

    &-lg {
        @include media-breakpoint-up(md) {
            font-size: 26px;
            padding: 12px 26px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 30px;
            padding: 13px 32px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 35px;
            padding: 13px 39px;
        }
    }
}