/* VARIABLES */

/*************************
	Base colors
*************************/


/*************************
	Base variables
*************************/
$base-animation: 250ms;
/*************************
	Fonts variables
*************************/
$font-regular: 'Montserrat-Regular';
$font-light: 'Montserrat-Light';
$font-medium: 'Montserrat-Medium';
$font-semibold: 'Montserrat-SemiBold';
$font-bold: 'Montserrat-Bold';

.font-regular {
	font-family: $font-regular !important;
}

.font-light {
	font-family: $font-light !important;
}

.font-medium {
	font-family: $font-medium !important;
}

.font-semibold {
	font-family: $font-semibold !important;
}

.font-bold {
	font-family: $font-bold !important;
}


.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size: 16px;
$body-font-size-desktop: 18px;
$body-line-height: 1.5;


/*************************
	Heading variables
*************************/
$heading-font: $font-bold;