/* FOOTER */

.footer-top {
    @extend .py-4;
    background-color: #c7c3c3;
}

.footer-bottom {
    @extend .py-4;
    background-color: #E8E8E8;
}

.footer-nav {
    @extend .d-flex,
    .align-items-center,
    .flex-column,
    .flex-lg-row,
    .flex-lg-wrap,
    .justify-content-lg-around;
}

.footer-nav-item {
    @extend .font-bold,
    .py-1,
    .py-lg-0;
    color: $black;

    &:hover,
    &:focus,
    &:active {
        color: #61D6D6;
    }
}

.footer-hr {
    @extend .bg-black;
    opacity: .1;
}