/* DIVIDER */
.divider {
  @extend .d-flex, .align-items-center, .justify-content-center;
  padding: 30px 15px;
  background: url("../images/elements/divider.svg") no-repeat 50% 50% / 280px 20px;
  @include media-breakpoint-up(lg) {
    background-size: 700px 30px;
    padding: 70px 15px;
  }
}