/* GALLERY */
.slick-arrow {
  @extend .position-absolute, .border-0, .font-icons, .p-0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  font-size: 0;
  background-color: transparent;

  &:focus,
  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    @extend .text-white;
    opacity: 0.85;
    font-size: 30px;
    @include media-breakpoint-up(md) {
      font-size: 50px;
    }
  }
}

.slick-prev {
  @extend .america-icon-arrow-left;
  left: 15px;
}

.slick-next {
  @extend .america-icon-arrow-right;
  right: 15px;
}

.slick-dots {
  @extend .list-unstyled, .mt-3, .d-flex, .justify-content-center, .position-absolute, .w-100;
  bottom: 10px;

  > li {
    @extend .mx-1;

    &.slick-active {
      > button {
        background-color: #868686;
      }
    }

    > button {
      @extend .border-0, .p-0;
      background-color: #ccccca;
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.slick-dotted {
  @extend .pb-5;
}