/* GALLERY */
.gallery {
  &-arrows-dark {
    .slick-arrow {
      &:before {
        @extend .text-gray-bold;
      }
    }
  }

  &-gutters {
    margin: 0 -15px;
    @include media-breakpoint-up(md) {
      margin: 0 -25px;
    }

    .slick-slide {
      padding: 0 15px;
      @include media-breakpoint-up(md) {
        padding: 0 25px;
      }
    }
  }

  &-gutters-sm {
    .slick-slide {
      padding: 0 7.5px;
    }
  }

  &-thumbnails {
    .slick-slide {
      opacity: 0.5;

      &.slick-center {
        opacity: 1;
      }
    }
  }
}

.slick-arrow {
  @extend .position-absolute, .border-0, .font-icons, .py-0, .px-2;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  font-size: 0;
  background-color: transparent;

  &:focus,
  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    @extend .text-white;
    opacity: 0.85;
    font-size: 30px;
    @include media-breakpoint-up(md) {
      font-size: 50px;
    }
  }
}

.slick-prev {
  @extend .america-icon-arrow-left;
  left: 15px;
}

.slick-next {
  @extend .america-icon-arrow-right;
  right: 15px;
}

.slick-dots {
  @extend .list-unstyled, .mt-3, .d-flex, .justify-content-center, .position-absolute, .w-100;
  bottom: 10px;

  > li {
    @extend .mx-2;

    &.slick-active {
      > button {
        background-color: #868686;
      }
    }

    > button {
      @extend .border-0, .p-0;
      background-color: #ccccca;
      font-size: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      @include media-breakpoint-down(sm) {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.slick-dotted {
  padding-bottom: 60px;
}