/* NEWSLETTER */
.newsletter {
  margin-bottom: 25px;
  @include media-breakpoint-up(md) {
    margin-bottom: 55px;
  }
  @include gradient-x($start-color: #995328, $end-color: #b27b3b, $start-percent: 0%, $end-percent: 100%);

  > .container {
    z-index: 20;
  }
}

.newsletter-form {
  .form-control {
    border: 2px solid #bdbcbc !important;
    height: 40px;

    &:focus {
      border-color: darken(#bdbcbc, 20%) !important;
    }
  }

  .btn-submit {
    @extend .border-0, .rounded-0, .flex-shrink-0, .font-bold, .text-white;
    background-color: $warning;

    &:focus,
    &:hover {
      background-color: darken($warning, 2%);
    }
  }
}

.newsletter__floated-image {
  @extend .position-absolute, .d-none, .d-md-block;
  bottom: 0;
  z-index: 1;
  left: 52%;
  max-width: 200px;
  @include media-breakpoint-up(md) {
    max-width: 240px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 300px;
  }
}