/* LETTER SPACING */
.ls-1 {
  letter-spacing: 1px !important;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.ls-3 {
  letter-spacing: 3px !important;
}

.ls-4 {
  letter-spacing: 4px !important;
}

.ls-5 {
  letter-spacing: 5px !important;
}