/* FOOTER */

$footer-bg: $wild-sand;
$footer-border-color: $galley;
$footer-font-family: $font-secondary;

.footer {
  font-family: $footer-font-family;
  .list__link {
    color: $primary;
    &:hover, &:focus {
  		color: darken($link-color, 10%);
  	}
  }
}
.footer__top {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $footer-bg;
  border-top: 4px solid $footer-border-color;
  border-bottom: 4px solid $footer-border-color;
  @include respond-to(xs){
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid $footer-border-color;
    border-bottom: 2px solid $footer-border-color;
  }
}

.footer__item {
  &+.footer__item {
    margin-top: 50px;
    @include respond-to(sm) {
      margin-top: 25px;
    }
  }
}

.footer__title__toggle {
  border-top: 4px solid $muted-soft;
  border-bottom: 4px solid $muted-soft;
  margin-left: -15px;
  margin-right: -15px;
  padding: 7.5px 15px;
  margin-bottom: 10px;
  @extend .h5;
  .title__has-divider__inner {
    border: none;
  }
}

.footer__coollapse-mobile {
  @include respond-to(xs) {
    display: none;
  }
}

.footer__bottom {
  padding: 20px 0 70px 0;
  @include respond-to(sm) {
    text-align: center;
    padding: 25px 0;
  }
}
