/* HOW */

.how {
  @extend .d-md-flex, .align-items-center, .justify-content-between, .flex-wrap;
  counter-reset: list;
}

.how__item {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  @include media-breakpoint-up(xl) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: center;
  }
  &:before {
    @include media-breakpoint-up(md) {
      font-size: 70px;
    }
    content: counter(list);
    counter-increment: list;
    color: $muted-bold;
    font-size: 50px;
    margin-bottom: 20px;
    display: inline-block;
    flex-shrink: 0;
    @include media-breakpoint-down(sm) {
      margin-right: 30px;
    }
  }
  &+.how__item {
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
    &:after {
      @include media-breakpoint-up(md) {
        content: '';
        width: 1px;
        height: 126px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: linear-gradient(to bottom, $silver, $silver 75%, transparent 75%, transparent 100%);
        background-size: 1px 8px;
      }
    }
  }
}

.how__title {
  text-transform: uppercase;
}
