/* LIST OK */

.list-ok__item {
  padding: 3px 0;
  position: relative;
  padding-left: 40px;
  @extend .font-icons, .bc-icon-ok;
  &:before {
    position: absolute;
    left: 0;
    top: 6px;
    font-size: 13px;
  }
}
