/* TYPE */

.type {
  display: block;
  color: inherit;
  margin-bottom: 40px;
}

.type__img {
  @extend .w-100, .mx-auto, .rounded-circle, .d-block;
  max-width: 140px;
  @include media-breakpoint-up(lg) {
    max-width: 180px;
  }
}

.type__title {
  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }
}


.type-panel {
  padding: 60px;
  position: relative;
  background: $gray;
  @include media-breakpoint-down(lg) {
    padding: 45px 30px;
  }
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    position: absolute;
    z-index: 50;
    @include media-breakpoint-down(md) {
      border-width: 50px 40px 0px 40px;
      border-color: $gray transparent transparent transparent;
      left: 50%;
      transform: translateX(-50%);
      bottom: -50px;
    }
  }
}

.type-panel--left {
  &:after {
    @include media-breakpoint-up(lg) {
      border-width: 40px 0px 40px 50px;
      border-color: transparent transparent transparent $gray;
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.type-panel--right {
  &:after {
    @include media-breakpoint-up(lg) {
      border-width: 40px 50px 40px 0px;
      border-color: transparent $gray transparent transparent;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.type-panel-billboard {
  min-height: 360px;
}
