/* VIDEO PLAYER */

.jwplayer {
  min-height: 100vh !important;
  width: 100% !important;
  @include media-breakpoint-down(sm) {
    min-height: 80vh !important;
  }
}

.jw-preview {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
