<!-- Modal -->
<div class="modal fade" id="kies-een-plaats-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Kies een plaats</h5>
        <form action="" class="modal-form">
          <div class="form-group mb-0">
            <input id="modal-search-field" type="text" class="form-control" placeholder="Zoeken">
            <i class="icon-search form-icon"></i>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <div id="modal-search-list">
          <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-1" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-1">
                  Almere<span class="filter-radio__counter">(12)</span>
                </label>
              </a>
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-2" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-2">
                  Lorem <span class="filter-radio__counter">(13)</span>
                </label>
              </a>
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-3" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-3">
                  Ipsum <span class="filter-radio__counter">(14)</span>
                </label>
              </a>
            </div>

            <div class="col-md-4 mb-4 mb-md-0">
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-4" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-4">
                  Sit<span class="filter-radio__counter">(22)</span>
                </label>
              </a>
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-5" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-5">
                  Amet <span class="filter-radio__counter">(99)</span>
                </label>
              </a>
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-6" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-6">
                  Donec <span class="filter-radio__counter">(71)</span>
                </label>
              </a>
            </div>

            <div class="col-md-4">
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-7" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-7">
                  nisi<span class="filter-radio__counter">(22)</span>
                </label>
              </a>
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-8" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-8">
                  dapibus <span class="filter-radio__counter">(99)</span>
                </label>
              </a>
              <a href="#" class="filter-radio">
                <input id="styled-radios-modal-9" type="radio" name="styled-radios-modal" value="option1">
                <label for="styled-radios-modal-9">
                  sodales <span class="filter-radio__counter">(71)</span>
                </label>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>