<!-- Modal -->
<div class="modal fade" id="kies-een-plaats-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Kies een plaats</h5>
        <form action="" class="modal-form">
          <div class="form-group mb-0">
            <input id="modal-search-field" type="text" class="form-control" placeholder="Zoeken">
            <i class="icon-search form-icon"></i>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <div id="modal-search-list">
          <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
              <a href="#" class="link-radio">Almere<span class="link-radio__counter">(12)</span></a>
              <a href="#" class="link-radio">Lorem<span class="link-radio__counter">(13)</span></a>
              <a href="#" class="link-radio">Ipsum<span class="link-radio__counter">(14)</span></a>
            </div>

            <div class="col-md-4 mb-4 mb-md-0">
              <a href="#" class="link-radio">Sit<span class="link-radio__counter">(22)</span></a>
              <a href="#" class="link-radio">Amet<span class="link-radio__counter">(99)</span></a>
              <a href="#" class="link-radio">Donec<span class="link-radio__counter">(71)</span></a>
            </div>

            <div class="col-md-4">
              <a href="#" class="link-radio">nisi<span class="link-radio__counter">(22)</span></a>
              <a href="#" class="link-radio">dapibus<span class="link-radio__counter">(99)</span></a>
              <a href="#" class="link-radio">sodales<span class="link-radio__counter">(71)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>