<!-- Modal -->
<div class="modal modal--scrollable fade" id="kies-een-plaats-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Kies een plaats</h5>
        <form class="search-filter-form">
          <div class="form-group mb-0">
            <input id="search-field" type="text" class="form-control bg-transparent input-search" placeholder="Zoeken">
            <i class="icon-search form-icon"></i>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <div id="search-list">
          <div class="row">
            <div class="col-md-4">
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
              <a href="#" class="filter-radio">Almere<span class="filter-radio__counter">(12)</span></a>
              <a href="#" class="filter-radio">Lorem<span class="filter-radio__counter">(13)</span></a>
              <a href="#" class="filter-radio">Ipsum<span class="filter-radio__counter">(14)</span></a>
            </div>

            <div class="col-md-4">
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">Sit<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">Amet<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">Donec<span class="filter-radio__counter">(71)</span></a>
            </div>

            <div class="col-md-4">
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
              <a href="#" class="filter-radio">nisi<span class="filter-radio__counter">(22)</span></a>
              <a href="#" class="filter-radio">dapibus<span class="filter-radio__counter">(99)</span></a>
              <a href="#" class="filter-radio">sodales<span class="filter-radio__counter">(71)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="identiteit-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Identiteit</h5>
      </div>
      <div class="modal-body">
        <p>Kies een identiteit om makkelijker een passend verpleeghuis of verzorgingshuis in Rotterdam te vinden.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="soort-zorg-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Soort zorg</h5>
      </div>
      <div class="modal-body">
        <p>Kies een identiteit om makkelijker een passend verpleeghuis of verzorgingshuis in Rotterdam te vinden.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="digitale-diensten-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Digitale diensten</h5>
      </div>
      <div class="modal-body">
        <p>Kies een identiteit om makkelijker een passend verpleeghuis of verzorgingshuis in Rotterdam te vinden.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="afstand-tot-rotterdam-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-header">
        <h5 class="modal-title">Afstand tot Rotterdam</h5>
      </div>
      <div class="modal-body">
        <p>Kies een identiteit om makkelijker een passend verpleeghuis of verzorgingshuis in Rotterdam te vinden.</p>
      </div>
    </div>
  </div>
</div>