/* FOOTER */

$footer-bg: $mine-shaft;
$footer-color: #afafaf;
$footer-fs: 14px;

.footer {
  padding: 45px 0;
  background: $footer-bg;
  color: $footer-color;
  font-size: $footer-fs;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
  .h4 {
    @include media-breakpoint-down(sm) {
      font-size: 24px !important;
    }
  }
  h5 {
    @include media-breakpoint-down(sm) {
      font-size: 18px !important;
    }
  }
  >.container {
    @include media-breakpoint-down(md) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  a {
    color: $footer-color;
    font-family: $font-semibold;
    @include media-breakpoint-down(md) {
      font-size: 20px !important;
    }
    >i {
      @include media-breakpoint-down(md) {
        font-size: 30px !important;
      }
    }
  }
}

.footer__item {
  &+.footer__item {
    margin-top: 330px;
    @include media-breakpoint-down(md) {
      margin-top: 380px;
    }
  }
}
