/* BEST CHOICE */

.best-choice {
    @extend .d-flex,
    .flex-column,
    .flex-lg-row,
    .align-items-lg-center;
}

.best-choice__main {
    @extend .flex-shrink-0;
    box-shadow: 0 0 30px 0 rgba(0, 54, 53, 0.05);

    @include media-breakpoint-up(lg) {
        width: 540px;
    }

    @include media-breakpoint-up(xl) {
        width: 560px;
    }

    @include media-breakpoint-up(xxl) {
        width: 635px;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 60px;
    }
}

.best-choice__description {
    @extend .flex-fill,
    .bg-gray,
    .d-flex,
    .flex-column;

    padding: 60px 15px;

    @include media-breakpoint-up(lg) {
        padding: 80px 32px;
    }

    @include media-breakpoint-down(sm) {
        margin-left: -.75rem;
        margin-right: -.75rem;
    }
}

.best-choice__description__item {
    @extend .d-flex,
    .align-items-start;

    &+.best-choice__description__item {
        margin-top: 30px;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
        }
    }
}

.best-choice__description__icon {
    @extend .flex-shrink-0,
    .me-4,
    .text-warning;
    font-size: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 36px;
    }
}

.best-choice__main-grid {
    @extend .d-flex,
    .flex-column,
    .flex-md-row,
    .flex-wrap;
    padding: 10px;

    @include media-breakpoint-up(md) {
        padding: 22px;
    }
}

.best-choice__main-grid-item {
    @extend .flex-fill;
    padding: 20px 10px;


    &--image-box {
        @include media-breakpoint-up(md) {
            order: 1;
            width: 50%;
            border-right: 1px solid $muted;
        }

        @include media-breakpoint-down(md) {
            border-bottom: 1px solid $muted;
        }
    }

    &--description-box {
        @extend .w-100;
        margin-top: 3px;

        @include media-breakpoint-up(md) {
            border-top: 1px solid $muted;
            order: 3;
        }

        @include media-breakpoint-down(md) {
            border-bottom: 1px solid $muted;
        }
    }

    &--rating-box {
        @include media-breakpoint-up(md) {
            order: 2;
            width: 50%;
        }
    }
}