/* DESCRIPTIONS */

.descriptions {
    @extend .position-relative;
}

.description {
    @extend .d-flex,
    .align-items-md-center,
    .flex-column,
    .flex-md-row;

    &:nth-child(even) {
        @extend .flex-md-row-reverse;
    }

    &+.description {
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            margin-top: 60px;
        }
    }
}

.description-icon-holder {
    @extend .flex-shrink-0,
    .text-md-center;

    @include media-breakpoint-up(md) {
        width: 342px;
    }
}

.description-content {
    @extend .flex-fill;
}

.description-icon-box {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center,
    .text-success,
    .rounded-circle,
    .mb-4,
    .mb-md-0;
    width: 103px;
    height: 103px;
    background-color: rgba(251, 251, 251, 0.9);
    font-size: 55px;

    @include media-breakpoint-up(md) {
        width: 282px;
        height: 282px;
        font-size: 148px;
    }
}