/* HOME HERO */

.home-hero {
    @extend .text-center,
    .text-lg-start;
    background-image: linear-gradient(to top, #f0f0f0, rgba(251, 251, 251, 0));
    padding: 90px 0 36px 0;

    @include media-breakpoint-up(lg) {
        padding: 105px 0 24px 0;
    }
}

.home-hero__img {
    @extend .w-100,
    .d-block,
    .mx-auto;
    max-width: 205px;

    @include media-breakpoint-up(lg) {
        max-width: 420px;
    }
}