/* INFO BOX */

.info-box {
    @extend .text-center,
    .mx-auto;
    padding: 30px 15px;
    border: solid 2px $success;
    max-width: 920px;
}

.info-box__text {
    @extend .base-font-regular;
    font-size: 16px;

    @include media-breakpoint-up(md) {
        font-size: 22px;
    }
}