/* SECTION */

.section {
    padding: 40px 0;

    @include media-breakpoint-up(lg) {
        padding: 80px 0;
    }

    &--sm {
        @include media-breakpoint-up(lg) {
            padding: 45px 0;
        }
    }

    &--md {
        @include media-breakpoint-up(lg) {
            padding: 60px 0;
        }
    }
}