/* FOOTER */
.footer {
  padding: 150px 0;
  @extend .text-white, .bg-black;
  @include media-breakpoint-up(md) {
    padding: 200px 0;
  }

  .apple-btn {
    margin: 100px auto;
  }
}

.footer__content {
  display: grid;
  grid-gap: 50px;
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(1,auto 1fr auto);
  }
  @include media-breakpoint-up(lg) {
    grid-gap: 90px;
  }
}

.footer__logo {
  @extend .d-block, .mx-auto, .mr-lg-0;
  width: 56px;
}

.footer__nav-holder {
  @extend .px-4, .px-sm-0;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3,1fr);
  @include media-breakpoint-up(sm) {
    grid-gap: 70px;
  }
  @include media-breakpoint-up(xl) {
    grid-gap: 100px;
  }
}

.footer__nav {
  @extend .d-flex, .flex-column, .align-items-start;
}

.footer__nav-link {
  @extend .d-inline-block, .font-bold, .text-white;
  font-size: 18px;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }

  &+.footer__nav-link {
    margin-top: 10px;
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
  }
}

.footer__social {
  @extend .d-flex, .justify-content-center, .justify-content-md-end, .mb-4, .mb-sm-3, .h3;

  &-item {
    @extend .d-inline-block, .text-white;

    &:not(:first-child) {
      @extend .ml-3;
    }
  }
}