<!-- Modal subscribing -->
<div class="modal modal--transparent fade text-white" id="modal-subscribing" tabindex="-1" role="dialog" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  </button>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2 class="title-lg">Thank you!</h2>
        <h2 class="font-regular mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</h2>
        <a href="#" class="btn btn-lg btn-outline-primary-second font-bold">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>