<!-- Modal subscribing -->
<div class="modal modal--transparent fade text-white" id="modal-subscribing" tabindex="-1" role="dialog" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  </button>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2 class="title-lg">Thank you!</h2>
        <h2 class="font-regular mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</h2>
        <a href="#" class="btn btn-lg btn-outline-primary-second font-bold">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal order -->
<div class="modal modal--transparent fade text-white" id="modal-order" tabindex="-1" role="dialog" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  </button>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-4 col-md-5 mb-4 mb-md-0 text-md-right">
            <h2>Order# 948947452</h2>
            <p>A confirmation has been sent to: <br /> <i>lorem.ipsum@lirem.com</i></p>
            <small>Please contact us at lorem.ipsum@lirem.com for any further questions or concerns your order.</small>
          </div>

          <div class="col-xl-9 col-lg-8 col-md-7">
            <h1 class="title-xl">Thank you!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>