<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand mr-md-5" href="#">
    <img src="assets/images/elements/logo.svg" alt="" class="w-100">
  </a>
  <button type="button" class="navbar-form-toggler" data-toggle="collapse" data-target="#navbarForm">
    <i class="glycotech-icon-magnifying-glass"></i>
  </button>

  <button class="navbar-toggler glycotech-icon-bars" type="button">
  </button>

  <div class="collapse navbar-collapse navbar-form-mobile" id="navbarForm">
    <form class="navbar-form my-2 flex-fill d-flex">
      <div class="position-relative w-100">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" class="btn btn-submit glycotech-icon-magnifying-glass px-3"></button>
      </div>
    </form>
  </div>

  <div class="offcanvas-holder">
    <button type="button" class="offcanvas-close">
      <i class="glycotech-icon-cross"></i>
    </button>
    <ul class="navbar-nav font-bold">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          products
        </a>
        <div class="dropdown-menu dropdown-menu--lg pb-0">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex px-sm-4 py-2">
                <i class="glycotech-icon-carbohydrates dropdown-icon"></i>
                <div>
                  <h5 class="dropdown-header">Carbohydrate Polymers</h5>
                  <a class="dropdown-item" href="#">Univalent Biotinylated Probes</a>
                  <a class="dropdown-item" href="#">Multivalent Biotinylated Polymers</a>
                  <a class="dropdown-item" href="#">Multivalent Fluoresceinated Polymers</a>
                  <a class="dropdown-item" href="#">Multivalent Polymers</a>
                  <a class="dropdown-item" href="#">Sets of Carbohydrate Polymers</a>
                </div>
              </div>

              <div class="d-flex px-sm-4 py-2">
                <i class="glycotech-icon-synthetic dropdown-icon"></i>
                <div>
                  <h5 class="dropdown-header">Conjugates</h5>
                  <a class="dropdown-item" href="#">HSA / BSA Conjugates</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex px-sm-4 py-2">
                <i class="glycotech-icon-analog dropdown-icon"></i>
                <div>
                  <h5 class="dropdown-header">Cell Adhesion Apparatus</h5>
                  <a class="dropdown-item" href="#">Parallel Plate Flow Chambers</a>
                  <a class="dropdown-item" href="#">Wash Chamber for Static Cell Adhesion</a>
                  <a class="dropdown-item" href="#">Chamber for Cell Adhesion on TLC Plates</a>
                </div>
              </div>

              <div class="d-flex px-sm-4 py-2">
                <i class="glycotech-icon-apparatus dropdown-icon"></i>
                <div>
                  <h5 class="dropdown-header">Carbohydrates & Reagents</h5>
                  <a class="dropdown-item" href="#">Polyisobutylmethacrylate beads</a>
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown-menu-footer">
            <a href="#">&#187; Browse our entire product catalog.</a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          support
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><i class="glycotech-icon-contact dropdown-icon"></i> Contact Us</a>
          <a class="dropdown-item" href="#"><i class="glycotech-icon-protocol dropdown-icon"></i> Protocols</a>
          <a class="dropdown-item" href="#"><i class="glycotech-icon-request dropdown-icon"></i> Request COA / SDS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ordering
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="glycotech-icon-distributor dropdown-icon"></i> Distributors</a>
          <a class="dropdown-item" href="#"><i class="glycotech-icon-order dropdown-icon"></i> How to Order</a>
          <a class="dropdown-item" href="#"><i class="glycotech-icon-quote dropdown-icon"></i> Request Quote</a>
        </div>
      </li>
    </ul>
    <form class="navbar-form my-2 flex-fill d-none d-lg-flex">
      <div class="position-relative w-100">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" class="btn btn-submit glycotech-icon-magnifying-glass px-3"></button>
      </div>
    </form>
  </div>
</nav>