<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand mr-md-5" href="#">
      <img src="assets/images/elements/logo.png" alt="" class="w-100">
    </a>
    <button class="navbar-toggler glycotech-icon-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav font-bold mt-3 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            products
          </a>
          <div class="dropdown-menu pb-0">
            <div class="dropdown-menu-body">
              <a class="dropdown-item" href="#"><i class="glycotech-icon-carbohydrates dropdown-icon"></i> Action</a>
              <a class="dropdown-item" href="#"><i class="glycotech-icon-synthetic dropdown-icon"></i> Another action</a>
              <a class="dropdown-item" href="#"><i class="glycotech-icon-analog dropdown-icon"></i> Something else here</a>
              <a class="dropdown-item" href="#"><i class="glycotech-icon-antibodies dropdown-icon"></i> Action</a>
              <a class="dropdown-item" href="#"><i class="glycotech-icon-apparatus dropdown-icon"></i> Another action</a>
              <a class="dropdown-item" href="#"><i class="glycotech-icon-support dropdown-icon"></i> Something else here</a>
            </div>

            <div class="dropdown-menu-footer">
              <a href="#">&#187; Lorem ipsum</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            support
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="glycotech-icon-contact dropdown-icon"></i> Action</a>
            <a class="dropdown-item" href="#"><i class="glycotech-icon-protocol dropdown-icon"></i> Another action</a>
            <a class="dropdown-item" href="#"><i class="glycotech-icon-request dropdown-icon"></i> Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ordering
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="glycotech-icon-distributor dropdown-icon"></i> Action</a>
            <a class="dropdown-item" href="#"><i class="glycotech-icon-order dropdown-icon"></i> Another action</a>
            <a class="dropdown-item" href="#"><i class="glycotech-icon-quote dropdown-icon"></i> Something else here</a>
            <a class="dropdown-item" href="#"><i class="glycotech-icon-catalog dropdown-icon"></i> Something else here</a>
          </div>
        </li>
      </ul>
      <form class="navbar-form my-2 my-lg-0 ml-lg-5 flex-fill d-md-flex">
        <div class="position-relative w-100">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button type="submit" class="btn btn-submit glycotech-icon-search"></button>
        </div>
      </form>
    </div>
  </div>
</nav>