<div class="pre-header">
  <div class="container d-flex align-items-center justify-content-between px-0 px-md-3">
    <ul class="pre-header-nav nav d-none d-md-inline-flex text-uppercase font-medium">
      <li class="nav-item">
        <a class="nav-link pl-0" href="#">Lorem ipsum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">distributors</a>
      </li>
    </ul>

    <a href="#" class="btn btn-primary pre-header-btn">cart $0.00 (10)</a>
  </div>
</div>