<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-sm-0 text-center">
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link">
                <i class="eterna-icon-github"></i>
              </a>
            </li><!--social__item-->
            <li class="social__item">
              <a href="#" class="social__link">
                <i class="eterna-icon-twitter"></i>
              </a>
            </li><!--social__item-->
            <li class="social__item">
              <a href="#" class="social__link">
                <i class="eterna-icon-medium"></i>
              </a>
            </li><!--social__item-->
            <li class="social__item">
              <a href="#" class="social__link">
                <i class="eterna-icon-reddit-alien"></i>
              </a>
            </li><!--social__item-->
          </ul><!--social-->
        </div><!--col-->

        <div class="col-12 col-sm-6 col-md-4 text-center">
           <a href="#">contact@eterna.tech</a>
        </div><!--col-->

        <div class="col-12 col-sm-6 col-md-4 d-none d-md-block text-right">
          <a href="#" class="text-primary underline">Terms of Use</a>
        </div><!--col-->
      </div><!--row-->
    </div><!--container-->
  </div><!--footer__top-->

  <div class="footer__bottom d-block d-md-none">
    <div class="container text-center">
      <a href="#" class="text-primary underline">Terms of Use</a>
    </div><!--container-->
  </div><!--footer__top-->
</footer><!--footer-->
