<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/logo.svg" class="w-100" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="eterna-icon-menu"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Whitepaper</a>
            <a class="dropdown-item" href="#">FAQs</a>
            <a class="dropdown-item" href="#">Explorer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How it works </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
