<footer class="footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-lg-4 order-lg-2 text-right text-lg-center">
        <img src="assets/images/elements/logo-footer.png" alt="" class="footer__logo">
      </div><!--col-->

      <div class="col-6 col-lg-4 order-lg-3 text-left text-lg-right">
        <ul class="social mb-0 mt-4 mt-lg-0">
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="biogal-icon-facebook"></i>
            </a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="biogal-icon-youtube"></i>
            </a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="biogal-icon-linkedin"></i>
            </a>
          </li><!--social__item-->
        </ul><!--social-->
        <p class="footer__copyright d-none d-lg-block mt-3">© Biogal, Galed Labs. Acs Ltd. All rights reserved</p>
      </div><!--col-->

      <div class="col col-lg-4 order-lg-1">
        <h5 class="footer__title font-base-light text-white mb-0 d-none d-lg-block">To avoid over vaccination -<br class="d-none d-xl-inline-block"> <span class="font-base-black"><span class="text-uppercase">Ask your vet about</span> VacciCheck</span></h5>
        <p class="d-lg-none mt-3 text-uppercase text-center">© Biogal, Galed Labs. Acs Ltd. All rights reserved</p>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-fluid-->
</footer><!--footer-->
