/* Fonts */


//Bariol
@font-face {
    font-family: 'bariollight';
    src: url('#{$font-path}bariol/bariol_light-webfont.woff2') format('woff2'),
         url('#{$font-path}bariol/bariol_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bariolregular';
    src: url('#{$font-path}bariol/bariol_regular-webfont.woff2') format('woff2'),
         url('#{$font-path}bariol/bariol_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bariolbold';
    src: url('#{$font-path}bariol/bariol_bold-webfont.woff2') format('woff2'),
         url('#{$font-path}bariol/bariol_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//Display regular
@font-face {
    font-family: 'playfair_displayregular';
    src: url('#{$font-path}playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayitalic';
    src: url('#{$font-path}playfairdisplay/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('#{$font-path}playfairdisplay/playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_display_blackregular';
    src: url('#{$font-path}playfairdisplay/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('#{$font-path}playfairdisplay/playfairdisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_display_blackitalic';
    src: url('#{$font-path}playfairdisplay/playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}playfairdisplay/playfairdisplay-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displaybold';
    src: url('#{$font-path}playfairdisplay/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}playfairdisplay/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('#{$font-path}playfairdisplay/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}playfairdisplay/playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



//Better Saturday
@font-face {
    font-family: 'better_saturdayregular';
    src: url('#{$font-path}bettersaturday/bettersaturday-webfont.woff2') format('woff2'),
         url('#{$font-path}bettersaturday/bettersaturday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
