/* ACCORDION */

.accordion {
  .card-header {
    background: none;
  }
  .tab__icon {
    @extend .flex-shrink-0;
    margin-right: 15px;
    &:before {
      @extend .mx-0;
    }
  }
}

.accordion__btn {
  position: relative;
  font-family: $font-medium;
  padding-right: 25px;
  @extend .d-flex, .align-items-center, .font-icons, .crypto-icon-up-open;
  @include transition(0ms);
  @include themify($themes) {
    color: themed('tabLinkColor');
  }
  &:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include themify($themes) {
      color: themed('accordionBtnArrow');
    }
  }
  &.collapsed {
    @extend .crypto-icon-down-open;
  }
}
