/* BUTTONS */

.btn {
  font-family: $font-medium;
  padding: 8.5px 22px;
  border-radius: 4px;
  &:hover, &:focus {
    box-shadow: none !important;
  }
  &.btn-success {
    @include button-variants($bg: $success, $color: $white);
  }
  &.btn-link {
    color: $white;
    @include themify($themes) {
      color: themed('btnLinkColor');
    }
  }
  &.btn-brand {
    @include themify($themes) {
      color: themed('btnBrandColor');
      background-color: themed('btnBrandBackgroundColor');
    }
  }
  &.btn-brand-secondary {
    @include themify($themes) {
      color: themed('btnBrandSecondaryColor');
      background-color: themed('btnBrandSecondaryBackgroundColor');
    }
  }
  &.btn-telegram {
    @include button-variants($bg: $telegram-brand, $color: $white)
  }
  &.btn-facebook {
    @include button-variants($bg: $facebook-brand, $color: $white)
  }
  &.btn-twitter {
    @include button-variants($bg: $twitter-brand, $color: $white)
  }
  &.btn-has-shadow {
    box-shadow: 0 2px 4px 0 rgba($black, .08);
  }
  &.btn-xl {
    padding: 12px 28px;
    font-size: 16px;
  }
  &.btn-lg {
    padding: 14.5px 26px;
  }
  &.btn-md {
    padding: 13.5px 26px;
  }
  &.btn-sm {
    padding: 7.5px 24px;
  }
  &.btn-xs {
    padding: 5.5px 12px;
  }
  &.btn-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.btn-sm-block {
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      display: block;
    }
  }
}


.btn-reset {
  border: none;
  background: none;
}
