/* CONTENT HOLDER */

.content-holder {
  background: red;
  @include media-breakpoint-up(md) {
    border-radius: 0 4px 4px 0;
    margin-left: -15px;
  }
}

.content-holder__body {
  padding: 25px;
  @include media-breakpoint-up(md) {
    padding: 35px;
  }
}
