/* CRYPTO */

$crypto-logo-size: 52px;
$crypto-title-color: $silver;

.crypto {
  margin-bottom: 20px;
}

.crypto__item {
  @extend .d-flex, .align-items-center;
  &+.crypto__item {
    margin-top: 15px;
  }
}

.crypto__logo {
  @extend .flex-shrink-0;
  border-radius: 50%;
  width: $crypto-logo-size;
  height: $crypto-logo-size;
  margin-right: 10px;
}


.crypto__body {
  font-size: 15px;
  @include themify($themes) {
    color: themed('cryptoSidebarColor');
  }
}

.crypto__title {
  font-size: 17px;
  line-height: 1;
  color: $crypto-title-color;
  margin-bottom: 2px;
}

.crypto__rate {
  margin-left: 6px;
  display: inline-block;
  &:after {
    font-family: $font-icons;
    display: inline-block;
    margin-left: 6px;
  }
}

.crypto__rate--down {
  color: $danger;
  &:after {
    content: '\e80c';
  }
}

.crypto__rate--up {
  color: $success;
  &:after {
    content: '\e80f';
  }
}
