/* CRYPTO LIST */

$cypto-vote-btn-color: #B2B5BC;
$crypto-list-logo-size: 34px;
$crypto-body-list-color: #7f8491;

.crypto-list {
}

.crypto-list__item {
  @extend .d-flex;
  &:not(:last-child) {
    .crypto-list__vote, .crypto-list__body, .crypto-list__logo-holder {
      @include themify($themes) {
        border-bottom: 1px solid themed('contentHolderBorderColor');
      }
    }
  }
}

.crypto-list__vote, .crypto-list__body, .crypto-list__logo-holder {
  padding-top: 15px;
  padding-bottom: 15px;
}

.crypto-list__vote {
  padding-left: 20px;
  padding-right: 20px;
  @extend .d-flex, .flex-column, .flex-shrink-0, .align-items-center;
  text-align: center;
  @include media-breakpoint-up(md) {
    border-bottom: none !important;
    border-top: none !important;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.crypto-list__vote__btn {
  font-size: 20px;
  color: $cypto-vote-btn-color;
  &:hover {
    color: $success;
  }
  &:focus {
    color: $cypto-vote-btn-color;
  }
}
.crypto-list__vote__counter {
  color: $success;
  font-size: 15px;
  font-family: $font-medium;
}


.crypto-list__body {
  @extend .d-flex, .align-items-start;
  flex: 1;
}
.crypto-list__body__logo {
  @extend .img-fluid;
  max-width: 80px;
  margin-right: 20px;
}

.crypto-list__title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 20px;
  }
  @include themify($themes) {
    color: themed('cryptoListTitleColor');
  }
}


.crypto-list__logo-holder {
  @extend .flex-shrink-0;
  padding-left: 15px;
  padding-right: 15px;
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
  }
}
.crypto-list__logo {
  border-radius: 50%;
  width: $crypto-list-logo-size;
  height: $crypto-list-logo-size;
  @extend .d-inline-flex, .align-items-center, .justify-content-center, .flex-shrink-0;
  @include themify($themes) {
    border: 1px solid themed('cryptoListLogoBorderColor');
  }
}

.crypto-list__logo__icon {
  font-size: 14px;
  @include themify($themes) {
    color: themed('cryptoListLogoIconColor');
  }
}


.crypto-list__body__list {
  @extend .d-inline-flex, .align-items-center, .list-unstyled, .flex-wrap;
}

.crypto-list__body__list__item {
  color:$crypto-body-list-color;
  font-family: $font-medium;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
  &:not(:last-child) {
    margin-right: 12px;
    @include media-breakpoint-down(xs) {
      margin-right: 5px;
    }
  }
}

.crypto-list__body__list__link {
  color:$crypto-body-list-color;
  &:hover, &:focus {
    color: $success;
  }
}
