/* CRYPTO ARTICLE */

$crypto-article-sidebar-color: #7f8491;

.crypto-article {
  @extend .d-flex;
}

.crypto-article__body {
  flex: 1;
  padding: 40px 40px 40px 110px;
  border-radius: 4px 0 0 4px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 40px 20px 40px 60px;
  }
  @include media-breakpoint-down(sm) {
    padding: 25px 15px;
  }
  @include themify($themes) {
    color: themed('cryptoArticleBodyColor');
    background-color: themed('cryptoArticleBodyBackgroundColor');
  }
  .crypto-list__title {
    cursor: auto;
  }
  .crypto-list__vote {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 20px;
    }
    @include media-breakpoint-down(md) {
      left: 0px;
      top: 16px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 15px;
      padding: 0;
      margin-top: -20px;
    }
  }
}

.crypto-article__header {
  @extend .d-flex;
}

.crypto-article__sidebar {
  padding: 40px 25px;
  min-width: 204px;
  flex-shrink: 0;
  border-radius: 0px 4px 4px 0;
  color: $crypto-article-sidebar-color;
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 25px 15px;
  }
  @include themify($themes) {
    background-color: themed('cryptoArticleSidebarBackgroundColor');
  }
  p, ul, ol {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.crypto-article__sidebar__logo {
  @extend .img-fluid, .rounded-circle, .d-block;
  max-width: 34px;
  margin-bottom: 10px;
}

.crypto-article__link {
  text-decoration: underline;
  color: $crypto-article-sidebar-color;
}
