/* FEEDBACK */

$feedback-avatar-size: 32px;

.feedback {
  @extend .d-flex, .align-items-center;
}

.feedback__avatar {
  @extend .flex-shrink-0, .img-fluid;
  border-radius: 50%;
  margin-right: 10px;
  width: $feedback-avatar-size;
  height: $feedback-avatar-size;
}

.feedback__name {
  font-size: 12px;
  opacity: .57;
}
