/* FORMS */

$field-height: 34px;
$field-height-lg: 50px;
$field-color: $muted;
$field-font-family: $font-medium;
$field-control-btn: #707F88;
$placeholder-line-height: 22px;
$placeholder-color: $muted;
$placeholder-font-size: 13px;
$placeholder-font-style: $font-medium;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	height: $field-height-lg;
	color: $field-color;
	border: none;
	border-radius: 4px;
	font-size: $placeholder-font-size;
	font-family: $field-font-family;
	@include themify($themes) {
		background-color: themed('fieldBackroundColor');
		color: themed('fieldColor');
	}
	@include custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style, $line-height: $placeholder-line-height);
	&:focus {
		box-shadow: none !important;
		color: $white;
	}
}

.form-control-lg {
	height: $field-height-lg;
	font-size: $placeholder-font-size;
}

.form-control--secondary {
	@include themify($themes) {
		background-color: themed('fieldSecondaryBackroundColor');
	}
}

.form-group {
	position: relative;
}


.form-group--search {
	.form-control {
		padding-left: 40px;
	}
	.btn-cancel, .btn-submit {
		position: absolute;
		color: $field-color;
		top: 0;
		height: 100%;
	}
	.btn-cancel {
    right: 0px;
		padding: 5px 7.5px;
  }
	.btn-submit {
		left: 5px;
		padding: 5px;
	}
}

.form-group--password {
	.form-control {
		padding-right: 50px;
	}
	.btn-toggle-password {
		top: 37px;
    right: 10px;
		padding: 5px 7.5px;
		position: absolute;
  }
}

.form-group--has-indicator {
	.form-control {
		@include media-breakpoint-down(sm) {
			padding-left: 40px;
		}
	}
	.indicator-rounded {
		@extend .d-md-none, .d-flex, .align-items-center, .px-3;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}
}


label {
	font-size: 12px;
	font-family: $font-medium;
	margin-bottom: 8px;
	@include themify($themes) {
		color: themed('labelColor');
	}
}

textarea {
	resize: none;
	min-height: 100px;
	padding: 15px;
}

.field-counter {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	@include themify($themes) {
		color: themed('labelColor');
	}
}

.field-control-btn {
	color: $field-control-btn;
	font-size: 16px;
	&:hover, &:focus {
		color: darken($field-control-btn, 10%);
	}
}
