/* LIST CHECKED */

.list-checked {}

.list-checked__item {
  @extend .d-flex, .align-items-start;
  font-size: 13px;
  line-height: 2;
  @extend .font-icons, .crypto-icon-check-circle;
  &:before {
    @extend .d-inline-block, .flex-shrink-0;
    margin-right: 10px;
    transform: translateY(1px);
  }
}
