/* PANEL */


.panel {
}

.panel__body {
  border-radius: 3px;
  padding: 20px 15px;
  @include themify($themes) {
    color: themed('panelColor');
    background-color: themed('panelBackgroundColor');
  }
  @include media-breakpoint-up(md) {
    padding: 25px;
  }
}
