/* PANEL BANNER */


.panel-banner {
  @include themify($themes) {
    color: themed('pannelBannerColor');
  }
}

.panel-banner__header {
  @include themify($themes) {
    background-color: themed('pannelBannerHeaderBackgroundColor');
  }
  padding: 0px 20px;
  border-radius: 4px 4px 0 0;
}

.panel-banner__body {
  @include themify($themes) {
    background-color: themed('pannelBannerBodyBackgroundColor');
  }
  padding: 55px 20px 20px 20px;
  border-radius: 0 0 4px 4px;
}

.panel-banner__footer {

}

.panel-banner__footer__btn {
  border-radius: 0 0 4px 4px;
}



.banner-logo {
  @extend .img-fluid, .mx-auto, .d-block;
  max-width: 140px;
}
.banner-logo--floated {
  transform: translateY(40px);
}

.theme-light {
  .banner-logo--theme-dark {
    display: none !important;
  }
}
.theme-dark {
  .banner-logo--theme-light {
    display: none !important;
  }
}

.panel-banner__title {
  font-size: 16px;
}
