/* PRICE PLAN */

.price-plan {
  @extend .d-flex, .flex-wrap;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    flex-direction: column !important;
  }
}

.price-plan__item {
  flex: 1;
  &+.price-plan__item {
    @include media-breakpoint-up(md) {
      margin-left: 25px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 25px;
    }
  }
}

.price-plan__body {
  padding: 54px 15px;
  text-align: center;
  border-radius: 4px;
  @include themify($themes) {
    color: themed('priceColor');
    background-color: themed('priceBackgroundColor');
    border-top: 5px solid themed('priceBorderColor');
  }
}

.price-plan__footer__btn {
  border-radius: 0 0 4px 4px;
}

.price-plan__title {
  font-size: 97px;
  font-family: $font-regular;
  display: inline-block;
  position: relative;
  line-height: 75%;
  @include media-breakpoint-down(md) {
    font-size: 66px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 97px;
  }
  sup {
    vertical-align: top;
    transform: translateY(25px);
    margin-right: 10px;
  }
  sub {
    vertical-align: bottom;
    transform: translateY(-15px);
    margin-left: 10px;
  }
}

.price-plan__title__small {
  font-size: 14px;
  display: inline-block;
  color: #859ba6;
}
