/* SORTABLE */

$sortable-handle-color: #83888D;

.sortable__item {
  position: relative;
  @extend .font-icons, .crypto-icon-menu;
  &:before {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $sortable-handle-color;
    z-index: 20;
    font-size: 24px;
    cursor: move;
	  cursor: -webkit-grabbing;
  }
  .card {
    padding-right: 50px;
  }
}
