/* TAB */

$tab-link-active-line-size: 40px;

.tab {
  @extend .align-items-center, .flex-wrap;
  margin-bottom: calc(#{$tab-link-active-line-size} - 20px);
}

.tab__item {
  @extend .flex-1, .flex-shrink-0;
  &+.tab__item {
    margin-left: 20px;
    @include media-breakpoint-down(lg) {
      margin-left: 15px;
    }
  }
}

.tab__link {
  @extend .d-flex, .flex-column, .align-items-center;
  border-radius: 4px;
  position: relative;
  padding: 15px;
  font-family: $font-medium;
  @include transition(0ms);
  @include themify($themes) {
    background-color: themed('tabLinkBackgroundColor');
    color: themed('tabLinkColor');
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: -$tab-link-active-line-size;
    height: $tab-link-active-line-size;
    width: 100%;
    display: block;
    @include themify($themes) {
      background-color: themed('tabLinkBackgroundColor');
    }
  }
  &.active {
    border-radius: 0;
    &:after {
      content: '';
    }
    .tab__icon {
      @include themify($themes) {
        color: themed('tabIconActiveColor');
      }
    }
  }
}

.tab__icon {
  font-size: 50px;
  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }
  @include themify($themes) {
    color: themed('tabIconColor');
  }
}

.tab__subtitle {
  font-family: $font-regular;
  font-size: 10px;
  display: block;
  @include themify($themes) {
    color: themed('tabSubTitle');
  }
}


.tab-content {
  border-radius: 4px;
  padding: 25px 20px;
  @include themify($themes) {
    background-color: themed('tabLinkBackgroundColor');
  }
}
