/* FORMS */

$field-height: 50px;
$field-color: #969696;
$field-font-size: 16px;
$field-font-style: $font-book;
$field-border-color: #969696;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
	height: $field-height;
	color: $field-color;
	font-size: $field-font-size;
	font-family: $field-font-style;
	border-color: $field-border-color;
	@include custom-placeholder($color: $field-color, $font-size: $field-font-size, $font-family: $field-font-style);
	&:focus {
		box-shadow: none;
		color: $field-color;
		border-color: $blue;
	}
}

.form-group {
	@include media-breakpoint-up(md) {
		margin-bottom: 40px;
	}
}


select, select.form-control {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNTVweCIgaGVpZ2h0PSIxMjcuNXB4IiB2aWV3Qm94PSIwIDYzLjc1IDI1NSAxMjcuNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDYzLjc1IDI1NSAxMjcuNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8ZyBpZD0iYXJyb3ctZHJvcC1kb3duIj4NCgkJPHBvbHlnb24gZmlsbD0iIzk5OTk5OSIgcG9pbnRzPSIwLDYzLjc1IDEyNy41LDE5MS4yNSAyNTUsNjMuNzUgCQkiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==');
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: right 10px center;
	padding-right: 35px;
}

select.form-control:not([size]):not([multiple]) {
	height: $field-height;
}

label {
	text-transform: uppercase;
	color: $blue;
	font-family: $font-bold;
	@include media-breakpoint-up(md) {
		font-size: 20px;
	}
}

textarea {
	resize: none;
	min-height: 230px;
}

.form-search {
	margin-bottom: 25px;
	@extend .d-md-flex, .align-items-center;
	.form-group {
		@include media-breakpoint-up(md) {
			flex: 1;
		}
		&+.form-group {
			@include media-breakpoint-up(md) {
				margin-left: 40px;
			}
		}
	}
	.btn-submit {
		flex-shrink: 0;
		font-size: 26px;
		background: $field-color;
		border-radius: 0;
		@include media-breakpoint-up(md) {
			margin-left: 10px;
			background: transparent;
		}
		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;
		}
	}
}
