/* LIST BULLET */

$list-bullet-size: 11px;

.list-bullet {
  @extend .list-unstyled;
  >li {
    position: relative;
    padding-left: 22px;
    &+li {
      margin-top: 22px;
    }
    &:before {
      content: '';
      display: inline-block;
      width: $list-bullet-size;
      height: $list-bullet-size;
      background: $blue;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}
