/* PAGER */

.pager {
  @extend .list-unstyled, .d-flex, .align-items-center, .justify-content-center;
}

.pager__item {
  position: relative;
  line-height: 100%;
  &+.pager__item {
    margin-left: 5px;
    padding-left: 10px;
    &:before {
      position: absolute;
      left: 0;
      content: "|";
      color: $blue;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.pager__link {
  line-height: 100%;
  color: $blue;
  font-size: 22px;
  font-family: $font-medium;
}
