/* PAGINATION */

.page-item {
  &.active {
    .page-link {
      background: transparent;
      color: $blue;
    }
  }
}

.page-link {
  border-radius: 0;
  border: none;
  font-size: 16px;
  font-family: $font-medium;
  color: #7492e8;
  text-transform: uppercase;
  &:hover {
    background: transparent;
    color: $blue;
  }
  &:focus {
    box-shadow: none;
  }
}

.page-link--control {
  color: $blue;
}
