html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: $body-font-family;
  color: $body-main-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
  height: 100%;
}

body {
  padding-top: $navbar-height;
  @extend .d-flex,
  .flex-column;

  @include media-breakpoint-up(lg) {
    padding-top: $navbar-height-desktop;
  }
}

.main {
  flex: 1 0 auto;
}

.body-has-hero {
  @extend .pt-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $title-font;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  font-size: 60px;

  @include media-breakpoint-down(md) {
    font-size: 46px;
  }
}

h2,
.h2 {
  font-size: 40px;

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

h3,
.h3 {
  font-size: 30px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
address,
ul,
ol {
  a {
    color: currentColor;
  }
}

.lead-sm {
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

button,
a {
  @include transition($base-animation);
  cursor: pointer;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

b {
  font-family: $font-base-bold;
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}