<section class="py-24">
  <div class="container">
    <div class="grid gap-8 xl:grid-cols-[488px_1fr] [&>*]:rounded">
      <div
        class="flex flex-col gap-[72px] bg-dark-500 p-8 text-white md:p-10 lg:flex-col-reverse lg:gap-24"
      >
        <div
          class="flex flex-col gap-4 lg:flex-row-reverse lg:items-end lg:justify-between"
        >
          <div
            class="flex h-16 w-16 shrink-0 items-center justify-center rounded-full bg-white text-dark-500 md:h-20 md:w-20"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 36 36"
              stroke-width="2"
              stroke="currentColor"
              class="h-7 w-7 md:h-9 md:w-9"
            >
              <path
                d="M11.7799 5.14258H7.84959C6.35468 5.14258 5.14282 6.35444 5.14282 7.84935C5.14282 20.556 15.4436 30.8569 28.1503 30.8569C29.6452 30.8569 30.8571 29.645 30.8571 28.1501V24.2198C30.8571 23.0515 30.1458 22.0009 29.0611 21.567L25.2959 20.0609C24.3215 19.6712 23.2118 19.847 22.4056 20.5188L21.433 21.3294C20.2977 22.2754 18.6285 22.1997 17.5836 21.1548L14.8449 18.4161C13.8 17.3712 13.7243 15.7019 14.6703 14.5667L15.4809 13.5941C16.1527 12.7878 16.3285 11.6782 15.9388 10.7038L14.4327 6.9386C13.9988 5.85387 12.9482 5.14258 11.7799 5.14258Z"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <a href="tel:+421901234567" class="title text-white"
            >+421 901 234 567</a
          >
        </div>
        <p class="text-lg lg:w-64">
          Ak vás zaujala ponuka našich služieb a produktov zavolajte nám.
        </p>
      </div>

      <div class="relative bg-gray-300 p-8 md:p-10 lg:mt-10 xl:mt-0">
        <img
          src="img/person.png"
          alt="person"
          class="absolute bottom-0 left-4 hidden w-full max-w-[272px] lg:block"
        />
        <div class="lg:pl-[280px]">
          <img
            src="img/preson-avatar.jpg"
            alt=""
            class="mb-12 h-[88px] w-[88px] rounded-full lg:hidden"
          />
          <p class="mb-4 text-black/60 md:mb-8">
            Náš skúsený tím je pre vás k dispozícii kedykoľvek, ručíme za
            kvalitné dodanie služieb a produktov našim klientom. Dlhoročné
            skúsenosti a desiatky pozitívnych referencií sú toho dôkazom.
          </p>
          <h6 class="md:md-4 mb-6 text-lg font-medium">
            Tomáš Varinský, obchodný riaditeľ
          </h6>
          <img
            src="img/sign.png"
            alt="sign"
            class="block w-full max-w-[240px]"
          />
        </div>
      </div>
    </div>
  </div>
</section>
