<section class="bg-dark-500 py-16 text-white md:py-24 lg:py-32 xl:py-36">
  <div
    class="container grid gap-10 lg:grid-cols-[1fr_443px] lg:items-center xl:gap-32"
  >
    <h2 class="h1">
      Najvyšší štandard<br />
      pre vašu ambulanciu
    </h2>
    <button
      type="button"
      class="btn btn-secondary min-h-[72px] !text-white hover:!bg-white hover:!text-dark-500 focus:!bg-white focus:!text-dark-500 active:!bg-white active:!text-dark-500 md:min-h-[111px] md:!gap-8 md:text-2xl"
      @click="modalContact = true"
    >
      Chcem najvyšší štandard
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 25"
        stroke-width="2"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path d="M3 12.5H21" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M16 7.5L21 12.5L16 17.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</section>

<img src="img/footer-banner.jpg" alt="" class="block w-full" />
