<header class="header">
  <div class="header__top">
    <a href="#" class="header__menu-toggle d-lg-none">
      <i class="coopermoon-icon-menu"></i>
    </a>
    <a href="#" class="header__logo">
      <img src="assets/images/elements/logo.png" alt="" class="w-100 d-none d-lg-block">
      <img src="assets/images/elements/logo-mobile.png" alt="" class="w-100 d-lg-none">
    </a>
    <ul class="header__list">
      <li class="header__list__item">
        <a href="#" class="header__list__link">
          <i class="coopermoon-icon-search"></i>
        </a>
      </li>
      <li class="header__list__item d-none d-lg-inline-block">
        <a href="#" class="header__list__link">
          <i class="coopermoon-icon-basket"></i>
        </a>
      </li>
      <li class="header__list__item d-none d-lg-inline-block">
        <a href="#" class="header__list__link">
          <i class="coopermoon-icon-user"></i>
        </a>
      </li>
    </ul><!--header__list-->
  </div><!--header__top-->

  <div class="header__bottom">
    <div class="container">
      <ul class="header__navbar">
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">HOME</a>
        </li>
        <li class="header__navbar__item dropdown">
          <a href="#" class="header__navbar__link dropdown-toggle" data-toggle="dropdown">PRODUCTS</a>
          <div class="dropdown-menu rounded-0 mt-0">
            <div class="container">
              <div class="row">
                <div class="col-lg-2 d-none d-lg-inline-block">
                  <a href="#" class="d-block">
                    <img src="assets/images/temp/dropdown-image-1.jpg" alt="" class="w-100 has-shadow has-border">
                  </a>
                </div><!--col-->
                <div class="col-lg-2">
                  <ul class="dropdown-list">
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">TRANSFORMERS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">UP & DOWN LIGHTS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">DOWN LIGHTS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">DIRECTIONAL</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">HANGING PENDANT</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">SOFFIT LIGHT</a>
                    </li>
                  </ul><!--dropdown-list-->
                </div><!--col-->
                <div class="col-lg-2">
                  <ul class="dropdown-list">
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">UNDERWATER</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">BULLET</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">TREE</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">PATHLIGHTS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">ELITE PATHLIGHTS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">DECK</a>
                    </li>
                  </ul><!--dropdown-list-->
                </div><!--col-->
                <div class="col-lg-2">
                  <ul class="dropdown-list">
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">SURFACE LIGHT</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">STEP LIGHT</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">WELL & IN-GROUND</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">JQ AMERICA LED</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">BRILLIANCE LED</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">TIMER</a>
                    </li>
                  </ul><!--dropdown-list-->
                </div><!--col-->
                <div class="col-lg-2">
                  <ul class="dropdown-list">
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">LAMPS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">LENS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">MOUNTS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">RISERS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">PHOTO CELL</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">WIRE</a>
                    </li>
                  </ul><!--dropdown-list-->
                </div><!--col-->
                <div class="col-lg-2">
                  <ul class="dropdown-list">
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">CLIPS</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="dropdown-list__link">LOUVERS</a>
                    </li>
                  </ul><!--dropdown-list-->
                </div><!--col-->
              </div><!--row-->
            </div><!--container-->
          </div><!--dropdown-menu-->
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">DISTRIBUTORS</a>
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">CONTRACTORS</a>
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">ABOUT US</a>
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">BLOG</a>
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">CATALOG</a>
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">DOWNLOADS</a>
        </li>
        <li class="header__navbar__item">
          <a href="#" class="header__navbar__link">CONTACT US</a>
        </li>
      </ul><!--header__navbar-->
    </div><!--container-->
  </div><!--header__bottom-->
</header><!--header-->
