/* BADGE */

.badge {
  @extend .font-poppins-medium;
  border-radius: 20px;
  padding: 0px 7px;
  font-weight: normal;
  line-height: 1.2;
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
  &.badge-success {
    background: $success-secondary;
  }
}
