/* CALENDAR WIDGET */

$calendar-widget-header-bg: $pink-soft;
$calendar-widget-border-color: #b9bbbd;

.calendar-widget {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.calendar-widget__header {
  border-radius: 8px 8px 0px 0px;
  background: $calendar-widget-header-bg;
  padding: 10px 15px;
  @extend .d-flex, .align-items-center, .justify-content-between;
  color: $white;
}

.calendar-widget__header__btn {
  color: $white;
  font-size: 16px;
  @extend .flex-shrink-0;
  &:hover, &:focus {
    color: $white;
  }
}

.calendar-widget__header__current-date {
  font-size: 22px;
  @extend .font-poppins-semibold;
}

.calendar-widget__body {
  padding: 10px;
  border: 2px solid $calendar-widget-border-color;
  border-radius: 0px 0px 8px 8px;
  border-top: none;
}

.calendar-widget__table {
  @extend .mb-0;
  >thead, tbody {
    >tr {
      >td, th {
        @extend .border-0, .text-uppercase, .text-center;
        padding: 5px;
        font-size: 12px;
      }
    }
  }
  tbody {
    >tr {
      >td, th {
        color: #919395;
        &.calendar-widget__table__prev-month,
        &.calendar-widget__table__next-month {
          color: #CFD1D2;
          a {
            color: #CFD1D2;
          }
        }
        a {
          color: #919395;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 5px 8px;
          border-radius: 50%;
          min-width: 28px;
          min-height: 28px;
          &.calendar-widget__table__current-date {
            background: #CFD1D2;
          }
        }
        .calendar-widget__table__has-event {
          background: $calendar-widget-header-bg;
          color: $white;
          border-radius: 20px;
        }
      }
    }
  }
}
