/* DROPDOWN */

.dropdown-menu {
  border-radius: 0;
  background: $blue-soft;
  border: none;
}

.dropdown-item {
  text-transform: uppercase;
  color: $white;
  &:hover,
  &:focus {
    color: $sky;
    background: none;
  }
}
