/* FILES */

.files {
  @extend .font-poppins-light;
  margin-bottom: 15px;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  &+.files {
    padding-top: 15px;
    border-top: 1px solid #abb1c4;
  }
}

.files__title {
  font-size: 20px;
  @extend .text-blue, .font-poppins-semibold, .mb-1;
}
