/* FORM SEARCH */

$form-search-field-bg: $gray-light;
$form-search-field-color: $blue-soft;
$form-search-field-height: 36px;
$form-search-field-height-mobile: 26px;
$form-search-field-placeholder-color: #959595;
$form-search-field-placeholder-fs: 18px;
$form-search-field-placeholder-fs-mobile: 14px;
$form-search-field-placeholder-ff: $font-poppins-light;

.form-search {
	@extend .flex-shrink-0, .ml-2;
	@media screen and (min-width:1400px) {
	  width: 375px;
	}
	@include media-breakpoint-down(xs) {
		min-width: 140px;
		max-width: 140px;
	}
	.form-control {
		@extend .border-0;
		border-radius: 20px 0px 0px 20px;
		box-shadow: none;
		background: $form-search-field-bg;
		height: $form-search-field-height;
		font-size: $form-search-field-placeholder-fs;
		font-family: $form-search-field-placeholder-ff;
		color: $form-search-field-color;
		@include custom-placeholder($color: $form-search-field-placeholder-color, $font-size: $form-search-field-placeholder-fs, $font-family: $form-search-field-placeholder-ff);
		&:focus {
			box-shadow: none;
			background: darken($form-search-field-bg, 2%);
		}
		@include media-breakpoint-down(xs) {
			height: $form-search-field-height-mobile;
			font-size: $form-search-field-placeholder-fs-mobile;
			@include custom-placeholder($color: $form-search-field-placeholder-color, $font-size: $form-search-field-placeholder-fs-mobile, $font-family: $form-search-field-placeholder-ff);
		}
	}
	.btn-submit {
		@extend .border-0, .d-flex, .align-items-center, .justify-content-center;
		padding: 0px 2px 0px 0px;
		width: 46px;
		height: $form-search-field-height;
		border-radius: 0px 20px 20px 0px;
		background: $orange;
		@include media-breakpoint-down(xs) {
			height: $form-search-field-height-mobile;
		}
		&:hover, &:focus {
			background: darken($orange, 10%);
		}
	}
}
.btn-submit__icon {
	width: 24px;
	@include media-breakpoint-down(xs) {
		width: 18px;
	}
}
