/* GROUP */

.group {
  margin-top: 50px;
  @include media-breakpoint-down(sm) {
    margin-top: 35px;
	}
  &+.group {
    padding-top: 50px;
    border-top: 1px solid $blue-soft;
    @include media-breakpoint-down(sm) {
      padding-top: 35px;
  	}
  }
}

.group__header {
  @extend .d-flex, .align-items-center, .justify-content-between;
}
.group__header__title {
  @extend .text-truncate, .mb-0;
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
}

.group__body {
  margin-top: 20px;
  @include media-breakpoint-down(sm) {
    margin-top: 15px;
	}
}

.group-mobile {
  border: 1px solid $blue-soft;
  padding: 10px 20px 10px 10px;
  font-size: 14px;
  font-family: $font-poppins-light;
  max-height: 270px;
  overflow: auto;
  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}
.group-mobile__item {
  @extend .d-flex, .align-items-start;
  &+.group-mobile__item {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $violet-light;
  }
}
.group-mobile__avatar-holder {
  width: 70px;
  @extend .flex-shrink-0, .mr-3;
  @include media-breakpoint-down(xs) {
    width: 40px;
  }
}
.group-mobile__avatar {
  width: 100%;
  @extend .rounded-circle;
}
.group-mobile__content-holder {
  flex: 1;
}
.group-mobile__title {
  @extend .d-flex, .align-items-center, .justify-content-between, .font-poppins-semibold;
  color: $violet-soft;
  font-size: 14px;
  margin-bottom: 10px;
  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}
.group-mobile__date {
  @extend .flex-shrink-0, .ml-3, .font-poppins-light;
  color: $pink;
}

.group-mobile__stats {
  @extend .d-flex;
}
.group-mobile__stats__item {
  &+.group-mobile__stats__item {
    margin-left: 10px;
  }
  color: $violet;
  @include media-breakpoint-down(xs) {
    font-size: 10px;
  }
}
