/* GROUP DETAILS */

$group-details-header-border-color: #aab3bb;

.group-details {

}

.group-details__header {
  height: 210px;
  border-radius: 8px;
  border: 1px solid $group-details-header-border-color;
  @extend .position-relative;
  margin-bottom: 25px;
  @include media-breakpoint-down(xs) {
    height: 120px;
  }
}

.group-details__header__avatar {
  @extend .rounded-circle, .position-absolute;
  width: 85px;
  height: 85px;
  top: 15px;
  left: 15px;
  @include media-breakpoint-down(lg) {
    width: 60px;
    height: 60px;
  }
}

.group-details__info {
  font-family: $font-poppins-light;
}

.group-details__info__title,
.group-details__info__role {
  @extend .text-truncate;
}

.group-details__info__title {
  font-size: 30px;
  @extend .font-poppins-semibold, .text-blue, .mb-2;
  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

.group-details__info__role {
  @extend .font-poppins-light, .text-pink;
  font-size: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.group-details__labels {
}
.group-details__labels__item {
  margin-right: 5px;
  margin-bottom: 10px;
}
