/* PAGINATION */

$pagination-color: $violet-soft;

.pagination {
  font-family: $font-poppins-light;
}

.page-item {
  &+.page-item {
    margin-left: 2px;
  }
  &.page-item-controls {
    .page-link {
      &:hover, &:focus {
        background: none;
        color: $pagination-color;
      }
    }

  }
  &.active {
    .page-link {
      background-color: $pagination-color;
      color: $white;
    }
  }
}

.page-link {
  font-size: 16px;
  @extend .border-0, .rounded, .m-0;
  color: $pagination-color;
  padding: 8px 6px;
  &:hover {
    background-color: $pagination-color;
    color: $white;
  }
}
