/* PANEL */

$panel-bg: $violet-light;
$panel-body-bg: $white;

.panel {
  background: $panel-bg;
  padding: 15px;
  @include media-breakpoint-up(xl) {
    padding: 35px;
  }
}

.panel__body {
  background: $panel-body-bg;
  padding: 15px;
  border-radius: 6px;
  @include media-breakpoint-up(xl) {
    padding: 35px;
  }
}
