/* PANEL */

$panel-bg: $violet-light;
$panel-body-bg: $white;

.panel {
  padding-bottom: 15px;
  @include media-breakpoint-up(md) {
    background: $panel-bg;
    padding: 15px;
  }
  @media screen and (min-width:1450px) {
    padding: 35px;
  }
}

.panel__body {
  background: $panel-body-bg;
  padding: 15px;
  @include media-breakpoint-up(md) {
    border-radius: 6px;
  }
  @media screen and (min-width:1450px) {
    padding: 35px;
  }
}
