/* USER CARD */

$user-card-bg: $blue-soft;

.user-card {
  background: $user-card-bg;
  border-radius: 8px;
  padding: 15px;
  color: $white;
}

.user-card__role {
  font-size: 22px;
  @extend .font-poppins-semibold, .text-success;;
}

.user-card__box {
  &+.user-card__box {
    margin-top: 20px;
  }
  @extend .d-flex, .align-items-center;
}

.user-card__avatar {
  @extend .rounded-circle, .flex-shrink-0, .mr-2;
  width: 42px
}

.user-card__info {
  min-width: 0;
}

.user-card__name,
.user-card__from {
  @extend .text-truncate;
}
.user-card__name {
  @extend .mb-0, .font-poppins-semibold;
  font-size: 17px;
}

.user-card__from {
  @extend .font-poppins-light;
  font-size: 16px;
}
