/* HEADER */
.header {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;

    &__shadow {
      box-shadow: 0 0.1rem 1rem rgba($black,.15);
    }
  }
}