/* NAVBAR */
.navbar {
  @extend .py-md-4, .py-3, .flex-shrink-0;
  @include media-breakpoint-up(md) {
    padding-left: 45px;
    padding-right: 45px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.navbar-brand {
  max-width: 170px;
}

.navbar-nav {
  > .nav-item {
    &.dropdown {
      @include media-breakpoint-up(lg) {
        &:hover {
          > .dropdown-menu {
            display: block;
          }
        }
      }
    }

    &+.nav-item {
      @extend .ml-lg-5;
    }

    > .nav-link {
      @extend .px-lg-0, .text-uppercase;

      &:after {
        @include media-breakpoint-up(lg) {
          content: none;
        }
      }
    }
  }

  .dropdown-menu {
    @extend .mt-lg-0;
  }
}

.navbar-form {
  .form-control {
    padding-right: 40px;
  }

  .btn-submit {
    @extend .border-0, .position-absolute, .h-100, .text-gray;
    background: transparent;
    right: 0;
    top: 0;
  }
}

.navbar-toggler {
  @extend .text-primary, .border-0, .pr-0;
  font-size: 20px;
}