/* ASIDE */

$aside-mobile-width: 290px;

.aside {
  @include media-breakpoint-up(md) {
    margin-right: -20px;
  }
  padding: 20px;
  @include themify($themes) {
    color: themed('asideColor');
    background-color: themed('asideBackgroundColor');
  }
  @include media-breakpoint-down(lg) {
		padding: 20px 15px;
	}
  @include media-breakpoint-down(sm) {
    transform: translateX($aside-mobile-width);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1150;
    height: 100%;
    overflow-y: auto;
    width: $aside-mobile-width;
  }
  .btn-toolbar {
    margin-bottom: 30px;
  }
}
