/* INFO */


.info {
  padding: 5px 15px;
  text-align: center;
  font-family: $font-medium;
  font-size: 12px;
  @include themify($themes) {
    color: themed('infoBoxColor');
    background-color: themed('infoBoxBackroundColor');
  }
}
