/* NAVBAR */

.navbar {

}


.navbar-brand {
  max-width: 240px;
}

.theme-light {
  .navbar-brand__image-light {
    display: none;
  }
}
.theme-dark {
  .navbar-brand__image-dark {
    display: none;
  }
}

.navbar-btn {
  font-size: 13px;
}
