/* guarantee */

.guarantee {
    @extend .d-flex,
    .align-items-center,
    .py-3,
    .px-3,
    .px-lg-5;
    border: 1px solid $silver-soft;
}

.guarantee__logo {
    @extend .flex-shrink-0,
    .me-3,
    .me-md-4;
    width: 80px;

    @include media-breakpoint-up(md) {
        width: 120px;
    }

    @include media-breakpoint-up(lg) {
        width: 150px;
    }
}