/* Fonts */
//Helvetica neue
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("#{$font-path}HelveticaNeue/HelveticaNeue-Light.woff2") format('woff2'), url("#{$font-path}HelveticaNeue/HelveticaNeue-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Regular';
  src: url("#{$font-path}HelveticaNeue/HelveticaNeue.woff2") format('woff2'), url("#{$font-path}HelveticaNeue/HelveticaNeue.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("#{$font-path}HelveticaNeue/HelveticaNeue-Medium.woff2") format('woff2'), url("#{$font-path}HelveticaNeue/HelveticaNeue-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("#{$font-path}HelveticaNeue/HelveticaNeue-Bold.woff2") format('woff2'), url("#{$font-path}HelveticaNeue/HelveticaNeue-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}