/* LETTER SPACING */
.ls-1 {
  letter-spacing: 1px !important;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.ls-3 {
  letter-spacing: 3px !important;
}

.ls-4 {
  letter-spacing: 4px !important;
}

.ls-5 {
  letter-spacing: 5px !important;
}

.ls-6 {
  letter-spacing: 6px !important;
}

.ls-7 {
  letter-spacing: 7px !important;
}

.ls-8 {
  letter-spacing: 8px !important;
}

.ls-9 {
  letter-spacing: 9px !important;
}

.ls-10 {
  letter-spacing: 10px !important;
}