/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$sky-light: #f8fcfc;
$sky: #8ccdd9;
$sky-secondary: #9ADADF;
$success: #9ed08c;
$warning: #fbda8a;
$danger: #f49191;
$asphalt: #929292;
$gray: #7e7e7e;
$silver: #cdcdcd;
$muted: #e2e6e6;
$orange: #f6a169;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-sky-light {
  color: $sky-light !important;
}
.text-sky {
  color: $sky !important;
}
.text-sky-secondary {
  color: $sky-secondary !important;
}
.text-success {
  color: $success !important;
}
.text-warning {
  color: $warning !important;
}
.text-danger {
  color: $danger !important;
}
.text-gray {
  color: $gray !important;
}
.text-silver {
  color: $silver !important;
}
.text-muted {
  color: $muted !important;
}
.text-orange {
  color: $orange !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-sky-light {
  background-color: $sky-light !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-sky-secondary {
  background-color: $sky-secondary !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-orange {
  background-color: $orange !important;
}



/*************************
	Fonts variables
*************************/
$font-thin: 'ProximaNova-Thin';
$font-light: 'ProximaNova-Light';
$font-regular: 'ProximaNova-Regular';
$font-semibold: 'ProximaNova-Semibold';

.font-thin {
  font-family: $font-thin;
}
.font-light {
  font-family: $font-light;
}
.font-regular {
  font-family: $font-regular;
}
.font-semibold {
  font-family: $font-semibold;
}




$font-icons: 'fontello';
.font-icons {
  font-family: $font-icons;
}


/*************************
	Base variables
*************************/
$base-color: $asphalt;
$font-base: $font-regular;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 18px;
$body-font-size-sm: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $success;


/*************************
	Title variables
*************************/
$title-font-family: $font-semibold;
