/* ANIMATED ICON */
.animated-icon {
  animation: 0.3s ease-out infinite alternate move_arrow;
}
@keyframes move_arrow {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}