/* CARD */
.card {
  @extend .shadow-none, .rounded-0, .font-semibold, .text-black, .h-100;

  &:focus,
  &:hover {
    @extend .has-shadow, .text-white;

    .card-body {
      @extend .bg-brand;
    }
  }

  &.card--bordered {
    @extend .border-0;

    &:focus,
    &:hover {
      @extend .has-shadow;
      color: inherit !important;

      .card-body {
        @extend .bg-white;
      }
    }

    .card-body {
      border: 1px solid $base-border-color-active;
      border-top: none;
    }
  }
}

.card-body {
  @include transition($base-animation);
  border-bottom: 4px solid $base-brand-color;
}

.card-title {
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

.card-read-more {
  @extend .text-brand;
  text-decoration: underline;
}