/* INFO */
$counter-size: 50px;

.info {
  counter-reset: counter;
}

.info__item {
  @extend .d-flex, .position-relative;
  word-break: break-all;

  &:not(:last-child) {
    padding-bottom: 40px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 72px;
    }

    &:after {
      content: '';
      @extend .position-absolute, .bg-brand;
      width: 1px;
      left: 25px;
      bottom: 10px;
      height: calc(100% - 70px);
    }
  }

  &:before {
    @extend .rounded-circle, .d-inline-flex, .align-items-center, .justify-content-center, .text-white, .font-extrabold, .bg-brand, .flex-shrink-0;
    counter-increment: counter;
    content: counter(counter);
    width: $counter-size;
    height: $counter-size;
    font-size: 32px;
    margin-right: 20px;
    z-index: 20;
    @include media-breakpoint-up(lg) {
      margin-right: 36px;
    }
  }
}

.info__title {
  @extend .font-semibold, .fs-16, .mb-2;
}