/* REPAIRS */
.repairs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  @include media-breakpoint-up(md) {
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }
}

.repair-card {
  &:first-of-type,
  &:last-of-type {
    @include media-breakpoint-up(md) {
      grid-column: span 2;
    }
  }

  &:focus,
  &:hover {
    .repair-card__price,
    .repair-card__title {
      @extend .text-white;
    }
  }

  .card-body {
    @extend .border-0;
  }
}

.repair-card__price,
.repair-card__title {
  @include transition($base-animation);
}

.repair-card__title {
  @extend .font-semibold, .mb-1;
}

.repair-card__price {
  @extend .text-brand;
}