/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;
/*************************
	Fonts variables
*************************/
$font-light: 'Graphik-Light';

.font-light {
	font-family: $font-light !important;
}

$font-regular: 'Graphik-Regular';

.font-regular {
	font-family: $font-regular !important;
}

$font-medium: 'Graphik-Medium';

.font-medium {
	font-family: $font-medium !important;
}

$font-semibold: 'Graphik-Semibold';

.font-semibold {
	font-family: $font-semibold !important;
}


.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size-mobile: 14px;
$body-font-size-desktop: 16px;
$body-line-height: 1.5;


/*************************
	Heading variables
*************************/
$heading-font: $font-semibold;