/* Fonts */


//AvenirNext
@font-face {
  font-family: 'AvenirNext-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}avenir/AvenirNext-Regular.woff2') format('woff2'),
       url('#{$font-path}avenir/AvenirNext-Regular.woff') format('woff'),
       url('#{$font-path}avenir/AvenirNext-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'AvenirNext-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}avenir/AvenirNext-Bold.woff2') format('woff2'),
       url('#{$font-path}avenir/AvenirNext-Bold.woff') format('woff'),
       url('#{$font-path}avenir/AvenirNext-Bold.ttf') format('ttf');
}
