/* Fonts */

//Montserrat
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Light.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Light.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Regular.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-MediumItalic.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-MediumItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Medium.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Medium.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Bold.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Black.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Black.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Black.ttf') format('ttf');
}


//FreestyleScript
@font-face {
  font-family: 'FreestyleScriptRegular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}freestylescript/FreestyleScriptRegular.woff2') format('woff2'),
       url('#{$font-path}freestylescript/FreestyleScriptRegular.woff') format('woff'),
       url('#{$font-path}freestylescript/FreestyleScriptRegular.ttf') format('ttf');
}
