/* Fonts icons */
//Fontello
@font-face {
  font-family: 'fontello';
  src: url("#{$font-path}fontello/fontello.eot?14757852");
  src: url("#{$font-path}fontello/fontello.eot?14757852#iefix") format('embedded-opentype'), url("#{$font-path}fontello/fontello.woff2?14757852") format('woff2'), url("#{$font-path}fontello/fontello.woff?14757852") format('woff'), url("#{$font-path}fontello/fontello.ttf?14757852") format('truetype'), url("#{$font-path}fontello/fontello.svg?14757852#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-digital-"]:before,
[class*=" icon-digital-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-digital-share:before {
  content: '\e800';
}
/* '' */
.icon-digital-menu:before {
  content: '\e801';
}
/* '' */
.icon-digital-cancel:before {
  content: '\e802';
}
/* '' */
.icon-digital-down-small:before {
  content: '\e803';
}
/* '' */
.icon-digital-left-small:before {
  content: '\e804';
}
/* '' */
.icon-digital-right-small:before {
  content: '\e805';
}
/* '' */
.icon-digital-up-small:before {
  content: '\e806';
}
/* '' */
.icon-digital-facebook:before {
  content: '\f052';
}
/* '' */
.icon-digital-twitter:before {
  content: '\f058';
}
/* '' */
.icon-digital-linkedin:before {
  content: '\f05c';
}
/* '' */
.icon-digital-mail-alt:before {
  content: '\f0e0';
}
/* '' */
.icon-digital-angle-circled-left:before {
  content: '\f137';
}
/* '' */
.icon-digital-angle-circled-right:before {
  content: '\f138';
}
/* '' */
.icon-digital-angle-circled-up:before {
  content: '\f139';
}
/* '' */
.icon-digital-angle-circled-down:before {
  content: '\f13a';
}
/* '' */
.icon-digital-youtube-play:before {
  content: '\f16a';
}
/* '' */