/* VARIABLES */


/*************************
	Base variables
*************************/
$base-animation: 250ms;
/*************************
	Fonts variables
*************************/
$font-regular: 'EuclidCircularA-Regular';

.font-regular {
	font-family: $font-regular;
}

$font-bold: 'EuclidCircularA-Bold';

.font-bold {
	font-family: $font-bold;
}

$font-medium: 'EuclidCircularA-Medium';

.font-medium {
	font-family: $font-medium;
}

$font-semibold: 'EuclidCircularA-SemiBold';

.font-semibold {
	font-family: $font-semibold;
}

$font-semibolditalic: 'EuclidCircularA-SemiBoldItalic';

.font-semibolditalic {
	font-family: $font-semibolditalic;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Base variables
*************************/
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size-mobile: 14px;
$body-font-size-desktop: 16px;
$body-line-height: 1.5;


/*************************
	Heading variables
*************************/
$heading-font: $font-semibold;