//
// Forms
//


// Form group
.form-group {
	label {
		font-size: $form-label-font-size;
		font-family: $form-label-font-family;
		color: $gray-600;
	}

	.invalid-feedback,
	.valid-feedback {
		font-size: $form-feedback-font-size;
		font-weight: $form-feedback-font-weight;
	}

	.form-text {
		font-size: $form-text-font-size;
		font-weight: $form-text-font-weight;
	}
}

// Form control
.form-control {

	-webkit-appearance: none;
	-moz-appearance: none;

	// Readonly state
	&[readonly] {
		background-color: $input-readonly-bg;
	}

	@include placeholder($gray-50);

	height: 40px;
	border-color: $gray-50;

	// Pill style
	&.form-control-pill {
		border-radius: $input-line-height;

		&.form-control-sm {
			border-radius: $input-line-height-sm;
		}

		&.form-control-lg {
			border-radius: $input-line-height-lg;
		}
	}

	@if $form-validation-input-shadow==false {

		&:active,
		&.active,
		&:focus,
		&.focus {
			box-shadow: none !important;
		}
	}

	// Solid style
	&.form-control-solid {
		background-color: $input-solid-bg;
		border-color: $input-solid-bg;
		@include placeholder($input-solid-placeholder-color);
		color: $input-solid-color;
		transition: $transition-input;

		&:active,
		&.active,
		&:focus,
		&.focus {
			background-color: $input-solid-bg-focus;
			border-color: $input-solid-bg-focus;
			color: $input-solid-color;
			transition: $transition-input;
		}
	}
}

select.form-control {
	background-repeat: no-repeat;
	background-size: 26px;
	background-position: right 5px center;
	padding-right: 40px;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojN0M4NDlBO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBpZD0iYSIgY2xhc3M9InN0MCIgZD0iTTEyLDE1LjVjLTAuMywwLTAuNS0wLjEtMC43LTAuM2wtNC00Yy0wLjQtMC40LTAuNC0xLDAtMS40czEtMC40LDEuNCwwbDMuMywzLjNsMy4zLTMuMgoJCWMwLjQtMC40LDEtMC40LDEuNCwwczAuNCwxLDAsMS40bC00LDMuOUMxMi41LDE1LjQsMTIuMywxNS41LDEyLDE1LjUiLz4KPC9nPgo8L3N2Zz4K");
	color: $gray-50;
}

// Hide Form Control Icon On Validation
.form-control-iconless {
	background-image: none;

	.form-control {
		background-image: none;
	}
}

// Placeholder colors
.placeholder-dark-50 {
	@include placeholder($dark-50);
}

.placeholder-dark-75 {
	@include placeholder($dark-75);
}

.placeholder-white {
	@include placeholder($white);
}

// Custom inputs
.custom-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-file {
	width: 100%;
}

.custom-file-input:focus~.custom-file-label {
	box-shadow: none !important;
}

.custom-file-label {
	text-align: left;

	&:after {
		float: left;
	}
}

// Input Group
.input-group {

	.form-control.is-valid+.input-group-append,
	.form-control.is-invalid+.input-group-append {
		margin-left: 0;
	}

	.input-group-prepend+.form-control.is-valid,
	.input-group-prepend+.form-control.is-invalid {
		margin-left: 1px;
	}

	// Sizing
	i {
		line-height: 0;
		font-size: 1.3rem;

		&:after,
		&:before {
			line-height: 0;
		}
	}

	.svg-icon {
		line-height: 0;
	}

	&.input-group-sm {
		i {
			line-height: 0;
			font-size: 1rem;
		}
	}

	&.input-group-lg {
		i {
			line-height: 0;
			font-size: 1.4rem;
		}
	}

	// Solid style
	&.input-group-solid {
		align-items: center;
		background-color: $input-solid-bg;
		@include border-radius($input-border-radius);

		&.active,
		&.focus {
			background-color: $input-solid-bg-focus;
			border-color: $input-solid-bg-focus;
			color: $input-solid-color;
			transition: $transition-input;
		}

		.form-control {
			@include input-reset();

			&.form-control-solid {

				&:active,
				&.active,
				&:focus,
				&.focus {
					background-color: $input-solid-bg-focus;
					border-color: $input-solid-bg-focus;
					color: $input-solid-color;
					transition: $transition-input;
				}
			}
		}

		&.input-group-sm {
			@include border-radius($input-border-radius-sm);
		}

		&.input-group-lg {
			@include border-radius($input-border-radius-lg);
		}

		.input-group-prepend,
		.input-group-append,
		.input-group-text {
			background-color: transparent;
			border: 0;
			padding-top: 0;
			padding-bottom: 0;

			.btn-secondary {
				border: 0 !important;
			}
		}

		.input-group-prepend~.form-control {
			padding-left: 0 !important;
		}
	}
}

// Validation
.validated {

	.valid-feedback,
	.invalid-feedback {
		display: block;
	}
}

// Input icon
.input-icon {
	position: relative;

	span {
		left: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});

		i {
			line-height: 0;
			color: $dark-50;

			&:after,
			&:before {
				line-height: 0;
			}
		}

		.svg-icon {
			@include svg-icon-color($dark-50);
			@include svg-icon-size(24px);
		}
	}

	.form-control {
		padding-left: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
	}

	&.input-icon-right {
		span {
			right: 0;
			left: auto;
		}

		.form-control {
			padding-left: $input-btn-padding-x;
			padding-right: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
		}
	}
}


.form-quantity {
	@extend .position-relative;

	.form-control {
		padding-right: 75px;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}

.form-quantity-box {
	@extend .position-absolute,
	.d-flex;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
}

.form-quantity-btn {
	@extend .btn,
	.p-0,
	.border-0;
	width: 24px;
	height: 24px;
	color: $gray-600;
	font-size: 12px;

	&:first-child {
		margin-right: 5px;
	}

	&:hover,
	&:focus,
	&:active {
		color: darken($gray-600, 15%);
	}

	&:disabled {
		color: lighten($gray-600, 15%);
		cursor: not-allowed;

		&:hover,
		&:focus,
		&:active {
			color: lighten($gray-600, 15%);
		}
	}

	i {
		color: inherit;
		font-size: inherit;
	}

}

.form-radio.radio {
	display: flex;
	align-self: center;
	@extend .p-0;
	background-color: $gray-300;
	border-radius: 8px;
	top: 0;

	.radio {
		@extend .w-100;
		padding: 10.5px 40px 10.5px 16px;
		color: $dark;

		>span {
			left: auto;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}