//
// Form datatable search
//

.form-datatable-search {
	@extend .d-flex;

	@include media-breakpoint-up(md) {
		width: 380px;
	}

	.form-control {
		@extend .flex-fill;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn-submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: none;
	}
}