/* MARGIN */

.mb-lg {
  @include media-breakpoint-up(md) {
    margin-bottom: 130px !important;
  }
}
.mb-md {
  @include media-breakpoint-up(md) {
    margin-bottom: 70px !important;
  }
}
.mb-sm {
  @include media-breakpoint-up(md) {
    margin-bottom: 60px !important;
  }
}
