/* Fonts icons */

//Icomoon
@font-face {
    font-family: 'icomoon';
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc');
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon/icomoon.ttf?raxetc') format('truetype'),
    url('#{$font-path}icomoon/icomoon.woff?raxetc') format('woff'),
    url('#{$font-path}icomoon/icomoon.svg?raxetc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before {
    content: "\e918";
}

.icon-cheveron-up:before {
    content: "\e911";
}

.icon-cheveron-right:before {
    content: "\e912";
}

.icon-cheveron-left:before {
    content: "\e913";
}

.icon-cheveron-down:before {
    content: "\e914";
}

.icon-star-half-empty:before {
    content: "\e907";
}

.icon-star-o:before {
    content: "\e90c";
}

.icon-star:before {
    content: "\e90d";
}

.icon-check-circle:before {
    content: "\e915";
}

.icon-pencil-ruler:before {
    content: "\e916";
}

.icon-user-cog:before {
    content: "\e917";
}

.icon-offer:before {
    content: "\e90e";
}

.icon-settings:before {
    content: "\e90f";
}

.icon-volume:before {
    content: "\e910";
}

.icon-facebook:before {
    content: "\e908";
}

.icon-instagram:before {
    content: "\e909";
}

.icon-linkedin:before {
    content: "\e90a";
}

.icon-twitter:before {
    content: "\e90b";
}

.icon-arrows-right:before {
    content: "\e900";
}

.icon-arrows-down:before {
    content: "\e901";
}

.icon-arrows-up:before {
    content: "\e902";
}

.icon-arrows-left:before {
    content: "\e903";
}

.icon-check-mark:before {
    content: "\e904";
}

.icon-close:before {
    content: "\e905";
}

.icon-menu:before {
    content: "\e906";
}