@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "./_customize-bootstrap/customize-bootstrap";
@import "./_mixins/mixins";
@import "./_variables/variables";
@import "./_utilities/typography";
@import "./_utilities/fs";
@import "./_utilities/has-bg";
@import "./_utilities/bootstrap-override";
@import "./_partials/header";
@import "./_partials/footer";
@import "./_partials/navigation";
@import "./_partials/pre-footer";
@import "./_reset/reset";
@import "./_icons/icons";
@import "./_fonts/fonts";
@import "./_components/buttons";
@import "./_components/typeahead-form";
@import "./_components/nav-menu";
@import "./_components/nav-menu-secondary";
@import "./_components/section";
@import "./_components/pre-footer-form";
@import "./_components/content-icon";
@import "./_components/hero";
@import "./_components/product";
@import "./_components/breadcrumb";
@import "./_components/products-filter";
@import "./_components/form";
@import "./_components/pagination";
@import "./_components/products-list";
@import "./_components/review";
@import "./_components/products-nav";
@import "./_components/qty";
@import "./_components/modal";
@import "./_components/table";
@import "./_components/blog-post";
@import "./_components/tags";
@import "./_components/form-search";
@import "./_components/list";
@import "./_components/latest-blogs";
@import "./_components/gallery";
@import "./_components/related-gallery";
@import "./_components/featured-news-gallery";
@import "./_components/socials";
@import "./_components/product-gallery";
@import "./_components/feedback";
@import "./_components/button-feature";
@import "./_components/scroll-to-top";
@import "./_components/share-product";


.hidden {
    display: none;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

button,
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
}

button:hover,
.button:hover {
    border-color: #cdd;
}

.share-button,
.copy-link {
    padding-left: 30px;
    padding-right: 30px;
}

.share-button,
.share-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.share-dialog.is-open {
    display: block;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.close-button svg {
    margin-right: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}

.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}