/* FOOTER */

.footer {
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  @include media-breakpoint-down(md) {
    bottom: 0;
  }
  .container {
    max-width: 920px;
  }
}

.footer-inner {

  margin-left: auto;
  margin-right: auto;
}
