/* NAVBAR */

$navbar-bg: $white;
$navbar-height: 62px;

.navbar {
  padding: 0;
  z-index: 100;
  >.container {
    max-width: $site-width;
  }
}

.navbar-inner {
  background: $navbar-bg;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: $navbar-height;
}

.navbar-brand {
  padding-top: 9px;
  padding-bottom: 9px;
}
