/* ALERT */

.alert {
	&.alert-danger {
		border-color: #ff8987;
		background: #ffd0cd;
		color: #d30000;
	}
	&.alert-mutted {
		border-color: #cccccc;
		background: #e5e5e3;
		color: #666666;
	}
	>p {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
