/* COLORS */

/* For color names was used site - http://chir.ag/projects/name-that-color */

/*************************
	Main colors start
*************************/
/* White group */
$white: #ffffff;
$black-white: #fffefa; //Body bg
/* Black group */
$black: #000000;
/* Orange group */
$pinazz: #ff8a00;
$blaze-orange: #ff7200;
/* Blue group */
$pacific-blue: #02b0c2;
$bondi-blue: #01a0b1; //Text primary
$dodger-blue: #2996fb;
$bahama-blue: #006599;
/* Gray group */
$dove-gray: #666666;
$dusty-gray: #999999;
$alto: #dadada;
$silver: #cccccc;
$silver-chalice: #aaa9a9;
$silver-dark: #c1c1c1;
$shuttle-gray: #5c6a76; //Footer links color
$thunder: #372d30;
$shark: #282d31; //Footer bg
$mine-shaft: #333333; //Main text color
$cape-code: #373a3a; //Offcanvas bg
$outer-space: #282d2d;
$quill-gray: #e5e5e3;
$desert-storm: #f2f2f2;
$mystic: #e9f1f0;
/* Yellow group */
$aqua-haze: #edf5f3;
$amber: #ffc000;
$selective-yellow: #ffba00;
$turbo: #ffea00;
/* Green group */
$catswill-white: #e7f3f2;
$sea-nymph: #74999c;
$malachite: #1fd934;
$blue-lagoon: #008593;
$blue-chill: #0f95a3;
/* Red group */
$red: #ff0000;
/*************************
	Main colors end
*************************/

/*************************
	Local colors start
*************************/

/*************************
	Local colors end
*************************/
