/* FONTS */

/* Lato */
@font-face {
    font-family: 'latolight';
    src: url('#{$font-path}lato/lato-light-webfont.eot');
    src: url('#{$font-path}lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}lato/lato-light-webfont.woff2') format('woff2'),
         url('#{$font-path}lato/lato-light-webfont.woff') format('woff'),
         url('#{$font-path}lato/lato-light-webfont.ttf') format('truetype'),
         url('#{$font-path}lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('#{$font-path}lato/lato-regular_0-webfont.eot');
    src: url('#{$font-path}lato/lato-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}lato/lato-regular_0-webfont.woff2') format('woff2'),
         url('#{$font-path}lato/lato-regular_0-webfont.woff') format('woff'),
         url('#{$font-path}lato/lato-regular_0-webfont.ttf') format('truetype'),
         url('#{$font-path}lato/lato-regular_0-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latomedium';
    src: url('#{$font-path}lato/lato-medium-webfont.eot');
    src: url('#{$font-path}lato/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}lato/lato-medium-webfont.woff2') format('woff2'),
         url('#{$font-path}lato/lato-medium-webfont.woff') format('woff'),
         url('#{$font-path}lato/lato-medium-webfont.ttf') format('truetype'),
         url('#{$font-path}lato/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('#{$font-path}lato/lato-bold_0-webfont.eot');
    src: url('#{$font-path}lato/lato-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}lato/lato-bold_0-webfont.woff2') format('woff2'),
         url('#{$font-path}lato/lato-bold_0-webfont.woff') format('woff'),
         url('#{$font-path}lato/lato-bold_0-webfont.ttf') format('truetype'),
         url('#{$font-path}lato/lato-bold_0-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Fontello */
@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello/fontello.eot?28404830');
  src: url('#{$font-path}fontello/fontello.eot?28404830#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?28404830') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?28404830') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?28404830') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?28404830#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-technofix-"]:before, [class*=" icon-technofix-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-technofix-phone:before { content: '\e800'; } /* '' */
.icon-technofix-left-open-big:before { content: '\e801'; } /* '' */
.icon-technofix-right-open-big:before { content: '\e802'; } /* '' */
.icon-technofix-star:before { content: '\e803'; } /* '' */
.icon-technofix-heart-empty:before { content: '\e804'; } /* '' */
.icon-technofix-facebook-squared:before { content: '\e805'; } /* '' */
.icon-technofix-twitter-squared:before { content: '\e806'; } /* '' */
.icon-technofix-linkedin-squared:before { content: '\e807'; } /* '' */
.icon-technofix-location:before { content: '\e808'; } /* '' */
.icon-technofix-mail:before { content: '\e809'; } /* '' */
.icon-technofix-menu:before { content: '\e80a'; } /* '' */
.icon-technofix-cancel:before { content: '\e80b'; } /* '' */
.icon-technofix-desktop:before { content: '\e80c'; } /* '' */
.icon-technofix-tv:before { content: '\e80d'; } /* '' */
.icon-technofix-home:before { content: '\e80e'; } /* '' */
.icon-technofix-file-audio:before { content: '\e80f'; } /* '' */
.icon-technofix-gamepad:before { content: '\e810'; } /* '' */
.icon-technofix-wifi:before { content: '\e811'; } /* '' */
.icon-technofix-mobile:before { content: '\e812'; } /* '' */
.icon-technofix-desktop-1:before { content: '\e813'; } /* '' */
.icon-technofix-shield:before { content: '\e814'; } /* '' */
.icon-technofix-search:before { content: '\e815'; } /* '' */
.icon-technofix-cube:before { content: '\e816'; } /* '' */
.icon-technofix-chart-bar:before { content: '\e817'; } /* '' */
.icon-technofix-briefcase:before { content: '\e818'; } /* '' */
.icon-technofix-left-open:before { content: '\e819'; } /* '' */
.icon-technofix-right-open:before { content: '\e81a'; } /* '' */
.icon-technofix-up-open:before { content: '\e81b'; } /* '' */
.icon-technofix-down-open:before { content: '\e81c'; } /* '' */
.icon-technofix-star-1:before { content: '\e81d'; } /* '' */
.icon-technofix-star-empty:before { content: '\e81e'; } /* '' */
.icon-technofix-ok-1:before { content: '\e81f'; } /* '' */
.icon-technofix-print:before { content: '\e820'; } /* '' */
.icon-technofix-folder-open:before { content: '\e821'; } /* '' */
.icon-technofix-bomb:before { content: '\e822'; } /* '' */
.icon-technofix-cog-alt:before { content: '\e823'; } /* '' */
.icon-technofix-mouse:before { content: '\e824'; } /* '' */
.icon-technofix-mail-1:before { content: '\e825'; } /* '' */
.icon-technofix-linkedin:before { content: '\e826'; } /* '' */
.icon-technofix-down-open-1:before { content: '\e827'; } /* '' */
.icon-technofix-left-open-1:before { content: '\e828'; } /* '' */
.icon-technofix-right-open-1:before { content: '\e829'; } /* '' */
.icon-technofix-up-open-1:before { content: '\e82a'; } /* '' */
.icon-technofix-calendar:before { content: '\e82b'; } /* '' */
.icon-technofix-credit-card:before { content: '\e82c'; } /* '' */
.icon-technofix-plus-circled:before { content: '\e82d'; } /* '' */
.icon-technofix-down-bold:before { content: '\e82e'; } /* '' */
.icon-technofix-left-bold:before { content: '\e82f'; } /* '' */
.icon-technofix-right-bold:before { content: '\e830'; } /* '' */
.icon-technofix-up-bold:before { content: '\e831'; } /* '' */
.icon-technofix-angle-double-left:before { content: '\f100'; } /* '' */
.icon-technofix-angle-double-right:before { content: '\f101'; } /* '' */
.icon-technofix-angle-double-up:before { content: '\f102'; } /* '' */
.icon-technofix-angle-double-down:before { content: '\f103'; } /* '' */
