/* HERO */

.section-hero {
	padding: 100px 0 0px 0;
	background: url(../images/bg/hero-bg.jpg) no-repeat center center / cover;
	position: relative;
	@include respond-to(xs) {
		padding-top: 65px;
	}
}
.section-hero-sm {
	padding: 140px 0 50px 0;
	@include respond-to(xs) {
		padding: 80px 0 30px 0;
	}
}
.site-logo {
	display: block;
	max-width: 254px;
	width: 100%;
	margin: 0 auto 25px auto;
	@include respond-to(xs) {
		max-width: 168px;
		margin-bottom: 20px;
	}
}
.hero-title {
	margin-bottom: 5px;
}
.hero-subtitle {
	margin-bottom: 30px;
}
.btn-hero {
	margin-bottom: 150px;
}
.hero-menu-holder {
	@extend .list-unstyled;
	@include clearfix();
	//display: table;
	width: 100%;
	//table-layout: fixed;
	position: relative;
	left: 0;
	bottom: 0;
	border-radius: 4px;
	border: 4px solid $bondi-blue;
	height: 100px;
	//transform: translateY(50%);
	position: relative;
	bottom: -50px;
	background: $bondi-blue;
	@include gradient-vertical($start-color: $pacific-blue, $end-color: $bondi-blue, $start-percent: 50%, $end-percent: 50%);
	@include respond-to(xs) {
		display: block;
		@include clearfix();
		height: 166px;
	}
	>li {
		// display: table-cell;
		// vertical-align: middle;
		float: left;
		//width: 16.665%;
		width: 14.33%;
		@include respond-to(md) {
			width: 13.44%;
		}
		position: relative;
		height: 92px;
		padding-top: 6px;
		@include respond-to(sm) {
			padding-top: 15px;
		}
		@include respond-to(sm-min) {
			@include gradient-vertical($start-color: $pacific-blue, $end-color: $bondi-blue, $start-percent: 50%, $end-percent: 50%);
		}
		@include respond-to(xs) {
			width: 33.33%;
			display: block;
			float: left;
			padding: 10px 0;
		}
		>a {
			color: $white;
			font-family: $font-bold;
			text-transform: uppercase;
			@include respond-to(sm) {
				font-size: 11px;
			}
			&:hover, &:focus {
				color: $link-color;
			}
		}
		&.large-image-holder {
			width: 14%;
			@include respond-to(md) {
				width: 180px;
			}
			@include respond-to(sm) {
				width: 120px;
			}
			@include respond-to(xs) {
				width: 180px;
				padding: 0;
				position: absolute;
				left: 50%;
				margin-left: -90px;
				top: -92px;
			}
			>img {
				width: 100%;
				position: absolute;
				left: 0;
				bottom: -20px;
				@include respond-to(xs) {
					bottom: 4px;
				}
			}
		}
	}
	.dropdown-menu {
		margin-top: 16px;
		@include respond-to(xs) {
			margin-top: -4px;
		}
	}
}
.hero-menu-icon {
	max-width: 50px;
	margin: 0 auto 10px auto;
	display: block;
	@include respond-to(sm) {
		max-width: 30px;
	}
}

.hero-with-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	padding: 140px 0 65px 0;
	@include respond-to(md) {
		background-position: right center;
	}
	@include respond-to(xs) {
		padding: 80px 0 30px 0;
	}
}


.hero-holder {
	padding: 100px 0 50px 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($black, .5);
		z-index: -1;
	}
	&.hero-no-overlay {
		&:before {
			content: none;
		}
	}
}

.hero-info-holder {
	padding: 25px;
	border-radius: 5px;
	background: rgba($black, .65);
}


.hero-register {
	padding: 120px 0 180px 0;
	background-position: center top;
	@include respond-to(xs) {
		padding: 80px 0 30px 0;
	}
}
.hero-register-title {
	padding-top: 150px;
	@include respond-to(sm) {
		padding-top: 40px;
	}
	@include respond-to(xs) {
		padding-top: 0;
	}
}

.hero-brand-holder {
	padding: 20px 0;
	background: rgba($bondi-blue, .6);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.hero-lg {
	padding: 230px 0 180px 0;
	background-position: center top;
	@include respond-to(xs) {
		padding: 120px 0 60px 0;
	}
}
.hero-subcaption {
	font-size: 40px;
	@include respond-to(xs) {
		font-size: 26px;
	}
}

.hero-floatet-img {
	position: absolute;
	max-width: 100%;
	left: -80px;
	top: -60px;
	@include respond-to(md) {
		top: 0;
	}
	@include respond-to(xs) {
		position: static;
	}
}
.hero-floatet-img--lg {
	top: -120px;
	left: 60px;
	@include respond-to(md) {
		top: -100px;
		left: 0px;
	}
	@include respond-to(sm) {
		top: -50px;
	}
}
