/* RATING */
$rating-star-color: $amber;

.rating-holder {
	@include clearfix();
	>span, p {
		display: inline-block;
	}
	>span {
		margin-right: 3px;
		color: $rating-star-color;
		&:before {
			font-family: "fontello";
			@extend .icon-technofix-star-empty;
		}
		&.active {
			&:before {
				@extend .icon-technofix-star-1;
			}
		}
	}
	p {
		margin-left: 9px;
	}
}