/* RESET STYLES */

* {
	&:hover, &:focus, &:active {
		outline: none !important;
	}
}

a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
	outline-offset: 0;
}

ol, ul {
	margin-bottom: 20px;
	padding-left: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

.push-md-down {
	@include respond-to(md) {
  		margin-bottom: 15px;
	}
}
.push-sm-down {
	@include respond-to(sm) {
  		margin-bottom: 15px;
	}
}
.push-down {
	@include respond-to(xs) {
  		margin-bottom: 15px;
	}
}
.push-down-large {
	@include respond-to(xs) {
  		margin-bottom: 25px;
	}
}
.mobile-text-center {
	@include respond-to(xs) {
  		text-align: center;
	}
}
.mobile-text-left {
	@include respond-to(xs) {
  		text-align: left;
	}
}
.relative {
	position: relative;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.full-width {
	width: 100%;
	display: block;
}

.mt10 {
	margin-top: 10px;
}
.mt30 {
	margin-top: 30px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb40 {
	margin-bottom: 40px;
}
.mr15 {
	margin-right: 15px;
}
.min-width {
	min-width: 160px;
	display: inline-block;
}

.row-pd-large {
	margin-left: -35px;
	margin-right: -35px;
	@include respond-to(sm) {
		margin-left: -15px;
		margin-right: -15px;
	}
	>[class*='col-'] {
		padding-left: 35px;
		padding-right: 35px;
		@include respond-to(sm) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.divider {
	height: 25px;
	&.divider-sm {
		height: 40px;
	}
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.proposition-icon {
	width: 100%;
	max-width: 60px;
	margin: 0 auto 20px auto;
}

.row-table {
	@include respond-to(xs-min) {
		display: table;
		width: 100%;
	}
	>[class*='col-'] {
		@include respond-to(xs-min) {
			vertical-align: middle;
			display: table-cell;
			float: none;
		}
	}
}

.content-item {
	&:not(:last-child) {
		margin-bottom: 75px;
		@include respond-to(sm) {
			margin-bottom: 50px;
		}
		@include respond-to(xs) {
			margin-bottom: 35px;
		}
	}
	&.content-item-sm {
		margin-bottom: 35px;
	}
}

.content-icon {
	max-width: 90px;
}
