/* SECTION */

.section {
	padding: 50px 0;
	@include respond-to(xs) {
		padding: 30px 0;
	}
}

.section--fixed {
	@include respond-to(xs-min) {
		margin-top: 100px;
		height: 300px;
	}
	.floatet-img {
		margin-top: -197px;
		position: relative;
		@include respond-to(md) {
			margin-top: -72px;
		}
		@include respond-to(sm) {
			margin-top: 8px;
		}
		@include respond-to(xs) {
			bottom: -30px;
		}
	}
}

.section-has-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.section-discount {
	padding: 230px 0 60px 0;
	@include respond-to(xs) {
		padding: 30px 0;
	}
}

.section-tabs {
	padding: 150px 0 30px 0;
	@include respond-to(xs) {
		padding: 85px 0 20px 0;
	}
}


.section-small {
	padding: 15px 0;
}
.section-large {
	padding: 70px 0;
	@include respond-to(xs) {
		padding: 30px 0;
	}
}
.section-xl {
	padding: 150px 0 80px 0;
	@include respond-to(xs) {
		padding: 80px 0 30px 0;
	}
}
.section-large-top {
	padding: 115px 0 50px 0;
	@include respond-to(sm) {
		padding-top: 105px;
	}
}

.section-service {
	background: url(../images/bg/service-bg.jpg) no-repeat center center / cover;
}
.section-video {
	position: relative;
	@include respond-to(xs) {
		padding-bottom: 0;
	}
	.corner-hand-pic {
		position: absolute;
		bottom: 0;
		left: 0;
		@include respond-to(md) {
			max-width: 600px;
		}
		@include respond-to(sm) {
			max-width: 460px;
		}
	}
	.corner-hand-pic-mobile {
		position: relative;
		bottom: 0;
		left: -15px;
	}
}
.section-customers {
	background: url(../images/bg/customers-bg.png) no-repeat center center / cover;
}
.section-help {
	background: $warning;
	position: relative;
	z-index: 10;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 65%;
		right: -20%;
		top: 0;
		background: $pinazz;
		transform: skew(-30deg);
	}
	.help-title {
		font-size: 36px;
		font-family: $font-bold;
		margin-bottom: 5px;
		@include respond-to(sm) {
			font-size: 30px;
		}
	}
	.help-call {
		font-size: 40px;
		font-family: $font-bold;
		padding: 10px 0;
		@include respond-to(sm) {
			font-size: 28px;
			padding: 15px 0;
		}
		@include respond-to(xs) {
			padding-bottom: 0;
		}
		a {
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}
}


.section-success {
	background: $aqua-haze;
}


.section-tab-1 {
	background: url(../images/bg/section-tab-1.png) no-repeat 50% 50% / cover;
}
.section-tab-2 {
	background: url(../images/bg/section-tab-2.png) no-repeat 50% 50% / cover;
}
.section-tab-3 {
	background: url(../images/bg/section-tab-3.png) no-repeat 50% 50% / cover;
}
.section-tab-4 {
	background: url(../images/bg/section-tab-4.png) no-repeat 50% 50% / cover;
}
.section-tab-5 {
	background: url(../images/bg/section-tab-5.png) no-repeat 50% 50% / cover;
}
.section-tab-6 {
	background: url(../images/bg/section-tab-6.png) no-repeat 50% 50% / cover;
}

.section-equal {
	display: table;
	width: 100%;
	table-layout: fixed;
	@include respond-to(xs) {
		display: block;
	}
}
.section-equal__item {
	display: table-cell;
	vertical-align: middle;
	@include respond-to(xs) {
		display: block;
	}
}
.section-equal__content {
	padding: 70px 120px 70px 50px;
	@include respond-to(sm) {
		padding: 50px 30px;
	}
	@include respond-to(xs) {
		padding: 35px 15px;
	}
}
