/* TABLE */

.table--schedule {
	&+.table--schedule {
		margin-top: 35px;
	}
	>thead {
		>tr {
			>td, >th {
				color: $success-secondary;
			}
		}
	}
	>tbody {
		>tr {
			>td, >th {
				color: $dove-gray;
			}
		}
	}
	>thead, >tbody, >tfoot {
		>tr {
			>td, >th {
				padding: 4px 0;
			}
		}
	}
	>thead, >tbody {
		>tr {
			>td, >th {
				border: none;
			}
		}
	}
	>tfoot {
		>tr {
			>td, >th {
				border-color: $success-secondary;
				color: $success-secondary;
			}
		}
	}
}
