/* VARIABLES */

/************************* 
	Fonts variable
*************************/
$main-font: 'latoregular';

$font-light: 'latolight';
$font-regular: 'latoregular';
$font-medium: 'latomedium';
$font-bold: 'latobold';
/************************* 
	Body variable
*************************/
$main-text-color: $mine-shaft;
$body-main-font: $main-font;
$body-font-size: 14px;
$boby-bg: $black-white;
$font-size-secondary: 16px;
$font-size-xs: 12px;

/************************* 
	Local color variable
*************************/
$warning: $blaze-orange;
$primary: $bondi-blue;
$mutted: $thunder;
$yellow: $turbo;
$success-lighten: $sea-nymph;
$success: $malachite;
$success-secondary: $blue-lagoon;
$gray: $alto;
$gray-dark: $dove-gray;
$info: $dodger-blue;
$danger: $red;
$secondary: $mine-shaft;

/************************* 
	Links color variable
*************************/
$link-color: $blaze-orange;


/************************* 
	Title color variable
*************************/
$title-color: $white;
/************************* 
	Sections variable
*************************/

/* Footer variables */
$footer-bg: $shark;

/* Offcanvas bg */
$offcanvas-bg: $cape-code;
$offcanvas-width: 276px;

/* Form variables */
// $input-bg: $color-wasabi;
// $input-border: $color-dusty-gray;
// $placeholder-opacity: 0;

/* Font PATH */
$font-path: '../fonts/';


