<nav class="navbar navbar-expand-md navbar--transparent fixed-top">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" />
  </button>

  <a class="navbar-brand" href="#">
    <img src="img/elements/logo.svg" alt="" class="w-100">
  </a>

  <ul class="navbar-nav d-md-none">
    <li class="nav-item">
      <a class="nav-link text-uppercase text-white" href="#">
        <img src="img/icons/icon-login.png" class="nav-icon" alt=""> Login
      </a>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100">
      <li class="nav-item mr-md-auto">
        <a class="nav-link nav-link--highlited" href="#">
          Track a Shipment
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          About us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Become-a-Carrier
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Contacts
        </a>
      </li>
      <li class="nav-item d-none d-md-inline-block ml-5">
        <a class="nav-link nav-link--highlited" href="#">
          <img src="img/icons/icon-login.png" class="nav-icon" alt=""> Login
        </a>
      </li>
    </ul>
  </div>
</nav>
