<section class="pre-footer">
  <div class="container-fluid">
    <ul class="pre-footer__list">
      <li class="pre-footer__list__item">
        <a href="#" class="pre-footer__list__link">Shipper Terms of Use</a>
      </li>
      <li class="pre-footer__list__item">
        <a href="#" class="pre-footer__list__link">Privacy Policy</a>
      </li>
      <li class="pre-footer__list__item">
        <a href="#" class="pre-footer__list__link">Cookie Policy</a>
      </li>
      <li class="pre-footer__list__item">
        <a href="#" class="pre-footer__list__link">Carriers Terms and Conditions</a>
      </li>
      <li class="pre-footer__list__item">
        <a href="#" class="pre-footer__list__link">Worldwide Head office</a>
      </li>
    </ul>
  </div>
</section>
