/* HEADER */

.header {
  @extend .position-absolute, .w-100, .px-md-5;
  left: 0;
  top: 0;
  z-index: 700;
  background: linear-gradient(180deg, $black 0%, rgba($black, 0) 100%);
  padding: 40px 0;
  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }
}

.header__inner {
  @extend .d-flex, .justify-content-between, .align-items-center;
}

.header__menu-toggle {
  @extend .d-inline-block;
  color: $white;
  font-size: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}

.header__logo {
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
  @include media-breakpoint-down(lg) {
    width: 300px;
  }
  @include media-breakpoint-down(md) {
    width: 240px;
  }
  @include media-breakpoint-down(sm) {
    width: 200px;
  }
  @include media-breakpoint-down(xs) {
    width: 160px;
  }
}

.header__form {
  @include media-breakpoint-up(lg) {
    width: 240px;
    transform: translateY(-12px);
  }
  @include media-breakpoint-up(xl) {
    width: 330px;
    transform: translateY(-5px);
  }
  label {
    color: $white;
    font-family: $font-montserrat-regular;
  }
  .form-control {
    @extend .rounded-0, .border-0;
    height: 43px;
    background-color: rgba($white, .2);
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($white, .25);
    }
  }
  .btn-submit {
    @extend .rounded-0, .flex-shrink-0, .text-yellow;
    background-color: rgba($white, .2);
    border-left: 1px solid rgba($white, .4);
    &:hover, &:focus {
      background-color: rgba($white, .4);
      border-left: 1px solid rgba($white, .6);
    }
  }
}
