/* THEMES */

$dark-theme: #1d1e20;
$dark-theme-body-bg: #25262A;

$light-theme: $gray;
$light-theme-body-bg: $white;

/*
 * Theme definitions
 */

$themes: (
  light: (
    themeBackroundColor: $gray-light,
    themeColor: $muted-bold,

    infoBoxColor: $gray-bold,
    infoBoxBackroundColor: $light-theme,

    navbarColor: $gray-bold,
    navbarBackroundColor: $light-theme,

    btnLinkColor: $success,

    navbarLinkColor: $silver-bold,

    fieldBackroundColor: $light-theme,

    dropdownBackgroundColor: $light-theme,
    dropdownColor: $silver-bold,
    dropdownColorHover: $silver-bold,
    dropdownHoverBackgroundColor: darken($light-theme, 10%),

    headerUserNameColor: $silver-bold,

    headerBtnColor: #71818d,
    headerBtnBackgrounColor: #f0f0f0,

    footerBackgroundColor: $light-theme,
    footerTitleColor: rgba($silver-bold, .63),
    footerNavColor: $muted-bold,
    footerNavColorHover: darken($muted-bold, 25%),

    contentHolderBackgroundColor: $white,
    contentHolderBoxShadow:  0 2px 4px 0 rgba($black, .11),

    btnBrandColor: $gray-dark,
    btnBrandBackgroundColor: $light-theme,

    cryptoListLogoBorderColor: $silver-thin,

    contentHolderBorderColor: rgba(198, 219, 229, 0.66),

    cryptoListTitleColor: $silver-bold,

    cryptoListLogoIconColor: #72818C,

    asideColor: $silver-bold,
    asideBackgroundColor: $gray-light,

    cryptoSidebarColor: $silver-bold,

    pannelBannerColor: $silver-bold,
    pannelBannerHeaderBackgroundColor: #d6e1e8,
    pannelBannerBodyBackgroundColor: #e9f1f6,

    priceBackgroundColor: #e9f1f6,
    priceBorderColor: #d6e1e8,
    priceColor: $silver-bold,

    panelBackgroundColor: #e9f1f6,
    panelColor: $silver-bold,

    galleryDotBackgroundColor: $silver-bold,
  ),
  dark: (
    themeBackroundColor: $dark-theme-body-bg,
    themeColor: $white,

    infoBoxColor: $muted-thin,
    infoBoxBackroundColor: $dark-theme,

    btnLinkColor: $white,

    navbarLinkColor: $white,

    fieldBackroundColor: #333539,

    dropdownBackgroundColor: #242629,
    dropdownColor: $white,
    dropdownColorHover: $white,
    dropdownHoverBackgroundColor: darken(#242629, 3%),

    headerUserNameColor: $white,

    headerBtnColor: #90a4ae,
    headerBtnBackgrounColor: #333539,

    footerBackgroundColor: $dark-theme,
    footerTitleColor: rgba($white, .63),
    footerNavColor: $white,
    footerNavColorHover: darken($white, 25%),

    contentHolderBackgroundColor: #343539,
    contentHolderBoxShadow: 0 2px 4px 0 rgba($black, .19),

    btnBrandColor: $white,
    btnBrandBackgroundColor: #242629,

    cryptoListLogoBorderColor: $dark-theme,

    contentHolderBorderColor: #4b4b4b,

    cryptoListTitleColor: $white,

    cryptoListLogoIconColor: $white,

    asideColor: $white,
    asideBackgroundColor: $dark-theme-body-bg,

    cryptoSidebarColor: $white,

    pannelBannerColor: $white,
    pannelBannerHeaderBackgroundColor: #1f1f1f,
    pannelBannerBodyBackgroundColor: #333539,

    priceBackgroundColor: #26282b,
    priceBorderColor: $black,
    priceColor: $white,

    panelBackgroundColor: #26282b,
    panelColor: $white,

    galleryDotBackgroundColor: #1e1e1f,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}



html {
  @include themify($themes) {
    color: themed('themeColor');
    background-color: themed('themeBackroundColor');
  }
}
