/* THEMES */



/*
 * Theme definitions
 */

$themes: (
  light: (
    themeBackroundColor: $white,
    themeColor: $muted-bold,

    infoBoxColor: $gray-bold,
    infoBoxBackroundColor: $gray,

    navbarColor: $gray-bold,
    navbarBackroundColor: $gray,

    btnLinkColor: $success,

    navbarLinkColor: $silver-bold,

    fieldBackroundColor: $gray,

    btnHeaderBackroundColor: $gray,
    btnHeaderColor: $gray-dark,

    dropdownBackgroundColor: $gray,
    dropdownColor: $silver-bold,
    dropdownColorHover: darken($silver-bold, 25%),

    headerUserNameColor: $silver-bold,
  ),
  dark: (
    themeBackroundColor: $blue,
    themeColor: $white,

    infoBoxColor: $muted-thin,
    infoBoxBackroundColor: $blue-bold,

    btnLinkColor: $white,

    navbarLinkColor: $white,

    fieldBackroundColor: $blue-dark,

    btnHeaderBackroundColor:$blue-dark,
    btnHeaderColor: $muted,

    dropdownBackgroundColor: $sky-dark,
    dropdownColor: $white,
    dropdownColorHover: darken($white, 25%),

    headerUserNameColor: $white,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}



html {
  @include themify($themes) {
    color: themed('themeColor');
    background-color: themed('themeBackroundColor');
  }
}
