/* THEMES */

$dark-theme: #1b1d23;
$dark-theme-body-bg: #22252d;

$light-theme: $gray;
$light-theme-body-bg: $white;

/*
 * Theme definitions
 */

$themes: (
  light: (
    themeBackroundColor: $gray-light,
    themeColor: $muted-bold,

    infoBoxColor: $gray-bold,
    infoBoxBackroundColor: $light-theme,

    navbarColor: $gray-bold,
    navbarBackroundColor: $light-theme,

    btnLinkColor: $success,

    navbarLinkColor: $silver-bold,

    fieldBackroundColor: $light-theme,

    btnHeaderBackroundColor: $light-theme,
    btnHeaderColor: $gray-dark,

    dropdownBackgroundColor: $light-theme,
    dropdownColor: $silver-bold,
    dropdownColorHover: darken($silver-bold, 25%),

    headerUserNameColor: $silver-bold,

    footerBackgroundColor: $light-theme,
    footerTitleColor: rgba($silver-bold, .63),
    footerNavColor: $muted-bold,
    footerNavColorHover: darken($muted-bold, 25%),

    contentHolderBackgroundColor: $white,
    contentHolderBoxShadow:  0 2px 4px 0 rgba($black, .11),

    btnBrandColor: $silver-bold,
    btnBrandBackgroundColor: $light-theme,
  ),
  dark: (
    themeBackroundColor: $dark-theme-body-bg,
    themeColor: $white,

    infoBoxColor: $muted-thin,
    infoBoxBackroundColor: $dark-theme,

    btnLinkColor: $white,

    navbarLinkColor: $white,

    fieldBackroundColor: $blue-deep,

    btnHeaderBackroundColor:$blue-deep,
    btnHeaderColor: $muted,

    dropdownBackgroundColor: $sky-dark,
    dropdownColor: $white,
    dropdownColorHover: darken($white, 25%),

    headerUserNameColor: $white,

    footerBackgroundColor: $dark-theme,
    footerTitleColor: rgba($white, .63),
    footerNavColor: $white,
    footerNavColorHover: darken($white, 25%),

    contentHolderBackgroundColor: $blue-dark,
    contentHolderBoxShadow: 0 2px 4px 0 rgba($black, .19),

    btnBrandColor: $white,
    btnBrandBackgroundColor: #1d2331,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}



html {
  @include themify($themes) {
    color: themed('themeColor');
    background-color: themed('themeBackroundColor');
  }
}
