body{
    background: url(images/backrounder.jpg) no-repeat 50% 50% / cover;
    overflow: hidden;
}
@font-face {font-family: 'MyriadPro';
    src: url('fonts/miriad-pro/MyriadPro-Regular.eot');
    src: url('fonts/miriad-pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/miriad-pro/MyriadPro-Regular.woff') format('woff'),
         url('fonts/miriad-pro/MyriadPro-Regular.ttf') format('truetype');
}


/*User Behavior*/
@media(min-width:1025px){
body.faded > *{
    opacity: 0;
    transition: 1s;
}
body.faded.in > *{
    opacity: 1;
}
body.faded.selection .multipleVendors{
    /*opacity: 0;*/
}   
}

/*searcher*/
.searcher{
    margin-top: 100px;
}
.searchLine{
    width: 540px;
    max-width: 100%;
    margin: 0 auto;
}
.searchLine .searchTypes{
    text-align: center;
}
.searchLine .searchTypes ul{
    padding: 0 0 10px;
    margin: 0;
}
.searchLine .searchTypes li{
    display: inline-block;
    padding: 4px 10px 5px;
    margin: 0 1px;
    transition: 0.3s;
    cursor: pointer;
    font: 400 16px 'Lato';
    color: #fff;
    border-radius: 15px;
}
.searchLine .searchTypes li.active,
.searchLine .searchTypes li:hover{
    background: #29CAAE;
}
.searchLine .searchRequest{
    background: #fff;
    border-radius: 40px;
    height: 55px;
}
.searchLine .searchRequest.autocom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.searchLine .searchRequest:before, 
.searchLine .searchRequest:after{
    content:"";
    display:block;
    height:0;
    overflow:hidden;    
    clear:both;    
}
.searchLine .searchRequest > div{
    float: left;
    height: 100%;
}
.searchLine .searchRequest .whereLook{
    width: 55px;
    position: relative;
    border-right: 1px solid #E1E2E5;
    z-index: 2;
}
.searchLine .searchRequest .whereLook > span{
    display: block;
    height: 100%;
    background: url(images/google-icon.png);
    background-position: center center!important;
    background-repeat: no-repeat!important;
    position: relative;
    z-index: 2;
}
.searchLine .searchRequest .whereLook ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 30px;
    display: none;
}
.searchLine .searchRequest .whereLook ul li{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;    
}
.searchLine .searchRequest .whereLook ul li img{
    transition: 0.3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);  
}
.searchLine .searchRequest .whereLook ul li:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);    
}
.searchLine .searchRequest .whereLook ul li.active{
    display: none;
}
.searchLine .searchRequest .submitSearch{
    height: 100%;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;  
}
.searchLine .searchRequest .submitSearch img{
    transition: 0.3s;  
}
.searchLine .searchRequest .submitSearch:hover img{
    -webkit-filter: invert(.8);
    filter: invert(.8);     
}
.searchLine .searchRequest .textInsert{
    height: 100%;
    width: calc(100% - 110px);
    overflow: hidden;
}
.searchLine .searchRequest .textInsert input{
    border: none!important;
    height: 100%;
    width: 100%;
    font: 400 16px 'Lato';
    padding-left: 69px;
    padding-right: 69px;
    width: calc(100% + 110px);
    margin: 0 -55px;
}
.searchLine .searchRequest .textInsert input::-moz-placeholder{
    color: #999DA5;
    opacity: 1!important;
}
.searchLine .searchRequest .textInsert input::-webkit-input-placeholder{
    color: #999DA5;
}

/*ui-autocomplete*/
.ui-autocomplete{
    background: #fff;
    width: 540px!important;
    max-width: 100%;
    margin-left: -55px!important;
    font: 400 16px 'Lato'!important;
    padding: 5px 15px!important;
    color: #999DA5;
    border-top: 1px solid #E1E2E5;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.ui-autocomplete .ui-menu-item > div{
    cursor: pointer;
}
.ui-autocomplete li{
    padding: 4px 0;
}
.ui-autocomplete li:nth-child(n + 10){
    display: none!important;
}
.ui-autocomplete{
    list-style: none;
}

/*multipleVendors*/
.multipleVendors .container{
    padding-top: 100px
}
.multipleVendors .box{
    position: relative;
    /* height: 163px; */
    overflow: hidden;
    margin-bottom: 25px;
    padding-bottom: 63%;
}
.multipleVendors .box .flipper{
    height: 100%!important;  
    position: absolute !important;
    width: 100%;
    left: 0;
    top: 0;
}
.multipleVendors .box .flipper h2{
    margin: 0;
}    
.multipleVendors .box .front,
.multipleVendors .box .back{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.multipleVendors .box .front{
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 4px;
    background: #F8F8F8;
}
.multipleVendors .box .front a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
}

@media(max-width:1199px){
    .multipleVendors .box .front a img{
        max-width: 120px;
    } 
}


.multipleVendors .box .back{
    background: #7E7E7E;
    padding: 0 20px;
}
.multipleVendors .box.active .chooseLine{
    opacity: 0!important;
}
.multipleVendors .chooseLine{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(126, 126, 126, 0.8);
    z-index: 2;
    transition: opacity 0.3s;
}
.multipleVendors .box:hover .chooseLine{
    opacity: 1;
}
.multipleVendors .chooseLine ul{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 32px;
    padding: 0 6px;
}
.multipleVendors .chooseLine ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    color: #2A2A2A;
    font: 400 14px 'Lato';  
}
.multipleVendors .chooseLine ul li img{
    transition: all 0.3s;
    cursor: pointer;
}
.multipleVendors .chooseLine ul li:first-child{
    float: left;
}
.multipleVendors .chooseLine ul li:not(:first-child){
    float: right;
}
.multipleVendors .confirmText{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}
.multipleVendors .confirmText h4{
    font: 700 21px 'Lato';
    color: #fff;
    margin: 0 0 15px;
}
.multipleVendors .confirmText .buttonLine{
    display: flex;
    justify-content: center;
}
.multipleVendors .confirmText a.button{
    background: ;
    width: 71px;
    height: 35px;
    font: 14px 'MyriadPro';
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border-radius: 3px;
}
.multipleVendors .confirmText a.button.white{
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #ccc;
    margin-right: 15px;
}
.multipleVendors .confirmText a.button.white:hover{
    color: #fff;
    background: #333;
    border: 1px solid #333;
}
.multipleVendors .confirmText a.button.red{
    color: #fff;
    background: #D75553;
    border: 1px solid #D2413F;
}
.multipleVendors .confirmText a.button.red:hover{
    color: #D75553;
    background: #fff;
    border: 1px solid #fff;
}

/*Responsivness*//*Responsivness*//*Responsivness*/
@media(min-width:1025px){
.multipleVendors .chooseLine{
    opacity: 0;
}
.multipleVendors .chooseLine li:hover img{
    -webkit-filter: invert(.8);
    filter: invert(.8);     
}
}

@media(max-height:880px){
.searcher {
    margin-top: 50px;
}
.multipleVendors .container {
    padding-top: 70px;
}    
}

@media(max-height:780px){
.multipleVendors .box{
    /* height: 140px; */
}   
}

@media(max-width:1199px){
body{
    overflow: auto;
}
}




@media (min-width: 1399px) {
    .container {
        max-width: 1040px !important;
    }
}








