<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="d-flex flex-column flex-xxl-row align-items-center justify-content-xxl-between">
                <a href="index.html" class="footer__logo">
                    <img src="img/elements/logo.svg" alt="" class="w-100">
                </a>

                <div class="footer-nav">
                    <a href="who-we-are.html" class="footer-nav__link">Who We Are?</a>
                    <a href="get-in-touch.html" class="footer-nav__link">Get In Touch</a>
                    <a href="terms-of-use.html" class="footer-nav__link">Terms Of Use</a>
                    <a href="privacy-policy.html" class="footer-nav__link">Privacy Policy</a>
                    <a href="advertiser-disclosure.html" class="footer-nav__link">Advertiser Disclosure</a>
                </div>
            </div>
        </div>

        <div class="footer__bottom text-center text-lg-start">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-3 mb-lg-0">
                    <p>As an Amazon Associate & Affiliate of other partners Top5WifiBoosters may
                        earn a
                        comission from qualifying purchases made as a result of our reviews.</p>
                </div>

                <div class="col-lg-5 text-lg-end">
                    <img src="img/elements/footer-protected.png" alt="" class="footer__protected mb-1">
                    <p>© All Rights Reserved! Top5WifiBoosters 2021</p>
                </div>
            </div>

        </div>
    </div>
</footer>