<div class="modal modal-exit fade" id="modal-exit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-image-box">
                    <button type="button" class="btn-close d-sm-none" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon-x"></i>
                    </button>
                    <img src="img/temp/DuoBoost1.png" alt="" class="modal-image">
                </div>

                <div class="modal-content-box">
                    <button type="button" class="btn-close d-none d-sm-block" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i class="icon-x"></i>
                    </button>
                    <h2 class="modal-title">Wait!</h2>
                    <p class="fs-16 mb-4">Before you leave...</p>
                    <img src="img/temp/DuoBoost-021.svg" alt="" class="d-block mx-auto img-fluid mb-3 mb-sm-4">
                    <a href="https://www.techfibrr.com/checkout/?prod=wifi-duoboost&lang=en&s1=t5&s2=t5&guar=1&gclid="
                        class="btn btn-primary text-uppercase px-5 mb-3 mb-sm-5" target="_blank">get 50% off</a>
                    <a href="#" data-bs-dismiss="modal" class="text-decoration-underline fs-12 font-bold">No, I don’t
                        want to save
                        money</a>
                </div>
            </div>
        </div>
    </div>
</div>