/* MENU */

$menu-bg: rgba(#565f71, .95);
$menu-font: $font-brioni-light;

.menu {
  background: $menu-bg;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  @include transition(250ms);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.menu--is-open {
  opacity: 1;
  visibility: visible;
}

.menu__close {
  color: $white;
  position: absolute;
  top: 18px;
  right: 28px;
  padding: 5px;
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
    right: 20px;
    top: 31px;
  }
  @include media-breakpoint-down(sm) {
    right: 22px;
  }
  @include media-breakpoint-down(xs) {
    right: 16px;
    top: 16px;
  }
  &:hover, &:focus {
    color: $warning-secondary;
  }
}

.menu_navigation {
  @extend .list-unstyled, .d-flex, .flex-column, .justify-content-center;
  padding: 70px 0;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }
}
.menu_navigation__item {
  text-align: center;
}
.menu_navigation__link {
  font-size: 18px;
  color: $white;
  border-bottom: 1px solid transparent;
  display: inline-block;
  padding: 5px 0;
  font-family: $menu-font;
  &:hover, &:focus, &.active {
    color: $warning-secondary;
    border-color: $warning-secondary;
  }
  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
}
