/* BUTTONS */
.btn {
  @extend .font-bold, .shadow-none, .base-radius;
  font-size: 16px;
  margin: 0;
  text-transform: none;
  padding: 17.5px 30px;
  min-height: 59px;

  &-brand {
    @include button-variants($bg: $base-primary-color, $color: $white);
  }

  &-block {
    @extend .w-100, .px-3;
  }
}