/* FORMS */
$field-height: 59px;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	@extend .base-radius, .px-4, .fs-16;
	min-height: $field-height;
	border-color: $gray;
	@include custom-placeholder($color: $muted-soft, $font-size: 16px, $font-family: $font-regular);

	&:focus {
		@include custom-placeholder-opacity($opacity: 0);
	}
}

.md-form.md-outline {
	label {
		@extend .fs-16;
		left: 10px;
		transform: translateY(17px);

		&.active {
			transform: translateY(-13px) scale(.8);
		}
	}

	input[type=text]:focus:not([readonly]) {
		border-color: $base-primary-color;
		box-shadow: inset 0 0 0 1px $base-primary-color;

		&+label {
			color: $base-primary-color;
		}
	}
}