/* HERO */
.hero {
  @extend .bg-sky, .position-relative, .d-md-flex, .align-items-md-center;
  padding: 80px 0 60px;
  z-index: 20;
  @include media-breakpoint-up(sm) {
    padding: 100px 0 80px;
    min-height: 100vh;
  }
}

.hero__phone {
  @extend .w-100, .d-none, .d-lg-block, .position-absolute;
  max-width: 384px;
  left: 13%;
  bottom: 0;
  z-index: -1;
  @include media-breakpoint-up(lg) {
    max-width: 500px;
  }
}

.hero__scroll-btn {
  @extend .position-absolute, .bg-white, .text-black, .d-inline-flex, .align-items-center, .justify-content-center, .rounded-circle;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;

  &:focus,
  &:hover {
    @extend .base-primary-color;
  }
}

.hero__scroll-btn-icon {
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(0, -4px);
  }

  60% {
    transform: translate(0, -3px);
  }
}