<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="row row--bordered">
        <div class="col-lg">
          <div class="footer__item">
            <p class="font-montserrat-medium">Contact us</p>
            <div class="row">
              <div class="col">
                <address class="mb-0">
                  <b>CBC East</b><br />
                  191186 Millionnaya st. 29<br />
                  <a href="tel:(423) 500-1000">(423) 500-1000</a>
                </address>
              </div>
              <div class="col">
                <address class="mb-0">
                  <b>Downtown</b><br />
                  191186 Millionnaya st. 29<br />
                  <a href="tel:(423) 500-1000">(423) 500-1000</a>
                </address>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg">
          <div class="footer__item">
            <p class="font-montserrat-medium">Follow us</p>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link cbc-icon-google" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link cbc-icon-facebook" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link cbc-icon-twitter" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link cbc-icon-instagram" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link cbc-icon-behance" href="#"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg">
          <div class="footer__item">
            <form class="sign__form text-left pl-lg-5">
              <label for="footer-field-email">Sign up for our news</label>
              <div class="form-group d-flex mb-0">
                <input type="email" class="form-control flex-1" placeholder="EMAIL" id="footer-field-email">
                <button type="submit" name="button" class="btn btn-submit">
                  <i class="cbc-icon-play-right"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms & Conditions</a>
        </li>
      </ul>
    </div>
  </div>
</footer>