<header class="header">
  <div class="container-fluid">
    <div class="header__inner">
      <a href="#" class="header__menu-toggle">
        <i class="cbc-icon-menu"></i>
      </a>

      <a href="#" class="header__logo">
        <img src="assets/images/elements/logo.svg" alt="" class="w-100">
      </a>

      <form class="sign__form d-none d-lg-block">
        <label for="field-email">Sign up for our news</label>
        <div class="form-group d-flex mb-0">
          <input type="email" class="form-control flex-1" placeholder="EMAIL" id="field-email">
          <button type="submit" name="button" class="btn btn-submit">
            <i class="cbc-icon-play-right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</header>