<div class="menu" id="menu">
  <div class="menu__navbar">
    <a href="#" class="menu__close cbc-icon-close"></a>
    <ul class="menu__nav">
      <li class="menu__nav__item">
        <a href="#" class="menu__nav__link">Home</a>
      </li>
      <li class="menu__nav__item dropdown">
        <a href="#" class="menu__nav__link dropdown-toggle" data-toggle="dropdown">Billiards</a>
        <div class="dropdown-menu menu__dropdown-menu menu__dropdown-menu--columns">
          <a class="dropdown-item" href="#">Billiards Bars & More</a>
          <a class="dropdown-item" href="#">Visit Us</a>
          <a class="dropdown-item" href="#">Diamonds Room</a>
          <a class="dropdown-item" href="#">Tournaments</a>
          <a class="dropdown-item" href="#">Billiards League</a>
          <a class="dropdown-item" href="#">Master Leagues</a>
          <a class="dropdown-item" href="#">Table Rates</a>
          <a class="dropdown-item" href="#">Rules</a>
          <a class="dropdown-item" href="#">History</a>
          <a class="dropdown-item" href="#">Downtown Location</a>
        </div>
      </li>
      <li class="menu__nav__item">
        <a href="#" class="menu__nav__link">Arcade Room</a>
      </li>
      <li class="menu__nav__item">
        <a href="#" class="menu__nav__link">Events Calendar</a>
      </li>
      <li class="menu__nav__item">
        <a href="#" class="menu__nav__link">Galleries</a>
      </li>
      <li class="menu__nav__item">
        <a href="#" class="menu__nav__link">About Us</a>
      </li>
      <li class="menu__nav__item dropdown">
        <a href="#" class="menu__nav__link dropdown-toggle" data-toggle="dropdown">Contact Us</a>
        <div class="dropdown-menu menu__dropdown-menu">
          <a class="dropdown-item" href="#">Menu item</a>
          <a class="dropdown-item" href="#">Menu item</a>
          <a class="dropdown-item" href="#">Menu item</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- menu__navbar -->

  <div class="menu__content">
    <div class="menu__content__item has-bg has-overlay has-overlay--blue" style="background-image: url('assets/images/bg/menu-bg.jpg');">
      <div class="menu__content__body flex-1">
        <h5 class="text-yellow mb-4">Drink Specials</h5>
        <div class="row">
          <div class="col">
            <div class="info text-uppercase text-orange text-lg-right">
              <div class="info__item">AFTER WORK</div>
              <div class="info__item">MON - FRI</div>
              <div class="info__item">4:00PM - 7:00PM</div>
            </div>
          </div>
          <div class="col">
            <div class="info text-white text-lg-left">
              <div class="info__item">1/2 Price Cocktails*</div>
              <div class="info__item">$2.50 Domestic Pints</div>
              <div class="info__item">$1 Off 22 oz Drafts</div>
              <div class="info__item">$1 Off Wine Glasses</div>
              <div class="info__item">$3 Off Wine Bottles</div>
            </div>
          </div>
        </div>
      </div>

      <div class="menu__content__footer text-center">
        <a href="#" class="btn btn--yellow px-5">See all of<br /> our specials</a>
      </div>
    </div>


    <div class="menu__content__item bg-black-thin justify-content-lg-center">
      <div class="menu__content__body">
        <h5 class="text-yellow mb-4">Food & Drink<br />Menu</h5>
        <p class="lead text-white px-lg-5">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
      </div>

      <div class="menu__content__footer text-center">
        <a href="#" class="btn btn--yellow">See the FULL MENU</a>
      </div>
    </div>
  </div>
  <!-- menu__navbar -->
</div>
