/* FOOTER */

.footer {
    @extend .py-4,
    .bg-black,
    .text-white,
    .fs-12;
}

.footer-logo {
    @extend .d-block,
    .w-100,
    .me-md-4,
    .mb-4,
    .mb-md-0;
    max-width: 260px;
}

.footer-nav {
    @extend .d-flex,
    .flex-wrap,
    .justify-content-center;
}

.footer-nav-item {
    @extend .font-semibold,
    .py-1,
    .text-white;

    &:hover,
    &:focus,
    &:active {
        @extend .text-primary;
    }
}

.footer-logo {
    @include media-breakpoint-down(sm) {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}