/* PREFOOTER */

.prefooter-logo {
    @extend .w-100, .d-block;
    max-width: 160px;
}

.prefooter-nav {
    @extend .d-flex, .flex-column;
}

.prefooter-nav-item {
    @extend .text-gray;
    padding: 9px 0;
    &:hover, &:focus, &:active {
        color: #0093A1 !important;
    }
}