<footer class="footer footer--secondary">
    <div class="container-fluid">
        <p>
            The information on this website has not been evaluated by the Food and Drug Administration. These products
            are not intended to diagnose, treat, cure or prevent any disease.
        </p>

        <div class="footer-menu">
            <span class="footer-menu-item">© PureHealth Research 2021 All Rights Reserved</span>
            <a href="#" class="footer-menu-item" target="_blank">*&nbsp;Citations</a>
            <a href="#" class="footer-menu-item" target="_blank">Terms</a>
            <a href="#" class="footer-menu-item" target="_blank">Privacy</a>
            <a href="#" class="footer-menu-item" target="_blank">Contact</a>
            <a href="#" class="footer-menu-item" target="_blank">Return Policy</a>
            <span class="footer-menu-item">4601 North Fairfax Drive, Suite 1200 Arlington, VA 22203</span>
        </div>
    </div>
</footer>