/* Fonts icons */



//Icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}icomoon/icomoon.eot?s3kfi6');
  src:  url('#{$font-path}icomoon/icomoon.eot?s3kfi6#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon/icomoon.ttf?s3kfi6') format('truetype'),
    url('#{$font-path}icomoon/icomoon.woff?s3kfi6') format('woff'),
    url('#{$font-path}icomoon/icomoon.svg?s3kfi6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="karmaza-icon-"], [class*=" karmaza-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.karmaza-icon-arrow-right:before {
  content: "\e900";
}
.karmaza-icon-play:before {
  content: "\e901";
  color: #fff;
}
