/* BREADCRUMB */
.breadcrumb-nav {
  @extend .d-flex, .align-items-center, .fs-13;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-left: 30px;
  }
}

.breadcrumb {
  @extend .p-0;
  background-color: transparent;
}

.breadcrumb-item {
  &+.breadcrumb-item {
    &:before {
      content: '>';
    }
  }
}