/* BUTTONS */
.btn {
  @extend .border-0, .font-base-bold, .shadow-none, .align-items-center;
  display: inline-flex;

  &-theme {
    @extend .text-white;
    @include themify($themes) {
      background-image: linear-gradient(to bottom,themed('btnThemeGradientStart') 0,themed('btnThemeGradientEnd') 100%);
    }

    &:focus,
    &:hover {
      @include themify($themes) {
        background-image: linear-gradient(to bottom,themed('btnThemeGradientEnd') 0,themed('btnThemeGradientStart') 100%);
      }
    }
  }

  &.btn-link {
    @extend .font-base-regular, .text-left;
    @include themify($themes) {
      color: themed('themeColor');
    }
  }

  &.btn-secondary {
    @extend .text-blue;
    @include gradient-y($start-color: #f3f3f3, $end-color: #e7e5e6, $start-percent: 0%, $end-percent: 100%);

    &:focus,
    &:hover {
      @include gradient-y($start-color: #f3f3f3, $end-color: #f3f3f3, $start-percent: 0%, $end-percent: 100%);
    }
  }
}