/* BUTTONS */
.btn {
  @extend .border-0, .font-base-bold, .shadow-none;

  &-theme {
    @extend .text-white;
    @include themify($themes) {
      background-image: linear-gradient(to bottom,themed('btnThemeGradientStart') 0,themed('btnThemeGradientEnd') 100%);
    }

    &:focus,
    &:hover {
      @include themify($themes) {
        background-image: linear-gradient(to bottom,themed('btnThemeGradientEnd') 0,themed('btnThemeGradientStart') 100%);
      }
    }
  }

  &.btn-link {
    @extend .font-base-regular, .text-left;
    @include themify($themes) {
      color: themed('themeColor');
    }
  }
}