/* BUTTONS */
.btn {
  @extend .align-items-center, .justify-content-center, .font-base-bold;
  display: inline-flex;
  font-size: 1rem;
  border: none;
  box-shadow: none;
  color: $brand-color;

  &-theme {
    @extend .text-white;
    @include themify($themes) {
      background-image: linear-gradient(to bottom,themed('btnThemeGradientStart') 0,themed('btnThemeGradientEnd') 100%);
    }

    &:focus,
    &:hover {
      @include themify($themes) {
        background-image: linear-gradient(to bottom,themed('btnThemeGradientEnd') 0,themed('btnThemeGradientStart') 100%);
      }
    }
  }

  &-gradient-primary {
    @extend .text-white;
    background-image: linear-gradient(to bottom, $brand-color 0, $brand-contrast-color 100%);

    &:focus,
    &:hover {
      background-image: linear-gradient(to bottom, $brand-color 0, $brand-color 100%);
    }
  }

  &.btn-link {
    @extend .text-left;
    font-weight: $font-base-regular;
    @include themify($themes) {
      color: themed('themeColor');
    }
  }

  &.btn-secondary {
    @extend .text-blue;
    @include gradient-y($start-color: #f3f3f3, $end-color: #e7e5e6, $start-percent: 0%, $end-percent: 100%);
    box-shadow: inset -1px -2px 3px 0 rgba($black,0.25);

    &:focus,
    &:hover {
      @include gradient-y($start-color: #f3f3f3, $end-color: #f3f3f3, $start-percent: 0%, $end-percent: 100%);
    }
  }

  &.btn-brand {
    @extend .text-white;
    @include themify($themes) {
      background-color: themed('themeColor');
    }

    &:focus,
    &:hover {
      @include themify($themes) {
        background-color: darken(themed('themeColor'), 10%);
      }
    }
  }

  &.btn-blue {
    @extend .text-white;
    background: linear-gradient(180deg, #6A66AF 0%, #110E72 100%);

    &:focus,
    &:hover {
      background: linear-gradient(180deg, #110E72 0%, #110E72 100%);
    }
  }

  &.btn-md {
    padding: 12px 20px;
  }

  &.btn-lg {
    @include media-breakpoint-up(md) {
      font-size: 20px;
      padding: 18px 26px;
    }
  }
}