/* CARD */
$card-color: $blue-soft;
$card-icon-box-size: 40px;

.card {
  border-color: $card-color;
}

.card-header {
  @extend .text-white;
  font-weight: $font-base-bold;
  background-color: $card-color;
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

.card-icon-box {
  @extend .d-flex, .align-items-center, .justify-content-center, .rounded-circle, .text-white, .flex-shrink-0;
  background-color: $card-color;
  margin-right: 20px;
  width: $card-icon-box-size;
  height: $card-icon-box-size;
  font-size: 18px;
  @include media-breakpoint-up(md) {
    width: calc(#{$card-icon-box-size} + 14px);
    height: calc(#{$card-icon-box-size} + 14px);
    font-size: 28px;
  }
}