/* FILTER */
.filter {
  @extend .position-relative, .d-flex, .flex-column, .flex-md-row-reverse;
}

.filter__aside {
  @extend .flex-shrink-0;
  @include media-breakpoint-up(md) {
    width: 220px;
    margin-right: 50px;
  }
  @include media-breakpoint-up(xl) {
    width: 268px;
  }
}

.filter__body {
  @extend .flex-fill, .mb-5, .mb-md-0;
  min-width: 0;
}

.filter__aside__list {
  @extend .d-none, .d-md-block, .bg-white;
  @include media-breakpoint-down(sm) {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 980;
    padding: 0 15px 90px;
  }

  &.is-opened {
    @extend .d-block;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.filter__aside__footer,
.filter__aside__header {
  @extend .d-md-none;
}

.filter__aside__header {
  @extend .py-3, .pl-3, .position-sticky, .bg-white;
  border-bottom: 1px solid $base-border-color;
  margin-bottom: 20px;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-right: 40px;
  z-index: 20;
  top: 0;
}

.filter__aside__footer {
  @extend .fixed-bottom, .bg-white, .px-3, .py-2;
  border-top: 1px solid $base-border-color;
}

.filter__aside__list__title {
  @extend .m-0, .fs-16, .text-blue;
  font-weight: $font-base-bold;
}

.filter__aside__list__close {
  @extend .position-absolute, .btn, .border-0, .p-0, .text-blue;
  top: 13px;
  right: 1rem;
  font-size: 24px;
}

.filter__aside__item {
  &+.filter__aside__item {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $silver-soft;
  }
}

.filter__aside__title {
  @extend .mb-2, .fs-16, .d-flex, .align-items-center, .flex-wrap;
}

.filter-header {
  @extend .bg-white, .p-3, .d-flex, .justify-content-between, .d-md-none, .mb-3;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  width: calc(100% + 30px);
  border-bottom: 1px solid $base-border-color;

  &.is_stuck {
    z-index: 940 !important;
  }
}

.filter__select {
  @extend .form-control, .border-0, .fs-14, .py-0, .h-auto;
  padding-right: 20px !important;
}

.filter-header__item {
  @extend .d-flex, .align-items-center;
}

.filter-header__btn {
  @extend .btn, .border-0, .p-0, .fs-14;
  font-weight: $font-base-regular;
}