/* FILTER CHECKBOX */
$checkbox-size: 16px;

.filter-checkbox {
  @extend .d-block;
  margin-bottom: 6px;

  input {
    @extend .position-absolute, .invisible;

    &:checked {
      &~label {
        &:after {
          @include themify($themes) {
            border-color: themed('themeColor');
            background-color: themed('themeColor');
          }
        }

        &:before {
          @extend .visible;
        }
      }
    }
  }

  label {
    @extend .m-0, .position-relative, .d-block, .font-icons, .icon-checkmark, .text-blue;
    cursor: pointer;
    padding-left: calc(#{$checkbox-size} + 12px);

    &:after {
      content: '';
      @extend .position-absolute;
      left: 0;
      top: 5px;
      border-radius: 3px;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 1px solid $blue-thin;
    }

    &:before {
      @extend .text-white, .position-absolute, .fs-12, .invisible;
      left: 2px;
      top: 4px;
      z-index: 2;
    }
  }
}

.filter-checkbox__counter {
  @extend .ml-1, .d-inline-block, .text-blue-thin;
}