/* LIST COUNTER */
$count-size: 30px;

.list-counter {
  @extend .list-unstyled;
  counter-reset: count;
}

.list-counter__item {
  @extend .d-flex, .align-items-center, .text-asphalt-soft;

  &+.list-counter__item {
    margin-top: 10px;
  }

  &:before {
    @extend .rounded-circle, .d-inline-flex, .align-items-center, .justify-content-center, .text-white, .bg-asphalt-soft, .flex-shrink-0;
    font-weight: $font-base-bold;
    counter-increment: count;
    content: counter(count);
    margin-right: 10px;
    width: $count-size;
    height: $count-size;
    border: 2px solid $white;
  }

  &--highlight {
    font-weight: $font-base-bold;

    &:before {
      @extend .bg-brand-color;
    }
  }
}