/* POPOVER */
.popover {
  @extend .border-0;
  box-shadow: 0 0 12px 3px rgba($black, .1);

  .arrow {
    &:before {
      content: none;
    }
  }
}

.popover-body {
  @extend .p-3;
}

.popover-content {
  @extend .position-relative, .font-icons, .icon-times;
  padding-right: 25px;

  &:before {
    @extend .position-absolute, .text-blue;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 20;
  }
}

.btn-popover {
  @extend .p-0, .border-0, .color-theme, .fs-13, .bg-transparent, .shadow-none;
  margin-top: 3px;
  font-weight: $font-base-regular;
}