/* QUIZ */
$quiz-icon-desktop-size: 120px;
$quiz-icon-mobile-size: 88px;
$quiz-audio-payer-icon-box-size: 33px;
$quiz-score-size: 75px;

.quiz {
  margin-bottom: 25px;
  color: $asphalt-soft;

  .form-control {
    @include custom-placeholder($color: #9DA7B4, $font-size: 16px, $font-family: $font-base-regular);
  }
}

.quiz__item {
  @extend .d-md-flex, .align-items-md-start;

  &:not(:first-child) {
    padding-top: 30px;
  }

  &:not(:last-child) {
    padding-bottom: 30px;
  }

  &+.quiz__item {
    border-top: 1px solid $silver-soft;
  }
}

.quiz__icon-box {
  @extend .flex-shrink-0, .d-flex, .align-items-center, .justify-content-center, .text-white, .bg-asphalt-soft, .rounded-circle, .p-4;
  @include media-breakpoint-up(md) {
    margin-right: 30px;
    width: $quiz-icon-desktop-size;
    height: $quiz-icon-desktop-size;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 auto 30px;
    width: $quiz-icon-mobile-size;
    height: $quiz-icon-mobile-size;
  }
}

.quiz__icon {
  @extend .w-100, .rounded-circle;
}

.quiz__body {
  @extend .flex-fill;
  min-width: 0;
}

.quiz__audio-payer {
  @extend .mb-3, .mb-md-4, .d-flex, .align-items-center;
}

.quiz__audio-payer-icon-box {
  @extend .rounded-circle, .d-inline-flex, .align-items-center, .justify-content-center, .flex-shrink-0, .mr-2, .text-blue, .btn, .p-0;
  width: $quiz-audio-payer-icon-box-size;
  height: $quiz-audio-payer-icon-box-size;
  border: 1px solid $blue;
  box-shadow: 0 2px 4px 0 rgba($black, .15);
}

.quiz__audio-payer-text {
  @extend .d-inline-block, .base-radius, .text-white, .font-base-bold, .text-asphalt-soft, .bg-silver-soft, .fs-14, .text-truncate, .text-uppercase;
  padding: 3.5px 10px;
  line-height: 1;
}

.quiz__title {
  @extend .text-burst, .fs-20;
}

.quiz__subtitle {
  @extend .fs-16, .font-base-regular;
}

.quiz__score-box {
  @extend .d-flex, .align-items-center, .justify-content-center;
  border-top: 1px solid $blue;
  padding-top: 30px;
  margin-top: 30px;
}

.quize__score-title {
  @extend .mb-0, .fs-22, .text-blue, .mr-3;
}

.quize__score {
  @extend .d-flex, .align-items-center, .justify-content-center, .rounded-circle, .bg-blue, .text-white, .font-base-bold, .fs-30, .flex-shrink-0;
  width: $quiz-score-size;
  height: $quiz-score-size;
  border: 3px solid $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
  font-size: 30px;
  letter-spacing: -0.02px;
}

.quize__score-decimal {
  @extend .fs-16;
  margin-top: -12px;
  display: inline-block;
  line-height: 1;
}