/* QUIZ */
$quiz-icon-desktop-size: 120px;
$quiz-icon-mobile-size: 88px;

.quiz {
  border-bottom: 1px solid $blue;
  margin-bottom: 25px;
}

.quiz__item {
  @extend .d-md-flex, .align-items-md-start;
  padding-top: 30px;
  padding-bottom: 30px;

  &+.quiz__item {
    border-top: 1px solid $silver-soft;
  }
}

.quiz__icon {
  @extend .flex-shrink-0, .d-flex, .align-items-center, .justify-content-center, .text-white, .bg-asphalt-soft, .rounded-circle;
  @include media-breakpoint-up(md) {
    margin-right: 30px;
    width: $quiz-icon-desktop-size;
    height: $quiz-icon-desktop-size;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 auto 30px;
    width: $quiz-icon-mobile-size;
    height: $quiz-icon-mobile-size;
  }
}

.quiz__body {
  @extend .flex-fill;
}