/* rating RANGE */
.rating-range {
  .slider-range {
    border: none !important;
    background-color: #D3D7DE;
    border-radius: 15px;
    margin: 16px 10px;

    &:before {
      content: '';
      width: calc(100% + 16px);
      height: 100%;
      display: block;
      position: absolute;
      background: #D3D7DE;
      border-radius: 13px;
      left: -8px;
    }

    .ui-slider-range {
      background: #ff7800;
      border: none;
      border-radius: 15px;
      left: -8px;
      width: calc(100% + 16px);

      &:before {
        content: '';
        width: 20%;
        height: 100%;
        display: block;
        position: absolute;
        background: #ff7800;
        right: -5px;
      }
    }

    .ui-slider-handle {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #e7edf3;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
      top: -4px;
      cursor: pointer;
      display: block;
      border: none !important;
    }
  }

  input[type='range'] {
    display: none;
  }

  .slider-steps {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    cursor: pointer;

    li {
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: underline;
      color: #322766;
      font-size: 1rem;

      &:first-child {
        margin-left: -4.5%;
      }

      &:last-child {
        margin-right: -4.5%;
      }

      &.active {
        font-weight: 600;
      }
    }
  }
}

.tt-footer {
  border-top: 1px solid #f2eeef;
  clear: both;

  a {
    font-weight: bold;
    margin: 10px 10px 14px 50px;
    display: block;
  }

  input[type="submit"] {
    font-weight: bold;
    display: block;
    text-align: left;
    color: #ff7800;
    white-space: normal;
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 16px;
    padding: 10px 10px 10px 50px;
    background: none;
    height: auto;

    &:focus {
      box-shadow: none;
      border: none;
    }
  }
}

.rating-range__values-header {
  @extend .d-flex, .align-items-center, .justify-content-between;
  margin-bottom: 10px;
}

.rating-range__values-header__item {
  @extend .d-inline-block, .text-asphalt-soft;

  &:last-of-type {
    @extend .ml-3, .flex-shrink-0;
  }
}

.rating-range__values {
  @extend .d-flex, .justify-content-between;
}

.rating-range__value {
  @extend .bg-white, .rounded-circle;
  font-size: 0;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 24px;

  &--very-sad {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZT0iI0RBMUM0NyIgc3Ryb2tlLXdpZHRoPSIxLjUiIGN4PSI4IiBjeT0iOCIgcj0iNy4yNSIvPjxjaXJjbGUgZmlsbD0iI0RBMUM0NyIgY3g9IjUiIGN5PSI2IiByPSIxIi8+PGNpcmNsZSBmaWxsPSIjREExQzQ3IiBjeD0iMTEiIGN5PSI2IiByPSIxIi8+PHBhdGggZD0iTTUgMTFjLjY2Ny0xLjMzMyAxLjY2Ny0yIDMtMnMyLjMzMy42NjcgMyAyIiBzdHJva2U9IiNEQTFDNDciIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz48L2c+PC9zdmc+");
  }

  &--sad {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZT0iI0ZGNzgwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGN4PSI4IiBjeT0iOCIgcj0iNy4yNSIvPjxjaXJjbGUgZmlsbD0iI0ZGNzgwMCIgY3g9IjUiIGN5PSI2IiByPSIxIi8+PGNpcmNsZSBmaWxsPSIjRkY3ODAwIiBjeD0iMTEiIGN5PSI2IiByPSIxIi8+PHBhdGggZD0iTTUgMTBjMS0uNjY3IDItMSAzLTFzMiAuMzMzIDMgMSIgc3Ryb2tlPSIjRkY3ODAwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==");
  }

  &--neutral {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZT0iI0ZGQUYwNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGN4PSI4IiBjeT0iOCIgcj0iNy4yNSIvPjxjaXJjbGUgZmlsbD0iI0ZGQUYwNCIgY3g9IjUiIGN5PSI2IiByPSIxIi8+PGNpcmNsZSBmaWxsPSIjRkZBRjA0IiBjeD0iMTEiIGN5PSI2IiByPSIxIi8+PHBhdGggZD0iTTUgMTBoNiIgc3Ryb2tlPSIjRkZBRjA0IiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==");
  }

  &--happy {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZT0iI0E1QzgwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGN4PSI4IiBjeT0iOCIgcj0iNy4yNSIvPjxjaXJjbGUgZmlsbD0iI0E1QzgwMCIgY3g9IjUiIGN5PSI2IiByPSIxIi8+PGNpcmNsZSBmaWxsPSIjQTVDODAwIiBjeD0iMTEiIGN5PSI2IiByPSIxIi8+PHBhdGggZD0iTTUgMTBjMSAuNjY3IDIgMSAzIDFzMi0uMzMzIDMtMSIgc3Ryb2tlPSIjQTVDODAwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==");
  }

  &--very-happy {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIHN0cm9rZT0iIzA5QTYwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGN4PSI4IiBjeT0iOCIgcj0iNy4yNSIvPjxjaXJjbGUgZmlsbD0iIzA5QTYwMCIgY3g9IjUiIGN5PSI2IiByPSIxIi8+PGNpcmNsZSBmaWxsPSIjMDlBNjAwIiBjeD0iMTEiIGN5PSI2IiByPSIxIi8+PHBhdGggZD0iTTUgMTBjLjY2NyAxLjMzMyAxLjY2NyAyIDMgMnMyLjMzMy0uNjY3IDMtMiIgc3Ryb2tlPSIjMDlBNjAwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==");
  }
}