/* SEARCH */
#search-form .twitter-typeahead {
  @extend .d-block, .p-0;

  .tt-footer input[type="submit"] {
    font-weight: bold;
    padding: 10px 10px 10px 50px;
    display: block;
    text-align: left;
    color: #ff7800;
    white-space: normal;
    height: auto;
  }

  .search_field_holder .tt-suggestion .ta-image {
    display: block;
    float: left;
    color: #ff7800;
    text-align: center;
    padding: 7px 12px 10px;

    i {
      font-size: 25px;
    }
  }

  input {
    font-size: 13px;
    border-color: #e3e3e3;
    line-height: 16px;
    height: 32px;
    padding: 7px 45px 7px 10px;
    @include custom-placeholder($color: #5c6268, $font-size: 13px, $font-weight: $font-base-regular, $letter-spacing: 0);
  }

  .tt-dropdown-menu {
    background: none $white;
    border-radius: 0 0 4px 4px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    border: 1px solid $base-border-color;
    border-top: none;
    top: 31px !important;
  }

  .tt-suggestion {
    float: left;
    width: 100%;
    min-height: 50px;

    &:hover {
      background: none $orange-thin;
    }

    a {
      line-height: 1.18em;
    }

    .ta-group {
      color: $white;
      font-weight: bold;
      background: $muted;
      padding: 3px 15px;
    }

    .ta-title {
      .ta-row {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.profile-img {
        a {
          .ta-row {
            margin-left: 0 !important;
          }
        }
      }
    }

    .title {
      display: block;
      padding: 7px 10px;
      color: $muted;
      cursor: pointer;
    }

    .ta-image {
      display: block;
      float: left;
      color: $orange;
      text-align: center;
      padding: 7px 12px 10px;
      line-height: 1.42857;

      i {
        font-size: 25px;
      }

      &.profile-img {
        display: block !important;
        float: left !important;
        color: $orange !important;
        text-align: center !important;
        max-width: 48px !important;
        max-height: 48px !important;
        padding: 2px 2px 2px 2px !important;
        margin-top: 8px!important;
      }
    }

    a {
      cursor: pointer;
      display: block;
      padding: 7px 10px 7px 50px;
      color: $muted;
    }
  }

  .tt-footer {
    border-top: 1px solid $gray-thin;
    clear: both;

    a {
      font-weight: bold;
      margin: 10px 10px 14px 50px;
      display: block;
    }
  }

  .tt-cursor {
    background: none $orange-thin;
  }
}

.search-field {
  @extend .position-relative, .bg-white;
  border-radius: 4px;

  .btn-submit {
    @extend .position-absolute, .h-100, .border-0, , .py-0, .d-flex, .align-items-center;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    right: 0;
    background: transparent;
    font-size: 13px;
    @include themify($themes) {
      color: themed('themeColor');
    }
  }
}

.search-form {
  @extend .w-100;

  .form-group {
    @extend .mb-0;
  }
}