/* BUTTONS */

.btn {
    font-family: $font-bold;
    border-radius: 7px;
    padding: 7px 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-sky {
        @include button-variants($bg: $sky, $color: $white);
    }
}