/* PRODUCT */

.product {
    @extend .position-relative,
    .p-3,
    .bg-white,
    .text-reset,
    .d-flex,
    .flex-column,
    .text-center,
    .font-medium,
    .text-decoration-none;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        @extend .shadow;
    }

    @include media-breakpoint-only(sm) {
        font-size: 13px;
    }
}

.product__img {
    @extend .d-block,
    .w-100;
    max-width: 110px;
}

.product-heading {
    font-size: 23px;
}