/* RELATEDD GALLERY */

.related-gallery {
    padding: 10px 0 20px 0;

    @include media-breakpoint-up(md) {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .swiper-slide {
        height: auto;
        display: flex;
    }
}

.related-gallery-button {
    @extend .position-absolute,
    .font-icons,
    .text-silver200;
    z-index: 30;
    font-size: 40px;
    cursor: pointer;
    top: 75px;

    @include media-breakpoint-up(md) {
        font-size: 50px;
        transform: translateY(-50%);
        top: 50%;
    }

    &--prev {
        @extend .start-0,
        .icon-chevron-left;
        left: -10px !important;
    }

    &--next {
        @extend .end-0,
        .icon-chevron-right;
        right: -10px !important;
    }
}