/* Fonts */


//Folio
@font-face {
    font-family: 'Folio-BQ';
    src: url('#{$font-path}folio/hinted-FolioCondensedBQ-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}folio/hinted-FolioCondensedBQ-BoldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
