/* Fonts */


//Folio
@font-face {
    font-family: 'folio_bqregular';
    src: url('#{$font-path}folio/foliocondensedbq-bolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}folio/foliocondensedbq-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'Folio BQ';
//     src: url('FolioCondensedBQ-BoldItalic.eot');
//     src: local('Folio Condensed Bold Italic'), local('FolioCondensedBQ-BoldItalic'),
//         url('FolioCondensedBQ-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('FolioCondensedBQ-BoldItalic.woff2') format('woff2'),
//         url('FolioCondensedBQ-BoldItalic.woff') format('woff'),
//         url('FolioCondensedBQ-BoldItalic.ttf') format('truetype'),
//         url('FolioCondensedBQ-BoldItalic.svg#FolioCondensedBQ-BoldItalic') format('svg');
//     font-weight: 500;
//     font-style: italic;
// }
