/* Fonts icons */

//Fontello
@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello/fontello.eot?50301584');
  src: url('#{$font-path}fontello/fontello.eot?50301584#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?50301584') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?50301584') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?50301584') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?50301584#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="coopermoon-icon-"]:before, [class*=" coopermoon-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coopermoon-icon-search:before { content: '\e800'; } /* '' */
.coopermoon-icon-basket:before { content: '\e801'; } /* '' */
.coopermoon-icon-youtube-circled:before { content: '\e802'; } /* '' */
.coopermoon-icon-down-open:before { content: '\f004'; } /* '' */
.coopermoon-icon-up-open:before { content: '\f005'; } /* '' */
.coopermoon-icon-right-open:before { content: '\f006'; } /* '' */
.coopermoon-icon-left-open:before { content: '\f007'; } /* '' */
.coopermoon-icon-user:before { content: '\f061'; } /* '' */
.coopermoon-icon-menu:before { content: '\f0c9'; } /* '' */
.coopermoon-icon-twitter-circled:before { content: '\f30a'; } /* '' */
.coopermoon-icon-facebook-circled:before { content: '\f30d'; } /* '' */
.coopermoon-icon-gplus-circled:before { content: '\f310'; } /* '' */
.coopermoon-icon-linkedin-circled:before { content: '\f319'; } /* '' */
