//Button


table {
  &.button{
    &.secondary {
      table {
        td {
          background: $white;
          color: $success-color;
          border: 0px solid $white;
          &:hover, &:focus {
            background: $white;
            color: $success-color;
            border: 0px solid $white;
          }
        }
        a {
          color: $success-color;
          border: 0 solid $white;
          &:hover, &:focus, &:visited {
            color: $success-color !important;
            border: 0 solid $white;
          }
        }
      }
    }

    &.black {
      table {
        td {
          background: $white;
          color: $black;
          border: 0px solid $white;
          &:hover, &:focus {
            background: $white;
            color: $black;
            border: 0px solid $white;
          }
        }
        a {
          color: $black;
          border: 0 solid $white;
          &:hover, &:focus, &:visited {
            color: $black!important;
            border: 0 solid $white;
          }
        }
      }
    }

    &.lemon {
      table {
        td {
          background: $white;
          color: $lemon;
          border: 0px solid $white;
          &:hover, &:focus {
            background: $white;
            color: $lemon;
            border: 0px solid $white;
          }
        }
        a {
          color: $lemon;
          border: 0 solid $white;
          &:hover, &:focus, &:visited {
            color: $lemon!important;
            border: 0 solid $white;
          }
        }
      }
    }

    &.gray {
      table {
        td {
          background: $white;
          color: $gray;
          border: 0px solid $white;
          &:hover, &:focus {
            background: $white;
            color: $gray;
            border: 0px solid $white;
          }
        }
        a {
          color: $gray;
          border: 0 solid $white;
          &:hover, &:focus, &:visited {
            color: $gray!important;
            border: 0 solid $white;
          }
        }
      }
    }
  }
}
