/* SOCIAL */

$social-link-size: 30px;

.social {
  @extend .list-unstyled, .d-flex;
}

.social__item {
  &+.social__item {
    margin-left: 20px;
  }
}

.social__link {
  background: $blue;
  color: $white;
  border-radius: 50%;
  @extend .d-flex, .justify-content-center, .align-items-center;
  width: $social-link-size;
  height: $social-link-size;
  &:hover, &:focus {
    color: $white;
    background: darken($blue, 10%);
  }
}
