/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
*************************/

$font-base-regular: 'Montserrat-Regular';

.font-base-regular {
	font-family: $font-base-regular !important;
}

$font-base-medium: 'Montserrat-Medium';

.font-base-medium {
	font-family: $font-base-medium !important;
}

$font-base-bold: 'Montserrat-Bold';

.font-base-bold {
	font-family: $font-base-bold !important;
}

$font-secondary-regular: 'Sacramento-Regular';

.font-secondary-regular {
	font-family: $font-secondary-regular !important;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size: 16px;
$body-line-height: 1.8;


/*************************
	Heading variables
*************************/
$heading-font: $font-base-bold;