/* BOX INFO */

.box-info {
    @extend .overflow-hidden, .bg-white;
    border-radius: 4px;
    padding: 20px;
    // background-image: url('../img/bg/box-info-bg.png');
    // background-position: 100% 50% !important;
}

.box-info__heading {
    @extend .font-base-medium,
    .mb-1;
    font-size: 22px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}