/* CONTACT FORM */

.contact-form-box {
    @extend .bg-white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(132, 140, 173, 0.16);

    @include media-breakpoint-up(md) {
        padding: 40px;
    }
}