/* HERO OBSERVATION */

.hero-observation {
    @extend .position-relative;
    padding: 50px 0 0 0;
    background-image: linear-gradient(to right, #e4eaff, #fed7e9 48%, #f7cdb7);
    z-index: 10;

    @include media-breakpoint-up(md) {
        padding: 80px 0 0 0;
    }

    &:before {
        content: '';
        @extend .position-absolute,
        .start-0,
        .bottom-0,
        .bg-white,
        .w-100;
        height: 148px;
        z-index: -1;
    }
}