/* PANEL */

.panels {
    @extend .position-relative,
    .d-flex;
    z-index: 10;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include media-breakpoint-down(md) {
        margin-right: -30px;
        padding-right: 30px;
    }
}

.panels::-webkit-scrollbar {
    display: none;
}

.panel {
    @extend .position-relative,
    .overflow-hidden,
    .has-bg,
    .d-flex,
    .align-items-end,
    .justify-content-start,
    .text-white,
    .font-base-medium,
    .w-100,
    .flex-shrink-0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(132, 140, 173, 0.16);
    font-size: 22px;
    max-width: 200px;
    min-height: 296px;
    line-height: 1.2;
    z-index: 10;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }

    &+.panel {
        margin-left: 20px;
    }
}

.panel-img {
    @extend .position-absolute,
    .w-100,
    .h-100,
    .start-0,
    .top-0;
    @include transition($base-animation);
    z-index: -1;
}