/* REQUEST DEMO */

.request-demo {
    @extend .position-relative,
    .text-center,
    .has-bg,
    .overflow-hidden;
    background-image: url('../img/bg/request-demo-bg.png');
    background-position: 50% 0% !important;
    max-width: 530px;
    margin-top: 40px;
    padding: 90px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(166, 173, 201, 0.16);

    @include media-breakpoint-up(md) {
        margin-top: 80px;
    }
}