/* SECTION */

.section {
    padding: 80px 0;
    @extend .position-relative;

    &--md {
        @include media-breakpoint-up(lg) {
            padding: 120px 0
        }
    }

    &--pb-mobile-less {
        @include media-breakpoint-down(lg) {
            padding-bottom: 20px;
        }
    }

    &--brief-introduction {
        @extend .pt-0;
        z-index: 5;

        .header {
            transform: translateY(-80px);

            @include media-breakpoint-up(md) {
                transform: translateY(-50%);
            }
        }
    }

    &--highlights {
        @extend .has-bg;
        background-image: url('../img/bg/section-highlights-bg.png');
    }

    &--features {
        @extend .overflow-hidden,
        .has-bg;
        background-image: url('../img/temp/features-mask.png');
        z-index: 10;

        .mask-img {
            @extend .position-absolute,
            .top-50,
            .translate-middle-y;
            z-index: -1;
            right: -50px;
        }
    }

    &--use-case {
        @extend .overflow-hidden;

        .holder {
            @extend .position-relative;
            z-index: 10;
        }

        .dots {
            @extend .position-absolute;
            bottom: -60px;
            right: -40px;
            width: 236px;
            z-index: -1;
            opacity: .1;

            @include media-breakpoint-up(md) {
                width: 400px;
                bottom: -70px;
            }
        }
    }

    &--retargeting-campaigns {
        @extend .overflow-hidden;
        z-index: 10;

        .dots {
            @extend .position-absolute;
            top: -60px;
            left: -40px;
            width: 236px;
            z-index: -1;

            @include media-breakpoint-up(md) {
                width: 400px;
                left: -90px;
                top: -170px;
            }
        }
    }

    &--testimonial {
        @extend .overflow-hidden;
        line-height: 1.2;
        z-index: 10;

        >.container {
            @extend .position-relative;
            max-width: 860px;
        }

        .dots {
            @extend .position-absolute;
            bottom: -160px;
            right: -40px;
            width: 236px;
            z-index: -1;
            opacity: .15;

            @include media-breakpoint-up(md) {
                width: 400px;
                bottom: -220px;
                right: -40%;
            }
        }
    }

    &--contact {
        z-index: 10;

        @include media-breakpoint-down(md) {
            padding-bottom: 0;
        }

        .floated-img {
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
                right: 0;
                max-width: 390px;
                height: 100%;
                object-fit: cover;
            }

            @include media-breakpoint-up(xl) {
                max-width: 580px;
            }

            @include media-breakpoint-up(xxl) {
                max-width: 768px;
            }
        }
    }
}