/* TABLE */

.table {
    &.table-description {
        border: 1px solid $silver200;

        >tbody {
            >tr {
                >td {
                    padding: 20px 15px;
                    vertical-align: middle;

                    @include media-breakpoint-up(xl) {
                        padding: 30px 40px;
                    }

                    &:first-child {
                        @extend .text-primary;
                        border-right: 1px solid $silver200;

                        @include media-breakpoint-up(xl) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}