/* Fonts icons */

//Icomoon
@font-face {
    font-family: 'icomoon';
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc');
    src: url('#{$font-path}icomoon/icomoon.eot?raxetc#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon/icomoon.ttf?raxetc') format('truetype'),
    url('#{$font-path}icomoon/icomoon.woff?raxetc') format('woff'),
    url('#{$font-path}icomoon/icomoon.svg?raxetc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\e907";
}

.icon-chevron-left:before {
    content: "\e908";
}

.icon-chevron-down:before {
    content: "\e909";
}

.icon-chevron-up:before {
    content: "\e90a";
}

.icon-live_help:before {
    content: "\e900";
}

.icon-user:before {
    content: "\e906";
}

.icon-circle-left:before {
    content: "\e901";
}

.icon-left:before {
    content: "\e901";
}

.icon-circle-previous:before {
    content: "\e901";
}

.icon-arrow:before {
    content: "\e901";
}

.icon-circle-down:before {
    content: "\e902";
}

.icon-down:before {
    content: "\e902";
}

.icon-circle-bottom:before {
    content: "\e902";
}

.icon-arrow1:before {
    content: "\e902";
}

.icon-circle-right:before {
    content: "\e903";
}

.icon-right:before {
    content: "\e903";
}

.icon-circle-next:before {
    content: "\e903";
}

.icon-arrow2:before {
    content: "\e903";
}

.icon-circle-up:before {
    content: "\e904";
}

.icon-up:before {
    content: "\e904";
}

.icon-circle-top:before {
    content: "\e904";
}

.icon-arrow3:before {
    content: "\e904";
}

.icon-close:before {
    content: "\e905";
}

.icon-search:before {
    content: "\f002";
}

.icon-shopping-cart:before {
    content: "\f07a";
}

.icon-bars:before {
    content: "\f0c9";
}

.icon-navicon:before {
    content: "\f0c9";
}

.icon-reorder:before {
    content: "\f0c9";
}