/* CARD */

$card-locked-size: 55px;
$card-locked-bg: $black;

.card {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.18);
  position: relative;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card--hovered {
  box-shadow: none;
  .card-body {
    @include media-breakpoint-up(md) {
      padding: 60px 30px;
    }
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(12, 0, 51, 0.18);
  }
}

.card-img-top {
  border-radius: 0;
}

.card--locked {
  .card-logo-holder {
    @extend .font-icons, .digital-icon-lock;
    &:before {
      position: absolute;
      top: 0;
      right: 0%;
      transform: translate(25%, -50%);
      border-radius: 4px;
      width: $card-locked-size;
      height: $card-locked-size;
      background: $card-locked-bg;
      @extend .d-flex, .justify-content-center, .align-items-center;
      color: $white;
      font-size: 28px;
    }
  }
}

.card-logo-holder {
  position: relative;
  max-width: 126px;
  margin-left: auto;
  margin-right: auto;
}

.card__news-img {
  @include media-breakpoint-up(md) {
    max-width: 240px;
  }
}

.card-body {
  &.d-flex {
    @include media-breakpoint-up(md) {
      min-height: 370px;
    }
  }
}
