/* FLOATED CARD */


.floatet-card {
  position: absolute;
  left: 15px;
  top: -460px;
  @include media-breakpoint-down(lg) {
    top: -280px;
  }
}

.floatet-card__item {
  margin-bottom: 10px;
  @extend .img-fluid;
  opacity: 1;
}
