/* Fonts */


//Roboto
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Roboto/Roboto-Regular.woff2') format('woff2'),
       url('#{$font-path}Roboto/Roboto-Regular.woff') format('woff'),
       url('#{$font-path}Roboto/Roboto-Regular.ttf') format('ttf');
}

//TitilliumWeb
@font-face {
  font-family: 'TitilliumWeb-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}TitilliumWeb/TitilliumWeb-Bold.woff2') format('woff2'),
       url('#{$font-path}TitilliumWeb/TitilliumWeb-Bold.woff') format('woff'),
       url('#{$font-path}TitilliumWeb/TitilliumWeb-Bold.ttf') format('ttf');
}
