/* HAS BG */

.has-bg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.has-bg--fixed {
  @include media-breakpoint-up(lg) {
    background-attachment: fixed;
  }
}
