/* LIST DIVIDER */


.list-divider {
  @extend .list-unstyled, .d-flex, .flex-wrap;
}

.list-divider__item {
  &+.list-divider__item {
    margin-left: 8px;
    .list-divider__link {
      &:before {
        content: '';
      }
    }
  }
}

.list-divider__link {
  @extend .d-inline-flex, .align-items-center;
  &:before {
    height: 12px;
    width: 1px;
    background: currentColor;
    display: inline-block;
    margin-right: 8px;
  }
}
