/* TABS */

.tabs-controls {
  @extend .d-flex, .justify-content-center, .align-items-center;
  @include media-breakpoint-down(xs) {
    flex-direction: column !important;
  }
  .slick-track, .slick-list {
    width: 100% !important;
    transform: none !important;
  }
  .slick-track {
    @extend .d-flex, .justify-content-center, .align-items-center;
    @include media-breakpoint-down(xs) {
      flex-direction: column !important;
      align-items: stretch !important;
    }
  }
}

.tabs-control__item {
  font-size: 16px;
	color: $primary;
  border-radius: 3px;
	border: solid 1px rgba($primary-bold, .25);
  padding: 5px 8px;
  width: auto !important;
  background: transparent;
  @include media-breakpoint-down(xs) {
    width: 100%;
    display: block;
  }
  &:hover, &.slick-current {
    border-color: $sky;
    color: $sky;
  }
  &+.tabs-control__item {
    @include media-breakpoint-up(xs) {
      margin-left: 2px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 5px;
    }
  }
}
