/* TAG */


.tag {
  display: inline-block;
  font-size: 12px;
	font-family: $font-base-bold;
	text-align: center;
	color: $white;
  padding: 3px 24px;
  border-radius: 50px;
  &+.tag {
    margin-left: 10px;
  }
}

.tag--success {
  background: $success;
}
.tag--warning {
  background: $warning;
}
.tag--danger {
  background: $danger;
}
