/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #284e7b;
$primary-bold: #000c33;
$sky: #578bc1;
$sky-bold: #74B3D9;
$success: #379e15;
$danger: #d1630b;
$warning: #e88d1c;
$muted: #eaeeeb;
$gray: #f4f4f4;
$gray-bold: #f6f6f6;
$silver: #c2c5c9;


$base-color: $primary-bold;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-primary {
  color: $primary !important;
}
.text-primary-bold {
  color: $primary-bold !important;
}
.text-warning {
  color: $warning !important;
}
.text-muted {
  color: $muted !important;
}
.text-sky {
  color: $sky !important;
}
.text-sky-bold {
  color: $sky-bold !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-silver {
  color: $silver !important;
}
.text-danger {
  color: $danger !important;
}
.text-success {
  color: $success !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-primary-bold {
  background-color: $primary-bold !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-sky-bold {
  background-color: $sky-bold !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-success {
  background-color: $success !important;
}




/*************************
	Fonts variables
*************************/
$font-base: 'Roboto-Regular';
$font-base-bold: 'Roboto-Regular';

$font-secondary: 'TitilliumWeb-Bold';

.font-icons {
  &:before {
    font-family: 'fontello';
  }
}

/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $primary-bold;
$link-hover-color: $sky;


/*************************
	Title variables
*************************/
$title-color: $primary;
$title-font: $font-secondary;
$title-kerning: 1.35;

/*************************
	Path variables
*************************/
$font-path: '../fonts/';
