/* BOX VIEW */

.box-view {
    @extend .position-relative;
}

.box-view__header {
    @extend .overflow-hidden,
    .mb-3,
    .mb-md-4,
    .position-relative,
    .d-block;

    &:hover,
    &:focus,
    &:active {
        >img {
            transform: scale(1.2)
        }
    }

    >img {
        @include transition($base-animation);
    }
}

.box-view__header-content {
    @extend .position-absolute,
    .start-0,
    .top-0,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .text-center,
    .text-white,
    .w-100,
    .h-100,
    .font-bold,
    .subtitle;
    font-size: 20px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 38px;
    }
}

.box-view__btn-view {
    @extend .fs-14,
    .text-uppercase,
    .font-bold;
    color: $gold;

    &:hover,
    &:focus,
    &:active {
        color: darken($gold, 10%);
    }
}