/* VIDEO BOX */

$video-box-toggle-size: 60px;

.video-box {
    @extend .position-relative;
}

.video-box__toggle {
    @extend .position-absolute,
    .top-50,
    .start-50,
    .translate-middle,
    .border-0,
    .shadow-none,
    .rounded-circle,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .text-white;
    width: $video-box-toggle-size;
    height: $video-box-toggle-size;
    background-color: rgba(196, 196, 196, 0.7);
    font-size: 24px;

    @include media-breakpoint-up(md) {
        width: $video-box-toggle-size + 40px;
        height: $video-box-toggle-size + 40px;
        font-size: 40px;
    }

    &:hover,
    &:active {
        @extend .bg-white,
        .text-primary;
    }
}

.modal-video-box {
    .btn-close {
        @extend .position-absolute,
        .end-0,
        .text-white;
        opacity: 1;
        background-image: url(data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik05MjggMTc5LjJsLTgzLjItODMuMi0zMzIuOCAzMzIuOC0zMzIuOC0zMzIuOC04My4yIDgzLjIgMzMyLjggMzMyLjgtMzMyLjggMzMyLjggODMuMiA4My4yIDMzMi44LTMzMi44IDMzMi44IDMzMi44IDgzLjItODMuMi0zMzIuOC0zMzIuOHoiPjwvcGF0aD4KPC9zdmc+Cg==);
        background-size: 20px;
        top: -30px !important;

        @include media-breakpoint-up(md) {
            right: -40px !important;

        }
    }
}