/* ALERT */

.alert {
  border: none;
  border-radius: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  >.container {
    padding-left: 0;
    padding-right: 0;
  }
}
.alert-danger {
  background: $primary;
  color: $white;
}
.alert__icon {
  font-size: 50px;
}
