/* AVATAR */

$avatar-size: 100px;

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: $avatar-size;
  height: $avatar-size;
  box-shadow: 6px 7px 12px 0px rgba($black, .25);
}
.avatar__img {
  border-radius: 50%;
  width: $avatar-size;
  height: $avatar-size;
}
