/* BUTTONS SCROLL */

$btn-scroll-size: 50px;
$btn-scroll-size-sm: 36px;

.btn-scroll {
  width: $btn-scroll-size;
  height: $btn-scroll-size;
  border-radius: 50%;
  @extend .d-flex, .justify-content-center, .align-items-center;
  color: $white;
  position: absolute;
  bottom: -$btn-scroll-size / 2;
  left: 50%;
  transform: translateX(-50%);
  background: $primary;
  z-index: 50;
  box-shadow: 0px 0px 5px 2px rgba($black, .15);
  @include media-breakpoint-down(md) {
    width: $btn-scroll-size-sm;
    height: $btn-scroll-size-sm;
    bottom: -$btn-scroll-size-sm / 2;
  }
  &:hover, &:focus {
    color: $white;
    background: darken($primary, 10%);
  }
}
.btn-scroll--white {
  background: $white;
  color: $primary;
}
