/* COLORS */

.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-primary {
  color: $primary !important;
}
.text-muted {
  color: $muted !important;
}
.text-muted-soft {
  color: $muted-soft !important;
}
.text-gray-thin {
  color: $gray-thin !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-soft {
  color: $gray-soft !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-soft {
  color: $soft !important;
}
.text-soft-extra {
  color: $soft-extra !important;
}
.text-success {
  color: $success !important;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-muted-soft {
  background-color: $muted-soft !important;
}
.bg-gray-thin {
  background-color: $gray-thin !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-soft {
  background-color: $gray-soft !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-soft {
  background-color: $soft !important;
}
.bg-soft-extra {
  background-color: $soft-extra !important;
}
.bg-success {
  background-color: $success !important;
}
