/* COLORS */

.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-primary {
  color: $primary;
}
.text-muted {
  color: $muted;
}
.text-muted-soft {
  color: $muted-soft;
}
.text-gray-thin {
  color: $gray-thin;
}
.text-gray {
  color: $gray;
}
.text-gray-soft {
  color: $gray-soft;
}
.text-soft {
  color: $soft;
}
.text-soft-extra {
  color: $soft-extra;
}
.text-success {
  color: $success;
}


.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-primary {
  background-color: $primary;
}
.bg-muted {
  background-color: $muted;
}
.bg-muted-soft {
  background-color: $muted-soft;
}
.bg-gray-thin {
  background-color: $gray-thin;
}
.bg-gray {
  background-color: $gray;
}
.bg-gray-soft {
  background-color: $gray-soft;
}
.bg-soft {
  background-color: $soft;
}
.bg-soft-extra {
  background-color: $soft-extra;
}
.bg-success {
  background-color: $success;
}
