/* FONTS */

@font-face {
  font-family: 'Raleway-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Thin.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Thin.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Thin.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-ExtraLight.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-ExtraLight.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-ExtraLight.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Light.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Light.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-LightItalic.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-LightItalic.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-LightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Regular.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Regular.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Italic.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Italic.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Medium.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Medium.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-SemiBold.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-SemiBold.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Bold.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Bold.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-ExtraBold.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-ExtraBold.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-ExtraBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Raleway-Black';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}ralewayraleway/Raleway-Black.woff2') format('woff2'),
       url('#{$font-path}ralewayraleway/Raleway-Black.woff') format('woff'),
       url('#{$font-path}ralewayraleway/Raleway-Black.ttf') format('ttf');
}
