/* FONTS */

//Volkhov
@font-face {
  font-family: 'Volkhov-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}volkhov/Volkhov-BoldItalic.woff2') format('woff2'),
       url('#{$font-path}volkhov/Volkhov-BoldItalic.woff') format('woff'),
       url('#{$font-path}volkhov/Volkhov-BoldItalic.ttf') format('ttf');
}
