/* HAS BG */

.has-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.has-bg-b-l {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;
}
.has-bg-top {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}
