/* MIXINS */

// Placeholder text
@mixin custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style) {
  &:-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-weight: $font-family;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-weight: $font-family;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-weight: $font-family;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-weight: $font-family;
  }
}

//Placeholder opacity
@mixin custom-placeholder-opacity($opacity: $placeholder-opacity) {
  &:-moz-placeholder {
    opacity: $opacity;
  }
  &::-moz-placeholder {
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    opacity: $opacity;
  }
  &::-webkit-input-placeholder {
    opacity: $opacity;
  }
}
