/* SECTION */

.section {
  padding: 150px 0;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 75px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}
.section--sm {
  padding: 75px 0;
  @include media-breakpoint-down(md) {
    padding: 75px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}
