/* SECTION */

.section {
  padding: 150px 0;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 75px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
  }
}
.section--sm {
  padding: 75px 0;
  @include media-breakpoint-down(md) {
    padding: 75px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
  }
}

.section--hero {
  padding: 50px 15px;
  @extend .d-flex, .flex-column, .justify-content-center, .align-items-center;
  min-height: 285px;
}
