
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $body-font-family;
	color: $body-main-color;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	@include media-breakpoint-down(md) {
		font-size: $body-font-size-md;
	}
}


html {
	height: 100%;
}

body {
	min-height: 100%;
	@extend .d-flex, .flex-column;
	padding-top: $navbar-height;
}

.main {
	flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: $title-font-family;
	color: $title-color;
	font-weight: normal;
	line-height: $title-line-height;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, .h1 {
	font-size: 48px;
	@include media-breakpoint-down(lg) {
		font-size: 42px;
	}
	@include media-breakpoint-down(md) {
		font-size: 36px;
	}
}
h2, .h2 {
	font-size: 40px;
	@include media-breakpoint-down(lg) {
		font-size: 38px;
	}
	@include media-breakpoint-down(md) {
		font-size: 32px;
	}
}
h3, .h3 {
	font-size: 28px;
	@include media-breakpoint-down(md) {
		font-size: 24px;
	}
}
h4, .h4 {
	font-size: 24px;
	@include media-breakpoint-down(md) {
		font-size: 20px;
	}
}
h5, .h5 {
	font-size: 18px;
}
h6, .h6 {
	font-size: 16px;
}

b {
	font-weight: $font-base-bold;
}

.title-lead {
	font-size: 36px;
	@include media-breakpoint-down(md) {
		font-size: 32px;
	}
}

.title {
	letter-spacing: .2rem;
}


a {
	color: $link-color;
	@include transition(250ms);
	text-decoration: none;
	&:hover, &:focus {
		color: darken($link-color, 10%);
		text-decoration: none;
	}
}
.underline {
	text-decoration: underline;
}
button {
	@include transition(150ms);
	cursor: pointer;
}
p {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}
.p-sm {
	font-size: 16px;
	@include media-breakpoint-down(md) {
		font-size: 14px;
	}
}
.current-color {
	a {
		color: currentColor;
		&:hover, &:focus {
			color: darken($link-color, 10%);
		}
	}
}
address {
	line-height: 1.2;
	a {
		color: currentColor;
	}
}

.text-behind {
	position: relative;
	z-index: 10;
	padding-top: 170px;
	@include media-breakpoint-down(md) {
		padding-top: 0px;
	}
	&:before {
		content: attr(data-behind);
		text-transform: uppercase;
		color: $mercury;
		font-size: 200px;
		position: absolute;
		left: 0%;
		top: 0;
		z-index: -1;
		font-family: $font-secondary;
		letter-spacing: 20px;
		line-height: 1.5;
		@include media-breakpoint-down(md) {
			content: none;
		}
	}
}
.text-behind--gutter {
	padding-top: 0;
	&:before {
		top: -25px;
		line-height: 0;
	}
}
.text-behind--dark {
	&:before {
		color: $tuna-soft;
	}
}
.text-behind--left {
	&:before {
		margin-left: -40px;
	}
}


/*Font classes*/

.font-base-light-italic {
	font-style: italic;
}
.font-base-light {
	font-weight: $font-base-light;
}
.font-base-regular {
	font-weight: $font-base-regular
}
.font-base-italic {
	font-style: italic;
}
.font-base-medium {
	font-weight: $font-base-medium;
}
.font-base-semi-bold {
	font-weight: $font-base-semi-bold;
}
.font-base-bold {
	font-weight: $font-base-bold;
}
.font-base-black {
	font-weight: $font-base-black;
}



.font-secondary {
	font-family: $font-secondary;
}
