/* VARIABLES */


/*************************
	Local color variableы
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Orange group */
$cinnabar: #e7553d; //Primary color
/* Gray group */
$alabster: #fafafa; //Gray thin color
$silver: #cccccc; //Muted color
$dusty-gray: #999999; //Muted soft color
$dover-gray: #666666; //Gray color
$emperror: #555555; //Gray soft color
$tuna: #33353b; //Soft color
$shark: #2e3035; //Soft extra color
/* Green group */
$apple: #58b63b; //Success color
/*************************
	Global color variables
*************************/
$primary: $cinnabar;
$muted: $silver;
$muted-soft: $dusty-gray;
$gray-thin: $alabster;
$gray: $dover-gray;
$gray-soft: $emperror;
$soft: $tuna;
$soft-extra: $shark;
$success: $apple;

/*************************
	Fonts variables
*************************/
$font-base-thin: 'Raleway-Thin';
$font-base-extra-light: 'Raleway-ExtraLight';
$font-base-light-italic: 'Raleway-LightItalic';
$font-base-light: 'Raleway-Light';
$font-base-regular: 'Raleway-Regular';
$font-base-italic: 'Raleway-Italic';
$font-base-medium: 'Raleway-Medium';
$font-base-semi-bold: 'Raleway-SemiBold';
$font-base-bold: 'Raleway-Bold';
$font-base-extra-bold: 'Raleway-ExtraBold';
$font-base-black: 'Raleway-Black';

$font-base: $font-base-light;


$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 20px;
$body-font-size-md: 16px;
$body-main-color: $gray-soft;


/*************************
	Links color variables
*************************/
$link-color: $primary;


/*************************
	Title color variables
*************************/
$title-font-family: $font-base-regular;
