/* VARIABLES */


/*************************
	Local color variableы
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
$mine-shaft: #222222;
$mine-shaft-soft: #333333; //Gray bold
$shark: #292b30;
/* Orange group */
$cinnabar: #e7553d; //Primary color
/* Gray group */
$gallery: #eeeeee;
$mercury: #e5e5e5;
$alabster: #fafafa; //Gray thin color
$silver: #cccccc; //Muted color
$silver-soft: #bcbcbc;
$dusty-gray: #999999; //Muted soft color
$dover-gray: #666666; //Gray color
$emperror: #555555; //Gray soft color
$gray: #888888;
$tuna: #33353b; //Soft color
$tuna-soft: #303138;
$shark: #2e3035; //Soft extra color
/* Green group */
$apple: #58b63b; //Success color
/*************************
	Global color variables
*************************/
$primary: $cinnabar;
$muted-thin: $gray;
$muted: $silver;
$muted-soft: $dusty-gray;
$gray-thin: $alabster;
$gray: $dover-gray;
$gray-soft: $emperror;
$gray-bold: $mine-shaft-soft;
$soft: $tuna;
$soft-extra: $shark;
$success: $apple;

/*************************
	Fonts variables
*************************/

$font-base-light: 300;
$font-base-regular: 400;
$font-base-medium: 500;
$font-base-semi-bold: 600;
$font-base-bold: 700;
$font-base-black: 900;


$base-font-weight: 300;
$base-font-family: 'Raleway', sans-serif;



$font-secondary: 'Volkhov-BoldItalic';

$font-third: 'Open Sans', sans-serif;

$font-base: $font-base-light;


$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $base-font-family;
$body-font-weight: $base-font-weight;
$body-font-size: 20px;
$body-font-size-md: 16px;
$body-main-color: $gray-soft;


/*************************
	Links color variables
*************************/
$link-color: $primary;


/*************************
	Title color variables
*************************/
$title-font-family: $font-base-regular;
$title-color: $gray-soft;
$title-line-height: 1.4;
