/* BUTTONS */

.btn {
  border-radius: 50px;
  padding: 8px 18px;
  @include media-breakpoint-up(lg) {
    font-size: 24px;
    padding: 16px 40px;
  }
  &:hover, &:focus {
    box-shadow: 0;
  }
  &.btn-warning {
    color: $white;
    background-image: linear-gradient(131deg, #fac714, #cf9707);
    border: none;
    &:hover, &:focus {
      color: $white;
      background-image: linear-gradient(131deg, #cf9707, #fac714);
    }
  }
  &.btn-outline-white {
    color: $white;
    border-color: $white;
    &:hover, &:focus {
      color: $black;
      background: $white;
      border-color: $white;
    }
  }
}
