/* DROPDOWN */


.dropdown-toggle {
  &:after {
    border: none;
    margin: 0 0 0 8px;
    font-family: 'fontello';
    content: '\f107';
    vertical-align: inherit;
    width: auto;
  }
}

.dropdown-menu {
  border-radius: 0;
  padding: 0;
  border: none;
}
.dropdown-item {
  background: $orange;
  color: $black;
  @include media-breakpoint-up(lg) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &:hover, &:focus {
    color: $black;
    background: darken($orange, 5%);
  }
  &+.dropdown-item {
    border-top: 1px solid darken($orange, 5%);
  }
}
