/* HERO */

.hero {
  padding: 0;
  min-height: 75vh;
}

.hero--float {
  .hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    @include media-breakpoint-up(md) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
}

.hero-sm {
  padding: 40px 0;
  @include media-breakpoint-up(lg) {
    padding: 82px 0;
  }
}

.hero-sm--warning {
  background-image: linear-gradient(114deg, #edae49, #d53b41);
}
.hero-sm--success {
  background-image: linear-gradient(138deg, #00798c, #2a416a);
}
