/* MARQUEE */

.marquee {
	@extend .d-flex, .align-items-center;
	@include media-breakpoint-down(md) {
		display: block !important;
	}
}

.marquee__info {
	flex-shrink: 0;
	text-align: center;
	@include media-breakpoint-up(md) {
		margin-right: 20px;
		text-align: right;
	}
	@include media-breakpoint-up(lg) {
		width: 300px;
	}
}

.marquee-title {
	color: $white;
	font-size: 24px;
	flex-shrink: 0;
	font-family: $font-base-bold;
	padding: 10px 25px;
	margin-bottom: 0;
	@include media-breakpoint-down(md) {
		text-align: center;
	}
}
.marquee-date {
	background-color: #303030;
	color: $white;
	font-size: 14px;
	font-family: $font-base-light;
	padding: 1px 15px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 10px;
	}
}

.marquee__body {
	flex: 1;
	color: $black;
	overflow: hidden;
	white-space: nowrap;
}

.marquee__line__item {
	&+.marquee__line__item {
		margin-left: 50px;
	}
}

.marquee__line__date {
	display: inline-block;
	margin-right: 15px;
}
