/* MODAL */


$modal-close-size: 34px;

.modal {
  .close {
    position: absolute;
    right: 5px;
    width: $modal-close-size;
    height: $modal-close-size;
    top: 5px;
    text-shadow: none;
    opacity: 1;
    border-radius: 50%;
    background: $sky;
    color: $white;
    z-index: 10;
    float: none;
    line-height: 100%;
    @extend .d-flex, .justify-content-center, .align-items-center;
    @include media-breakpoint-up(lg) {
      top: 0;
      right: 0;
      width: $modal-close-size * 1.8;
      height: $modal-close-size * 1.8;
      transform: translate(50%, -50%);
      font-size: 50px;
    }
  }
}

.modal-content {
  border: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0;
}


.modal-backdrop {
  background-color: rgba(216, 216, 216, 0.79);
}
