/* STAFF */


.staff {
  position: relative;
  z-index: 10;
  @extend .d-flex, .flex-column;
  margin-bottom: 30px;
  flex: 1;
  overflow: auto;
  @include media-breakpoint-up(xl) {
    margin-bottom: 60px;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 76, 131, 0.32);
  }
  &:hover {
    &:after {
      background: none;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    }
  }
}

.staff--gradient {
  @include gradient-y($start-color: #2c4f5e, $end-color: #1b3157, $start-percent: 0%, $end-percent: 100%);
  .staff__hidden-image {
    opacity: 0;
    visibility: hidden;
  }
  .staff__content {
     @extend .d-flex, .justify-content-start, .align-items-center, .flex-column;
  }
}

.staff--gradient--yellow {
  @include gradient-y($start-color: #fac714, $end-color: #cf9707, $start-percent: 0%, $end-percent: 100%);
  color: $black;
  .staff__name {
    color: $black;
  }
}

.staff__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  @extend .d-flex, .justify-content-end, .align-items-center, .flex-column;
  color: $white;
  z-index: 10;
  @include media-breakpoint-up(xl) {
    padding: 40px 80px;
  }
  >* {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
}

.staff__name {
  margin-bottom: 2px;
  font-size: 28px;
  font-family: $font-base-black;
  color: $white;
}

.staff__role {
  font-family: $font-base-bold;
}
