@font-face {
    font-family: 'Encode-Sans-Expanded';
    src: url('./Encode_Sans_Expanded/EncodeSansExpanded-Medium.woff2') format('woff2'),
        url('./Encode_Sans_Expanded/EncodeSansExpanded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode-Sans-Expanded';
    src: url('./Encode_Sans_Expanded/EncodeSansExpanded-Regular.woff2') format('woff2'),
        url('./Encode_Sans_Expanded/EncodeSansExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode-Sans-Expanded';
    src: url('./Encode_Sans_Expanded/EncodeSansExpanded-SemiBold.woff2') format('woff2'),
        url('./Encode_Sans_Expanded/EncodeSansExpanded-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


