/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$danger: #bd3002;
$gray: #F6F6F6;
$muted: #e5e5e5;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-danger {
  color: $danger !important;
}
.text-gray {
  color: $gray !important;
}
.text-muted {
  color: $muted !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-muted {
  background-color: $muted !important;
}



/*************************
	Fonts variables
*************************/
$font-light: 'Montserrat-Light';
$font-regular: 'Montserrat-Regular';
$font-semibold: 'Montserrat-SemiBold';
$font-black: 'Montserrat-Black';

.font-light {
  font-family: $font-light !important;
}
.font-regular {
  font-family: $font-regular !important;
}
.font-semibold {
  font-family: $font-semibold !important;
}
.font-black {
  font-family: $font-black !important;
}




$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $black;
$font-base: $font-regular;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 18px;
$body-font-size-md: 16px;
$body-font-size-sm: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $danger;


/*************************
	Title variables
*************************/
$title-font-family: $font-light;
