/* NAVBAR */


.navbar {
    @include media-breakpoint-up(lg) {
        background-color: $dark;
    }
    @include media-breakpoint-down(lg) {
        padding-left: 0;
        padding-right: 0;
    }

    >.container-fluid {
        @extend .px-0,
        .px-lg-3;
    }
    .btn-navbar {
        font-size: 14px;
        padding: 9.5px 26px;
        @media (min-width: 1400px) {
            padding: 9.5px 52px;
        }
    }
}

.navbar-nav {
    .nav-item {
        .nav-link {
            @extend .text-uppercase,
            .font-avenir-black,
            .text-white;
            font-size: 14px;

            @include media-breakpoint-only(lg) {
                font-size: 12px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 17px;
                padding-bottom: 17px;
            }

            @media (min-width: 1400px) {
                padding-left: 26px;
                padding-right: 26px;
            }

            &:hover,
            &:focus,
            &:active {
                @extend .text-gold;
            }

            &.active {
                @extend .text-gold;
            }
        }
    }
}

.btn-navbar {
    @media (min-width: 1400px) {
        margin-left: 26px;
    }
}