<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/elements/logo.svg" alt="" class="w-100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link">WIFITRON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">FEATURES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">REVIEWS</a>
                </li>
                <li class="nav-item ms-lg-4 mt-2 mt-lg-0">
                    <a href="#" class="btn btn-primary text-uppercase">Get 50% off!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>