/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
// *************************/
$font-base-regular: 'PlusJakartaSans-Regular';
$font-base-medium: 'PlusJakartaSans-Medium';
$font-base-semibold: 'PlusJakartaSans-SemiBold';
$font-base-bold: 'PlusJakartaSans-Bold';
$font-serif-bold: 'PlayfairDisplay-Bold';
$font-mono-medium: 'DMSans-Medium';

.font-base-regular {
	font-family: $font-base-regular !important;
}

.font-base-medium {
	font-family: $font-base-medium !important;
}

.font-base-semibold {
	font-family: $font-base-semibold !important;
}

.font-base-bold {
	font-family: $font-base-bold !important;
}

.font-serif-bold {
	font-family: $font-serif-bold !important;
}

.font-mono-medium {
	font-family: $font-mono-medium !important;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}

/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-size-mobile: 14px;
$body-font-size-desktop: 14px;
$body-line-height: 1.7;
$body-font: $font-base-regular;

/*************************
	Heading variables
*************************/
$heading-font: $font-serif-bold;
