/* BUTTONS */
.btn {
  @extend .text-uppercase, .rounded-0;
  font-family: $font-bold;
  padding: 8px 18px;

  &:focus,
  &:hover {
    box-shadow: none;
  }

  &-brand {
    @include button-variants($bg: $base-brand-color, $color: $white)
  }

  &-white {
    @include button-variants($bg: $white, $color: $black)
  }

  &-long {
    padding-left: 60px;
    padding-right: 60px;
  }
}