/* GALLERY */
$gallery-dot-size: 18px;

.slick-dots {
  bottom: -35px;

  > li {
    width: $gallery-dot-size;
    height: $gallery-dot-size;
    background-color: $gray;

    &.slick-active {
      background-color: $base-brand-color;
    }

    > button {
      @extend .p-0;

      &:before {
        content: none;
      }
    }
  }
}

.slick-arrow {
  @extend .font-icons, .w-auto, .h-auto;
  z-index: 20;

  &:before {
    @extend .text-silver;
    opacity: 1;
    font-size: 30px;
    @include media-breakpoint-up(xl) {
      font-size: 40px;
    }
  }
}

.slick-prev {
  @extend .infinity-icon-left-open;
  @include media-breakpoint-down(sm) {
    left: 15px;
  }
}

.slick-next {
  @extend .infinity-icon-right-open;
  @include media-breakpoint-down(sm) {
    right: 15px;
  }
}