/* LIST BULLET */
.list-bullet {
  @extend .list-unstyled;

  > li {
    @extend .d-flex, .text-orange, .text-left;
    font-family: $font-bold;

    &+li {
      margin-top: 25px;
    }

    &:before {
      content: '';
      @extend .d-block, .flex-shrink-0, .mr-3;
      width: 10px;
      height: 10px;
      background-color: $black;
      margin-top: 8px;
      @include media-breakpoint-down(md) {
        margin-top: 5px;
      }
    }
  }
}