/* LIST SHIELD */
.list-shield {
  @extend .list-unstyled, .text-left;

  > li {
    @extend .d-flex, .align-items-start, .font-icons, .infinity-icon-shield;

    &+li {
      margin-top: 30px;
      @include media-breakpoint-up(md) {
        margin-top: 80px;
      }
    }

    div {
      flex: 1;
    }

    b {
      @extend .d-block;
    }

    &:before {
      flex-shrink: 0;
      @extend .mr-3, .mr-md-5;
      color: $base-brand-color;
      font-size: 70px;
      @include media-breakpoint-down(sm) {
        font-size: 40px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 30px;
      }
    }
  }
}