/* STAFF */
.staff {
  @extend .text-center;
  margin-bottom: 90px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 70px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  img {
    @extend .img-fluid, .mb-3, .w-100, .mx-auto;
    border-radius: 50%;
    max-width: 200px;
  }

  h4 {
    @extend .mb-0;
  }

  p {
    @extend .lead, .mb-md-4, .mb-lg-5;
  }
}

.staff-modal {
  font-size: 18px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  .modal-content {
    @extend .rounded-0;
    border: none;
    border-top: 20px solid $base-brand-color;
    @include media-breakpoint-down(sm) {
      border-width: 10px;
    }
  }

  .modal-body {
    @extend .px-lg-5, .py-md-5;
  }

  .close {
    opacity: 1;
    @extend .text-muted;

    &:focus,
    &:hover {
      opacity: 1 !important;
    }
  }

  .modal-header {
    @extend .py-md-4, .border-0;
  }

  .staff {
    @extend .m-0;

    img {
      @extend .mb-4;
    }

    p {
      @extend .mb-md-4, .mb-lg-4;
      font-size: 18px;
      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }

  .modal-footer {
    @extend .border-0, .bg-black, .text-white, .text-center, .rounded-0, .justify-content-center, .py-md-4;
  }

  .slick-prev {
    @include media-breakpoint-up(lg) {
      left: -60px;
    }
  }

  .slick-next {
    @include media-breakpoint-up(lg) {
      right: -60px;
    }
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.7;
  }
}