/* TESTIMONIALS */
.testimonial {
  @extend .d-flex, .align-items-start, .text-left;

  > img {
    @extend .img-fluid, .w-100, .flex-shrink-0, .mr-3, .mr-md-4;
    border-radius: 50%;
    max-width: 140px;
    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }
    @include media-breakpoint-down(xs) {
      max-width: 80px;
    }
  }

  > div {
    @extend .flex-fill;

    > b {
      @extend .d-block;
    }
  }
}