/* CARD */

.card {
  border: none;
  border-radius: 0;
  box-shadow: none;
  &:not(:last-child) {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
  }
}

.card-body {
  padding: 20px 15px;
  @include media-breakpoint-up(lg) {
    padding: 25px 25px;
  }
}
