/* CHECKOUT */

.checkout-card {
  background: $white;
  padding: 20px 15px;
  @include media-breakpoint-up(lg) {
    padding: 25px 25px;
  }
  &+.checkout-card {
    border-top: 4px solid $muted-light;
  }
}
