/* CUSTOM FIELDS */

$custom-field-size: 24px;
$custom-filed-color: $base-color;

.custom-field {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      padding-left: 40px;
      min-height: $custom-field-size;
      line-height: $custom-field-size;
      margin-bottom: 0;
      &:before, &:after {
        content: '';
        position: absolute;
        @include transition(250ms);
      }
      &:before {
        border: 1px solid $custom-filed-color;
        left: 0;
        top: 0;
        width: $custom-field-size;
        height: $custom-field-size;
      }
      &:after {
        left: 6px;
        top: 6px;
        //opacity: 0;
        transform: scale(0, 0);
        width: $custom-field-size / 2;
        height: $custom-field-size / 2;
        background: $custom-filed-color;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: scale(1, 1);
        }
      }
    }
  }
  input[type="radio"] {
    & + label {
      &:before, &:after {
        border-radius: 50%;
      }
    }
  }
}
