/* LOGOS */

.logos {
  @extend .d-flex, .justify-content-center, .align-items-center;
}
.logos__item {
  @extend .img-fluid, .d-block;
  flex: auto;
  padding: 0 15px;
  @include media-breakpoint-down(md) {
    padding: 0 5px;
  }
}

.logos__img {
  @extend .img-fluid;
}
