/* SOCIAL */

.social {
  @extend .list-unstyled, .d-flex, .align-items-center;
}

.social__item {
  &:first-child {
    .social__link {
      &:before {
        margin-left: 0;
      }
    }
  }
  &+.social__item {
    margin-left: 3px;
  }
}

.social__link {
  font-size: 22px;
  color: $gray;
  display: inline-block;
  &:hover, &:focus {
    color: $black;
  }
}
