/* Fonts icons */
//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url("#{$font-path}icomoon/icomoon.eot?44t9f2");
  src: url("#{$font-path}icomoon/icomoon.eot?44t9f2#iefix") format('embedded-opentype'), url("#{$font-path}icomoon/icomoon.ttf?44t9f2") format('truetype'), url("#{$font-path}icomoon/icomoon.woff?44t9f2") format('woff'), url("#{$font-path}icomoon/icomoon.svg?44t9f2#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tail-left:before {
  content: "\e90d";
}

.icon-tail-right:before {
  content: "\e90e";
}

.icon-shovel:before {
  content: "\e90c";
}

.icon-award:before {
  content: "\e909";
}

.icon-subtitles:before {
  content: "\e90a";
}

.icon-tree:before {
  content: "\e90b";
}

.icon-chevron-down:before {
  content: "\e907";
}

.icon-chevron-up:before {
  content: "\e908";
}

.icon-cog:before {
  content: "\e906";
}

.icon-list:before {
  content: "\e904";
}

.icon-pin:before {
  content: "\e905";
}

.icon-vk:before {
  content: "\e903";
}

.icon-menu:before {
  content: "\e902";
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-up:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}