/* FOOTER */

$footer-bg: $shark;
$footer-border-color: $primary;
$footer-color: $silver-soft;
$footer-fs: 14px;
$footer-ff: $font-base-regular;

.footer {
  background: $footer-bg;
  border-top: 3px solid $footer-border-color;
  padding: 24px 0;
  color: $footer-color;
  font-size: $footer-fs;
  font-family: $footer-ff;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.footer-logo {
  display: block;
  max-width: 265px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
