<!-- Modal -->
<div class="modal fade" id="modal-setting-panel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs-bordered" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-general" role="tab"><i class="white-smoke-icon-cog"></i> General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-license-information" role="tab"><i class="white-smoke-icon-key-1"></i> License Information</a>
          </li>
        </ul>
      </div><!--modal-header-->

      <div class="modal-body">

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-general" role="tabpanel">
            <h5 class="font-base-regular text-gray-soft">General Settings</h5>
            <hr class="mt-3 mb-4">
            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Load WhiteSmoke on Windows start-up</p>
              <input type="checkbox" name="switch-checkbox" data-on-text="YES" data-off-text="NO" checked>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Always auto-check next paragraph</p>
              <input type="checkbox" name="switch-checkbox" data-on-text="YES" data-off-text="NO" checked>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Show popups</p>
              <input type="checkbox" name="switch-checkbox" data-on-text="YES" data-off-text="NO">
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Choose an activation shortcut key</p>
              <div class="dropdown">
                <button class="btn btn-secondary btn-sm btn-gray dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  F2
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu--has-arrow" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div><!--dropdown-->
            </div><!--d-flex-->
          </div><!--tab-pane-->

          <div class="tab-pane fade" id="tab-license-information" role="tabpanel">
            <h5 class="font-base-regular text-gray-soft">License Information</h5>
            <hr class="mt-3 mb-4">
            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light">User ID: <b>487348373</b></p>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light">Version: <b>10/02/2018</b></p>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Expiration Date: <b>10/05/2018</b></p>
              <a href="#" class="btn btn-secondary btn-sm btn-gray btn-equal">RENEW</a>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Account Email: <b>shaimoryosef@gmail.com</b></p>
              <a href="#" class="btn btn-secondary btn-sm btn-gray btn-equal">EDIT</a>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">MUID: <b>3483-87348-384738-74834-384738</b></p>
              <a href="#" class="btn btn-secondary btn-sm btn-gray btn-equal">COPY</a>
            </div><!--d-flex-->
          </div><!--tab-pane-->
        </div><!--tab-content-->

        <hr class="mt-4 mb-5">

        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div><!--d-flex-->
      </div><!--modal-body-->
    </div>
  </div>
</div>
