<!-- Modal -->
<div class="modal fade" id="modal-setting-panel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs-bordered" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-general" role="tab"><i class="white-smoke-icon-cog"></i> General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-license-information" role="tab"><i class="white-smoke-icon-key-1"></i> License Information</a>
          </li>
        </ul>
      </div><!--modal-header-->

      <div class="modal-body">

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-general" role="tabpanel">
            <h5 class="font-base-regular text-gray-soft">General Settings</h5>
            <hr class="mt-3 mb-4">
            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Load WhiteSmoke on Windows start-up</p>
              <input type="checkbox" name="switch-checkbox" data-on-text="YES" data-off-text="NO" checked>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Always auto-check next paragraph</p>
              <input type="checkbox" name="switch-checkbox" data-on-text="YES" data-off-text="NO" checked>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Show popups</p>
              <input type="checkbox" name="switch-checkbox" data-on-text="YES" data-off-text="NO">
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Choose an activation shortcut key</p>
              <div class="dropdown">
                <button class="btn btn-secondary btn-sm btn-gray dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  F2
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu--has-arrow" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div><!--dropdown-->
            </div><!--d-flex-->
          </div><!--tab-pane-->

          <div class="tab-pane fade" id="tab-license-information" role="tabpanel">
            <h5 class="font-base-regular text-gray-soft">License Information</h5>
            <hr class="mt-3 mb-4">
            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light">User ID: <b>487348373</b></p>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light">Version: <b>10/02/2018</b></p>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Expiration Date: <b>10/05/2018</b></p>
              <a href="#" class="btn btn-secondary btn-sm btn-gray btn-equal">RENEW</a>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">Account Email: <b>shaimoryosef@gmail.com</b></p>
              <a href="#" class="btn btn-secondary btn-sm btn-gray btn-equal">EDIT</a>
            </div><!--d-flex-->

            <div class="d-md-flex justify-content-between align-items-center my-3">
              <p class="text-gray font-base-light mb-2 mb-md-0">MUID: <b>3483-87348-384738-74834-384738</b></p>
              <a href="#" class="btn btn-secondary btn-sm btn-gray btn-equal">COPY</a>
            </div><!--d-flex-->
          </div><!--tab-pane-->
        </div><!--tab-content-->

        <hr class="mt-4 mb-5">

        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div><!--d-flex-->
      </div><!--modal-body-->
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal-sign-in" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content--sm">
      <div class="modal-header modal-header--sky">
        <p class="mb-0">Using (Capitalization)</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--modal-header-->

      <div class="modal-body">
        <h2 class="title-underline">
          <span class="title-underline__span">Rule</span>
        </h2><!--title-underline-->
        <p>This word must begin with a capital letter.</p>

        <h2 class="title-underline">
          <span class="title-underline__span">Explanation</span>
        </h2><!--title-underline-->
        <p>A capital letter is required here.</p>

        <h2 class="title-underline">
          <span class="title-underline__span">Definition</span>
        </h2><!--title-underline-->
        <p>Certain words must be written with a capital letter, such as the pronoun and proper names (such as personal names, last names, and geographical names). The first word of a sentence must also begin with a capital letter.</p>

        <h2 class="title-underline">
          <span class="title-underline__span">Example</span>
        </h2><!--title-underline-->
        <ol>
          <li>Did i [I] tell you the latest news already?</li>
          <li>my [My] wife and I would like to invite you for dinner</li>
          <li>Did you meet with paul [Paul] and denise [Denise] yesterday?</li>
        </ol>
      </div><!--modal-body-->
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal-sign-in-long" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content--sm">
      <div class="modal-header modal-header--sky">
        <p class="mb-0">Using (Capitalization)</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--modal-header-->

      <div class="modal-body">
        <div class="row">
          <div class="col-md-7 mb-3 mb-md-0">
            <h2 class="title-underline">
              <span class="title-underline__span">Rule</span>
            </h2><!--title-underline-->
            <p>This word must begin with a capital letter.</p>

            <h2 class="title-underline">
              <span class="title-underline__span">Explanation</span>
            </h2><!--title-underline-->
            <p>A capital letter is required here.</p>

            <h2 class="title-underline">
              <span class="title-underline__span">Definition</span>
            </h2><!--title-underline-->
            <p>Certain words must be written with a capital letter, such as the pronoun and proper names (such as personal names, last names, and geographical names). The first word of a sentence must also begin with a capital letter.</p>

            <h2 class="title-underline">
              <span class="title-underline__span">Example</span>
            </h2><!--title-underline-->
            <ol>
              <li>Did i [I] tell you the latest news already?</li>
              <li>my [My] wife and I would like to invite you for dinner</li>
              <li>Did you meet with paul [Paul] and denise [Denise] yesterday?</li>
            </ol>
          </div><!--col-->

          <div class="col-md-5">
            <h2 class="title-underline text-center mb-3">
              <span class="title-underline__span">Video Explanation</span>
            </h2><!--title-underline-->

            <video id="" class="mb-3" width="100%" height="" preload controls  poster="assets/images/temp/poster.png">
            	<source src="assets/video/01_01.mp4" />
            </video>

            <p class="text-center">
              <a href="#" class="btn btn-secondary">Learn more, make less mistakes</a>
            </p>
          </div><!--col-->
        </div><!--row-->
      </div><!--modal-body-->
    </div>
  </div>
</div>
