<nav class="navbar navbar-toggleable-sm">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="white-smoke-icon-menu"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/images/elements/logo.png" class="img-fluid" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav navbar-nav--bordered mr-auto">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab-writer" role="tab" href="#">Writer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#translator-tab" role="tab">Translator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#plagiarism-tab" role="tab">Plagiarism</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#templates-tab" role="tab">Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#videos-tab" role="tab">Videos</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-nav--icons ml-auto mr-md-2 pt-1 pt-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle--without-arrow px-md-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="white-smoke-icon-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu--has-arrow">
          <a class="dropdown-item" href="#"><i class="white-smoke-icon-user"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="white-smoke-icon-cog"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="white-smoke-icon-logout-1"></i> Exit</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link px-md-4" href="#">
          <i class="white-smoke-icon-question-circle-o"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-md-4" href="#">
          <i class="white-smoke-icon-logout"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
