<script src="assets/javascript/components/jquery/jquery.min.js"></script>
<script src="assets/javascript/components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script src="assets/javascript/components/jquery-knob/dist/jquery.knob.min.js"></script>
<script src="assets/javascript/components/tether/dist/js/tether.min.js"></script>
<script src="assets/javascript/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/javascript/vendors/flagstrap/dist/js/jquery.flagstrap.min.js"></script>
<script src="assets/javascript/scripts.js"></script>
