/* HAS OVERLAY */
.has-overlay {
  @extend .position-relative;
  z-index: 20;

  &:before {
    @extend .position-absolute, .w-100, .h-100;
    content: '';
    left: 0;
    top: 0;
    background-color: rgba($black, .55);
    z-index: -1;
  }
}