/* NAVBAR */

$navbar-height: 70px;
$navbar-brand-bg: $ebony-clay;
$navbar-bg: $muted-soft;
$navbar-fs: 16px;
$navbar-color: $casper;
$navbar-active-color: $white;

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: $navbar-bg;
  font-size: $navbar-fs;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  .dropdown-menu {
    @include media-breakpoint-down(md) {
      margin-top: 0.125rem;
      &:after, &:before {
        content: none;
      }
    }
  }
  .nav-link {
    >i {
      &:before {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}


.navbar-brand {
  padding: 17px 20px;
  @include transition(0ms);
  @include media-breakpoint-up(md) {
    background: $navbar-brand-bg;
    width: 72px;
    text-align: center;
  }
  @include media-breakpoint-down(md) {
    max-width: 70px;
    width: 100%;
    padding: 5px
  }
}
.navbar-nav--bordered {
 .nav-item {
   &+.nav-item {
     .nav-link {
       @include media-breakpoint-up(md) {
         padding-left: 1rem;
         padding-right: 1rem;
         &:before {
           content: '';
           background: $navbar-color;
           width: 1px;
           height: 16px;
           position: absolute;
           left: 0;
           top: 50%;
           transform: translateY(-50%);
           margin-top: 1px;
         }
       }
     }
   }
 }
}
.navbar-nav--icons {
  font-size: 18px;
}
.nav-item {
  &.active {
    .nav-link {
      color: $navbar-active-color;
      &:hover, &:focus {
        color: $navbar-active-color;
      }
    }
  }
}
.nav-link {
  position: relative;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
  color: $navbar-color;
  &:hover, &:focus, &.active {
    color: $navbar-active-color;
  }
}

.navbar-toggler {
  color: $white;
  font-size: 18px;
  padding: 1rem;
  right: 0;
  top: 7px;
  border-radius: 0;
}
