@import 'tailwindcss';

@font-face {
	font-family: 'Inter';
	src:
		url('./assets/fonts/inter/Inter-Bold.woff2') format('woff2'),
		url('./assets/fonts/inter/Inter-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		url('./assets/fonts/inter/Inter-Italic.woff2') format('woff2'),
		url('./assets/fonts/inter/Inter-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		url('./assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
		url('./assets/fonts/inter/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		url('./assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
		url('./assets/fonts/inter/Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@theme inline {
	--color-violet-600: var(--violet-600);
	--color-violet-900: var(--violet-900);
	--color-gray-200: var(--gray-200);
	--color-gray-300: var(--gray-300);
	--color-gray-400: var(--gray-400);
	--color-gray-500: var(--gray-500);
	--color-gray-600: var(--gray-600);
	--color-violet-800: var(--violet-800);
	--color-blue-600: var(--blue-600);
	--color-green-500: var(--green-500);
}

:root {
	--violet-600: #400875;
	--violet-900: #282a31;
	--violet-800: #252641;
	--blue-600: #112b56;
	--gray-200: #f7f7f7;
	--gray-300: #7f7f7f;
	--gray-400: #d9d9d9;
	--gray-500: #6f6f6f;
	--gray-600: #585858;
	--green-500: #0fac89;

	--font-primary: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	body {
		font-family: var(--font-primary);
		@apply antialiased md:text-lg;
	}

	h1 {
		@apply text-3xl leading-tight font-bold sm:text-3xl md:text-4xl xl:text-5xl;
	}

	h2 {
		@apply text-2xl font-bold md:text-3xl lg:text-4xl;
	}

	h3 {
		@apply text-xl font-bold md:text-2xl;
	}

	a {
		@apply transition-colors duration-150;
	}

	.btn-primary {
		@apply inline-flex items-center justify-center rounded-lg bg-linear-to-t from-[#18D115] to-[#226525] px-4 py-3.5 font-bold tracking-[0.7px] uppercase text-white transition-all duration-200 hover:brightness-90 border-b-3 border-[#226525] text-center;
	}
}

@utility container {
	@apply mx-auto w-full px-4 xl:max-w-[1240px];
}
