/* BLOG */

.blog {
    @extend .position-relative,
    .p-3,
    .text-center,
    .text-muted;
    background-color: rgba($white, .8);
    font-size: 18px;
}

.blog__title {
    @extend .mb-0,
    .text-sky;
    font-size: 24px;
}

.blog__subtitle {
    @extend .font-medium,
    .text-muted;
    font-size: 24px;
    margin-bottom: 50px;
}

.blog__view-btn {
    @extend .d-inline-block,
    .text-uppercase,
    .font-bold;
    margin-top: 30px;
    color: $primary;

    &:hover,
    &:focus,
    &:active {
        color: $sky;
    }
}