<aside class="sidebar" id="sidebar">
  <img src="assets/images/elements/logo.svg" alt="" class="sidebar__logo" />
  <h3 class="sidebar__title">
    <i class="unibuzz-icon-dashboard sidebar__title__icon"></i> Dashboard
  </h3>
  <ul class="sidebar__list">
    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-inbox sidebar__list__icon"></i>
        <span class="sidebar__list__span">Inbox</span>
        <span class="badge badge-success">55</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-account sidebar__list__icon"></i>
        <span class="sidebar__list__span">My Account</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-books sidebar__list__icon"></i>
        <span class="sidebar__list__span">My Books</span>
      </a>
      <ul class="sidebar__sublist">
        <li class="sidebar__sublist__item">
          <a href="#" class="sidebar__sublist__link"
            ><span class="sidebar__list__span">My GPA</span></a
          >
        </li>
        <li class="sidebar__sublist__item">
          <a href="#" class="sidebar__sublist__link"
            ><span class="sidebar__list__span">My Courses</span></a
          >
        </li>
      </ul>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-notes sidebar__list__icon"></i>
        <span class="sidebar__list__span">My Notes</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-question sidebar__list__icon"></i>
        <span class="sidebar__list__span">My Questions</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-invitation sidebar__list__icon"></i>
        <span class="sidebar__list__span">My Invitations</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-groups sidebar__list__icon"></i>
        <span class="sidebar__list__span">My Groups</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-tutors sidebar__list__icon"></i>
        <span class="sidebar__list__span">Tutors</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-classifieds sidebar__list__icon"></i>
        <span class="sidebar__list__span">Classifieds</span>
      </a>
    </li>

    <li class="sidebar__list__item">
      <a href="#" class="sidebar__list__link">
        <i class="unibuzz-icon-calendar sidebar__list__icon"></i>
        <span class="sidebar__list__span">Calendar</span>
      </a>
    </li>
  </ul>
</aside>

<a href="#" id="sidebar-close" class="unibuzz-icon-close"></a>

<div id="sidebar-mask"></div>
