/* SECTION */

.section {
    padding: 50px 0;

    @include media-breakpoint-up(md) {
        padding: 120px 0;
    }

    &--top {
        @include media-breakpoint-down(md) {
            padding-top: 80px;
        }
    }
}

.section-header {
    @extend .mx-atuo;
    max-width: 600px;
    margin-bottom: 34px;

    @include media-breakpoint-up(md) {
        margin-bottom: 80px;
    }
}