/* NAVBAR */

$navbar-bg: $sky-secondary;
$navbar-bg-md: $white;
$navbar-height-md: 88px;
$navbar-height: 51px;
$navbar-border-color: #f8fcfc;

.navbar {
  box-shadow: 1px 0px 1px 0px $navbar-bg;
  min-height: $navbar-height;
  background: $navbar-bg;
  @include media-breakpoint-up(md) {
    margin-left: $aside-width;
    min-height: $navbar-height-md;
    background: $navbar-bg-md;
  }
  .dropdown-toggle {
    &:after {
      @include media-breakpoint-up(md) {
        color: $silver;
      }
    }
  }
}


.navbar-collapse {
  @include media-breakpoint-down(sm) {
    max-height: 440px;
    overflow-y: auto;
  }
}

.navbar-brand {
  max-width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link {
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}

.navbar-toggler {
  color: $white;
  border: none;
  font-size: 24px;
  padding-right: 0;
}

.nav-link__user-avatar {
  border-radius: 50%;
  margin-right: 12px;
  max-width: 52px;
}

.nav-link__holder-user-name {
  max-width: 160px;
}

.nav-link__user-name, .nav-link__user-role {
  display: block;
  font-size: 16px;
  line-height: 1.1;
  @include text-truncate();
  @include media-breakpoint-up(md) {
    color: $silver;
  }
}
.nav-link__user-name {
  font-family: $font-semibold;
}
.nav-link__user-role {
  font-family: $font-light;
}
