/* ARTICLE */

$article-date-color: #848282;

.article {
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 22px;
  }
}

.article__header {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 55px;
  }
}

.article__body {
  &:not(:last-child) {
    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 80px;
    }
  }
}

.article__btn {
  padding-left: 18px;
  padding-right: 18px;
  &:hover, &:focus, &.active {
    background-color: $brand-color !important;
    border-color: $brand-color !important;
    color: $white !important;
  }
  &+.article__btn {
    margin-left: 10px;
  }
}

.article__title {
  color: $brand-color;
  @extend .bariol-regular;
  letter-spacing: -.75px;
}

.article__link {
  color: $dark;
  &:hover, &:focus {
    color: $brand-color;
  }
}

.article__banner {
  width: 100%;
  @include media-breakpoint-down(xs) {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
  }
}

.article__date {
  color: $article-date-color;
  @extend .mb-1;
}
