/* ARTICLE */

.article {}

.article__header {
  margin-bottom: 55px;
}

.article__btn {
  padding-left: 18px;
  padding-right: 18px;
  &:hover, &:focus, &.active {
    background-color: $brand-color !important;
    border-color: $brand-color !important;
    color: $white !important;
  }
  &+.article__btn {
    margin-left: 10px;
  }
}
