/* BUTTONS */
.btn {
  border-radius: $base-redius;
  font-family: $bariol-bold;
  box-shadow: 0 2px 6px 0 rgba($black, .23);

  &-brand {
    @include button-variants($bg: $brand-color, $color: $white);
  }
}