/* CALCULATOR */

$calculator-divider-size: 14px;
$calculator-divider-mobile-size: 6px;
$calculator-border-color: #e6e5e5;
$calculator-choose-year-item-size: 80px;
$calculator-text-divider-color: #e6e5e5;

.calculator {
  @extend .position-relative, .text-center;
  box-shadow: 0px 6px 17.5px 0.5px rgba($black, .13);
  padding-top: $calculator-divider-mobile-size;
  @include media-breakpoint-up(md) {
    padding-top: $calculator-divider-size;
  }
  &:before {
    content: '';
    @extend .divider, .position-absolute, .w-100;
    left: 0;
    top: 0;
    height: $calculator-divider-mobile-size;
    @include media-breakpoint-up(md) {
      height: $calculator-divider-size;
    }
  }
}

.calculator__header {
  @extend .d-md-flex;
  .calculator__box {
    @extend .flex-shrink-0, .flex-grow-1;
    flex-basis: 0;
    @include media-breakpoint-down(sm) {
      padding-bottom: calc(20px + #{$calculator-divider-mobile-size})
    }
    &:before {
      @extend .divider, .position-absolute, .w-100;
      left: 0;
      bottom: 0;
      height: $calculator-divider-mobile-size;
      @include media-breakpoint-down(sm) {
        content: '';
      }
    }
    &+.calculator__box {
      @include media-breakpoint-up(md) {
        border-left: 3px solid $calculator-border-color;
      }
    }
  }
}

.calculator__body {
  @include media-breakpoint-up(md) {
    border-top: 3px solid $calculator-border-color;
  }
}

.calculator__box {
  padding: 20px 25px;
  @extend .position-relative;
  @include media-breakpoint-up(md) {
    padding: 45px 25px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.calculator__title {
  @extend .lead, .bariol-bold;
}

.calculator__form-group {
  @extend .mx-auto;
  @include media-breakpoint-up(md) {
    max-width: 240px;
  }
  .form-control {
    @include custom-placeholder-color($color: #e6e5e5);
  }
}

.calculator__btn {
  @extend .mx-auto, .w-100, .p-2;
  max-width: 224px;
  &.active {
    background-color: $brand-color !important;
    border-color: $brand-color !important;
    color: $white !important;
  }
}

.calculator__choose-year {
  @extend .d-flex, .justify-content-center, .flex-wrap, .mx-auto;
  max-width: 246px;
}

.calculator__choose-year__item {
  @extend .d-inline-flex, .flex-column, .rounded-circle, .flex-shrink-0, .align-items-center, .justify-content-center, .bariol-bold;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.23);
  background-color: $silver;
  color: $dark;
  width: $calculator-choose-year-item-size;
  height: $calculator-choose-year-item-size;
  line-height: 1.2;
  &.active {
    background-color: $brand-color !important;
    border-color: $brand-color !important;
    color: $white !important;
  }
  &:nth-child(even) {
    margin-left: 40px;
  }
  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 40px;
  }
}

.calculator__divider {
  color: $calculator-text-divider-color;
  @extend .text-uppercase, .my-4, .my-lg-0;
  font-size: 30px;
}
