/* CARD */

.cards {
  @extend .d-flex, .justify-content-between, .flex-wrap;
}

.card__item {
  @extend .flex-shrink-0, .flex-grow-1, .text-center, .position-relative;
  flex-basis: 0;
  padding: 25px 50px 75px 50px;
  background-color: $white;
  box-shadow: 0px 3px 7px 0 rgba($black, .35);
  border-top-width: 11px;
  border-top-style: solid;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 25px;
    flex-basis: 48%;
    font-size: 18px;
    border-top-width: 6px;
  }
  @include media-breakpoint-down(xs) {
    flex-basis: 100%;
    margin-bottom: 0px;
  }
  &:nth-child(even) {
    @include media-breakpoint-up(sm) {
      margin-left: 4%;
    }
  }
  &+.card__item {
    @include media-breakpoint-up(lg) {
      margin-left: 55px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 25px;
    }
  }
  &--yellow {
    border-top-color: $yellow;
  }
  &--red {
    border-top-color: $red;
  }
  &--brand {
    border-top-color: $burgundy;
  }
  &--brand-dark {
    border-top-color: $burgundy-dark;
  }
}

.card__icon {
  font-size: 75px;
  @extend .d-inline-block, .mb-4;
  @include media-breakpoint-down(lg) {
    font-size: 70px;
  }
}

.card__title {
  @extend .bariol-regular, .text-brand;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}
