/* GALLERY */

$gallery-arrow-color: #e6e5e5;

.gallery {
  padding-left: 30px;
  padding-right: 30px;
  .owl-nav {
    @extend .position-absolute, .w-100, .d-flex, .align-items-center, .justify-content-between;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 200;
    .owl-prev, .owl-next {
      @extend .font-icons;
      color: $gallery-arrow-color !important;
      font-size: 20px !important;
      &:hover, &:focus {
        color: darken($gallery-arrow-color, 15%) !important;
      }
      >span {
        @extend .d-none;
      }
    }
    .owl-prev {
      @extend .masthaven-icon-left-dir;
    }
    .owl-next {
      @extend .masthaven-icon-right-dir;
    }
  }
}

.video-gallery {
  .owl-stage-outer {
    padding: 35px 0 !important;
  }
  .center {
    transform: scale(1.3);
    z-index: 300;
    position: relative;
  }
}
