/* PANEL */

$help-menu-desktop-size: 117px;
$help-menu-tablet-size: 90px;
$help-menu-mobile-size: 60px;

#help-menu {
  @extend .has-bg, .rounded-circle, .position-fixed, .d-block;
  width: $help-menu-desktop-size;
  height: $help-menu-desktop-size;
  right: 3%;
  bottom: 5%;
  z-index: 900;
  @include media-breakpoint-down(md) {
    width: $help-menu-tablet-size;
    height: $help-menu-tablet-size;
  }
  @include media-breakpoint-down(xs) {
    width: $help-menu-mobile-size;
    height: $help-menu-mobile-size;
  }
}
