/* HERO */

$hero-bg: $silver;

.hero {
  @extend .position-relative, .d-lg-flex, .flex-lg-column, .justify-content-lg-center;
  box-shadow: 0px 18px 30px 0 rgba($black, .2);
  background-color: $hero-bg;
  padding: 70px 0 0 0;
  z-index: 100;
  @include media-breakpoint-up(lg) {
    padding: 140px 0 180px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 140px 0 280px 0;
  }
  @include media-breakpoint-down(md) {
    box-shadow: 0px 9px 15px 0 rgba($black, .2);
    text-align: center;
  }
  [class^="col"] {
    position: static;
  }
  &--index {
    .hero__floated-image {
      bottom: 0;
      right: 5%;
      max-width: 300px;
      @include media-breakpoint-up(lg) {
        max-width: 520px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 610px;
      }
      @media screen and (min-width:1300px) {
        right: 10%;
      }
    }
  }
  &--about {
    .hero__floated-image {
      bottom: 0;
      right: 10%;
      max-width: 300px;
      @include media-breakpoint-up(lg) {
        max-width: 470px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 560px;
      }
      @media screen and (min-width:1300px) {
        right: 10%;
      }
    }
  }
  &--contact {
    .hero__floated-image {
      right: 0;
      bottom: 0;
      max-width: 600px;
      @include media-breakpoint-up(lg) {
        max-width: 800px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1150px;
      }
    }
  }
  &--news {
    @include media-breakpoint-up(md) {
      padding: 70px 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 100px 0 180px 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 140px 0 280px 0;
    }
    .hero__floated-image {
      right: 0;
      top: 50%;
      max-width: 400px;
      @include media-breakpoint-up(lg) {
        max-width: 600px;
        transform: translateY(-50%);
      }
      @include media-breakpoint-up(xl) {
        max-width: 700px;
      }
    }
  }
  &--lending {
    .hero__floated-image {
      bottom: 0;
      right: 5%;
      max-width: 300px;
      @include media-breakpoint-up(lg) {
        max-width: 510px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 630px;
      }
      @media screen and (min-width:1400px) {
        right: 10%;
      }
    }
  }
  &--interest {
    padding: 8% 0 16% 0;
    @media screen and (min-width:1801px) {
      padding: 5% 0 23% 0;
    }
    @media screen and (max-width:1800px) {
      padding: 8% 0 16% 0;
    }
    @media screen and (max-width:1300px) {
      padding: 10% 0 13% 0;
    }
    @include media-breakpoint-down(lg) {
      padding: 13% 0 200px 0;
    }
    @include media-breakpoint-down(md) {
      padding: 70px 0 80px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 70px 0;
    }
    .hero__floated-image {
      right: 0;
      bottom: 15px;
      position: static;
      @include media-breakpoint-up(lg) {
        position: absolute;
        max-width: 100%;
        bottom: 115px;
      }
      @media screen and (min-width:1801px) {
        bottom: 175px !important;
      }
    }
  }
  &--interest-lg {
    padding: 8% 0 16% 0;
    @media screen and (min-width:1801px) {
      padding: 5% 0 26% 0;
    }
    @media screen and (max-width:1800px) {
      padding: 8% 0 19% 0;
    }
    @media screen and (max-width:1300px) {
      padding: 10% 0 17% 0;
    }
    @include media-breakpoint-down(lg) {
      padding: 13% 0 200px 0;
    }
    @include media-breakpoint-down(md) {
      padding: 70px 0 80px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 70px 0;
    }
    .hero__floated-image {
      right: 0;
      bottom: 15px;
      position: static;
      @include media-breakpoint-up(lg) {
        position: absolute;
        max-width: 100%;
        bottom: 135px;
      }
    }
  }
  &--who-we-are {
    @include media-breakpoint-up(lg) {
      padding: 100px 0 180px 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 140px 0 280px 0;
    }
    .hero__floated-image {
      bottom: 0;
      right: 0;
      max-width: 300px;
      @include media-breakpoint-up(lg) {
        max-width: 640px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 850px;
      }
      @media screen and (min-width:1400px) {
        right: 10%;
      }
    }
  }
  .breadcrumb {
    @extend .position-absolute, .d-lg-none, .w-100, .px-sm-0;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(sm) {
      max-width: 540px;
    }
    @include media-breakpoint-up(md) {
      max-width: 660px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 930px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1140px;
    }
    @include media-breakpoint-down(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.hero__floated-image {
  @include media-breakpoint-up(lg) {
    position: absolute;
    z-index: -1;
  }
  @extend .w-100;
  z-index: 20;
}
