/* PRODUCT SUMMARY */

$product-summary-bg: $silver;

.product-summary {
  margin-top: 30px;
  box-shadow: 0px 6px 17.5px 0.5px rgba($black, .13);
  background-color: $product-summary-bg;
  @include media-breakpoint-up(md) {
    margin-top: 45px;
  }
}

.tabs--negative-summary {
  @include media-breakpoint-down(sm) {
    transform: translateY(-87px);
    margin-bottom: -87px;
  }
  .tabs__link {
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}


.product-summary__header {
  @extend .text-center, .text-white, .bg-brand, .text-uppercase;
  padding: 20px 15px;
  font-size: 20px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}

.product-summary__body {
  padding: 25px 15px 90px 15px;
  @include media-breakpoint-up(md) {
    padding: 30px 15px 120px 15px;
  }
  @include media-breakpoint-up(lg) {
    padding: 50px 20px 140px 20px;
  }
  @include media-breakpoint-up(xl) {
    padding: 70px 50px 180px 50px;
  }
}


.product-summary__info {
  @extend .d-flex, .text-lg-center, .flex-wrap;
  margin-bottom: 80px;
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
}

.product-summary__info__item {
  padding: 0px 20px;
  @extend .flex-shrink-0, .flex-lg-grow-1;
  flex-basis: 0;
  @include media-breakpoint-down(lg) {
    padding: 0px 10px;
  }
  @include media-breakpoint-down(md) {
    flex-basis: 33%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    flex-basis: 100%;
    width: 100%;
  }
}

.product-summary__info__title {
  font-size: 20px;
  @extend .bariol-regular, .mb-2, .m-lg-0;
  @include media-breakpoint-up(md) {
  }
}

.product-summary__info__divider {
  @extend .d-none, .d-lg-inline-block, .mt-3, .mb-2,;
  width: 57px;
  height: 1px;
  background-color: #e6e5e5;
}

.product-summary__info__subtitle {
  @extend .d-lg-flex, .flex-column, .bariol-bold;
  line-height: 1.25;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}
