/* QUOTE */

.quote {
	@extend .position-relative, .text-center;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.quote__body {
	font-size: 62px;
	font-family: $playfair-italic;
	@include media-breakpoint-down(lg) {
		font-size: 40px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 30px;
	}
	@include media-breakpoint-down(xs) {
		font-size: 20px;
	}
	&:before, &:after {
		font-family: 'fontello';
		@extend .text-brand;
		font-size: 65%;
		vertical-align: text-top;
	}
	&:before {
		content: '\e831';
	}
	&:after {
		content: '\e832';
	}
}

.quote__footer {
	margin-top: 20px;
	@include media-breakpoint-up(md) {
		font-size: 24px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 30px;
	}
}
