/* RATES */

.rates {}

.rates__tabs {
  max-width: 1000px;
  @extend .mx-auto;
}

.rates__accordion {
  .accordion__btn {

  }
  .accordion__body {
    padding: 0px;
    padding-bottom: 15px;
  }
  .accordion__item {
    padding: 0px 15px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .accordion__header {
    margin-left: -15px;
    margin-right: -15px;
  }
  .rates__card {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      &+.rates__card {
        margin-top: 20px;
      }
    }
  }
}


.rates__cards {
  @extend .d-md-flex, .flex-md-wrap;
}

.rates__card {
  @extend .d-lg-flex, .align-items-lg-center, .justify-content-lg-between, .position-relative, .text-lg-center;
  @include transition($base-animation);
  padding: 50px 50px 50px 70px;
  background-color: $white;
  box-shadow: 0 0 14.6px 1.4px rgba($black, .15);
  width: 100%;
  @include media-breakpoint-down(lg) {
    padding: 40px 30px 40px 50px;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 15px 30px 24px;
    flex-basis: 48%;
    margin-bottom: 25px;
    &:nth-child(even) {
      margin-left: 4%;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 15px 15px 15px 23px;
    flex-basis: 100%;
    margin-bottom: 25px;
    &:nth-child(even) {
      margin-left: 0%;
    }
  }
  &:before {
    content: '';
    @extend .position-absolute;
    height: 100%;
    width: 20px;
    left: 0;
    top: 0;
    @include media-breakpoint-down(md) {
      width: 8px;
    }
  }
  &:hover {
    @include media-breakpoint-up(lg) {
      transform: scale(1.05);
      z-index: 20;
    }
  }
  &--yellow {
    &:before {
      background-color: $yellow;
    }
    .rates__card__title {
      color: $yellow;
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid $yellow;
      }
      &:before {
        background-color: $yellow;
      }
    }
  }
  &--red {
    &:before {
      background-color: $red;
    }
    .rates__card__title {
      color: $red;
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid $red;
      }
      &:before {
        background-color: $red;
      }
    }
  }
  &--brand {
    &:before {
      background-color: $burgundy;
    }
    .rates__card__title {
      color: $burgundy;
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid $burgundy;
      }
      &:before {
        background-color: $burgundy;
      }
    }
  }
  &--brand-dark {
    &:before {
      background-color: $burgundy-dark;
    }
    .rates__card__title {
      color: $burgundy-dark;
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid $burgundy-dark;
      }
      &:before {
        background-color: $burgundy-dark;
      }
    }
  }
  .btn-content {
    &:hover, &:focus {
      color: $white !important;
      background-color: $burgundy !important;
      border-color: $burgundy !important;
    }
  }
}

.rates__card__title {
  @extend .text-uppercase, .bariol-bold, .position-relative;
  font-size: 30px;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
  @include media-breakpoint-up(lg) {
    margin-right: 25px;
    padding-right: 25px;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 38px;
      border-radius: 1.5px;
      width: 3px;
    }
  }
}

.rates__card__text {
  @extend .d-flex, .flex-column, .mb-lg-0;
}

.rates__card__divider {
  @extend .d-inline-block, .my-2, .d-lg-none, .flex-shrink-0;
  width: 50px;
  height: 1px;
  background-color: $dark;
}
