/* SOCIAL */

$social-tabs-border-color: #e3e2e2;

.social {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.social__header {
  @extend .d-md-flex, .align-items-md-center, .justify-content-md-center;
  margin-bottom: 40px;
}

.social__title {
  @extend .flex-shrink-0, .text-uppercase, .bariol-bold, .d-inline-block;
}

.social__tabs {
  @extend .d-flex, .justify-content-center;
}

.social__tabs__item {
  &+.social__tabs__item {
    margin-left: 20px;
    @include media-breakpoint-down(xs) {
      margin-left: 10px;
    }
  }
}

.social__tabs__link {
  @extend .d-inline-block, .text-uppercase, .bariol-bold;
  padding: 5px 15px;
  border-bottom: 1px solid $social-tabs-border-color;
  @include media-breakpoint-down(xs) {
    padding: 5px 5px;
    font-size: 14px;
  }
  &--all {
    &.active {
      color: $white;
      background-color: $brand-color;
    }
  }
  &--facebook {
    color: #3b5998;
    &.active, &:hover {
      color: $white;
      background-color: #3b5998;
    }
  }
  &--youtube {
    color: #ff0000;
    &.active, &:hover {
      color: $white;
      background-color: #ff0000;
    }
  }
}

.social__content {
  margin-bottom: 25px;
}
