/* SOCIAL */

$social-color: #373737;

.social-list {
  @extend .list-unstyled, .d-flex, .justify-content-center;
}

.social-list__item {
  &+.social-list__item {
    margin-left: 10px;
  }
}

.social-list__link {
  color: $social-color;
  font-size: 50px;
  @include media-breakpoint-down(sm) {
    font-size: 35px;
  }
  &:hover, &:focus {
    color: $brand-color;
  }
}
