/* TABS */

.tabs {
  display: flex;
  justify-content: center;
  z-index: 1000;
  margin-bottom: 30px;
  &--negative {
    margin-bottom: -100px;
    transform: translateY(-100px);
    padding-bottom: 80px;
    @include media-breakpoint-down(sm) {
      margin-bottom: -63px;
      transform: translateY(-63px);
      padding-bottom: 40px;
    }
  }
}

.weare__tabs {
  .active {
    //box-shadow: 0 0 14.6px 1.4px rgba($black, .17);
    box-shadow: -7px 0 8px -2px rgba($black, .17);
  }
}

.tabs__item {
  @include media-breakpoint-up(md) {
    flex-basis: 25%;
  }
}

.tabs__link {
  @extend .position-relative, .d-flex, .flex-column, .justify-content-center, .align-items-center;
  padding: 32px 15px 20px 15px;
  background-color: $white;
  color: $dark;
  text-align: center;
  box-shadow: 0 0 14.6px 1.4px rgba($black, .17);
  @include media-breakpoint-up(md) {
    min-height: 100px;
  }
  @include media-breakpoint-down(sm) {
    padding: 24px 10px 15px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:before {
    content: '';
    @extend .position-absolute, .w-100;
    height: 12px;
    left: 0;
    top: 0;
    @include media-breakpoint-down(sm) {
      height: 8px;
    }
  }
  &--yellow {
    &:before {
      background-color: $yellow;
    }
  }
  &--red {
    &:before {
      background-color: $red;
    }
  }
  &--brand {
    &:before {
      background-color: $burgundy;
    }
  }
  &--brand-dark {
    &:before {
      background-color: $burgundy-dark;
    }
  }
  &.active {
    @extend .bariol-bold;
    color: $dark;
  }
}


.tab-content--box {
  box-shadow: 0 0 14.6px 1.4px rgba($black, .17);
  background-color: $white;
  padding: 25px 15px;
  @include media-breakpoint-up(md) {
    padding: 30px 15px;
  }
  @include media-breakpoint-up(lg) {
    padding: 50px 20px;
  }
  @include media-breakpoint-up(xl) {
    padding: 70px 50px;
  }
}
