/* TEAM */

.team-member {
  @extend .text-center, .px-md-5;
  margin-bottom: 100px;
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}

.team-member__avatar {
  margin-bottom: 20px;
  border-radius: 50%;
}

.team-member__avatar__img {
  @extend .w-100;
}

.team-member__name {
  font-size: 30px;
  @extend .mb-2;
}

.team-member__role {
  color: $brand-color;
  @extend .lead, .bariol-regular;
}
