/* DATEPICKER */

.datepicker-holder {
    position: relative;

    >.datepicker {
        padding-left: 35px;
    }
}

.datepicker-holder__icon {
    color: darken($medium-gray, 10%);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom {

    &:before,
    &:after {
        left: 10px;
        right: auto;
    }
}

.datepicker-holder {
    .day {
        &.active {
            >div {
                background-color: $primary-color;
            }
        }
    }
}