/* FONTS */

//Avenir
@font-face {
    font-family: 'Avenir-Book';
    src: url('#{$font-path}Avenir/Avenir-Book.woff2') format('woff2'),
    url('#{$font-path}Avenir/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('#{$font-path}Avenir/Avenir-Roman.woff2') format('woff2'),
    url('#{$font-path}Avenir/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('#{$font-path}Avenir/Avenir-Heavy.woff2') format('woff2'),
    url('#{$font-path}Avenir/Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}