/*             Navigation Tabs                 */

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-color: $box-primary-border-color;

    &-has-indicator {
        .nav-link {
            &.active {
                &:before {
                    opacity: 1;
                }
            }

            &:before {
                opacity: 0;
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 8px 8px;
                border-color: transparent transparent $box-primary-border-color transparent;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
            }
        }
    }

    .nav-item {
        @media screen and (min-width: 768px) {
            flex: 1 0 auto;
        }
    }

    .nav-link {
        @extend .font-heavy;
        text-align: center;
        color: $black-color;
        border: none;
        position: relative;

        @media screen and (min-width: 992px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &.active {
            margin: 0;
            color: $primary-color;
            background-color: transparent;
        }
    }
}

.tab-content {
    padding-top: 1rem;

    @media screen and (min-width: 992px) {
        padding-top: 1.5rem;
    }
}