// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
// Body Styles

.body,
body,
html {
  background: #f7f7f7 !important;
}

.color-primary {
  color: $primary-color !important;
}

.color-white {
  color: #ffffff !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.lead {
  font-size: 20px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.hero {
  background-size: cover;
}

.w-100 {
  width: 100%;
}

.browse {
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: right 60px center;
}

.social-img {
  max-width: 24px;
}

.copyright {
  color: #c3c3c3;
}

.footer {
  border-top: 2px solid #e98800;

  p {
    font-size: 14px;
  }
}

th {
  .callout-inner {
    padding: 20px;
    border-color: #f1f1f1;

    &.primary {
      background-color: #f1f1f1;
      border-color: #f1f1f1;
    }
  }
}

.body-border {
  position: absolute;
  width: 30px;
  height: 30px;

  &--top {
    top: 0;
    right: 0;
    border-top: 2px solid #4e4e4e;
    border-right: 2px solid #4e4e4e;
  }

  &--bottom {
    left: 0;
    bottom: 0;
    border-left: 2px solid #4e4e4e;
    border-bottom: 2px solid #4e4e4e;
  }
}

.container {
  position: relative;
}

.fs-sm {
  font-size: 12px;
}

small {
  color: inherit;
}

.fs-small {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    font-size: 13px;
  }
}