// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
// Body Styles

.body,
body,
html {
  background: #f7f7f7 !important;
}

.color-primary {
  color: $primary-color !important;
}

.color-white {
  color: #ffffff !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.lead {
  font-size: 20px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.hero {
  background-size: cover;
}

.w-100 {
  width: 100%;
}

.browse {
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: right 60px center;
}

.social-img {
  max-width: 24px;
}

.copyright {
  color: #c3c3c3;
}