/* NAVBAR */
$navbar-bg: $silver;
$navbar-divider-height: 10px;
$navbar-divider-mobile-height: 6px;
$navbar-icon-color: $gray;

.navbar {
  @extend .position-relative;
  background-color: $navbar-bg;
  padding: calc(#{$navbar-divider-mobile-height} + 12px) 15px 12px 15px;
  @include media-breakpoint-up(md) {
    padding: calc(#{$navbar-divider-height} + 25px) 15px 25px 15px;
  }

  &:before {
    content: '';
    @extend .d-block, .w-100, .position-absolute, .divider;
    height: $navbar-divider-mobile-height;
    top: 0;
    left: 0;
    z-index: 10;
    @include media-breakpoint-up(md) {
      height: $navbar-divider-height;
    }
  }
}

.navbar-brand {
  width: 100px;
  @extend .py-0;
  @include media-breakpoint-up(md) {
    margin-left: 15px;
  }
  @include media-breakpoint-down(sm) {
    width: 68px;
  }
}

.navbar-nav {
  > .nav-item {
    @include media-breakpoint-down(sm) {
      border-bottom: 1px solid $silver-light;
    }

    &.dropdown {
      @include media-breakpoint-up(md) {
        &:hover {
          .dropdown-menu--navbar {
            display: block;
          }
        }
      }
    }

    > .nav-link {
      @extend .text-uppercase, .bariol-bold, .d-flex, .align-items-center, .justify-content-between, .d-md-inline-block;
      @include media-breakpoint-up(xl) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }

      &.dropdown-toggle {
        &:after {
          @extend .border-0;
          font-family: $font-icons;
          color: $navbar-icon-color;
          content: '\f004';
          line-height: 1;
          vertical-align: unset;
          @include media-breakpoint-down(sm) {
            color: $burgundy-dark;
            content: '\e833';
            font-size: 14px;
          }
        }
      }
    }
  }
}

.navbar-nav__footer {
  @extend .d-md-none;
  margin-top: 30px;
}

.navbar__login {
  @extend .d-none, .d-md-inline-block, .position-absolute, .text-uppercase, .bariol-bold;
  top: $navbar-divider-height;
  right: 30px;
  border: 1px solid $black;
  border-top: none;
  color: $black;
  background-color: $white;
  padding: 6px 25px;
  border-radius: 0 0 20px 20px;
  letter-spacing: 2px;
  font-size: 12px;
}

.navbar__icon {
  color: $navbar-icon-color !important;
}

.navbar-toggler {
  color: $gray-dark;
  @extend .border-0, .pr-0;
}

.navbar-collapse__close {
  @extend .d-inline-block, .d-md-none, .position-absolute;
  top: 10px;
  right: 8px;
  color: $dark;
  font-size: 22px;
  z-index: 60;
}