<aside class="aside d-none d-md-block">
  <a href="#" class="aside__logo">
    <img src="assets/images/elements/logo.png" alt="" class="w-100">
  </a>

  <ul class="aside__nav list-unstyled">
    <li class="aside__nav__item">
      <a href="#" class="aside__nav__link"><i class="rebill-icon-dashboard mr-2"></i>Dashboard</a>
    </li><!--aside__nav__item-->
    <li class="aside__nav__item">
      <a href="#" class="aside__nav__link"><i class="rebill-icon-clipboard mr-2"></i>Tasks</a>
    </li><!--aside__nav__item-->
    <li class="aside__nav__item">
      <a href="#" class="aside__nav__link active"><i class="rebill-icon-networking mr-2"></i>PMT</a>
      <ul class="aside__subnav list-unstyled">
        <li class="aside__subnav__item">
          <a href="#" class="aside__subnav__link"><i class="rebill-icon-add-user mr-2"></i>Customers</a>
        </li><!--aside__subnav__item-->
        <li class="aside__subnav__item">
          <a href="#" class="aside__subnav__link"><i class="rebill-icon-campaigning mr-2"></i>Campaigns</a>
        </li><!--aside__subnav__item-->
        <li class="aside__subnav__item">
          <a href="#" class="aside__subnav__link"><i class="rebill-icon-bar-chart mr-2"></i>Reports</a>
        </li><!--aside__subnav__item-->
        <li class="aside__subnav__item">
          <a href="#" class="aside__subnav__link"><i class="rebill-icon-coins mr-2"></i>Plans</a>
        </li><!--aside__subnav__item-->
        <li class="aside__subnav__item">
          <a href="#" class="aside__subnav__link"><i class="rebill-icon-world-wide-web mr-2"></i>GEO</a>
        </li><!--aside__subnav__item-->
      </ul><!--aside__subnav-->
    </li><!--aside__nav__item-->
    <li class="aside__nav__item">
      <a href="#" class="aside__nav__link"><i class="rebill-icon-cloud mr-2"></i>Clouds</a>
    </li><!--aside__nav__item-->
    <li class="aside__nav__item">
      <a href="#" class="aside__nav__link"><i class="rebill-icon-coins mr-2"></i>Banks</a>
    </li><!--aside__nav__item-->
    <li class="aside__nav__item">
      <a href="#" class="aside__nav__link"><i class="rebill-icon-settings mr-2"></i>Admin</a>
    </li><!--aside__nav__item-->
  </ul><!--aside__nav-->
</aside><!--aside-->
