<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand d-md-none" href="#">
    <img src="assets/images/elements/logo.png" alt="" class="w-100">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="rebill-icon-menu"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle pr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/elements/avatar.png" alt="" class="nav-link__user-avatar">
          <div class="nav-link__holder-user-name">
            <span class="nav-link__user-name">Mikael Ljungman</span>
            <span class="nav-link__user-role">Admin</span>
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav d-md-none">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="rebill-icon-dashboard mr-2"></i>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="rebill-icon-clipboard mr-2"></i>Tasks</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="rebill-icon-networking mr-2"></i>PMT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="rebill-icon-add-user mr-2"></i>Customers</a>
          <a class="dropdown-item" href="#"><i class="rebill-icon-campaigning mr-2"></i>Campaigns</a>
          <a class="dropdown-item" href="#"><i class="rebill-icon-bar-chart mr-2"></i>Reports</a>
          <a class="dropdown-item" href="#"><i class="rebill-icon-coins mr-2"></i>Plans</a>
          <a class="dropdown-item" href="#"><i class="rebill-icon-world-wide-web mr-2"></i>GEO</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="rebill-icon-cloud mr-2"></i>Clouds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="rebill-icon-coins mr-2"></i>Banks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="rebill-icon-settings mr-2"></i>Admin</a>
      </li>
    </ul>
  </div>
</nav>
