/* VARIABLES */


/* Color variables */

$white: #ffffff;
$black: #000000;
$blue50: #bfe3ee;
$blue100: #1b546e;
$blue200: #d0ebfe;
$blue300: #93ade5;
$blue400: #52638d;
$blue500: #3387ff;
$blue600: #007CFF;
$blue700: #3b3f64;
$blue800: #455880;
$blue900: #2c3e50;
$red50: #ffe1e1;
$red500: #f55656;
$yellow500: #fbd479;
$yellow600: #987f44;
$gray100: #8693B2;
$gray200: #e9f0f7;
$gray300: #eef0f4;
$gray400: #c7cdd9;
$gray500: #f0f4f8;
$gray600: #999bab;
$green500: #16d895;
//Override Bootstrap color variables
.text-white {
    color: $white !important;
}

.text-black {
    color: $black !important;
}

.text-blue50 {
    color: $blue50 !important;
}

.text-blue100 {
    color: $blue100 !important;
}

.text-blue200 {
    color: $blue200 !important;
}

.text-blue300 {
    color: $blue300 !important;
}

.text-blue400 {
    color: $blue400 !important;
}

.text-blue500 {
    color: $blue500 !important;
}

.text-blue600 {
    color: $blue600 !important;
}

.text-blue700 {
    color: $blue700 !important;
}

.text-blue800 {
    color: $blue800 !important;
}

.text-blue900 {
    color: $blue900 !important;
}

.text-red50 {
    color: $red50 !important;
}

.text-red500 {
    color: $red500 !important;
}

.text-yellow500 {
    color: $yellow500 !important;
}

.text-yellow600 {
    color: $yellow600 !important;
}

.text-gray100 {
    color: $gray100 !important;
}

.text-gray200 {
    color: $gray200 !important;
}

.text-gray300 {
    color: $gray300 !important;
}

.text-gray400 {
    color: $gray400 !important;
}

.text-gray500 {
    color: $gray500 !important;
}

.text-gray600 {
    color: $gray600 !important;
}

.text-green500 {
    color: $green500 !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-black {
    background-color: $black !important;
}

.bg-blue50 {
    background-color: $blue50 !important;
}

.bg-blue100 {
    background-color: $blue100 !important;
}

.bg-blue200 {
    background-color: $blue200 !important;
}

.bg-blue300 {
    background-color: $blue300 !important;
}

.bg-blue400 {
    background-color: $blue400 !important;
}

.bg-blue500 {
    background-color: $blue500 !important;
}

.bg-blue600 {
    background-color: $blue600 !important;
}

.bg-blue700 {
    background-color: $blue700 !important;
}

.bg-blue800 {
    background-color: $blue800 !important;
}

.bg-blue900 {
    background-color: $blue900 !important;
}

.bg-red50 {
    background-color: $red50 !important;
}

.bg-red500 {
    background-color: $red500 !important;
}

.bg-yellow500 {
    background-color: $yellow500 !important;
}

.bg-yellow600 {
    background-color: $yellow600 !important;
}

.bg-gray100 {
    background-color: $gray100 !important;
}

.bg-gray200 {
    background-color: $gray200 !important;
}

.bg-gray300 {
    background-color: $gray300 !important;
}

.bg-gray400 {
    background-color: $gray400 !important;
}

.bg-gray500 {
    background-color: $gray500 !important;
}

.bg-gray600 {
    background-color: $gray600 !important;
}

.bg-green500 {
    background-color: $green500 !important;
}


/*************************
	Fonts variables
*************************/

$font-base-regular: 'Source-Sans-Pro-Regular';
$font-base-semibold: 'Source-Sans-Pro-SemiBold';
.font-base-regular {
    font-family: $font-base-regular !important;
}

.font-base-semibold {
    font-family: $font-base-semibold !important;
}


/* Font for buttons */

$font-secondary: 'Heebo-Medium';
.font-secondary {
    font-family: $font-secondary !important;
}

$font-icons: "icomoon";
.font-icons {
    &:before {
        font-family: $font-icons;
    }
}


/*************************
	Base variables
*************************/

$base-color: $blue700;
$base-font: $font-base-regular;
$base-animation: 250ms;

/*************************
	Font path variable
*************************/

$font-path: "../fonts/";

/*************************
	Body variables
*************************/

$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/

$link-color: $blue700;

/*************************
	Heading variables
*************************/

$heading-font: $font-base-semibold;

/*************************
	Radius variables
*************************/

.radius-xs {
    border-radius: 8px !important;
}

.radius-sm {
    border-radius: 14px !important;
}

.radius-md {
    border-radius: 20px !important;
}

.radius-lg {
    border-radius: 30px !important;
}