/* #{$font-path}proxima */

//Proxima Nova

@font-face {
  font-family: 'ProximaNovaThin';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proxima/ProximaNova-Thin.woff2') format('woff2'),
       url('#{$font-path}proxima/ProximaNova-Thin.woff') format('woff'),
       url('#{$font-path}proxima/ProximaNova-Thin.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNovaLight';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proxima/Proxima Nova Light.woff2') format('woff2'),
       url('#{$font-path}proxima/Proxima Nova Light.woff') format('woff'),
       url('#{$font-path}proxima/Proxima Nova Light.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNovaReg';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proxima/Proxima Nova Reg.woff2') format('woff2'),
       url('#{$font-path}proxima/Proxima Nova Reg.woff') format('woff'),
       url('#{$font-path}proxima/Proxima Nova Reg.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proxima/Proxima Nova Semibold.woff2') format('woff2'),
       url('#{$font-path}proxima/Proxima Nova Semibold.woff') format('woff'),
       url('#{$font-path}proxima/Proxima Nova Semibold.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNovaBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proxima/Proxima Nova Bold.woff2') format('woff2'),
       url('#{$font-path}proxima/Proxima Nova Bold.woff') format('woff'),
       url('#{$font-path}proxima/Proxima Nova Bold.ttf') format('ttf');
}
