/* FOOTER */

.footer {
    @extend .bg-gray300;
    padding: 85px 0 60px 0;
    color: #aaaaaa;

    @include media-breakpoint-up(md) {
        padding: 75px 0 65px 0;
    }
}

.footer-logos {
    @extend .px-md-5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-bottom: 80px;
    align-items: center;

    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
        grid-gap: 110px;
    }

    @include media-breakpoint-up(lg) {
        grid-gap: 140px;
    }

    @include media-breakpoint-up(xl) {
        grid-gap: 130px;
    }

    @include media-breakpoint-up(xxl) {
        grid-gap: 120px;
    }

    svg {
        @extend .d-block,
        .w-100;
        fill: #858586;
        stroke: #858586;
    }
}

.footer-nav {
    @extend .mb-4;

    .nav-link {
        @extend .font-base-bold;
        color: #8b8b8b;

        @include media-breakpoint-up(md) {
            font-size: 16px;
        }

        &:hover,
        &:focus,
        &:active {
            color: darken(#8b8b8b, 10%);
        }
    }
}

.footer-box {
    @extend .d-flex,
    .flex-column,
    .flex-md-row,
    .lh-sm,
    .p-3,
    .p-md-4;
    background: #efefef;
    border-radius: 10px;
    margin-bottom: 30px;
}

.footer-box__logo {
    @extend .d-block,
    .flex-shrink-0;
    width: 100%;

    @include media-breakpoint-down(md) {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    @include media-breakpoint-up(md) {
        width: 220px;
        margin-right: 2rem;
    }

    @include media-breakpoint-up(lg) {
        width: 270px;
    }
}