/* MARGINS */

.mb-6 {
  margin-bottom: 4.5rem !important;
}
.mb-sm-6 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 4.5rem !important;
  }
}
.mb-md-6 {
  @include media-breakpoint-up(md) {
    margin-bottom: 4.5rem !important;
  }
}
.mb-lg-6 {
  @include media-breakpoint-up(lg) {
    margin-bottom: 4.5rem !important;
  }
}
.mb-xl-6 {
  @include media-breakpoint-up(xl) {
    margin-bottom: 4.5rem !important;
  }
}

.mt-6 {
  margin-top: 4.5rem !important;
}
.mt-sm-6 {
  @include media-breakpoint-up(sm) {
    margin-top: 4.5rem !important;
  }
}
.mt-md-6 {
  @include media-breakpoint-up(md) {
    margin-top: 4.5rem !important;
  }
}
.mt-lg-6 {
  @include media-breakpoint-up(lg) {
    margin-top: 4.5rem !important;
  }
}
.mt-xl-6 {
  @include media-breakpoint-up(xl) {
    margin-top: 4.5rem !important;
  }
}

.mb-7 {
  margin-bottom: 6.5rem !important;
}
.mb-sm-7 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 6.5rem !important;
  }
}
.mb-md-7 {
  @include media-breakpoint-up(md) {
    margin-bottom: 6.5rem !important;
  }
}
.mb-lg-7 {
  @include media-breakpoint-up(lg) {
    margin-bottom: 6.5rem !important;
  }
}
.mb-xl-7 {
  @include media-breakpoint-up(xl) {
    margin-bottom: 6.5rem !important;
  }
}

.mt-7 {
  margin-top: 6.5rem !important;
}
.mt-sm-7 {
  @include media-breakpoint-up(sm) {
    margin-top: 6.5rem !important;
  }
}
.mt-md-7 {
  @include media-breakpoint-up(md) {
    margin-top: 6.5rem !important;
  }
}
.mt-lg-7 {
  @include media-breakpoint-up(lg) {
    margin-top: 6.5rem !important;
  }
}
.mt-xl-7 {
  @include media-breakpoint-up(xl) {
    margin-top: 6.5rem !important;
  }
}

.mb-8 {
  margin-bottom: 9rem !important;
}
.mb-sm-8 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 9rem !important;
  }
}
.mb-md-8 {
  @include media-breakpoint-up(md) {
    margin-bottom: 9rem !important;
  }
}
.mb-lg-8 {
  @include media-breakpoint-up(lg) {
    margin-bottom: 9rem !important;
  }
}
.mb-xl-8 {
  @include media-breakpoint-up(xl) {
    margin-bottom: 9rem !important;
  }
}

.mt-8 {
  margin-top: 9rem !important;
}
.mt-sm-8 {
  @include media-breakpoint-up(sm) {
    margin-top: 9rem !important;
  }
}
.mt-md-8 {
  @include media-breakpoint-up(md) {
    margin-top: 9rem !important;
  }
}
.mt-lg-8 {
  @include media-breakpoint-up(lg) {
    margin-top: 9rem !important;
  }
}
.mt-xl-8 {
  @include media-breakpoint-up(xl) {
    margin-top: 9rem !important;
  }
}
