/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$sky: #3b92e8;
$primary: #2e4655;
$muted: #e1e6ec;
$gray: #bbc0c5;
$success: #7df1bc;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-sky {
  color: $sky !important;
}
.text-primary {
  color: $primary !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}
.text-success {
  color: $success !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-success {
  background-color: $success !important;
}



/*************************
	Fonts variables
*************************/
$font-regular: 'Montserrat-Regular';
$font-medium: 'Montserrat-Medium';
$font-bold: 'Montserrat-Bold';




$font-icons: 'fontello';
.font-icons {
  font-family: $font-icons;
}


/*************************
	Base variables
*************************/
$base-color: $primary;
$font-base: $font-medium;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 18px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $sky;


/*************************
	Title variables
*************************/
$title-font-family: $font-medium;
$title-kerning: 1.4;
