/* VARIABLES */

/*************************
	Fonts variables
*************************/
$font-regular: 'Semplicita-Pro-Regular';

.font-regular {
	font-family: $font-regular !important;
}

$font-bold: 'Semplicita-Pro-Bold';

.font-bold {
	font-family: $font-bold !important;
}

$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $black400;
$base-font: $font-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $orange500;

/*************************
	Heading variables
*************************/
$heading-font: $font-bold;
$heading-color: $black500;