/* NAVBAR */
.navbar {
  @extend .bg-primary;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 31.5px;
    padding-bottom: 31.5px;
  }
}

.navbar-nav {
  @extend .pt-3, .pt-lg-0;

  > .nav-item {
    > .nav-link {
      @extend .font-helvetica-bold, .text-white, .px-lg-3;
      letter-spacing: 0.5px;

      &:focus,
      &:hover {
        @extend .text-sky;
      }

      &.has-divider {
        @extend .position-relative;

        &:before {
          @include media-breakpoint-up(lg) {
            content: '';
            left: 0;
            top: 50%;
            height: 53px;
            transform: translateY(-50%);
            width: 1px;
            opacity: 0.12;
          }
          @extend .position-absolute, .bg-sky;
        }
      }

      &--avatar {
        display: inline-flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;

        .avatar-img {
          width: 34px;
          @extend .rounded-circle;
        }
      }
    }
  }
}

.navbar-toggler {
  @extend .text-white, .border-0, .px-0;
}