<header class="header">
    <div class="header-top">
        <div class="container">
            <a href="#" class="header__logo">
                <img src="img/elements/logo.png" alt="" class="w-100">
            </a>

            <div class="d-flex justify-content-lg-end flex-lg-column align-items-center ms-auto">
                <ul class="navbar-nav ml-auto flex-row mb-0 align-items-center d-none d-lg-flex">
                    <li class="nav-item"><a class="nav-link" href="https://www.homelifebycore.com/faq/">FAQ</a></li>
                    <li>|</li>
                    <li class="nav-item"><a class="nav-link" href="https://www.homelifebycore.com/our-process/">OUR
                            PROCESS</a></li>
                    <li>|</li>
                    <li class="nav-item"><a class="nav-link" href="https://www.homelifebycore.com/contact-us/">CONTACT
                            US</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link d-flex align-items-center" href="tel:423-643-2676">
                            <span class="d-none d-lg-block">423-643-2676</span> <i
                                class="icon-phone d-lg-none fs-18"></i></a>
                    </li>
                </ul>

                <button class="navbar-toggler d-inline-block d-lg-none shadow-none" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon-menu"></i>
                </button>
            </div>


        </div>
    </div>

    <nav class="navbar navbar-expand-lg py-0 py-lg-2">
        <div class="container-fluid">
            <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
                <ul class="navbar-nav p-3 p-lg-0 justify-content-lg-center w-100 align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">SIGNATURE HOMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">COMMUNITIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME PLANS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">AVAILABLE HOMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GALLERY</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FOR HOMEBUYERS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OUR STORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-primary btn-navbar fs-14">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>