/* HEADER */

$header-height: 200px;
$header-height-md: 145px;

.header {
  @include media-breakpoint-up(lg) {
    padding: 73px 40px 20px 230px;
  }
  @include media-breakpoint-up(xl) {
    padding: 73px 80px 20px 300px;
  }
  @media (min-width: 1600px) {
    padding-left: 400px;
  }
  padding: 15px 15px;
  //position: relative;
  background: $white;
  border-bottom: 7px solid $success;
  @extend .d-lg-flex, .justify-content-lg-end;

  min-height: $header-height;
  @include media-breakpoint-down(md) {
    min-height: $header-height-md;
  }
}

.header__logo {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 10;
  max-width: 110px;
  @include media-breakpoint-up(lg) {
    max-width: 200px;
    left: 20px;
    top: 10px;
  }
  @include media-breakpoint-up(xl) {
    left: 40px;
    top: 20px;
    max-width: 240px;
  }
  @media (min-width: 1600px) {
    left: 90px;
    top: 38px;
    max-width: 300px;
  }
  @include media-breakpoint-down(md) {
    position: static;
  }
}

.navbar-collapse {
  @extend .d-lg-flex, .flex-lg-column, .align-items-lg-end;
}

.header__top {
  margin-bottom: 30px;
  @extend .d-flex, .flex-column, .flex-lg-row, .justify-content-lg-end, .align-items-lg-center;
  @include media-breakpoint-down(md) {
    margin-bottom: 0px;
  }
}

.header__form {
  @include media-breakpoint-up(lg) {
    margin-right: 44px;
  }
  .form-control {
    @include media-breakpoint-up(lg) {
      min-width: 220px;
    }
    @include media-breakpoint-up(xl) {
      min-width: 340px;
    }
    border: 2px solid $silver;
    height: 36px;
  }
}

.header__nav {
  @extend .list-unstyled, .d-lg-flex;
  @include media-breakpoint-down(lg) {
    text-align: center;
  }
}
.header__nav__item {
  &+.header__nav__item {
    @include media-breakpoint-up(lg) {
      margin-left: 16px;
    }
    @media (min-width: 1600px) {
      margin-left: 24px;
    }
  }
}
.header__nav__link {
  color: $blue;
  font-family: $font-medium;
  text-transform: uppercase;
  display: inline-block;
  @include media-breakpoint-down(lg) {
    padding: 5px 0px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
  @media (min-width: 1450px) {
    font-size: 22px;
  }
  &:hover, &:focus {
    color: $sky;
  }
}

.navbar-toggler {
  @include media-breakpoint-up(lg) {
    display: none;
  }
  position: absolute;
  right: 5px;
  top: 50px;
  border: none;
  font-size: 32px;
  @include media-breakpoint-down(xs) {
    top: 75px;
    padding: 0;
  }
}

.header__user-box {
  @extend .d-lg-none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  @include media-breakpoint-down(xs) {
    left: auto;
    right: 15px;
    top: 15px;
    transform: translateX(0%);
  }
  .btn {
    @include media-breakpoint-down(xs) {
      font-size: 12px !important;
      padding: 3px 8px 1px 8px !important;
    }
  }
}
