/* PRE FOOTER */

$footer-bg: #3d59a7;

.pre-footer {
  @include media-breakpoint-up(md) {
    margin-bottom: 75px;
  }
  position: relative;
  padding: 55px 0;
  background: $success;
}

.pre-footer__logo {
  position: absolute;
  left: 0;
  top: -140px;
  @extend .img-fluid;
  max-width: 140px;
  z-index: 2;
}

.pre-footer__cta {
  z-index: 10;
  position: relative;
}
