/* FOOTER */

.footer {
  flex-shrink: 0;
  text-align: center;
  color: $gray-bold;
  padding: 15px 0;
}

.footer__nav {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.footer__nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
    &:after {
      @media (min-width: 768px) {
        content: '';
        color: $white;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        height: 10px;
        width: 1px;
        background-color: $white;
      }
    }
  }
}

.footer__nav__link {
  color: $white;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @media (min-width: 576px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  &:hover, &:focus {
    color: $white;
    text-decoration: underline;
  }
}
