/* NAVBAR */

.navbar {
  @extend .position-relative, .flex-shrink-0;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    margin-top: 10px;
    border: 1px solid $black;
  }
  .form-inline {
    @include media-breakpoint-up(lg) {
      max-width: 260px;
      width: 100%;
    }
    .form-control {
      flex: 1;
      border-color: $blue;
    }
    .btn {
      @include media-breakpoint-down(sm) {
        align-self: stretch;
      }
    }
  }
}


.navbar-brand {
  font-family: $font-logo;
  font-size: 20px;
}


.navbar-nav {
  .nav-item {
    &.active {
      .nav-link {
        color: $danger;
      }
    }
    &:first-child {
      .nav-link {
        @include media-breakpoint-up(md) {
          padding-left: 0;
        }
      }
    }
    .nav-link {
      color: $blue;
      &:hover, &:focus {
        color: $danger;
      }
    }
  }
}
