/* NAVBAR */

.navbar {
  @extend .bg-white;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  flex-shrink: 0;
  margin-bottom: .5rem;
  @media (min-width: 768px) {
    margin-top: 10px;
    border: 1px solid $black;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .form-inline {
    @media (min-width: 992px) {
      max-width: 340px;
      width: 100%;
    }
    .form-control {
      flex: 1;
      border-color: $blue;
    }
    .btn {
      @media (max-width: 767.98px) {
        align-self: stretch;
      }
    }
  }
}

.navbar-brand {
  font-family: $font-logo;
  font-size: 20px;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}


.navbar-nav {
  .nav-item {
    &+.nav-item {
      @media (min-width: 768px) {
        margin-left: 1px;
      }
      @media (min-width: 992px) {
        margin-left: 5px;
      }
    }
    &.active {
      .nav-link {
        background-color: $gray;
        &:hover, &:focus {
          background-color: $gray;
        }
      }
    }
    .nav-link {
      color: $blue;
      border-radius: 4px 4px 0 0;
      @media (max-width: 767.98px) {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 4px;
      }
      &:hover, &:focus {
        background-color: rgba($gray, .3);
      }
    }
  }
  &--sticky {
    &.is-sticky {
      position: fixed !important;
      top: 0 !important;
      bottom: auto !important;
      margin-left: -8px !important;
      margin-right: 0 !important;
      border-bottom: 1px solid $black;
      @media (min-width: 768px) {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        min-height: 45px;
      }
      @media (max-width: 767.98px) {
        position: static !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .nav-item {
        @media (min-width: 768px) {
          margin-top: 3px;
        }
        @media (min-width: 992px) {
          margin-top: 0;
        }
        .nav-link {
          @media (min-width: 768px) {
            border-radius: 4px;
          }
        }
      }
      .nav__hidden,
      .nav-item--search {
        @media (min-width: 768px) {
          display: block;
        }
      }
      .nav__hidden {
        &.nav-item--hidden {
          display: inline-block;
        }
      }
      .nav__visible {
        @media (min-width: 992px) {
          display: none;
        }
      }
    }
    @media (min-width: 768px) {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      width: calc(100% + 30px);
      background-color: $white;
      z-index: 200;
    }
    @media (min-width: 1200px) {
      margin-left: -15px;
      margin-right: -15px;
    }
    @media (max-width: 767.98px) {
      position: static !important;
      width: 100% !important;
    }
    .nav-item--hidden {
      &:not(.nav-item--search) {
        display: none;
      }
    }
    .nav-item {
      .nav-link {
        @media (max-width: 991.98px) {
          font-size: 10px;
        }
        @media (max-width: 767.98px) {
          font-size: 14px;
        }
      }
    }
    .navbar-brand {
      font-size: 20px;
      padding: 4px 0 0 0;
      @media (max-width: 991.98px) {
        padding: 0;
      }
    }
  }
}


.nav__hidden, .nav-item--search {
  display: none;
}
.nav-item--search {
  margin-top: -1px;
  .nav-link {
    background-color: transparent !important;
  }
}



.form-sticky {
  display: none;
  @media (min-width: 992px) {
    max-width: 340px;
    width: 100%;
  }
  @media (max-width: 767.98px) {
    display: none !important;
  }
  &.active {
    display: flex;
  }
}
