<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="assets/images/elements/logo.png" class="navbar-brand__img" alt="">
      </a>
    </div><!-- navbar-header -->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Privatpersoner</a></li>
        <li><a href="#">Företag</a></li>
        <li><a href="#">Verktyg</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-default-outline navbar-btn">demo admin</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- container -->
</nav><!-- navbar -->
