/* Fonts icons */

//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url('#{$font-path}Icomoon/icomoon.eot?i3ae5a');
  src: url('#{$font-path}Icomoon/icomoon.eot?i3ae5a#iefix') format('embedded-opentype'),
  url('#{$font-path}Icomoon/icomoon.ttf?i3ae5a') format('truetype'),
  url('#{$font-path}Icomoon/icomoon.woff?i3ae5a') format('woff'),
  url('#{$font-path}Icomoon/icomoon.svg?i3ae5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-right:before {
  content: "\e906";
}

.icon-arrow-circle-left:before {
  content: "\e907";
}

.icon-facebook-square:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-user:before {
  content: "\e902";
}

.icon-profile:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e900";
}