/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #231f20;
$dark: #262626;
$burgundy: #db1b5c;
$burgundy-dark: #911146;
$silver-light: #e8ebed;
$silver: #f5f8fa;
$gray: #8e9c9f;
$gray-dark: #4c4c4c;
$muted: #f2f1f0;
$yellow: #ffce00;
$red: #ff3600; //Override Bootstrap color variables

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-burgundy {
  color: $burgundy !important;
}

.text-burgundy-dark {
  color: $burgundy-dark !important;
}

.text-silver-light {
  color: $silver-light !important;
}

.text-silver {
  color: $silver !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-dark {
  color: $gray-dark !important;
}

.text-muted {
  color: $muted !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-red {
  color: $red !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-burgundy {
  background-color: $burgundy !important;
}

.bg-burgundy-dark {
  background-color: $burgundy-dark !important;
}

.bg-silver-light {
  background-color: $silver-light !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-gray-dark {
  background-color: $gray-dark !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-red {
  background-color: $red !important;
}

/*************************
	Fonts variables
*************************/
$bariol-light: 'bariollight';
$bariol-regular: 'bariolregular';
$bariol-bold: 'bariolbold';
$playfair-regular: 'playfair_displayregular';
$playfair-italic: 'playfair_displayitalic';
$playfair-bold: 'playfair_displaybold';
$playfair-bold-italic: 'playfair_displaybold_italic';
$playfair-black-regular: 'playfair_display_blackregular';
$playfair-black-italic: 'playfair_display_blackitalic';
$better-saturday-regular: 'better_saturdayregular';

.bariol-light {
  font-family: $bariol-light !important;
}

.bariol-regular {
  font-family: $bariol-regular !important;
}

.bariol-bold {
  font-family: $bariol-bold !important;
}

.playfair-regular {
  font-family: $playfair-regular !important;
}

.playfair-italic {
  font-family: $playfair-italic !important;
}

.playfair-bold {
  font-family: $playfair-bold !important;
}

.playfair-bold-italic {
  font-family: $playfair-bold-italic !important;
}

.playfair-black-regular {
  font-family: $playfair-black-regular !important;
}

.playfair-black-italic {
  font-family: $playfair-black-italic !important;
}

.better-saturday-regular {
  font-family: $better-saturday-regular !important;
}

$font-icons: "fontello";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}

/*************************
	Base variables
*************************/
$brand-color: $burgundy;
$base-color: $dark;
$base-font: $bariol-regular;
$base-animation: 250ms;
$base-redius: 20px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 15px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $brand-color;
/*************************
	Title variables
*************************/
$title-font-family: $bariol-bold;