<footer class="footer">
  <div class="container">
    <div class="d-md-flex align-items-md-center">
      <a href="#" class="footer__logo">
        <img src="img/elements/logo.svg" alt="" class="w-100">
      </a>

      <div class="footer__content">
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col">
            <address>
              1201 St. John Road<br />
              Lascassas, TN 37085<br />
              <br />

              P 615.440.3596<br />
              <a href="mailto:robert@ams-team.com">robert@ams-team.com</a><br />
              <br />

              <a href="#" target="_blank">www.ams-team.com</a>
            </address>
          </div>

          <div class="col">
            <div class="footer__nav">
              <a href="#" class="footer__nav-item">ABOUT</a>
              <a href="#" class="footer__nav-item">OPPORTUNITIES</a>
              <a href="#" class="footer__nav-item">CONFIGURATOR</a>
              <a href="#" class="footer__nav-item">CONTACT US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>