<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="img/elements/logo.svg" alt="" class="w-100">
  </a>

  <div class="navbar-social-toggle">
    <i class="ams-icon-share"></i>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="ams-icon-menu"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OPPORTUNITIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONFIGURATOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>


</nav>