<div class="share">
  <button class="share-box__close" type="button">
    <i class="ams-icon-cancel"></i>
  </button>

  <div class="container w-100">
    <div class="row justify-content-center">
      <div class="col-4">
        <img src="img/elements/pertner-logo-1.png" alt="" class="share-box__logo">
        <div class="d-flex flex-column align-items-center">
          <a href="#" class="share-box__btn facebook">
            <i class="share-box__icon ams-icon-facebook"></i>
          </a>
          <a href="#" class="share-box__btn twitter">
            <i class="share-box__icon ams-icon-twitter"></i>
          </a>
          <a href="#" class="share-box__btn youtube">
            <i class="share-box__icon ams-icon-youtube-play"></i>
          </a>
        </div>
      </div>

      <div class="col-4">
        <img src="img/elements/pertner-logo-2.png" alt="" class="share-box__logo">
        <div class="d-flex flex-column align-items-center">
          <a href="#" class="share-box__btn facebook">
            <i class="share-box__icon ams-icon-facebook"></i>
          </a>
          <a href="#" class="share-box__btn twitter">
            <i class="share-box__icon ams-icon-twitter"></i>
          </a>
          <a href="#" class="share-box__btn youtube">
            <i class="share-box__icon ams-icon-youtube-play"></i>
          </a>
        </div>
      </div>

      <div class="col-4">
        <img src="img/elements/pertner-logo-3.png" alt="" class="share-box__logo">
        <div class="d-flex flex-column align-items-center">
          <a href="#" class="share-box__btn facebook">
            <i class="share-box__icon ams-icon-facebook"></i>
          </a>
          <a href="#" class="share-box__btn twitter">
            <i class="share-box__icon ams-icon-twitter"></i>
          </a>
          <a href="#" class="share-box__btn youtube">
            <i class="share-box__icon ams-icon-youtube-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>