/* NAVBAR */
$navbar-height: 44px;

.navbar {
  @extend .position-sticky, .overflow-hidden, .p-0;
  @include gradient-y($start-color:#383838, $end-color:#303030, $start-percent:50%, $end-percent:50%);
  z-index: 50;
  top: 0;
  left: 0;
  @include media-breakpoint-down(sm) {
    height: $navbar-height;
    max-width: 100%;
  }

  &:after,
  &:before {
    content: '';
    @extend .position-absolute, .w-100;
    height: 1px;
    background-color: rgba($white, .3);
    left: 0;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  > .container {
    @extend .d-block, .d-md-flex;
    @include media-breakpoint-down(sm) {
      height: $navbar-height;
    }
  }
}

.navbar-nav {
  @extend .d-flex, .flex-row, .pb-4, .p-md-1;
  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 4px;
  }

  > .nav-item {
    &.active {
      > .nav-link {
        @extend .bg-danger;

        &:focus,
        &:hover {
          @extend .bg-danger;
        }
      }
    }

    > .nav-link {
      text-decoration: none;
      @extend .d-inline-block, .text-uppercase, .text-white;
      padding: 7px 12px;

      &:focus,
      &:hover {
        @extend .bg-danger;
      }
    }
  }
}