/* NAVBAR */
.navbar {
  @extend .p-0, .overflow-hidden;
  @include gradient-y($start-color:#383838, $end-color:#303030, $start-percent:50%, $end-percent:50%);
  @include media-breakpoint-down(sm) {
    background-image: none !important;
  }

  &:after,
  &:before {
    content: '';
    @extend .position-absolute, .w-100;
    height: 1px;
    background-color: rgba($white, .3);
    left: 0;
    @include media-breakpoint-down(sm) {
      content: none !important;
    }
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  > .container {
    @extend .d-block, .d-md-flex, .justify-content-start;
  }

  .navbar-brand {
    width: 100px;
    display: none;
  }
}

.is_stuck {
  .navbar {
    .navbar-brand {
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
}

.navbar-nav {
  @extend .d-md-flex, .flex-md-row, .p-md-1;

  > .nav-item {
    &.active {
      > .nav-link {
        font-weight: bold;

        &:hover {
          @include media-breakpoint-up(md) {
            background-color: $danger;

            &:before {
              content: none !important;
            }
          }
        }
        @include media-breakpoint-up(md) {
          &:before {
            content: "";
          }
        }
        @include media-breakpoint-down(sm) {
          color: $danger;
        }

        &:focus,
        &:hover {
          @include media-breakpoint-up(md) {
            &:before {
              content: "";
            }
          }
          @include media-breakpoint-down(sm) {
            color: $danger;
          }
        }
      }
    }

    > .nav-link {
      text-decoration: none;
      @extend .d-block, .d-md-inline-block, .position-relative;
      color: $white;
      padding: 7px 12px;

      &:before {
        @include media-breakpoint-up(md) {
          display: inline-block;
          width: 9px;
          height: 9px;
          position: absolute;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
          background-color: #dcdcdc;
          z-index: 20;
        }
      }
      @include media-breakpoint-up(md) {
        text-transform: uppercase;
      }
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        padding: 0.5rem 0;
      }

      &:hover {
        @include media-breakpoint-up(md) {
          background-color: $danger;
        }
        @include media-breakpoint-down(sm) {
          color: $danger;
        }
      }
    }
  }
}