<footer
  class="bg-brand-600 pb-10 pt-16 text-yellow-100 sm:pt-28 md:pb-14 md:pt-36 lg:pt-40 xl:pt-[186px]"
>
  <div class="container">
    <a
      href="#"
      class="mb-16 inline-block gap-3 font-base-bold text-3xl leading-none sm:mb-28 sm:-tracking-[1.8px] md:mb-36 md:text-4xl md:-tracking-[2.8px] lg:mb-40 lg:text-5xl xl:mb-48 xl:text-[56px]"
      >Book your home-painting project today
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 40 40"
        stroke-width="1.5"
        stroke="none"
        class="ml-4 inline-block h-5 w-5 fill-brand-500 align-middle text-brand-500 md:h-6 md:w-6 xl:h-10 xl:w-10"
      >
        <path
          d="M27 16L18.5 5L28 5L40 20L28 35L18.5 35L27 24L-4.37114e-07 24L-7.55018e-07 16L27 16Z"
        />
      </svg>
    </a>

    <div class="flex flex-col gap-8 md:flex-row md:justify-between">
      <div class="flex flex-col">
        <a href="#" class="block w-[72px] md:mb-6">
          <img
            src="img/footer-logo.svg"
            alt="footer-logo"
            class="block w-full"
          />
        </a>

        <div class="mt-auto hidden flex-col gap-3 md:flex">
          <a
            href="tel:1-866-984-1856"
            class="hover:text-brand-500 focus:text-brand-500 active:text-brand-500"
            >1-866-984-1856</a
          >
          <a
            href="mailto:sales@craftwork.com"
            class="hover:text-brand-500 focus:text-brand-500 active:text-brand-500"
            >sales@craftwork.com</a
          >
        </div>
      </div>

      <div class="flex gap-10 md:flex-row md:gap-28 lg:gap-32 xl:gap-[170px]">
        <nav class="flex flex-col gap-6 md:gap-8">
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >How It Works</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Company</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Careers</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Resources</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Sign In</a
          >
        </nav>
        <nav class="flex flex-col gap-6 md:gap-8">
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Blog</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >FAQ</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Glossary</a
          >
          <a
            href="#"
            class="text-xl hover:text-brand-500 focus:text-brand-500 active:text-brand-500 md:text-2xl"
            >Partners</a
          >
        </nav>
      </div>
    </div>

    <div class="mt-8 flex flex-col gap-3 md:hidden">
      <a href="tel:1-866-984-1856">1-866-984-1856</a>
      <a href="mailto:sales@craftwork.com">sales@craftwork.com</a>
    </div>

    <div
      class="md:mt-38 my-10 h-[1px] bg-[rgba(250,246,235,0.3)] sm:mb-14 sm:mt-16 lg:mt-44 xl:mt-52"
    ></div>

    <div
      class="flex flex-col gap-6 text-center md:flex-row md:items-center md:justify-between md:text-left"
    >
      <div class="flex items-center justify-center gap-6 md:justify-start">
        <a href="#" class="group"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="none"
            class="h-6 w-6 fill-yellow-100 group-hover:fill-brand-500"
          >
            <path
              d="M9.03153 23L9 13H5V9H9V6.5C9 2.7886 11.2983 1 14.6091 1C16.1951 1 17.5581 1.11807 17.9553 1.17085V5.04948L15.6591 5.05052C13.8584 5.05052 13.5098 5.90614 13.5098 7.16171V9H18.75L16.75 13H13.5098V23H9.03153Z"
            />
          </svg>
        </a>
        <a href="#" class="group"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="none"
            class="h-6 w-6 fill-yellow-100 group-hover:fill-brand-500"
          >
            <path
              d="M23 0H1C0.4 0 0 0.4 0 1V23C0 23.6 0.4 24 1 24H23C23.6 24 24 23.6 24 23V1C24 0.4 23.6 0 23 0ZM7.1 20.5H3.6V9H7.2V20.5H7.1ZM5.3 7.4C4.2 7.4 3.2 6.5 3.2 5.3C3.2 4.2 4.1 3.2 5.3 3.2C6.4 3.2 7.4 4.1 7.4 5.3C7.4 6.5 6.5 7.4 5.3 7.4ZM20.5 20.5H16.9V14.9C16.9 13.6 16.9 11.9 15.1 11.9C13.2 11.9 13 13.3 13 14.8V20.5H9.4V9H12.8V10.6C13.3 9.7 14.4 8.8 16.2 8.8C19.8 8.8 20.5 11.2 20.5 14.3V20.5Z"
            />
          </svg>
        </a>
        <a href="#" class="group"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="none"
            class="h-6 w-6 fill-yellow-100 group-hover:fill-brand-500"
          >
            <path
              d="M23.8 7.2001C23.8 7.2001 23.6 5.5001 22.8 4.8001C21.9 3.8001 20.9 3.8001 20.4 3.8001C17 3.6001 12 3.6001 12 3.6001C12 3.6001 7 3.6001 3.6 3.8001C3.1 3.9001 2.1 3.9001 1.2 4.8001C0.5 5.5001 0.2 7.2001 0.2 7.2001C0.2 7.2001 0 9.1001 0 11.1001V12.9001C0 14.8001 0.2 16.8001 0.2 16.8001C0.2 16.8001 0.4 18.5001 1.2 19.2001C2.1 20.2001 3.3 20.1001 3.8 20.2001C5.7 20.4001 12 20.4001 12 20.4001C12 20.4001 17 20.4001 20.4 20.1001C20.9 20.0001 21.9 20.0001 22.8 19.1001C23.5 18.4001 23.8 16.7001 23.8 16.7001C23.8 16.7001 24 14.8001 24 12.8001V11.0001C24 9.1001 23.8 7.2001 23.8 7.2001ZM9.5 15.1001V8.4001L16 11.8001L9.5 15.1001Z"
            />
          </svg>
        </a>
      </div>
      <p>© 2023 Craftwork. All Rights Reserved. Privacy. Terms.</p>
    </div>
  </div>
</footer>
