<header
  class="absolute left-0 top-0 z-20 w-full flex-shrink-0 py-6 lg:py-10"
  x-data="{ isMobileMenuOpened: false }"
  :class="isMobileMenuOpened ? 'bg-white lg:bg-transparent' : 'bg-transparent'"
>
  <div class="container flex flex-wrap items-center gap-10 lg:gap-[72px]">
    <a href="#" class="block w-[176px]"
      ><img src="img/header-logo.svg" alt="header-logo" class="block w-full"
    /></a>

    <button
      type="button"
      class="ml-auto block text-brand-500 outline-none lg:hidden"
      @click="isMobileMenuOpened = !isMobileMenuOpened"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-8 w-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          x-show="!isMobileMenuOpened"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
          x-show="isMobileMenuOpened"
        />
      </svg>
    </button>

    <nav
      class="w-full grow flex-col items-start gap-6 lg:w-auto lg:flex-row lg:items-center lg:gap-12"
      :class="isMobileMenuOpened ? 'flex' : 'hidden lg:flex'"
    >
      <a href="#" class="font-base-medium hover:text-brand-500">How It Works</a>
      <a href="#" class="font-base-medium hover:text-brand-500">Company</a>
      <a href="#" class="font-base-medium hover:text-brand-500">Resources</a>

      <div
        class="flex flex-col gap-6 lg:ml-auto lg:flex-row lg:items-center lg:gap-10"
      >
        <a href="#" class="font-base-medium hover:text-brand-500">Sign In</a>
        <a href="#" class="btn btn-brand btn-circle capitalize"
          >Get Your Estimate</a
        >
      </div>
    </nav>
  </div>
</header>
