/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #111111;
$success: #05ae9f;
$pink: #493280;
$muted: #777777;
$gray: #f6f6f6;
$silver: #e8e8e8;
$orange: #f26539;



//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-success {
  color: $success !important;
}
.text-pink {
  color: $pink !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}
.text-silver {
  color: $silver !important;
}
.text-orange {
  color: $orange !important;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-orange {
  background-color: $orange !important;
}



/*************************
	Fonts variables
*************************/
$font-italic: 'Montserrat-Italic';
$font-regular: 'Montserrat-Regular';
$font-medium: 'Montserrat-Medium';
$font-bold-italic: 'Montserrat-BoldItalic';
$font-bold: 'Montserrat-Bold';
$font-black: 'Montserrat-Black';

.font-italic {
  font-family: $font-italic !important;
}
.font-regular {
  font-family: $font-regular !important;
}
.font-medium {
  font-family: $font-medium !important;
}
.font-bold-italic {
  font-family: $font-bold-italic !important;
}
.font-bold {
  font-family: $font-bold !important;
}
.font-black {
  font-family: $font-black !important;
}


$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $muted;
$base-font: $font-regular;
/*************************
	Font path variable
************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $success;


/*************************
	Title variables
*************************/
$title-font-family: $font-black;
$title-line-height: 1.4;
