/* ACCORDION */

.accordion {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.accordion--w-b {
  .accordion__item {
    &:first-child {
      border-top-color: transparent;
    }
  }
}
.accordion--sm-font-regular {
  .accordion__body {
    font-family: $font-base-book;
  }
}
.accordion__item {
  border-radius: 0;
  border: none;
  border-top: 1px solid $gray;
  &:last-child {
    border-bottom: 1px solid $gray;
  }
}

.accordion__header {
  padding: 16px 15px;
}

.accordion__title {
  text-transform: uppercase;
  font-size: 12px;
  color: $tundora;
  @extend .flex, .flex-between, .flex-item-center;
  &:hover, &:focus {
    color: $mine-shaft;
  }
  &.collapsed {
    .accordion__icon {
      @extend .wanderset-icon-plus;
    }
  }
}
.accordion__icon {
  @extend .font-icons, .wanderset-icon-minus;
}

.accordion__body {
  padding: 5px 15px 20px 15px;
  font-family: $font-secondary;
  font-size: 12px;
	line-height: 1.67;
  letter-spacing: 0;
  color: $tundora-soft;
  ul {
    padding-left: 15px;
  }
}
