/* ASIDE */

.aside {
  .list-goods__item {
    &+.list-goods__item {
      padding-top: 0px;
      margin-top: 12px;
      @include media-breakpoint-down(sm) {
        margin-top: 45px;
        padding-top: 45px;
      }
    }
  }
  .goods__info {
    margin-bottom: 10px;
  }
  .label {
    letter-spacing: .2em;
  }
  .goods__info-name {
    white-space: normal;
  }
  .list {
    font-size: 9px;
    letter-spacing: .1rem;
  }
  .checkbox-holder input[type=checkbox] + .label {
    padding-top: 4px;
    font-size: 9px;
  }
}

.aside__item {
  &+.aside__item {
    margin-top: 35px;
  }
}

.aside__produt-img {
  max-width: 90px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin-right: 15px;
}
