/* BACKGROUNDS COLORS */

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-gray-thin {
  background-color: $gray-thin !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-soft {
  background-color: $gray-soft !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-warning {
  background-color: $warning !important;
}
