/* FONTS ICONS */

//Fontello

@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello/fontello.eot?45403718');
  src: url('#{$font-path}fontello/fontello.eot?45403718#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?45403718') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?45403718') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?45403718') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?45403718#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="wanderset-icon-"]:before, [class*=" wanderset-icon-"]:before {
   font-family: "fontello";
   font-style: normal;
   font-weight: normal;
   speak: none;

   display: inline-block;
   text-decoration: inherit;
   width: 1em;
   margin-right: .2em;
   text-align: center;
   font-variant: normal;
   text-transform: none;
   line-height: 1em;
   margin-left: .2em;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   vertical-align: middle;
}

.wanderset-icon-down-open:before { content: '\e800'; } /* '' */
.wanderset-icon-left-open:before { content: '\e801'; } /* '' */
.wanderset-icon-right-open:before { content: '\e802'; } /* '' */
.wanderset-icon-up-open:before { content: '\e803'; } /* '' */
.wanderset-icon-menu-1:before { content: '\e804'; } /* '' */
.wanderset-icon-mag-glass-icon:before { content: '\e805'; } /* '' */
.wanderset-icon-user:before { content: '\e806'; } /* '' */
.wanderset-icon-grid-on:before { content: '\e807'; } /* '' */
.wanderset-icon-list-off:before { content: '\e808'; } /* '' */
.wanderset-icon-minus:before { content: '\e809'; } /* '' */
.wanderset-icon-plus:before { content: '\e80a'; } /* '' */
.wanderset-icon-email:before { content: '\e80b'; } /* '' */
.wanderset-icon-search:before { content: '\e80c'; } /* '' */
.wanderset-icon-heart:before { content: '\e80d'; } /* '' */
.wanderset-icon-bag:before { content: '\e80e'; } /* '' */
.wanderset-icon-cancel:before { content: '\e811'; } /* '' */
.wanderset-icon-heart-empty:before { content: '\e812'; } /* '' */
.wanderset-icon-ok-rounded:before { content: '\e813'; } /* '' */
.wanderset-icon-arrow-right:before { content: '\e814'; } /* '' */
.wanderset-icon-trash:before { content: '\e815'; } /* '' */
.wanderset-icon-arrow-left:before { content: '\e816'; } /* '' */
.wanderset-icon-down-open-1:before { content: '\f004'; } /* '' */
.wanderset-icon-up-open-1:before { content: '\f005'; } /* '' */
.wanderset-icon-right-open-1:before { content: '\f006'; } /* '' */
.wanderset-icon-left-open-1:before { content: '\f007'; } /* '' */
.wanderset-icon-menu:before { content: '\f008'; } /* '' */
.wanderset-icon-twitter:before { content: '\f099'; } /* '' */
.wanderset-icon-facebook:before { content: '\f09a'; } /* '' */
.wanderset-icon-down:before { content: '\f175'; } /* '' */
.wanderset-icon-up:before { content: '\f176'; } /* '' */
.wanderset-icon-left:before { content: '\f177'; } /* '' */
.wanderset-icon-right:before { content: '\f178'; } /* '' */
.wanderset-icon-cc-visa:before { content: '\f1f0'; } /* '' */
.wanderset-icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.wanderset-icon-cc-discover:before { content: '\f1f2'; } /* '' */
.wanderset-icon-cc-amex:before { content: '\f1f3'; } /* '' */
.wanderset-icon-pinterest:before { content: '\f231'; } /* '' */
.wanderset-icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.wanderset-icon-instagram:before { content: '\f32d'; } /* '' */
