/* Fonts */

//Gotham
@font-face {
  font-family: 'GothamThinRegular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gotham/GothamThinRegular.woff2') format('woff2'),
       url('#{$font-path}gotham/GothamThinRegular.woff') format('woff'),
       url('#{$font-path}gotham/GothamThinRegular.ttf') format('ttf');
}

@font-face {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gotham/GothamBook.woff2') format('woff2'),
       url('#{$font-path}gotham/GothamBook.woff') format('woff'),
       url('#{$font-path}gotham/GothamBook.ttf') format('ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gotham/Gotham-Medium.woff2') format('woff2'),
       url('#{$font-path}gotham/Gotham-Medium.woff') format('woff'),
       url('#{$font-path}gotham/Gotham-Medium.ttf') format('ttf');
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('#{$font-path}gotham/Gotham-Bold.eot');
	src: url('#{$font-path}gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}gotham/Gotham-Bold.woff') format('woff'),
		url('#{$font-path}gotham/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gotham/Gotham-Black.woff2') format('woff2'),
       url('#{$font-path}gotham/Gotham-Black.woff') format('woff'),
       url('#{$font-path}gotham/Gotham-Black.ttf') format('ttf');
}

//Montserrat
@font-face {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Thin.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Thin.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Thin.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Regular.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-SemiBold.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-SemiBold.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Medium.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Medium.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Bold.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Black.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Black.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Black.ttf') format('ttf');
}

//Droid serif
@font-face {
  font-family: 'DroidSerif-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}droid-serif/DroidSerif-Italic.woff2') format('woff2'),
       url('#{$font-path}droid-serif/DroidSerif-Italic.woff') format('woff'),
       url('#{$font-path}droid-serif/DroidSerif-Italic.ttf') format('ttf');
}

//Zerocalcare
@font-face {
  font-family: 'Zerocalcare Blackletter';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}zerocalcare/Zerocalcare Blackletter.woff2') format('woff2'),
       url('#{$font-path}zerocalcare/Zerocalcare Blackletter.woff') format('woff'),
       url('#{$font-path}zerocalcare/Zerocalcare Blackletter.ttf') format('ttf');
}

//Febrero
@font-face {
  font-family: 'Febrero-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}febrero/Febrero-Regular.woff2') format('woff2'),
       url('#{$font-path}febrero/Febrero-Regular.woff') format('woff'),
       url('#{$font-path}febrero/Febrero-Regular.ttf') format('ttf');
}

//With My Woes
@font-face {
  font-family: 'WithMyWoes';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}with-my-woes/WithMyWoes.woff2') format('woff2'),
       url('#{$font-path}with-my-woes/WithMyWoes.woff') format('woff'),
       url('#{$font-path}with-my-woes/WithMyWoes.ttf') format('ttf');
}

//Brat
@font-face {
  font-family: 'Brat';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}brat/Brat.woff2') format('woff2'),
       url('#{$font-path}brat/Brat.woff') format('woff'),
       url('#{$font-path}brat/Brat.ttf') format('ttf');
}
