/* LISTS GROUP */

.list-group {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}


.list-group--w-b-t {
  .list-group-item {
    &:first-child {
      border-top-color: transparent;
    }
  }
}
.list-group--w-b-b {
  .list-group-item {
    &:last-child {
      border-bottom-color: transparent;
    }
  }
}
.list-group--w-b-side {
  .list-group-item {
    border-left: none;
    border-right: none;
  }
}

.list-group-item {
  padding: 10px 15px;
  border-color: $silver-chalise;
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}
