/* LOGO */

$logo-color: $shark;
$logo-color-secondary: $blue;
$logo-ff: $font-fourth;

.logo {
  display: block;
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 34px;
  background: url('../images/elements/logo.svg') no-repeat 50% 50% / 100%;
  @include media-breakpoint-down(lg) {
    height: 37px;
  }
  @include media-breakpoint-down(sm) {
    height: 36px;
  }
  @include media-breakpoint-down(xs) {
    max-width: 160px;
  }

  /* text-transform: lowercase;
  font-size: 96px;
  color: $logo-color;
  font-family: $logo-ff;
  line-height: .65;
  display: inline-block;
  letter-spacing: 0px;
  margin-top: 4px;
  &:hover, &:focus {
    color: $logo-color;
  }
  @include media-breakpoint-down(md) {
    font-size: 58px;
  } */
}
.logo--content {
  margin-bottom: 40px;
  background: none;
  text-transform: uppercase;
  font-size: 69px;
  color: $logo-color;
  font-family: $logo-ff;
  line-height: .65;
  display: block;
  letter-spacing: .6rem;
  text-indent: .3rem;
  max-width: 430px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &:hover, &:focus {
    color: $logo-color;
  }
  @include media-breakpoint-down(xs) {
    font-size: 38px;
  }
}
.logo__span {
  color: $logo-color-secondary;
}
.logo__img {
  width: 100%;
}
