/* SEARCH RESULT */

.search-result {
  padding-bottom: 38px;
  margin-bottom: 70px;
  border-bottom: 1px solid $silver-chalise-soft;
  @include media-breakpoint-down(sm) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.search-result__subtitle {
  text-transform: uppercase;
  color: $silver-chalise-soft;
  font-family: $font-base-bold;
  margin-bottom: 16px;
}
.search-result__title {
  color: $outer-space;
  @extend .title-lg;
  font-family: $font-base-thin;
  letter-spacing: 0;
}
