/* TABLE */

$table-fs: 11px;
$table-color: $muted;
$table-border-color: $gray;

.table {
  >thead, tbody {
    >tr {
      >th, >td {
        border-color: $table-border-color;
        padding: 14px 20px;
        font-size: $table-fs;
        color: $table-color;
        @include media-breakpoint-down(md) {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  >thead {
    >tr {
      >th, >td {
        font-weight: normal;
        border-bottom: none;
        text-transform: uppercase;
      }
    }
  }
  >tbody {
    >tr {
      &:last-child {
        >th, >td {
          border-bottom: 1px solid $table-border-color;
        }
      }
      >th, >td {
        vertical-align: middle;
        @include media-breakpoint-up(sm) {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
  .goods__link-group__item {
    font-size: 9px;
  }
}
.table__img {
  width: 125px;
  @include media-breakpoint-down(lg) {
    width: 70px;
  }
}
.table__goods__info {
  @include media-breakpoint-down(lg) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(sm) {
    min-width: 180px;
  }
  .goods__info-name {
    font-size: 14px;
    max-width: 300px;
    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
  }
  .goods__info-description {
    font-size: 12px;
    @include media-breakpoint-down(lg) {
      font-size: 11px;
    }
  }
}
.table__goods__details {
  &:not(:last-child) {
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
}
.table__cost {
  @include media-breakpoint-down(sm) {
    min-width: 100px;
  }
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}
.table__cost--sm {
  font-size: 9px;
  letter-spacing: 1.8px;
}
.table__divider {
  @include media-breakpoint-up(sm) {
    height: 30px;
  }
}
