/* VARIABLES */


/*************************
  Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Gray group */
$santas-gray: #9d9ea3;
$alabaster: #f8f8f8;
$seashell: #f1f1f1; //Gray thin
$silver-thin: #cbcbcb;
$silver: #cccccc;
$silver-soft: #e7e7e7;
$silver-chalise-thin: #9d9d9d;
$silver-chalise: #adadad; //Gray
$silver-chalise-soft: #a5a5a5;
$tundora: #474747; //Gray soft
$tundora-soft: #4e4e4e;
$rolling-stone: #757677;
$mercury: #e5e5e5;
$alto: #d6d6d6;
$wild-sand: #f5f5f5;
$muted-thin: #818181;
$gray-silver: #7f7f7f;
$dove-gray-thin: #727272;
$dove-gray: #616161; //muted
$dove-gray-soft: #939393;
$shark: #29363b; //Primary
$shark-dark: #22252c;
$mine-shaft-thin: #393939;
$mine-shaft: #373737;
$mine-shaft-soft: #010101;
$dusty-gray: #979797;
$dusty-gray-soft: #949494;
$outer-space: #29363c;
$cape-cod: #394144;
$dove-gray-boulder: #676767;
$dove-gray-bold: #686868;
$abbey-thin: #4f575a;
$abbey: #50585b;
/* Blue group */
$malibu: #61d2fe; //Sky
$nepal: #8F9FBF; //Blue
/* Red group */
$pomegranate: #fd2727; //Danger
$red: #ff0000;
/* Yellow group */
$gold: #fed201; //Warning

/*************************
  Local color variables
*************************/
$white: $white;
$black: $black;
$gray-thin: $seashell;
$gray: $silver-chalise;
$gray-soft: $tundora;
$gray-bold: $tundora-soft;
$muted-thin: $muted-thin;
$muted: $dove-gray;
$muted-soft: $dove-gray-soft;
$primary: $shark;
$sky: $malibu;
$blue: $nepal;
$danger: $pomegranate;
$danger-soft: $red;
$warning: $gold;

/*************************
  Fonts variable
*************************/


$font-base-thin: 'GothamThinRegular';
$font-base-book: 'GothamBook';
$font-base-medium: 'Gotham-Medium';
$font-base-bold: 'Gotham-Bold';
$font-base-black: 'Gotham-Black';



$font-secondary: 'DroidSerif-Italic';

$font-third: 'Zerocalcare Blackletter';

$font-fourth: 'Febrero-Regular';

$font-fifth: 'WithMyWoes';

$font-base: $font-base-medium;

.font-icons {
  font-family: 'fontello';
  font-style: normal;
}


/*************************
  Body variable
*************************/
$body-text-color: $primary;

$body-font-family: $font-base;
$body-font-size: 12px;
$body-line-height: 1.5;
$body-main-color: $body-text-color;
$body-kerning: .2em;
$body-text-indent: .2em;
/*************************
  Links color variable
*************************/
$link-color: $silver-chalise-soft;

/*************************
  Title variables
*************************/
$title-font: $font-base-book;
$title-line-height: 1.15;
$title-line-height-xs: 1.48;
$title-color: $shark-dark;
$title-bold-kerning: .25em;
