<section class="footer no-padding">
  <div class="footer-inner">
    <div class="grid grid-cols-4 gap-5">
      <div>
        <div class="progress-indicator">
          <p>
            This page loaded in <b>18.566 second</b> and emitted <b>0.46 CO2</b>
          </p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
            <circle
              cx="16"
              cy="16"
              r="15.9155"
              class="progress-bar__background"
            />
            <circle
              cx="16"
              cy="16"
              r="15.9155"
              class="progress-bar__progress progress-bar__precentage"
              style="stroke-dashoffset: 10px"
            />
          </svg>
        </div>
      </div>
      <ul class="footer-block footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Platforms</a></li>
        <li><a href="#">Blogs</a></li>
      </ul>
      <div class="footer-block">
        <h3>Volunteer</h3>
        <p>
          Join the amazing volunteering team for various Shell.ai engagements.
        </p>
        <a href="#" class="btn secondary-btn outlined">
          <span>Join Now</span>
          <svg
            class="btn-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="29"
            height="29"
            fill="none"
            viewBox="0 0 29 29"
          >
            <path
              fill="currentColor"
              d="M10.874 22.958a1.21 1.21 0 0 1-.857-2.066L16.42 14.5l-6.404-6.392a1.213 1.213 0 0 1 1.716-1.716l7.25 7.25a1.209 1.209 0 0 1 0 1.704l-7.25 7.25a1.21 1.21 0 0 1-.859.362Z"
            />
          </svg>
        </a>
      </div>
      <div class="footer-block">
        <h3>Newsletter</h3>
        <p>
          Subscribe to our newsletter and stay updated with the latest digital
          trends in Shell
        </p>
        <a href="#" class="btn secondary-btn outlined">
          <span>Subscribe</span>
          <svg
            class="btn-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="29"
            height="29"
            fill="none"
            viewBox="0 0 29 29"
          >
            <path
              fill="currentColor"
              d="M10.874 22.958a1.21 1.21 0 0 1-.857-2.066L16.42 14.5l-6.404-6.392a1.213 1.213 0 0 1 1.716-1.716l7.25 7.25a1.209 1.209 0 0 1 0 1.704l-7.25 7.25a1.21 1.21 0 0 1-.859.362Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2022. Shell.ai</p>
  </div>
</section>
