<section class="hero">
  <div class="box-container">
    <div class="home-hero">
      <!-- hero content -->
      <div class="hero-content">
        <span class="pre-heading">Digital Innovation</span>
        <h1 class="sec-heading">Technology <br />Program</h1>
        <p class="mb-7 font-medium">
          In 2018, the Digital CoE was created with a vision to catalyze digital
          innovation within Shell. As part of Reshape a decision has been taken
          to refocus these capabilities.
        </p>
        <a href="#" class="btn secondary-btn outlined">
          <span>Know more</span>
          <svg
            class="btn-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="29"
            height="29"
            fill="none"
            viewBox="0 0 29 29"
          >
            <path
              fill="currentColor"
              d="M10.874 22.958a1.21 1.21 0 0 1-.857-2.066L16.42 14.5l-6.404-6.392a1.213 1.213 0 0 1 1.716-1.716l7.25 7.25a1.209 1.209 0 0 1 0 1.704l-7.25 7.25a1.21 1.21 0 0 1-.859.362Z"
            />
          </svg>
        </a>
      </div>

      <!-- Image -->
      <div class="hero-illustratiion">
        <img src="@@webRoot/img/home/hero-img.png" alt="Hero Image" />
      </div>
    </div>
  </div>
</section>
