<section class="info-tabs">
  <div class="info-tabs-nav">
    <div class="info-tabs-inner">
      <button class="tab-link active" data-tab="themes">
        <span>Themes</span>
      </button>
      <button class="tab-link" data-tab="innovation">
        <span>Delivering innovation</span>
      </button>
      <button class="tab-link" data-tab="beliefs">
        <span>Core beliefs</span>
      </button>
      <button class="tab-link" data-tab="trends">
        <span>Trends & Partners</span>
      </button>
      <button class="tab-link" data-tab="digital">
        <span>Digital tech</span>
      </button>
      <button class="tab-link" data-tab="partnership">
        <span>Partnership</span>
      </button>
      <button class="tab-link" data-tab="governance">
        <span>Governance</span>
      </button>
    </div>
  </div>
  <div class="info-tabs-content">
    @@include('./tabs-content/themes.html')
    @@include('./tabs-content/innovation.html')
    @@include('./tabs-content/beliefs.html')
    @@include('./tabs-content/trends.html')
    @@include('./tabs-content/digital.html')
    @@include('./tabs-content/partnership.html')
    @@include('./tabs-content/governance.html')
  </div>
</section>
