/* Fonts */

//Poppins
@font-face {
  font-family: "Poppins-Light";
  src: url("#{$font-path}/poppins/Poppins-Light.woff2") format("woff2"),
    url("#{$font-path}/poppins/Poppins-Light.woff") format("woff"),
    url("#{$font-path}/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("#{$font-path}/poppins/Poppins-Regular.woff2") format("woff2"),
    url("#{$font-path}/poppins/Poppins-Regular.woff") format("woff"),
    url("#{$font-path}/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("#{$font-path}/poppins/Poppins-Medium.woff2") format("woff2"),
    url("#{$font-path}/poppins/Poppins-Medium.woff") format("woff"),
    url("#{$font-path}/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("#{$font-path}/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("#{$font-path}/poppins/Poppins-SemiBold.woff") format("woff"),
    url("#{$font-path}/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("#{$font-path}/poppins/Poppins-Bold.woff2") format("woff2"),
    url("#{$font-path}/poppins/Poppins-Bold.woff") format("woff"),
    url("#{$font-path}/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("#{$font-path}/poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("#{$font-path}/poppins/Poppins-ExtraBold.woff") format("woff"),
    url("#{$font-path}/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

//Myriad Pro
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("#{$font-path}/myriadproMyriadPro-Regular.woff2") format("woff2"),
    url("#{$font-path}/myriadproMyriadPro-Regular.woff") format("woff"),
    url("#{$font-path}/myriadproMyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
