<footer class="footer">
  <div class="container-fluid">
    <ul class="footer__nav">
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">User Account</a>
      </li>
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">More Resources</a>
      </li>
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">Artists</a>
      </li>
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">Search</a>
      </li>
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">Terms of Use</a>
      </li>
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">Privacy Policy</a>
      </li>
      <li class="footer__nav__item">
        <a href="#" class="footer__nav__link">About</a>
      </li>
    </ul>
    <p>© 1996–2019 Autotelics, LLC. All rights reserved.</p>
  </div>
</footer>
