/* CAROUSEL */


.carousel-laptop {
  @extend .has-bg;
  background-size: contain;
  .slick-slide {
    padding: 20px 30px;
  }
}

.carousel-laptop__slide {
  width: 100%;
  max-width: 460px;
}


.carousel-nav {
  .slick-slide {
    width: 100% !important;
    cursor: pointer;
  }
  .slick-current {
    @extend .h2, .text-danger, .font-base-semibold;
  }
}
