/* Fonts */

//
@font-face {
  font-family: 'SourceSansPro-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Light.woff') format('woff'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}source-sans-pro/SourceSansPro-Semibold.woff2') format('woff2'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Semibold.woff') format('woff'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Semibold.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Bold.woff') format('woff'),
       url('#{$font-path}source-sans-pro/SourceSansPro-Bold.ttf') format('ttf');
}
