/* FORMS */

$field-bg: #e4e4e4;
$field-focus-bg: #d7d7d7;
$placeholder-color: $gray;
$placeholder-font-size: 16px;
$placeholder-font-style: $font-base-regular;
$placeholder-opacity: 0;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
	border: none;
	background: $field-bg;
	@include custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style);
	&:focus {
		box-shadow: none;
		background: $field-focus-bg;
		@include custom-placeholder-opacity($opacity: $placeholder-opacity);
	}
}

textarea {
	resize: none;
}
