/* HAS OVERLAY */

.has-overlay {
  position: relative;
  z-index: 10;
  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.has-overlay--black {
  &:before {
    background: rgba($black, .5);
  }
}
.has-overlay--primary {
  &:before {
    background: rgba($blue, .9);
  }
}
