/* SECTION */

.section {
  position: relative;
  padding: 50px 0;
  @include media-breakpoint-up(md) {
    padding: 130px 0;
  }
}

.section--sm {
  @include media-breakpoint-up(md) {
    padding: 100px 0;
  }
}
.section--xs {
  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }
}
.section--pt-lg {
  @include media-breakpoint-up(md) {
    padding-top: 250px;
  }
}

.section--pt-xl {
  @include media-breakpoint-up(md) {
    padding-top: 310px;
  }
}


.section--full {
  padding: 100px 0;
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}

// .section--limited-height {
//   @include media-breakpoint-up(md) {
//     height: 450px;
//   }
// }
