/* VARIABLES */


/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Red group */
$cabaret: #d6405a; //Danger color
/* Gray group */
$gallery: #ebebeb; //Muted color
$dove-gray: #313131; //Gray color
/* Blue group */
$gun-powder: #42475b; //Primary color
$orient: #005b7f; //Blue color
/* Orange group */
$burnt-sienna: #e8815d;

/*************************
	Global color variables
*************************/
$white: $white;
$black: $black;
$danger: $cabaret;
$muted: $gallery;
$gray: $dove-gray;
$primary: $gun-powder;
$blue: $orient;
$warning: $burnt-sienna;

$base-color: $gun-powder;

/*************************
	Text color variables
*************************/
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-danger {
  color: $danger !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}
.text-primary {
  color: $primary !important;
}
.text-blue {
  color: $blue !important;
}
.text-warning {
  color: $warning !important;
}

/*************************
	Background color variables
*************************/
.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-warning {
  background-color: $warning !important;
}

/*************************
	Fonts variables
*************************/
$font-base-light: 'SourceSansPro-Light';
$font-base-regular: 'SourceSansPro-Regular';
$font-base-semibold: 'SourceSansPro-Semibold';
$font-base-bold: 'SourceSansPro-Bold';

.font-base-light {
  font-family: $font-base-light !important;
}
.font-base-regular {
  font-family: $font-base-regular !important;
}
.font-base-semibold {
  font-family: $font-base-semibold !important;
}
.font-base-bold {
  font-family: $font-base-bold !important;
}

$font-base: $font-base-light;

$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 20px;
$body-font-size-md: 16px;
$body-font-size-sm: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $danger;


/*************************
	Title variables
*************************/
$title-font-family: $font-base-light;

/*************************
	Path variables
*************************/
$font-path: '../fonts/';
