/* BTN SCROLL DOWN */

.btn-scroll-down {
    @extend .text-black500,
    .fs-30,
    .d-inline-flex,
    .align-items-center;
    animation: bounce infinite 2300ms;

    &:hover,
    &:focus,
    &:active {
        @extend .text-orange500;
    }

    @include media-breakpoint-up(xl) {
        transform: translateY(-25px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(0, 0);
    }

    40% {
        transform: translate(0, -4px);
    }

    60% {
        transform: translate(0, -3px);
    }
}