/* DROPDOWN */

.dropdown-menu {
    border-color: $gray400;
}

.dropdown-toggle {
    &:after {
        @extend .border-0;
        font-family: 'icomoon';
        content: "\e904";
        vertical-align: middle;
    }
}