/* GALLERY */

$gallery-btn-size: 48px;

.gallery-btn {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center,
    .rounded-circle,
    .bg-gray700,
    .btn,
    .border-0,
    .shadow-none,
    .font-icons,
    .fs-26;
    min-height: auto;
    width: $gallery-btn-size;
    height: $gallery-btn-size;

    &--prev {
        @extend .icon-chevron-left;
    }

    &--next {
        @extend .icon-chevron-right;
    }

    &.swiper-button-disabled {
        cursor: not-allowed;
        opacity: .5;
    }

    &+.gallery-btn {
        @extend .ml-3;
    }

}