/* SECTION */

.section {
  @extend .position-relative;
  padding: 40px 0;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  &--sm {
    @include media-breakpoint-up(lg) {
      padding: 60px 0;
    }
  }

  &--md {
    @include media-breakpoint-up(lg) {
      padding: 116px 0;
    }
  }

  &-has-overlay {
    padding-top: 80px;

    &:before,
    &:after {
      content: '';
      @extend .position-absolute,
      .h-100,
      .w-50;
      top: 0;
      z-index: -1;
    }

    &:before {
      left: 0;
      border-top-right-radius: 50px;
    }

    &:after {
      right: 0;
      border-top-left-radius: 50px;
    }

    &--gray {

      &:before,
      &:after {
        @extend .bg-gray700;
      }
    }

    &--orange {

      &:before,
      &:after {
        @extend .bg-orange500;
      }
    }
  }

  &-has-number-box {
    .number-box {
      @extend .position-absolute;
      right: 15px;
      bottom: 15px;

      @include media-breakpoint-up(xl) {
        right: -40px;
        bottom: 60px;
      }
    }
  }

  [class^="col"] {
    @extend .position-relative;
  }

  &--photoelectric-panels {
    @extend .d-md-flex,
    .align-items-md-center;

    @include media-breakpoint-up(md) {
      background-repeat: no-repeat;
      background-image: url('../img/temp/photoelectric-panels.png');
      background-position: left center;
      min-height: 500px;
      background-size: 350px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 700px;
      background-size: 560px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 890px;
      background-size: 680px;
    }

    @media (min-width: 2001px) {
      background-image: none;
    }
  }

  &--photoelectric-panels-2 {
    @extend .d-md-flex,
    .align-items-md-center;

    @include media-breakpoint-up(md) {
      background-repeat: no-repeat;
      background-image: url('../img/temp/photoelectric-panels-2.png');
      background-position: right center;
      min-height: 400px;
      background-size: 350px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 450px;
      background-size: 560px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 590px;
      background-size: 680px;
    }

    @media (min-width: 2001px) {
      background-image: none;
      min-height: auto;
    }
  }
}