/* FOOTER */

$footer-bg: $gray;
$footer-color: $white;
$footer-fs: 15px;

.footer {
  padding: 15px 0;
  background: $footer-bg;
  text-align: center;
  color: $footer-color;
  font-size: $footer-fs;
}
