/* NAVBAR */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar-brand {
  width: 200px;
  @include media-breakpoint-down(md) {
    width: 160px;
  }
}
.navbar-brand__img {
  width: 100%;
}
