<footer class="footer">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-12 col-md-5 footer__item">
				<h2 class="text-center text-muted font-base-light-italic footer__title">Leadership with over 150 years of combined hospitality experience.</h2>
			</div><!--col-->

			<div class="col-6 col-md-3 bg-black footer__item order-md-first">
				<ul class="list-unstyled list__footer my-md-5">
					<li class="list__footer__item">
						<a href="#" class="list__footer__link">Home</a>
					</li><!--list__footer__item-->
					<li class="list__footer__item">
						<a href="#" class="list__footer__link">Hotels</a>
					</li><!--list__footer__item-->
					<li class="list__footer__item">
						<a href="#" class="list__footer__link">Careers</a>
					</li><!--list__footer__item-->
					<li class="list__footer__item">
						<a href="#" class="list__footer__link">Leadership</a>
					</li><!--list__footer__item-->
					<li class="list__footer__item">
						<a href="#" class="list__footer__link">Testimonials</a>
					</li><!--list__footer__item-->
				</ul><!--list__footer-->
			</div><!--col-->

			<div class="col-6 col-md-4 footer__item footer__item--has-border">
				<ul class="list-unstyled d-block">
		      <li><a href="#" class="py-1 d-inline-block"><i class="nsh-icon-twitter"></i> TheHotelGroup</a></li>
		      <li><a href="#" class="py-1 d-inline-block"><i class="nsh-icon-pinterest-circled"></i> thehotelgroup</a></li>
		    </ul><!--list-unstyled-->

		    <address class="font-base-light mb-0">
					<b>Northwest x Southern Hospitality</b><br>
		      201 5th Avenue South<br>
		      Suite 200<br>
		      Edmonds, WA 98020
		    </address>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-fluid-->
</footer><!--footer-->
