<div class="modal modal--lightbox" tabindex="-1" role="dialog" id="modal-lightbox">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body--no-gutter">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="modal-gallery mb-5" data-slick='{"asNavFor": ".modal-gallery-thumbnails"}'>
          <div>
            <img class="w-100 modal__lightbox-img" src="" />
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>
        </div><!--modal-gallery-->
      </div><!--modal-body-->

      <div class="modal-body modal-body--thumbnails">
        <div class="modal-gallery-thumbnails" data-slick='{"asNavFor": ".modal-gallery"}'>
          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>

          <div>
            <img src="assets/images/temp/hotel.jpg" class="w-100" alt="">
          </div>
        </div><!--modal-gallery-thumbnails-->
      </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
