/* NAVBAR */

$navbar-bg: rgba($black, .7);
$navbar-border: 11px solid $danger;
$navbar-color: $white;
$navbar-ff: $font-medium;
$navbar-fs: 16px;

.navbar {
  background: $navbar-bg;
  border-top: $navbar-border;
  @include media-breakpoint-up(lg) {
    padding-left: 0;
    padding-right: 0;
  }
  >.container {
    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }
  }
  .nav-item {
    .nav-link {
      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
  }
  .dropdown-menu {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-brand {
  width: 100%;
  max-width: 160px;
  @include media-breakpoint-up(lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.navbar-brand__img {
  width: 100%;
}

.nav-item {
  &+.nav-item {
    @include media-breakpoint-up(lg) {
      margin-left: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    &:hover {
      .dropdown-toggle {
        border-color: $danger;
      }
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.nav-link {
  color: $navbar-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: $navbar-ff;
  font-size: $navbar-fs;
  border-bottom: 5px solid transparent;
  @include media-breakpoint-up(lg) {
    padding-left: 0;
    padding-right: 0;
  }
  &.dropdown-toggle {
    &:after {
      content: none;
    }
  }
  &:hover, &:focus {
    color: $white;
    border-color: $danger;
  }
}

.navbar-toggler {
  color: $white;
  padding-right: 0;
  font-size: 28px;
}
