<footer>
	<div class="footer-top">
		<div class="container">
			<h2 class="font-light">Kontakta oss</h2>
			<div class="row">
				<div class="col-md-6 col-sm-6 footer__item">
					<p>Verksamhetsledning, projektledning och förändringsledning förutsätter kommunikation.  Vi kan kommunikation och vi älskar att lösa kommunikationsutmaningar. Kontakta oss så hjälper vi er!</p>
				</div><!-- col -->

				<div class="col-md-3 col-sm-3 footer__item">
					<h4 class="footer__title">Meta Stefanutti</h4>
					<p class="footer__text">Senior konsult</p>
					<a href="tel:+46-73 983 18 78">+46-73 983 18 78</a>
				</div><!-- col -->

				<div class="col-md-3 col-sm-3 footer__item">
					<h4 class="footer__title">Sofia Uddeholt</h4>
					<p class="footer__text">Senior konsult</p>
					<a href="tel:+46-76 215 83 93">+46-76 215 83 93</a>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- footer-top -->

	<div class="footer-bottom">
		<div class="container">
			<ul class="list-unstyled footer-nav">
				<li class="footer-nav__item"><a href="#" class="footer-nav__link">Aktuellt</a></li>
		        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Vad gör vi</a></li>
		        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Utbildningar</a></li>
		        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Uppdrag</a></li>
		        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Så jobbar vi</a></li>
		        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Kontakt</a></li>
			</ul><!-- footer-nav -->
			<p class="text-center">© Metalog 2016</p>
		</div><!-- container -->
	</div><!-- footer-bottom -->
</footer>