<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle offcanvas-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/elements/navbar-logo.png" class="navbar-brand__img" alt="">
      </a>
    </div><!-- navbar-header -->
    
    <div id="offcanvas">
      <button class="btn-offcanvas-close">
        &times;
      </button>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Aktuellt</a></li>
        <li><a href="#">Vad gör vi</a></li>
        <li><a href="#">Utbildningar</a></li>
        <li><a href="#">Uppdrag</a></li>
        <li><a href="#">Så jobbar vi</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul><!-- navbar-nav -->
    </div><!-- offcanvas -->
  </div><!-- /.container-fluid -->
  <div id="offcanvas-mask"></div> 
</nav><!-- navbar -->