<style>
  #preloader{background:#F0F0F0;position:fixed;width:100%;height:100%;top:0;z-index:9999;}
  @font-face {
    font-family: 'latolight';
    src: url('assets/fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('assets/fonts/lato/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'latoregular';
    src: url('assets/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'latobold';
    src: url('assets/fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'latoblack';
    src: url('assets/fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('assets/fonts/lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
</style>

<script>
	if (window.XMLHttpRequest) {
		xhr = new XMLHttpRequest();
	} else {
		xhr = new ActiveXObject("Microsoft.XMLHTTP");
	}
	xhr.open("GET",'assets/stylesheets/main.css',false);
	xhr.send();
	var lazyStyle = document.createElement('style');
	lazyStyle.innerHTML = xhr.responseText;
	document.head.appendChild(lazyStyle);
</script>

<script src="assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="assets/vendors/jQuery.dotdotdot/src/jquery.dotdotdot.min.js"></script>
<script src="assets/vendors/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascript/scripts.js"></script>
