<nav class="navbar fixed-top navbar-toggleable-sm">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="qlicket-icon-menu"></i>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/images/elements/logo.svg" class="navbar-brand__img" alt="">
  </a>

  <div class="collapse align-items-md-center navbar-collapse" id="navbar-content">
    <ol class="breadcrumb navbar-breadcrumb mr-auto d-none d-lg-flex">
      <li class="breadcrumb-item active">Home</li>
      <li class="breadcrumb-item text-truncate">Relationship with my peers….</li>
    </ol><!--breadcrumb-->

    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link nav-link--avatar" href="#">
          <img src="assets/images/elements/navbar-user.png" class="nav-link-avatar-img" alt="">
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="qlicket-icon-ellipsis-vert"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Change Password</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div><!--dropdown-menu-->
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Home
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Questions
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Improvement
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Feedback Center
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Polls
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Announcements
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Performance
        </a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="#">
          Setup
        </a>
      </li>
    </ul><!--navbar-nav-->
  </div><!--collapse-->
</nav>
