<footer class="footer">
    <div class="container">
        <nav class="nav justify-content-center font-base-bold">
            <a class="nav-link text-white" href="#">Contact Us</a>
            <a class="nav-link text-white page-switch" href="#" data-attr-scroll="anchor">Get
                Started</a>
            <a class="nav-link text-white" href="#">Privacy</a>
            <a class="nav-link text-white" href="#">Terms</a>
            <a class="nav-link text-white" href="#">Refunds</a>
        </nav>

        <div class="footer-box">
            <div class="footer-box__logo-box">
                <img src="img/elements/buygoods.png" alt="" class="w-100">
            </div>
            <p>BuyGoods is the retailer of this product. BuyGoods is a registered trademark of BuyGoods Inc., a Delaware
                corporation located at 1201 N Orange Street Suite #7223, Wilmington, DE, 19801, USA and used by
                permission. BuyGoods role as retailer does not constitute an endorsement, approval or review of this
                product or any claim, statement or opinion used in promotion of this product.</p>
        </div>

        <p class="mb-5">† Statements on this website have not been evaluated by the Food and Drug
            Administration. Products are not intended to diagnose, treat, cure or prevent any disease.</p>
        <p>Copyright © 2021 diabacore.com</p>
    </div>
</footer>