<!-- Modal -->
<div class="modal modal-exit fade" id="modalExit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a href="#" class="d-inline-block mx-auto modal-anchor-img mb-3 scroll-to" data-bs-dismiss="modal"
                    data-attr-scroll="video-box">
                    <img src="img/temp/exit-popup.png" alt="" class="d-block mx-auto img-fluid">
                </a>
                <h2>YOU'RE MISSING OUT!</h2>
                <p>Discover the little known indigenous trick to <b>lower your blood sugar and break free from type 2
                        diabetes</b> in just a few weeks.</p>

                <p><a href="#" class="btn btn-danger btn-large scroll-to" data-bs-dismiss="modal"
                        data-attr-scroll="video-box">Continue Watching Video</a></p>
                <a href="#" class="text-underline">Or read the full story now</a>
            </div>
        </div>
    </div>
</div>