/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$dark: #333333;
$brand: #4f2271;
$orange: #ef5a28;
$danger: #eb5757;
$silver: #f2f2f2;
$silver-light: #bdbdbd;
$silver-soft: #b2b2b2;
$gray-light: #e0e0e0;
$gray: #e4e4e4;
$gray-soft: #bdbdbd;
$muted: #828282;
$muted-soft: #495057;
$success: #6fcf97;
$blue: #2d9cdb;
$yellow: #f2c94c;
$green: #219653;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-dark {
  color: $dark !important;
}

.text-brand {
  color: $brand !important;
}

.text-orange {
  color: $orange !important;
}

.text-silver {
  color: $silver !important;
}

.text-silver-light {
  color: $silver-light !important;
}

.text-silver-soft {
  color: $silver-soft !important;
}

.text-gray-light {
  color: $gray-light !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-soft {
  color: $gray-soft !important;
}

.text-muted {
  color: $muted !important;
}

.text-muted-soft {
  color: $muted-soft !important;
}

.text-success {
  color: $success !important;
}

.text-danger {
  color: $danger !important;
}

.text-blue {
  color: $blue !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-green {
  color: $green !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-brand {
  background-color: $brand !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-silver-light {
  background-color: $silver-light !important;
}

.bg-silver-soft {
  background-color: $silver-soft !important;
}

.bg-gray-light {
  background-color: $gray-light !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-gray-soft {
  background-color: $gray-soft !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-muted-soft {
  background-color: $muted-soft !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-green {
  background-color: $green !important;
}

/*************************
	Fonts variables
*************************/
$font-book: 'FuturaBook';
$font-demi: 'FuturaDemi';
$font-medium: 'FuturaMedium';

.font-book {
  font-family: $font-book !important;
}

.font-demi {
  font-family: $font-demi !important;
}

.font-medium {
  font-family: $font-medium !important;
}


$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}

/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-book;
$base-animation: 250ms;
$base-radius: 4px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $orange;
/*************************
	Title variables
*************************/
$title-font: $font-medium;