/* VARIABLES */
/*************************
	Color variables
*************************/
$white: #ffffff;
$black: #000000; //Override Bootstrap color variables

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}
/*************************
	Theme variables
*************************/
$themes: (
  normal: (backgroundColor: green,),
  contrast: (backgroundColor: orange,),
);
/*************************
	Fonts variables
*************************/
$font-base-light: 'HelveticaNeue-Light';
$font-base-regular: 'HelveticaNeue-Regular';
$font-base-bold: 'HelveticaNeue-Bold';

.font-base-light {
  font-family: $font-base-light;
}

.font-base-regular {
  font-family: $font-base-regular;
}

.font-base-bold {
  font-family: $font-base-bold;
}
$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-base-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
//$link-color: $success;
/*************************
	Title variables
*************************/
$title-font: $font-base-bold;