/* VARIABLES */
/*************************
	Color variables
*************************/
$white: #ffffff;
$black: #000000;
$crimson: #DA1C47;
$gray-thin: #F2EEEF;
$gray: #8C8C8C;
$gray-soft: #656565;
$silver-thin: #f0f1f4;
$silver: #e4e4e4;
$silver-soft: #D5D9E0;
$orange-thin: #fef8ef;
$orange: #ff7800;
$tenne: #D74100;
$burst: #374051;
$blue-thin: #98ABCA;
$blue: #322766;
$asphalt: #677798;
$muted-thin: #cccccc;
$muted: #5a5a5a;
$sand: #F8E0BE;
$brand-color: $orange;
$brand-contrast-color: $tenne;

.text-black {
  color: $black !important;
}

.text-white {
  color: $white !important;
}

.text-crimson {
  color: $crimson !important;
}

.text-gray-thin {
  color: $gray-thin !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-soft {
  color: $gray-soft !important;
}

.text-silver-thin {
  color: $silver-thin !important;
}

.text-silver {
  color: $silver !important;
}

.text-silver-soft {
  color: $silver-soft !important;
}

.text-orange-thin {
  color: $orange-thin !important;
}

.text-orange {
  color: $orange !important;
}

.text-tenne {
  color: $tenne !important;
}

.text-burst {
  color: $burst !important;
}

.text-blue-thin {
  color: $blue-thin !important;
}

.text-blue {
  color: $blue !important;
}

.text-asphalt {
  color: $asphalt !important;
}

.text-muted {
  color: $muted !important;
}

.text-muted-thin {
  color: $muted-thin !important;
}

.text-sand {
  color: $sand !important;
}

.text-brand-color {
  color: $brand-color !important;
}

.text-brand-contrast-color {
  color: $brand-contrast-color !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-crimson {
  background-color: $crimson !important;
}

.bg-gray-thin {
  background-color: $gray-thin !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-gray-soft {
  background-color: $gray-soft !important;
}

.bg-silver-thin {
  background-color: $silver-thin !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-silver-soft {
  background-color: $silver-soft !important;
}

.bg-orange-thin {
  background-color: $orange-thin !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-tenne {
  background-color: $tenne !important;
}

.bg-burst {
  background-color: $burst !important;
}

.bg-blue-thin {
  background-color: $blue-thin !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-asphalt {
  background-color: $asphalt !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-muted-thin {
  background-color: $muted-thin !important;
}

.bg-sand {
  background-color: $sand !important;
}

.bg-brand-color {
  background-color: $brand-color !important;
}

.bg-brand-contrast-color {
  background-color: $brand-contrast-color !important;
}
/*************************
	Fonts variables
*************************/
$font-base-light: 'HelveticaNeue-Light';
$font-base-regular: 'HelveticaNeue-Regular';
$font-base-bold: 'HelveticaNeue-Bold';

.font-base-light {
  font-family: $font-base-light;
}

.font-base-regular {
  font-family: $font-base-regular;
}

.font-base-bold {
  font-family: $font-base-bold;
}
$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $muted;
$base-font: $font-base-regular;
$base-animation: 250ms;
$base-border-color: $gray-thin;
$base-accented-border-color: $muted-thin;
$base-radius: 3px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;
$body-bg: $gray-thin;
/*************************
	Title variables
*************************/
$title-font: $font-base-bold;
$title-color: $blue;