/* Fonts */

//Manrope
@font-face {
    font-family: 'Manrope-Medium';
    src: url('#{$font-path}manrope/Manrope-Medium.woff2') format('woff2'),
    url('#{$font-path}manrope/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('#{$font-path}manrope/Manrope-ExtraBold.woff2') format('woff2'),
    url('#{$font-path}manrope/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}