<footer class="footer">
  <div class="container">
    <p class="mb-4"><b>Disclaimer:</b> The information contained is intended for educational purposes only. It is not a substitute for professional medical advice. Pet owners should always consult a veterinarian regarding their specific pet. Please also consult the World Small Animal Veterinary Association (WSAVA) Guidelines for further recommendations.</p>
    <p class="fs-12 d-flex flex-column flex-sm-row align-items-center align-items-sm-end justify-content-center"><img src="assets/images/elements/logo-gray.svg" alt="" class="img-fluid mr-2 footer__logo mb-3 mb-sm-1"> © Biogal, Galed Labs. Acs Ltd. All rights reserved</p>
  </div><!--container-->
</footer><!--footer-->
