/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$silver: #dddddd;
$gold: #c6b494;
$muted: #4d4d4d;
$danger: #bd3633;
$dark: #252530;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}
.text-dark {
	color: $dark !important;
}

.text-silver {
	color: $silver !important;
}

.text-gold {
	color: $gold !important;
}

.text-muted {
	color: $muted !important;
}

.text-danger {
	color: $danger !important;
}

.bg-white {
	background-color: $white !important;
}
.bg-dark {
	background-color: $dark !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-silver {
	background-color: $silver !important;
}

.bg-gold {
	background-color: $gold !important;
}

.bg-muted {
	background-color: $muted !important;
}

.bg-danger {
	background-color: $danger !important;
}

/*************************
	Fonts variables
*************************/
$font-avenir-book: 'Avenir-Book';

.font-avenir-book {
	font-family: $font-avenir-book;
}

$font-avenir-black: 'Avenir-Black';

.font-avenir-black {
	font-family: $font-avenir-black;
}

$font-heatwood: 'Heatwood';

.font-heatwood {
	font-family: $font-heatwood;
}

$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-avenir-book;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-font-size-desktop: 18px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $black;
$link-color-mouseover: $gold;

/*************************
	Heading variables
*************************/
$heading-font: $font-avenir-black;

/*************************
	Title variables
*************************/
$title-font: $font-heatwood;
$title-line-height: 1.4;