/* ACCORDION */

$accordion-border-color: #cdcdcd;

.accordion {
    &:not(:last-child) {
        @extend .mb-3;
    }
}

.accordion__item {
    border-bottom: 1px solid $accordion-border-color;

    &:first-of-type {
        border-top: 1px solid $accordion-border-color;
    }
}

.accordion__header {
    @extend .py-3;
}

.accordion__toggle-btn {
    @extend .position-relative,
    .btn,
    .p-0,
    .shadow-none,
    .border-0,
    .font-icons,
    .text-primary,
    .pr-5,
    .w-100,
    .text-left;

    justify-content: flex-start !important;

    &[aria-expanded="false"] {
        @extend .icon-chevron-down;
    }

    &[aria-expanded="true"] {
        @extend .icon-chevron-up;
    }

    &:before {
        @extend .position-absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include themify($themes) {
            color: themed('themeColor') !important;
        }
    }
}

.accordion__body {
    @extend .pb-3;
}