/* ALERT PANEL */

$alert-panel-primary-color: $muted-thin;
$alert-panel-primary-bg: $silver-light;

.alert-panel {
    @extend .py-3,
    .d-flex;

    border-top: 1px solid $alert-panel-primary-color;

    &:last-child {
        border-bottom: 1px solid $alert-panel-primary-color;
    }

    &:nth-child(odd) {
        background-color: $alert-panel-primary-bg;
    }
}

.alert-panel__body {
    @extend .flex-fill,
    .d-flex,
    .flex-column,
    .flex-sm-row;
    min-width: 0;
}

.alert-panel__control-box {
    @extend .d-flex,
    .flex-shrink-0,
    .ml-4;
}

.alert-panel__title {
    @extend .mr-4,
    .mb-2,
    .mb-sm-0,
    .text-truncate;

    @include media-breakpoint-up(sm) {
        width: 110px;
    }
}