/* ASIDE BOX */

.aside-box {
  @extend .bg-gray-thin;
  padding: 15px;
  border-radius: $base-radius;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding: 20px;
  }
}

.aside-box__header {
  @extend .mb-3,
  .d-flex,
  .align-items-center,
  .justify-content-between,
  .text-blue;
}

.aside-box__icon {
  @extend .fs-20;
}

.aside-box__stat {
  @extend .d-flex;

  &+.aside-box__stat {
    @extend .mt-3;
  }
}

.aside-box__stat-icon {
  @extend .flex-shrink-0,
  .color-theme,
  .fs-22,
  .mr-4;
}

.aside-box__divider {
  @extend .d-block,
  .my-4,
  .bg-white;
  height: 5px;
}

.aside-box__stat-equal-text {
  @extend .d-inline-block,
  .pr-2;
  min-width: 56px;
  text-align: right;
}

.aside-box__stat-total {
  padding-left: 45px;
}