/* DOWNLOAD */

$download-primary-color: #eeeeee;

.downloads {
  @extend .mb-4;
}

.download {
  @extend .mb-3,
  .d-flex,
  .align-items-start;
  border: 1px solid $download-primary-color;
  border-radius: $base-radius;
}

.download__logo {
  @extend .flex-shrink-0,
  .w-100;
  max-width: 100px;

  @include media-breakpoint-up(md) {
    max-width: 187px;
  }
}

.download__title {
  @extend .mb-2;
  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

.download__body {
  @extend .flex-fill,
  .p-3;
}

.download__divider {
  @extend .my-3;
  height: 1px;
  background-color: $download-primary-color;
  margin-left: -1rem;
  margin-right: -1rem;
}

.download__collapse-toggle {
  @extend .btn,
  .border-0,
  .p-0,
  .shadow-none,
  .text-primary,
  .font-icons,
  .position-relative,
  .pr-4,
  .flex-wrap;

  &:before {
    @extend .position-absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:active {
    @extend .text-sky;
  }

  &[aria-expanded="false"] {
    @extend .icon-chevron-down;
  }

  &[aria-expanded="true"] {
    @extend .icon-chevron-up;
  }
}

.download__collapse-link {
  @extend .d-inline-flex,
  .align-items-center,
  .font-icons,
  .icon-mail-forward;

  &:before {
    @extend .mr-2;
  }

  &+.download__collapse-link {
    @extend .mt-2;
  }
}