/* DROPDOWN */
.dropdown-item {
  @extend .text-gray-soft;

  &:hover,
  &:focus,
  &:active {
    @extend .text-white;
    background-color: $primary !important;
  }

  // &.active,
  // &:active {
  //   @extend .text-white;

  //   @include themify($themes) {
  //     background-color: themed('themeColor');
  //   }
  // }
}

.dropdown-item-text {
  @extend .bg-gray-soft,
  .text-white,
  .font-base-medium;
}

.dropdown-item,
.dropdown-item-text {
  @include media-breakpoint-down(sm) {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}