/* EVALUATION */

$evaluation-edit-icon-color: #666;
$evaluation-progress-bar-height: 8px;

.evaluations {
  margin-bottom: 30px;
}

.evaluation {
  @extend .p-2,
  .d-flex,
  .align-items-center,
  .text-blue;

  &:nth-of-type(odd) {
    background: $silver-light;
  }
}

.evaluation__year,
.evaluation__filter-result__score,
.evaluation__text,
.evaluation__edit-icon {
  @extend .flex-shrink-0;
}

.evaluation__progress {
  @extend .flex-fill;
  margin-left: 10px;
  margin-right: 10px;
}

.evaluation__year {
  @extend .fs-14,
  .font-base-bold;
}

.evaluation__filter-result__score.filter-result__score {
  @extend .m-0,
  .fs-23;

  sup {
    @extend .fs-14;
    top: -8px;
  }
}

.evaluation__text {
  @extend .fs-13,
  .text-gray-light,
  .ml-4,
  .d-block,
  .text-right;
  width: 30px;

  @include media-breakpoint-up(md) {
    width: 120px;
  }
}

.evaluation__edit-icon {
  @extend .d-inline-block,
  .d-md-none,
  .ml-1;
  color: $evaluation-edit-icon-color;
}

.evaluation__progress {
  @extend .rounded-0,
  .bg-white;
  height: $evaluation-progress-bar-height;
  border: 1px solid $muted-thin;

  .progress-bar {
    @include themify($themes) {
      background-color: themed('themeColor') !important;
    }
  }
}

.evaluation__footer {
  @extend .d-flex,
  .flex-column,
  .flex-md-row,
  .align-items-start;
  padding-top: 10px;
  border-top: 1px solid $silver-light;
}

.evaluation__btn-toggle {
  @extend .btn,
  .pl-0,
  .py-0,
  .border-0,
  .font-base-regular,
  .position-relative,
  .font-icons,
  .shadow-none,
  .flex-shrink-0,
  .mr-md-4,
  .mb-2,
  .mb-md-0,
  .text-left;

  min-width: 70px;
  padding-right: 20px;

  @include themify($themes) {
    color: themed('themeColor') !important;
  }

  .evaluation__btn-toggle__minder,
  .evaluation__btn-toggle__meer {
    @extend .w-100;
  }

  &[aria-expanded="false"] {
    @extend .icon-chevron-down;

    .evaluation__btn-toggle__minder {
      @extend .d-none;
    }

    .evaluation__btn-toggle__meer {
      @extend .d-block;
    }
  }

  &[aria-expanded="true"] {
    @extend .icon-chevron-up;

    .evaluation__btn-toggle__minder {
      @extend .d-block;
    }

    .evaluation__btn-toggle__meer {
      @extend .d-none;
    }
  }

  &:before {
    @extend .fs-11,
    .position-absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}