/* FORM SEARCH */

.form-search {
	.form-group {
		@extend .position-relative,
		.m-0;
	}

	.form-control {
		padding-right: 40px;
	}

	.btn-submit {
		@extend .btn,
		.position-absolute,
		.h-100,
		.border-0;
		right: 0;
		top: 0;

		@include themify($themes) {
			color: themed('themeColor');
		}
	}
}