/* FONT SIZE SWITCH */
.fs-switch-holder {
  @extend .d-flex, .align-items-center;
}

.fs-switch__title {
  @extend .m-0, .text-asphalt-soft, .mr-2;
  font-weight: $font-base-bold;
  font-size: 0.875rem;
  line-height: 1;
}

.fs-switch {
  @extend .d-flex;
  height: 32px;
  width: 80px;
  border: 1px solid $blue;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.fs-switch__btn {
  @extend .text-blue, .text-uppercase, .flex-fill, .d-inline-flex, .align-items-center, .justify-content-center, .btn, .rounded-0, .p-0;
  font-weight: $font-base-bold;

  &--small {
    font-size: 12px;
    padding-top: 4px !important;
  }

  &--large {
    font-size: 16px;
  }

  &+.fs-switch__btn {
    border-left: 1px solid $blue;
  }
}