/* LABEL INLINE */
$label-inline-icon-size: 16px;

.label-inline {
  @extend .d-inline-flex,
  .position-relative,
  .fs-10,
  .font-base-regular,
  .text-white;
  padding: 1px 3px 1px $label-inline-icon-size;
  border-radius: $base-radius;

  &--success {
    @extend .bg-success;

    .label-inline__icon {
      @extend .bg-success;

      &:after {
        content: "";
        border-color: transparent $success transparent transparent;
      }
    }
  }
}

.label-inline__icon {
  @extend .rounded-circle,
  .position-absolute,
  .font-icons,
  .d-flex,
  .align-items-center,
  .justify-content-center,
  .icon-checkmark,
  .fs-8;
  width: $label-inline-icon-size;
  height: $label-inline-icon-size;
  border: 1px solid $white;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;

  &:after {
    @extend .position-absolute,
    .d-inline-block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
  }
}