/* LIST CHECK */

.list-check {
  @extend .list-unstyled;
}

.list-check__item {
  @extend .position-relative,
  .font-icons,
  .icon-checkmark;
  padding-left: 36px;

  &:before {
    @extend .position-absolute;
    left: 0;
    top: 1px;
    color: $success;
  }

  &+.list-check__item {
    margin-top: 15px;
  }
}