/* PAGINATION */
$pagination-width: 38px;

.pagination {}

.page-item {
  &.active {
    .page-link {
      @extend .text-muted;
      background-color: transparent;
      border-color: $muted-thin;
    }
  }

  &-divider {
    @extend .text-center, .text-muted, .d-inline-flex, .align-items-end, .justify-content-center;
    min-width: $pagination-width;
    border: 1px solid $muted-thin;
    margin-right: 1px;
    padding-bottom: 5px;
  }
}

.page-link {
  border-color: $sand;
  background-color: $orange-thin;
  padding: 8px 14px;
  min-width: $pagination-width;

  &:hover {
    border-color: darken($sand, 5%);
    background-color: darken($orange-thin, 5%);
  }
}