/* RANGE SLIDER */
.input.slider .slider-range {
  border: none!important;
  background-color: #d3d7de;
  border-radius: 15px;
  margin: 16px 10px;
}

.input.slider .slider-range:before {
  content: "";
  width: calc(100% + 16px);
  height: 100%;
  display: block;
  position: absolute;
  background: #d3d7de;
  border-radius: 13px;
  left: -8px;
}

.input.slider .slider-range .ui-slider-range {
  background: #ff7800;
  border: none;
  border-radius: 15px;
  left: -8px;
  width: calc(100% + 16px);
}

.input.slider .slider-range .ui-slider-range:before {
  content: "";
  width: 20%;
  height: 100%;
  display: block;
  position: absolute;
  background: #ff7800;
  right: -5px;
}

.input.slider .slider-range .ui-slider-handle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e7edf3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  top: -4px;
  cursor: pointer;
  display: block;
  border: none!important;
}

.input.slider input[type=range] {
  display: none;
}

.input.slider .slider-steps {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.input.slider .slider-steps li {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: #322766;
  font-size: 1rem;
}

.input.slider .slider-steps li:first-child {
  margin-left: -4.5%;
}

.input.slider .slider-steps li:last-child {
  margin-right: -4.5%;
}

.input.slider .slider-steps li.active {
  font-weight: 600;
}

.input.check input,
.input.radio input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}