/* rating */
$rating-icon-desktop-size: 120px;
$rating-icon-mobile-size: 88px;
$rating-audio-player-icon-box-size: 33px;
$rating-score-size: 75px;

.theme-normal {
  .rating {
    .form-control {
      @include custom-placeholder($color: #b6babe, $font-size: 16px, $font-weight: $font-base-regular, $letter-spacing: normal);
    }
  }
}

.theme-contrast {
  .rating {
    .form-control {
      @include custom-placeholder($color: #727b83, $font-size: 16px, $font-weight: $font-base-regular, $letter-spacing: normal);
    }
  }
}

.rating {
  margin-bottom: 25px;
  color: $asphalt-soft;

  .form-control {
    height: 45px;
  }

  .select2-container--bootstrap {
    .select2-selection--single {
      height: 45px;
      display: flex;
      align-items: center;
    }
  }
}

.rating__item {
  @extend .d-md-flex,
  .align-items-md-start;

  &:not(:first-child) {
    padding-top: 30px;
  }

  &:not(:last-child) {
    padding-bottom: 30px;
  }

  &+.rating__item {
    border-top: 1px solid $silver-soft;
  }
}

.rating__icon-box {
  @extend .flex-shrink-0,
  .d-flex,
  .align-items-center,
  .justify-content-center,
  .text-white,
  .bg-asphalt-soft,
  .rounded-circle,
  .overflow-hidden;

  @include media-breakpoint-up(md) {
    margin-right: 30px;
    width: $rating-icon-desktop-size;
    height: $rating-icon-desktop-size;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 auto 30px;
    width: $rating-icon-mobile-size;
    height: $rating-icon-mobile-size;
  }
}

.rating__icon {
  width: 62%;
}

.rating__body {
  @extend .flex-fill;
  min-width: 0;
}

.rating__audio-player {
  @extend .mb-3,
  .mb-md-4,
  .d-flex,
  .align-items-center;

  .btn {
    font-size: 0.8125rem;
  }
}

.rating__audio-player-icon-box {
  @extend .rounded-circle,
  .d-inline-flex,
  .align-items-center,
  .justify-content-center,
  .flex-shrink-0,
  .mr-2,
  .text-blue,
  .btn,
  .p-0;
  width: $rating-audio-player-icon-box-size;
  height: $rating-audio-player-icon-box-size;
  border: 1px solid $blue;
  box-shadow: 0 2px 4px 0 rgba($black, .15);
}

.rating__audio-player-text {
  @extend .d-inline-block,
  .base-radius,
  .text-white,
  .text-asphalt-soft,
  .bg-silver-soft,
  .text-truncate,
  .text-uppercase;
  font-weight: $font-base-bold;
  padding: 10px;
  line-height: 1;
  letter-spacing: 0.025rem;
  font-size: 0.8125rem;
}

.rating__title {
  @extend .text-burst,
  .fs-20;
  margin-bottom: 25px;
}

.rating__subtitle {
  @extend .fs-16,
  .text-asphalt-soft;
  font-weight: $font-base-regular;
}

.rating__score-box {
  @extend .d-flex,
  .align-items-center,
  .justify-content-center;
  border-top: 1px solid $blue;
  padding-top: 30px;
  margin-top: 30px;
}

.ratinge__score-title {
  @extend .mb-0,
  .fs-22,
  .text-blue,
  .mr-3;
}

.ratinge__score {
  @extend .d-flex,
  .align-items-center,
  .justify-content-center,
  .rounded-circle,
  .bg-blue,
  .text-white,
  .flex-shrink-0;
  font-weight: $font-base-bold;
  width: $rating-score-size;
  height: $rating-score-size;
  border: 3px solid $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
  letter-spacing: -0.02px;
  font-size: 2.2rem;

  @include media-breakpoint-down(sm) {
    width: calc(#{$rating-score-size} - 20px);
    height: calc(#{$rating-score-size} - 20px);
    font-size: 1.8rem;
  }

  &.ratinge__score--empty {
    @extend .bg-muted-thin;
  }

  &.ratinge__score--lg {
    @include media-breakpoint-up(md) {
      width: 90px;
      height: 90px;
      font-size: 44px;
      border-width: 5px;

      .ratinge__score-decimal {
        margin-top: -15px;
        font-size: 60%;
        margin-left: 2px;
      }
    }
  }
}

.ratinge__score-decimal {
  margin-top: -6px;
  display: inline-block;
  line-height: 1;
  font-size: 1.2rem;
}