/* SALES CARD */

$sales-card-bg: #f9f9f9;
$sales-card-highlited-bg: #f8f6ff;

$sales-card-header-bg: #e5e5e5;
$sales-card-header-highlited-bg: #322766;

$sales-card-footer-bg: #e5e5e5;
$sales-card-footer-highlited-bg: #322766;

.sales-cards {
  @extend .d-flex,
  .flex-wrap,
  .flex-column,
  .flex-md-row,
  .justify-content-md-center;
}

.sales-card {
  @extend .d-flex,
  .flex-column;
  border-radius: $base-radius;
  background-color: $sales-card-bg;

  margin-bottom: 25px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:not(:last-child) {
    @include media-breakpoint-up(md) {
      margin-right: 40px;
    }
  }

  @include media-breakpoint-up(md) {
    width: 290px;
  }

  @include media-breakpoint-up(lg) {
    width: 320px;
  }

  &:not(.sales-card--highlited) {

    .sales-card__header,
    .sales-card__footer {
      @include themify($themes) {
        background-color: themed('salesCardBg');
        color: themed('salesCardColor');
      }
    }
  }

  &--highlited {
    background-color: $sales-card-highlited-bg;

    .sales-card__header {
      @extend .text-white;
      background-color: $sales-card-header-highlited-bg;
    }

    .sales-card__divider {
      background-color: #dedbfc;
    }

    .sales-card__footer {
      @extend .text-white;
      background-color: $sales-card-footer-highlited-bg;

      &:hover,
      &:focus {
        background-color: darken($sales-card-footer-highlited-bg, 10%);
      }
    }
  }
}

.sales-card__header {
  @extend .text-center,
  .font-base-bold;
  border-radius: $base-radius $base-radius 0 0;
  padding: 17.5px 15px;
  font-size: 18px;
}


.sales-card__body {
  @extend .flex-fill;
  padding: 20px;
}

.sales-card__divider {
  width: 60px;
  height: 4px;
  margin: 25px 0;
  background-color: $muted-light;
}

.sales-card__footer {
  @extend .mt-auto,
  .flex-shrink-0,
  .d-flex,
  .align-items-center,
  .text-center,
  .justify-content-center;

  background-color: $sales-card-footer-bg;
  border-radius: 0 0 $base-radius $base-radius;
  padding: 17.5px 15px;
  font-size: 18px;

  &:hover,
  &:focus {
    background-color: darken($sales-card-footer-bg, 10%);
  }
}