/* SELECTED FILTER */
.selected-filter {
  @extend .d-inline-flex, .align-items-center, .fs-14, .text-black;
  padding: 6.5px 14px;
  border-radius: $base-radius;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: $silver-thin;

  &:after {
    @extend .ml-2;
    font-family: 'icomoon';
    content: "\e903";
    font-size: 12px;
  }
}