/* STAT */

.stat {
  @extend .text-white,
  .d-flex,
  .flex-column,
  .w-100;
  border-radius: $base-radius;
  padding: 2rem 1rem;

  &--primary {
    background-color: $blue;
  }

  &--danger {
    background-color: $crimson;
  }

  &--warning {
    background-color: $orange;
  }
}

.stat__title {
  @extend .text-white,
  .fs-18,
  .mb-1;
}

.stat__inner {
  @extend .d-flex,
  .align-items-center,
  .justify-content-between;
}

.stat__stat {
  @extend .fs-36,
  .font-base-bold;
}

.stat__icon {
  @extend .fs-40;
  opacity: .6;
}