/* TABLE */

$table-color: $muted;
$table-border-color: #dddddd;
$table-stripped-bg: #f9f9f9;

.table {
  color: $table-color;

  >thead,
  >tbody {
    >tr {

      >td,
      th {
        border-color: $table-border-color;
        padding: .4rem .75rem;
      }
    }
  }

  >thead {
    >tr {

      >td,
      th {
        border-top: none;
      }
    }
  }

  &.table-striped {
    >tbody {
      >tr {
        &:nth-of-type(odd) {
          background-color: $table-stripped-bg;
        }
      }
    }
  }

  &.table-centered {
    >tbody {
      >tr {

        >td,
        th {
          vertical-align: middle;
        }
      }
    }
  }
}