/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #0000ff;
$muted: #a6a6a6;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-primary {
  color: $primary !important;
}
.text-muted {
  color: $muted !important;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-muted {
  background-color: $muted !important;
}


/*************************
	Fonts variables
*************************/
$font-regular: 'AvenirNext-Regular';
$font-bold: 'AvenirNext-Bold';

.text-regular {
  font-family: $font-regular !important;
}
.text-bold {
  font-family: $font-bold !important;
}




/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-regular;
/*************************
	Font path variable
************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 25px;
$body-font-size-mobile: 12px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $black;
$link-hover-color: $primary;


/*************************
	Title variables
*************************/
$title-font: $font-bold;
