/* ACCORDION */

.accordion {
  border-bottom: 2px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 20px;
  &:first-child {
    border-top: 2px solid #e7e7e7;
  }
}

.accordion__heading {
  padding-right: 60px;
  font-family: $font-poppins-regular;
  display: block;
  position: relative;
  @extend .font-icons, .allready-icon-arrow-down;
  &:before {
    position: absolute;
    top: 0;
    right: 10px;
    color: $black;
    transform: rotate(-180deg);
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }
  &.collapsed {
    &:before {
      transform: rotate(0deg);
    }
  }
}

.accordion__heading__icon {
  flex-shrink: 0;
  margin-right: 15px;
  color: $black;
  display: inline-flex;
  font-size: 18px;
}

.accordion__time {
  color: $gray-soft;
  margin-bottom: 5px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 100%;
  }
}

.accordion__title {
  color: $danger;
  font-size: 20px;
  font-family: $font-poppins-medium;
  @include media-breakpoint-up(md) {
    font-size: 34px;
  }
}

.accordion__body {
  font-family: $font-brioni-light;
  color: $gray-soften;
  margin-top: 10px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
    padding-left: 40px;
  }
}

.accordion__avatar {
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  @include media-breakpoint-down(sm) {
    width: 30px;
    height: 30px;
  }
}
