/* BUTTONS */

$btn-ff: $font-medium;
$btn-fs: 16px;

.btn {
  font-family: $btn-ff;
  font-size: $btn-fs;
  padding: 7px 16px;
  border-radius: 2px;
  &:hover, &:focus, &:active {
    box-shadow: none !important;
  }
  &.btn-success {
    @include button-variants($bg: $success, $color: $white);
    &.btn-has-shadow {
      box-shadow: 0.5px 0.9px 0 0 #669850 !important;
      &:hover, &:focus, &:active {
        box-shadow: 0.5px 0.9px 0 0 #669850 !important;
      }
    }
  }
  &.btn-muted {
    @include button-variants($bg: $silver, $color: $white);
    &.btn-has-shadow {
      box-shadow: 0.5px 0.9px 0 0 #6e7686 !important;
      &:hover, &:focus, &:active {
        box-shadow: 0.5px 0.9px 0 0 #6e7686 !important;
      }
    }
  }
  &.btn-primary {
    @include button-variants($bg: $primary, $color: $white);
    &.btn-has-shadow {
      box-shadow: 0.5px 0.9px 0 0 #1a6797 !important;
      &:hover, &:focus, &:active {
        box-shadow: 0.5px 0.9px 0 0 #1a6797 !important;
      }
    }
  }
  &.btn-danger {
    @include button-variants($bg: $danger, $color: $white);
    &.btn-has-shadow {
      box-shadow: 0.5px 0.9px 0 0 darken($danger, 10%) !important;
      &:hover, &:focus, &:active {
        box-shadow: 0.5px 0.9px 0 0 darken($danger, 10%) !important;
      }
    }
  }
  &.btn-outline-muted {
    @include button-outline-variants($color: $silver);
  }
  &.btn-sm {
    padding: 1px 9px;
    font-size: 14px;
  }
  &.btn-rounded {
    border-radius: 6px;
  }
  &.btn-fs-xl {
    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
  }
}
