/* CARD */


.card {
  border-radius: $base-radius;
  &+.card {
    margin-top: 10px;
  }
}

.card--content {
  @include media-breakpoint-up(md) {
    height: calc(100vh - 250px);
  }
  overflow-y: auto;
}


.card--content--md {
  @include media-breakpoint-up(md) {
    height: calc(100vh - 213px);
  }
}
