/* CONTENT ICON */

$content-icon-size: 20px;
$content-icon-bg: lighten($primary, 40%);
$content-icon-border-color: $primary;

.content-icon {
  width: $content-icon-size;
  height: $content-icon-size;
  @extend .d-flex, .justify-content-center, .align-items-center;
  border: 1px solid $content-icon-border-color;
  border-radius: 50%;
  background: $content-icon-bg;
  color: $base-color;
  font-size: 12px;
  &:hover, &:focus {
    color: $white;
    background: $content-icon-border-color;
  }
}
