/* DIVIDER */

.divider {
  display: block;
  max-width: 220px;
  margin: 26px auto;
  height: 4px;
  @include gradient-x-three-colors($start-color: #fffaf6, $mid-color: #f5800d, $color-stop: 50%, $end-color: #fffaf6);
}
