/* Fonts */

//Roboto
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Regular.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Regular.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Medium.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Medium.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}roboto/Roboto-Bold.woff2') format('woff2'),
       url('#{$font-path}roboto/Roboto-Bold.woff') format('woff'),
       url('#{$font-path}roboto/Roboto-Bold.ttf') format('ttf');
}

//Pipping
@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}poppins/Poppins-Light.woff2') format('woff2'),
       url('#{$font-path}poppins/Poppins-Light.woff') format('woff'),
       url('#{$font-path}poppins/Poppins-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}poppins/Poppins-Regular.woff2') format('woff2'),
       url('#{$font-path}poppins/Poppins-Regular.woff') format('woff'),
       url('#{$font-path}poppins/Poppins-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}poppins/Poppins-Medium.woff2') format('woff2'),
       url('#{$font-path}poppins/Poppins-Medium.woff') format('woff'),
       url('#{$font-path}poppins/Poppins-Medium.ttf') format('ttf');

}
@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}poppins/Poppins-SemiBold.woff2') format('woff2'),
       url('#{$font-path}poppins/Poppins-SemiBold.woff') format('woff'),
       url('#{$font-path}poppins/Poppins-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}poppins/Poppins-Bold.woff2') format('woff2'),
       url('#{$font-path}poppins/Poppins-Bold.woff') format('woff'),
       url('#{$font-path}poppins/Poppins-Bold.ttf') format('ttf');
}

//Brioni sans std
@font-face {
  font-family: 'BrioniSansStd-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}brionisansstd/BrioniSansStd-Light.woff2') format('woff2'),
       url('#{$font-path}brionisansstd/BrioniSansStd-Light.woff') format('woff'),
       url('#{$font-path}brionisansstd/BrioniSansStd-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'BrioniSansStd-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}brionisansstd/BrioniSansStd-Regular.woff2') format('woff2'),
       url('#{$font-path}brionisansstd/BrioniSansStd-Regular.woff') format('woff'),
       url('#{$font-path}brionisansstd/BrioniSansStd-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'BrioniSansStd-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}brionisansstd/BrioniSansStd-Medium.woff2') format('woff2'),
       url('#{$font-path}brionisansstd/BrioniSansStd-Medium.woff') format('woff'),
       url('#{$font-path}brionisansstd/BrioniSansStd-Medium.ttf') format('ttf');
}
