/* Fonts icons */

//Fontello
@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}/fontello/fontello.eot?85532204');
  src: url('#{$font-path}/fontello/fontello.eot?85532204#iefix') format('embedded-opentype'),
       url('#{$font-path}/fontello/fontello.woff2?85532204') format('woff2'),
       url('#{$font-path}/fontello/fontello.woff?85532204') format('woff'),
       url('#{$font-path}/fontello/fontello.ttf?85532204') format('truetype'),
       url('#{$font-path}/fontello/fontello.svg?85532204#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="allready-icon-"]:before, [class*=" allready-icon-"]:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;
 speak: none;

 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 margin-right: .2em;
 text-align: center;
 font-variant: normal;
 text-transform: none;
 line-height: 1em;
 margin-left: .2em;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.allready-icon-hamburger:before { content: '\e800'; } /* '' */
.allready-icon-allmant:before { content: '\e801'; } /* '' */
.allready-icon-calendar:before { content: '\e802'; } /* '' */
.allready-icon-at:before { content: '\e803'; } /* '' */
.allready-icon-forms:before { content: '\e804'; } /* '' */
.allready-icon-participants:before { content: '\e805'; } /* '' */
.allready-icon-access:before { content: '\e806'; } /* '' */
.allready-icon-question:before { content: '\e807'; } /* '' */
.allready-icon-search:before { content: '\e808'; } /* '' */
.allready-icon-upload:before { content: '\e809'; } /* '' */
.allready-icon-tick:before { content: '\e80a'; } /* '' */
.allready-icon-sorting:before { content: '\e80b'; } /* '' */
.allready-icon-close:before { content: '\e80c'; } /* '' */
.allready-icon-close-rounded:before { content: '\e80d'; } /* '' */
.allready-icon-level-up:before { content: '\e80e'; } /* '' */
.allready-icon-arrow-down:before { content: '\e80f'; } /* '' */
.allready-icon-down-dir:before { content: '\e810'; } /* '' */
.allready-icon-left-dir:before { content: '\e811'; } /* '' */
.allready-icon-right-dir:before { content: '\e812'; } /* '' */
.allready-icon-up-dir:before { content: '\e813'; } /* '' */
.allready-icon-clock:before { content: '\e814'; } /* '' */
.allready-icon-menu:before { content: '\e815'; } /* '' */
.allready-icon-edit:before { content: '\e816'; } /* '' */
