/* FORMS */

$field-border-color: $silver;
$field-border-color-focus: $base-color;
$field-color: $silver;
$field-radius: 4px;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-color: $field-border-color;
	box-shadow: inset 0 0 1px rgba($black, .35);
	border-radius: $field-radius;
	color: $field-color;
	&:hover, &:focus, &:active {
    box-shadow: inset 0 0 1px rgba($black, .35);
		border-color: $field-border-color-focus;
  }
}
