/* FORM EXPANDED */

$form-expanded-color: $silver;
$form-expanded-size: 34px;

.form-expanded {

}

.form-expanded--opened {
  @include media-breakpoint-up(sm) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .form-expanded__form-group {
      &:before {
        content: none;
      }
    }
    .form-expanded__field {
      width: 100%;
      border-radius: 20px;
      background: $white;
      color: $field-color;
      padding-left: 36px;
      cursor: auto;
      @include custom-placeholder-opacity($opacity: 1);
    }
    .form-expanded__submit {
      visibility: visible;
      opacity: 1;
    }
  }
}

.form-expanded__form-group {
  @extend .font-icons, .allready-icon-search;
  position: relative;
  z-index: 10;
  &:before {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    @extend .d-flex, .align-items-center;
    z-index: -1;
    @include media-breakpoint-down(xs) {
      content: none;
    }
  }
}

.form-expanded__field {
  @include media-breakpoint-up(sm) {
    border-radius: 50%;
    width: $form-expanded-size;
    background: transparent;
    color: transparent;
    height: 34px;
    @include custom-placeholder-opacity($opacity: 0);
    cursor: pointer;
  }
  @include media-breakpoint-down(xs) {
    padding-left: 34px;
  }
}

.form-expanded__submit {
  @extend .font-icons, .allready-icon-search;
  border: none;
  background: transparent;
  color: $form-expanded-color;
  position: absolute;
  top: 0;
  left: 3px;
  height: 100%;
  @include media-breakpoint-up(sm) {
    visibility: hidden;
    opacity: 0;
  }
}
