/* MODAL */


.modal {}

.modal--dashboard {
  .modal-dialog {
    max-width: 830px;
    transform: translate(0, 0) !important;
    @include media-breakpoint-down(md) {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

.modal--has-bg {
  background: rgba($base-color, .95);
}

.modal-dialog {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  @include media-breakpoint-up(sm) {
    max-width: 486px;
  }
  &.modal-lg {
    @include media-breakpoint-up(md) {
      max-width: 730px;
    }
  }
}



.modal-content {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-backdrop {
  background: rgba($base-color, .95);
  &.show {
    opacity: 1;
  }
}
