/* TABLE */

$table-border-color: #cad0da;

.table {
  thead {
    >tr {
      >td, th {
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
  tbody {
    >tr {
      &:last-child {
        >td, th {
          border-bottom: 1px solid $table-border-color;
        }
      }
      >td, th {
        vertical-align: middle;
      }
    }
  }
  thead, tbody {
    >tr {
      >td, th {
        border-color: $table-border-color;
      }
    }
  }
}

.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #f6fafe;
      }
    }
  }
}


.table-sort-btn {
  color: $muted;
  display: inline-block;
  &:hover, &:focus {
    color: $primary;
  }
}

.table--sort {
  thead {
    >tr {
      >td, th {
        &:after {
          font-family: 'fontello';
          content: '\e80b';
          font-size: 10px;
          display: inline-block;
          margin-left: 5px;
          color: $muted;
        }
      }
    }
  }
}

.table--border-0 {
  tbody {
    >tr {
      &:last-child {
        >td, th {
          border: none;
        }
      }
      >td, th {
        border: none;
      }
    }
  }
}

.table-collapse {
  position: relative;
  padding-right: 30px;
  display: inline-block;
  &:after {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    font-family: 'fontello';
    content: '\e80f';
    font-size: 12px;
    text-decoration: none !important;
  }
  &.collapsed {
    &:after {
      transform: translateY(-50%) rotate(0deg);
    }
  }
}


.table-editable-box {
  display: none;
}


.ui-sortable-helper {
  background: #d4edfc !important;
  border: 1px dashed #2aa3f0 !important;
  td {
    border: none !important;
  }
}
