/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$mine-shaft: #3d4760;
$muted: #9ea7bc;
$muted-soft: #eff1f4;
$success: #83c367;
$primary: #2aa3f0;
$gray-thin: #f5f6f8;
$gray: #f4f7fb;
$silver: #96a0b6;
$warning: #fed329;
$sky: #edf5fe;

$base-color: $mine-shaft;
$secondary-color: $muted;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-base-color {
  color: $base-color !important;
}
.text-muted {
  color: $muted !important;
}
.text-muted-soft {
  color: $muted-soft !important;
}
.text-success {
  color: $success !important;
}
.text-primary {
  color: $primary !important;
}
.text-silver {
  color: $silver !important;
}
.text-warning {
  color: $warning !important;
}
.text-gray {
  color: $gray !important;
}
.text-sky {
  color: $sky !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-base-color {
  background-color: $base-color !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-muted-soft {
  background-color: $muted-soft !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-sky {
  background-color: $sky !important;
}


/*************************
	Fonts variables
*************************/

$font-regular: 'Roboto-Regular';
$font-medium: 'Roboto-Medium';
$font-bold: 'Roboto-Bold';

.font-regular {
  font-family: $font-regular !important;
}
.font-medium {
  font-family: $font-medium !important;
}
.font-bold {
  font-family: $font-bold !important;
}



$font-base: $font-regular;

$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}

/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $primary;

/*************************
	Base variables
*************************/
$base-radius: 8px;


/*************************
	Title variables
*************************/
$title-font: $font-regular;
