/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$mine-shaft: #3d4760;
$muted-thin: #f7f7f7;
$muted: #9ea7bc;
$muted-soft: #eff1f4;
$success: #83c367;
$primary: #2aa3f0;
$gray-thin: #f5f6f8;
$gray: #f4f7fb;
$gray-soft: #666666;
$gray-soften: #444444;
$gray-bold: #333333;
$silver: #96a0b6;
$warning: #fed329;
$warning-secondary: #e9e110;
$sky: #edf5fe;
$danger: #e0301e;

$base-color: $mine-shaft;
$secondary-color: $muted;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-base-color {
  color: $base-color !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-muted-soft {
  color: $muted-soft !important;
}
.text-success {
  color: $success !important;
}
.text-primary {
  color: $primary !important;
}
.text-silver {
  color: $silver !important;
}
.text-warning {
  color: $warning !important;
}
.text-warning-secondary {
  color: $warning-secondary !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-soft {
  color: $gray-soft !important;
}
.text-gray-soften {
  color: $gray-soften !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-sky {
  color: $sky !important;
}
.text-danger {
  color: $danger !important;
}
.text-transparent {
  color: transparent !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-base-color {
  background-color: $base-color !important;
}
.bg-muted-thin {
  background-color: $muted-thin !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-muted-soft {
  background-color: $muted-soft !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-warning-secondary {
  background-color: $warning-secondary !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-soft {
  background-color: $gray-soft !important;
}
.bg-gray-soften {
  background-color: $gray-soften !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-transparent {
  background-color: transparent !important;
}


/*************************
	Fonts variables
*************************/

$font-regular: 'Roboto-Regular';
$font-medium: 'Roboto-Medium';
$font-bold: 'Roboto-Bold';

$font-poppins-light: 'Poppins-Light';
$font-poppins-regular: 'Poppins-Regular';
$font-poppins-medium: 'Poppins-Medium';
$font-poppins-semibold: 'Poppins-SemiBold';
$font-poppins-bold: 'Poppins-Bold';

$font-brioni-light: 'BrioniSansStd-Light';
$font-brioni-regular: 'BrioniSansStd-Regular';
$font-brioni-medium: 'BrioniSansStd-Medium';

.font-regular {
  font-family: $font-regular !important;
}
.font-medium {
  font-family: $font-medium !important;
}
.font-bold {
  font-family: $font-bold !important;
}

.font-poppins-light {
  font-family: $font-poppins-light !important;
}
.font-poppins-regular {
  font-family: $font-poppins-regular !important;
}
.font-poppins-medium {
  font-family: $font-poppins-medium !important;
}
.font-poppins-semibold {
  font-family: $font-poppins-semibold !important;
}
.font-poppins-bold {
  font-family: $font-poppins-bold !important;
}


.font-brioni-light {
  font-family: $font-brioni-light !important;
}
.font-brioni-regular {
  font-family: $font-brioni-regular !important;
}
.font-brioni-medium {
  font-family: $font-brioni-medium !important;
}



$font-base: $font-regular;

$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}

/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.6;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $primary;

/*************************
	Base variables
*************************/
$base-radius: 8px;


/*************************
	Title variables
*************************/
$title-font: $font-regular;
$title-kerning: 1.35;
