<footer class="pt-[10px] pb-[25px] md:py-[30px] text-center">
    <div class="container">
        <img src="img/footer-logo.png" alt="footer-logo" class="inline-block w-[94px] mb-[20px]">
        <p class="text-[12px] text-silver50 mb-[20px]">Sold by Agile Tech. All prices are VAT inclusive. Shipped from
            the
            EU.</p>
        <nav class="flex items-center flex-wrap justify-center uppercase text-[14px] md:text-[15px]">
            <a href="#" class="text-silver100 hover:text-primary">Support and FAQs <span
                    class="text-silver100 inline-block mx-[10px]">|</span></a>
            <a href="#" class="text-silver100 hover:text-primary">Shipping <span
                    class="text-silver100 inline-block mx-[10px]">|</span></a>
            <a href="#" class="text-silver100 hover:text-primary">Returns & Warranty <span
                    class="text-silver100 inline-block mx-[10px]">|</span></a>
            <a href="#" class="text-silver100 hover:text-primary">Terms of Service <span
                    class="text-silver100 inline-block mx-[10px]">|</span></a>
            <a href="#" class="text-silver100 hover:text-primary">Privacy <span
                    class="text-silver100 inline-block mx-[10px]">|</span></a>
            <a href="#" class="text-silver100 hover:text-primary">Contact us</a>
        </nav>
    </div>
</footer>