/* VARIABLES */


/* Color variables */
// White group
$white: #ffffff;
// Black group
$black: #000000;
// Blue group
$blue: #0066CC;
$blue-soft: #003366;
// Gray group
$gray: #57595A;
$silver: #cccccc;
$muted: #eeeeee;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-blue {
  color: $blue;
}
.text-blue-soft {
  color: $blue-soft;
}
.text-silver {
  color: $silver;
}
.text-muted {
  color: $muted;
}
.text-gray {
  color: $gray;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-blue-soft {
  background-color: $blue-soft !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}




/*************************
	Fonts variables
*************************/
$font-light: 'RobotoCondensed-Light';
$font-italic: 'RobotoCondensed-Italic';
$font-regular: 'RobotoCondensed-Regular';
$font-bold: 'RobotoCondensed-Bold';

$font-base: $font-regular;

.font-light {
  font-weight: $font-light !important;
}
.font-regular {
  font-weight: $font-regular !important;
}
.font-bold {
  font-weight: $font-bold !important;
}

$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $gray;
$font-base: $font-base;
/*************************
	Font path variable
************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 15px;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $blue-soft;


/*************************
	Title variables
*************************/
$title-font-family: $font-bold;
