/* ACCORDION */


.accordion__item {
  padding: 25px;
  border-top: 1px solid $muted;
  @include media-breakpoint-down(md) {
    padding: 20px 15px;
  }
  &:last-child {
    border-bottom: 1px solid $muted;
  }
}

.accordion__header {
}

.accordion__header__btn {
  display: block;
  position: relative;
  padding-right: 40px;
  color: $sky;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
  @extend .font-icons, .eterna-icon-minus;
  &:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  &.collapsed {
    color: $primary;
    @extend .eterna-icon-plus;
    &:hover {
      color: $sky;
    }
    &:focus {
      color: $primary;
    }
  }
  &:hover {
    color: $sky;
  }
}

.accordion__body {
  margin-top: 10px;
}
