/* BOX */

$box-bg: $silver;


.box {
  display: block;
  background: $box-bg;
  padding: 20px 40px;
  margin-bottom: 10px;
  color: $primary;
  font-size: 14px;
  @include media-breakpoint-down(md) {
    padding: 20px 20px;
  }
  &:hover, &:focus {
    color: $primary;
  }
}

.box--mobile-hidden {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.box__titel {
  color: $sky;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
}

.box-list {
  @extend .list-unstyled, .d-flex;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 25px;
  }
}

.box-list__item {
  color: $sky;
  font-size: 12px;
  line-height: 100%;
  &+.box-list__item {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid $primary;
  }
}
