/* DROPDOWN */


.dropdown-menu {
  border-radius: 0;
  background: $muted;
  border-color: $gray;
}
.dropdown-item {
  background: none;
  padding-top: 9px;
  padding-bottom: 9px;
  &:hover, &:focus {
    color: $sky;
    background: none;
  }
}
