/* HERO */

.hero {
	z-index: 10;
	@include media-breakpoint-up(md) {
		padding: 55px 0 285px 0;
	}
	padding: 55px 0;
	@include gradient-y($start-color: #e1e6ec, $end-color: rgba($white, 0), $start-percent: 85%, $end-percent: 100%);
	@include media-breakpoint-down(lg) {
		overflow: hidden;
	}
}

.hero__logo {
	width: 250px;
	@media only screen and (min-width: 1250px) {
		margin-left: -47px;
	}
}
