/* HEADER */

$header-bg: $brand;
$header-color: $white;
$header-fs: 14px;
$header-ff: $font-base-medium;
$header-cart-counter-size: 18px;

.header {
  background: $header-bg;
  color: $header-color;
  font-size: $header-fs;
  font-family: $header-ff;
  padding: 18px 15px;
  position: relative;
  @extend .d-flex, .align-items-center, .justify-content-center;
}

.header__left {
  @extend .d-flex, .align-items-center;
  flex: 1;
}

.header__right {
  @extend .d-flex, .align-items-center;
}

.header__right {
  margin-left: 20px;
  @extend .flex-shrink-0;
}

.header__back {
  @extend .d-inline-block;
  margin-right: 16px;
  margin-left: 0;
  font-size: 12px;
  color: $header-color;
  &:hover, &:focus {
    color: $danger;
  }
}

.header__title {
  @extend .text-truncate, .text-center;
}

.header__cart {
  color: $header-color;
  @extend .d-inline-flex, .align-items-center, .justify-content-center;
  &:hover, &:focus {
    color: $danger;
  }
}

.header__cart-counter {
  width: $header-cart-counter-size;
  height: $header-cart-counter-size;
  @extend .d-inline-flex, .align-items-center, .justify-content-center, .flex-shrink-0, .text-base-semibold, .rounded-circle, .bg-danger;
  margin-left: 5px;
  color: $header-color;
  font-size: 8px;
}
