/*************************
	Theme variables
*************************/
$themes: (
  normal: (themeColor: $brand-color, btnThemeGradientStart: $brand-contrast-color, btnThemeGradientEnd: $brand-contrast-color, headerNavbarItemBorderColor: $brand-color,),
  contrast: (themeColor: $brand-contrast-color, btnThemeGradientStart: $brand-color, btnThemeGradientEnd: $brand-contrast-color,headerNavbarItemBorderColor: $brand-contrast-color,),
);