/*************************
	Theme variables
*************************/
$themes: (
  normal: (linkColor: $brand-color, btnThemeGradientStart: $brand-contrast-color, btnThemeGradientEnd: $brand-contrast-color,),
  contrast: (linkColor: $brand-contrast-color, btnThemeGradientStart: $brand-color, btnThemeGradientEnd: $brand-contrast-color,),
);