/* BADGE */

.badge {
    border-radius: $base-radius;
    padding: 11px 16px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;

    @include media-breakpoint-up(md) {
        margin-bottom: 32px;
    }
}