/* BUTTONS */

.btn {
    font-family: $font-medium;
    border-radius: $base-radius;
    padding: 17px 30px;
    letter-spacing: 0.3px;
    border: none;

    &-secondary {
        @include button-variants($bg: $white, $color: $primary);
    }
}