/* FORM */

.form-control,
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 60px;
    border-width: 2px;
    border-radius: $base-radius;
    padding-left: 20px;
    padding-right: 20px;
    border-color: $silver100;
    @include custom-placeholder($color: darken($silver100, 10%),
        $font-family: $font-book);

    &:focus {
        @include custom-placeholder-opacity($opacity: 0);
    }

    &--secondary {
        @extend .bg-transparent,
        .text-white;
        border-color: rgba($white, .2);
        @include custom-placeholder($color: rgba($white, .45),
            $font-family: $font-book);

        &:focus {
            @include custom-placeholder-opacity($opacity: 0);
        }
    }
}