/* HERO HOME */

.hero-home {
    @extend .position-relative,
    .overflow-hidden;
    z-index: 20;
    padding: 120px 0 0 0;

    @include media-breakpoint-up(lg) {
        padding: 180px 0 125px 0;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 60%;
            transform: translateX(30%) skew(-14deg);
            background: linear-gradient(#05caff, #029afe);
            z-index: -1;
        }
    }

    .content-img {
        @media only screen and (min-width: 992px) and (max-width: 1921px) {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(8%);

            .desktop {
                display: none;
            }

            .tablet {
                display: block !important;
            }
        }

        .tablet {
            display: none;
        }
    }

    @include media-breakpoint-up(xxl) {
        padding: 280px 0 140px 0;
    }

    @media (min-width: 1922px) {
        padding: 180px 0 0 0 !important;
    }
}

.hero-home__form {
    max-width: 500px;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
        margin-bottom: 45px;
    }
}