/* HERO PRICING */

.hero-pricing {
    @extend .position-relative,
    .text-center;
    padding-top: 120px;
    padding-bottom: 0;
    z-index: 20;

    @include media-breakpoint-up(sm) {
        padding: 160px 0 0 0;
    }

    @include media-breakpoint-up(md) {
        padding: 180px 0 0 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 210px 0 60px 0;
    }

    &:after {
        @extend .position-absolute,
        .end-0,
        .top-0;

        @include media-breakpoint-up(lg) {
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: contain;
            background-image: url('../img/bg/hero-pricing-bg.png');
            z-index: -1;
            content: '';
            height: 100%;
            width: 37vw;
        }

        @include media-breakpoint-up(xl) {
            width: 31vw;
        }

        @include media-breakpoint-up(xxl) {
            width: 23vw;
        }
    }
}