/* LIST CHECK */

.list-danger {
    @extend .list-unstyled;

    &--inline {
        @extend .d-flex,
        .flex-wrap;

        .list-danger__item {
            margin-right: 15px;
            margin-bottom: 10px;

            @include media-breakpoint-up(md) {
                margin-right: 30px;
            }
        }
    }

    &--horizontal {
        @extend .d-flex,
        .flex-column;

        .list-danger__item {
            &+.list-danger__item {
                margin-top: 24px;
            }
        }
    }
}

.list-danger__item {
    @extend .d-flex,
    .justify-content-start,
    .text-start;
}

.list-danger__item-icon {
    @extend .flex-shrink-0,
    .rounded-circle,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .bg-danger,
    .fs-10,
    .text-white;
    width: 18px;
    height: 18px;
    margin-right: 12px;
}