/* SECTION LINKEDIN AUTOMATION */

.section {
    &--linkedin-autimation {
        z-index: 10;

        @include media-breakpoint-up(md) {
            padding: 90px 0;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 60%;
                transform: translateX(-30%) skew(14deg);
                background: linear-gradient(#73ecc1, #3fd48d);
                z-index: -1;
            }
        }

        @include media-breakpoint-up(xxl) {
            padding: 180px 0;
        }

        @media (min-width: 1750px) {
            padding: 245px 0;
        }

        .content-img {
            @media only screen and (min-width: 992px) and (max-width: 1921px) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%) translateX(-18%);
            }

            img {
                @media (min-width: 1921px) {
                    transform: scale(1.5) translateX(-17%);
                }
            }
        }
    }
}