/* SECTION TRACK */

.section {
    &--track {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(md) {
            padding: 90px 0;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 60%;
                transform: translateX(-88%) skew(32deg);
                background: linear-gradient(#3bcbf7, #0299fe);
                z-index: -1;

                @media (min-width: 1922px) {
                    width: 60%;
                    transform: translateX(-30%) skew(14deg);
                }
            }

        }

        @include media-breakpoint-up(xxl) {
            padding: 180px 0;
        }

        @media (min-width: 1750px) {
            padding: 245px 0;
        }

        .content-img {
            @media only screen and (min-width: 992px) and (max-width: 1921px) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%) translateX(-32%);
            }

            img {
                @media (min-width: 1921px) {
                    transform: scale(1.5) translateX(-17%);
                }
            }
        }
    }
}