/* SECTION LINKEDIN AUTOMATION */

.section {
    &--linkedin-autimation {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(md) {
            padding: 90px 0;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 60%;
                transform: translateX(-30%) skew(14deg);
                background: linear-gradient(#73ecc1, #3fd48d);
                z-index: -1;
            }
        }

        @include media-breakpoint-up(lg) {
            padding: 140px 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 180px 0;
        }

        @media (min-width: 1750px) {
            padding: 270px 0;
        }

        .content-img {
            @include media-breakpoint-only(xs) {
                transform: translateX(-40px) scale(1.25);
                margin-top: 14%;
            }

            @include media-breakpoint-only(sm) {
                transform: translateX(-40px) scale(1.2);
                margin-top: 10%;
            }

            @media only screen and (min-width: 992px) and (max-width: 1921px) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%) translateX(-11%) scale(1.2);
            }

            img {
                @include media-breakpoint-between(md, lg) {
                    transform: scale(1.1) translateX(-10px);
                }

                @media (min-width: 1921px) {
                    transform: scale(1.5) translateX(-17%);
                }
            }
        }
    }
}