/* SECTION TRACK */

.section {
    &--personalised-messages {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(lg) {
            padding: 90px 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right -20px top;
            background-image: url('../img/bg/features-3.png');
        }

        @include media-breakpoint-up(xl) {
            background-position: right top;
        }

        @media (min-width: 1750px) {
            padding: 245px 0;
        }
    }
}