/* SECTION DRIP SEQUENCE */

.section {
    &--drip-sequence {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(lg) {
            padding: 70px 0 !important;
            background-size: 480px;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url('../img/bg/section-dc-bg.svg');
        }

        @include media-breakpoint-up(xl) {
            padding: 220px 0 !important;
        }

        @include media-breakpoint-up(xxl) {
            background-size: 680px;
        }

        @media (min-width: 1600px) {
            background-size: 870px;
        }
    }
}