/* SECTION DRIP SEQUENCE */

.section {
    &--highly-targeted {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(lg) {
            padding: 70px 0 !important;
            background-size: 560px;
            background-repeat: no-repeat;
            background-position: left -60px center;
            background-image: url('../img/bg/kl-bg.png');
        }

        @include media-breakpoint-up(xl) {
            padding: 220px 0 !important;
        }

        @include media-breakpoint-up(xxl) {
            background-size: 870px;
        }
    }
}