/* SECTION LEAD GENERATION */

.section {
    &--leads-dashboard {
        @extend .overflow-hidden;
        z-index: 10;

        @media (min-width: 1920px) {
            padding: 280px 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 160px 0;
            background-size: 800px;
            background-repeat: no-repeat;
            background-position: right -300px center;
            background-image: url('../img/bg/section-leads-dashboard-bg.svg');
        }

        @include media-breakpoint-up(xl) {
            padding: 200px 0;
            background-size: 900px;
            background-position: right -360px center;
        }

        @include media-breakpoint-up(xxl) {
            padding: 300px 0;
            background-size: 1200px;
            background-position: right -560px center;
        }

        @media (min-width: 1750px) {
            padding: 400px 0;
            background-size: 1400px;
        }
    }
}