/* SECTION FAQ */

.section {
    &--faq {
        z-index: 20;

        @include media-breakpoint-up(lg) {
            padding: 90px 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 320px;
            background-image: url('../img/bg/faq-bg.png');
        }

        @include media-breakpoint-up(xl) {
            background-size: 380px;
        }

        @include media-breakpoint-up(xxl) {
            background-position: left -80px bottom;
            background-size: 500px;
        }

        @media (min-width: 1750px) {
            padding: 245px 0;
            background-size: 550px;
        }
    }
}