/* SECTION TRACK */

.section {
    &--multiple-account {
        @extend .overflow-hidden;
        z-index: 10;

        padding-bottom: 0;

        @include media-breakpoint-up(md) {
            padding: 90px 0;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 60%;
                transform: translateX(88%) skew(-32deg);
                background: linear-gradient(#ffec50, #ffda2b);
                z-index: -1;

                @media (min-width: 1922px) {
                    transform: translateX(58%) skew(-61deg);
                    width: 50%;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            padding: 120px 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 245px 0;
        }

        @media (min-width: 1922px) {
            padding-bottom: 0;
        }

        .content-img {
            @media only screen and (min-width: 992px) and (max-width: 1921px) {
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateX(5%);

                >img {
                    max-width: 80%;
                }
            }

            @include media-breakpoint-between(md, lg) {
                transform: translateY(147px);
            }
        }
    }
}