/* SECTION BEST LINKEDIN AUTOMATION TOOL */

.section {
    &--best-linkedin-autimation-tool {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(md) {
            padding: 90px 0;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 60%;
                transform: translateX(30%) skew(-14deg);
                background: linear-gradient(#ff987e, #ff5f48);
                z-index: -1;
            }
        }

        @include media-breakpoint-up(xxl) {
            padding: 180px 0;
        }

        @media (min-width: 1750px) {
            padding: 245px 0;
        }

        .content-img {
            @include media-breakpoint-only(xs) {
                transform: translateX(40px) scale(1.25);
            }

            @include media-breakpoint-only(sm) {
                transform: translateX(40px) scale(1.2);
            }

            @media only screen and (min-width: 992px) and (max-width: 1921px) {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) translateX(8%);
            }

            img {
                @include media-breakpoint-between(md, lg) {
                    transform: scale(1.1) translateX(10px);
                }

                @media (min-width: 1921px) {
                    transform: scale(1.5) translateX(17%);
                }
            }
        }
    }
}