/* SECTION LINKEDIN AUTOMATION */

.section {
    &--linkedin-autimation {
        z-index: 10;

        @include media-breakpoint-up(lg) {
            padding: 90px 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left -130px top;
            background-image: url('../img/bg/home-2.png');
        }

        @include media-breakpoint-up(xl) {
            background-position: left -30px top;
        }

        @include media-breakpoint-up(xxl) {
            background-position: left top;
        }

        @media (min-width: 1750px) {
            padding: 245px 0;
        }

        @media (min-width: 2200px) {
            background-image: none !important;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 60%;
                background-color: red;
                transform: translateX(-35%) skew(20deg);
                background: linear-gradient(#73ecc1, #3fd48d);
                z-index: -1;
            }
        }
    }
}