/* SECTION LEAD GENERATION */

.section {
    &--lead-generation {
        @extend .overflow-hidden;
        z-index: 10;

        @include media-breakpoint-up(md) {
            padding: 90px 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 160px 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 215px 0;
        }

        @media (min-width: 1750px) {
            padding: 250px 0;
        }

        @media (min-width: 1921px) {
            padding: 280px 0 220px 0;
        }

        .content-img {
            @include media-breakpoint-only(sm) {
                width: 800px;
                max-width: 800px;
            }

            @include media-breakpoint-only(xs) {
                width: 800px;
                max-width: 800px;
            }

            @media (max-width: 400px) {
                width: 650px;
                max-width: 650px;
            }

            @media only screen and (min-width: 992px) and (max-width: 1921px) {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) translateX(16%);

                @include media-breakpoint-up(xxl) {
                    transform: translateY(-50%) translateX(8%);
                }
            }

            img {
                @include media-breakpoint-between(md, lg) {
                    transform: scale(1.2) translateX(10px);
                }

                @media only screen and (min-width: 992px) and (max-width: 1921px) {
                    transform: scale(1.35);
                }

                @media (min-width: 1922px) {
                    width: 150% !important;
                    transform: scale(1.5) translateX(17%);
                }
            }
        }
    }
}