/* FOOTER */

footer {
	background: $footer-bg;
	padding: 35px 0 5px 0;
	color: $white;
	@include respond-to(xs) {
		padding: 20px 0;
	}
}
.footer-list {
	@extend .list-unstyled;
	>li {
		&:not(:first-child) {
			padding: 2px 0 0 0;
		}
		>a {
			color: $shuttle-gray;
			&:hover, &:focus {
				color: $white;
			}
		}
	}
	i {
		margin-right: 5px;
		&:before {
			margin-left: 0;
		}
	}
}
.footer-list-title {
	font-size: 16px;
	font-family: $font-bold;
	color: $white;
	margin-bottom: 5px;
}
.footer-list-card {
	@extend .list-unstyled;
	display: table;
	table-layout: fixed;
	>li {
		display: table-cell;
		>a {
			img {
				max-width: 50px;
				width: 100%;
			}
		}
	}
}
.footer-top-holder {
	padding-bottom: 45px;
	border-bottom: 1px solid $shuttle-gray;
	margin-bottom: 5px;
	@include respond-to(xs) {
		margin-bottom: 10px;
	}
}
.footer-nav {
	@extend .list-unstyled;
	@include clearfix();
	float: right;
	@include respond-to(xs) {
		float: none;
	}
	>li {
		float: left;
		@include respond-to(xs) {
			float: none;
			display: inline-block;
		}
		>a {
			color: $white;
			text-transform: uppercase;
			&:hover, &:focus {
				color: $link-color;
			}
			@include respond-to(xs) {
				font-size: 12px;
			}
		}
	}
	li + li {
		&:before {
			content: '/';
			margin: 0 5px;
		}
	}
}



