<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h5 class="footer__title">关于 Blueair</h5>
				<ul class="list-unstyled">
					<li><a href="#" class="footer__list-item">Blueair 全球</a></li>
					<li><a href="#" class="footer__list-item">Blueair 在中国</a></li>
					<li><a href="#" class="footer__list-item">世界权威认证</a></li>
					<li><a href="#" class="footer__list-item">官方动态</a></li>
					<li><a href="#" class="footer__list-item">加入我们</a></li>
					<li><a href="#" class="footer__list-item">联系我们</a></li>
				</ul>
			</div><!--col-->

			<div class="col-xs-6">
				<h5 class="footer__title">客户服务支持</h5>
				<ul class="list-unstyled">
					<li><a href="#" class="footer__list-item">空气净化机</a></li>
					<li><a href="#" class="footer__list-item">Blueair 滤网</a></li>
					<li><a href="#" class="footer__list-item">查找零售店</a></li>
					<li><a href="#" class="footer__list-item">Blueair 天猫旗舰店</a></li>
					<li><a href="#" class="footer__list-item">Blueair 京东旗舰店</a></li>
				</ul>
			</div><!--col-->

			<div class="col-xs-12 mt-30">
				<h5 class="footer__title">产品及销售</h5>
				<ul class="list-unstyled">
					<li><a href="#" class="footer__list-item">政企采购</a></li>
					<li><a href="#" class="footer__list-item">成为合作伙伴</a></li>
				</ul>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</footer><!--footer-->
