<header class="header">
  <div class="container">
    <div class="header__top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon-menu"></i>
      </button>

      <a href="#" class="header__logo" tabindex="1">
        <img src="assets/images/elements/logo.svg" class="w-100" alt="Homepage ZorgkaartNederland">
      </a>

      <div class="d-none d-md-inline-flex flex-column align-items-end">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-brand-contrast-color switch-toggle" href="#">Hoog contrast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inloggen voor pakkethouders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>

        <div id="search_field_holder_desktop">
          <div class="search-field">
            <form id="search-form" class="search-form" action="/">
              <div class="form-group">
                <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input type="text" tabindex="0" class="form-control typehead_search tt-hint" value="" role="combobox" aria-autocomplete="both"
                    aria-expanded="false" aria-haspopup="true" aria-label="Zoek op zorgaanbieder, persoon, plaats of postcode" aria-live="polite" autocomplete="off" disabled="" spellcheck="false" aria-hidden="true" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255);"><input
                    type="text" name="zoekterm" id="search" tabindex="0" class="form-control typehead_search tt-input" value="" placeholder="Zoek op zorgaanbieder, persoon, plaats of postcode" role="combobox" aria-autocomplete="both" aria-expanded="true"
                    aria-haspopup="true" aria-label="Zoek op zorgaanbieder, persoon, plaats of postcode" aria-live="polite" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                  <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: nowrap; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;">c</pre><span
                    class="tt-dropdown-menu" role="listbox" aria-expanded="true" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
                    <div class="tt-dataset-search"><span class="tt-suggestions" style="display: block;">
                        <div class="tt-suggestion">
                          <div class="ta-group" style="white-space: normal;">Zorginstelling</div>
                          <div class="ta-image profile-img" role="presentation" style="white-space: normal;"><img class="img-responsive" src="/cache/7/9/5/1/7/7951717aa766a00d335e5b16004b395fabde0f80.png?v160" alt="Dental Clinic Hagens"></div>
                          <div class="ta-title profile-img" id="suggestion-5754ab6a7ac9324f8ffd3dc08b06ab21" role="option" style="white-space: normal;"><a href="/zorginstelling/tandartsenpraktijk-dental-clinic-hagens-amstelveen-10003101"><strong>Dental
                                Clinic Hagens</strong><br>Tandartsenpraktijk</a></div>
                        </div>
                        <div class="tt-suggestion">
                          <div class="ta-image profile-img" role="presentation" style="white-space: normal;"><img class="img-responsive" src="/cache/8/7/b/b/3/87bb3fb0aedc6e649e0028ed3fa78558cb0d5bab.png?v160" alt="Betan Clinics"></div>
                          <div class="ta-title profile-img" id="suggestion-593285e76b073a07abffba62546521fc" role="option" style="white-space: normal;"><a href="/zorginstelling/esthetisch-medisch-centrum-betan-clinics-groningen-10005469"><strong>Betan
                                Clinics</strong><br>Esthetisch-medisch centrum</a></div>
                        </div>
                        <div class="tt-suggestion">
                          <div class="ta-image " role="presentation" style="white-space: normal;"><i class="fontello-location"></i></div>
                          <div class="ta-title " id="suggestion-8cca58450a3a3790bd12048d73067f2c" role="option" style="white-space: normal;"><a href="/zorginstelling/overige-kliniek-hippocrates-clinic-amsterdam-3058856"><strong>Hippocrates Clinic</strong><br>Overige
                              kliniek</a></div>
                        </div>
                        <div class="tt-suggestion">
                          <div class="ta-group" style="white-space: normal;">Zorgverlener</div>
                          <div class="ta-image " role="presentation" style="white-space: normal;"><i class="fontello-person"></i></div>
                          <div class="ta-title " id="suggestion-5476e2fe545135f9a7023edadc854a0b" role="option" style="white-space: normal;"><a href="/zorgverlener/chirurg-tilburg-m-w-a-van-269101"><strong>Tilburg, M.W.A. van</strong><br>
                              <div class="ta-row" role="presentation">Chirurg in Harderwijk</div>
                            </a></div>
                        </div>
                        <div class="tt-suggestion">
                          <div class="ta-image " role="presentation" style="white-space: normal;"><i class="fontello-person"></i></div>
                          <div class="ta-title " id="suggestion-892c69b4811b3135ac69c699b5528857" role="option" style="white-space: normal;"><a href="/zorgverlener/plastisch-chirurg-feijen-m-m-w-324295"><strong>Feijen, M.M.W.</strong><br>
                              <div class="ta-row" role="presentation">Plastisch chirurg in Geleen</div>
                              <div class="ta-row" role="presentation">Plastisch chirurg in Maastricht</div>
                            </a></div>
                        </div>
                        <div class="tt-suggestion">
                          <div class="ta-image " role="presentation" style="white-space: normal;"><i class="fontello-person"></i></div>
                          <div class="ta-title " id="suggestion-44fd8b2b003e341292db2cdcacf46085" role="option" style="white-space: normal;"><a href="/zorgverlener/huidtherapeut-waalwijk-van-doorn-van-der-graaf-r-c-van-265759"><strong>Waalwijk van
                                Doorn-van der Graaf, R.C. van</strong><br>
                              <div class="ta-row" role="presentation">Huidtherapeut in Purmerend</div>
                              <div class="ta-row" role="presentation">Huidtherapeut in Amsterdam</div>
                            </a></div>
                        </div>
                      </span>
                      <div class="tt-footer"><input type="submit" class="title orange" value="Bekijk alle resultaten voor 'c'"></div>
                    </div>
                  </span></span>

                <button type="submit" name="search-send" class="btn btn-primary btn-submit" aria-label="Zoek" title="Zoek" tabindex="0">
                  <i class="icon-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="search_field_holder_mobile" class="header-mobile-block d-md-none">
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Aandoeningen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sectoren</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Feiten en cijfers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Keuzehulpen</a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="#">Inloggen voor pakkethouders</a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link switch-toggle" href="#">Hoog contrast</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>