<header class="header">
  <div class="container container--regular">
    <div class="header__top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Open menu">
        <i class="icon-menu"></i>
      </button>

      <a href="#" class="header__logo mx-auto">
        <img src="assets/images/elements/logo.svg" class="w-100" alt="Homepage ZorgkaartNederland">
      </a>

      <div class="header__content">
        <div class="d-flex align-items-center justify-content-between">
          <div class="dropdown ml-auto flex-shrink-0">
            <button class="header__dropdown-toggle dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" aria-label="Mijn account" data-display="static">
              <i class="icon-user-circle text-primary"></i>
              <span class="header__dropdown-toggle-text text-primary">Mijn account</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Mijn wachtwoord</a>
              <a class="dropdown-item" href="#">Mijn e-mailadres</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><b class="d-block">Zorgverlener</b>Beheer je persoonlijke profiel</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Uitloggen</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar navbar-secondary navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rapportages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Download waarderingen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">E-mailalerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Widgets</a>
          </li>
          <li class="nav-item ml-md-auto border-0">
            <a class="nav-link" href="#">Helpcentrum</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>