<header class="header">
  <div class="container container--regular">
    <div class="header__top">
      <a href="#" class="header__logo mx-auto">
        <img src="assets/images/elements/logo.svg" class="w-100" alt="Homepage ZorgkaartNederland">
      </a>

      <div class="header__content">
        <div class="d-flex align-items-center justify-content-between">
          <div class="dropdown ml-auto flex-shrink-0">
            <button class="header__dropdown-toggle dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" aria-label="Mijn account" data-display="static">
              <i class="icon-user-circle text-primary"></i>
              <span class="header__dropdown-toggle-text text-primary">Mijn account</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Uitloggen</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar navbar-secondary navbar-expand-lg">
      </nav>
    </div>
  </div>
</header>