<!-- Modal -->
<div class="modal fade" id="modal-tip-onze-redactie" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="modal-form-tip-onze-redactie-field-1">Geef hier de naam van het product, de dienst(en) die het
              levert en
              eventuele aanvullende
              informatie over het product op.</label>
            <textarea name="" id="modal-form-tip-onze-redactie-field-1" class="form-control form-control-regular"
              cols="" rows=""></textarea>
          </div>

          <button type="submit" class="btn btn-theme">Verstuur <i class="icon-chevron-right ml-3"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>