<!-- Modal -->
<div class="modal fade" id="modal-login-page" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="login.html" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>