<!-- Modal -->
<div class="modal fade" id="modal-opslaan-als-pdf" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="icon-times"></i>
      </button>
      <div class="modal-body">
        <h2>Wilt u een toelichting toevoegen?</h2>

        <form action="">
          <div class="form-group">
            <label for="form-field-u-kunt-een">U kunt een toelichting toevoegen aan uw pdf-rapportage.
              Wanneer u niets invult, ziet u geen kopje 'toelichting' in uw pdf.</label>
            <h3>Toelichting</h3>
            <textarea name="" id="form-field-u-kunt-een" cols="30" rows="10" class="form-control form-control-regular"
              placeholder="Uw toelichting"></textarea>
          </div>

          <button type="submit" class="btn btn-theme">PDF maken <i class="icon-chevron-right ml-3"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>