<div class="box box--rounded">
  <div class="row">
    <div class="col-lg-2 col-md-3 d-none d-md-block">
      <p class="text-muted fs-14"><b>Initiatief van</b></p>
      <a href="#"><img src="assets/images/temp/logo_npcf_slider.svg" alt="Website Patiëntenfederatie Nederland"
          class="w-100"></a>
    </div>

    <div class="col-lg-10 col-md-9 has-divider has-divider--md pl-md-4">
      <p class="text-muted fs-14"><b>Partners van ZorgkaartNederland</b></p>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-1.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-2.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-3.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-4.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-5.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/temp/logo_npcf_slider.svg" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-6.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/temp/logo_npcf_slider.svg" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-7.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-8.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-9.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-10.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-11.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-12.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-13.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-14.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-15.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-16.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-17.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-18.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-19.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-20.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-21.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-22.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-23.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-24.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-25.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-26.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-27.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-28.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-29.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-30.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-31.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-32.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-33.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
              <div class="col-6 col-sm-3 d-none d-sm-block">
                <a href="#">
                  <img src="assets/images/carousel/carousel-img-34.png" alt="" class="img-fluid mx-auto">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>