/* Fonts */

//Semplicita Pro
@font-face {
    font-family: 'Semplicita-Pro-Regular';
    src: url('#{$font-path}SemplicitaPro/SemplicitaPro-Regular.woff2') format('woff2'),
    url('#{$font-path}SemplicitaPro/SemplicitaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Semplicita-Pro-Bold';
    src: url('#{$font-path}SemplicitaPro/SemplicitaPro-Bold.woff2') format('woff2'),
    url('#{$font-path}SemplicitaPro/SemplicitaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}