/* Fonts */
//Circular
@font-face {
  font-family: 'CircularStdBook';
  src: url("#{$font-path}circular/CircularStd-Book.woff2") format('woff2'), url("#{$font-path}circular/CircularStd-Book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStdBold';
  src: url("#{$font-path}circular/CircularStd-Bold.woff2") format('woff2'), url("#{$font-path}circular/CircularStd-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}