/* ALERT */
.alert {
  @extend .border-0, .font-bold;
  border-radius: 20px;
  padding: 20px 15px;
  font-size: 16px;
  @include transition($base-animation);
  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }
  @include media-breakpoint-up(md) {
    padding: 30px 40px;
  }

  &-success {
    @extend .bg-success, .text-white;
  }

  &-fixed-top {
    @extend .fixed-top, .my-2, .my-sm-3, .mx-3, .mx-sm-auto;
    max-width: 1110px;
  }

  &-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-150%);
  }
}