/* FORMS */
$field-bg: #F6F7F9;
$field-height: 62px;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: $field-bg;
	@extend .border-0;
	border-radius: 30px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	height: $field-height;

	&:focus {
		background-color: darken($field-bg, 5%);
	}
}

label {
	@extend .font-bold;
	font-size: 18px;
	@include media-breakpoint-up(md) {
		font-size: 22px;
	}
}

.invalid-feedback {
	@extend .font-bold;
}