/* GRADIENT BOX */
.gradient-box {
  @include gradient-y-three-colors($start-color: #4A57CE, $mid-color: #C750C0, $color-stop: 50%, $end-color: #F7BA7B);
  @extend .position-relative, .overflow-hidden;
  z-index: 200;

  &:after,
  &:before {
    content: '';
    @extend .position-absolute, .w-100, .has-bg;
    left: 0;
    z-index: -1;
  }

  &:before {
    top: -25%;
    background-image: url("../images/elements/pattern-top.svg");
    height: 55%;
  }

  &:after {
    bottom: -47%;
    height: 80%;
    background-image: url("../images/elements/pattern-bottom.svg");
  }
}