/* PANEL */
.panel {
  @extend .mx-auto, .d-md-flex, .align-items-md-center, .text-center, .text-md-left;
  max-width: 660px;
  padding: 45px;
  @include media-breakpoint-up(md) {
    box-shadow: 0 0 15px rgba($black, .1);
    @include transition($base-animation);
    border-radius: 30px;

    &:hover {
      transform: translateY(-10px);
    }
  }
  @include media-breakpoint-down(md) {
    padding: 35px;
  }
  @include media-breakpoint-down(sm) {
    padding: 25px;
  }

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.panel__icon {
  @extend .flex-shrink-0, .mb-4, .mb-md-0, .d-inline-block;
  font-size: 60px;
  @include media-breakpoint-down(xs) {
    font-size: 50px;
  }
  @include media-breakpoint-up(md) {
    margin-right: 30px;
  }
}