/* PLAYER */
.players {
  display: grid;
  grid-gap: 40px;
  @include media-breakpoint-up(md) {
    grid-gap: 60px;
    grid-template-columns: repeat(2,1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3,1fr);
  }
}

.player {
  @extend .d-flex, .align-items-center;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba($black, .1);
  @include transition($base-animation);
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }
}

.player__avatar {
  @extend .flex-shrink-0;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.player__content {
  @extend .flex-fill, .ml-3;
}

.player__title {
  @extend .mb-0, .text-truncate;
}

.player__subtitle {
  @extend .text-uppercase, .text-muted;
  font-size: 16px;
}