/* EVENT LIST */

.event-list {
  @extend .list-unstyled;
  >li {
    @extend .position-relative, .d-flex;
    &:before {
      content: '';
      @extend .flex-shrink-0, .d-inline-block, .mr-3;
      @include media-breakpoint-up(md) {
        margin-top: 5px;
      }
      margin-top: 2px;
      width: 18px;
      height: 18px;
      background: url('../images/elements/event-red.svg') no-repeat 50% 50% / cover;
    }
    &+li {
      margin-top: 15px;
    }
  }
}
