/* EVENT */
$event-size: 170px;

.events {
  .slick-arrow {
    @extend .border-0, .font-icons, .position-absolute;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    &:before {
      @extend .text-blue;
      font-size: 28px;
      line-height: 28px;
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  .slick-prev {
    @extend .cbc-icon-play-left;
    left: -20px;
    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }

  .slick-next {
    @extend .cbc-icon-play-right;
    right: -20px;
    @include media-breakpoint-down(sm) {
      right: 0;
    }
  }
}

.event {
  @extend .d-flex, .flex-column, .has-bg, .align-items-center, .text-center, .mx-auto;
  width: $event-size;
  height: $event-size;
  padding: 20px 10px;
  color: $white;

  &--yellow {
    background-image: url("../images/elements/event-yellow.svg");
  }

  &--red {
    background-image: url("../images/elements/event-red.svg");
  }

  &--green {
    background-image: url("../images/elements/event-green.svg");
  }

  &--blue {
    background-image: url("../images/elements/event-blue.svg");
  }
}

.event__date {
  @extend .d-flex, .flex-column, .font-hind-bold, .text-black;
  line-height: 1;
  margin-bottom: 26px;
}

.event__date__month {
  @extend .text-uppercase;
  font-size: 18px;
}

.event__date__date {
  font-size: 24px;
}

.event__title {
  @extend .font-hind-bold, .w-100;
  line-height: 1.2;
  margin-bottom: 5px;
}

.event__time {
  @extend .font-hind-semibold;
  font-size: 14px;
}
