/* EVENTS LIST */

.events-list {
  &:not(:first-child) {
    margin-top: 70px;
    @include media-breakpoint-down(sm) {
      margin-top: 35px;
    }
  }
}


.event-list-item {
  @extend .d-flex;
  &:not(:last-child) {
    .event-list-item__body {
      border-bottom: 1px solid $black;
      padding-bottom: 30px;
    }
  }
  &+.event-list-item {
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }
}

.event-list-item__date-body {
  @extend .flex-shrink-0, .mr-3, .mr-md-4, .mr-lg-5, .has-bg, .text-center, .d-flex, .align-items-center, .justify-content-center, .flex-column;
  width: 170px;
  height: 170px;
  background-image: url("../images/elements/event-lg.svg");
  @include media-breakpoint-down(md) {
    width: 120px;
    height: 120px;
  }
  @include media-breakpoint-down(xs) {
    width: 80px;
    height: 80px;
  }
}

.event-list-item__date-body-month,
.event-list-item__date-body-date {
  font-family: $font-hind-bold;
  line-height: 1;
}

.event-list-item__date-body-month {
  @extend .text-uppercase;
  margin-bottom: 2px;
  font-size: 20px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}
.event-list-item__date-body-date {
  font-size: 34px;
  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 15px;
  }
}

.event-list-item__body {
  line-height: 1.6;
}

.event-list-item__body-name {
  font-size: 24px;
  font-family: $font-hind-bold;
  margin-bottom: 5px;
}

.event-list-item__body-time {
  font-size: 14px;
  color: #393939;
  font-family: $font-hind-semibold;
}

.event-list-item__calendar {
  @include media-breakpoint-up(lg) {
    margin-top: -100px;
  }
}
