/* FORMS */

$placeholder-color: $white;
$placeholder-font-size: 14px;
$placeholder-font-style: $font-montserrat-bold;
$placeholder-opacity: 0;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	font-family: $placeholder-font-style;
	color: $placeholder-color;
	@include custom-placeholder(
	  $color: $placeholder-color,
	  $font-size: $placeholder-font-size,
	  $font-family: $placeholder-font-style
	)
	&:focus {
		color: $placeholder-color;
		@include custom-placeholder-opacity($opacity: $placeholder-opacity);
	}
}


.sign__form {
  label {
    color: $white;
    font-family: $font-montserrat-regular;
  }
  .form-control {
    @extend .rounded-0, .border-0;
    height: 43px;
    background-color: rgba($white, .2);
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($white, .25);
    }
  }
  .btn-submit {
    @extend .rounded-0, .flex-shrink-0, .text-yellow, .py-1, .px-3;
    background-color: rgba($white, .2);
    border-left: 1px solid rgba($white, .4);
    &:hover, &:focus {
      background-color: rgba($white, .4);
      border-left: 1px solid rgba($white, .6);
    }
  }
}
