/* GALLERY */

$gallery-dot-size: 6px;

.gallery {
  .slick-dots {
    @extend .list-unstyled, .d-flex, .position-absolute;
    bottom: 30px;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    >li {
      width: $gallery-dot-size;
      height: $gallery-dot-size;
      border-radius: 50%;
      background-color: $white;
      opacity: .6;
      cursor: pointer;
      &+li {
        margin-left: 10px;
      }
      button {
        @extend .d-none;
      }
      &.slick-active {
        transform: scale(1.6);
        opacity: 1;
      }
    }
  }
}
