/* INFO */

$info-arrow-size: 24px;


.info {
  @extend .mx-auto;
  max-width: 435px;
  >div {
    >a {
      @extend .text-center, .d-block, .text-yellow, .bg-black, .font-icons, .cbc-icon-right-dir, .position-relative;
      padding: 10px 50px 7.5px 15px;
      &.active {
        @extend .cbc-icon-down-dir;
      }
      &:before {
        @extend .position-absolute, .rounded-circle, .bg-white, .text-orange, .d-inline-flex, .justify-content-center, .align-items-center;
        right: 10px;
        transform: translateY(-50%);
        top: 50%;
        width: $info-arrow-size;
        height: $info-arrow-size;
      }
    }
    >div {
      padding: 25px;
      background-color: $yellow;
      display: none;
      &.active {
        display: block;
      }
    }
    &+div {
      margin-top: 10px;
    }
  }
}

// .info__item {
//   &+.info__item {
//     margin-top: 10px;
//   }
// }

// .info__btn {
//   @extend .text-center, .d-block, .text-yellow, .bg-black, .font-icons, .cbc-icon-right-dir, .position-relative;
//   padding: 10px 50px 7.5px 15px;
//   &.active {
//     @extend .cbc-icon-down-dir;
//   }
//   &:before {
//     @extend .position-absolute, .rounded-circle, .bg-white, .text-orange, .d-inline-flex, .justify-content-center, .align-items-center;
//     right: 10px;
//     transform: translateY(-50%);
//     top: 50%;
//     width: $info-arrow-size;
//     height: $info-arrow-size;
//   }
// }
//
// .info__body {
//   padding: 25px;
//   background-color: $yellow;
//   display: none;
//   &.active {
//     display: block;
//   }
// }
