/* INFO LIST */

.info-list {
  @extend .list-unstyled;
  >li {
    @extend .position-relative, .font-icons, .cbc-icon-play-right;
    padding-left: 35px;
    &:before {
      @extend .position-absolute;
      left: 0;
      top: 0;
      opacity: .6;
    }
    &+li {
      margin-top: 15px;
    }
  }
}
