/* LOCATION */
.location {
  @extend .has-bg, .text-center;
  padding: 50px 15px;
  @include media-breakpoint-up(md) {
    padding: 100px 40px;
  }
  @include media-breakpoint-up(xl) {
    padding: 150px 80px;
  }
  >h4 {
    @extend .text-yellow;
    text-shadow: 0 4px 4px rgba($black, .25);
    @include media-breakpoint-up(lg) {
      margin-bottom: 70px;
    }
    margin-bottom: 25px;
  }
  >div {
    margin-bottom: 25px;
    span {
      @extend .bg-black, .text-white;
      box-decoration-break: clone;
      padding: 2px 7px;
    }
  }
}
