/* SCROLL TO TOP BTN */

$scroll-top-btn-size: 50px;
$scroll-top-btn-mobile-size: 35px;

.scroll-btn {
  @extend .position-fixed, .align-items-center, .justify-content-center, .text-black, .font-icons, .cbc-icon-up-dir;
  bottom: 20px;
  right: 20px;
  background: $yellow;
  width: $scroll-top-btn-size;
  height: $scroll-top-btn-size;
  display: inline-flex;
  z-index: 3000;
  font-size: 24px;
  border: 1px solid $black;
  @include media-breakpoint-down(sm) {
    width: $scroll-top-btn-mobile-size;
    height: $scroll-top-btn-mobile-size;
    font-size: 18px;
  }
  &:hover, &:focus {
    @extend .bg-orange;
  }
  //display: none;
}
