/* SECTION */

.section {
  position: relative;
  padding: 40px 0;
  @include media-breakpoint-up(md) {
    padding: 85px 0;
  }
  &--has-lines {
    background-image: url('../images/bg/lines.svg');
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm) {
      background-size: contain;
    }
  }
  &--has-lines-bottom-right {
    background-position: bottom right;
  }
  &--has-lines-bottom-middle-right {
    background-position: bottom 25% right;
  }
  &--has-lines-bottom-left {
    background-position: bottom left;
    @include media-breakpoint-up(md) {
      background-size: 30%;
    }
  }
  &--has-lines-top-left {
    background-position: top left;
  }
}
