/* TABS */


.tab {
  @extend .d-flex, .justify-content-center;
  margin-bottom: 100px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 80px
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 60px
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 40px
  }
}


.tab__btn {
  @extend .d-inline-block, .text-white, .text-center, .text-uppercase, .font-montserrat-bold;
  padding: 16px 25px;
  background-color: $orange;
  border: 1px solid $orange;
  &:hover, &:focus, &.active {
    background-color: $black;
  }
  &+.tab__btn {
    margin-left: 25px;
  }
}
