/* TITLE */

.title-skew-holder {
  overflow: hidden;
}

.title {
  @extend .h2, .text-center, .text-black, .bg-yellow, .text-uppercase;
  padding: 72px 15px;
  line-height: 1;
  margin-bottom: 150px;
  @include media-breakpoint-up(lg) {
    letter-spacing: -2px;
  }
  @include media-breakpoint-down(lg) {
    padding: 60px 15px;
    margin-bottom: 120px;
  }
  @include media-breakpoint-down(md) {
    padding: 44px 15px;
    margin-bottom: 80px;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 15px;
    margin-bottom: 40px;
  }
  &--negative {
    @include media-breakpoint-up(md) {
      margin-top: -150px;
    }
  }
  &--skew {
    @include media-breakpoint-up(md) {
      margin-top: -100px;
      transform: rotate(-4deg);
      width: 150%;
      margin-left: -25%;
    }
  }
}
