/* Fonts */

//Ubuntu
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
       url('#{$font-path}Ubuntu/Ubuntu-Regular.woff') format('woff'),
       url('#{$font-path}Ubuntu/Ubuntu-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
       url('#{$font-path}Ubuntu/Ubuntu-Medium.woff') format('woff'),
       url('#{$font-path}Ubuntu/Ubuntu-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
       url('#{$font-path}Ubuntu/Ubuntu-Bold.woff') format('woff'),
       url('#{$font-path}Ubuntu/Ubuntu-Bold.ttf') format('ttf');
}
