/* FORMS */

$field-height: 59px;
$filed-bg: #e1e9f1;
$field-hover-bg: #d9e1ea;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	height: $field-height;
	background: $filed-bg;
	border-width: 2px;
	border-color: $filed-bg;
	&:hover {
		background: $field-hover-bg;
		border-color: $field-hover-bg;
	}
	&:focus {
		background: transparent;
		border-color: $field-hover-bg;
		box-shadow: none !important;
	}
}
