/* LIST COUNTER */

$counter-item-color: #8f8fa2;
$counter-size: 51px;
$counter-size-sm: 38px;
$counter-bg: #ffc453;
$counter-color: #6540ff;


.list-counter {
  @extend .list-unstyled;
  counter-reset: list;
}
.list-counter__item {
  position: relative;
  text-align: left;
  color: $counter-item-color;
  @extend .d-flex, .align-items-center;
  line-height: 1.1;
  padding: 18px 0;
  @include media-breakpoint-up(md) {
    font-size: 21px;
  }
  &:before {
    content: counter(list);
    counter-increment: list;
    width: $counter-size;
    height: $counter-size;
    border-radius: 50%;
    background: $counter-bg;
    color: $counter-color;
    @extend .d-flex, .justify-content-center, .align-items-center;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 6px;
    box-shadow: 0px 0px 0px 6px rgba($counter-bg, .5);
    @include media-breakpoint-down(sm) {
      width: $counter-size-sm;
      height: $counter-size-sm;
    }
  }
}
