/* MARGINS */


.mr-7 {
	margin-right: 7rem !important;
}
.mr-sm-7 {
	@include media-breakpoint-up(sm) {
		margin-right: 7rem !important;
	}
}
.mr-md-7 {
	@include media-breakpoint-up(md) {
		margin-right: 7rem !important;
	}
}
.mr-lg-7 {
	@include media-breakpoint-up(lg) {
		margin-right: 7rem !important;
	}
}
.mr-xl-7 {
	@include media-breakpoint-up(xl) {
		margin-right: 7rem !important;
	}
}
