/* MIXINS */

// Placeholder text
@mixin custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style) {
  &:-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
  }
}

//Placeholder opacity
@mixin custom-placeholder-opacity($opacity: $placeholder-opacity) {
  &:-moz-placeholder {
    opacity: $opacity;
  }
  &::-moz-placeholder {
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    opacity: $opacity;
  }
  &::-webkit-input-placeholder {
    opacity: $opacity;
  }
}

//Buttons
@mixin button-bg($bg, $color) {
  background: $bg;
  color: $color;
  &:hover, &:active, &:focus, &.active {
    background:darken($bg, 10%) !important;
    color: $color !important;
  }
}
