/* PANEL BOX */


.panel-box {
  display: block;
  &:hover, &:focus {
    .panel-box__btn {
      @extend .btn, .btn-sm;
    }
  }
}

.panel-box__btn {
  @extend .btn, .btn-sm;
  color: $muted-bold;
  background: transparent;
}
