/* SECTION */

$skew-hero-size: 200px;
$skew-size: 130px;
$skew-mobile-size: 80px;

.section {
  position: relative;
  //z-index: 10;
  padding: $skew-size 0;
  @include media-breakpoint-down(md) {
    padding: $skew-mobile-size 0;
  }
  .container, .section--skew__content {
    z-index: 100;
    position: relative;
  }
}


.section--skew-right {
  @include skew(0deg, 10deg);
  .section--skew__content {
    @include skew(0deg, -10deg);
  }
}

.section--skew-left {
  @include skew(0deg, -10deg);
  .section--skew__content {
    @include skew(0deg, 10deg);
  }
}

.section--hero {
  position: relative;
  margin-top: -$skew-hero-size;
  padding-top: $skew-hero-size * 2;
  @include media-breakpoint-down(md) {
    padding-top: 300px;
  }
}

.section--skew-first {
  margin-top: -$skew-size;
  padding-top: calc(#{$skew-size} + 20px);
  @include media-breakpoint-up(lg) {
    padding-top: 260px;
  }
  @include media-breakpoint-down(md) {
    margin-top: -$skew-size / 1.5;
  }
}

.section--hero__img {
  position: absolute;
  top: 0;
  right: -25%;
  display: block;
  z-index: -1;
  opacity: .15;
  @include media-breakpoint-up(md) {
    top: -#{$skew-hero-size};
  }
  @include media-breakpoint-down(lg) {
    right: -400px;
  }
  @include media-breakpoint-down(sm) {
    right: -800px;
  }
}

.section--pre-footer {
  @include media-breakpoint-up(lg) {
    padding-bottom: 240px;
  }
}
