
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $body-font-family;
	color: $body-main-color;
	font-size: $body-font-size;
	line-height: $body-line-height;
	-webkit-overflow-scrolling: touch;
	@include media-breakpoint-down(md) {
		font-family: $body-font-size-md;
	}
}


main {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 20px;
	color: $title-color;
	font-family: $title-font;
	line-height: $title-kerning;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, .h1 {
	font-size: 60px;
	@include media-breakpoint-down(md) {
		font-size: 40px;
	}
}
h2, .h2 {
	font-size: 48px;
	@include media-breakpoint-down(md) {
		font-size: 30px;
	}
}
h3, .h3 {
	font-size: 36px;
	@include media-breakpoint-down(md) {
		font-size: 26px;
	}
}
h4, .h4 {
	font-size: 30px;
	@include media-breakpoint-down(md) {
		font-size: 22px;
	}
}
h5, .h5 {
	font-size: 21px;
}
h6, .h6 {
}

.title {
	margin-bottom: 45px;
	@include media-breakpoint-up(md) {

	}
}
.title-md {
	margin-bottom: 80px;
	@include media-breakpoint-down(md) {
		margin-bottom: 45px;
	}
}

b {
	font-family: $font-base-bold;
}

button, a {
	@include transition(250ms);
	cursor: pointer;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: $link-color-hover;
		text-decoration: none;
	}
}

.link-content {
	border-bottom: 1px dotted $link-color;
	&:hover, &:focus {
		border-bottom: 1px dotted $link-color-hover;
	}
}

p {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.text-with-opacity {
	opacity: .8;
}
