/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$pink: #663eff; //Link color
$pink-soft: #424071;
$gray: #8f8fa2; //Main color
$gray-bold: #2f3e4c;
$muted: #e1e9f1;
$warning: #feba66;

//Colors
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-pink {
  color: $pink !important;
}
.text-pink-soft {
  color: $pink-soft !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-muted {
  color: $muted !important;
}
.text-warning {
  color: $warning !important;
}

//Backgrounds
.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-pink-soft {
  background-color: $pink-soft !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-warning {
  background-color: $warning !important;
}


/*************************
	Fonts variables
*************************/
$font-base-medium: 'Ubuntu-Medium';
$font-base-bold: 'Ubuntu-Bold';

.font-base-meduim {
  font-family: $font-base-medium;
}
.font-base-bold {
  font-family: $font-base-bold;
}

$font-icons: 'fontello';

/*************************
	Base settings
*************************/
//Base color
$base-color: $gray;
//Base font
$base-font: $font-base-medium;

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 18px;
$body-font-size-md: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $pink;


/*************************
	Title variables
*************************/
$title-color: $gray-bold;
$title-font: $font-base-bold;

/*************************
	Path variables
*************************/
$font-path: '../fonts/';
