/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$pink-light: #6d6c8d;
$pink-thin: #4b4a77;
$pink: #663eff; //Link color
$pink-soft: #424071;
$pink-bold: #865eff;
$gray-light: #b5bcd6;
$gray-thin: #edf1fc;
$gray: #8f8fa2; //Main color
$gray-bold: #2f3e4c;
$asphalt-thin: #374552;
$asphalt: #545e69;
$asphalt-bold: #616b76;
$muted-thin: #ecebf5;
$muted: #e1e9f1;
$muted-bold: #4b5662;
$warning: #feba66;
$warning-soft: #fbb564;

$behance: #4566d3;
$dribble: #f0639b;

//Colors
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-pink-light {
  color: $pink-light !important;
}
.text-pink-thin {
  color: $pink-thin !important;
}
.text-pink {
  color: $pink !important;
}
.text-pink-soft {
  color: $pink-soft !important;
}
.text-pink-bold {
  color: $pink-bold !important;
}
.text-gray-light {
  color: $gray-light !important;
}
.text-gray-thin {
  color: $gray-thin !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-muted-bold {
  color: $muted-bold !important;
}
.text-warning {
  color: $warning !important;
}
.text-warning-soft {
  color: $warning-soft !important;
}
.text-asphalt-thin {
  color: $asphalt-thin !important;
}
.text-asphalt {
  color: $asphalt !important;
}
.text-asphalt-bold {
  color: $asphalt-bold !important;
}
.text-behance {
  color: $behance !important;
}
.text-dribble {
  color: $dribble !important;
}

//Backgrounds
.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-pink-light {
  background-color: $pink-light !important;
}
.bg-pink-thin {
  background-color: $pink-thin !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-pink-soft {
  background-color: $pink-soft !important;
}
.bg-pink-bold {
  background-color: $pink-bold !important;
}
.bg-gray-light {
  background-color: $gray-light !important;
}
.bg-gray-thin {
  background-color: $gray-thin !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-muted-thin {
  background-color: $muted-thin !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-muted-bold {
  background-color: $muted-bold !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-warning-soft {
  background-color: $warning-soft !important;
}
.bg-asphalt-thin {
  background-color: $asphalt-thin !important;
}
.bg-asphalt {
  background-color: $asphalt !important;
}
.bg-asphalt-bold {
  background-color: $asphalt-bold !important;
}
.bg-behance {
  background-color: $behance !important;
}
.bg-dribble {
  background-color: $dribble !important;
}


/*************************
	Fonts variables
*************************/
$font-base-regular: 'Ubuntu-Regular';
$font-base-medium: 'Ubuntu-Medium';
$font-base-bold: 'Ubuntu-Bold';

.font-base-regular {
  font-family: $font-base-regular;
}
.font-base-meduim {
  font-family: $font-base-medium;
}
.font-base-bold {
  font-family: $font-base-bold;
}

$font-icons: 'icomoon';
.font-icons {
  font-family: $font-icons;
}

/*************************
	Base settings
*************************/
//Base color
$base-color: $gray;
//Base font
$base-font: $font-base-regular;

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 18px;
$body-font-size-md: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $pink;
$link-color-hover: $warning-soft;


/*************************
	Title variables
*************************/
$title-color: $gray-bold;
$title-font: $font-base-bold;
$title-kerning: 1.3;

/*************************
	Path variables
*************************/
$font-path: '../fonts/';
