/* Fonts icons */

//Icomoon
@font-face {
    font-family: 'icomoon';
    src: url('#{$font-path}icomoon/icomoon.eot?qm6t1g');
    src: url('#{$font-path}icomoon/icomoon.eot?qm6t1g#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon/icomoon.ttf?qm6t1g') format('truetype'),
    url('#{$font-path}icomoon/icomoon.woff?qm6t1g') format('woff'),
    url('#{$font-path}icomoon/icomoon.svg?qm6t1g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e905";
}

.icon-facebook:before {
    content: "\e900";
}

.icon-linkedin:before {
    content: "\e901";
}

.icon-twitter:before {
    content: "\e902";
}

.icon-bars:before {
    content: "\e903";
}

.icon-chevron-down:before {
    content: "\e904";
}