/* BUTTONS */


.btn {
  border-radius: $base-radius;
  padding: 6px 34px;
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &:hover, &:focus {
    box-shadow: none !important;
  }
  &.btn-outline-secondary {
    color: $asphalt;
    border-color: $asphalt;
    &:hover {
      background: $asphalt;
      border-color: $asphalt;
      color: $white;
    }
    &:focus, &:active {
      color: $asphalt;
      border-color: $asphalt;
      background: transparent;
      &:hover {
        background: $asphalt;
        border-color: $asphalt;
        color: $white;
      }
    }
  }
  &.btn-warning {
    background: $warning;
    border-color: $warning;
    color: $white;
    &:hover, &:focus, &:active {
      background: darken($warning, 10%) !important;
      border-color: darken($warning, 10%) !important;
      color: $white !important;
    }
  }
  &.btn-md {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &.btn-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.btn-long {
    @include media-breakpoint-up(lg) {
      padding-left: 165px;
      padding-right: 165px;
    }
  }
  &.btn-block-md {
    @include media-breakpoint-down(md) {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      display: block;
    }
  }
}
