/* CARD */

$card-border-color: #dcdcdc;

.card {
  border-radius: 0;
  border-color: $card-border-color;
  border-width: 2px;
}

.card--negative {
  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-right: -15px;
    border: none;
  }
}

/*.card--border-md-0 {
  @include media-breakpoint-down(md) {
    border: none;
  }
  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-right: -15px;
  }
}*/

.card-body--bordered {
  @include media-breakpoint-up(lg) {
    border-left: 2px solid $card-border-color;
  }
  @include media-breakpoint-down(md) {
    border-top: 2px solid $card-border-color;
  }
}
