/* GALLERY */


$gallery-badge-size: 152px;

.slick-list {
  //overflow: visible;
}

.gallery__item {
  position: relative;
}

.gallery-badge {
  position: absolute;
  top: -12px;
  right: -10px;
  width: $gallery-badge-size;
  height: $gallery-badge-size;
  z-index: 100;
  @include media-breakpoint-down(md) {
    top: 15px;
    right: 15px;
  }
  @include media-breakpoint-down(sm) {
    width: calc(#{$gallery-badge-size} - 40px);
    height: calc(#{$gallery-badge-size} - 40px);
  }
}

.gallery__badge {
  width: $gallery-badge-size;
  height: $gallery-badge-size;
  border-radius: 50%;
  @extend .d-flex, .align-items-center, .justify-content-center;
  color: $white;
  background: $warning;
  font-size: 84px;
  font-family: $font-thin;
  letter-spacing: -3px;
  @include media-breakpoint-down(sm) {
    width: calc(#{$gallery-badge-size} - 40px);
    height: calc(#{$gallery-badge-size} - 40px);
    font-size: 60px;
  }
}

.gallery__badge__sub {
  font-size: 30px;
  font-family: $font-light;
  letter-spacing: normal;
  bottom: -.45em;
  @include media-breakpoint-down(sm) {
    font-size: 23px;
  }
}




.slick-dots {
  >li {
    width: 20px;
    height: 20px;
    padding: 0;
    &.slick-active {
      >button {
        &:before {
          opacity: 1;
        }
      }
    }
    >button {
      border-radius: 50%;
      border: 1px solid #e5e5e5;
      background: #ffffff;
      position: relative;
      &:before {
        content: '';
        opacity: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #3b3b3c;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
