/* HAS OVERLAY */

.has-overlay {
  position: relative;
  z-index: 10;
  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(#3d4448, .97);
    width: 100%;
    height: 100%;
  }
}
