/* RATING */

.rating {
  @extend .d-inline-flex;
  color: $success;
}

.rating__item {
  @extend .font-icons;
  font-size: 20px;
  @include media-breakpoint-up(sm) {
    font-size: 26px;
  }
}

.rating__item--full {
  @extend .theme-icon-star;
}

.rating__item--half {
  @extend .theme-icon-star-half-alt;
}
