/* REVIEW */

.review {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  color: $silver;
  .rating {
    margin-bottom: 5px;
  }
}

.review__avatar {
  @extend .img-fluid, .d-block, .mx-auto, .rounded-circle;
  margin-bottom: 15px;
}

.review__title {
  font-size: 21px;
  font-family: $font-semibold;
  line-height: 100%;
  margin-bottom: 5px;
}

.review__body {
  font-family: $font-light;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  &:before, &:after {
    font-family: $font-icons;
    color: $asphalt-dark-bold;
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    content: '\e80a';
    left: -10px;
  }
  &:after {
    content: '\e815';
    right: -10px;
  }
}
