/* SCROLL INDICATOR */

$scroll-dot-size: 11px;

.scroll-indicator {
  width: 36px;
  height: 56px;
  border-radius: 23px;
  border: 2px solid $silver;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 2px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: $scroll-dot-size;
    height: $scroll-dot-size;
    border-radius: 50%;
    background: $asphalt-dark;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll-animation;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -$scroll-dot-size/2;
  }
}


@keyframes scroll-animation {
	0% {
  	opacity: 1;
	}
	100% {
    opacity: 0;
    transform: translateY(30px);
	}
}
