/* SECTION */

.section {
  position: relative;
  padding: 45px 0;
  @include media-breakpoint-up(sm) {
    padding: 65px 0;
  }
}

.section--pt-0 {
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}
