/* SECTION */

.section {
  position: relative;
  padding: 45px 0;
  @include media-breakpoint-up(sm) {
    padding: 55px 0;
  }
}

.section--sm {
  @include media-breakpoint-up(sm) {
    padding: 45px 0;
  }
}

.section--md {
  @include media-breakpoint-up(sm) {
    padding: 85px 0;
  }
}

.section--pt-0 {
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.section--pb-xl {
  padding-bottom: 95px;
  @include media-breakpoint-up(sm) {
    padding-bottom: 105px;
  }
}

.section--skew {
  @include skew(0deg, -2deg);
  >.container {
    @include skew(0deg, 2deg);
  }
}

.section--skew-top {
  padding-top: 20px;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
  &:before {
    content: '';
    height: 100px;
    top: -50px;
    left: 0;
    width: 100%;
    position: absolute;
    @include skew(0deg, -2deg);
    background: #727b83;
  }
}

.section--fixed-height {
  @include media-breakpoint-up(lg) {
    z-index: 100;
    height: 455px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: -20px;
    padding-bottom: 75px;
  }
}

.section--pt-xl {
  @include media-breakpoint-up(lg) {
    padding-top: 180px;
  }
}

.section--arrow-img {
  position: absolute;
  bottom: -134px;
  left: -50px;
  z-index: 10;
  max-width: 61px;
  @include media-breakpoint-down(lg) {
    bottom: -133px;
    left: 0;
  }
  @include media-breakpoint-down(md) {
    bottom: -131px;
    left: 15px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.section--parallax {
  padding-top: 47px;
  padding-bottom: 47px;
  @include media-breakpoint-down(sm) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.section--muted-md {
  @include media-breakpoint-down(md) {
    background: #eeeeee !important;
  }
}
