/* FOOTER */
.footer {
  border-top: 1px solid $gray;
  padding: $size-md 0;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.footer__logo {
  @extend .d-block, .mx-auto, .ml-md-0;
  max-width: 130px;
  @include media-breakpoint-up(md) {
    max-width: 185px;
  }
}

.footer__address {
  color: $gray;

  a {
    color: currentColor;

    &:focus,
    &:hover {
      color: $pink;
    }
  }
}