/* NAVBAR */
.navbar {
  @extend .sticky-top, .bg-white;
  box-shadow: $shadow-base;
  padding-top: $size-xs;
  padding-bottom: $size-xs;
  @include media-breakpoint-up(md) {
    padding-top: $size-base;
    padding-bottom: $size-base;
  }
}

.navbar-brand {
  @extend .w-100;
  max-width: 130px;
  @include media-breakpoint-up(md) {
    max-width: 185px;
  }
}

.navbar-choose-language {
  @extend .ml-auto, .d-flex, .align-items-center;
}

.navbar-choose-language__item {
  width: $size-md;
  border-radius: $radius-xs;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    width: $size-lg;
  }

  &+.navbar-choose-language__item {
    @extend .ml-3;
  }
}