<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <a href="#" class="footer__logo">
          <img src="assets/images/elements/logo-header.svg" class="w-100" alt="">
        </a>
        <div class="row">
          <div class="col-6">
            <p>1
              17 Nowlin Lane<br>
              Chattanooga, Tennessee 37421
            </p>
            <p>
              Monday - Friday<br>
              8:00 am to 5:00 pm
            </p>
            <p>
              <i class="amerital-icon-mail"></i> <a href="mailto:someemail@email.com" class="footer__link">Sales</a> | <a href="mailto:someemail@email.com" class="footer__link">Support</a>
            </p>

            <ul class="list-social d-flex mt-md-5">
              <li class="list-social__item">
                <a href="#" class="list-social__link amerital-icon-linkedin-squared"></a>
              </li>
              <li class="list-social__item">
                <a href="#" class="list-social__link amerital-icon-twitter"></a>
              </li>
              <li class="list-social__item">
                <a href="#" class="list-social__link amerital-icon-youtube-play"></a>
              </li>
              <li class="list-social__item">
                <a href="#" class="list-social__link amerital-icon-facebook-squared"></a>
              </li>
            </ul><!--social-list-->
          </div><!--col-->

          <div class="col-6">
            <p>
              Phone <br>
              <a href="tel:(423) 499-4392 " class="footer__link">(423) 499-4392 </a>
            </p>
            <p>
              Toll Free<br>
               (844) AVD-PROS
            </p>
            <p>
              Fax <br>
              <a href="fax:(423) 521-7314" class="footer__link">(423) 521-7314</a>
            </p>
            <p>
              24 Hour Emergency Services<br>
              <a href="tel:(423) 208-9600" class="footer__link">(423) 208-9600</a>
            </p>
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->

      <div class="col-lg-auto col-md-6 mb-4 mb-md-0">
        <a class="twitter-timeline" data-height="300" data-dnt="true" href="https://twitter.com/AmeritelNetwork">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div><!--col-->

      <div class="col-lg-auto col-md-6">
        <div class="fb-page"
          data-adapt-container-width="true"
          data-href="https://www.facebook.com/imdb"
          data-width="380"
          data-hide-cover="false"
          data-show-facepile="false">
        </div>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-->
</footer><!--footer-->
