<header class="header">
  <div class="container-fluid">
    <a href="#" class="header__logo d-none d-md-inline-flex">
      <img src="assets/images/elements/logo-header.svg" alt="" class="w-100">
    </a>

    <div class="header__content">
      <div class="header__content__top">
        <img src="assets/images/elements/logo-header-secondary.svg" alt="" class="header__logo-secondary d-none d-md-inline-flex">
        <a href="#" class="header__logo d-inline-flex d-md-none  mr-3 md-sm-0">
          <img src="assets/images/elements/logo-header.svg" alt="" class="w-100">
        </a>
        <div class="d-flex flex-between flex-md-column align-items-center ml-auto">
          <ul class="list-social justify-content-md-end d-flex mr-2 mr-md-0 ml-md-auto">
            <li class="list-social__item">
              <a href="#" class="list-social__link amerital-icon-linkedin-squared"></a>
            </li>
            <li class="list-social__item">
              <a href="#" class="list-social__link amerital-icon-twitter"></a>
            </li>
            <li class="list-social__item">
              <a href="#" class="list-social__link amerital-icon-youtube-play"></a>
            </li>
            <li class="list-social__item">
              <a href="#" class="list-social__link amerital-icon-facebook-squared"></a>
            </li>
          </ul><!--social-list-->
          <a href="tel:(423) 499-4392" class="header__call d-none d-lg-inline-block">
            <i class="amerital-icon-phone"></i> (423) 499-4392
          </a>
          <a href="#" class="header__cta d-inline-flex d-md-none ml-auto text-center">Get a<br class="d-sm-none"> Free Quote</a>
        </div>
      </div><!--header__content__top-->

      <nav class="navbar navbar-expand-lg">
        <a href="tel:(423) 499-4392" class="header__call d-lg-none ml-3">
          <i class="amerital-icon-phone"></i> (423) 499-4392
        </a>
        <button class="navbar-toggler d-inline-block d-lg-none py-2" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="amerital-icon-menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Training</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Why Ameritel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div><!--header__content-->

    <a href="#" class="header__cta d-none d-md-inline-flex">Get a Free Quote</a>
  </div><!--container-fluid-->
</header><!--header-->
