<div class="modal fade" id="staff-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <img src="assets/images/temp/staff-modal.png" alt="" class="img-fluid d-block mx-auto">
          </div><!--col-->

          <div class="col-md-6">
            <h4 class="mb-md-0 font-base-black">Terry Maloy</h4>
            <p class="font-base-bold">Dockworker</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div><!--col-->
        </div><!--row-->
      </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
