<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html">Consumer <span class="text-body-logo-color">Trusted</span> <br
                class="d-lg-none" />Reviews</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Who We Are?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="terms-of-use.html">Terms Of Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="privacy-policy.html">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="advertiser-disclosure.html">Advertiser Disclosure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-semibold" href="get-in-touch.html">Get In Touch</a>
                </li>
            </ul>

            <div class="navbar-social-nav">
                <a href="#" class="nav-item">
                    <i class="icon-twitter"></i>
                </a>
                <a href="#" class="nav-item">
                    <i class="icon-facebook"></i>
                </a>
                <a href="#" class="nav-item">
                    <i class="icon-instagram"></i>
                </a>
                <a href="#" class="nav-item">
                    <i class="icon-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</nav>