<!-- Modal leave feedback -->
<div class="modal fade" id="modal-feedback" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <h3 class="mb-3">Feedback</h3>
                <p class="mb-4">Wij horen graag wat wij zouden kunnen verbeteren aan onze service. Vul het onderstaande formulier in om ons op de hoogte te brengen van uw klachten, irritaties of tips.</p>

                <form action="">
                    <div class="form-group mb-5">
                        <label class="fs-18">Het probleem</label>
                        <div class="radio">
                            <input type="radio" id="feedback-form-radio-1" name="feedback-form-radio-group">
                            <label for="feedback-form-radio-1" class="radio__label">Ik heb een klacht</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="feedback-form-radio-2" name="feedback-form-radio-group">
                            <label for="feedback-form-radio-2" class="radio__label">Ik begrijp iets niet</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="feedback-form-radio-3" name="feedback-form-radio-group">
                            <label for="feedback-form-radio-3" class="radio__label">Ik irriteer mij aan iets</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="feedback-form-radio-4" name="feedback-form-radio-group">
                            <label for="feedback-form-radio-4" class="radio__label">Ik heb een behulpzame tip</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-field-beschrijf-uw-klacht" class="fs-18">Beschrijf uw klacht</label>
                            <textarea name="" id="feedback-form-field-beschrijf-uw-klacht" class="form-control" cols="" rows="" placeholder="Waarom moet ik mijn KvK-nummer geven voor een gratis appeltaart?!"></textarea>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-lg font-segoeui-semibold fs-14">Verzenden <i class="icon-arrow-right ml-2 fs-18"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Claim uw gratis afbeeldingen -->
<div class="modal fade" id="modal-сlaim-uw-gratis-afbeeldingen" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <h3 class="mb-3">Claim uw gratis afbeeldingen</h3>
                <p class="mb-4">Om uw gratis afbeeldingen te ontvangen zouden wij graag wat meer over u te weten komen. Dit doen wij om misbruik van ons systeem te voorkomen.</p>

                <form action="">
                    <div class="form-group">
                        <label for="modal-сlaim-uw-gratis-afbeeldingen-form-field-bedrijfsnaam">Bedrijfsnaam</label>
                        <input type="text" class="form-control" id="modal-сlaim-uw-gratis-afbeeldingen-form-field-bedrijfsnaam" placeholder="De Menken Keuken B.V.">
                    </div>

                    <div class="form-group">
                        <label>Branche</label>
                        <select class="selectpicker" data-width="100%">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Barbecue</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modal-сlaim-uw-gratis-afbeeldingen-form-field-KvK-nummer">
                            KvK-nummer
                            <button type="button" class="btn btn-icon fs-16 p-0 ml-2" 
                                data-toggle="popover" 
                                data-container="body" 
                                data-placement="auto"
                                data-trigger="focus hover"
                                title="Waarom is en KvK-nummer verplicht?" 
                                data-content="Wij vragen een KvK-nummer aan onze klanten om misbruik van ons systeem te voorkomen. Wij vinden het belangrijk dat bedrijven de mogelijkheid krijgen om onze service zonder kosten te kunnen testen. Dit is helaas niet mogelijk zonder beveiliging."
                                >
                                <i class="icon-information-solid"></i>
                            </button>
                        </label>
                        <input type="text" class="form-control" id="modal-сlaim-uw-gratis-afbeeldingen-form-field-KvK-nummer" placeholder="34183941">
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary-outline btn-lg font-segoeui-semibold fs-14">Ik ben geen bedrijf</button>
                        <button type="submit" class="btn btn-primary btn-lg font-segoeui-semibold fs-14 ml-2">Verder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>