<nav class="navigation">
  <a href="#" class="navigation__logo">
    <img src="img/elements/logo.svg" alt="" class="w-100">
  </a>

    <a href="#" class="btn btn-success btn-block btn-lg font-segoeui-semibold mb-4">Order aanmaken</a>

    <div class="navigation-nav">
      <a href="#" class="navigation-nav__item active"><i class="navigation-nav__icon icon-dashboard"></i> Dashboard</a>
      <a href="#" class="navigation-nav__item"><i class="navigation-nav__icon icon-collections"></i> Bestellingen</a>
      <a href="#" class="navigation-nav__item"><i class="navigation-nav__icon icon-tune"></i> Specificaties</a>
      <a href="#" class="navigation-nav__item"><i class="navigation-nav__icon icon-account-balance-wallet"></i> Facturen</a>
      <a href="#" class="navigation-nav__item"><i class="navigation-nav__icon icon-person"></i> Account</a>
      <a href="#" class="navigation-nav__item"><i class="navigation-nav__icon icon-help"></i> Help/Contact</a>
    </div>

    <div class="mt-auto">
      <h3 class="text-white mb-2">Professional</h3>

      <p class="mb-0">vanaf</p>

      <div class="price-box">
        <sup class="price-box__currency">€</sup>
        0,99
        <sub class="price-box__item">/foto</sub>
      </div>

      <a href="#" class="btn btn-success btn-block btn-lg font-segoeui-semibold mb-4">Upgrade</a>
    </div>
</nav>

<div class="navigation__overlay"></div>