/* FOOTER */

$footer-bg: $primary;
$footer-color: $white;

.footer {
  background: $footer-bg;
  color: $footer-color;
  padding: 45px 0 120px 0;
  text-align: center;
  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }
  .list-divider__link {
    color: $white;
    &:hover, &:focus {
      color: $sky;
    }
  }
}
