/* HEADER */

$header-height: 58px;
$header-height-lg: 119px;
$header-height-md: 109px;


.header {
  min-height: $header-height;
  @include media-breakpoint-up(md) {
    min-height: $header-height-md;
  }
  @include media-breakpoint-up(lg) {
    min-height: $header-height-lg;
  }
}
