/* NAVBAR */

$navbar-flag-size: 24px;
$navbar-bg: $primary;
$nav-link-color: $primary-bold;
$navbar-toggle-color: $primary;


.navbar {
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba($black, .2);
  .btn {
    &.navbar-btn-scroll {
      border-color: $sky !important;
      color: $primary !important;
      padding: 8px 9px !important;
      border-radius: 8px !important;
      text-transform: none !important;
      &:hover, &:focus {
        background: $primary !important;
        border-color: $primary !important;
      }
    }
  }
}

.navbar--top {
  background: $navbar-bg;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  min-height: 20px;
  .nav-link {
    color: $white;
    font-size: 16px;
    &:hover, &:focus {
      color: $sky;
    }
  }
}

.navbar--bottom {
  background: $white;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-nav--main {
  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
  }
  .dropdown-toggle {
    &:after {
      @include media-breakpoint-up(lg) {
        content: none !important;
      }
      font-family: 'fontello';
      content: '\e807';
      border: none;
      width: auto;
      height: auto;
      vertical-align: top;
    }
  }
  .dropdown-menu {
    @include media-breakpoint-down(md) {
      background: transparent;
    }
    @include media-breakpoint-down(sm) {
      /*max-height: 120px;
      overflow-y: auto;*/
    }
  }
  .dropdown-item {
    @include media-breakpoint-down(md) {
      color: $sky;
      font-size: 16px;
      padding-left: 54px;
      color: rgba($white, .5);
      &:hover, &:focus {
        color: $white;
        background: transparent !important;
        font-family: $font-base-bold;
      }
    }
  }
  .nav-item {
    &.active, &.show {
      .nav-link {
        border-bottom-color: $sky;
        @include media-breakpoint-down(md) {
          border-bottom-color: $white;
          color: $white;
          font-family: $font-base-bold;
        }
      }
      .dropdown-toggle {
        &:after {
          content: '\e805';
        }
      }
    }
    &:hover {
      @include media-breakpoint-up(lg) {
        .dropdown-menu {
          display: block;
        }
        .dropdown-toggle {
          &:after {
            content: '\e805';
          }
        }
        .nav-link {
          border-bottom-color: $sky;
        }
      }
    }
  }
  .nav-link {
    border-bottom: 3px solid transparent;
    @include media-breakpoint-down(md) {
      border-bottom-width: 1px;
      border-bottom-color: $white;
      color: rgba($white, .5);
      font-size: 24px;
      padding-left: 38px;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      border-bottom-color: $sky;
      @include media-breakpoint-down(md) {
        border-bottom-color: $white;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: 24px .8rem;
    }
    @include media-breakpoint-down(md) {
      padding-top: 7.5px;
      padding-bottom: 7.5px;
    }
  }
}

.navbar__flag {
  @extend .img-fluid;
  border-radius: 50%;
  width: $navbar-flag-size;
  height: $navbar-flag-size;
}

.nav-link {
  color: $nav-link-color;
  @include media-breakpoint-down(md) {
    color: $white;
    font-size: 18px;
  }
}

.navbar-brand {
  transition: none !important;
}
.navbar-brand__img {
  max-width: 200px;
  width: 100%;
}



.navbar__toggle__icon {
  @include burger(25px, 2px, 4px, $navbar-toggle-color);
}

.navbar__toggle {
  border: none;
  position: absolute;
  right: 16px;
  top: 25px;
  background: transparent;
  z-index: 5;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    right: 10px;
  }
}

.navbar__close__icon {
  @include burger(25px, 2px, 4px, $white);
}
.navbar__close {
  border: none;
  position: absolute;
  right: 5px;
  top: 35px;
  background: transparent;
  z-index: 25;
  padding: 10px;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  .navbar__close__icon {
    @include burger-to-cross;
  }
}



.navbar__collapse {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-basis: auto;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  @include media-breakpoint-down(md) {
    display: none;
    overflow-y: auto;
    background: $navbar-bg;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 15px 30px 15px;
    height: 100% !important;
    width: 100%;
    z-index: 20;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
  }
}

.navbar__collapse--is-open {
  display: flex;
}
