/* MARGIN */

.mb-6 {
  margin-bottom: 8rem !important;
}
.mb-sm-6 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 8rem !important;
  }
}
.mb-md-6 {
  @include media-breakpoint-up(md) {
    margin-bottom: 8rem !important;
  }
}
.mb-lg-6 {
  @include media-breakpoint-up(lg) {
    margin-bottom: 8rem !important;
  }
}
.mb-xl-6 {
  @include media-breakpoint-up(xl) {
    margin-bottom: 8rem !important;
  }
}
