html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: $body-font-family;
  color: $body-main-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
  background-color: $body-bg;
}

main {
  display: block;
}

.flexboxtweener,
.flexboxtweener>body {
  @extend .h-100;
}

body {
  @extend .d-flex,
  .flex-column;
  min-height: 100vh;
}


.main {
  @extend .d-flex,
  .flex-column,
  .flex-fill;

  >.container-fluid {
    @extend .d-flex,
    .flex-column,
    .flex-fill;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 20px;
  color: $heading-color;
  font-family: $heading-font;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  font-size: 42px;

  @include media-breakpoint-up(md) {
    font-size: 50px;
  }
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

button,
a {
  @include transition($base-animation);
  cursor: pointer;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($link-color, 10%);
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.heading {
  margin-bottom: 35px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
  }
}

.hr--dark {
  border-color: $gray500;
}