/* FOOTER */
.footer {
  @extend .flex-shrink-0, .bg-white;
  padding: 90px 0 80px;
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    padding: 40px 0 30px;
  }

  .social-list {
    margin-top: 12px;
    margin-bottom: 30px;
  }
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(1, 160px auto 265px);
  grid-gap: 65px;
  @include media-breakpoint-down(lg) {
    grid-gap: 30px;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 28px;
  }
}

.footer__logo {
  @extend .d-inline-block, .font-secondary, .mb-2;
  font-size: 24px;
  line-height: 1.1;
}

.footer__content {
  @include media-breakpoint-down(lg) {
    grid-gap: 25px;
  }
  @include media-breakpoint-down(md) {
    grid-gap: 10px;
  }
  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__accordion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 22px;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.footer__title {
  @extend .font-medium;
  margin-bottom: 5px;
  font-size: 16px;
}

.footer__nav {
  @extend .flex-column, .px-4, .px-sm-0;
  display: flex;
}

.footer__nav__item {
  @extend .d-block, .text-black;
  padding-top: 3px;
  padding-bottom: 3px;

  &.active {
    @extend .text-primary;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:first-of-type {
    @extend .pt-0;
  }
}

.footer__image-labels {
  @extend .flex-shrink-0;
  width: 90px;
  margin-right: 10px;
}

.footer__link {
  @extend .text-black;
  text-decoration: underline;
}