/* NAVBAR */
$navbar-desktop-height: 64px;
$navbar-mobile-height: 40px;

.navbar {
  @extend .flex-shrink-0, .bg-white, .py-0, .py-md-1, .fixed-top, .px-0;
  box-shadow: 0 1px 1px 0 #e9e9e9;
  min-height: $navbar-mobile-height;
  @include media-breakpoint-up(md) {
    min-height: $navbar-desktop-height;
  }
  @include media-breakpoint-down(md) {
    font-size: 13px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  > .container {
    @include media-breakpoint-up(xl) {
      max-width: 1320px;
    }
  }
}

.navbar-brand {
  @extend .font-secondary;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  @include media-breakpoint-up(md) {
    font-size: 26px;
  }

  > h1 {
    font-size: inherit;
  }
}

.navbar-nav {
  > .nav-item {
    &.active {
      .nav-link {
        @extend .text-primary;
      }
    }

    > .nav-link {
      color: $black;
      @include media-breakpoint-up(md) {
        margin-left: 5px;
        margin-right: 5px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 14px;
        margin-right: 14px;
      }

      &:focus,
      &:hover {
        color: $primary;
      }
    }
  }

  .dropdown-menu {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #efefef;
    margin: 0.125rem 0 0;
    padding: 0.6rem 0;
    @include media-breakpoint-up(md) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      top: 50px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }

    .dropdown-item {
      white-space: nowrap;
    }
  }
}

.navbar-toggler {
  @extend .p-0, .d-flex, .align-items-center, .d-md-none, .border-0, .position-absolute;
  right: 15px;
  top: 12px;
  width: 16px;
  height: 14px;

  &:not(.collapsed) {
    .navbar-toggler-line {
      @extend .bg-white;

      &:after,
      &:before {
        @extend .bg-muted;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.navbar-toggler-line {
  @extend .position-relative, .w-100, .bg-muted;
  @include transition($base-animation);
  border-radius: $base-radius;
  height: 2px;

  &.collapsed {
    opacity: 0;
  }

  &:after,
  &:before {
    content: '';
    @extend .position-absolute, .w-100, .bg-muted;
    @include transition($base-animation);
    border-radius: $base-radius;
    height: 2px;
    left: 0;
    opacity: 1;
  }

  &:before {
    top: -5px;
  }

  &:after {
    bottom: -5px;
  }
}

.navbar-user {
  @extend .order-1, .order-md-3, .d-md-flex, .align-items-center, .ml-lg-4, .pt-3, .pt-md-0, .mb-2, .mb-md-0;

  .dropdown-toggle {
    @extend .pr-0;

    &:before {
      content: none !important;
    }
  }

  .dropdown-menu {
    @include media-breakpoint-down(sm) {
      position: static;
      float: none;
    }
  }
}

.navbar-user-avatar {
  @extend .mr-3;
  width: 40px;
  border-radius: $base-radius;
}

.navbar-user-name {
  @extend .text-truncate;
  max-width: 105px;
  @include media-breakpoint-up(lg) {
    max-width: 140px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 250px;
  }
}

.headroom {
  @include media-breakpoint-up(md) {
    will-change: transform;
    transition: transform 200ms linear;
  }
}

.headroom--pinned {
  @include media-breakpoint-up(md) {
    transform: translateY(0%);
  }
}

.headroom--unpinned {
  @include media-breakpoint-up(md) {
    transform: translateY(calc(-100% - 10px));
  }
}