/* Fonts */

//Gotham
@font-face {
    font-family: 'Gotham-Book';
    src: url('#{$font-path}gotham/Gotham-Book.woff2') format('woff2'),
    url('#{$font-path}gotham/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('#{$font-path}gotham/Gotham-Bold.woff2') format('woff2'),
    url('#{$font-path}gotham/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}