/* MAIN */

.main {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
        margin-left: $navigation-width;
        padding: 45px 0px;
    }

    @media (min-width: 1400px) {
        padding: 45px 70px;
    }

    &--specificaties {
        @include media-breakpoint-down(lg) {
            padding-bottom: 45px + 116px;
        }
    }
}