<div class="aside-overlay"></div>

<aside class="aside">
    <a href="#" class="aside__logo">
        <img src="img/elements/logo.svg" alt="" class="w-100">
    </a>

    <div class="aside__nav">
        <a href="#" class="aside__nav__item active">
            <span class="aside__nav__item__rounded-corner"></span>
            <span class="aside__nav__inner"><i class="icon-dashboard aside__nav__icon"></i> Dashboard</span>
        </a>
        <a href="#" class="aside__nav__item">
            <span class="aside__nav__item__rounded-corner"></span>
            <span class="aside__nav__inner"><i class="icon-applicant aside__nav__icon"></i> Applicant</span>
        </a>
        <a href="#" class="aside__nav__item">
            <span class="aside__nav__item__rounded-corner"></span>
            <span class="aside__nav__inner"><i class="icon-questions aside__nav__icon"></i> Questions</span>
        </a>
    </div>

    <div class="aside__footer">
        <a href="#" class="aside__nav__item">
            <span class="aside__nav__inner"><i class="icon-questions-rounded aside__nav__icon"></i> Support</span>
        </a>
    </div>
</aside>