<footer class="footer-main">
    <div class="footer-main__top">
        <div class="container">
            <a href="#" class="header-main__logo">
                <img src="img/elements/clarity-logo.svg" alt="" class="w-100">
            </a>
        </div>
    </div>
    <div class="footer-main__bottom">
        <div class="container">
            <a href="#" class="header-main__logo">
                <img src="img/elements/clarity-logo.svg" alt="" class="w-100">
            </a>
        </div>
    </div>
</footer>