<!-- Modal -->
<div class="modal fade" id="modal-add-question" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-blue800 m-0">Add Questions</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row mb-4">
                        <div class="col-sm-5 col-xl-4">
                            <select class="custom-select custom-select--sm text-blue400">
                                <option selected>Range</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <input type="text" class="form-control form-control--sm mb-4" placeholder="Question" value="Will they cause trouble with the neighbors?">

                    <div class="box-fields mb-4">
                        <div class="box-field">
                            <input type="radio" name="box-field-radios-modal" id="box-field-modal-1">
                            <label class="box-field__label" for="box-field-modal-1">10k - 15k month</label>
                        </div>
                        <div class="box-field">
                            <input type="radio" name="box-field-radios-modal" id="box-field-modal-2">
                            <label class="box-field__label" for="box-field-modal-2">15k - 20k month</label>
                        </div>
                        <div class="box-field">
                            <input type="radio" name="box-field-radios-modal" id="box-field-modal-3">
                            <label class="box-field__label" for="box-field-modal-3">20k+ month</label>
                        </div>
                    </div>

                    <div class="d-flex">
                        <button type="submit" class="btn btn-secondary btn-md mr-4">Add</button>
                        <button type="button" class="btn btn-outline-blue btn-md" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>