<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 mb-4">
    <div class="col mb-3 mb-md-0">
        <div class="stats">
            <img src="img/temp/stats-1.png" class="w-100" alt="">
            <div class="stats__inner">
                <h3 class="stats__title">243</h3>
                <p class="fs-16 text-truncate">Applicant Request</p>
            </div>
        </div>
    </div>
    <div class="col mb-3 mb-md-0">
        <div class="stats">
            <img src="img/temp/stats-2.png" class="w-100" alt="">
            <div class="stats__inner">
                <h3 class="stats__title">23</h3>
                <p class="fs-16 text-truncate">Panding Applicant Response</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="stats">
            <img src="img/temp/stats-3.png" class="w-100" alt="">
            <div class="stats__inner">
                <h3 class="stats__title">233</h3>
                <p class="fs-16 text-truncate">Panding Reference Response</p>
            </div>
        </div>
    </div>
</div>