/* WRAPPER */

.wrapper {
    max-width: 967px;
    @extend .mx-auto,
    .shadow,
    .pb-4,
    .px-md-2;
    border: 1px solid $silver500;
    border-top: none;

    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 100px;
    }
}