/* BUTTONS */

$btn-font: $font-bold;
$btn-font-size: 14px;

.btn {
  font-family: $btn-font;
  border-radius: 22.3px;
  border: none;
  padding: 8px 24px;
  text-transform: uppercase;
  font-size: $btn-font-size;
  @include media-breakpoint-down(sm) {
    padding: 8px 16px;
    font-size: 14px;
  }
  &:hover, &:focus {
    box-shadow: none !important;
  }
  &.btn-warning {
    @include button-variants($bg: $warning, $color: $black);
  }
  &.btn-has-shadow {
    box-shadow: 0px 18px 38px 0 rgba(8, 88, 67, 0.2) !important;
  }
}
