/* HERO */

.hero {
  @include media-breakpoint-up(lg) {
    //min-height: 100vh;
  }
  padding: 0 0 40px 0;
  background-image: linear-gradient(to right top, #16493f, #186251, #1c7c62, #249772, #32b281);
  position: relative;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1270px;
    height: 100%;
    z-index: -1;
    background: url('../images/elements/net.svg') no-repeat 50% 10% / cover;
    opacity: .5;
  }
}
