/* HERO */

.hero {
  padding: 0 0 40px 0;
  background-image: linear-gradient(to right top, #16483f, #1e634f, #1c7c62, #31ab7c, #32b281);
  @include media-breakpoint-down(md) {
    padding: 0 0 30px 0;
  }
}
