/* VIDEO IFRAME */

$video-play-btn-size: 75px;
$video-play-btn-size-mobile: 45px;
$video-play-btn-bg: #195345;

.video-holder {
  position: relative;
  overflow:hidden;
	box-shadow:0 2px 30px rgba($black, .25);
  &.active {
    .embed-responsive-item {
      opacity: 1;
    }
    .btn-play-bg,
    .btn-play-video {
      display:none !important;
    }
  }
  .embed-responsive-item {
    opacity: 0;
  }
}

.btn-play-bg {
  position:absolute;
  z-index:9998;
  top:20px;
  left:20px;
  right:20px;
  bottom:20px;
  @include media-breakpoint-down(md) {
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
  }
  &:before, &:after {
    content: '';
    position: absolute;
  }
  &:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../images/elements/Group.svg') no-repeat 50% 50% / contain;
  }
}

.btn-play-video {
	position:absolute;
	z-index:9999;
	top:50%;
	left:50%;
  transform: translate(-50%, -50%);
  width: $video-play-btn-size;
  height: $video-play-btn-size;
  border-radius: 50%;
  background: $video-play-btn-bg;
  box-shadow: 0px 0px 0px 24px rgba($white, .25);
  display: flex;
  @extend .align-items-center, .justify-content-center, .font-icons, .karmaza-icon-play;
  color: $white;
  font-size: 26px;
  @include media-breakpoint-down(sm) {
    width: $video-play-btn-size-mobile;
    height: $video-play-btn-size-mobile;
    font-size: 20px;
    box-shadow: 0px 0px 0px 10px rgba($white, .25);
  }
  &:before {
    line-height: $video-play-btn-size;
    margin-left: 5px;
    @include media-breakpoint-down(sm) {
      line-height: $video-play-btn-size-mobile;
      margin-left: 3px;
    }
  }
}
