/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #0080ff;
$sky: #4db2ff;
$sky-soft: #9abde8;
$muted: #44566c;
$muted-thin: #4a5b6d;
$muted-soft: #323c47;
$silver: #e1e5e9; //Override Bootstrap color variables

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-sky {
  color: $sky !important;
}

.text-sky-soft {
  color: $sky-soft !important;
}

.text-muted {
  color: $muted !important;
}

.text-muted-thin {
  color: $muted-thin !important;
}

.text-muted-soft {
  color: $muted-soft !important;
}

.text-silver {
  color: $silver !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-sky {
  background-color: $sky !important;
}

.bg-sky-soft {
  background-color: $sky-soft !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-muted-thin {
  background-color: $muted-thin !important;
}

.bg-muted-soft {
  background-color: $muted-soft !important;
}

.bg-silver {
  background-color: $silver !important;
}
/*************************
	Fonts variables
*************************/
$font-base-regular: 'Archivo-Regular';
$font-base-semibold: 'Archivo-SemiBold';
$font-base-medium: 'Archivo-Medium';
$font-base-bold: 'Archivo-Bold';
$font-secondary-regular: 'Rubik-Regular';
$font-secondary-medium: 'Rubik-Medium';

.font-base-regular {
  font-family: $font-base-regular !important;
}

.font-base-semibold {
  font-family: $font-base-semibold !important;
}

.font-base-medium {
  font-family: $font-base-medium !important;
}

.font-base-bold {
  font-family: $font-base-bold !important;
}

.font-secondary-regular {
  font-family: $font-secondary-regular !important;
}

.font-secondary-medium {
  font-family: $font-secondary-medium !important;
}
$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $muted-soft;
$base-font: $font-base-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 15px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/
$title-font: $font-secondary-medium;