<header class="header">
    <div class="header-top">
        <div class="container">
            <a href="#" class="header__logo">
                <img src="img/elements/logo.png" alt="" class="w-100">
            </a>
            <button class="navbar-toggler d-inline-block d-lg-none shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="icon-menu"></i>
            </button>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
                <ul class="navbar-nav p-3 p-lg-0 justify-content-lg-center w-100 align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">SIGNATURE HOMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">COMMUNITIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME PLANS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">AVAILABLE HOMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GALLERY</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            FOR HOMEBUYERS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OUR STORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-primary btn-navbar fs-14">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>