<header class="header">
    <div class="header-top">
        <div class="container">
            <a href="#" class="header__logo">
                <img src="img/elements/logo.png" alt="" class="w-100">
            </a>
            <button class="navbar-toggler d-inline-block d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>