<!-- Modal -->
<div class="modal modal-video-box fade" id="modal-video" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-body p-0 position-relative">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="ratio ratio-16x9">
                    <iframe id="video-modal-iframe" src="https://www.youtube.com/embed/ruFtMWHvE98?rel=0?autoplay=1"
                        title="YouTube video" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>