<div class="tab-content beliefs-content" id="tab-beliefs">
  <div class="tab-content-inner">
    <div class="text-center">
      <h2>Core Beliefs</h2>
      <p class="sub-title">Strategic imperatives and priorities</p>
    </div>

    <div class="beliefs-block">
      <div class="circle-block">
        <div class="circle-card">
          <img src="@@webRoot/img/home/icon-ai.png" alt="" />
        </div>
        <p>Data</p>
      </div>
      <div class="circle-block">
        <div class="circle-card">
          <img src="@@webRoot/img/home/icon-data.png" alt="" />
        </div>
        <p>AI</p>
      </div>
      <div class="circle-block">
        <div class="circle-card">
          <img src="@@webRoot/img/home/icon-disks.png" alt="" />
        </div>
        <p>HPC</p>
      </div>
    </div>

    <div class="beliefs-desc">
      <p>
        In 2018, the Digital CoE was created with a vision to catalyze digital
        innovation within Shell. As part of Reshape a decision.
      </p>
    </div>
  </div>
</div>
