<div class="tab-content digital-content" id="tab-digital">
  <div class="tab-content-inner">
    <div class="text-center">
      <h2>Next-gen Digital Tech</h2>
      <p class="sub-title">Next wave of disruptive digital technology</p>
    </div>

    <div class="trends-block">
      <div class="square-card">
        <img src="@@webRoot/img/home/icon-ai.png" alt="" />
        <h3>Web 3.0</h3>
        <p>
          Web 3.0 is built upon the core concepts of decentralization, openness,
          and greater user utility.
        </p>
      </div>
      <div class="square-card">
        <img src="@@webRoot/img/home/icon-brain.png" alt="" />
        <h3>Augmented Intelligence</h3>
        <p>
          Augmented intelligence focuses on maximizing human capabilities rather
          than replacing them in the traditional AI sense.
        </p>
      </div>
      <div class="square-card">
        <img src="@@webRoot/img/home/icon-box.png" alt="" />
        <h3>Community & Values</h3>
        <p>
          A belief that thought-diversity is key to innovation, a passion to
          leverage the ingenuity of people.
        </p>
      </div>
    </div>
  </div>
</div>
