<div class="tab-content governance-content" id="tab-governance">
  <div class="tab-content-inner">
    <div class="text-center">
      <h2>Governance</h2>
    </div>

    <div class="team-main-block">
      <div class="square-card">
        <img class="team-img" src="@@webRoot/img/team/yuri.png" alt="" />
        <h3>Yuri Sebregts</h3>
        <span>Decision Executive</span>
      </div>
      <div class="square-card">
        <img class="team-img" src="@@webRoot/img/team/dan.png" alt="" />
        <h3>Dan Jeavons</h3>
        <span>Decision Executive Delegate</span>
      </div>
      <div class="square-card">
        <img class="team-img" src="@@webRoot/img/team/suchi.png" alt="" />
        <h3>Suchismita Sanyal</h3>
        <span>Technology Program Manager</span>
      </div>
    </div>

    <div class="team-members-block">
      <div class="text-center">
        <h2>DRB Members</h2>
      </div>

      <div class="square-card team-members-grid">
        <div class="team-member-item">
          <img src="@@webRoot/img/team/janine.png" alt="" />
          <p>Janine Albrecht-Webb</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/ed.png" alt="" />
          <p>Ed Ganja</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/karthik.png" alt="" />
          <p>Kartik Ranganath</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/hp.png" alt="" />
          <p>HP Calis</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/deidre.png" alt="" />
          <p>Deidre Copeland</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/deidre.png" alt="" />
          <p>Deidre Copeland</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/grischa.png" alt="" />
          <p>Grischa Sauerberg</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/backx.png" alt="" />
          <p>Merijn Backx</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/mike.png" alt="" />
          <p>Mike Ioannou</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/liz.png" alt="" />
          <p>Liz Sturman</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/nils.png" alt="" />
          <p>Nils Kappeyne</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/owen.png" alt="" />
          <p>Owen O Connell</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/hari.png" alt="" />
          <p>Hari Ramani</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/detlef.png" alt="" />
          <p>Detlef Hohl</p>
        </div>
        <div class="team-member-item">
          <img src="@@webRoot/img/team/nikhil.png" alt="" />
          <p>Nikhil Davies</p>
        </div>
      </div>
    </div>
  </div>
</div>
