<div class="tab-content partnership-content" id="tab-partnership">
  <div class="tab-content-inner">
    <div class="text-center">
      <h2>Partnerships & Ecosystems</h2>
    </div>

    <div class="partnership-block">
      <div class="partnership-info">
        <p>
          As we look to develop these new critical capabilities for Shell, one
          of the foundational principles of powering progress has been working
          customer backwards.
        </p>
        <ul class="numbered-info-list">
          <li>
            <span
              >Building deep links with credible partners in academia, the
              start-up ecosystem or in major tech firms</span
            >
          </li>
          <li>
            <span
              >Be a key player in critical national initiatives across
              countries</span
            >
          </li>
          <li>
            <span
              >Ensure that what we build is commercially relevant and explore
              licensing options</span
            >
          </li>
          <li>
            <span
              >Developing methods for us to easily open source our projects, and
              make open-source contributions</span
            >
          </li>
          <li>
            <span
              >Leverage Shell.ai as a digital innovation brand; internally &
              externally</span
            >
          </li>
        </ul>
      </div>

      <!-- Image -->
      <div class="partnership-img">
        <img src="@@webRoot/img/home/partners.png" alt="Hero Image" />
      </div>
    </div>
  </div>
</div>
