<div class="tab-content themes-content active" id="tab-themes">
  <div class="tab-content-inner">
    <h2>Strategic Digital Innovation Themes</h2>
    <div
      class="strategic-block"
      style="background-image: url('@@webRoot/img/home/bg-strategy.png')"
    >
      <div class="sb-row sb-row-header">
        <div class="sb-column">
          <p>Growth Pillar:</p>
          <span>The Future of Energy</span>
        </div>
        <div class="sb-column">
          <p>Transition Pillar:</p>
          <span>Enabling Our Strategy</span>
        </div>
        <div class="sb-column">
          <p>Upstream Pillar:</p>
          <span>Funding Our Strategy</span>
        </div>
      </div>

      <div class="sb-row">
        <a href="#" class="sb-link sb-col-40">
          Energy Trading Supply & Demand Management
        </a>
        <a href="#" class="sb-link">Autonomous WRFM</a>
      </div>
      <div class="sb-row">
        <a href="#" class="sb-link sb-col-2">
          Optimised Industrial & Energy Systems Design
        </a>
        <a href="#" class="sb-link">Accelerated Subsurface Delivery</a>
      </div>
      <div class="sb-row">
        <a href="#" class="sb-link"> Traceable Energy Products </a>
        <a href="#" class="sb-link sb-col-2">Accelerated Subsurface Delivery</a>
      </div>
      <div class="sb-row sb-centered">
        <a href="#" class="sb-link sb-col-70">
          Digital Design of Metal & Device
        </a>
      </div>
      <div class="sb-row">
        <a href="#" class="sb-link sb-col-full">
          Accelerating Sustainability
        </a>
      </div>
      <div class="sb-row">
        <a href="#" class="sb-link sb-col-full"> Adaptive Supply Chains </a>
      </div>
      <div class="sb-row">
        <a href="#" class="sb-link sb-col-full"> Customer Centric AI </a>
      </div>
      <div class="sb-row">
        <a href="#" class="sb-link sb-col-full"> Process Excellence </a>
      </div>
    </div>
  </div>
</div>
