<div class="tab-content trends-content" id="tab-trends">
  <div class="tab-content-inner">
    <div class="text-center">
      <h2>Core Trends</h2>
      <p class="sub-title">
        In 2018, the Digital CoE was created with a vision to catalyze digital
        innovation within Shell. As part of Reshape a decision.
      </p>
    </div>

    <div class="trends-block">
      <div class="square-card">
        <img src="@@webRoot/img/home/icon-ai.png" alt="" />
        <h3>Very-large-scale deep neural networks</h3>
      </div>
      <div class="square-card">
        <img src="@@webRoot/img/home/icon-brain.png" alt="" />
        <h3>Human-like intelligence and decision making</h3>
      </div>
      <div class="square-card">
        <img src="@@webRoot/img/home/icon-box.png" alt="" />
        <h3>Fast simulation of physical systems</h3>
      </div>
    </div>

    <div class="partners-block">
      <h2>Partners</h2>

      <div class="partners-logos">
        <img src="@@webRoot/img/home/partners/1.png" alt="" />
        <img src="@@webRoot/img/home/partners/2.png" alt="" />
        <img src="@@webRoot/img/home/partners/3.png" alt="" />
        <img src="@@webRoot/img/home/partners/4.png" alt="" />
        <img src="@@webRoot/img/home/partners/5.png" alt="" />
        <img src="@@webRoot/img/home/partners/6.png" alt="" />
        <img src="@@webRoot/img/home/partners/7.png" alt="" />
        <img src="@@webRoot/img/home/partners/8.png" alt="" />
      </div>
    </div>
  </div>
</div>
