/* Fonts icons */
//Fontello
@font-face {
  font-family: 'fontello';
  src: url("#{$font-path}fontello/fontello.eot?85150738");
  src: url("#{$font-path}fontello/fontello.eot?85150738#iefix") format('embedded-opentype'), url("#{$font-path}fontello/fontello.woff2?85150738") format('woff2'), url("#{$font-path}fontello/fontello.woff?85150738") format('woff'), url("#{$font-path}fontello/fontello.ttf?85150738") format('truetype'), url("#{$font-path}fontello/fontello.svg?85150738#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ams-icon-"]:before,
[class*=" ams-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ams-icon-menu:before {
  content: '\e800';
}
/* '' */
.ams-icon-share:before {
  content: '\e801';
}
/* '' */
.ams-icon-cancel:before {
  content: '\e802';
}
/* '' */
.ams-icon-quote-left-alt:before {
  content: '\e803';
}
/* '' */
.ams-icon-quote-right-alt:before {
  content: '\e804';
}
/* '' */
.ams-icon-right-dir:before {
  content: '\e805';
}
/* '' */
.ams-icon-left-dir:before {
  content: '\e806';
}
/* '' */
.ams-icon-up-big:before {
  content: '\e807';
}
/* '' */
.ams-icon-mail:before {
  content: '\e808';
}
/* '' */
.ams-icon-twitter:before {
  content: '\f099';
}
/* '' */
.ams-icon-facebook:before {
  content: '\f09a';
}
/* '' */
.ams-icon-youtube-play:before {
  content: '\f16a';
}
/* '' */
.ams-icon-facebook-squared:before {
  content: '\f308';
}
/* '' */
.ams-icon-linkedin-squared:before {
  content: '\f30c';
}
/* '' */