/* FOOTER */


.footer {
  padding: 100px 0;
  height: 260px;
  position: relative;
  &:before {
    content: '';
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	background: inherit;
  	z-index: -1;
  	bottom: 0;
  	transform-origin: right bottom;
  	transform: skewY(10deg);
  }
}

.footer__item {
  &+.footer__item {
    margin-top: 35px;
    @include media-breakpoint-down(md) {
      margin-top: 70px;
    }
  }
}
