/* Fonts icons */
//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url("#{$font-path}icomoon/icomoon.eot?i4ei7k");
  src: url("#{$font-path}icomoon/icomoon.eot?i4ei7k#iefix") format('embedded-opentype'),
  url("#{$font-path}icomoon/icomoon.ttf?i4ei7k") format('truetype'),
  url("#{$font-path}icomoon/icomoon.woff?i4ei7k") format('woff'),
  url("#{$font-path}icomoon/icomoon.svg?i4ei7k#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glycotech-icon-"],
[class*=" glycotech-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glycotech-icon-magnifying-glass:before {
  content: "\e923";
}

.glycotech-icon-arrow-circle-left:before {
  content: "\e921";
}

.glycotech-icon-arrow-circle-right:before {
  content: "\e922";
}

.glycotech-icon-medal:before {
  content: "\e920";
}

.glycotech-icon-bars:before {
  content: "\e91f";
}

.glycotech-icon-shopping-cart:before {
  content: "\e91e";
}

.glycotech-icon-file:before {
  content: "\e91d";
}

.glycotech-icon-girl-chat:before {
  content: "\e91c";
}

.glycotech-icon-file-download:before {
  content: "\e91b";
}

.glycotech-icon-box-open:before {
  content: "\e91a";
}

.glycotech-icon-arrow-down-circular:before {
  content: "\e919";
}

.glycotech-icon-down-arrow:before {
  content: "\e915";
}

.glycotech-icon-left-arrow:before {
  content: "\e916";
}

.glycotech-icon-right-arrow:before {
  content: "\e917";
}

.glycotech-icon-up-arrow:before {
  content: "\e918";
}

.glycotech-icon-address-card:before {
  content: "\e90d";
}

.glycotech-icon-cc-amex:before {
  content: "\e90e";
}

.glycotech-icon-cc-discover:before {
  content: "\e90f";
}

.glycotech-icon-cc-mastercard:before {
  content: "\e910";
}

.glycotech-icon-cc-visa:before {
  content: "\e911";
}

.glycotech-icon-file-invoice-dollar:before {
  content: "\e912";
}

.glycotech-icon-file-upload:before {
  content: "\e913";
}

.glycotech-icon-money-check-alt:before {
  content: "\e914";
}

.glycotech-icon-request:before {
  content: "\e90a";
}

.glycotech-icon-analog:before {
  content: "\e900";
}

.glycotech-icon-antibodies:before {
  content: "\e901";
}

.glycotech-icon-apparatus:before {
  content: "\e902";
}

.glycotech-icon-carbohydrates:before {
  content: "\e903";
}

.glycotech-icon-catalog:before {
  content: "\e904";
}

.glycotech-icon-contact:before {
  content: "\e905";
}

.glycotech-icon-distributor:before {
  content: "\e906";
}

.glycotech-icon-order:before {
  content: "\e907";
}

.glycotech-icon-protocol:before {
  content: "\e908";
}

.glycotech-icon-quote:before {
  content: "\e909";
}

.glycotech-icon-support:before {
  content: "\e90b";
}

.glycotech-icon-synthetic:before {
  content: "\e90c";
}

.glycotech-icon-enlarge2:before {
  content: "\e98b";
}

.glycotech-icon-menu:before {
  content: "\e9bd";
}

.glycotech-icon-link:before {
  content: "\e9cb";
}

.glycotech-icon-cross:before {
  content: "\ea0f";
}

.glycotech-icon-checkbox-checked:before {
  content: "\ea52";
}

.glycotech-icon-checkbox-unchecked:before {
  content: "\ea53";
}

.glycotech-icon-filter:before {
  content: "\ea5b";
}

.glycotech-icon-twitter:before {
  content: "\ea96";
}

.glycotech-icon-linkedin:before {
  content: "\eac9";
}

.glycotech-icon-linkedin2:before {
  content: "\eaca";
}