/* Fonts icons */
//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url("#{$font-path}icomoon/icomoon.eot?i4ei7k");
  src: url("#{$font-path}icomoon/icomoon.eot?i4ei7k#iefix") format('embedded-opentype'), url("#{$font-path}icomoon/icomoon.ttf?i4ei7k") format('truetype'), url("#{$font-path}icomoon/icomoon.woff?i4ei7k") format('woff'), url("#{$font-path}icomoon/icomoon.svg?i4ei7k#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glycotech-icon-"],
[class*=" glycotech-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glycotech-icon-request:before {
  content: "\e90a";
  color: #62615d;
}

.glycotech-icon-analog:before {
  content: "\e900";
  color: #5a5b5a;
}

.glycotech-icon-antibodies:before {
  content: "\e901";
  color: #5a5b5a;
}

.glycotech-icon-apparatus:before {
  content: "\e902";
  color: #5a5b5a;
}

.glycotech-icon-carbohydrates:before {
  content: "\e903";
  color: #5a5b5a;
}

.glycotech-icon-catalog:before {
  content: "\e904";
  color: #62615d;
}

.glycotech-icon-contact:before {
  content: "\e905";
  color: #62615d;
}

.glycotech-icon-distributor:before {
  content: "\e906";
  color: #62615d;
}

.glycotech-icon-order:before {
  content: "\e907";
  color: #62615d;
}

.glycotech-icon-protocol:before {
  content: "\e908";
  color: #5a5b5a;
}

.glycotech-icon-quote:before {
  content: "\e909";
  color: #62615d;
}

.glycotech-icon-support:before {
  content: "\e90b";
  color: #5a5b5a;
}

.glycotech-icon-synthetic:before {
  content: "\e90c";
  color: #5a5b5a;
}

.glycotech-icon-search:before {
  content: "\e986";
}

.glycotech-icon-menu:before {
  content: "\e9bd";
}

.glycotech-icon-twitter:before {
  content: "\ea96";
}

.glycotech-icon-linkedin2:before {
  content: "\eaca";
}