<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 mb-4 mb-xl-0">
                    <a href="#" class="footer__logo">
                        <img alt="img" src="img/elements/logo.png" alt="" class="w-100">
                    </a>
                </div>

                <div class="col-xl-2 col-md-3 col-6 mb-4 md-md-0">
                    <div class="footer__nav">
                        <a href="#" class="footer-nav__item footer-nav__item--heading">Support</a>
                        <a href="#" class="footer-nav__item">FAQ</a>
                        <a href="#" class="footer-nav__item">Returns</a>
                        <a href="#" class="footer-nav__item">Retrieve Quote</a>
                        <a href="#" class="footer-nav__item">Coupons</a>
                        <a href="#" class="footer-nav__item">Shipping Policy</a>
                        <a href="#" class="footer-nav__item">Return Policy</a>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-6 mb-4 md-md-0">
                    <div class="footer__nav">
                        <a href="#" class="footer-nav__item footer-nav__item--heading">About</a>
                        <a href="#" class="footer-nav__item">Company Info</a>
                        <a href="#" class="footer-nav__item">Press Releases</a>
                        <a href="#" class="footer-nav__item">Careers</a>
                        <a href="#" class="footer-nav__item">Reviews</a>
                        <a href="#" class="footer-nav__item">Investor Relations</a>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-6">
                    <div class="footer__nav">
                        <a href="#" class="footer-nav__item footer-nav__item--heading">Blogs</a>
                        <a href="#" class="footer-nav__item">In The Garage Home</a>
                        <a href="#" class="footer-nav__item">Auto Repair 101</a>
                        <a href="#" class="footer-nav__item">DIY Guides</a>
                        <a href="#" class="footer-nav__item">OBD - II Trouble Codes</a>
                        <a href="#" class="footer-nav__item">Automotive Features</a>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-6">
                    <div class="footer__nav">
                        <a href="#" class="footer-nav__item footer-nav__item--heading">Catalogs</a>
                        <a href="#" class="footer-nav__item">Shop By Make</a>
                        <a href="#" class="footer-nav__item">Shop By Parts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <p class="font-medium">© Copyright 2021 - DiscountAutoParts.com ®</p>
        </div>
    </div>
</footer>