<header class="header">
    <div class="container">
        <a href="#" class="header__logo">
            <img alt="img" src="img/elements/logo.png" alt="" class="w-100">
        </a>

        <div class="header__account">
            <!-- <div class="header__sign-in">
                <a href="#" class="header__sign-in__icon">
                    <i class="icon-user"></i>
                    <span class="header__icon-text d-md-none">Sign In</span>
                </a>
                <div class="flex-fill d-none d-md-block">
                    <a href="#" class="header__sign-in__link">Sign In</a>
                    <p class="header__create-account m-0">or <a href="#" class="text-reset">Create Account</a></p>
                </div>
            </div> -->

            <a href="#" class="header__support">
                <i class="icon-box"></i>
                <span class="header__icon-text">Support</span>
            </a>

            <a href="#" class="header__card">
                <i class="icon-shopping-cart"></i>
                <span class="badge bg-danger rounded-pill">0</span>
                <span class="header__icon-text">Cart</span>
            </a>

            <button class="navigation-toggle ms-3">
                <i class="icon-bars"></i>
                <span class="header__icon-text">Menu</span>
            </button>
        </div>

        <div id="typeahead-form" class="header__typeahead-form typeahead-form">
            <input class="form-control typeahead" type="text" placeholder="Search By Keyword, Part or Part #">
            <i class="typeahead-form__icon icon-search"></i>
        </div>
    </div>
</header>