<!-- <button class="navigation-toggle">
    <i class="icon-bars"></i>
</button> -->

<nav class="navigation">
    <div class="navigation__header">
        <button class="navigation-close btn border-0 shadow-none fs-20 text-gray400 flex-shrink-0 me-1 ps-0">
            <i class="icon-bars"></i>
        </button>
        <button type="button" class="btn btn-sky navigation-close" data-bs-toggle="modal"
            data-bs-target="#popup-vehicle-search">Shop By
            Vehicle <i class="icon-circle-right ms-3 ms-md-5"></i></button>

        <button class="navigation-close btn border-0 shadow-none fs-20 text-sky flex-shrink-0 ms-auto px-2 px-md-3">
            <i class="icon-close"></i>
        </button>
    </div>

    <div class="navigation__body">
        <p class="h4">Shop By Category</p>

        <div class="nav-menu nav-menu--has-arrow mb-md-5">
            <a href="#" class="nav-menu__item">AC Compressor, Condenser & Climate Control</a>
            <a href="#" class="nav-menu__item">Air Filters & Intake System Parts</a>
            <a href="#" class="nav-menu__item">Alternator, Starter, Tune Up & Engine Electrical</a>
            <a href="#" class="nav-menu__item">Brake Pads, Rotors, Calipers & Brake Parts</a>
            <a href="#" class="nav-menu__item">Carburetor Parts & Components</a>
            <a href="#" class="nav-menu__item">Clutch, Flywheel, Flex Plate & Clutch Parts</a>
            <a href="#" class="nav-menu__item">Diesel Fuel Injectors & Injection Parts</a>
            <a href="#" class="nav-menu__item">Drive Belts, Serpentine Belts & Components</a>
            <a href="#" class="nav-menu__item">Fuel Pump, Filters, Tanks, Caps & Fuel Delivery</a>
            <a href="#" class="nav-menu__item">Headlights, Tail Lights & Body Electrical Parts</a>
            <a href="#" class="nav-menu__item">Injectors, Oxygen Sensors, Throttle Body & Fuel Injection</a>
            <a href="#" class="nav-menu__item">Mirrors, Grilles, Body Mechanical & Trim</a>
            <a href="#" class="nav-menu__item">Mufflers, Exhaust Manifold & Exhaust System</a>
            <a href="#" class="nav-menu__item">Radiator, Fan, Thermostat, Water Pump & Cooling System</a>
            <a href="#" class="nav-menu__item">Shocks, Struts, Control Arm, Ball Joint & Suspension</a>
            <a href="#" class="nav-menu__item">Steering Rack, Pumps & Steering Parts</a>
            <a href="#" class="nav-menu__item">Timing Belts, Chains, Head Gaskets & Engine Mechanical</a>
            <a href="#" class="nav-menu__item">Transmission Filter, Mounts & Transmission Parts</a>
            <a href="#" class="nav-menu__item">Wheel Bearings, Wheels, Driveshaft & Axle</a>
        </div>

        <div class="nav-menu-secondary">
            <a href="#" class="nav-menu-secondary__item"><i class="nav-menu-secondary__icon icon-shopping-cart"></i> my
                cart
                - $0.00</a>
            <a href="#" class="nav-menu-secondary__item"><i class="nav-menu-secondary__icon icon-user"></i> my
                account</a>
            <a href="#" class="nav-menu-secondary__item"><i class="nav-menu-secondary__icon icon-live_help"></i>
                customer support</a>
        </div>
    </div>
</nav>

<div class="navigation-mask"></div>