/* Fonts */

//Heatwood
@font-face {
    font-family: 'Heatwood';
    src: url('#{$font-path}heatwood/Heatwood.woff2') format('woff2'),
    url('#{$font-path}heatwood/Heatwood.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//Manrope
@font-face {
    font-family: 'Manrope-Regular';
    src: url('#{$font-path}manrope/Manrope-Regular.woff2') format('woff2'),
    url('#{$font-path}manrope/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('#{$font-path}manrope/Manrope-Bold.woff2') format('woff2'),
    url('#{$font-path}manrope/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//Avenir
@font-face {
    font-family: 'Avenir-Book';
    src: local('Avenir Book'),
    local('Avenir-Book'),
    url('#{$font-path}Avenir/Avenir-Book.woff2') format('woff2'),
    url('#{$font-path}Avenir/Avenir-Book.woff') format('woff'),
    url('#{$font-path}Avenir/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: local('Avenir Black'),
    local('Avenir-Black'),
    url('#{$font-path}Avenir/Avenir-Black.woff2') format('woff2'),
    url('#{$font-path}Avenir/Avenir-Black.woff') format('woff'),
    url('#{$font-path}Avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}