/* Fonts */

//Heatwood
@font-face {
    font-family: 'Heatwood';
    src: url('#{$font-path}heatwood/Heatwood.woff2') format('woff2'),
    url('#{$font-path}heatwood/Heatwood.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//Manrope
@font-face {
    font-family: 'Manrope-Regular';
    src: url('#{$font-path}manrope/Manrope-Regular.woff2') format('woff2'),
    url('#{$font-path}manrope/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('#{$font-path}manrope/Manrope-Bold.woff2') format('woff2'),
    url('#{$font-path}manrope/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}