/* BUTTONS */


.btn {
  border-radius: $base-radius;
  padding: 17px 20px 10px 20px;
  font-size: 18px;
  border-width: 2px;
  &:hover, &:focus {
    box-shadow: none;
  }
  &-primary {
    @include button-variants($bg: $base-brand-color, $color: $white);
  }
  &-outline-primary {
    @include button-outline-variants($color: $base-brand-color);
  }
  &-warning {
    @include button-variants($bg: $warning, $color: $white);
  }
  &-outline-warning {
    @include button-outline-variants($color: $warning);
  }
  &-xl {
    padding: 19px 62px 14px 62px;
    @include media-breakpoint-down(sm) {
      padding: 19px 40px 14px 40px;
    }
  }
}
