/* CARD */

$card-border-color: #e6e6e6;

.card {
  @extend .rounded-0;
  border-color: $card-border-color;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.card--testimonials {
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  .card-body {
    color: $dark-soft;
    @include media-breakpoint-up(xl) {
      padding: 40px;
    }
  }
}

.card-body {
  @extend .d-md-flex, .flex-column;
}

.card-title {
  font-family: $font-base-regular;
  font-size: 24px;
  color: $black;
}

.card-btn {
  @extend .mt-auto;
}

.card-avatar {
  width: 80px;
  @include media-breakpoint-down(lg) {
    width: 55px;
  }
}

.card-avatar-body {
  @extend .flex-fill;
  min-width: 0px;
}

.card-avatar__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: $font-base-bold;
  color: $dark-soft;
  @extend .text-truncate;
}
.card-avatar__subtitle {
  font-size: 14px;
  font-family: $font-base-bold;
  color: $dark-soft;
}
