/* COLLAPSE BOX */

$collapse-box-color: #464646;
$collapse-box-trigger-color: #393939;
$collapse-box-divider: rgba(#979797, .2);

.collapse-box {
    @include media-breakpoint-down(xs) {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &+.collapse-box {
        border-top: 1px solid $collapse-box-divider;
        padding-top: 40px;
        margin-top: 40px;
    }
}

.collapse-box__header {}

.collapse-box__trigger {
    display: block;
    position: relative;
    font-size: 24px;
    color: $collapse-box-trigger-color;

    &:hover,
    &:focus {
        color: $collapse-box-trigger-color;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 10px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMTYuMSA2Mi4xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMTYuMSA2Mi4xOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzA2QzZDQjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTExNC45LDEuMmMtMS42LTEuNi00LjItMS42LTUuOCwwbC01MSw1MS4xTDcsMS4yYy0xLjYtMS42LTQuMi0xLjYtNS44LDBzLTEuNiw0LjIsMCw1LjhsNTMuOSw1My45CgkJYzAuOCwwLjgsMS44LDEuMiwyLjksMS4yYzEsMCwyLjEtMC40LDIuOS0xLjJMMTE0LjgsN0MxMTYuNSw1LjQsMTE2LjUsMi44LDExNC45LDEuMnoiLz4KPC9nPgo8L3N2Zz4K');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    &--opened {
        &:after {
            content: '';
            transform: translateY(-50%) rotate(-180deg);
        }
    }
}

.collapse-box__body {
    margin-top: 25px;
    font-size: 16px;
    color: $collapse-box-color;
}