/* FORM SEARCH */

.form-search {
  .form-group {
    @extend .position-relative;
  }

  .form-control {
    padding-left: 50px;
    border-width: 1px;
    border-color: #e5e5e5;
    @include custom-placeholder-color($color: #444444);

    &:focus {
      border-color: $success;
    }
  }

  .form-search__icon {
    @extend .position-absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    width: 17px;
  }

  .btn-submit {
    border: none;
    background-color: $success;
    width: 58px;
    border-radius: 0 $base-radius $base-radius 0;

    &:hover,
    &:focus {
      background-color: darken($success, 4%);
    }
  }

  .btn-submit__icon {
    width: 20px;
  }
}

.form-search--md {
  max-width: 900px;
  @extend .mx-auto;

  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
}