/* FORM HERO */

.form-hero {
  padding: 45px;
  background: $white;
  @include media-breakpoint-up(md) {
    max-width: 432px;
  }
  @include media-breakpoint-down(lg) {
    padding: 25px 30px;
  }
  @include media-breakpoint-down(sm) {
    background-color: rgba($black, .4);
    .custom-radio {
      label {
        color: $white;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    padding: 25px 20px;
  }
}

.form-hero__title {
  color: $dark-soft;
  @include media-breakpoint-down(sm) {
    color: $white;
  }
}
