/* FORMS */

$field-border-color: $success;
$field-border-color-focus: $success-thin;
$field-height: 59px;
$placeholder-color: #909090;
$placeholder-font-size: 14px;
$placeholder-font-style: $font-base;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: $base-radius;
	height: $field-height;
	font-size: $placeholder-font-size;
	border-color: $field-border-color;
	border-radius: $base-radius;
	border-width: 2px;
	@include media-breakpoint-up(md) {
		padding-left: 15px;
		padding-right: 15px;
	}
	@include custom-placeholder(
	  $color: $placeholder-color,
	  $font-size: $placeholder-font-size,
	  $font-family: $placeholder-font-style
	);
	&:focus {
		box-shadow: none;
		border-color: $field-border-color-focus;
	}
}

.field-has-icon {
	@extend .position-relative;
	.form-control {
		padding-left: 50px;
	}
	.field-icon {
		@extend .position-absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
	}
}

textarea.form-control {
	resize: none;
	min-height: 187px;
	padding-top: 10px;
	padding-bottom: 10px;
}

legend {
	font-size: 26px;
	font-family: $font-base-bold;
}

label {
	font-size: 15px;
	margin-bottom: .75rem;
}
