/* FORM SEARCH */

.form-search {
  .form-group {
    @extend .position-relative;
  }
  .form-control {
    padding-left: 50px;
    border-width: 1px;
    border-color: #e5e5e5;
    @include custom-placeholder-color(
      $color: #444444
    );
    &:focus {
      border-color: $success;
    }
  }
  .form-search__icon {
    @extend .position-absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    width: 17px;
  }
}
