/* HERO */

$hero-overlay: rgba($black, .24);

.hero {
  @extend .position-relative, .d-md-flex, .flex-column, .justify-content-center;
  z-index: 20;
  padding-top: calc(#{$navbar-height} + 57px);
  padding-bottom: 57px;
  @include media-breakpoint-up(md) {
    min-height: 100vh;
    height: 100vh;
  }
  @include media-breakpoint-down(sm) {
    padding-top: calc(#{$navbar-height} + 15px);
  }
  &:before {
    @include media-breakpoint-up(md) {
      content: '';
    }
    @extend .position-absolute, .w-100, .h-100;
    left: 0;
    top: 0;
    background-color: $hero-overlay;
    z-index: 1;
  }
}

.hero__image-gallery {
  @extend .position-absolute, .w-100, .h-100;
  left: 0;
  top: 0;
  .slick-list, .slick-track, .slick-slide>div {
    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }
}
.hero__image-gallery__item {
  height: 100%;
  @extend .has-bg;
  @include media-breakpoint-up(md) {
    min-height: 100vh;
    height: 100vh;
  }
}

.hero__content {
  @extend .position-relative;
  z-index: 50;
}

.hero__content-gallery {
  margin-bottom: 40px;
}

.hero__title {
  @extend .text-right, .text-white, .font-base-light, .text-uppercase;
  font-size: 35px;
  @include media-breakpoint-up(lg) {
    font-size: 45px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 60px;
  }
}

.hero__navigation {
  @extend .position-relative;
  @include media-breakpoint-down(sm) {
    margin-top: 25px;
  }
  .slick-dots {
    @extend .text-md-right;
    @include media-breakpoint-up(md) {
      position: static;
    }
  }
}
