/* HERO ABOUT */

.hero-about {
    min-height: 528px;
    @extend .has-bg,
    .position-relative;
    z-index: 20;
    color: $white;
    padding: calc(#{$navbar-height} + 45px) 0 75px 0;

    @include media-breakpoint-up(lg) {
        padding-top: calc(#{$navbar-height-desktop} + 45px);
    }

    &:before {
        content: '';
        @include gradient-y($start-color: rgba($black, .7), $end-color: rgba(#ffffff, 0), $start-percent: 0%, $end-percent: 30%);
        position: absolute;
        left: 0;
        top: 0;
        @extend .w-100,
        .h-100;
    }
}