/* INDICATOR */

$indicator-size: 8px;

.indicator {
  display: inline-block;
  border-radius: 50%;
  width: $indicator-size;
  height: $indicator-size;
}

.indicator--warning {
  background-color: #ffa300;
}
