/* OFFICES */

$offices-divider: #dedede;

.offices {
  @extend .d-lg-flex;
  color: $dark;
  font-size: 16px;
}

.offices__item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 40px 50px;

  &+.offices__item {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid $offices-divider;
    }

    @include media-breakpoint-down(md) {
      border-top: 1px solid $offices-divider;
      padding-top: 25px;
      margin-top: 25px;
    }
  }
}

.offices__title {
  color: $black;
  font-size: 20px;
  text-transform: uppercase;
}

.offices__icon {
  @extend .flex-shrink-0;
  width: 22px;
}