/* PAGINATION */

$pagination-border-color: #c6cbd4;
$pagination-color: #333333;
$pagination-size: 32px;

.pagination {

}

.page-item {
  &.disabled {
    border-color: $pagination-border-color;
    opacity: .5;
    cursor: not-allowed;
  }
  &.active {
    .page-link {
      background-color: $success;
      color: $white;
      border-color: $success;
    }
  }
  &+.page-item {
    margin-left: 4px;
  }
  &:first-child, &:last-child {
    .page-link {
      font-size: 20px;
      &:hover {
        border-color: $pagination-border-color;
        color: $success;
        background-color: transparent;
      }
    }
  }
}

.page-link {
  border-color: $pagination-border-color;
  border-radius: 2px !important;
  color:$pagination-color;
  @extend .d-inline-flex, .align-items-center, .justify-content-center;
  width: $pagination-size;
  height: $pagination-size;
  &:hover {
    background-color: $success;
    color: $white;
    border-color: $success;
  }
}
