/* SHIPMENT */

.shipment-item {
  &.shipment-item-prev {
    .shipment-item__body {
      display: none;
    }
    .shipment-item__header {
      display: block;
    }
  }
  .shipment-item__header {
    display: none;
  }
}
