/* SLICK */

/* SLICK */

$slick-dot-size: 11px;

.slick-dots {
  > li {
    width: $slick-dot-size;
    height: $slick-dot-size;
    margin: 0 20px;
    &.slick-active {
      > button {
        background: $base-brand-color;
        border-color: $base-brand-color;
        @include scale(1.2);
        &:hover {
          background: $base-brand-color;
          border-color: $base-brand-color;
        }
      }
    }
    > button {
      width: $slick-dot-size;
      height: $slick-dot-size;
      @extend .p-0, .rounded-circle;
      border: 2px solid $white;
      &:hover {
        background: $white;
      }
      &:before {
        content: none;
      }
    }
  }
}
