/* SOCIAL LIST */

$list-list-link-size: 50px;

.list-social {
	@extend .list-unstyled;
}

.list-social__item {
	display: inline-block;
	&+.list-social__item {
		margin-left: 25px;
		@include media-breakpoint-down(xs) {
			margin-left: 15px;
		}
	}
}

.list-social__link {
	border-radius: 50%;
	width: $list-list-link-size;
	height: $list-list-link-size;
	@extend .d-flex, .align-items-center, .justify-content-center, .text-white;
	font-size: 21px;
}

.list-social__link--facebook {
	background-color: #3b5998;
	&:hover, &:focus {
		background-color: darken(#3b5998, 10%);
	}
}
.list-social__link--twitter {
	background-color: #117bcd;
	&:hover, &:focus {
		background-color: darken(#117bcd, 10%);
	}
}
.list-social__link--google {
	background-color: #cd3711;
	&:hover, &:focus {
		background-color: darken(#cd3711, 10%);
	}
}
.list-social__link--instagram {
	background-color: #95106e;
	&:hover, &:focus {
		background-color: darken(#95106e, 10%);
	}
}
