/* TABLE */

$table-border-color: #dedede;
$table-thead-bg: #d5e3ec;
$table-thead-color: #03a2a6;
$table-theader-border-color: rgba(#212c61, .08);

.table {
  border: 1px solid $table-border-color;
  thead, tbody {
    tr {
      td, th {
        border-color: $table-border-color;
      }
    }
  }
  thead {
    tr {
      td, th {
        @include media-breakpoint-up(xl) {
          padding: 21px 50px 21px 30px;
        }
        padding-right: 40px;
        @extend .position-relative, .text-truncate;
        background-color: $table-thead-bg;
        border-color: $table-theader-border-color;
        color: $table-thead-color;
        border-bottom-width: 1px;
        border-left: 1px solid $table-theader-border-color;
        font-family: $font-base-medium;
      }
    }
  }
  tbody {
    tr {
      td, th {
        @include media-breakpoint-up(md) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
.table-icons-sort {
  width: 16px;
  cursor: pointer;
  @extend .position-absolute;
  right: 15px;
  transform: translateY(-50%);
  top: 50%;
}
