/* TITLE */


.title {
  font-size: 36px;

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 26px;
  }
}

.title-md {
  font-size: 40px;

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 28px;
  }
}


.title--has-boder {
  @extend .position-relative;

  &:before {
    content: '';
    @extend .position-absolute,
    .w-100;
    height: 1px;
    background-color: #dedede;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.title--has-boder__inner {
  padding-right: 30px;
  background-color: $white;
  z-index: 20;
  @extend .position-relative;
}