/* WRAPPER */


.wrapper {
  @include media-breakpoint-up(md) {
    max-width: 385px;
    margin-left: auto;
    margin-right: auto;
  }
}


.wrapper--lg {
  @include media-breakpoint-up(md) {
    max-width: 755px;
  }
}
