/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$brand: #29292b;
$danger: #e43d30;
$muted-thin: #b6b6be;
$muted: #e3e3e8;
$gray: #626265;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-brand {
  color: $brand !important;
}
.text-danger {
  color: $danger !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-brand {
  background-color: $brand !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-muted-thin {
  background-color: $muted-thin !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}



/*************************
	Fonts variables
*************************/
$font-base-book: 'SequelSansBook';
$font-base-medium: 'SequelSansMedium';
$font-base-semibold: 'SequelSansSemiBold';
$font-base-bold: 'SequelSansBold';

.text-base-book {
  font-family: $font-base-book !important;
}
.text-base-medium {
  font-family: $font-base-medium !important;
}
.text-base-semibold {
  font-family: $font-base-semibold !important;
}
.text-base-bold {
  font-family: $font-base-bold !important;
}





$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $brand;
$base-font: $font-base-book;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 10px;
$body-line-height: 1.3;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $danger;


/*************************
	Title variables
*************************/
$title-font: $font-base-semibold;

/*************************
	Border variables
*************************/
$border-color: $muted;
