/* Fonts */

//Arizona mix
@font-face {
    font-family: 'ABC-Arizona-Mix-Bold';
    src: url('#{$font-path}arizona-mix/ABCArizonaMix-Bold.woff2') format('woff2'),
        url('#{$font-path}arizona-mix/ABCArizonaMix-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//Gt america
@font-face {
    font-family: 'GT-America-Bd';
    src: url('#{$font-path}gtamerica/GTAmerica-Bd.woff2') format('woff2'),
        url('#{$font-path}gtamerica/GTAmerica-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT-America-Md';
    src: url('#{$font-path}gtamerica/GTAmerica-Md.woff2') format('woff2'),
        url('#{$font-path}gtamerica/GTAmerica-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT-America-Rg';
    src: url('#{$font-path}gtamerica/GTAmerica-Rg.woff2') format('woff2'),
        url('#{$font-path}gtamerica/GTAmerica-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

