/* BUTTONS */

$bnt-font-family: $font-secondary;
$btn-link-color: #7f7f7f;

.btn {
  font-family: $bnt-font-family;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  position: relative;
  border-width: 2px;
  border-style: solid;
  padding: 10px 20px;
  cursor: pointer;
  &:hover, &:focus, &:active {
    box-shadow: none !important;
  }
  &.btn-primary {
    background: $white;
    color: $black;
    border-color: $black;
    &:hover, &:focus, &:active {
      background: $black !important;
      border-color: $black !important;
      color: $white !important;
    }
    /*&:before, &:after {
      content: '';
    }
    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22px 0 22px 15px;
      border-color: transparent transparent transparent $white;
      position: absolute;
      right: -15px;
      top: 0px;
      z-index: 10;
    }
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 24px 0 24px 15px;
      border-color: transparent transparent transparent $black;
      position: absolute;
      right: -17px;
      top: -2px;
      z-index: 5;
    }
    .left-top-triangle, .left-bottom-triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      left: -18px;
      z-index: 10;
    }
    .left-top-triangle {
      border-width: 0px 18px 24px 0px;
      border-color: transparent $black transparent transparent;
      top: -2px;
      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 14px 24px 0px;
        border-color: transparent $white transparent transparent;
        content: '';
        position: absolute;
        z-index: 5;
        left: 4px;
        top: 2px;
      }
    }
    .left-bottom-triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 0px 24px 18px;
      border-color: transparent transparent $black transparent;
      bottom: -2px;
      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 0px 24px 16px;
        border-color: transparent transparent $white transparent;
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: -13px;
      }
    }*/
  }
  &.btn-link {
    border-color: transparent;
    color: $btn-link-color;
    font-family: $font-base-medium;
  }
  &.btn-file {
    border: none;
    padding: 12px 0;
  }
}
