/* BUTTONS */

$bnt-font-family: $font-secondary;
$btn-link-color: #7f7f7f;
$btn-fs: 16px;

.btn {
  font-family: $bnt-font-family;
  text-transform: uppercase;
  border-radius: 0;
  position: relative;
  border: 2px solid $white;
  padding: 10px 20px;
  @include transition(0ms);
  font-size: $btn-fs;
  cursor: pointer;
  &:hover, &:focus, &:active {
    box-shadow: none !important;
  }
  &.btn-primary {
    background: $white;
    color: $black;
    border-color: $black;
    border-left: none;
    border-right: none;
    &:hover, &:focus, &:active {
      background: $black !important;
      border-color: $black !important;
      color: $white !important;
      &:before {
        border-color: transparent $black transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent $black;
      }
    }
    &:before, &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10;
    }
    &:before {
      border-width: 22px 12px 22px 0px;
      border-color: transparent $white transparent transparent;
      left: -12px;
      top: 0px;
    }
    &:after {
      border-width: 22px 0px 22px 12px;
      border-color: transparent transparent transparent $white;
      right: -12px;
      top: 0px;
    }
    .btn-triangle {
      &:before {
        border-width: 24px 14px 24px 0px;
        border-color: transparent $black transparent transparent;
        left: -14px;
        top: -2px;
      }
      &:after {
        border-width: 24px 0px 24px 14px;
        border-color: transparent transparent transparent $black;
        right: -14px;
        top: -2px;
      }
    }
  }
  &.btn-black {
    background: $black;
    color: $white;
    border-color: $black;
    &:hover, &:focus, &:active {
      background: $white !important;
      border-color: $black !important;
      color: $black !important;
      &:before {
        border-color: transparent $white transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent $white;
      }
    }
    &:before, &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10;
    }
    &:before {
      border-width: 22px 12px 22px 0px;
      border-color: transparent $black transparent transparent;
      left: -12px;
      top: 0px;
    }
    &:after {
      border-width: 22px 0px 22px 12px;
      border-color: transparent transparent transparent $black;
      right: -12px;
      top: 0px;
    }
    .btn-triangle {
      &:before {
        border-width: 24px 14px 24px 0px;
        border-color: transparent $black transparent transparent;
        left: -16px;
        top: -2px;
      }
      &:after {
        border-width: 24px 0px 24px 14px;
        border-color: transparent transparent transparent $black;
        right: -16px;
        top: -2px;
      }
    }
  }
  &.btn-link {
    border-color: transparent;
    color: $btn-link-color;
    font-family: $font-base-medium;
  }
  &.btn-file {
    border: none;
    padding: 12px 0;
  }
}

.btn-triangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
}
