/* COLORS */

.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-gray-thin {
  color: $gray-thin !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-soft {
  color: $gray-soft !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-warning {
  color: $warning !important;
}
