/* COLORS */

.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-gray-thin {
  color: $gray-thin;
}
.text-gray {
  color: $gray;
}
.text-muted-thin {
  color: $muted-thin;
}
.text-muted {
  color: $muted;
}
