/* FLOATED BEHIND BOX */

.floatet-behind-box {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  padding: 0px 15px;
  z-index: -1;
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
