/* Fonts */


//Fontello
@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello/fontello.eot?48676468');
  src: url('#{$font-path}fontello/fontello.eot?48676468#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?48676468') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?48676468') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?48676468') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?48676468#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="wow-icon-"]:before, [class*=" wow-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wow-icon-basket:before { content: '\e800'; } /* '' */
.wow-icon-left-open-big:before { content: '\e801'; } /* '' */
.wow-icon-right-open-big:before { content: '\e802'; } /* '' */
.wow-icon-youtube:before { content: '\e803'; } /* '' */
.wow-icon-minus:before { content: '\e804'; } /* '' */
.wow-icon-resize-full-alt:before { content: '\e805'; } /* '' */
.wow-icon-googleplay:before { content: '\e806'; } /* '' */
.wow-icon-plus-1:before { content: '\e807'; } /* '' */
.wow-icon-picture:before { content: '\e808'; } /* '' */
.wow-icon-right-open:before { content: '\f006'; } /* '' */
.wow-icon-left-open:before { content: '\f007'; } /* '' */
.wow-icon-instagram-circled:before { content: '\f05e'; } /* '' */
.wow-icon-menu:before { content: '\f0c9'; } /* '' */
.wow-icon-twitter-circled:before { content: '\f30a'; } /* '' */
.wow-icon-facebook-circled:before { content: '\f30d'; } /* '' */
.wow-icon-gplus-circled:before { content: '\f310'; } /* '' */
.wow-icon-linkedin-circled:before { content: '\f319'; } /* '' */
