/* Fonts */


//Gotham
@font-face {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gotham/GothamBook.woff2') format('woff2'),
       url('#{$font-path}gotham/GothamBook.woff') format('woff'),
       url('#{$font-path}gotham/GothamBook.ttf') format('ttf');
}
@font-face {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gotham/GothamMedium.woff2') format('woff2'),
       url('#{$font-path}gotham/GothamMedium.woff') format('woff'),
       url('#{$font-path}gotham/GothamMedium.ttf') format('ttf');
}

//Baskerville
@font-face {
  font-family: 'BaskervilleSemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}baskerville/BaskervilleSemiBold.woff2') format('woff2'),
       url('#{$font-path}baskerville/BaskervilleSemiBold.woff') format('woff'),
       url('#{$font-path}baskerville/BaskervilleSemiBold.ttf') format('ttf');
}
