/* LIGHTBOX */

$lightbox-control-btn-color: #d3d5d6;

.lighbox {
	display: block;
	position: relative;
}

.lighbox-video {
	&:hover {
		.lighbox__btn {
			color: $white;
		}
	}
}

.lighbox__btn {
	position: absolute;
	color: $lightbox-control-btn-color;
	@extend .d-flex, .justify-content-center, .align-items-center;
	background: rgba($black, .5);
	&:before {
		font-family: $font-icons;
	}
}
.lighbox__btn--play {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 124px;
	height: 124px;
	border-radius: 50%;
	@extend .wow-icon-googleplay;
	font-size: 4rem;
	@include media-breakpoint-down(md) {
		width: 90px;
		height: 90px;
		font-size: 2.4rem;
	}
	@include media-breakpoint-down(sm) {
		width: 40px;
		height: 40px;
		font-size: 1.15rem;
	}
	&:before {
		position: relative;
		left: .5rem;
		@include media-breakpoint-down(md) {
			left: .1rem;
		}
	}
}
.lighbox__btn--resize {
	@extend .wow-icon-resize-full-alt;
	width: 56px;
	height: 36px;
	top: 0;
	right: 0;
	font-size: 1rem;
}

.lighbox__description {
	font-size: 14px;
	color: $white;
	font-family: $font-base;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 15px;
	background: rgba($black, .5);
}
