/* PRODUCT */

.product {
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  &:hover, &:focus {
    .product__img {
      opacity: .5;
    }
    .product__btn {
      opacity: 1;
      visibility: visible;
    }
  }
}
.product__img {
  @extend .mx-auto, .d-block, .img-fluid;
  margin-bottom: 20px;
  @include transition(0ms);
  @include media-breakpoint-up(lg) {
    margin-bottom: 45px;
  }
}
.product__price {
  color: $gray;
}
.product__name {
  color: $black;
}
.product__name, .product__price {
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}
.product__btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  @include transition(0ms);
}
