/* QTA */

$qta-border-color: #e8e8e8;
$qta-color: #8f8f8f;
$qta-btn-size: 37px;

.qta-box {
  max-width: 100px;
  width: 100%;
  .input-number {
    height: $qta-btn-size;
    width: $qta-btn-size;
    border: 1px solid $qta-border-color;
    border-left: none;
    border-radius: none;
    background: transparent;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    color: $qta-color;
  }
}
.btn-number {
  padding: 0;
  height: $qta-btn-size;
  width: $qta-btn-size;
  border: 1px solid $qta-border-color;
  @extend .d-flex, .justify-content-center, .align-items-center;
  text-align: center;
  color: $qta-color;
}
