/* TAG */

$tag-border: #4c4c4c;
$tag-color: #737373;

.tag {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid $tag-border;
	color: $tag-color;
	padding: 2px 8px;
	font-size: 12px;
	&:hover, &:focus {
		background: $tag-border;
		color: $white;
	}
}
