/* BUTTONS */

.btn {
  border-radius: 2px;
  font-size: 14px;
  font-family: $font-bold;
  padding: 12.5px 20px;
  &.btn-success {
    @include button-variants($bg: $success, $color: $white);
  }
  &.btn-lg {
    padding: 18.5px 30px;
  }
  &.btn-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.btn-sm-block {
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
      display: block;
      width: 100%;
    }
  }
}
