/* FORMS */

$field-height: 48px;
$field-font-size: 12px;
$field-font-family: $font-medium;
$field-border-color: #dddddd;
$field-color: $black;
$placeholder-opacity: 0;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
	color: $field-color;
	border-color: $field-border-color;
	height: $field-height;
	font-size: $field-font-size;
	font-family: $field-font-family;
	@include custom-placeholder($color: $field-color, $font-size: $field-font-size, $font-family: $field-font-family);
	&:focus {
		border-color: darken($field-border-color, 10%);
		box-shadow: none;
		@include custom-placeholder-opacity($opacity: $placeholder-opacity);
	}
}

.form-group {
	margin-bottom: 5px;
}
