/* GALLERY */

.slick-arrow {
  background: transparent;
  border: none;
  color: transparent;
  font-size: 0;
  @extend .font-icons;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:before {
    color: $pink;
    font-size: 22px;
  }
}
.slick-prev {
  @extend .vacci-icon-arrow-left;
  left: 5px;
}
.slick-next {
  @extend .vacci-icon-arrow-right;
  right: 5px;
}


.gallery--testiminial {
  .slick-arrow {
    top: 73px;
    transform: translateY(0%);
  }
}
