/* HERO */

.hero {
  @media (min-width: 1500px) {
    padding: 148px 0 60px 0;
  }
  padding: 80px 0 60px 0;
  background: url('../images/bg/hero-bg-desktop.png') no-repeat top center / 100%;
  border-bottom: 1px solid $silver;
  color: $white;
  @include media-breakpoint-down(lg) {
    background-size: 160%;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    padding: 24px 0 50px 0;
  }
  @include media-breakpoint-down(sm) {
    background-image: url('../images/bg/hero-bg-mobile.png');
    background-size: 100%;
  }
  @include media-breakpoint-down(xs) {
    font-size: 12px;
    color: $black;
  }
}

.hero__logo {
  display: block;
  max-width: 182px;
  margin-bottom: 68px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(md) {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 190px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 53%;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 65%;
  }
}

.hero__panel {
  background: $white;
  padding: 40px 25px;
  @include media-breakpoint-down(md) {
    padding: 25px 20px;
    background: $pink;
  }
  .form-control {
    @include media-breakpoint-down(md) {
      border: none;
    }
  }
}

.hero__panel__title {
  color: $pink;
  font-family: $font-bold;
  @include media-breakpoint-down(md) {
    color: $success;
    font-size: 16px;
    font-family: $font-medium;
  }
}

.hero__panel__subtitle {
  color: $muted;
  @include media-breakpoint-down(md) {
    color: $white;
    font-size: 14px;
  }
}

.hero__content {
  margin-bottom: 30px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 100px;
  }
}

.hero-list {
  @extend .list-unstyled, .d-flex, .align-items-start, .justify-content-around;
  color: $black;
  @include media-breakpoint-down(xs) {
    font-size: 9px;
  }
}

.hero-list__description {
  @include media-breakpoint-down(sm) {
    font-family: $font-medium;
  }
}
.hero-list__item {
  @extend .d-flex, .flex-column, .flex-md-row, .align-items-center;
  max-width: 265px;
  @extend .px-1;
}

.hero-list__icon {
  font-size: 42px;
  color: $success;
  @include media-breakpoint-up(md) {
    margin-right: 5px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}

.hero-list__title {
  font-size: 16px;
  font-family: $font-medium;
  text-transform: uppercase;
  @include media-breakpoint-up(sm) {
    font-size: 24px;
    font-family: $font-bold;
  }
}
