/* TESTIMONIAL */


.testimonial-avatar {
  @extend .img-fluid, .d-block, .mx-auto, .rounded-circle;
  max-width: 180px;
  width: 100%;
}

.testimonial-quote {
  margin-left: -10px;
  color: $muted-bold;
  font-size: 20px;
}
