/* HEADER */
$header-mobile-height: 51px;

.header {
  @include media-breakpoint-down(sm) {
    min-height: $header-mobile-height;
  }

  >.container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #search_field_holder_desktop {
    .search-field {
      @extend .d-flex,
      .flex-wrap,
      .justify-content-end,
      .m-0;
      width: 363px;
    }
  }

  #search_field_holder_mobile {
    .search-field {
      @extend .bg-crimson,
      .w-100,
      .px-3,
      .py-2,
      .d-flex,
      .align-items-center;
      width: 100%;
      min-height: $header-mobile-height;

      #search-form {
        @extend .position-relative,
        .w-100;
      }
    }
  }
}

.header__top {
  @extend .px-3,
  .px-md-0,
  .d-flex,
  .justify-content-center,
  .justify-content-md-between;
  border-bottom: 1px solid $gray-thin;
  min-height: 51px;
  position: relative;

  @include media-breakpoint-up(md) {
    border-color: $sand;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include media-breakpoint-down(sm) {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 960;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navbar-nav {
    margin-bottom: 12px;
    padding-top: 1px;

    >.nav-item {
      &+.nav-item {
        @include media-breakpoint-up(md) {
          @include themify($themes) {
            border-color: themed('headerNavbarItemBorderColor');
          }
        }
      }

      >.nav-link {
        transition: none;
        //line-height: 15px;
        padding-left: 10px;
        padding-right: 10px;

        @include themify($themes) {
          color: themed('headerNavbarLink');
        }
      }
    }
  }
}

.header__highlight {
  @extend .d-none,
  .d-lg-block,
  .position-absolute;
  left: 350px;
  top: 18px;
}

.header__logo {
  @extend .d-inline-block,
  .mr-md-auto,
  .flex-shrink-0;
  width: 114px;

  @include media-breakpoint-up(md) {
    width: 222px;
  }

  &:focus {
    @include themify($themes) {
      outline: auto 1px themed('themeColor') !important;
    }
  }
}

.header__content {
  @extend .d-flex,
  .justify-content-end;
  min-width: 0;

  @include media-breakpoint-up(md) {
    flex: 1 1 auto !important;
    padding-left: 40px;
    margin-left: 40px;
    border-left: 1px solid $silver-soft;
  }
}

.header__dropdown-toggle {
  @extend .btn,
  .border-0,
  .p-0,
  .fs-25,
  .shadow-none;

  @include themify($themes) {
    color: themed('themeColor');
  }

  &:after {
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
  }
}

.header__dropdown-toggle-text {
  @extend .d-none,
  .d-md-inline-block,
  .ml-2,
  .font-base-regular;
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}