/* IMAGE */

.img-left {
  @include media-breakpoint-up(md) {
    float: left;
    margin: 0px 15px 15px 0;
  }
  @include media-breakpoint-down(sm) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}
