
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	font-family: $body-font-family;
	color: $body-main-color;
	font-size: $body-font-size;
}


body {
	min-height: 100vh;
	@include media-breakpoint-up(md) {
    padding-top: $navbar-desktop-height;
  }
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: $title-font-weight;
	font-family: $title-font-family;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, .h1 {
}
h2, .h2 {
}
h3, .h3 {
}
h4, .h4 {
}
h5, .h5 {
}
h6, .h6 {
}

button, a {
	@include transition(250ms);
	cursor: pointer;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: darken($link-color, 10%);
		text-decoration: none;
	}
}

.underline {
	text-decoration: underline;
	&:hover, &:focus {
		text-decoration: none;
	}
}

p {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}
