/* NAVBAR */


$navbar-bg: $white;
$navbar-height: 78px;
$navbar-item-color: $gray-light;
$navbar-item-active-color: $blue;

.navbar {
  @include transition(450ms);
  border-bottom: 1px solid $silver;
  @include media-breakpoint-up(lg) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  @include media-breakpoint-down(md) {
    box-shadow: 0 2px 42px rgba($black, 0.1);
    background: $navbar-bg;
    min-height: $navbar-height;
  }
}

.navbar--animated {
  @include media-breakpoint-up(lg) {
    box-shadow: 0 2px 42px rgba($black, 0.1);
    background: $navbar-bg;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-brand {
  max-width: 158px;
  @include media-breakpoint-down(md) {
    max-width: 130px;
  }
}

.navbar-nav {
  >.nav-item {
    &.active {
      >.nav-link {
        color: $navbar-item-active-color
      }
    }
    >.nav-link {
      text-transform: uppercase;
      font-family: $font-bold;
      color: $navbar-item-color;
      @include media-breakpoint-up(lg) {
        padding-left: 25px;
        padding-right: 25px;
      }
      &:hover, &.active {
        color: $navbar-item-active-color
      }
    }
  }
}

.navbar-toggler {
  color: $blue;
  border: none;
  padding: 0;
  font-size: 26px;
}
