/* FOOTER */

$footer-social-list-item-size: 28px;
.footer {
    @extend .bg-black50;
    padding: 40px 0;
    @include media-breakpoint-up(md) {
        padding: 72px 0 90px 0;
    }
}

.footer__logo {
    @extend .d-block,
    .mx-auto,
    .mb-5;
    width: 150px;
}

.footer__divider {
    height: 1px;
    background-color: rgba($white, .2);
    margin-top: 25px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
        margin-top: 65px;
    }
}

.footer__nav {
    @extend .d-flex,
    .flex-wrap,
    .justify-content-center;
}

.footer__nav-item {
    @extend .text-white,
    .font-manrope-regular,
    .my-1;
    margin-right: 30px;
    font-size: 16px;
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
    &:hover,
    &:focus,
    &:active {
        @extend .text-warning;
    }
}

.footer__social-list {
    @extend .d-flex;
}

.footer__social-list-item {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center,
    .rounded-circle,
    .text-white,
    .fs-15;
    height: $footer-social-list-item-size;
    width: $footer-social-list-item-size;
    background-color: rgba($white, .1);
    &:hover,
    &:focus,
    &:active {
        background-color: rgba($white, .3);
    }
    &+.footer__social-list-item {
        margin-left: 18px;
    }
}