/* NAV BOX */

.nav-box {
    @extend .bg-silver300;
    padding: 20px 0;
    @include media-breakpoint-up(md) {
        padding: 47px 0 0px 0;
    }
}

.nav-box__nav {
    @extend .d-flex,
    .flex-column,
    .flex-md-row,
    .flex-wrap;
}

.nav-box__link {
    padding: 10px 15px;
    font-size: 16px;
    @extend .text-muted,
    .font-bergentext-regular,
    .position-relative;
    @include media-breakpoint-up(md) {
        padding: 20px 20px;
        font-size: 18px;
    }
    &.active {
        @extend .text-danger,
        .font-bergentext-semibold;
        &:after {
            content: '';
            @extend .position-absolute,
            .w-100,
            .bg-danger;
            left: 0;
            bottom: 0;
            height: 4px;
        }
    }
    &:hover,
    &:focus,
    &:active {
        @extend .text-danger;
    }
}