/* NAVBAR */

.navbar {
    background-color: rgba(29, 28, 30, 0.97);
    @include media-breakpoint-up(lg) {
        padding-top: 39px;
        padding-bottom: 39px;
    }
    &-transparent {
        @include media-breakpoint-up(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 30;
            width: 100%;
        }
        @include media-breakpoint-down(md) {
            background-color: $black100;
        }
    }
}

.navbar-brand {
    @extend .d-block;
    width: 73px;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            @extend .fs-18,
            .text-white,
            .font-bergentext-regular;
            @include media-breakpoint-up(lg) {
                padding-left: 20px;
                padding-right: 20px;
            }
            &:hover,
            &:focus,
            &:active {
                @extend .text-warning;
            }
        }
    }
}

.navbar-toggler {
    @extend .border-0,
    .text-warning,
    .fs-24;
}