/* BLOCKQUOTE */

.blockquote {
  font-family: $font-medium;
  font-style: italic;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}

.blockquote__icon {
  opacity: .7;
}
.blockquote-footer {
  color: $white;
  opacity: .7;
}
