/* CARD */

$card-bg: $white;
$card-bg-hover: #e6e6e6;
$card-caption-color: #a09e99;
$card-body-color: #808285;

.card {
  display: block;
  padding: 15px;
  background: $card-bg;
  border-radius: 0;
  border: none;
  @include transition(250ms);
  &:hover, &:focus {
    background: $card-bg-hover;
    .card__caption {
      opacity: 1;
    }
  }
}
.card__header {
  position: relative;
  margin-bottom: 20px;
}
.card__header--has-divider {
  &:before {
    content: '';
    position: absolute;
    left: -27px;
    top: 0;
    width: 12px;
    height: 100%;
    background: $danger;
    @include media-breakpoint-down(sm) {
      content: none;
    }
  }
}
.card__caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .7);
  @include transition(250ms);
  @extend .d-flex, .justify-content-center, .align-items-center, .flex-column;
  color: $card-caption-color;
  font-size: 12px;
  text-transform: uppercase;
  @include text-truncate();
  padding: 0 15px;
  opacity: 0;
  @include media-breakpoint-down(md) {
    font-size: 8px;
  }
  >* {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.card__caption__title {
  font-size: 18px;
  color: $white;
  max-width: 100%;
  @include text-truncate();
  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}
.card__caption__divider {
  width: 80%;
  height: 1px;
  background: $danger;
  margin: 5px auto !important;
}
.card__caption__icon {
  font-size: 20px;
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}


.card__body {
  color: $card-body-color;
  position: relative;
}
.card__body--has-divider {
  padding-left: 30px;
  @include media-breakpoint-down(md) {
    padding-left: 15px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background: $danger;
    @include media-breakpoint-down(md) {
      width: 6px;
      height: 40px;
    }
  }
}
.card__body__title {
  margin-bottom: 5px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
}
