/* DROPDOWN */

$dropdown-bg: rgba(#2b2e31, .7);
$dropdown-color: $white;
$dropdown-fs: 14px;
$dropdow-border-color: rgba(#323232, .3s);

.dropdown-menu {
  border-radius: 0;
  border: none;
  background: $dropdown-bg;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-item {
  color: $dropdown-color;
  font-size: $dropdown-fs;
  padding: 10px;
  &:hover, &:focus {
    color: $danger;
    background: transparent;
  }
  &+.dropdown-item {
    border-top: 1px solid $dropdow-border-color;
  }
}
