/* Fonts */

//Din
@font-face {
  font-family: 'DinRegular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Din/DinRegular.woff2') format('woff2'),
       url('#{$font-path}Din/DinRegular.woff') format('woff'),
       url('#{$font-path}Din/DinRegular.ttf') format('ttf');
}

@font-face {
  font-family: 'DinMedium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Din/DinMedium.woff2') format('woff2'),
       url('#{$font-path}Din/DinMedium.woff') format('woff'),
       url('#{$font-path}Din/DinMedium.ttf') format('ttf');
}

@font-face {
  font-family: 'DinBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Din/DinBold.woff2') format('woff2'),
       url('#{$font-path}Din/DinBold.woff') format('woff'),
       url('#{$font-path}Din/DinBold.ttf') format('ttf');
}
