/* FORMS */

$field-height: 40px;
$field-bg: #d4d5d6;
$field-color: $black;
$field-font-style: $font-medium;
$placeholder-color: #cacaca;
$placeholder-font-size: 18px;
$placeholder-font-style: $font-medium;
$placeholder-opacity: 0;

.form-group {
	@include media-breakpoint-up(lg) {
		margin-bottom: 1.5rem;
	}
}
.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
	height: $field-height;
	border: none;
	background: $field-bg;
	font-family: $field-font-style;
	color: $field-color;
	@include custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style);
	&:focus {
		@include custom-placeholder-opacity($opacity: $placeholder-opacity);
		background: darken($field-bg, 5%);
		color: $field-color;
	}
}
.form-control--white {
	background: $white;
}
select.form-control:not([size]):not([multiple]) {
	height: $field-height;
}
select.form-control, select {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIGhlaWdodD0iMzJweCIgaWQ9InN2ZzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2RpcG9kaS0wLmR0ZCIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgaWQ9ImJhY2tncm91bmQiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIvPjwvZz48ZyBpZD0iYXJyb3dfeDVGX2Rvd24iPjxwb2x5Z29uIHBvaW50cz0iMi4wMDIsMTAgMTYuMDAxLDI0IDMwLjAwMiwxMCAgIi8+PC9nPjwvc3ZnPg==');
	background-position: right 5px center;
	background-size: 20px 14px;
	background-repeat: no-repeat;
}
textarea {
	resize: none;
	min-height: 340px;
	@include media-breakpoint-up(sm) {
		min-height: 240px;
	}
}
label {
	@include media-breakpoint-up(lg) {
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: -1px;
	}
}


.subscribe__form-title {
	font-size: 30px;
	@include media-breakpoint-down(lg) {
		font-size: 20px;
	}
	@include media-breakpoint-down(xs) {
		font-size: 16px;
	}
}
.subscribe__submit {
	background: transparent;
	border: none;
	color: $white;
	padding: 0 5px;
}
.subscribe__field {
	@include media-breakpoint-up(md) {
		min-width: 320px;
	}
}
