/* HAS DIVIDER */

.has-divider {
  position: relative;
  @include media-breakpoint-up(md) {
    padding-left: 44px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 12px;
      height: 178px;
      background: $danger;
    }
  }
}
.has-divider--sm {
  @include media-breakpoint-up(md) {
    padding-left: 26px;
  }
}
.has-divider--full {
  &:before {
    content: '';
    height: 100%;
  }
}
