/* HERO */

.hero {
   min-height: 400px;
   padding: 25px 15px;
   @extend .d-flex, .justify-content-center, .align-items-center;
   @include media-breakpoint-down(md) {
     min-height: 300px;
   }
   @include media-breakpoint-down(sm) {
     min-height: 240px;
   }
}
