/* PANEL */



.panel {
  position: relative;
  text-align: center;
}

.panel__icon {
  font-size: 50px;
  color: $danger;
  display: inline-block;
  margin-bottom: 20px;
  text-shadow: 1px 3px 5px rgba($black, .4);
}
.panel__title {
  color: $danger;
  font-size: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}
