/* SECTION */

.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  @include media-breakpoint-down(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section--sm {
  padding-top: 45px;
  padding-bottom: 45px;
}
