/* VARIABLES */


/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Red group */
$shiraz: #c30e2e; //Danger color
/* Gray grop */
$oslo-gray: #939598; //Muted color
$iron: #d4d5d6; //Gray
$gray-soft: #918f8f; //Gray soft


/*************************
	Global color variables
*************************/
$danger: $shiraz;
$muted: $oslo-gray;
$gray: $iron;
$gray-soft: $gray-soft;

$body-color: $black;

/*************************
	Fonts variable
*************************/
$font-base: 'DinRegular';
$font-medium: 'DinMedium';
$font-bold: 'DinBold';

$font-icons: 'fontello';

$body-font: $font-base;

/*************************
	Body variable
*************************/
$body-font-family: $body-font;
$body-font-size: 18px;
$body-font-size-xs: 14px;
$body-line-height: 1.35;
$body-main-color: $body-color;


/*************************
	Links color variable
*************************/
$link-color: $danger;

/*************************
	Title color variable
*************************/
$title-color: $black;
$title-ff: $font-medium;

/*************************
	Font path variable
*************************/
$font-path: '../fonts/';
