/* Fonts */
//Din Pro
@font-face {
  font-family: 'DINProLight';
  src: url("#{$font-path}/dinpro/DINPro-Light.woff2") format('woff2'), url("#{$font-path}/dinpro/DINPro-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DINProBold';
  src: url("#{$font-path}/dinpro/DINPro-Bold.woff2") format('woff2'), url("#{$font-path}/dinpro/DINPro-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}