/* HEADER */

.header {
  @extend .d-flex, .align-items-center, .justify-content-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  z-index: 30;
  @include media-breakpoint-down(sm) {
    padding: 20px 15px;
  }
}

.header__logo {
  display: inline-block;
  width: 100%;
  max-width: 242px;
  margin-right: 20px;
  @include media-breakpoint-down(xs) {
    max-width: 155px;
  }
}
