/* BOX */

$box-animation: 550ms;

.box {
    @extend .position-relative,
    .d-block,
    .mb-3,
    .overflow-hidden,
    .text-uppercase,
    .text-white;

    &:hover,
    &:active {
        &:before {
            @extend .h-100;
        }

        .box__content {
            height: auto;
            opacity: 1;
            transform: translateY(0%);
        }
    }

    &:before {
        content: '';
        @extend .position-absolute,
        .w-100;
        height: 50px;
        background-color: darken($silver, 60%);
        opacity: .5;
        @include transition($box-animation);
        transform: translateY(-50%);
        top: 50%;
    }
}

.box__inner {
    @extend .position-absolute,
    .w-100,
    .text-center;
    transform: translateY(-50%);
    top: 50%;
}

.box__content {
    @extend .position-relative,
    .px-3,
    .mt-2;
    @include transition($box-animation);
    transform: translateY(150%);
    height: 0;
    opacity: 0;
}

.box__btn {
    @extend .w-100,
    .p-1,
    .d-block;
    border: 1px solid $white;
}