/* CORE BOX */

.core-box {
    @extend .position-relative,
    .pr-4,
    .w-100,
    .d-flex,
    .flex-column;

    &:before {
        content: '';
        @extend .position-absolute,
        .bg-gold,
        .h-100;
        top: 0;
        right: 0;
        width: 10px;
    }
}