/* HERO GALLERY */

.hero-gallery {
    .swiper-slide {
        @extend .position-relative;
    }
}

.hero-gallery__button-prev,
.hero-gallery__button-next {
    @extend .position-absolute,
    .font-icons,
    .text-silver,
    .d-flex;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 30px;
    box-shadow: 0px 0px 4px 1px rgba($black, .45);
    line-height: 0.9;
    border-radius: 50%;
    transition: $base-animation;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        @extend .text-gold;
    }
}

.hero-gallery__button-prev {
    @extend .icon-arrow-circle-left;
    left: 1rem;
}

.hero-gallery__button-next {
    @extend .icon-arrow-circle-right;
    right: 1rem;
}

.hero-gallery__content {
    @extend .position-absolute,
    .h-100,
    .w-100,
    .d-flex,
    .justify-content-end,
    .align-items-center,
    .text-center,
    .flex-column,
    .p-3;
    left: 0;
    top: 0;
    z-index: 5;
}

.hero-gallery__title {
    @extend .text-white,
    .title;
    font-size: 20px;

    @include media-breakpoint-up(md) {
        font-size: 30px;
    }
}