/* VIEW ALL */

.view-all {
    @extend .d-block,
    .position-relative;

    &:before {
        content: 'VIEW ALL';
        @extend .position-absolute,
        .w-100,
        .h-100,
        .d-flex,
        .justify-content-center,
        .align-items-end,
        .lead,
        .text-white,
        .text-uppercase,
        .p-3,
        .font-avenir-black;
        background: rgba($black, .25);
        left: 0;
        top: 0;
    }
}