/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;
$base-radius: 8px;

/*************************
	Fonts variables
*************************/
$font-book: 'SharpGroteskBook20';

.font-book {
	font-family: $font-book !important;
}

$font-medium: 'SharpGroteskMedium20';

.font-medium {
	font-family: $font-medium !important;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size-desktop: 16px;
$body-font-size-mobile: 14px;
$body-line-height: 1.6;
$body-primary-color: $primary100;


/*************************
	Heading variables
*************************/
$heading-font: $font-medium;
$heding-color: $primary;