/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
*************************/
$font-base-regular: 'GT-America-Rg';
.font-base-regular {
	font-family: $font-base-regular;
}
$font-base-medium: 'GT-America-Md';
.font-base-medium {
	font-family: $font-base-medium;
}
$font-base-bold: 'GT-America-Bd';
.font-base-bold {
	font-family: $font-base-bold;
}

$font-secondary-bold: 'ABC-Arizona-Mix-Bold';
.font-secondary-bold {
	font-family: $font-secondary-bold;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size: 17px;
$body-line-height: 1.8;
$body-primary-color: $gray;


/*************************
	Heading variables
*************************/
$heading-font: $font-secondary-bold;
$heading-color: $blue;