/* BUTTONS */

.btn-cta {
    @extend .d-block,
    .text-white,
    .text-center;
    cursor: pointer;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #3f9900;
    background: linear-gradient(0deg, rgba(63, 153, 0, 1) 0, rgba(123, 195, 0, 1) 76%);
    border-radius: 50px;
    text-shadow: 3px 3px 3px rgba($black, 50%);
    font-size: 25px;
    letter-spacing: .02em;
    font-weight: 800;
    text-decoration: none;
}