/* REDIRECT BOX */

.redirect-box {
    @extend .position-fixed,
    .text-center,
    .d-none,
    .justify-content-center,
    .align-items-center,
    .w-100,
    .h-100,
    .text-white;
    left: 0;
    top: 0;
    background-color: rgba($black, .65);
    z-index: 9999;

    &.redirect-box--is-active {
        @extend .d-flex;
    }

    .progress {
        @extend .mx-auto;
        max-width: 260px;
    }
}