/* ACCORDION */

.accordion-item {
	@extend .border-top-0,
	.border-start-0,
	.border-end-0,
	.rounded-0;
	padding: 20px 0;
	border-color: $gray-100;

	@include media-breakpoint-up(md) {
		padding: 25px 0;
	}

	&:last-of-type {
		@extend .border-bottom-0;
	}
}

.accordion-button {
	@extend .p-0,
	.d-flex,
	.align-items-center,
	.justify-content-between,
	.bg-transparent,
	.shadow-none,
	.text-dark-700,
	.font-base-semibold;
	gap: 20px;
	font-size: 18px;

	@include media-breakpoint-up(md) {
		font-size: 24px;
	}

	&.collapsed {
		&:after {
			content: "\e90c";
		}
	}

	&:after {
		@extend .flex-shrink-0,
		.d-inline-flex,
		.align-items-center,
		.justify-content-center,
		.rounded-circle,
		.bg-dark-700,
		.text-white,
		.fs-16;
		width: 24px;
		height: 24px;
		transform: rotate(0) !important;
		background-image: none !important;
		font-family: 'icomoon';
		content: "\e90d";
	}
}

.accordion-body {
	@extend .px-0,
	.pb-0;
	padding-top: 8px;

	@include media-breakpoint-up(md) {
		padding-top: 26px;
		font-size: 18px;
		max-width: 85%;
	}
}