/* BUTTONS */

.btn {
	border-radius: 4px;
	padding: 8px 28px;

	&-primary {
		@include button-variants($bg: $primary, $color: $white);
	}

	&-link-primary {
		@include button-link-variants($color: $primary);
	}

	&-long {
		padding-left: 40px;
		padding-right: 40px;
	}

	&-lg {
		padding: 10px 28px;
		font-size: 14px;

		@include media-breakpoint-up(md) {
			font-size: 16px;
			padding: 12px 28px;
		}
	}

	&-md {
		padding: 9px 28px;
		font-size: 14px;

		@include media-breakpoint-up(md) {
			font-size: 16px;
			padding: 10px 28px;
		}
	}
}
