/* CARD */

.card {
	@extend .position-relative;
	border-radius: 20px;
	background-color: $white;
	padding: 35px 25px;
	border: none;

	&--shadow {
		box-shadow: 0 2px 35px 0 rgba(126, 186, 255, 0.25);
	}
}

.card-title {
	color: $blue-500;
	margin-bottom: 30px;
	font-size: 22px;
	font-family: $font-base-bold;
}

.card-text {
	font-size: 18px;
	line-height: 1.67;
	color: $gray-600;
	font-family: $font-base-medium;
}