/* FIX RENT */

.fix-rent-banner {
	@extend .w-100;
	border-radius: 12px 12px 0 0;
	margin-bottom: 10px;

	@include media-breakpoint-up(md) {
		border-radius: 0 0 20px 20px;
		margin-bottom: 24px;
	}
}

.fix-rent-box {
	background-color: $white;
	padding: 20px;

	@include media-breakpoint-up(md) {
		background-color: transparent;
		padding: 0 30px;
	}
}

.fix-rent-grid {
	@extend .d-flex,
	.flex-column,
	.flex-xl-row;
	gap: 20px;

	@include media-breakpoint-up(xl) {
		gap: 40px;
	}
}

.fix-rent-box {
	@include media-breakpoint-up(xl) {
		width: 396px;
		flex-shrink: 0;
	}
}

.fix-rent-cards {
	@extend .flex-grow-1;
}