/* PROCESS CARD */

.process-card {
	@extend .d-flex,
	.align-items-start;
	gap: 20px;

	@include media-breakpoint-up(md) {
		gap: 30px;
	}

	&+.process-card {
		margin-top: 16px;

		@include media-breakpoint-up(lg) {
			margin-top: 50px;
		}
	}
}

.process-card-icon-box {
	@extend .flex-shrink-0,
	.d-flex,
	.align-items-center,
	.justify-content-center;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);

	@include media-breakpoint-up(md) {
		width: 88px;
		height: 88px;
		border-radius: 14px;
	}
}

.process-card-icon {
	font-size: 22px;

	@include media-breakpoint-up(md) {
		font-size: 30px;
	}
}

.process-card-content {
	@extend .flex-grow-1;
}