/* RENTAL-PROPERTIES */

.rental-properties-banner {
	@extend .w-100;
	border-radius: 12px 12px 0 0;

	@include media-breakpoint-up(md) {
		border-radius: 20px 20px 0 0;
	}
}

.rental-properties-cta-box {
	padding: 25px;
	border-radius: 0 12px 4px 4px;
	border: 1px solid $gray-300;
	background-color: $gray-200;
	margin-top: -10px;
	position: relative;
	z-index: 5;

	@include media-breakpoint-up(xl) {
		border: none;
		padding: 36px;
		border-radius: 0 20px 0 0;
		background-color: $white;
		position: absolute;
		left: 0;
		bottom: 0;
		max-width: 480px;
		width: 100%;
		margin-top: 0;
		margin-bottom: -62px;
	}

	@media only screen and (min-width: 1250px) {
		max-width: 523px;
	}
}

.rental-properties-cta-box-subtitle {
	font-size: 12px;

	@include media-breakpoint-up(sm) {
		font-size: 14px;
	}

	@include media-breakpoint-up(md) {
		font-size: 18px;
	}
}

.rental-properties-cta-box-subtitle-btn {
	font-size: 12px;
	padding-left: 17px;
	padding-right: 17px;

	@include media-breakpoint-up(sm) {
		font-size: 14px;
		padding-left: 36px;
		padding-right: 36px;
	}

	@include media-breakpoint-up(md) {
		font-size: 18px;
		padding-left: 43px;
		padding-right: 43px;
	}
}

.rental-properties-cards {
	@extend .mt-xl-0,
	.d-flex,
	.flex-column,
	.flex-sm-row,
	.justify-content-center,
	.justify-content-xl-end,
	.position-relative;
	margin-top: 20px;
	gap: 20px;
	z-index: 1;

	@include media-breakpoint-up(xl) {
		margin-right: 30px;
		transform: translateY(-50%);
	}

	.card {
		@extend .w-100,
		.mx-auto,
		.mx-sm-0;
		max-width: 276px;
	}
}