/* SVG MAP */

.svg-map-holder {
	@extend .position-relative;

	path:hover,
	circle:hover {
		stroke-linejoin: round;
		fill: darken(#428fc5, 10%) !important;
		cursor: pointer;
	}

	#AK,
	#WY,
	#ND,
	#SD,
	#IL,
	#NV {
		fill: #9e9e9e !important;
	}
}

#us-map {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#svg-map-tooltip {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgba($gray-800, .75);
	color: $white;
	border: 0px solid $white;
	border-radius: 5px;
	padding: 15px;
	font-family: arial;
}