/* GET FOLLOVERS FORM */

.get-follovers-form {
    @extend .d-flex,
    .flex-column,
    .flex-md-row,
    .me-4,
    .me-md-0;

    @include media-breakpoint-up(md) {
        margin-bottom: 30px;
    }

    .form-control {
        border: solid 2px $silver;
        height: 37px;
        @include custom-placeholder($color: $gray,
            $font-size: inherit,
            $font-family: $font-regular);

        @include media-breakpoint-up(md) {
            height: 60px;
        }
    }

    .btn-submit {
        @extend .mt-2,
        .mt-md-0,
        .flex-shrink-0;

        @include media-breakpoint-up(md) {
            margin-left: 20px;
        }

        @include media-breakpoint-down(md) {
            min-height: 37px;
        }
    }
}