/* LIST BULLET */

.list-bullet {
    @extend .list-unstyled;
    display: flex;
    flex-wrap: wrap;

    &--info {
        @extend .flex-column,
        .flex-md-row;

        >li {
            &:not(:last-child) {
                @extend .mb-3,
                .mb-md-0;

                @include media-breakpoint-up(md) {
                    margin-right: 50px;
                }
            }
        }
    }

    >li {
        @extend .d-flex,
        .align-items-center,
        .font-icons,
        .icon-check-circle;

        @include media-breakpoint-down(md) {
            font-size: 12px;
        }

        &:before {
            @extend .flex-shrink-0,
            .text-pink;
            margin-right: 10px;
        }
    }
}