/* TEXT LABEL */

.text-label {
    @extend .text-uppercase,
    .font-semibold;
    margin-bottom: 20px;
    font-size: 9px;
    letter-spacing: 0.3px;
    display: inline-block;
    padding: 4.5px 8px;
    line-height: 11px;

    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: inherit;
    }
}