/* Fonts icons */
//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url("#{$font-path}icomoon/icomoon.eot?y4edxr");
  src: url("#{$font-path}icomoon/icomoon.eot?y4edxr#iefix") format('embedded-opentype'), url("#{$font-path}icomoon/icomoon.ttf?y4edxr") format('truetype'), url("#{$font-path}icomoon/icomoon.woff?y4edxr") format('woff'), url("#{$font-path}icomoon/icomoon.svg?y4edxr#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="crossplay-icon-"],
[class*=" crossplay-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crossplay-icon-medium:before {
  content: "\e903";
}

.crossplay-icon-badge:before {
  content: "\e906";
}

.crossplay-icon-call-center:before {
  content: "\e904";
  color: #ffc400;
}

.crossplay-icon-coin:before {
  content: "\e905";
  color: #63d751;
}

.crossplay-icon-search:before {
  content: "\e902";
}

.crossplay-icon-close:before {
  content: "\e901";
}

.crossplay-icon-control:before {
  content: "\e900";
  color: #002ec6;
}

.crossplay-icon-star-empty:before {
  content: "\e9d7";
}

.crossplay-icon-star-half:before {
  content: "\e9d8";
}

.crossplay-icon-star-full:before {
  content: "\e9d9";
}

.crossplay-icon-facebook2:before {
  content: "\ea91";
}

.crossplay-icon-instagram:before {
  content: "\ea92";
}

.crossplay-icon-twitter:before {
  content: "\ea96";
}

.crossplay-icon-appleinc:before {
  content: "\eabe";
}