/* ACCORDION */

.accordion {

}

.accordion__btn {
  @include media-breakpoint-up(xl) {
    font-size: 28px;
  }
  font-size: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
  text-transform: uppercase;
  display: block;
  position: relative;
  color: $black;
  font-family: $font-secondary-bold;
  padding: 5px 40px 5px 15px;
  box-shadow: 0 10px 10px -10px rgba($black, .25);
  @extend .font-icons, .biofuel-icon-plus;
  &:before {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    color: $orange;
    transform-origin: 50% 0%;
  }
  &.collapsed {
    &:before {
      transform: rotate(0deg) translateY(-50%);
    }
  }
}

.accordion__item {}


.accordion__body {
  padding: 30px 15px;
  box-shadow: inset 0 -10px 10px -10px rgba($black, .25);
  @include media-breakpoint-down(sm) {
    padding: 20px 15px;
  }
}
