/* BULLET */

.bullet-floated {
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  @include media-breakpoint-down(sm) {
    max-width: 280px;
  }
}
