/* BUTTONS */


.btn {
  font-size: 20px;
  font-family: $font-base-semibold;
  text-transform: uppercase;
  border-width: 3px;
  padding: 2px 18px;
  &:hover, &:focus {
    box-shadow: none !important;
  }
  &.btn-brand {
    color: $black;
    border-color: $orange;
    background: $white;
    &:hover, &:focus {
      color: $black;
      border-color: $black;
      background: $orange;
    }
  }
  &.btn-link {
    color: $muted;
    border-color: transparent;
    background: transparent;
    &:hover, &:focus {
      color: darken($muted, 10%);
      border-color: transparent;
      background: transparent;
      text-decoration: underline;
    }
  }
}
