/* FORMS */

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
}

.form-group {
	margin-bottom: 45px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 30px;
	}
}

label {
	text-transform: uppercase;
	font-family: $font-secondary-bold;
}
