/* FORMS */

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
	color: $black;
	font-family: $font-secondary-bold;
	border: none;
	background-color: #d4d5d6;
	height: 40px;
	&:focus {
		box-shadow: none !important;
		background-color: #d4d5d6;
	}
}

.form-group {
	margin-bottom: 45px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 30px;
	}
}

select, select.form-control {
	padding-right: 30px;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: center right 10px;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDM4Ni4yNTcgMzg2LjI1NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzg2LjI1NyAzODYuMjU3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiLz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
}

label {
	text-transform: uppercase;
	font-family: $font-secondary-bold;
}

textarea, textarea.form-control {
	resize: none;
	min-height: 340px;
	@include media-breakpoint-down(sm) {
		min-height: 180px;
	}
}

.field-qta {
	border: 3px solid #cacaca;
	width: 66px;
	height: 40px;
	border-radius: .25rem;
	padding: 5px 5px;
	text-align: center;
	color: #757575;
	font-family: $font-secondary-bold;
}
