/* GALLERY */

.gallery {}

.gallery__item {
	padding: 200px 0;
	@include media-breakpoint-down(lg) {
		padding: 140px 0;
	}
	@include media-breakpoint-down(md) {
		padding: 90px 0;
	}
	@include media-breakpoint-down(sm) {
		padding: 40px 0;
	}
}


.slick-arrow {
	width: 56px;
	height: 56px;
	@extend .d-flex, .align-items-center, .justify-content-center, .font-icons;
	background: $white;
	z-index: 20;
	opacity: 1;
	@include media-breakpoint-down(md) {
		width: 32px;
		height: 32px;
	}
	&:hover, &:focus {
		opacity: 1;
		background: $white;
		&:before {
			color: darken($muted, 10%);
		}
	}
	&:before {
		color: $muted;
		font-size: 22px;
	}
}

.slick-prev {
	@extend .biofuel-icon-arrow-left;
	left: 0;
}

.slick-next {
	@extend .biofuel-icon-arrow-right;
	right: 0;
}
