/* SOCIAL */

$social-size: 48px;

.social {
  @extend .list-unstyled, .d-flex, .align-items-center;
}
.social__item {
  &+.social__item {
    margin-left: 15px;
  }
}
.social__link {
  @extend .d-flex, .align-items-center, .justify-content-center;
  border-radius: 50%;
  width: $social-size;
  height: $social-size;
  font-size: 20px;
  background: $white;
  @include media-breakpoint-down(sm) {
    width: $social-size / 1.2;
    height: $social-size / 1.2;
  }
}
