<footer class="footer has-brand-gradient-from-left-to-right">
	<div class="container">
		<div class="footer__item">
			<div class="row">
				<div class="col-lg-4 col-md-5 mb-5 mb-0">
					<a href="#" class="footer__logo">
						<img src="assets/images/elements/logo-white.svg" class="w-100" alt="">
					</a>

					<div class="d-flex justify-content-between justify-content-md-start flex-md-column">
						<ul class="footer__list order-md-2 mb-0">
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">Home</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">Why me?</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">USP</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">Contact</a>
							</li><!--footer__list__item-->
						</ul><!--footer__list-->

						<ul class="footer__list footer__list--social order-md-1 mb-md-3">
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">
									<i class="sagar-icon-linkedin2"></i>
								</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">
									<i class="sagar-icon-twitter"></i>
								</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">
									<i class="sagar-icon-skype"></i>
								</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="#" class="footer__list__link">
									<i class="sagar-icon-phone"></i>
								</a>
							</li><!--footer__list__item-->
						</ul><!--footer__list-->
					</div>
				</div><!--col-->

				<div class="col-lg-6 offset-lg-1 col-md-7">
					<form action="" class="footer__form text-center text-md-left">
						<label for="field-subscribe" class="mb-3">Subscribe to updates</label>
						<div class="d-flex flex-column flex-md-row align-items-center">
							<div class="form-group mb-3 mb-md-0 w-100">
								<input type="text" class="form-control" id="field-subscribe">
							</div><!--form-group-->
							<button type="submit" class="btn ml-md-3">Submit</button>
						</div><!--form-inline-->
					</form>
				</div><!--col-->
			</div><!--row-->
		</div><!--footer__item-->

		<div class="footer__item">
			<p class="text-with-opacity text-center text-md-left">Copyright 2017. All rightreserved.</p>
		</div><!--footer__item-->
	</div><!--container-->
</footer><!--footer-->
