<footer class="footer has-brand-gradient-from-left-to-right">
	<div class="container" id="contact-anchor">
		<div class="footer__item">
			<div class="row">
				<div class="col-lg-4 col-md-5 mb-5 mb-0">
					<a href="#" class="footer__logo">
						<img src="assets/images/elements/logo_white2х.svg" class="w-100" alt="">
					</a>

					<div class="d-flex justify-content-center justify-content-md-start flex-column">
						<ul class="footer__list footer__list--social">
							<li class="footer__list__item">
								<a href="https://www.linkedin.com/in/sagarspatil" class="footer__list__link" target="_blank">
									<i class="sagar-icon-linkedin2"></i>
								</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="https://twitter.com/sagarpatil" class="footer__list__link" target="_blank">
									<i class="sagar-icon-twitter"></i>
								</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="skype:sagarspatil?call" class="footer__list__link" target="_blank">
									<i class="sagar-icon-skype"></i>
								</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a href="tel:+917507590070" class="footer__list__link">
									<i class="sagar-icon-phone"></i>
								</a>
							</li><!--footer__list__item-->
						</ul><!--footer__list-->

						<ul class="footer__list">
							<li class="footer__list__item">
								<a data-click="scroll-to-target" href="#home-anchor" class="footer__list__link">Home</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a data-click="scroll-to-target" href="#why-me-anchor" class="footer__list__link">Why me?</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a data-click="scroll-to-target" href="#usp-anchor" class="footer__list__link">USP</a>
							</li><!--footer__list__item-->
							<li class="footer__list__item">
								<a data-click="scroll-to-target" href="#contact-anchor" class="footer__list__link">Contact</a>
							</li><!--footer__list__item-->
						</ul><!--footer__list-->
					</div>
				</div><!--col-->

				<div class="col-lg-6 offset-lg-1 col-md-7">
					 <form action="https://sagarpatil.us17.list-manage.com/subscribe/post?u=d14ea32632a0dc52a722b7c34&amp;id=245fd8519c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="footer__form text-center text-md-left">
						<label for="field-subscribe" class="mb-3">Subscribe to updates</label>
						<div class="d-flex flex-column flex-md-row align-items-center">
							<div class="form-group mb-3 mb-md-0 w-100">
								<input type="text" class="form-control" id="field-subscribe" required>
								<div style="position: absolute; left: -5000px;" aria-hidden="true">
									<input type="text" name="b_d14ea32632a0dc52a722b7c34_245fd8519c" tabindex="-1" value="">
								</div>
							</div>
							<button type="submit" name="subscribe" class="btn ml-md-3">Submit</button>
						</div>
					</form>
				</div><!--col-->
			</div><!--row-->
		</div><!--footer__item-->

		<div class="footer__item">
			<p class="text-with-opacity text-center text-md-left">Copyright 2018. All right reserved.</p>
		</div><!--footer__item-->
	</div><!--container-->
</footer><!--footer-->
