<!-- Modal -->
<div class="modal fade" id="case-study-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <i class="sagar-icon-cancel"></i>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-full" role="document">
    <div class="modal-content">
			<section class="section section--skew-right section--skew-first bg-gray-thin text-center">
				<div class="section--skew__content">
					<div class="container">
						<h2 class="title">Case study: Reducing merchant acquisition and onboard costs for Ressy</h2>
						<div class="box mb-5">
							<p class="mb-4">Ressy is a location-based restaurant application that aggregates all local restaurant deals in real time by partnering with restaurants (merchants).</p>
							<p class="mb-4">It then provides a platform for banks, credit card companies, and mobile wallets to provide significant discounts (up to 50% off) to their users.</p>
							<p>In other words, it helps our clients offer sweet deals to their clients. But getting restaurants to partner with us took a lot of time and money. It’s hard enough to corral a busy owner, let alone convince them that</p>
						</div><!--box-->

						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
								<img src="assets/images/temp/cost_sad.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
								<p class="text-gray-bold">
									<span class="font-base-regular d-block">Initial merchant acquisition cost:</span>
									<b>~$32</b>
								</p>
							</div><!--col-->

							<div class="col-lg-4 col-md-6">
								<img src="assets/images/temp/date_sad.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
								<p class="text-gray-bold">
									<span class="font-base-regular d-block">Initial time to on-board merchant:</span>
									<b>5-7 days</b>
								</p>
							</div><!--col-->
						</div><!--row-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->


			<section class="section text-center">
				<div class="container">
					<h2>My first step was to learn everything</h2>
					<div class="box mb-4">
						<p class="mb-3 mb-md-5">I could about the current merchant acquisition flow, breaking down the time and cost for each step in our process:</p>
					</div><!--box-->

					<div class="box box--xs mb-5">
						<ol class="list-counter row">
							<div class="col-md-6">
								<li class="list-counter__item">Cold calling</li>
								<li class="list-counter__item">Getting in touch with the restaurant owner</li>
								<li class="list-counter__item">First meeting</li>
								<li class="list-counter__item">Follow up meeting</li>
								<li class="list-counter__item">Negotiations</li>
							</div><!--div-->

							<div class="col-md-6">
								<li class="list-counter__item">Signing agreements</li>
								<li class="list-counter__item">Setting discounts</li>
								<li class="list-counter__item">Adding new deals to the system</li>
								<li class="list-counter__item">Going live with the new deals</li>
							</div><!--div-->
						</ol><!--list-counter-->
					</div><!--box-->

					<div class="box box--sm">
						<h4 class="text-asphalt title">It was quite a process<small class="d-block">With that out of the way, it was time to crunch some numbers.</small></h4>
						<p class="lead text-asphalt-thin font-base-regular">Armed with my analysis and research, I proposed a solution that would automate <b>80%</b> of the current acquisition flow and <b>lower costs by 53%</b>.</p>
					</div><!--box-->
				</div><!--container-->
			</section><!--section-->


			<section class="section section--skew-right bg-gray-thin text-center">
				<div class="section--skew__content">
					<div class="container container--md">
						<img src="assets/images/temp/part_one.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 210px;">
						<h3 class="text-muted-bold">Solution part one:</h3>
						<h5 class="text-muted-bold mb-4">Partnering with another startup to acquire restaurant info</h5>

						<div class="box mb-5">
							<p class="mb-4">I nurtured a relationship with another startup that had all the information we could ever want about the restaurants we courted (things like owner names, contact details, opening hours, photos, menu, reviews, etc.).</p>
							<p class="mb-4">They agreed to share this data with us via an API in exchange for licensing fees. No more cold calling - we could go straight to the owners with our best offers.</p>
						</div><!--box-->

						<div class="schedule d-flex flex-column flex-md-row justify-content-center">
							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">Before</p>
								<div class="schedule__body flex-row flex-md-column flex-lg-row d-flex justify-content-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 1-3 days.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $7–$8.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->

							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">After</p>
								<div class="schedule__body flex-row flex-md-column flex-lg-row d-flex justify-content-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 0 hrs.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: a few cents.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->
						</div><!--schedule-holder-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->


			<section class="section text-center">
				<div class="container container--md">
					<img src="assets/images/temp/part_two.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 210px;">
					<h3 class="text-muted-bold">Solution part two:</h3>
					<h5 class="text-muted-bold mb-4">Create an algorithm to assist sales executives</h5>

					<div class="box mb-5">
						<p class="mb-4">Initially, a sales executive had to negotiate custom deals with every restaurant. Owners were wary of us at first and there was lots of back-and-forth.</p>
						<p class="mb-4">To expedite this process, I created an algorithm that fetches data for similar restaurants using the API our new partners provided.</p>
						<p>Owners could see the % discount their direct competitors provided and make an informed decision much more easily. (I mean, who wants to be outdone by their competitors, right?)</p>
					</div><!--box-->

					<div class="schedule d-flex flex-column flex-md-row justify-content-center">
						<div class="schedule__item schedule__item--secondary mb-3 mb-md-0 mr-md-3">
							<p class="schedule__title">Before</p>
							<div class="schedule__body flex-row flex-md-column flex-lg-row d-flex justify-content-between">
								<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 2-4 days.</span>
								<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $20–$22.</span>
							</div><!--schedule__body-->
						</div><!--schedule__item-->

						<div class="schedule__item schedule__item--secondary mb-3 mb-md-0 mr-md-3">
							<p class="schedule__title">After</p>
							<div class="schedule__body flex-row flex-md-column flex-lg-row d-flex justify-content-between">
								<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 1-2 days.</span>
								<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $10–$12.</span>
							</div><!--schedule__body-->
						</div><!--schedule__item-->
					</div><!--schedule-holder-->
				</div><!--container-->
			</section><!--section-->


			<section class="section section--skew-left bg-gray-thin text-center">
				<div class="section--skew__content">
					<div class="container container--md">
						<img src="assets/images/temp/part_three.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 210px;">
						<h3 class="text-muted-bold">Solution part three:</h3>
						<h5 class="text-muted-bold mb-4">Uploading restaurant data with the API.</h5>

						<div class="box mb-5">
							<p>Finally, I found another use for the API: expediting the onboarding process by pre-populating data in our app. We could upload details with the click of a button and avoid pesky human error.</p>
						</div><!--box-->

						<div class="schedule d-flex flex-column flex-md-row justify-content-center mb-5">
							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">Before</p>
								<div class="schedule__body flex-row flex-md-column flex-lg-row d-flex justify-content-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 1 hour.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $5.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->

							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">After</p>
								<div class="schedule__body flex-row flex-md-column flex-lg-row d-flex justify-content-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: a few seconds.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: a few cents.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->
						</div><!--schedule-holder-->

						<div class="box">
							<p>When all was said and done, the results made Ressy hum along much better than before.</p>
						</div><!--box-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->


			<section class="section text-center">
				<div class="container">
					<div class="mb-5">
						<img src="assets/images/temp/cost_smile.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
						<h3 class="text-asphalt-bold">Final merchant acquisition cost: <small class="d-block font-base-regular fs-md-24">~$15 (a 53% improvement)</small></h3>
					</div>

					<div>
						<img src="assets/images/temp/date_smile.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
						<h3 class="text-asphalt-bold">Final time to on-board: <small class="d-block font-base-regular fs-md-24">3-4 days (a 42% improvement)</small></h3>
					</div>
				</div><!--container-->
			</section><!--section-->
    </div>
  </div>
</div>
