<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <i class="sagar-icon-cancel"></i>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-full" role="document">
    <div class="modal-content">
			<section class="section section--md">
				<div class="container">
					<ul class="nav nav-tabs d-none d-md-flex justify-content-center" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link ressy-tab-link active" data-toggle="tab" href="#ressy-tab" role="tab" aria-controls="ressy-tab">Ressy</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link multa-tab-link" data-toggle="tab" href="#multa-tab" role="tab" aria-controls="multa-tab">Multa</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link metaworks-tab-link" data-toggle="tab" href="#metaworks-tab" role="tab" aria-controls="metaworks-tab">Metaworks</a>
					  </li>
					</ul>


					<div class="tab-content">
					  <div class="tab-pane fade show active" id="ressy-tab" role="tabpanel" aria-labelledby="ressy-tab">
							<div class="box text-center mb-5 mb-md-6">
								<img src="assets/images/temp/ressy.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-5" style="max-width: 160px;">
								<h3 class="mb-4">Ressy (Acquired by TripAdvisor backed Eatigo)</h3>
								<p class="lead mb-4 font-base-regular">Co-founder and CTO for a successful location-based restaurant application that aggregates all local restaurant deals, in real time, and provides a platform for banks, credit card companies, and mobile wallets to provide significant discounts (up to 50% off) to their users. Hired and managed the engineering team and led the product development, user acquisition/retention, and online marketing initiatives.</p>
								<a href="https://eatigo.com" target="_blank" class="lead">Eatigo.com</a>
							</div><!--box-->


							<div class="row mb-5">
								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-raised d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Raised</h5>
									<p>More than $750000 in venture capital funding.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-directed d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Partnered</h5>
									<p>With more than 2,000 restaurants nationwide acquiring approximately 70,000 active monthly users</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-served d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Served</h5>
									<p>As Product Lead for Ressy deals API which is used by PayTM (100M users), Mobikwik (32M users), and numerous banks and credit cards.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-decreased d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Led</h5>
									<p>A team of 15 global designers, developers, and testers to successfully launch multiple iOS, Android, web services, and 3rd party integrations.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-built d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Built</h5>
									<p>An internal analytics tool to help stakeholders make data-driven decisions that effectively increased resource efficiency.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-collaboration d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Collaboration</h5>
									<p>Drove more than 50,000 mobile application downloads, at CPI of ~$2, through effective collaboration and partnerships with Google and Facebook advertising teams.</p>
								</div><!--col-->
							</div><!--row-->


							<div class="row mb-5 text-center borders--md-top borders--md-bottom">
								<div class="col-lg-6 borders--md-right borders--md-bottom">
									<h3 class="mb-md-0 mt-md-5">Technology Stack</h3>
									<div class="row justify-content-center justify-content-lg-start">
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/android.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>Android SDK</h6>
										</div><!--col-->
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/android.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>Go</h6>
										</div><!--col-->
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/mongo-DB.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>Mongo DB</h6>
										</div><!--col-->
									</div><!--row-->
								</div><!--col-->

								<div class="col-lg-6 borders--md-bottom">
									<h3 class="mb-md-0 mt-5">Tools</h3>
									<div class="row justify-content-center justify-content-lg-start">
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/aws.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>AWS Elastic Benstalk</h6>
										</div><!--col-->
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/amazon.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>Amazon RDS postgreSQL</h6>
										</div><!--col-->
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/aws-2.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>AWS Elastic Load Balancing (ELB)</h6>
										</div><!--col-->
									</div><!--row-->
								</div><!--col-->

								<div class="col-lg-6 borders--md-right">
								</div><!--col-->

								<div class="col-lg-6">
									<div class="row justify-content-center justify-content-lg-start">
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/android-studio.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>Android Studio</h6>
										</div><!--col-->
										<div class="col-md-4 my-3 my-md-5 col-6">
											<img src="assets/images/temp/sublime.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
											<h6>Sublime text</h6>
										</div><!--col-->
									</div><!--row-->
								</div><!--col-->
							</div><!--row-->


							<h3 class="mb-md-0 text-center">Tools</h3>

							<div class="row justify-content-center text-center">
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/github.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Git Hub</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/new-relic.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>New relic</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/mongo-lab.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>MongoLab</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/docker.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Docker</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/sentry.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Sentry</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/circle-cl.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>CircleCL</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/crashlytics.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Crashlytics</h6>
								</div><!--col-->
							</div><!--row-->

							<div class="row justify-content-center text-center mb-5 mb-md-6">
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/gradle.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Gradle</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/bag-snag.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Bagsnag</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/slack.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Slack</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/fresh-desk.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>FreshDesk</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/pivotal.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Pivotal Tracker</h6>
								</div><!--col-->
								<div class="col-md my-3 my-md-5 col-6">
									<img src="assets/images/temp/parse.png" alt="" class="w-100 img-fluid mx-auto d-block mb-3" style="max-width: 76px">
									<h6>Parse</h6>
								</div><!--col-->
							</div><!--row-->

							<div class="box text-center">
								<h3 class="text-asphalt mb-4">Related: <span class="d-block fs-24 font-base-regular">Check Invision Prototype</span></h3>
								<h3 class="text-asphalt mb-4">Press coverage:</h3>
								<p class="lead mb-1">
									<a class="link-pink" href="https://yourstory.com/2015/04/ressy-app/" target="_blank">https://yourstory.com/2015/04/ressy-app/</a>
								</p>
								<p class="lead">
									<a class="link-pink" href="https://yourstory.com/2015/08/ressy-raises-fund/" target="_blank">https://yourstory.com/2015/08/ressy-raises-fund/</a>
								</p>
							</div><!--box-->
					  </div><!--tab-pane-->






					  <div class="tab-pane fade" id="multa-tab" role="tabpanel" aria-labelledby="multa-tab">
							<div class="box text-center mb-5 mb-md-6">
								<img src="assets/images/temp/multia.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-5" style="max-width: 160px;">
								<h3 class="mb-4">Multia (Previously Masterworks, Acquired 2013)</h3>
								<p class="lead mb-4 font-base-regular">Founder of Masterworks, a new media niche agency that supported all facets of design and technical development. Company was acquired in 2013 and merged with Multia. Served as the Chief Technology Officer in the new company.</p>
								<a href="http://multia.in/" target="_blank" class="lead">Multia.in</a>
								<ul class="list-inline justify-content-center mt-4">
								  <li class="list-inline-item">
								  	<a href="#" class="p-2 bg-behance text-white rounded">
								  		<i class="sagar-icon-behance"></i>
								  	</a>
								  </li>
								  <li class="list-inline-item">
										<a href="#" class="p-2 bg-dribble text-white rounded">
								  		<i class="sagar-icon-dribbble"></i>
								  	</a>
								  </li>
								</ul>
							</div><!--box-->


							<div class="row mb-5">
								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-directed d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Directed and led</h5>
									<p>A team of 25 high-level developers, designers, project managers, and online marketing professionals.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-online_market d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Created and developed</h5>
									<p>An online marketing/SEO campaign that generated leads worth over $500,000.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-decreased d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Acquired</h5>
									<p>More than 100 customers ranging from startups to fortune 500 companies</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-built d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Built</h5>
									<p>Strategic partnerships and set up new business ventures. Generated over $100,000 in revenue from launching Multia Themes.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-led d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Directed and led</h5>
									<p>The P&L strategies for the company.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-led_all d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Led all aspects</h5>
									<p>Of the complex merger between Masterworks and Multia.</p>
								</div><!--col-->
							</div><!--row-->

							<div class="box text-center">
								<h3 class="text-asphalt mb-4">Related: <span class="d-block fs-24 font-base-regular">Gutenberg - Converting ideas into technical requirements</span></h3>
								<h3 class="text-asphalt mb-4">Press coverage:</h3>
								<p class="lead mb-1">
									<a class="link-pink" href="themeforest.net/user/multia-themes" target="_blank">themeforest.net/user/multia-themes</a>
								</p>
								<p class="lead">Michael Arrington and Tim Armstrong Talk to a Fan on-Stage</p>
							</div><!--box-->
					  </div><!--tab-pane-->





					  <div class="tab-pane fade" id="metaworks-tab" role="tabpanel" aria-labelledby="metaworks-tab">
							<div class="box text-center mb-5 mb-md-6">
								<img src="assets/images/temp/iphone.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-5" style="max-width: 160px;">
								<h3 class="mb-4">MetaWorks, Inc</h3>
								<p class="lead mb-4 font-base-regular">Created an innovative and successful business, from scratch, to provide users with designer mobile phone cases. Set up the entire e-commerce website using Shopify and actively worked with a supplier in China for manufacturing and fulfillment. Automated purchase order management and ran successful email campaigns using MailChimp. Setup/optimized Facebook and Instagram advertising campaigns.</p>
								<a href="https://metacases.com/" target="_blank" class="lead">Metacases.com</a>
							</div><!--box-->


							<div class="row mb-5">
								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-generated d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Generated</h5>
									<p>Over $1,000,000 in revenue.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-scaled d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Scaled the business</h5>
									<p>To achieve $100,000 monthly revenue in the past three months.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-online_market d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Online marketing campaigns</h5>
									<p>Drove more than 1 million site visitors through effective online marketing campaigns that reached 13 million people in 203 countries and acquired more than 50,000 paying customers.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-increased d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Increased revenue</h5>
									<p>After building an email list consisting of over 403,000 subscribers.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-decreased d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Decreased product</h5>
									<p>Cost by 15% and reduced turnaround time, from 7 days to 1 day, by building strong partnerships with vendors and streamlining/automating the fulfillment process.</p>
								</div><!--col-->

								<div class="col-lg-4 col-sm-6 col-12 mb-4 mb-md-5 text-center text-sm-left">
									<i class="sagar-icon-headset d-block fs-30 mb-3 text-gray-light"></i>
									<h5 class="fs-24 mb-1">Customer satisfaction</h5>
									<p>Rating of 92% by creating a comprehensive high-level online support system. Integrated Shopify with Zendesk (email, chat, and voice) for customer support purposes.</p>
								</div><!--col-->
							</div><!--row-->
					  </div><!--tab-pane-->
					</div>
				</div><!--container-->
			</section><!--section-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
















<!-- Modal -->
<div class="modal fade" id="case-study-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <i class="sagar-icon-cancel"></i>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-full" role="document">
    <div class="modal-content">
			<section class="section section--skew-right section--skew-first bg-gray-thin text-center">
				<div class="section--skew__content">
					<div class="container">
						<h2 class="title">Case study: Reducing merchant acquisition and onboard costs for Ressy</h2>
						<div class="box mb-5">
							<p class="mb-4">Ressy is a location-based restaurant application that aggregates all local restaurant deals in real time by partnering with restaurants (merchants).</p>
							<p class="mb-4">It then provides a platform for banks, credit card companies, and mobile wallets to provide significant discounts (up to 50% off) to their users.</p>
							<p>In other words, it helps our clients offer sweet deals to their clients. But getting restaurants to partner with us took a lot of time and money. It’s hard enough to corral a busy owner, let alone convince them that</p>
						</div><!--box-->

						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
								<img src="assets/images/temp/cost_sad.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
								<p class="text-gray-bold">
									<span class="font-base-regular d-block">Initial merchant acquisition cost:</span>
									<b>~$32</b>
								</p>
							</div><!--col-->

							<div class="col-lg-4 col-md-6">
								<img src="assets/images/temp/date_sad.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
								<p class="text-gray-bold">
									<span class="font-base-regular d-block">Initial time to on-board merchant:</span>
									<b>5-7 days</b>
								</p>
							</div><!--col-->
						</div><!--row-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->


			<section class="section text-center">
				<div class="container">
					<h2>My first step was to learn everything</h2>
					<div class="box mb-4">
						<p class="mb-3 mb-md-5">I could about the current merchant acquisition flow, breaking down the time and cost for each step in our process:</p>
					</div><!--box-->

					<div class="box box--xs mb-5">
						<ol class="list-counter row">
							<div class="col-md-6">
								<li class="list-counter__item">Cold calling</li>
								<li class="list-counter__item">Getting in touch with the restaurant owner</li>
								<li class="list-counter__item">First meeting</li>
								<li class="list-counter__item">Follow up meeting</li>
								<li class="list-counter__item">Negotiations</li>
							</div><!--div-->

							<div class="col-md-6">
								<li class="list-counter__item">Signing agreements</li>
								<li class="list-counter__item">Setting discounts</li>
								<li class="list-counter__item">Adding new deals to the system</li>
								<li class="list-counter__item">Going live with the new deals</li>
							</div><!--div-->
						</ol><!--list-counter-->
					</div><!--box-->

					<div class="box box--sm">
						<h4 class="text-asphalt title">It was quite a process<small class="d-block">With that out of the way, it was time to crunch some numbers.</small></h4>
						<p class="lead text-asphalt-thin font-base-regular">Armed with my analysis and research, I proposed a solution that would automate <b>80%</b> of the current acquisition flow and <b>lower costs by 53%</b>.</p>
					</div><!--box-->
				</div><!--container-->
			</section><!--section-->


			<section class="section section--skew-right bg-gray-thin text-center">
				<div class="section--skew__content">
					<div class="container container--md">
						<img src="assets/images/temp/part_one.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 210px;">
						<h3 class="text-muted-bold">Solution part one:</h3>
						<h5 class="text-muted-bold mb-4">Partnering with another startup to acquire restaurant info</h5>

						<div class="box mb-5">
							<p class="mb-4">I nurtured a relationship with another startup that had all the information we could ever want about the restaurants we courted (things like owner names, contact details, opening hours, photos, menu, reviews, etc.).</p>
							<p class="mb-4">They agreed to share this data with us via an API in exchange for licensing fees. No more cold calling - we could go straight to the owners with our best offers.</p>
						</div><!--box-->

						<div class="schedule d-flex flex-column flex-md-row justify-content-center">
							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">Before</p>
								<div class="schedule__body d-flex justify-content-around justify-content-md-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 1-3 days.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $7–$8.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->

							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">After</p>
								<div class="schedule__body d-flex justify-content-around justify-content-md-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 0 hrs.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: a few cents.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->
						</div><!--schedule-holder-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->


			<section class="section text-center">
				<div class="container container--md">
					<img src="assets/images/temp/part_two.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 210px;">
					<h3 class="text-muted-bold">Solution part two:</h3>
					<h5 class="text-muted-bold mb-4">Create an algorithm to assist sales executives</h5>

					<div class="box mb-5">
						<p class="mb-4">Initially, a sales executive had to negotiate custom deals with every restaurant. Owners were wary of us at first and there was lots of back-and-forth.</p>
						<p class="mb-4">To expedite this process, I created an algorithm that fetches data for similar restaurants using the API our new partners provided.</p>
						<p>Owners could see the % discount their direct competitors provided and make an informed decision much more easily. (I mean, who wants to be outdone by their competitors, right?)</p>
					</div><!--box-->

					<div class="schedule d-flex flex-column flex-md-row justify-content-center">
						<div class="schedule__item schedule__item--secondary mb-3 mb-md-0 mr-md-3">
							<p class="schedule__title">Before</p>
							<div class="schedule__body d-flex justify-content-around justify-content-md-between">
								<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 2-4 days.</span>
								<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $20–$22.</span>
							</div><!--schedule__body-->
						</div><!--schedule__item-->

						<div class="schedule__item schedule__item--secondary mb-3 mb-md-0 mr-md-3">
							<p class="schedule__title">After</p>
							<div class="schedule__body d-flex justify-content-around justify-content-md-between">
								<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 1-2 days.</span>
								<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $10–$12.</span>
							</div><!--schedule__body-->
						</div><!--schedule__item-->
					</div><!--schedule-holder-->
				</div><!--container-->
			</section><!--section-->


			<section class="section section--skew-left bg-gray-thin text-center">
				<div class="section--skew__content">
					<div class="container container--md">
						<img src="assets/images/temp/part_three.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 210px;">
						<h3 class="text-muted-bold">Solution part three:</h3>
						<h5 class="text-muted-bold mb-4">Uploading restaurant data with the API.</h5>

						<div class="box mb-5">
							<p>Finally, I found another use for the API: expediting the onboarding process by pre-populating data in our app. We could upload details with the click of a button and avoid pesky human error.</p>
						</div><!--box-->

						<div class="schedule d-flex flex-column flex-md-row justify-content-center mb-5">
							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">Before</p>
								<div class="schedule__body d-flex justify-content-around justify-content-md-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: 1 hour.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: $5.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->

							<div class="schedule__item mb-3 mb-md-0 mr-md-3">
								<p class="schedule__title">After</p>
								<div class="schedule__body d-flex justify-content-around justify-content-md-between">
									<span class="mr-0 mr-md-0 mr-lg-3 d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-cost mr-1"></i> Time: a few seconds.</span>
									<span class="d-inline-flex align-items-center schedule__body__item"><i class="sagar-icon-dollar mr-1"></i> Cost: a few cents.</span>
								</div><!--schedule__body-->
							</div><!--schedule__item-->
						</div><!--schedule-holder-->

						<div class="box">
							<p>When all was said and done, the results made Ressy hum along much better than before.</p>
						</div><!--box-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->


			<section class="section text-center">
				<div class="container">
					<div class="mb-5">
						<img src="assets/images/temp/cost_smile.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
						<h3 class="text-asphalt-bold">Final merchant acquisition cost: <small class="d-block font-base-regular fs-md-24">~$15 (a 53% improvement)</small></h3>
					</div>

					<div>
						<img src="assets/images/temp/date_smile.svg" alt="" class="w-100 img-fluid mx-auto d-block mb-4" style="max-width: 90px;">
						<h3 class="text-asphalt-bold">Final time to on-board: <small class="d-block font-base-regular fs-md-24">3-4 days (a 42% improvement)</small></h3>
					</div>
				</div><!--container-->
			</section><!--section-->
    </div>
  </div>
</div>
