<!-- Modal -->
<div class="modal fade" id="case-study-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <i class="sagar-icon-cancel"></i>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-full" role="document">
    <div class="modal-content">
			<section class="section section--skew-right section--skew-first bg-gray-thin">
				<div class="section--skew__content">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-md-6 offset-md-1 mb-4 mb-md-0 order-md-2">
								<h2 class="text-pink-bold text-center text-md-left">#3</h2>
								<h4 class="text-pink-thin text-center text-md-left">Intelligent use of data to drive product improvements</h4>
								<p class="mb-4">If I’m not collecting and using data to inform my decisions, I’ve probably been kidnapped and replaced by a body double. Knowing what data to study and how to implement changes accordingly is one of the most crucial skills I’ve developed.</p>
								<p class="mb-4">I’ve worked to compliment that with ‘soft skills’ - building relationships with customers, providers, and employees - while keeping a close eye on real information about the product we’re working on.</p>
								<p class="mb-4 text-pink-light"><b>Want to know how I improved merchant acquisition costs and onboard time by 53% and 42%, respectively, at my previous company?</b></p>
								<a href="#" class="btn" data-toggle="modal" data-target="#case-study-modal">Case study</a>
							</div><!--col-->

							<div class="col-md-5 order-md-1">
								<img src="assets/images/temp/3.svg" class="img-fluid mx-auto d-block" alt="">
							</div><!--col-->
						</div><!--row-->
					</div><!--container-->
				</div><!--section--skew__content-->
			</section><!--section-->
    </div>
  </div>
</div>
