<nav class="navbar navbar-expand-md fixed-top" id="navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <i class="sagar-icon-menu"></i>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/logo-white.svg" class="navbar-brand__logo d-none d-md-block" alt="">
      <img src="assets/images/elements/logo-mobile.svg" class="navbar-brand__logo d-block d-md-none" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-click="scroll-to-target" href="#home-anchor">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-click="scroll-to-target" href="#why-me-anchor">Why me?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-click="scroll-to-target" href="#usp-anchor">USP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-click="scroll-to-target" href="#contact-anchor">Contact</a>
        </li>
      </ul>
    </div>
  </div><!--container-->
</nav>
