/* CONTACT FORM */
.contact-form-holder {
  @extend .position-relative;
}

.contact-form-inner {
  @include media-breakpoint-up(md) {
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}