@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600&display=swap");
@import url("./intlTelInput");
@tailwind base;
@tailwind components;
@tailwind utilities;

.product-item-active,
.size-item-active,
.quantity-item-active {
  @apply border-primary text-primary;

  .product-item-title {
    @apply text-primary;
  }

  .product-item-label {
    @apply block opacity-100;
  }
}

.checkbox {
  input {
    @apply hidden;

    &:checked {
      & ~ label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  label {
    @apply relative block cursor-pointer pl-[30px] md:pl-[40px];

    &:before,
    &:after {
      content: "";
      @apply absolute w-[18px] h-[18px] bg-repeat bg-center left-0 top-[2px];
    }

    &:before {
      @apply bg-cover;
      background-image: url("../img/uncheck.svg");
    }

    &:after {
      opacity: 0;
      background-image: url("../img/check.svg");
      background-size: 16px;
    }
  }
}

.iti__flag {
  background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../img/flags@2x.png");
  }
}

.iti.input-phone-box {
  @apply block w-full;

  input {
    @apply text-dark placeholder-silver150 w-full px-4 py-[10.5px] border-silver300 border-[1px] border-solid rounded-[5px] bg-white focus:border-primary focus:bg-white focus:outline-none focus:shadow-none text-[13px] md:text-[18px];
  }

  .iti__arrow {
    border-top-color: #75b823;
  }
}

.form-select {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nIzIxOTFmYic+PHBhdGggZD0nTTE1LjMgOS4zYTEgMSAwIDAgMSAxLjQgMS40bC00IDRhMSAxIDAgMCAxLTEuNCAwbC00LTRhMSAxIDAgMCAxIDEuNC0xLjRsMy4zIDMuMjkgMy4zLTMuM3onLz48L3N2Zz4=");
}

option {
  &:not[disabled] {
    @apply text-silver150;
  }
}
