/* VARIABLES */

/*************************
	Base colors
*************************/
$purple: #5a30d0;
$dark-secondary: #465d60;

.text-purple {
	color: $purple !important;
}

.text-dark-secondary {
	color: $dark-secondary !important;
}

.bg-purple {
	background-color: $purple !important;
}

.bg-dark-secondary {
	background-color: $dark-secondary !important;
}

/*************************
	Base variables
*************************/
$base-animation: 250ms;
/*************************
	Fonts variables
*************************/
$font-medium: 'Manrope-Medium';

.font-medium {
	font-family: $font-medium !important;
}

$font-extrabold: 'Manrope-ExtraBold';

.font-extrabold {
	font-family: $font-extrabold !important;
}


.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size: 16px;
$body-line-height: 1.5;


/*************************
	Heading variables
*************************/
$heading-font: $font-extrabold;