@font-face {
  font-family: "Shell";
  src: url("./shell/ShellLight.woff2") format("woff2"),
    url("./shell/ShellLight.woff") format("woff"),
    url("./shell/ShellLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shell";
  src: url("./shell/ShellBook.woff2") format("woff2"),
    url("./shell/ShellBook.woff") format("woff"),
    url("./shell/ShellBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shell";
  src: url("./shell/ShellMedium.woff2") format("woff2"),
    url("./shell/ShellMedium.woff") format("woff"),
    url("./shell/ShellMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shell";
  src: url("./shell/ShellHeavy.woff2") format("woff2"),
    url("./shell/ShellHeavy.woff") format("woff"),
    url("./shell/ShellHeavy.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shell";
  src: url("./shell/ShellBold.woff2") format("woff2"),
    url("./shell/ShellBold.woff") format("woff"),
    url("./shell/ShellBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
