/* Fonts */

//Roboto
@font-face {
    font-family: 'Roboto-light';
    src: url('#{$font-path}roboto/hinted-Roboto-Light.woff2') format('woff2'),
    url('#{$font-path}roboto/hinted-Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('#{$font-path}roboto/hinted-Roboto-Regular.woff2') format('woff2'),
    url('#{$font-path}roboto/hinted-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('#{$font-path}roboto/hinted-Roboto-Medium.woff2') format('woff2'),
    url('#{$font-path}roboto/hinted-Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('#{$font-path}roboto/hinted-Roboto-Bold.woff2') format('woff2'),
    url('#{$font-path}roboto/hinted-Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


//DIN Condensed
@font-face {
    font-family: 'DINCondensedLight';
    src: url('#{$font-path}DINCondensed/hinted-DINCond-Light.eot');
    src: url('#{$font-path}DINCondensed/hinted-DINCond-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}DINCondensed/hinted-DINCond-Light.woff2') format('woff2'),
    url('#{$font-path}DINCondensed/hinted-DINCond-Light.woff') format('woff'),
    url('#{$font-path}DINCondensed/hinted-DINCond-Light.ttf') format('truetype'),
    url('#{$font-path}DINCondensed/hinted-DINCond-Light.svg#DINCond-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINCondensedBold';
    src: url('#{$font-path}DINCondensed/hinted-DINCondensed-Bold.eot');
    src: url('#{$font-path}DINCondensed/hinted-DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}DINCondensed/hinted-DINCondensed-Bold.woff2') format('woff2'),
    url('#{$font-path}DINCondensed/hinted-DINCondensed-Bold.woff') format('woff'),
    url('#{$font-path}DINCondensed/hinted-DINCondensed-Bold.ttf') format('truetype'),
    url('#{$font-path}DINCondensed/hinted-DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}