/* Fonts */

//DIN Condensed
@font-face {
    font-family: 'dincond-lightregular';
    src: url('#{$font-path}DINCondensed/dincondensed-light-webfont.woff2') format('woff2'),
         url('#{$font-path}DINCondensed/dincondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_condensedbold';
    src: url('#{$font-path}DINCondensed/dincondensedbold-webfont.woff2') format('woff2'),
         url('#{$font-path}DINCondensed/dincondensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
