/* Fonts */

//DIN Condensed
@font-face {
    font-family: 'DINCondensedLight';
    src: url('#{$font-path}DINCondensed/hinted-DINPro-CondensedLight.woff2') format('woff2'),
        url('#{$font-path}DINCondensed/hinted-DINPro-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}




@font-face {
    font-family: 'din_condensedbold';
    src: url('#{$font-path}DINCondensed/dincondensedbold-webfont.woff2') format('woff2'),
         url('#{$font-path}DINCondensed/dincondensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
