/* FOOTER */

$footer-bg: $gray;

.footer {
  background: $footer-bg;
  padding: 130px 0;
  text-align: center;
  @include media-breakpoint-down(md) {
    padding: 90px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
}
