/* HEADER */

$header-bg: $gray;
$header-height: 78px;

.header {
  min-height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  padding: 10px 0;
  @include transition(250ms);
  @extend .d-flex, .align-items-center;
  @include media-breakpoint-down(sm) {
    background: $header-bg;
    box-shadow: 0 0 2px 1px rgba($black, .05);
    .header__logo__white {
      display: none;
    }
    .header__logo__gray {
      display: block;
    }
  }
  >.container-fluid {
    @extend .d-flex, .align-items-center, .justify-content-between;
  }
}

.header__logo__white {
  display: block;
}
.header__logo__gray {
  display: none;
}

.header--animated {
  background: $header-bg;
  box-shadow: 0 0 2px 1px rgba($black, .05);
  .header__logo__white {
    display: none;
  }
  .header__logo__gray {
    display: block;
  }
  .header__btn {
    color: #999999;
    border: 1px solid #999999;
    &:hover, &:focus {
      background: #999999;
      border-color: #999999;
      color: $white;
    }
  }
}

.header__logo {
  display: block;
  width: 100%;
  max-width: 210px;
  @include media-breakpoint-down(xs) {
    max-width: 135px;
  }
}

.header__btn {
  color: $white;
  border: 1px solid $white;
  border-radius: 2px;
  display: inline-block;
  padding: 5.5px 8px;
  text-align: center;
  @include media-breakpoint-down(sm) {
    color: #999999;
    border: 1px solid #999999;
  }
  &:hover, &:focus {
    background: $white;
    color: #999999;
    @include media-breakpoint-down(sm) {
      background: #999999;
      border-color: #999999;
      color: $white;
    }
  }
}
