/* Fonts */

//Muli
@font-face {
    font-family: 'Muli-Bold';
    src: url('#{$font-path}muli/Muli-ExtraBoldItalic.woff2') format('woff2'),
    url('#{$font-path}muli/Muli-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('#{$font-path}muli/Muli-Regular.woff2') format('woff2'),
    url('#{$font-path}muli/Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}