/* ACCORDION */
.accordion {}

.accordion__item {
  border-top: 1px solid $base-border-color;

  &+.accordion__item {
    margin-top: 15px;
  }
}

.accordion__toggle {
  @extend .d-block, .text-primary, .position-relative, .w-100, .text-left, .font-icons, .glycotech-icon-up-arrow, .lead;
  padding: 15px 50px 0 15px;
  background: none;
  border: none;

  &:before {
    @extend .text-black, .position-absolute;
    @include transition($base-animation);
    right: 20px;
    top: 13px;
  }

  &.collapsed {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.accordion__body {
  @extend .my-3;
  white-space: normal;
}