/* BOX INFO */
.box-info {
  @extend .text-center, .font-bold;
  padding: 10px 15px;

  &--primary {
    background-color: $primary;
    color: $white;

    a {
      color: $white;

      &:focus,
      &:hover {
        color: darken($white, 30%);
      }
    }
  }
}