/* BUTTONS */
.btn {
  @extend .shadow-none;
  font-family: $font-bold;
  padding: 10px 35px;
  border-radius: 0;
  @include media-breakpoint-down(sm) {
    padding: 10px 15px;
  }

  &-primary {
    @include button-variants($bg: $primary, $color: $white);
  }

  &-primary-semitransparent {
    @include button-variants-semitransparent($bg: $primary, $color: $white);
  }

  &-outline-primary {
    @include button-outline-variants($color: $primary);
  }

  &-outline-primary-second {
    @include button-outline-second-variants($color: $primary);
  }

  &-link {
    @extend .text-primary;

    &:focus,
    &:hover {
      text-decoration: none;
      background-color: $primary;
      color: $white !important;
    }
  }

  &-block {
    @extend .px-2;
  }

  &-block-md {
    @include media-breakpoint-down(md) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &-lg {
    padding: 14px 45px;
    @include media-breakpoint-down(sm) {
      padding: 10px 25px;
    }
  }

  &-xl {
    padding: 26px 50px;
    @include media-breakpoint-down(sm) {
      padding: 13px 30px;
    }
  }
}