/* CARD INFO */
$card-info-bg: #3f3f3f;
$card-info-header-bg: #006373;

.card-info {
  @extend .text-white;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.card-info__header {
  @extend .py-3,
  .px-4;
  background-color: $card-info-header-bg;
  border-top-left-radius: $base-radius;
  border-top-right-radius: $base-radius;
  border-bottom: 1px solid $white;
}

.card-info__body {
  @extend .py-4,
  .px-4;
  background-color: $card-info-bg;
  border-bottom-left-radius: $base-radius;
  border-bottom-right-radius: $base-radius;

  p {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.card-info__link {
  @extend .text-white,
  .d-inline-flex,
  .font-icons,
  .glycotech-icon-link,
  .position-relative;
  padding-left: 24px;

  &:before {
    @extend .position-absolute;
    left: 0;
    top: 2px;
  }


  &:hover,
  &:focus {
    text-decoration: underline;
  }
}