/* CHECKBOX BTN */
.checkbox-btn {
  input {
    @extend .d-none, .position-absolute;

    &:checked {
      &+label {
        @extend .btn-primary;
      }
    }
  }

  label {
    @extend .btn, .m-0, .text-truncate;
    border-color: $gray-soft;
    color: $gray-soft;
    cursor: pointer;

    &:hover {
      border-color: $primary;
      color: $primary;
    }
  }
}