/* DROPZONE */
.dropzone {
  @extend .rounded-0, .d-flex, .align-items-center, .justify-content-center;
  border-color: #c3c3c9;

  .dz-message {
    @extend .w-100, .m-0, .font-bold;
    color: darken(#c3c3c9, 25%);
    font-size: 14px;

    > span {
      @extend .font-icons, .glycotech-icon-file-upload, .d-inline-flex, .align-items-center;

      &:before {
        @extend .mr-3;
        font-size: 22px;
        background: none;
        position: static;
        width: auto;
        height: auto;
      }
    }
  }
}
// .dz-message {
//   border: 2px dashed #c3c3c9;
//   padding: 25px 15px;
// }