/* DROPZONE */
.dz-message {
  > span {
    @extend .font-icons, .glycotech-icon-file-upload, .d-inline-flex, .align-items-center;

    &:before {
      @extend .mr-3;
      font-size: 22px;
    }
  }
}

.dz-message {
  border: 2px dashed #c3c3c9;
  padding: 25px 15px;
}