/* FORMS COLLAPSE */
.fieldset-collapse {
	&:not(:last-child) {
		border-bottom: 1px solid $base-border-color;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}
}

.fieldset-holder {
	@extend .d-none, .mt-4, .clearfix;
}

.fieldset-is-edit,
.fieldset-is-opened {
	.fieldset-holder {
		@extend .d-block;
	}
}

.fieldset-is-finished {
	.fieldset-header__edit-btn {
		@extend .d-inline-block;
	}
}

.fieldset-header {
	@extend .d-flex, .align-items-center, .justify-content-between;
}

.fieldset-header__title {
	@extend .d-inline-flex, .align-items-center, .mb-0;
}

.fieldset-header__edit-btn {
	@extend .rounded, .d-none, .flex-shrink-0, .ml-3;
	padding: 2px 25px;
}