/* FORMS */
$placeholder-color: $gray;
$placeholder-font-size: 14px;
$placeholder-font-style: $font-bold;
$placeholder-opacity: 0;
$field-height: 43px;
$field-bg: #f7f7f7;
$field-border-color: #f7f7f7;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	@include custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style);
	font-family: $font-bold;
	height: $field-height;
	border-color: $field-border-color;
	background-color: $field-bg;

	&:focus {
		@include custom-placeholder-opacity($opacity: $placeholder-opacity);
		border-color: $primary;
		box-shadow: 0 0 0 0.2rem rgba($primary, .25);
		background-color: $field-bg;
	}

	&-white {
		background-color: $white;
		border-color: $white;
	}
}

.navbar-form {
	.form-control {
		background-color: $white;
		border-color: $gray;
	}
}

.form-subscribe {
	.form-control {
		@extend .rounded-0;
		height: 60px;
		border-color: $white;
		background-color: rgba(white, .55);
		@include custom-placeholder($color: $white, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style);
		@include media-breakpoint-down(md) {
			height: 47px;
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($white, .25);
		}
	}
}

select,
select.form-control {
	@extend .border-0, .bg-gray-thin;
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 11px;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgdmlld0JveD0iMCAwIDQ1MS44IDQ1MS44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NTEuOCA0NTEuODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiMzRjNGM0Y7fQo8L3N0eWxlPgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yMjUuOSwzNTQuN2MtOC4xLDAtMTYuMi0zLjEtMjIuNC05LjNMOS4zLDE1MS4yYy0xMi40LTEyLjQtMTIuNC0zMi40LDAtNDQuOGMxMi40LTEyLjQsMzIuNC0xMi40LDQ0LjcsMAoJCWwxNzEuOSwxNzEuOWwxNzEuOS0xNzEuOWMxMi40LTEyLjQsMzIuNC0xMi40LDQ0LjcsMGMxMi40LDEyLjQsMTIuNCwzMi40LDAsNDQuOEwyNDguMywzNDUuNEMyNDIuMSwzNTEuNiwyMzQsMzU0LjcsMjI1LjksMzU0Ljd6IgoJCS8+CjwvZz4KPC9zdmc+Cg==");
	padding-right: 30px;
}

.select-quantity {
	@include media-breakpoint-up(md) {
		width: 130px;
	}
}

.form-group {
	margin-bottom: 1.5rem;
}

fieldset {
	&:not(:last-child) {
		margin-bottom: 40px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}
	}
}

textarea,
textarea.form-control {
	resize: none;
	min-height: 100px;
}