/* LIST */
.list {
  @extend .list-unstyled;
}

.list__item {
  &+.list__item {
    margin-top: 15px;
  }

  &.active {
    .list__link {
      @extend .font-bold, .text-primary;
    }
  }
}

.list__link {
  @extend .d-inline-block;
  color: $gray-soft;

  &:hover {
    color: $primary;
  }
}