/* PAGINATION */
.pagination-holder {
  @extend .d-flex, .align-items-center, .justify-content-center;

  .bootstrap-select .dropdown-toggle:focus,
  .bootstrap-select > select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
  }

  .dropdown-item {
    &.active,
    &.selected {
      background-color: $primary;
    }
  }
}

.pagination-btn {
  @extend .lead-md, .font-icons;

  &--left {
    @extend .glycotech-icon-arrow-circle-left, .mr-4;
  }

  &--right {
    @extend .glycotech-icon-arrow-circle-right, .ml-4;
  }
}

.pagination-select {
  @extend .px-3;
  border: 1px solid $primary;
  outline: none !important;

  .filter-option-inner-inner {
    @extend .text-center;
  }
}