/* PANEL */
.panel {
  border: 1px solid $base-border-color;
  margin-bottom: 30px;
  padding: 15px;
  @include media-breakpoint-up(md) {
    padding: 30px;
  }
  @include media-breakpoint-up(lg) {
    padding: 40px;
  }
}