/* TABLE */
$table-product-primary-color: #e5e6e6;
$table-product-secondary-color: #f3f4f4;
$table-product-text-color: #c3c3c3;

.table-product {
  border: 6px solid $table-product-primary-color;

  &:first-child {
    border-bottom: none;
  }

  > thead {
    > tr {
      > th,
      td {
        color: $table-product-text-color;
        background-color: $table-product-secondary-color;
        border-color: $table-product-primary-color;
        border-width: 6px;
        @extend .py-3;
      }
    }
  }

  > tbody {
    > tr {
      &+tr {
        > th,
        td {
          border-top: 6px solid $table-product-primary-color;
        }
      }

      > th,
      td {
        vertical-align: bottom;
        @extend .py-4;
      }
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.table-product__img {
  width: 80px;
  vertical-align: super;
}

.table-product__text {
  line-height: 43px;
}

.table-product__description {
  min-width: 200px;
  @include media-breakpoint-down(xs) {
    min-width: 250px;
  }
}