/* DIVIDER */

$divider-width: 31px;
$divider-height: 3px;
$divider-bg: $success;

.divider {
  display: block;
  margin: 30px auto;
  width: $divider-width;
  height: $divider-height;
  background: $divider-bg;
}
