/* FORMS */

$field-placeholder-color: $black;
$field-placeholder-font-size: 14px;
$field-placeholder-font-family: $font-regular;
$field-placeholder-opacity: 0;
$field-border-color: $gray-thin;
$field-border-color-focus: $success;


.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	@include custom-placeholder($color: $field-placeholder-color, $font-size: $field-placeholder-font-size, $font-family: $field-placeholder-font-family);
	border: none;
	border-bottom: 1px solid $field-border-color;
	border-radius: 0;
	padding: 20px 0;
	z-index: 1;
	position: relative;
	background-color: transparent;
	&:focus {
		@include custom-placeholder-opacity($opacity: $field-placeholder-opacity);
		box-shadow: none !important;
		border-color: $field-border-color-focus;
		background-color: transparent;
	}
	&:not([value=""]) ~ .form-control__placeholder, &:focus ~ .form-control__placeholder {
    transform: translatey(-30px);
    opacity: 1;
		font-size: 12px;
  }
	&.filled {
		~ .form-control__placeholder {
			transform: translatey(-30px);
	    opacity: 1;
			font-size: 12px;
		}
	}
}
.form-group {
	position: relative;
	margin-bottom: 25px;
	z-index: 10;
	@include media-breakpoint-up(md) {
		margin-bottom: 54px;
	}
}
.form-control__placeholder {
	@include transition(250ms);
	position: absolute;
	z-index: -1;
	left: 0;
	top: 18px;
	color: $field-placeholder-color;
	font-family: $field-placeholder-font-family;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
