/* HERO */

.hero {
  padding: 0;
  @include media-breakpoint-up(lg) {
    background-image: none !important;
  }
  @include media-breakpoint-down(md) {
    min-height: 240px;
  }
  @include media-breakpoint-down(xs) {
    background-size: contain;
    background-position: top center;
  }
  >.container {
    background-size: cover;
    background-position: top center;
    @include media-breakpoint-up(xl) {
      max-width: 1200px;
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media-breakpoint-down(md) {
      background-image: none !important;
    }
  }
}
.hero__content {
  padding: 120px 0;
  @include media-breakpoint-up(lg) {
    padding-top: 250px;
  }
  @include media-breakpoint-down(md) {
    padding: 100px 0 35px 0;
  }
}
