/* HERO */

.hero {
  padding: 0;
  @include media-breakpoint-up(lg) {
    background-image: none;
  }
  @include media-breakpoint-down(md) {
    min-height: 240px;
  }
}
.hero__content {
  padding: 25px 0;
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 150px 0;
  }
}
