/* ICONS */

$icon-content-color: $success;
$icon-content-size: 75px;
$icon-content-size-md: 45px;

.icon-content {
  font-size: $icon-content-size;
  color: $icon-content-color;
  @include media-breakpoint-down(md) {
    font-size: $icon-content-size-md;
  }
}
