/* IMAGE WITH NEGATIVE SPACE */

.device-has-negative-space-1 {
  margin-bottom: -210px;
  @include media-breakpoint-down(md) {
    margin-bottom: 0px;
  }
}
.device-has-negative-space-2 {
  margin-top: -295px;
  @include media-breakpoint-down(lg) {
    margin-top: -240px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 0px;
  }
}
