/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$mutted: #2c2c2c;
$success: #54e3c3;
$gray: #dce1e4;
$gray-thin: #c7c7c7;
$sky: #f1f7fa;

.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-mutted {
  color: $mutted !important;
}
.text-success {
  color: $success !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-thin {
  color: $gray-thin !important;
}
.text-sky {
  color: $sky !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-mutted {
  background-color: $mutted !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-thin {
  background-color: $gray-thin !important;
}
.bg-sky {
  background-color: $sky !important;
}

$base-color: $black;


/*************************
	Fonts variables
*************************/
$font-path: '../fonts/';

$font-light: 'OpenSans-Light';
$font-regular: 'OpenSans-Regular';

.font-light {
  font-family: $font-light;
}
.font-regular {
  font-family: $font-regular;
}

$font-base: $font-regular;

$font-icons: 'fontello';

/*************************
	Body variable
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.8;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $black;
$link-color-hover: $success;


/*************************
	Title variables
*************************/
$title-font: $font-light;
$title-line-height-base: 1.35;
$title-line-height: 1.5;
$title-color: $black;
