/* VARIABLES */
/*************************
	Base variables
*************************/
$base-animation: 250ms;
/*************************
	Fonts variables
*************************/
$font-regular: 'Manrope-Regular';

.font-regular {
	font-family: $font-regular;
}

$font-bold: 'Manrope-Bold';

.font-bold {
	font-family: $font-bold;
}

$font-avenir-book: 'Avenir-Book';

.font-avenir-book {
	font-family: $font-avenir-book;
}

$font-avenir-black: 'Avenir-Black';

.font-avenir-black {
	font-family: $font-avenir-black;
}


.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size-mobile: 14px;
$body-font-size-desktop: 16px;
$body-line-height: 1.5;


/*************************
	Heading variables
*************************/
$heading-font: $font-bold;

/*************************
	Title variables
*************************/
$font-family-title: 'Heatwood';