/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #0a1d2a;
$dark: #444444;
$dark-soft: #222222;
$silver: #f8f8f8;
$silver-soft: #888888;
$gray: #b5b5b5;
$muted: #e9e9e9;
$success-thin: #75edf1;
$success: #06c6cb;
$warning: #ffa300;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-dark {
  color: $dark !important;
}
.text-dark-soft {
  color: $dark-soft !important;
}
.text-gray {
  color: $gray !important;
}
.text-muted {
  color: $muted !important;
}
.text-silver {
  color: $silver !important;
}
.text-silver-soft {
  color: $silver-soft !important;
}
.text-success-thin {
  color: $success-thin !important;
}
.text-success {
  color: $success !important;
}
.text-warning {
  color: $warning !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-dark {
  background-color: $dark !important;
}
.bg-dark-soft {
  background-color: $dark-soft !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-silver-soft {
  background-color: $silver-soft !important;
}
.bg-success-thin {
  background-color: $success-thin !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-warning {
  background-color: $warning !important;
}

/*************************
	Fonts variables
*************************/
$font-base: 'din_condensedbold';

.font-base {
  font-family: $font-base !important;
}
/*************************
	Base variables
*************************/
$base-brand-color: $success;
$base-color: $dark-soft;
$base-font: $font-base;
$base-animation: 250ms;
$base-radius: 5px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $success;
$link-color-hover: $success-thin;

/*************************
	Title variables
*************************/
