/* BUTTONS */

.btn {
    font-family: $font-bergentext-regular;
    border-radius: $radius-base;
    padding: 11.5px 21px;
    &-white {
        @include button-variants($bg: $white, $color: $black50);
    }
    &-warning {
        @include button-variants($bg: $warning100, $color: $white);
    }
    &-danger {
        @include button-variants($bg: $danger100, $color: $white);
    }
    &-fb {
        @include button-variants($bg: #395ba9, $color: $white);
    }
    &-muted {
        @extend .text-muted;
        background-color: #dde0e5;
        &:hover,
        &:focus,
        &:active {
            background-color: darken(#dde0e5, 10%);
        }
    }
    &-outline-white {
        border-color: $white;
        color: $white;
        &:hover,
        &:focus,
        &:active {
            border-color: $white;
            background-color: $white;
            color: $black50;
        }
    }
    &-outline-black {
        border-color: $black200;
        color: $black200;
        &:hover,
        &:focus,
        &:active {
            border-color: $black200;
            background-color: $black200;
            color: $white;
        }
    }
    &-black {
        @extend .bg-black200,
        .text-white;
        &:hover,
        &:focus,
        &:active {
            @extend .bg-black,
            .text-white;
        }
    }
    &-md {
        padding: 15.5px 30px;
        @include media-breakpoint-up(md) {
            padding: 19.5px 44px;
        }
    }
    &.disabled,
    &:disabled {
        @extend .text-muted;
        background-color: #dde0e5 !important;
        cursor: not-allowed;
    }
}

.btn-icon {
    @extend .w-100,
    .d-inline-block;
    max-width: 20px;
}