/* CARD */

.card {
    @extend .radius-base;
    margin-bottom: 10px;
    &-table {
        &:not(:last-child) {
            margin-bottom: 30px;
            @include media-breakpoint-up(md) {
                margin-bottom: 70px;
            }
        }
    }
}