/* FORMS */

$field-height: 60px;
$field-border-color: #ececf4;
$field-placeholder-color: #dde0e5;
.form-control {
    @extend .shadow-none,
    .fs-18,
    .font-circular-std-book,
    .text-black50;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: $field-height;
    padding-left: 22px;
    padding-right: 22px;
    border-color: $field-border-color;
    @include custom-placeholder($color: $field-placeholder-color, $font-size: 18px, $font-family: $font-circular-std-book);
    &:focus {
        border-color: $field-border-color;
    }
}

label {
    @extend .fs-18,
    .font-circular-std-book;
    color: $muted;
}

.invalid-feedback {
    @extend .text-danger,
    .fs-13,
    .font-manrope-regular;
}

textarea.form-control {
    resize: none;
    height: 116px;
    padding-top: 1rem;
}