/* FORM BOX */

.form-box {
    @extend .mx-auto,
    .w-100,
    .radius-base;
    max-width: 500px;
    background-color: #f8f8fa;
    padding: 25px 15px;
    @include media-breakpoint-up(sm) {
        padding: 40px 34px;
    }
}