/* Fundraise Card */

.fundraise-cards-gallery-holder {
    margin-right: calc(50% - 50vw);
    .swiper-wrapper {
        @extend .d-flex;
    }
    .swiper-slide {
        @extend .pb-5,
        .d-flex;
        width: auto;
        height: auto;
        &--wide {
            width: 80%;
        }
    }
}

.swiper-slide-next {
    .fundraise-card {
        box-shadow: 0px 2px 6px 0px darken($silver, 3%);
    }
}

.fundraise-cards-gallery-heading {
    @extend .font-montserrat-bold,
    .mb-lg-0;
    @include media-breakpoint-up(lg) {
        margin-right: 110px;
    }
    @include media-breakpoint-up(xl) {
        margin-right: 96px;
    }
}

.fundraise-card {
    @extend .bg-silver,
    .overflow-hidden,
    .d-flex,
    .flex-column;
    border-radius: 10px;
    width: 300px;
    @include transition($base-animation);
    @include media-breakpoint-up(sm) {
        min-width: 350px;
    }
    &:hover,
    &:focus,
    &:active {
        box-shadow: 0px 2px 6px 0px darken($silver, 3%);
    }
    &--wide {
        @include media-breakpoint-up(lg) {
            min-width: 600px;
        }
    }
}

.fundraise-card__header {
    @extend .position-relative,
    .overflow-hidden;
    border-radius: 10px;
    height: 245px;
}

.fundraise-card__header__img {
    @extend .w-100,
    .h-100;
    object-fit: cover;
}

.fundraise-card__body {
    @extend .position-relative,
    .flex-fill,
    .d-flex,
    .flex-column;
    padding: 25px 20px;
}

.fundraise-card__heading {
    @extend .font-montserrat-bold,
    .text-black;
    line-height: 1.5;
}

.fundraise-card__logo {
    @extend .flex-shrink-0,
    .mr-3;
    width: 54px;
}