/* heading-with-divider */

.heading-with-divider {
    @extend .position-relative,
    .d-inline-flex,
    .align-items-center;
    &:after {
        content: '';
        @extend .bg-blue-soft,
        .flex-shrink-0,
        .ml-3;
        width: 73px;
        height: 2px;
    }
}