/* HERO */

.hero {
    @extend .position-relative,
    .bg-black100,
    .text-white;
    z-index: 10;
    padding: 20px 0 100px 0;
    &:after {
        @extend .position-absolute,
        .w-100,
        .h-100;
        content: '';
        top: 0;
        right: 0;
        background-repeat: no-repeat;
        background-image: url('../img/bg/hero-bg.png');
        background-position: right center;
        background-size: contain;
        z-index: -1;
        @include media-breakpoint-down(sm) {
            opacity: .2;
        }
    }
    @include media-breakpoint-up(lg) {
        padding: 245px 0 215px 0;
    }
    @include media-breakpoint-down(sm) {
        background-position: right bottom;
    }
}

.hero__heading {
    @extend .font-bwdarius-bold,
    .text-white;
    line-height: 1.5;
}