/* range-slider */

.range-slider-holder {
    margin-bottom: 30px;
    .rangeslider--horizontal {
        height: 6px;
        background-color: #dde0e5;
        @extend .shadow-none;
        .rangeslider__fill {
            @extend .shadow-none,
            .bg-green50;
        }
    }
    .rangeslider__handle {
        width: 30px;
        height: 20px;
        @extend .bg-green50,
        .shadow-none,
        .border-0;
        border-radius: 1px;
        top: -8px;
        &:after {
            content: none;
        }
    }
}

.range-slider__value {
    @extend .mb-2,
    .d-flex,
    .align-items-center;
    output,
    span {
        @extend .fs-26,
        .text-green700,
        .font-bergentext-semibold;
    }
    span {
        @extend .ml-1;
    }
}