/* work-boxes */

$work-box-icon-box-size: 104px;
.work-boxes {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include media-breakpoint-up(md) {
        grid-gap: 60px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include media-breakpoint-up(lg) {
        grid-gap: 90px;
    }
    @include media-breakpoint-up(xl) {
        grid-gap: 120px;
    }
}

.work-box {
    @extend .position-relative;
    font-size: 16px;
    color: $silver100;
    font-family: $font-manrope-medium;
    @include media-breakpoint-up(md) {
        font-size: 19px;
    }
    &:nth-child(2) {
        @include media-breakpoint-up(md) {
            margin-top: calc((#{$work-box-icon-box-size} / 2) + 20px);
        }
    }
    &:nth-child(3) {
        @include media-breakpoint-up(md) {
            margin-top: calc(#{$work-box-icon-box-size} + 20px);
        }
    }
    &:first-child,
    &:nth-child(2) {
        &:after {
            @extend .has-bg;
            @include media-breakpoint-up(md) {
                content: '';
                position: absolute;
                width: 90px;
                height: 36px;
                right: -36px;
            }
            @include media-breakpoint-up(lg) {
                width: 190px;
                height: 74px;
                right: -70px;
            }
            @include media-breakpoint-up(xl) {
                width: 220px;
                height: 86px;
            }
        }
        &:before {
            @include media-breakpoint-down(sm) {
                content: '';
                position: absolute;
                height: 50px;
                left: 1rem;
                bottom: -65px;
                width: 1px;
                border: 1px dashed $warning;
            }
        }
    }
    &:first-child {
        &:after {
            @include media-breakpoint-up(md) {
                top: $work-box-icon-box-size / 2;
                background-image: url('../img/elements/work-box-arrow-1.png');
            }
        }
    }
    &:nth-child(2) {
        &:after {
            @include media-breakpoint-up(md) {
                top: $work-box-icon-box-size / 3;
                background-image: url('../img/elements/work-box-arrow-2.png');
            }
        }
    }
}

.work-box__icon-box {
    @extend .bg-black50,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .fs-24;
    width: $work-box-icon-box-size;
    height: $work-box-icon-box-size;
    border-radius: 10px;
    box-shadow: 0 34.2px 57.7px 0 rgba(37, 138, 255, 0.22);
    margin-bottom: 36px;
}

.work-box__icon {
    @extend .w-100;
    max-width: 48px;
}

.work-box__heading {
    @extend .fs-25,
    .font-bergentext-regular;
}