/* HEADER */
.header {
  padding: 10px 15px;
  @include media-breakpoint-up(md) {
    padding: 20px 87px;
  }
}

.header__logo {
  @extend .d-block;
  width: 180px;
  @include media-breakpoint-up(md) {
    width: 240px;
  }
}