/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #004185;
$silver: #ccccca;
$muted: #dfdfdf;
$gray: #868686;
$gray-bold: #56514f;
$coffee: #e9e0d1;
$warning: #e17007;
/* Override Bootstrap color variables */
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-silver {
  color: $silver !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-bold {
  color: $gray-bold !important;
}

.text-muted {
  color: $muted !important;
}

.text-coffee {
  color: $coffee !important;
}

.text-warning {
  color: $warning !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-gray-bold {
  background-color: $gray-bold !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-coffee {
  background-color: $coffee !important;
}

.bg-warning {
  background-color: $warning !important;
}
/*************************
	Fonts variables
*************************/
$font-light: 'NunitoLight';
$font-regular: 'NunitoRegular';
$font-semibold: 'NunitoSemiBold';
$font-bold: 'NunitoBold';

.font-light {
  font-family: $font-light !important;
}

.font-regular {
  font-family: $font-regular !important;
}

.font-semibold {
  font-family: $font-semibold !important;
}

.font-bold {
  font-family: $font-bold !important;
}
$font-icons: "fontello";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.35;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/
$title-font: $font-bold;