/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$muted: #f1f1f1;
$gray-thin: #f7f9fa;
$gray: #d0d0d0;
$gray-soft: #3f3f3f;
$silver: #c3c3c3;
$primary: #006373;
/* Override Bootstrap color variables */
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-muted {
  color: $muted !important;
}

.text-gray-thin {
  color: $gray-thin !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-soft {
  color: $gray-soft !important;
}

.text-silver {
  color: $silver !important;
}

.text-primary {
  color: $primary !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-gray-thin {
  background-color: $gray-thin !important;
}

.bg-gray-soft {
  background-color: $gray-soft !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-primary {
  background-color: $primary !important;
}
/*************************
	Fonts variables
*************************/
$font-light: 'RalewayLight';
$font-regular: 'RalewayRegular';
$font-medium: 'RalewayMedium';
$font-bold: 'RalewayBold';

.font-light {
  font-family: $font-light !important;
}

.font-regular {
  font-family: $font-regular !important;
}

.font-medium {
  font-family: $font-medium !important;
}

.font-bold {
  font-family: $font-bold !important;
}
$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $gray-soft;
$base-font: $font-regular;
$base-animation: 250ms;
$base-border-color: $gray;
$base-radius: 4px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/
$title-font: $font-bold;