/* ACCORDION */


.accordion {
  margin-left: -15px;
  margin-right: -15px;
}

.accordion__item {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid $muted;
  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__header__title {
  @extend .h6;
  color: $success;
  display: block;
  position: relative;
  @extend .font-icons, .biogal-icon-plus;
  padding-right: 45px;
  &:before {
    color: $purple;
    opacity: .5;
    font-size: 22px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.collapsed {
    &:before {
      opacity: 1;
    }
  }
}

.accordion__body {
  padding-top: 20px;
}
