/* BUTTONS */

$btn-font-family: $font-bold;

.btn {
  font-family: $btn-font-family;
  padding: 8px 28px;
  box-shadow: none !important;
  @include media-breakpoint-up(sm) {
    padding: 14px 46px;
  }
  &.btn-outline {
    border-width: 3px;
  }
  &.btn-circle {
    border-radius: 30px;
  }
  &.btn-outline-success {
    border-color: $success;
    color: $success;
    &:hover, &:focus, &:active {
      color: $white !important;
      background: $success !important;
      border-color: $success !important;
    }
  }
}
