/* SECTION */

.section {
  position: relative;
  padding: 55px 0;
  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }
}

.section--sm {
  padding: 20px 0;
}

.section--sm-pb-0 {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.section--hero {
  padding: 35px 0 160px 0;
  z-index: 10;
  background-image: url('../images/bg/hero-bg.jpg');
  @include media-breakpoint-up(xl) {
    padding: 150px 0px 270px 0;
  }
  @include media-breakpoint-down(md) {
    background-image: url('../images/bg/Biogal-LP01-Mobile-Header_v2.jpg');
    text-align: center;
    background-size: contain;
    background-position: bottom;
    .btn-outline-success {
      background: $success;
      color: $white;
    }
  }
  &:after {
    @include media-breakpoint-up(md) {
      content: '';
    }
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/temp/hero-label.png') no-repeat 20px 0px;
    z-index: -1;
  }
}

.secton--hero__text {
 font-size: 16px;
}

.section--has-label {
  z-index: 10;
  &:after {
    @include media-breakpoint-up(lg) {
      content: '';
    }
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 580px;
    max-width: 500px;
    transform: translateX(-50%);
    background: url('../images/temp/hero-label.png') no-repeat 50% 0px / cover;
    z-index: -1;
  }
}
