/* TESTIMONIALS */


.testimonils {}

.testimonils__item {
  @extend .d-flex;
  @include media-breakpoint-up(md) {
    min-height: 220px;
  }
  @include media-breakpoint-down(lg) {
    min-height: 240px;
  }
  @include media-breakpoint-down(md) {
    min-height: 276px;
  }
  @include media-breakpoint-down(sm) {
    display: block !important;
    min-height: auto;
  }
}

.testimonils__item__img {
  width: 100%;
  width: 170px;
  flex-shrink: 0;
  background-size: contain;
  @include media-breakpoint-down(sm) {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    min-height: 220px;
  }
}

.testimonils__item__content {
  padding: 13.5px 35px;
  color: $white;
  font-family: $font-mediumitalic;
  @include media-breakpoint-down(lg) {
    padding: 25px 15px;
  }
}

.testimonils__title {
  text-transform: uppercase;
  font-size: 13px;
  font-family: $font-black;
  color: #7e6aaf;
  letter-spacing: .2em;
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }
}

.testimonial__text {
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     line-height: 18px;     /* fallback */
     max-height: 72px;      /* fallback */
     min-height: 72px;      /* fallback */
     -webkit-line-clamp: 4; /* number of lines to show */
     -webkit-box-orient: vertical;
  }
}

.testimonils__role {
  font-family: $font-secondary-regular;
  font-size: 28px;
  color: #bcade1;
}
