/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #2773c3;
$success: #68b24d;
$turquoise: #51d6cc;
$danger: #f71256;
$warning: #fed100;
$warning-secondary: #f4b243;
$sky: #17bbee;
$silver: #e4e4e5;
$gray: #82807f;
$muted: #32343b; //Override Bootstrap color variables

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $success !important;
}

.text-turquoise {
  color: $turquoise !important;
}

.text-danger {
  color: $danger !important;
}

.text-warning {
  color: $warning !important;
}

.text-warning-secondary {
  color: $warning-secondary !important;
}

.text-sky {
  color: $sky !important;
}

.text-silver {
  color: $silver !important;
}

.text-gray {
  color: $gray !important;
}

.text-muted {
  color: $muted !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-turquoise {
  background-color: $turquoise !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-warning-secondary {
  background-color: $warning-secondary !important;
}

.bg-sky {
  background-color: $sky !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-muted {
  background-color: $muted !important;
}
/*************************
	Fonts variables
*************************/
$font-helvetica-regular: 'Helvetica-Regular';
$font-helvetica-bold: 'Helvetica-Bold';
$font-roboto-regular: 'Roboto-Regular';
$font-roboto-medium: 'Roboto-Medium';
$font-roboto-bold: 'Roboto-Bold';
$font-icons: "icomoon";

.font-helvetica-regular {
  font-family: $font-helvetica-regular !important;
}

.font-helvetica-bold {
  font-family: $font-helvetica-bold !important;
}

.font-roboto-regular {
  font-family: $font-roboto-regular !important;
}

.font-roboto-medium {
  font-family: $font-roboto-medium !important;
}

.font-roboto-bold {
  font-family: $font-roboto-bold !important;
}

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $gray;
$base-font: $font-helvetica-regular;
$base-animation: 250ms;
$base-border-color: $silver;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $sky;
/*************************
	Title variables
*************************/
$title-font: $font-roboto-regular;
/*************************
	Radius variables
*************************/
$base-radius: 6px;

.base-radius {
  border-radius: $base-radius !important;
}