/* Fonts icons */

//icomoon
@font-face {
  font-family: 'icomoon';
  src: url('#{$font-path}icomoon/icomoon.eot?4rak9f');
  src: url('#{$font-path}icomoon/icomoon.eot?4rak9f#iefix') format('embedded-opentype'),
  url('#{$font-path}icomoon/icomoon.ttf?4rak9f') format('truetype'),
  url('#{$font-path}icomoon/icomoon.woff?4rak9f') format('woff'),
  url('#{$font-path}icomoon/icomoon.svg?4rak9f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="qarqish-icon-"],
[class*=" qarqish-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qarqish-icon-chevron-thin-up:before {
  content: "\e904";
}

.qarqish-icon-chevron-thin-right:before {
  content: "\e905";
}

.qarqish-icon-chevron-thin-left:before {
  content: "\e906";
}

.qarqish-icon-chevron-thin-down:before {
  content: "\e907";
}

.qarqish-icon-close:before {
  content: "\e902";
}

.qarqish-icon-minus:before {
  content: "\e903";
}

.qarqish-icon-plus:before {
  content: "\e900";
}

.qarqish-icon-add:before {
  content: "\e900";
}

.qarqish-icon-pen:before {
  content: "\e901";
}

.qarqish-icon-pencil:before {
  content: "\e901";
}

.qarqish-icon-write:before {
  content: "\e901";
}

.qarqish-icon-blog:before {
  content: "\e901";
}

.qarqish-icon-search:before {
  content: "\f002";
}

.qarqish-icon-question-circle:before {
  content: "\f059";
}

.qarqish-icon-shopping-cart:before {
  content: "\f07a";
}

.qarqish-icon-sign-in:before {
  content: "\f090";
}

.qarqish-icon-twitter:before {
  content: "\f099";
}

.qarqish-icon-facebook:before {
  content: "\f09a";
}

.qarqish-icon-facebook-f:before {
  content: "\f09a";
}

.qarqish-icon-instagram:before {
  content: "\f16d";
}