<footer class="footer footer--secondary">
    <div class="container">
        <h2 class="h1 text-center text-white mb-md-5">All features unlocked for all early birds who sign up with a
            Limited
            Time
            Offer!</h2>

        <form action="" class="footer__get-starter px-md-5">
            <div class="d-flex flex-column flex-sm-row">
                <input type="email" class="form-control" placeholder="Enter your email">
                <button type="submit" class="btn btn-secondary flex-shrink-0 ms-sm-2 mt-2 mt-sm-0" type="submit">Start
                    your
                    trial</button>
            </div>
        </form>

        <a class="navbar-brand" href="#">
            <img src="img/elements/logo-white.svg" alt="" class="w-100">
        </a>
    </div>
</footer>