<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row row-cols-1 row-cols-lg-2 gy-5">
                <div class="col">
                    <h6 class="footer-top__heading">Join 120,465+ clients</h6>
                    <img src="img/temp/clients@2x.png" alt="" class="footer__cliens">
                </div>

                <div class="col">
                    <h6 class="footer-top__heading">Get started now</h6>

                    <form action="" class="footer__get-starter">
                        <div class="d-flex flex-column flex-sm-row">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <button type="submit" class="btn btn-secondary flex-shrink-0 ms-sm-2 mt-2 mt-sm-0"
                                type="submit">Start
                                your
                                trial</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row gy-4">
                <div class="col-lg-3 mb-4 md-lg-0">
                    <a href="#" class="footer__logo">
                        <img src="img/elements/logo-white.svg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <h3 class="footer-bottom__heading">Product</h3>
                    <div class="footer__navbar">
                        <a href="#" class="footer__navbar-item">How It Works</a>
                        <a href="#" class="footer__navbar-item">Pricing</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <h3 class="footer-bottom__heading">Account</h3>
                    <div class="footer__navbar">
                        <a href="#" class="footer__navbar-item">Log In</a>
                        <a href="#" class="footer__navbar-item">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <h3 class="footer-bottom__heading">Contact</h3>
                    <div class="footer__navbar">
                        <a href="#" class="footer__navbar-item">Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>