/* MARGINS */

.mb-6 {
  margin-bottom: 6rem !important;
}
.mb-sm-6 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 6rem !important;
  }
}
.mb-md-6 {
  @include media-breakpoint-up(md) {
    margin-bottom: 6rem !important;
  }
}
.mb-lg-6 {
  @include media-breakpoint-up(lg) {
    margin-bottom: 6rem !important;
  }
}
.mb-xl-6 {
  @include media-breakpoint-up(xl) {
    margin-bottom: 6rem !important;
  }
}

.mb-7 {
  margin-bottom: 7rem !important;
}
.mb-sm-7 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 7rem !important;
  }
}
.mb-md-7 {
  @include media-breakpoint-up(md) {
    margin-bottom: 7rem !important;
  }
}
.mb-lg-7 {
  @include media-breakpoint-up(lg) {
    margin-bottom: 7rem !important;
  }
}
.mb-xl-7 {
  @include media-breakpoint-up(xl) {
    margin-bottom: 7rem !important;
  }
}
