<section class="guide-holder">
  <div class="container">
    <h1>Collapse</h1>


    <a class="title h6 collapse-btn text-gray-bold" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">sfsfs</a>

    <div class="collapse" id="collapseExample">
      <div class="card card-block">
        <p>Collased hidden block</p>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
      </div><!-- card -->
    </div><!-- collapse -->
  </div><!-- container -->
</section><!-- guide-holder -->
