<section class="guide-holder">
  <div class="container">
    <h1>Colors</h1>

    <h3>Primary text</h3>
    <h3 class="text-black">Black text</h3>
    <h3 class="text-gray-thin">Gray-thin text</h3>
    <h3 class="text-gray">Gray text</h3>
    <h3 class="text-gray-soft">Gray-soft text</h3>
    <h3 class="text-gray-bold">Gray-bold text</h3>
    <h3 class="text-muted">Muted text</h3>
    <h3 class="text-sky">Sky text</h3>
    <h3 class="text-blue">Blue text</h3>
    <h3 class="text-danger">Danger text</h3>
    <h3 class="text-warning">Warning text</h3>
  </div><!-- container -->
</section><!-- guide-holder -->
