<section class="guide-holder">
  <div class="container">
    <h1>Gallery</h1>

    <div class="row">
      <div class="col-sm-4">
        <div class="gallery">
          <div class="gallery__body">
            <button class="gallery__arrow gallery__arrow--prev"></button>
            <img src="assets/images/temp/goods-1.png" class="gallery__img" alt="">
            <button class="gallery__arrow gallery__arrow--next"></button>
          </div><!-- gallery__current -->
          <div class="gallery__thumbnails">
            <a href="#" class="gallery__thumbnails__item">
              <img src="assets/images/temp/goods-1.png" class="gallery__img" alt="">
            </a>
            <a href="#" class="gallery__thumbnails__item">
              <img src="assets/images/temp/goods-1.png" class="gallery__img" alt="">
            </a>
            <a href="#" class="gallery__thumbnails__item">
              <img src="assets/images/temp/goods-1.png" class="gallery__img" alt="">
            </a>
            <a href="#" class="gallery__thumbnails__item">
              <img src="assets/images/temp/goods-1.png" class="gallery__img" alt="">
            </a>
          </div><!-- gallery__thumbnails -->
        </div><!-- gallery -->
      </div><!-- col -->

      <div class="col-sm-4">
        <div class="gallery">
          <div class="gallery__body">
            <button class="gallery__arrow gallery__arrow--prev"></button>
            <img src="assets/images/temp/goods-1.png" class="gallery__img" alt="">
            <button class="gallery__arrow gallery__arrow--next"></button>
          </div><!-- gallery__body -->

          <ul class="gallery__pagination">
            <li class="gallery__pagination__item active">
              <button class="gallery__pagination__btn"></button>
            </li><!-- gallery__pagination__item -->
            <li class="gallery__pagination__item">
              <button class="gallery__pagination__btn"></button>
            </li><!-- gallery__pagination__item -->
            <li class="gallery__pagination__item">
              <button class="gallery__pagination__btn"></button>
            </li><!-- gallery__pagination__item -->
          </ul><!-- gallery__pagination -->

          <div class="gallery__description">
            <h1 class="mb5 text-center-sm">Supreme</h1>
            <h3 class="font-secondary text-gray-bold mb10 text-center-sm">Buttondown</h3>
            <h2 class="font-base-medium l-n mb30 text-center-sm">$80</h2>
          </div><!-- gallery__description -->
        </div><!-- gallery -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- guide-holder -->
