<header class="header header-regular">
  <div class="header__inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-4 col-2">
        </div><!-- col -->

        <div class="col-sm-4 col-8 text-center">
          <a href="#" class="logo"></a>
        </div><!-- col -->

        <div class="col-sm-4 col-2">
          <ul class="nav nav--header justify-content-end">
            <li class="nav-item">
              <a href="#" class="nav-link nav-link--search-form-trigger">
                <i class="wanderset-icon-search header__icon"></i>
              </a>
            </li>

            <li class="nav-item hidden-sm-down">
              <a href="#" class="nav-link">
                <i class="wanderset-icon-user header__icon"></i>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="nav-link nav-link--product-qty dropdown-toggle" id="dropdownCheckout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="wanderset-icon-shopping-bag header__icon"></i>
              </a>
              <div class="dropdown-menu dropdown-menu--checkout dropdown-menu--has-arrow dropdown-menu-right" aria-labelledby="dropdownCheckout">
                <h4 class="dropdown-menu--checkout__title">1 ITEM ADDED TO BAG</h4>
                <p class="dropdown-menu--checkout__info">(you have 3 items in your shopping bag)</p>
                <div class="box-sm">
                  <div class="row">
                    <div class="col-sm-6 col-5">
                      <img src="assets/images/temp/product-img-1.png" class="img-fluid" alt="">
                    </div><!-- col -->

                    <div class="col-sm-6 col-7">
                      <div class="goods__info">
                        <p class="goods__info-name">Product TT</p>
                        <p class="goods__info-description">Sm Caption</p>
                      </div><!-- goods__info -->

                      <ul class="goods__details">
                        <li class="goods__details__item">
                          <span>qty:</span> <span>1</span>
                        </li>
                        <li class="goods__details__item">
                          <span>SIZE:</span> <span>L</span>
                        </li>
                        <li class="goods__details__item">
                          <span>COLOR:</span> <span>GREY</span>
                        </li>
                        <li class="goods__details__item">
                          <span>cost:</span> <span>$200</span>
                        </li>
                      </ul><!-- goods__details -->
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- box -->
                <form action="">
                  <button type="" class="btn btn-primary btn-block">checkout</button>
                </form>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            </li>
          </ul><!-- nav -->
        </div><!-- col -->
      </div><!-- row -->

    </div><!-- container -->
  </div><!-- header__inner -->

</header><!-- header -->
