<section class="guide-holder">
  <div class="container">
    <h1>Lifestyle</h1>

    <div class="row">
      <div class="col-sm-4 push-sm-down">
        <div class="lifestyle__item">
          <img src="assets/images/temp/lifestyle-pic-1.png" class="lifestyle__img" alt="">
          
          <button type="button" class="lifestyle__dot lifestyle__dot--sky" style="top: 6%; left: 22%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--red" style="top: 56%; left: 72%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--yellow" style="top: 92%; left: 53%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--green" style="top: 15%; left: 80%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--purple" style="top: 33%; left: 33%"></button>
        </div><!-- lifestyle__item -->
      </div><!-- col -->

      <div class="col-sm-4 push-sm-down">
        <div class="lifestyle__item">
          <img src="assets/images/temp/lifestyle-pic-2.png" class="lifestyle__img" alt="">
          
          <button type="button" class="lifestyle__dot lifestyle__dot--sky" style="top: 6%; left: 22%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--red" style="top: 56%; left: 72%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--yellow" style="top: 92%; left: 53%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--green" style="top: 15%; left: 80%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--purple" style="top: 33%; left: 33%"></button>
        </div><!-- lifestyle__item -->
      </div><!-- col -->

      <div class="col-sm-4">
        <div class="lifestyle__item">
          <img src="assets/images/temp/lifestyle-pic-1.png" class="lifestyle__img" alt="">
          
          <button type="button" class="lifestyle__dot lifestyle__dot--sky" style="top: 6%; left: 22%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--red" style="top: 56%; left: 72%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--yellow" style="top: 92%; left: 53%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--green" style="top: 15%; left: 80%"></button>
          <button type="button" class="lifestyle__dot lifestyle__dot--purple" style="top: 33%; left: 33%"></button>
        </div><!-- lifestyle__item -->
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->
</section><!-- guide-holder -->
