<section class="guide-holder">
  <div class="container">
    <h1>Margins</h1>

    <p>Margin regular (20px)</p>

    <div class="row">
      <div class="col-sm-3">
        <p class="mb5">Margin bottom (5px)</p>
        <p class="mb10">Margin bottom (10px)</p>
        <p class="mb15">Margin bottom (15px)</p>
        <p class="mb20">Margin bottom (20px)</p>
        <p class="mb25">Margin bottom (25px)</p>
        <p class="mb30">Margin bottom (30px)</p>
        <p class="mb35">Margin bottom (35px)</p>
        <p class="mb40">Margin bottom (40px)</p>
        <p class="mb45">Margin bottom (45px)</p>
        <p class="mb50">Margin bottom (50px)</p>
      </div><!-- col -->

      <div class="col-sm-3">
        <p class="mr5">Margin right (5px)</p>
        <p class="mr10">Margin right (10px)</p>
        <p class="mr15">Margin right (15px)</p>
        <p class="mr20">Margin right (20px)</p>
        <p class="mr25">Margin right (25px)</p>
        <p class="mr30">Margin right (30px)</p>
        <p class="mr35">Margin right (35px)</p>
        <p class="mr40">Margin right (40px)</p>
        <p class="mr45">Margin right (45px)</p>
        <p class="mr50">Margin right (50px)</p>
      </div><!-- col -->

      <div class="col-sm-3">
        <p class="ml5">Margin left (5px)</p>
        <p class="ml10">Margin left (10px)</p>
        <p class="ml15">Margin left (15px)</p>
        <p class="ml20">Margin left (20px)</p>
        <p class="ml25">Margin left (25px)</p>
        <p class="ml30">Margin left (30px)</p>
        <p class="ml35">Margin left (35px)</p>
        <p class="ml40">Margin left (40px)</p>
        <p class="ml45">Margin left (45px)</p>
        <p class="ml50">Margin left (50px)</p>
      </div><!-- col -->

      <div class="col-sm-3">
        <p class="mt5">Margin top (5px)</p>
        <p class="mt10">Margin top (10px)</p>
        <p class="mt15">Margin top (15px)</p>
        <p class="mt20">Margin top (20px)</p>
        <p class="mt25">Margin top (25px)</p>
        <p class="mt30">Margin top (30px)</p>
        <p class="mt35">Margin top (35px)</p>
        <p class="mt40">Margin top (40px)</p>
        <p class="mt45">Margin top (45px)</p>
        <p class="mt50">Margin top (50px)</p>
      </div><!-- col -->
    </div><!-- row -->



  </div><!-- container -->
</section><!-- guide-holder -->
