<section class="guide-holder">
  <div class="container">
    <h1>Paging</h1>

    <div class="paging">
      <a href="#" class="list-icons__link list-icons__link--circled list-icons__link--circled--left">
        <i class="wanderset-icon-arrow-left list-icons__icon"></i>
      </a>
      <span>
        page <span>1</span> of <span>5</span>
      </span>
      <a href="#" class="list-icons__link list-icons__link--circled list-icons__link--circled--right">
        <i class="wanderset-icon-arrow-right list-icons__icon"></i>
      </a>
    </div><!-- paging -->

  </div><!-- container -->
</section><!-- guide-holder -->
