<section class="guide-holder">
  <div class="container">
    <h1>Table</h1>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ITEM</th>
            <th>ITEM DETAILS</th>
            <th>QUANTITY</th>
            <th>COST</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <img src="assets/images/temp/product-img-2.png" class="table__img" alt="">
            </td>
            <td>
              <div class="table__goods__info goods__info">
                <p class="goods__info-name">Product TT</p>
                <p class="goods__info-description">Sm Caption</p>
              </div><!-- goods__info -->

              <ul class="table__goods__details goods__details">
                <li class="goods__details__item">
                  <span>SIZE:</span> <span>L</span>
                </li>
                <li class="goods__details__item">
                  <span>COLOR:</span> <span>GREY</span>
                </li>
              </ul><!-- goods__details -->

              <div class="goods__link-group">
                <a href="#" class="goods__link-group__item">BUTTON</a>
                <a href="#" class="goods__link-group__item">BUTTON</a>
              </div><!-- goods__link-group -->
            </td>
            <td>
              <span class="goods__quantity goods__quantity--has-border">1</span>
            </td>
            <td>
              <p class="table__cost">$200</p>
              <p class="table__cost table__cost--sm">(2 X $275)</p>
            </td>
          </tr>
        </tbody>
      </table><!-- table -->
    </div><!-- table-responsive -->
  </div><!-- container -->
</section><!-- guide-holder -->
