<section class="guide-holder">
  <div class="container">
    <h1>Typography</h1>

    <h1>h1 some dummy text</h1>
    <h2>h2 some dummy text</h2>
    <h3>h3 some dummy text</h3>
    <h4>h4 some dummy text</h4>
    <h5>h5 some dummy text</h5>
    <h6>h6 some dummy text</h6>

    <h1 class="title title-lg">hero large title</h1>
    <h6 class="title"><span class="title-has-border">Small title</span></h6>

    <h1 class="font-base-black">Font black</h1>
    <h1 class="font-base-bold">Font bold</h1>
    <h1 class="font-base-medium">Font medium</h1>
    <h1 class="font-base-book">Font book</h1>
    <h1 class="font-secondary">Font DroidSerif-Italic</h1>
    <h1 class="title-xs">title small(11px)</h1>
    <h1 class="title title-xs">title small(11px)</h1>

    <p>
      <a href="#">main button</a>
      <br>
      <a href="#" class="text-no-underline">this link will be not underline</a>
      <br>
      <a href="#" class="text-capitalize">this link will be capitalize</a>
      <br>
      <a href="#" class="underline">underline link</a>
      <br>
      <a href="#" class="sidelink sidelink__bold">sidelink bold</a>
      <br>
      <a href="#" class="sidelink">sidelink regular</a>
    </p>

  </div><!-- container -->
</section><!-- guide-holder -->
