/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
*************************/

$font-pt-sans: 'PT Sans Narrow';

.font-pt-sans {
	font-family: $font-pt-sans !important;
}

.font-regular {
	font-family: Arial !important;
}

.weight-bold {
	font-weight: bold !important;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size: 16px;
$body-line-height: 1.8;


/*************************
	Heading variables
*************************/
$heading-font-family: 'Arial Black',
'Arial Bold',
sans-serif;