/* BAR */

$bar-height: 13px;

.bar {
  height: $bar-height;
  width: 100%;
}
.bar-inner {
  height: $bar-height;
}
.bar-inner--success {
  background: $success;
}
.bar-inner--warning {
  background: $warning;
}
.bar-inner--danger {
  background: $danger;
}

.bar-label {
  min-width: 90px;
  text-align: right;
  @include media-breakpoint-down(sm) {
    min-width: 50px;
  }
}
