/* BORDERS */

.rounded-md {
  @include media-breakpoint-down(md) {
    border-radius: .25rem!important;
  }
}
.rounded-top-md {
  @include media-breakpoint-down(md) {
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
  }
}
.rounded-right-md {
  @include media-breakpoint-down(md) {
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
  }
}
.rounded-bottom-md {
  @include media-breakpoint-down(md) {
    border-bottom-right-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
  }
}
.rounded-left-md {
  @include media-breakpoint-down(md) {
    border-bottom-right-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
  }
}
.rounded-circle-md {
  @include media-breakpoint-down(md) {
    border-radius: 50%!important;
  }
}
.rounded-0-md {
  @include media-breakpoint-down(md) {
    border-radius: 0!important;
  }
}
.rounded-bottom-0-md {
  @include media-breakpoint-down(md) {
    border-bottom-right-radius: 0rem!important;
    border-bottom-left-radius: 0rem!important;
  }
}

.rounded-top-0-md {
  @include media-breakpoint-down(md) {
    border-top-right-radius: 0rem!important;
    border-top-left-radius: 0rem!important;
  }
}
