/* CARD */

$card-divider-color: #c2c8e1;

.card {
  border: none;
  box-shadow: 0 0 20px 0 rgba($black, .09);
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.card-header {
  background: $brand;
  padding: 0.9rem 1.25rem;
  border: none;
}
.card-header__title {
  color: $white;
  font-size: 24px;
  font-family: $font-base-light;
}
.card-body {
  border: none;
}
.card-body--sm {
  padding: 10px 15px;
  .card-divider {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.card-divider {
  height: 1px;
  background: $card-divider-color;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.card-divider--sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-divider-light {
  background: rgba($card-divider-color, .15);
}
