/* COLORS AND BACKGROUNDS */

//Colors
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-brand {
  color: $brand !important;
}
.text-blue {
  color: $blue !important;
}
.text-blue-bold {
  color: $blue-bold !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray-light {
  color: $gray-light !important;
}
.text-gray {
  color: $gray !important;
}
.text-success {
  color: $success !important;
}
.text-warning {
  color: $warning !important;
}
.text-danger {
  color: $danger !important;
}
.text-red {
  color: $red !important;
}

//Background colors
.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-brand {
  background-color: $brand !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-blue-bold {
  background-color: $blue-bold !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray-light {
  background-color: $gray-light !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-red {
  background-color: $red !important;
}
