/* INDICATOR */

$indicator-item-size: 14px;
$indicator-item-size-md: 21px;
$indicator-item-size-lg: 31px;


.indicator__item {
  border-radius: 50%;
  width: $indicator-item-size;
  height: $indicator-item-size;
  display: inline-block;
  vertical-align: sub;
  &+.indicator__item {
    margin-left: 7px;
  }
}
.indicator__item--md {
  width: $indicator-item-size-md;
  height: $indicator-item-size-md;
}
.indicator__item--lg {
  width: $indicator-item-size-lg;
  height: $indicator-item-size-lg;
}

.indicator__item--success {
  background: $success;
}
.indicator__item--warning {
  background: $warning;
}
.indicator__item--danger {
  background: $danger;
}
