/* QUESTION */

$question-icon-size: 30px;

[data-readmore] {
  overflow: hidden;
}

.question {
  position: relative;
  padding-left: $question-icon-size + 15px;
  &:before {
		content: attr(data-question);
    color: $white;
    background: $brand;
    width: $question-icon-size;
    height: $question-icon-size;
    @extend .d-flex, .align-items-center, .justify-content-center;
    flex-shrink: 0;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    top: 6px;
    left: 0;
	}
}
