/* SCORE */

.score {
  font-family: $font-base-light;
  font-size: 78px;
	line-height: .7;
  @include media-breakpoint-down(sm) {
    font-size: 60px;
  }
  sup {
    top: -.15em;
  }
}
.score-small {
  font-size: 45px;
	line-height: .7;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}
