/* SIDEBAR */

$sidebar-nav-gradient: linear-gradient(176deg, #333750, #d83e58);
$sidebar-nav-width: 217px;;

.sidebar-nav {
  position: fixed;
  left: 0;
  top: $navbar-height;
  height: 100%;
  width: $sidebar-nav-width;
  overflow-y: scroll;
  background-image: $sidebar-nav-gradient;
}
