/* SIDEBAR */

$sidebar-nav-gradient-start: #333750;
$sidebar-nav-gradient-end: #d83e58;
$sidebar-nav-width: 217px;
$sidebar-nav-width-md: 170px;
$sidebar-nav-link-fs: 16px;
$sidebar-nav-link-color: $white;
$sidebar-nav-link-kerning: .2px;

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebar-nav-width;
  overflow-y: scroll;
  z-index: 1100;
  @include gradient-y($start-color: $sidebar-nav-gradient-start, $end-color: $sidebar-nav-gradient-end, $start-percent: 0%, $end-percent: 200%);
  @include media-breakpoint-down(lg) {
    width: $sidebar-nav-width-md;
  }
}

.sidebar-logo {
  padding: 15px 35px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  @include media-breakpoint-down(lg) {
    margin: 10px 0 10px 0;
  }
}

.sidebar-nav {}

.sidebar-nav-item {}

.sidebar-nav-link {
  //padding: 22.5px 20px;
  padding: 0 20px 0 0;
  color: $sidebar-nav-link-color;
  font-size: $sidebar-nav-link-fs;
  letter-spacing: $sidebar-nav-link-kerning;
  display: block;
  border-bottom: 1px solid rgba($white, .1);
  @extend .d-flex, .align-items-md-center;
  @include media-breakpoint-down(lg) {
    padding-right: 10px;
    font-size: 13px;
  }
  &:hover, &:focus {
    color: $white;
    .sidebar-nav-icon {
      background: $red;
    }
    .sidebar-nav-icon__img {
      path, mask {
        fill: $white !important;
      }
      g {
        fill: $white !important;
      }
    }
  }
  &.active {
    .sidebar-nav-icon {
      background: $red;
    }
    .sidebar-nav-icon__img {
      path, mask {
        fill: $white !important;
      }
      g {
        fill: $white !important;
      }
    }
  }
}
.sidebar-nav-icon {
  width: 64px;
  height: 64px;
  @extend .d-inline-flex, .align-items-md-center, .justify-content-center;
  margin-right: 10px;
  padding: 20px;
  flex-shrink: 0;
  @include media-breakpoint-down(lg) {
    width: 46px;
    padding: 20px 10px;
  }
}
.sidebar-nav-icon__img {
  width: 100%;
}
