/* VARIABLES */


/* Color variables */
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;


/*************************
	Fonts variable
*************************/
$font-icons: 'fontello';

/*************************
	Body variable
*************************/
// $body-font-family: $font-base;
// $body-font-size: 14px;
// $body-line-height: 1.5;
// $body-main-color: $main-color;


/*************************
	Links color variable
*************************/
//$link-color: $deep-curelean;


/*************************
	Title color variable
*************************/

/*************************
	Local color variable
*************************/
