/* ASSETS */

$assets-bg: $white;
$assets-highlighted-bg: $success;
$assets-color: $black;
$assets-highlighted-color: $white;

.assets {
  border-radius: 10px;
  box-shadow: 0 5px 34px 0 rgba(0, 0, 0, 0.09);
  background-color: $assets-bg;
  padding: 25px;
  color: $assets-color;
  @extend .d-flex, .flex-column, .flex-fill;
  height: 100%;
  @include transition($base-animation);
  @include media-breakpoint-up(xl) {
    padding-bottom: 80px;
  }
  // &:hover,
  // &:focus {
  //   background-color: $assets-highlighted-bg;
  //   color: $assets-highlighted-color;
  // }
}

.assets--highlighted {
  background-color: $assets-highlighted-bg;
  color: $assets-highlighted-color;
  // &:hover,
  // &:focus {
  //   background-color: $assets-highlighted-bg;
  //   color: $assets-highlighted-color;
  // }
}

.assets__title {
  font-size: 45px;
  margin-bottom: 5px;
  line-height: 1;
}

.assets__subtitle {
  font-size: 20px;
  margin-bottom: 5px;
  @include media-breakpoint-up(xl) {
    font-size: 25px;
  }
}
