/* BUTTONS */

.btn {
  border-radius: 42px;
  font-family: $font-medium;
  color: $black;
  border: 1px solid $success;
  padding: 15px 28px;
  &:hover,
  &:focus {
    background: $success;
    color: $black;
    box-shadow: none;
  }
}
