/* HERO */

$hero-color: $white;

.hero {
  color: $hero-color;
  @extend .position-relative;
}

.hero__gallery {
}

.hero__item {
  min-height: 100vh;
  @extend .d-flex, .justify-content-center, .align-items-center;
  @include media-breakpoint-down(md) {
    min-height: 75vh;
  }
}

.hero__inner {
  max-width: 730px;
  @extend .text-center;
  padding-left: 15px;
  padding-right: 15px;
  @include media-breakpoint-down(sm) {
    padding: 15px 15px 80px 15px;
  }
}

.hero__title {
  line-height: 1.2;
  font-family: $font-black;
  @include media-breakpoint-up(xl) {
    font-size: 70px;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 36px;
  }
}

.hero__subtitle {
  font-size: 18px;
  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 28px;
  }
}

.hero__navigation {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  padding: 20px;
  @extend .w-100,
    .container,
    .position-absolute,
    .d-flex,
    .justify-content-center,
    .align-items-center;

  .slick-dots {
    @extend .d-inline-flex, .align-items-center;
    width: auto;
  }
}

.hero__gallery__controls {
  @extend .border-0, .p-0;
  background: none;
  font-size: 20px;
  color: $white;
  margin-right: 10px;
}
