/* MAP */

.map {
  padding: 30px 0;
  @extend .position-relative;
}

.map__iframe {
  @extend .w-100, .h-100, .border-0, .position-absolute;
  left: 0;
  top: 0;
}

.map__box {
  padding: 30px 35px;
  border-radius: 10px;
  background: $white;
  font-size: 12px;
  @include media-breakpoint-up(lg) {
    padding: 30px 45px;
    font-size: 16px;
  }
}

.map__box__title {
  font-size: 20px;
  @extend .font-boldextra, .text-black, .mb-3;
  @include media-breakpoint-up(lg) {
    font-size: 25px;
  }
}
