/* PRODUCT GALLERY */

.products-gallery {
  @include media-breakpoint-down(md) {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.products-gallery,
.products-gallery-mobile {
  .slick-list {
    @include media-breakpoint-up(md) {
      padding-top: 20px !important;
    }
  }
}

.products-gallery-mobile {
  padding-left: 25px;
  padding-right: 25px;
  .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.products-gallery__item {
  @extend .container;
  padding-left: 50px;
  padding-right: 50px;
  &:not(.slick-center) {
    @include media-breakpoint-up(lg) {
      opacity: 0.5;
      user-select: none;
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(lg) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-breakpoint-down(md) {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 690px;
  }
}
