/* PRODUCT */

$product-color: $white;

.product {
  object-fit: contain;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #000000);
  margin-bottom: 25px;
  @extend .position-relative, .d-block;
  color: $product-color;
  @include transition($base-animation);
  @include media-breakpoint-up(lg) {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.33);
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  &:hover,
  &:focus {
    color: $product-color;
    @include media-breakpoint-up(md) {
      transform: translateY(-20px);
    }
  }
}

.product-image {
  @extend .w-100;
  object-fit: contain;
}

.product__description {
  position: absolute;
  top: 0;
  left: 0;
  @extend .w-100, .h-100, .d-flex, .flex-column, .justify-content-end;
  padding: 30px;
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 30px;
  }
}

.product__title {
  font-size: 28px;
  @extend .mb-3;
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

.product__description__text {
  min-height: 120px;
  max-height: 120px;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
  @include media-breakpoint-down(sm) {
    min-height: auto;
    max-height: auto;
    font-size: 14px;
  }
}
