/* SECTION */

.section {
  position: relative;
  padding: 50px 0;
  @include media-breakpoint-up(md) {
    padding: 80px 0;
  }
}

.section--assets {
  @include media-breakpoint-up(lg) {
    background: url("../images/temp/world-map.svg") no-repeat 0% 50% / 38%;
  }
}

.section--sustainability {
  @include media-breakpoint-up(lg) {
    background: url("../images/temp/sustainability-bg-left.svg") no-repeat 0%
        50% / 22%,
      url("../images/temp/sustainability-bg-right.svg") no-repeat 100% 50% / 22%;
  }
}
