/* TITLE */

.title {
  font-family: $title-font-family;
  color: $title-color;
  font-size: 40px;
  &:not(:last-child) {
    @extend .mb-3;
  }
  @include media-breakpoint-up(xl) {
    font-size: 60px;
    line-height: 1.1;
  }
}
