//Color


.bg-white {
  background-color: $white !important;
}

.bg-muted {
  background-color: #999999 !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-success {
  background-color: $success-color !important;
}

.bg-lemon {
  background-color: $lemon !important;
}

.bg-gray {
  background-color: $gray !important;
}
