//Color



$lemon: #A5C64B;
$gray: #C2BB7E;
$silver: #c3c6cb;
$muted: #999999;

.text-white {
  color: $white !important;
}

.text-muted {
  color: #999999 !important;
}

.text-success {
  color: $success-color !important;
}
