//Divider


.divider {
  height: 1px;
  background: $success-color;
  margin-top: 35px;
  margin-bottom: 35px;
}

.divider--white {
  background: $white;
}

.divider--mutted {
  background: $dark-gray;
}

.divider--sm {
  margin-top: 20px;
  margin-bottom: 20px;
}
