<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-md-6 mb-3 mb-md-0">
				<a class="logo mb-3" href="#">
		    	<img src="assets/images/elements/logo-footer.svg" alt="" class="w-100">
		    </a>
				<address class="address mb-4">
					8111 Hixson Pike, Suite B<br>
					Hixson, TN 37343<br>
					<a href="tel:423.498.2557">423.498.2557</a> | <a href="mailto:info@brookercg.com">info@brookercg.com</a>
				</address>

				<a href="#" class="d-none d-md-inline-block">
					<img src="assets/images/elements/brand.png" class="img-fluid" alt="">
				</a>
			</div><!--col-->

			<div class="col-xl-8 col-md-6">
				<p class="footer__title text-md-right neg-lett mt-md-3 mb-3 mb-md-4">BUILDING POSSIBILITIES, EXCEEDING EXPECTATIONS</p>
				<ul class="list-inline mb-4 text-md-right">
				  <li class="list-inline-item">
				  	<a href="#" class="list-social-item brooker-icon-facebook"></a>
				  </li>
					<li class="list-inline-item">
				  	<a href="#" class="list-social-item brooker-icon-instagram"></a>
				  </li>
					<li class="list-inline-item">
				  	<a href="#" class="list-social-item brooker-icon-mail-alt"></a>
				  </li>
					<li class="list-inline-item">
				  	<a href="#" class="list-social-item brooker-icon-linkedin-squared"></a>
				  </li>
					<li class="list-inline-item">
				  	<a href="#" class="list-social-item brooker-icon-gplus"></a>
				  </li>
				</ul>
				<a href="#" class="d-inline-block d-md-none">
					<img src="assets/images/elements/brand.png" class="img-fluid" alt="">
				</a>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</footer>
