/* WRAPPER */
.wrapper {
  @extend .position-relative, .flex-fill;
  z-index: 30;
  @include media-breakpoint-up(md) {
    min-height: 100vh !important;
  }

  &:before {
    content: '';
    @extend .position-absolute, .w-100, .h-100;
    left: 0;
    top: 0;
    background-color: rgba($black, .75);
  }
}