/* GALLERY */

.gallery-holder {
  @extend .position-relative;

  @include media-breakpoint-down(md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gallery {
  margin-top: 50px;

  @include media-breakpoint-up(lg) {
    margin-top: 130px;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      @extend .position-absolute,
      .bg-silver;
      width: 2px;
      height: 40px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .swiper-slide-active,
  .swiper-slide-next {
    &:before {
      @include media-breakpoint-up(md) {
        content: '';
      }
    }
  }
}

.gallery__item {
  @extend .position-relative;
  padding-left: 40px;
  padding-right: 40px;


}

.gallery__title {
  @extend .font-medium,
  .text-blue;
  font-size: 20px;

  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
}


.gallery__button-prev,
.gallery__button-next {
  @extend .position-absolute,
  .font-icons,
  .text-silver;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  z-index: 10;
}

.gallery__button-prev {
  @extend .icon-arrow-left;
  left: 0;

  @include media-breakpoint-up(md) {
    left: -30px;
  }
}

.gallery__button-next {
  @extend .icon-arrow-right;
  right: 0;

  @include media-breakpoint-up(md) {
    right: -30px;
  }
}