/* HERO */

.hero {
  @extend .position-relative,
  .has-bg,
  .d-flex,
  .flex-column,
  .justify-content-end;
  z-index: 20;
  background-attachment: fixed;
  background-position: 50% 0%;

  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-breakpoint-up(md) {
    min-height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 780px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &:before {
    content: '';
    @extend .position-absolute,
    .w-100,
    .h-100;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba($black, .25);
  }

  &:after {
    @extend .position-absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    background: url('../img/elements/brand-logo.svg') no-repeat center right / cover;
    opacity: .2;

  }
}

.hero__title,
.hero__subtitle {
  @extend .text-white;
}

.hero__title {
  @extend .font-medium;
}

.hero__subtitle {
  @extend .font-regular;

  @include media-breakpoint-up(xl) {
    font-size: 28px;
  }
}