<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 mb-3 mb-sm-0">
				<ul class="list-unstyled">
				  <li><a href="#" class="footer__link">ABOUT US</a></li>
					<li><a href="#" class="footer__link">PARTNERS</a></li>
					<li><a href="#" class="footer__link">PRIVACY</a></li>
					<li><a href="#" class="footer__link">SHIPPING</a></li>
					<li><a href="#" class="footer__link">FAQ</a></li>
					<li><a href="#" class="footer__link">BLOG</a></li>
					<li><a href="#" class="footer__link">CONTACT</a></li>
			</div><!--col-->

			<div class="col-sm-4 mb-3 mb-sm-0">
				<a href="#" class="footer__logo">
					<img src="assets/images/elements/footer-logo.png" class="mx-auto d-block img-fluid" alt="">
				</a>
			</div><!--col-->

			<div class="col-sm-4">
				<h4>WHITE OAK WHISKEY</h4>
				<address class="">
					1234 LOREM IPSUM RD.<br>
					CHATTANOOGA, TN 37405
					<br>
					<br>
					1.800.123.4567<br>
					<a href="mailto:INFO@WOWHISKEY.COM">INFO@WOWHISKEY.COM</a>
				</address>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</footer><!--footer-->
