<nav class="navbar navbar-expand-md">
  <a class="navbar-brand d-inline-block d-md-none" href="#">
    <img src="assets/images/elements/header-logo.png" alt="" class="img-fluid">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="wow-icon-menu"></i>
  </button>

  <div class="collapse navbar-collapse flex-column" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ACCOUNT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CART <i class="wow-icon-basket"></i><span>0</span></a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-nav--menu w-100 justify-content-md-center">
      <li class="nav-item">
        <a class="nav-link" href="#">HOW IT WORKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FIND US</a>
      </li>
      <li class="nav-item nav-item--logo-holder d-none d-md-inline-flex">
        <a class="nav-link nav-link--logo w-100" href="#">
          <img src="assets/images/elements/header-logo.png" class="w-100" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GAL`LERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
    </ul>
  </div>
</nav>
