/* OFFCANVAS */

$offcanvas-bg: red;
$offcanvas-width: 70%;
$offcanvas-transition: 350ms;



.offcanvas {
  width: $offcanvas-width;
  background: $offcanvas-bg;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  @include transition($offcanvas-transition);
  transform: translateX(-100%);
  z-index: 200;
}

.offcanvas--opened {
  transform: translateX(0%);
}

.offcanvas-mask {
  position: fixed;
  @include transition($offcanvas-transition);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-mask--opened {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
