/* Fonts */
//Rubik
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap&subset=cyrillic');
//Cocon
@font-face {
  font-family: 'coconregular';
  src: url("#{$font-path}cocon/cocon-regular-webfont.woff2") format('woff2'), url("#{$font-path}cocon/cocon-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}