/* VARIABLES */


/* Color variables */
$white: #ffffff; //Dark theme text color
$black: #000000;
$success: #29be68;
$twitter-brand: #0087cb;
$facebook-brand: #3b5998;
$telegram-brand: #598dca;
$danger: #ff6a67;
$silver-thin: #d9e7ed;
$silver: #7f8492;
$silver-bold: #495165;
$muted-thin: #e7ebf5;
$muted: #90a4ae;
$muted-bold: #3a3e46; //White theme text color
$gray-light: #F9F9F9;
$gray: #f0f0f0;
$gray-bold: #6f7f89;
$gray-dark: #71818d;
$blue-light: #2A3142;
$blue: #1d2332;
$blue-dark: #2a3143;
$blue-bold: #171b27;
$warning: #ffc200;
$pink: #836cd0;
$sky: #28a4f2;
$sky-dark: #373f52;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-success {
  color: $success !important;
}
.text-twitter-brand {
  color: $twitter-brand !important;
}
.text-facebook-brand {
  color: $facebook-brand !important;
}
.text-telegram-brand {
  color: $telegram-brand !important;
}
.text-danger {
  color: $danger !important;
}
.text-silver-thin {
  color: $silver-thin !important;
}
.text-silver {
  color: $silver !important;
}
.text-silver-bold {
  color: $silver-bold !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-muted-bold {
  color: $muted-bold !important;
}
.text-gray-light {
  color: $gray-light !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-gray-dark {
  color: $gray-dark !important;
}
.text-blue-light {
  color: $blue-light !important;
}
.text-blue {
  color: $blue !important;
}
.text-blue-dark {
  color: $blue-dark !important;
}
.text-blue-bold {
  color: $blue-bold !important;
}
.text-warning {
  color: $warning !important;
}
.text-pink {
  color: $pink !important;
}
.text-sky {
  color: $sky !important;
}
.text-sky-dark {
  color: $sky-dark !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-twitter-brand {
  background-color: $twitter-brand !important;
}
.bg-facebook-brand {
  background-color: $facebook-brand !important;
}
.bg-telegram-brand {
  background-color: $telegram-brand !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-silver-thin {
  background-color: $silver-thin !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-silver-bold {
  background-color: $silver-bold !important;
}
.bg-muted-thin {
  background-color: $muted-thin !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-muted-bold {
  background-color: $muted-bold !important;
}
.bg-gray-light {
  background-color: $gray-light !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-gray-dark {
  background-color: $gray-dark !important;
}
.bg-blue-light {
  background-color: $blue-light !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-blue-dark {
  background-color: $blue-dark !important;
}
.bg-blue-bold {
  background-color: $blue-bold !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-sky-dark {
  background-color: $sky-dark !important;
}



/*************************
	Fonts variables
*************************/
$font-regular: 'Montserrat-Regular';
$font-medium: 'Montserrat-Medium';

.font-regular {
  font-family: $font-regular !important;
}
.font-medium {
  font-family: $font-medium !important;
}


$font-icons: 'fontello';
.font-icons {
  font-family: $font-icons;
}


/*************************
	Base variables
*************************/
$base-color-theme-dark: $white;
$base-color-theme-light: $muted-bold;
$font-base: $font-regular;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;



/*************************
	Links variables
*************************/
$link-color: $primary;


/*************************
	Title variables
*************************/
$title-font-family: $font-medium;
