/* CARD */

.card {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 4px 4px -2px rgba($black, .1);
}
.card__body {
  padding: 25px;
  background: $white;
  .card__body {
    padding: 15px; 
  }
}
.card__body--warning {
  background: $yellow;
}
.card__body--user {}
.card__user__item {
  @include clearfix();
  .label {
    vertical-align: text-top;
  }
}
.card__user__title {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 5px;
}
.card__divider {
  display: block;
  height: 1px;
  background: $mercury;
  margin-top: 12px;
  margin-bottom: 12px;
}
.card__user__name {
  vertical-align: text-top;
}
