/* FLEX */

.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-content-center {
  justify-content: center;
}
.flex-item-center {
  align-items: center;
}
.flex-item-start {
  align-items: flex-start;
}
.flex-item-end {
  margin-top: auto;
}
.flex-item-between {
  align-content: space-between;
}
.flex-basis-100 {
  flex-basis: 100%;
}
.flex-grow {
  flex-grow: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}

.flex-ellipsis {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-center {
  @extend .flex, .flex-content-center, .flex-item-center;
}

.flex-holder {
  @extend .flex, .flex-between, .flex-item-center;
  margin-bottom: 50px;
}
