/* Fonts */

//CopyrightKlimTypeFoundry
@font-face {
  font-family: 'CopyrightKlimTypeFoundry-NotLicensedforDesktopUse';
  src: url('#{$path-to-font}CopyrightKlimTypeFoundry/CopyrightKlimTypeFoundry-NotLicensedforDesktopUse.eot?#iefix') format('embedded-opentype'),
  url('#{$path-to-font}CopyrightKlimTypeFoundry/CopyrightKlimTypeFoundry-NotLicensedforDesktopUse.woff') format('woff'), url('#{$path-to-font}CopyrightKlimTypeFoundry/CopyrightKlimTypeFoundry-NotLicensedforDesktopUse.ttf')  format('truetype'), url('#{$path-to-font}CopyrightKlimTypeFoundry/CopyrightKlimTypeFoundry-NotLicensedforDesktopUse.svg#CopyrightKlimTypeFoundry-NotLicensedforDesktopUse') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Open Sans
@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$path-to-font}Open_Sans/OpenSans-Light.woff2') format('woff2'),
       url('#{$path-to-font}Open_Sans/OpenSans-Light.woff') format('woff'),
       url('#{$path-to-font}Open_Sans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$path-to-font}Open_Sans/OpenSans-Regular.woff2') format('woff2'),
       url('#{$path-to-font}Open_Sans/OpenSans-Regular.woff') format('woff'),
       url('#{$path-to-font}Open_Sans/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$path-to-font}Open_Sans/OpenSans-Semibold.woff2') format('woff2'),
       url('#{$path-to-font}Open_Sans/OpenSans-Semibold.woff') format('woff'),
       url('#{$path-to-font}Open_Sans/OpenSans-Semibold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$path-to-font}Open_Sans/OpenSans-Bold.woff2') format('woff2'),
       url('#{$path-to-font}Open_Sans/OpenSans-Bold.woff') format('woff'),
       url('#{$path-to-font}Open_Sans/OpenSans-Bold.ttf') format('ttf');
}
