/* LABEL */

.label {
  border-radius: 20px;
  padding: 1.5px 10px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  display: inline-block;
  &.label-warning {
    background: $warning;
  }
  &.label-danger {
    background: $danger;
  }
}
