/* LIST */

.list-divider {
  @extend .list-unstyled, .flex, .flex-item-center;
}
.list-divider__item {
  color: $boulder;
  &+.list-divider__item {
    &:before {
      content: '';
      height: 14px;
      width: 1px;
      background: $boulder;
      display: inline-block;
      margin-left: 12px;
      margin-right: 12px;
      position: relative;
      top: 2px;
    }
  }
}
