/* PANEL */

.panel {
  box-shadow: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

.panel-body, .panel-header {
  padding: 10px 15px;
}
.panel-body {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.panel--muted {
  .panel-body {
    background: $athens-gray;
    border-color: darken($athens-gray, 10%);
  }
}
