/* TABLE */

.table {
  margin-bottom: 35px;
  >thead, >tbody {
    >tr {
      >th, td {
        border-color: $mustyc;
      }
    }
  }
  >thead {
    >tr {
      >th, td {
        font-family: $font-base-bold;
        color: $mine-shaft;
        border-bottom: none;
      }
    }
  }
  >tbody {
    >tr {
      &:last-child {
        >th, td {
          padding-top: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid $mustyc;
        }
      }
      >th, td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

.table-striped {
  >tbody {
    >tr {
      &:nth-of-type(odd) {
        background: $athens-gray;
      }
    }
  }
}
