/* VARIABLES */


/*************************
	Local colors variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$mine-shaft: #262626;
$black: #000000;
/* Blue group */
$congress-blue: #004b85; //Primary color
$limed-spruce: #3A4D57;
/* Gray group */
$athens-gray: #fafbfc;
$aqua-haze: #f4f7f9; //Body bg
$mustyc: #e4ebef; //Navbar border color
$mercury: #e8e8e8; //Border/divider color
$silver: #cccccc;
$silver-chalise: #aaaaaa;
$boulder: #777777; //Body text color
$limed-spruce: #3B4E58;
/* Red group */
$mendy: #dd4f4f; //Danger color
/* Yellow group */
$tulip-tree: #e7aa3f; //Warning color
$citrine-white: #F9F5D3;//Yellow color

/*************************
	Global colors variables
*************************/
$dark: $mine-shaft;
$primary: $congress-blue;
$mutted: $mercury;
$mutted-soft: $silver-chalise;
$body-text-color: $boulder;
$gray: $boulder;
$danger: $mendy;
$warning: $tulip-tree;
$yellow: $citrine-white;


/*************************
	Fonts variable
*************************/

$font-base: 'OpenSans-Regular';

$font-base-light: 'OpenSans-Light';
$font-base-regular: 'OpenSans-Regular';
$font-base-semibold: 'OpenSans-Semibold';
$font-base-bold: 'OpenSans-Bold';

$font-secondary: 'CopyrightKlimTypeFoundry-NotLicensedforDesktopUse';

$font-icons: 'fontello';

/*************************
	Body variable
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $body-text-color;
$body-bg: $aqua-haze;


/*************************
	Links color variable
*************************/
$link-color: $primary;


/*************************
	Title color variable
*************************/
$title-ff: $font-secondary;

/*************************
	Path variable
*************************/
$path-to-font: '../fonts/';
