/* HERO SECONDARY */

.hero-secondary {
    @extend .position-relative;
    padding: 35px 0 70px 0;
    z-index: 40;

    @include media-breakpoint-up(lg) {
        padding: 100px 0 120px 0;
    }

    &:before {
        content: '';
        @extend .position-absolute,
        .start-0,
        .top-0,
        .w-100;
        height: 350px;
        background-color: rgba($primary, .1);
        z-index: -1;

        @include media-breakpoint-up(lg) {
            height: 220px;
            background-color: $primary;
        }
    }
}

.hero-secondary__image-box {
    @extend .bg-white;
    border-radius: 10px;
    box-shadow: 0 4px 40px 0 rgba(131, 135, 158, 0.11);
    padding: 45px 55px;

    @include media-breakpoint-down(lg) {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(lg) {
        padding: 60px 75px;
    }
}

.hero-secondary__header {
    @extend .d-flex,
    .flex-column,
    .flex-lg-row,
    .align-items-center;
    margin-bottom: 50px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    }
}

.hero-secondary__heading {
    @include media-breakpoint-up(lg) {
        color: $white;
    }
}