/* HERO */

.hero {
    @extend .text-center;
    background-color: $info;

    padding: 35px 0;

    @include media-breakpoint-up(md) {
        background-color: $primary100;
        padding: 40px 0 94px 0;
    }
}

.hero__title,
.hero__subtitle {
    color: $dark;

    @include media-breakpoint-up(md) {
        color: $white;
    }
}

.hero__subtitle {
    @extend .fs-16,
    .font-medium;
    letter-spacing: 2.32px;
}

.hero__img {
    margin-bottom: -135px;
}

.hero__pre-hero-img {
    @include media-breakpoint-up(md) {
        margin-top: -100px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: -120px;
    }

    @include media-breakpoint-up(xl) {
        margin-top: -140px;
    }
}