/* INFO BOX */

.info-box {
    @include media-breakpoint-down(sm) {
        margin-left: var(- --bs-gutter-x, -.75rem);
        margin-right: var(- --bs-gutter-x, -.75rem);
    }

    @include media-breakpoint-up(md) {
        border-radius: 10px;
    }

    @extend .bg-info;
    border: 1px solid $info100;
    padding: 50px;
}