/* SECTION */

.section {
    padding: 47px 0 130px 0;

    &--pre-hero {
        @extend .pb-0;

        @include media-breakpoint-down(md) {
            padding-top: 120px;
        }
    }

    &--anchor {
        padding-top: 70px;
        padding-bottom: 173px;

        @include media-breakpoint-up(md) {
            padding-bottom: 205px;
        }
    }
}