<footer class="footer">
  <div class="container">
    <div class="row align-items-center mb-5 mb-md-2">
      <div class="col-md-3 mb-4 mb-md-0">
        <a href="#" class="foter__logo">
          <img src="assets/images/elements/logo.png" alt="" class="w-100">
        </a>
      </div><!--col-->

      <div class="col-md-6 mb-4 mb-md-0">
        <ul class="nav justify-content-center justify-content-md-between">
          <li class="nav-item">
            <a class="nav-link" href="#">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MOBILE APP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRIVACY POLICY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TERMS OF USE</a>
          </li>
        </ul>
      </div><!--col-->

      <div class="col-md-3">
        <ul class="social justify-content-center justify-content-md-end">
          <li class="social__item">
            <a href="#" class="social__link mountain-icon-facebook"></a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link mountain-icon-twitter"></a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link mountain-icon-instagram"></a>
          </li><!--social__item-->
        </ul><!--social-->
      </div><!--col-->
    </div><!--row-->
    <p class="footer__copyright">©2018 - youLogo. All right reserved</p>
  </div><!--container-->
</footer><!--footer-->
