<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="format-detection" content="telephone=no">
<!-- Start: injected by AdGuard -->
<script src="//local.adguard.com/adguard-ajax-api/injections/content-script.js?ts=1524747540.828609&amp;sb=1&amp;domain=realfavicongenerator.net&amp;mask=103" type="text/javascript" nonce="F931C4E6E05249C3A408DBFE3878F66B" crossorigin="anonymous"></script>
<script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Adguard Assistant?ts=1524747536.098580" type="text/javascript" nonce="F931C4E6E05249C3A408DBFE3878F66B" crossorigin="anonymous"></script>
<!-- End: injected by AdGuard -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/stylesheets/main.css">
