<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/logo.png" alt="" class="w-100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="mountain-icon-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-lg-center ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#anchor-home" data-click="scroll-to-target">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-secaura" data-click="scroll-to-target">SECAURA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-features" data-click="scroll-to-target">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-about" data-click="scroll-to-target">ABOUT US</a>
        </li>
        <li class="nav-item mb-3 mb-md-0 ml-lg-5">
          <a class="btn btn-primary" href="#">PRE-ORDER</a>
        </li>
      </ul>
    </div>
  </div><!--container-->
</nav>
