/* TABLE */

.table {
  >thead {
    >tr {
      >th, >td {
        border-bottom: none;
        border-color: $silver;
        background: $silver;
      }
    }
  }
  a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background: $muted;
      }
      >th, >td {
        border-color: $muted;
      }
    }
  }
}
