<div class="bg-gray-200 md:py-px text-brand-500">
  <div class="container">
    <p class="text-center text-[13px] md:text-[15px]">Advertorial</p>
  </div>
</div>
<header class="pt-4 pb-10 text-white bg-brand-500 md:py-7">
  <div class="container">
    <a href="#" class="block w-[217px] sm:w-[330px] mb-10 md:mb-[50px]">
      <img src="img/logo.png" alt="logo" class="block w-full" />
    </a>
    <h1 class="mb-6 !leading-tight font-bold lg:text-5xl md:text-4xl sm:text-3xl text-[28px] ">NetBoost Is The Best
      WiFi
      Booster We
      Tested - Here's What We Found...</h1>
    <p class='text-sm font-medium sm:text-lg'>Updated: August 2025</p>
  </div>
</header>