/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$black100: #0c0c0c;
$black200: #474747;
$black300: #2d2d2d;
$black400: #3a3a3a;
$black500: #2a2a2a;
$blue100: #1c2c44;
$blue200: #152339;
$gray: #cecece;
$gray50: #f1f1f1;
$gray75: #c1c1c1;
$gray100: #C2C2C2;
$gray200: #e6e6e6;
$gray300: #D4D4D4;
$gray400: #434343;
$gray500: #707070;
$gray600: #f5f5f5;
$gray700: #585858;
$silver: #d5d5d5;
$silver50: #eeeeee;
$silver100: #8d8d8d;
$green100: #2c9424;
$green200: #40a738;
$warning: #ded00d;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.text-black100 {
	color: $black100 !important;
}

.text-black200 {
	color: $black200 !important;
}

.text-black300 {
	color: $black300 !important;
}

.text-black400 {
	color: $black400 !important;
}

.text-black500 {
	color: $black500 !important;
}

.text-blue100 {
	color: $blue100 !important;
}

.text-blue200 {
	color: $blue200 !important;
}

.text-gray {
	color: $gray !important;
}

.text-gray50 {
	color: $gray50 !important;
}

.text-gray75 {
	color: $gray75 !important;
}

.text-gray100 {
	color: $gray100 !important;
}

.text-gray200 {
	color: $gray200 !important;
}

.text-gray300 {
	color: $gray300 !important;
}

.text-gray400 {
	color: $gray400 !important;
}

.text-gray500 {
	color: $gray500 !important;
}

.text-gray600 {
	color: $gray600 !important;
}

.text-gray700 {
	color: $gray700 !important;
}

.text-green100 {
	color: $green100 !important;
}

.text-green200 {
	color: $green200 !important;
}

.text-warning {
	color: $warning !important;
}

.text-silver {
	color: $silver !important;
}

.text-silver50 {
	color: $silver50 !important;
}

.text-silver100 {
	color: $silver100 !important;
}


.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-black100 {
	background-color: $black100 !important;
}

.bg-black200 {
	background-color: $black200 !important;
}

.bg-black300 {
	background-color: $black300 !important;
}

.bg-black400 {
	background-color: $black400 !important;
}

.bg-black500 {
	background-color: $black500 !important;
}

.bg-blue100 {
	background-color: $blue100 !important;
}

.bg-blue200 {
	background-color: $blue200 !important;
}

.bg-gray {
	background-color: $gray !important;
}

.bg-gray50 {
	background-color: $gray50 !important;
}

.bg-gray75 {
	background-color: $gray75 !important;
}

.bg-gray100 {
	background-color: $gray100 !important;
}

.bg-gray200 {
	background-color: $gray200 !important;
}

.bg-gray300 {
	background-color: $gray300 !important;
}

.bg-gray400 {
	background-color: $gray400 !important;
}

.bg-gray500 {
	background-color: $gray500 !important;
}

.bg-gray600 {
	background-color: $gray600 !important;
}

.bg-gray700 {
	background-color: $gray700 !important;
}

.bg-green100 {
	background-color: $green100 !important;
}

.bg-green200 {
	background-color: $green200 !important;
}

.bg-warning {
	background-color: $warning !important;
}

.bg-silver {
	background-color: $silver !important;
}

.bg-silver50 {
	background-color: $silver50 !important;
}

.bg-silver100 {
	background-color: $silver100 !important;
}

/*************************
	Fonts variables
*************************/
//OpenSans
$opensans-regular: 'OpenSans-Regular';
$opensans-semibold: 'OpenSans-SemiBold';
$opensans-bold: 'OpenSans-Bold';

.font-opensans-regular {
	font-family: $opensans-regular !important;
}

.font-opensans-semibold {
	font-family: $opensans-semibold !important;
}

.font-opensans-bold {
	font-family: $opensans-bold !important;
}

//SegoeUI
$segoeui-regular: 'SegoeUI-regular';
$segoeui-semibold: 'SegoeUI-SemiBold';

.font-segoeui-regular {
	font-family: $segoeui-regular !important;
}

.font-segoeui-semibold {
	font-family: $segoeui-semibold !important;
}

//Ubuntu
$ubuntu-regular: 'Ubuntu-Regular';
$ubuntu-medium: 'Ubuntu-Medium';
$ubuntu-mediumitalic: 'Ubuntu-MediumItalic';
$ubuntu-bold: 'Ubuntu-Bold';

.font-ubuntu-regular {
	font-family: $ubuntu-regular !important;
}

.font-ubuntu-medium {
	font-family: $ubuntu-medium !important;
}

.font-ubuntu-mediumitalic {
	font-family: $ubuntu-mediumitalic !important;
}

.font-ubuntu-bold {
	font-family: $ubuntu-bold !important;
}

//Font icons
$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $gray400;
$brand-color: $blue200;
$base-font: $opensans-regular;
$base-animation: 250ms;
$base-radius: 2px;

.base-radius {
	border-radius: $base-radius !important;
}

/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
$body-bg: $gray50;

/*************************
	Links variables
*************************/
$link-color: $brand-color;

/*************************
	Heading variables
*************************/
$heading-color: $brand-color;
$heading-font: $ubuntu-medium;

/*************************
	Navigation variables
*************************/
$navigation-bg: $brand-color;
$navigation-width: 292px;