/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$blue100: #1c2c44;
$blue200: #152339;
$gray50: #f1f1f1;
$gray100: #C2C2C2;
$gray200: #e6e6e6;
$gray300: #D4D4D4;
$gray400: #434343;
$gray500: #707070;
$green100: #2c9424;
$green200: #40a738;
$warning: #ded00d;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.text-blue100 {
	color: $blue100 !important;
}

.text-blue200 {
	color: $blue200 !important;
}

.text-gray-50 {
	color: $gray50 !important;
}

.text-gray-100 {
	color: $gray100 !important;
}

.text-gray-200 {
	color: $gray200 !important;
}

.text-gray-300 {
	color: $gray300 !important;
}

.text-gray-400 {
	color: $gray400 !important;
}

.text-gray-500 {
	color: $gray500 !important;
}

.text-green100 {
	color: $green100 !important;
}

.text-green200 {
	color: $green200 !important;
}

.text-warning {
	color: $warning !important;
}

.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-blue100 {
	background-color: $blue100 !important;
}

.bg-blue200 {
	background-color: $blue200 !important;
}

.bg-gray-50 {
	background-color: $gray50 !important;
}

.bg-gray-100 {
	background-color: $gray100 !important;
}

.bg-gray-200 {
	background-color: $gray200 !important;
}

.bg-gray-300 {
	background-color: $gray300 !important;
}

.bg-gray-400 {
	background-color: $gray400 !important;
}

.bg-gray-500 {
	background-color: $gray500 !important;
}

.bg-green100 {
	background-color: $green100 !important;
}

.bg-green200 {
	background-color: $green200 !important;
}

.bg-warning {
	background-color: $warning !important;
}

/*************************
	Fonts variables
*************************/
//OpenSans
$opensans-regular: 'OpenSans-Regular';
$opensans-semibold: 'OpenSans-SemiBold';
$opensans-bold: 'OpenSans-Bold';

.font-opensans-regular {
	font-family: $opensans-regular;
}

.font-opensans-semibold {
	font-family: $opensans-semibold;
}

.font-opensans-bold {
	font-family: $opensans-bold;
}

//SegoeUI
$segoeui-regular: 'SegoeUI-regular';
$segoeui-semibold: 'SegoeUI-SemiBold';

.font-segoeui-regular {
	font-family: $segoeui-regular;
}

.font-segoeui-semibold {
	font-family: $segoeui-semibold;
}

//Ubuntu
$ubuntu-medium: 'Ubuntu-Medium';

.font-ubuntu-medium {
	font-family: $ubuntu-medium;
}

//Font icons
$font-icons: "fontello";

.font-icons {
	font-family: $font-icons;
}

/*************************
	Base variables
*************************/
$base-color: $gray400;
$brand-color: $blue200;
$base-font: $opensans-regular;
$base-animation: 250ms;
$base-radius: 2px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
$body-bg: $gray50;

/*************************
	Links variables
*************************/
$link-color: $brand-color;

/*************************
	Heading variables
*************************/
$heading-color: $brand-color;
$heading-font: $ubuntu-medium;

/*************************
	Navigation variables
*************************/
$navigation-bg: $brand-color;
$navigation-width: 292px;