/* Fonts */

//Hind
@font-face {
    font-family: 'hind-regular';
    src: url('#{$font-path}hind/hind-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}hind/hind-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hind-bold';
    src: url('#{$font-path}hind/hind-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}hind/hind-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hind-medium';
    src: url('#{$font-path}hind/hind-medium-webfont.woff2') format('woff2'),
         url('#{$font-path}hind/hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hind-semibold';
    src: url('#{$font-path}hind/hind-semibold-webfont.woff2') format('woff2'),
         url('#{$font-path}hind/hind-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Montserrat
@font-face {
    font-family: 'montserrat-regular';
    src: url('#{$font-path}montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-bold';
    src: url('#{$font-path}montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-medium';
    src: url('#{$font-path}montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('#{$font-path}montserrat/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-black';
    src: url('#{$font-path}montserrat/montserrat-black-webfont.woff2') format('woff2'),
         url('#{$font-path}montserrat/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
