<footer class="bg-slate-800 text-white py-10 md:py-16 text-center">
  <div class="container space-y-8 md:space-y-14">
    <a href="/" class="inline-block">
      <img src="./assets/images/logo-white.svg" alt="Logo" class="block w-[200px] sm:w-[285px] mx-auto" />
    </a>
    <p class="text-sm md:text-base font-light">We are a free resource providing opinions on the latest online products.
      We may be
      compensated from Amazon
      Associates or
      other retailers for qualifying purchases when products are bought through Consumer Tested Reviews, which may
      influence
      the rankings of products.</p>
    <nav class="flex justify-center gap-x-14 flex-wrap gap-y-5 text-sm md:text-base">
      <a href="#" class='transition-colors duration-200 hover:text-sky-500'>About Us</a>
      <a href="#" class='transition-colors duration-200 hover:text-sky-500'>Contact us</a>
      <a href="#" class='transition-colors duration-200 hover:text-sky-500'>Privacy Policy</a>
      <a href="#" class='transition-colors duration-200 hover:text-sky-500'>Terms of Use</a>
    </nav>
  </div>
</footer>