<a href="#" class="footer-secondary-toggle"></a>

<footer class="footer-secondary">
  <div class="d-none d-lg-block text-muted">
    © 2018 Maraguia. All rights reserved.
  </div>

  <div class="d-flex flex-column flex-md-row">
    <a href="#" class="footer-secondary__item"><i class="icon-compass mr-2 text-muted"></i> Xanghzou, China</a>
    <a href="#" class="footer-secondary__item mr-md-auto"><i class="icon-enlarge mr-2 text-muted"></i> Area registered by the forester</a>
    <a href="#" class="footer-secondary__item"><i class="icon-alert-square mr-2 text-muted"></i> Why I see a forest?</a>
    <a href="#" class="footer-secondary__item"><i class="icon-subtitles mr-2 text-muted"></i> Report a violation</a>
  </div>
</footer>