<!-- Filter modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title">Категория</h4>
        <div class="list flex-column fs-14 mb-5">
          <a href="#" class="list__item">Амазонка</a>
          <a href="#" class="list__item">Там где не ступала нога человека</a>
          <a href="#" class="list__item active">Будущему первооткрывателю</a>
          <a href="#" class="list__item">Помогает сохранить редкий вид животного</a>
          <a href="#" class="list__item">Помогает восстанавливать водные ресурсы</a>
          <a href="#" class="list__item">Рядом со мной</a>
          <a href="#" class="list__item">Самые популярные</a>
          <a href="#" class="list__item">Амазонка</a>
          <a href="#" class="list__item">Россия</a>
          <a href="#" class="list__item">Китай</a>
          <a href="#" class="list__item">Армения</a>
        </div>

        <h4 class="modal-title">Показать</h4>
        <div class="list flex-column fs-14 mb-5">
          <a href="#" class="list__item active">Посаженные</a>
          <a href="#" class="list__item">Собирают средства</a>
        </div>

        <h4 class="modal-title">Отображение</h4>
        <div class="list flex-column fs-14">
          <a href="#" class="list__item active">Карта</a>
          <a href="#" class="list__item">Лист</a>
        </div>
      </div>
    </div>
  </div>
</div>