<nav class="navbar navbar-expand-md" data-headroom data-tolerance="5" data-offset="205">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>Treeography</h1>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-line"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Warranty</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto align-items-md-center mb-3 mb-md-0 d-block d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            USD
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><b>EUR</b><span class="dropdown-item-subtitle">Евро</span></a>
            <a class="dropdown-item" href="#"><b>USD</b><span class="dropdown-item-subtitle">Доллар США</span></a>
            <a class="dropdown-item" href="#"><b>KZT</b><span class="dropdown-item-subtitle">Казахстанский тэнге</span></a>
            <a class="dropdown-item" href="#"><b>RUB</b><span class="dropdown-item-subtitle">Российский рубль</span></a>
            <a class="dropdown-item" href="#"><b>GBP</b><span class="dropdown-item-subtitle">Фунт стерлингов</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EN
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><b>EN</b><span class="dropdown-item-subtitle">Английский</span></a>
            <a class="dropdown-item" href="#"><b>RU</b><span class="dropdown-item-subtitle">Русский</span></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link bold text-primary" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success btn-sm" href="#">Get started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>