<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 mb-4 mb-xl-0">
        <div class="row align-items-center">
          <div class="col-xl-3 mb-4 mb-xl-0">
            <a href="#" class="footer__logo">
              <img src="assets/images/elements/tbc-logo.png" alt="" class="w-100">
            </a>
          </div><!--col-->

          <div class="col-xl-9">
            <div class="row">
              <div class="col-md-3 mb-4 mb-md-0">
                <h4 class="footer__title">About</h4>
                <ul class="footer__nav">
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">PRODUCT</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">HOW IT WORKS</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">BLOG</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">JOIN</a>
                  </li>
                </ul><!--footer__nav-->
              </div><!--col-->

              <div class="col-md-3 mb-4 mb-md-0">
                <h4 class="footer__title">Products</h4>
                <ul class="footer__nav">
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">OILS</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">ESSENTIALS</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">SHOWER</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">ACCELERATORS</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">ACCESSORIES</a>
                  </li>
                </ul><!--footer__nav-->
              </div><!--col-->

              <div class="col-md-3 mb-4 mb-md-0">
                <h4 class="footer__title">Help</h4>
                <ul class="footer__nav">
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">SUPPORT</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">PRIVACY POLICY</a>
                  </li>
                  <li class="footer__nav__item">
                    <a href="#" class="footer__nav__link">TERMS OF USE</a>
                  </li>
                </ul><!--footer__nav-->
              </div><!--col-->

              <div class="col-md-3 mb-4 mb-md-0">
                <h4 class="footer__title">Follow Us</h4>
                <ul class="social justify-content-center justify-content-md-start">
                  <li class="social__item">
                    <a href="#" class="social__link tbc-icon-instagram"></a>
                  </li>
                  <li class="social__item">
                    <a href="#" class="social__link tbc-icon-facebook-squared"></a>
                  </li>
                  <li class="social__item">
                    <a href="#" class="social__link tbc-icon-twitter"></a>
                  </li>
                  <li class="social__item">
                    <a href="#" class="social__link tbc-icon-youtube-play"></a>
                  </li>
                </ul><!--social-->
              </div><!--col-->
            </div><!--row-->
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->

      <div class="col-xl-3 col-md-5 col-10 mx-auto text-center">
        <h3>JOIN THE CLUB</h3>
        <p>Want to be the first hear about special deals and exlusive content? Join our mailing list to stay in the know.</p>
        <form action="" class="form-join">
          <div class="form-group mb-0">
            <input type="email" class="form-control" placeholder="Email Address">
            <button type="submit" class="btn-submit"><i class="tbc-icon-right-open-big"></i></button>
          </div><!--form-group-->
        </form>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-fluid-->
</footer><!--footer-->
