<footer class="footer">
	<div class="footer__item">
		<div class="container">
			<h3>Legala dokument</h3>
			<div class="row">
				<div class="col-sm-4 push-xs-down">
					<ul class="list list--footer font-base-medium">
						<li><a href="#">Legal information</a></li>
						<li><a href="#">Allmänna villkor</a></li>
						<li><a href="#">Bilaga till allmänna villkor</a></li>
						<li><a href="#">Risker avseende finansiella instrument</a></li>
					</ul><!-- list -->
				</div><!-- col -->

				<div class="col-sm-4 push-xs-down">
					<ul class="list list--footer font-base-medium">
						<li><a href="#">Information om klagomål</a></li>
						<li><a href="#">Ersättningspolicy</a></li>
						<li><a href="#">Redogörelse ersättningar 2015</a></li>
						<li><a href="#">Information om bästa möjliga resultat</a></li>
					</ul><!-- list -->
				</div><!-- col -->

				<div class="col-sm-4">
					<ul class="list list--footer font-base-medium">
						<li><a href="#">Hantering av intressekonflikter och incitament</a></li>
						<li><a href="#">Information om kundkategorisering</a></li>
						<li><a href="#">Periodisk information avseende likviditetsrisker</a></li>
						<li><a href="#">Periodisk information avseende kapitaltäckning</a></li>
					</ul><!-- list -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- footer__item -->

	<div class="footer__item text-center">
		<div class="container">
			<ul class="list-divider list--footer">
				<li class="list-divider__item">
					Vator Securities
				</li><!-- list-divider__item -->
				<li class="list-divider__item">
					Kungsgatan 10, 6tr
				</li><!-- list-divider__item -->
				<li class="list-divider__item">
					111 43 Stockholm
				</li><!-- list-divider__item -->
				<li class="list-divider__item">
					<a href="tel:+46 8 533 327 37" class="list-divider__link">+46 8 533 327 37</a>
				</li><!-- list-divider__item -->
				<li class="list-divider__item">
					<a href="mailto:info@vatorsecurities.se" class="list-divider__link">info@vatorsecurities.se</a>
				</li><!-- list-divider__item -->
			</ul><!-- list-divider -->

			<ul class="list-social">
				<li class="list-social__item">
					<a href="#" class="list-social__link vator-icon-twitter"></a>
				</li>

				<li class="list-social__item">
					<a href="#" class="list-social__link vator-icon-linkedin"></a>
				</li>
			</ul><!-- list-social -->
		</div><!-- container -->
	</div><!-- footer__item -->
</footer><!-- footer -->
