/* VARIABLES */

/* Color variables */
$white: #ffffff;
$white200: #fafafa;
$black: #000000;
$blue400: #6193ff;
$blue500: #182b54;
$rose500: #ffe8e8;
$rose600: #fd9081;
$rose700: #e47262;
$purple200: #f0f1ff;
$purple300: #b2c3ff;
$purple400: #dfbae9;
$purple500: #ece5ff;
$purple600: #753afc;
$gray100: rgba($blue500, .1);
$gray200: rgba($blue500, .2);
$gray300: #ecf5ff;
$gray400: rgba($blue500, .4);
$gray500: rgba($blue500, .5);
$gray600: #f9f9f9;
$gray700: #dbdbdb;
$orage500: #ffd2bf;
$green300: #edfbef;
$green500: #69bd47;
$green600: #3fcf79;
$yellow300: #fff2dc;
$yellow500: #ffbd4c;
$red300: #ffd2bf;
$red500: #ff7d6b;
$sky300: #e1f3fa;
$sky500: #e1f4fa;
$sky600: #8cc8db;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-white200 {
	color: $white200 !important;
}

.text-black {
	color: $black !important;
}

.text-blue400 {
	color: $blue400 !important;
}

.text-blue500 {
	color: $blue500 !important;
}

.text-rose500 {
	color: $rose500 !important;
}

.text-rose600 {
	color: $rose600 !important;
}

.text-rose700 {
	color: $rose700 !important;
}

.text-purple200 {
	color: $purple200 !important;
}

.text-purple300 {
	color: $purple300 !important;
}

.text-purple400 {
	color: $purple400 !important;
}

.text-purple500 {
	color: $purple500 !important;
}

.text-purple600 {
	color: $purple600 !important;
}

.text-gray100 {
	color: $gray100 !important;
}

.text-gray300 {
	color: $gray300 !important;
}

.text-gray400 {
	color: $gray400 !important;
}

.text-gray500 {
	color: $gray500 !important;
}

.text-gray600 {
	color: $gray600 !important;
}

.text-gray700 {
	color: $gray700 !important;
}

.text-orage500 {
	color: $orage500 !important;
}

.text-green300 {
	color: $green300 !important;
}

.text-green500 {
	color: $green500 !important;
}

.text-green600 {
	color: $green600 !important;
}

.text-yellow300 {
	color: $yellow300 !important;
}

.text-yellow500 {
	color: $yellow500 !important;
}

.text-red300 {
	color: $red300 !important;
}

.text-red500 {
	color: $red500 !important;
}

.text-sky300 {
	color: $sky300 !important;
}

.text-sky500 {
	color: $sky500 !important;
}

.text-sky600 {
	color: $sky600 !important;
}



.bg-white {
	background-color: $white !important;
}

.bg-white200 {
	background-color: $white200 !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-blue400 {
	background-color: $blue400 !important;
}

.bg-blue500 {
	background-color: $blue500 !important;
}

.bg-rose500 {
	background-color: $rose500 !important;
}

.bg-rose600 {
	background-color: $rose600 !important;
}

.bg-rose700 {
	background-color: $rose700 !important;
}

.bg-purple200 {
	background-color: $purple200 !important;
}

.bg-purple300 {
	background-color: $purple300 !important;
}

.bg-purple400 {
	background-color: $purple400 !important;
}

.bg-purple500 {
	background-color: $purple500 !important;
}

.bg-purple600 {
	background-color: $purple600 !important;
}

.bg-gray100 {
	background-color: $gray100 !important;
}

.bg-gray300 {
	background-color: $gray300 !important;
}

.bg-gray400 {
	background-color: $gray400 !important;
}

.bg-gray500 {
	background-color: $gray500 !important;
}

.bg-gray600 {
	background-color: $gray600 !important;
}

.bg-gray700 {
	background-color: $gray700 !important;
}

.bg-orage500 {
	background-color: $orage500 !important;
}

.bg-green300 {
	background-color: $green300 !important;
}

.bg-green500 {
	background-color: $green500 !important;
}

.bg-green600 {
	background-color: $green600 !important;
}

.bg-yellow300 {
	background-color: $yellow300 !important;
}

.bg-yellow500 {
	background-color: $yellow500 !important;
}

.bg-red300 {
	background-color: $red300 !important;
}

.bg-red500 {
	background-color: $red500 !important;
}

.bg-sky300 {
	background-color: $sky300 !important;
}

.bg-sky500 {
	background-color: $sky500 !important;
}

.bg-sky600 {
	background-color: $sky600 !important;
}

/*************************
	Fonts variables
*************************/
$font-regular: 'Roboto-Regular';

.font-regular {
	font-family: $font-regular !important;
}

$font-medium: 'Roboto-Medium';

.font-medium {
	font-family: $font-medium !important;
}

$font-bold: 'Roboto-Bold';

.font-bold {
	font-family: $font-bold !important;
}

$font-black: 'Roboto-Black';

.font-black {
	font-family: $font-black !important;
}

$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $blue500;
$base-font: $font-medium;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $blue500;

/*************************
	Heading variables
*************************/
$heading-font: $font-bold;

/*************************
	Radius variables
*************************/
$radius-base: 8px;

/*************************
	Aside menu variables
*************************/
$navbar-menu-width: 179px;
$navbar-menu-collapsed-width: 80px;