/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$blue: #abc0c0;
$blue-soft: #dde5e5;
$muted-thin: #9aa0a0;
$muted: #999999;
$gray-thin: #b05d2e;
$gray: #4f301c;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-blue {
  color: $blue !important;
}
.text-blue-soft {
  color: $blue-soft !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray-thin {
  color: $gray-thin !important;
}
.text-gray {
  color: $gray !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-blue-soft {
  background-color: $blue-soft !important;
}
.bg-muted-thin {
  background-color: $muted-thin !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray-thin {
  background-color: $gray-thin !important;
}
.bg-gray {
  background-color: $gray !important;
}



/*************************
	Fonts variables
*************************/
$font-regular: 'Roboto-Regular';
$font-medium: 'Roboto-Medium';
$font-bold: 'Roboto-Bold';
$font-bold-italic: 'Roboto-BoldItalic';
$font-black: 'Roboto-Black';

.font-regular {
  font-family: $font-regular !important;
}
.font-medium {
  font-family: $font-medium !important;
}
.font-bold {
  font-family: $font-bold !important;
}
.font-bold-italic {
  font-family: $font-bold-italic !important;
}
.font-black {
  font-family: $font-black !important;
}


$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $gray-thin;
$base-font: $font-regular;
/*************************
	Font path variable
************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 15px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $gray-thin;


/*************************
	Title variables
*************************/
$title-font: $font-medium;
