<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0 d-lg-flex flex-column order-md-1">
        <a href="#" class="footer__logo">
          <img src="assets/images/elements/logo-footer.png" alt="" class="w-100">
        </a>
        <p class="mt-auto d-none d-lg-block">
          <big class="d-block">1.800.123.4567</big>
          ©2018. All Rights Reserved
        </p>
      </div><!--col-->

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 d-lg-flex flex-column order-md-3">
        <div class="row mb-4">
          <div class="col">
            <ul class="footer__nav">
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Lorem Ipsum</a>
              </li>
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Dolor Sit Amet</a>
              </li>
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Consectetuer</a>
              </li>
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Adipiscing Elit</a>
              </li>
            </ul><!--footer__nav-->
          </div><!--col-->

          <div class="col">
            <ul class="footer__nav">
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Job Application</a>
              </li>
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Dolor Sit Amet</a>
              </li>
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Contact Us</a>
              </li>
              <li class="footer__nav__item">
                <a href="#" class="footer__nav__link">Privacy</a>
              </li>
            </ul><!--footer__nav-->
          </div><!--col-->
        </div><!--row-->

        <ul class="social mt-auto">
          <li class="social__item">
            <a href="#" class="social__link ispecialize-icon-facebook-circled"></a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link ispecialize-icon-gplus-circled"></a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link ispecialize-icon-twitter-circled"></a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link ispecialize-icon-youtube-circled"></a>
          </li><!--social__item-->
          <li class="social__item">
            <a href="#" class="social__link ispecialize-icon-linkedin-circled"></a>
          </li><!--social__item-->
        </ul><!--social-->
      </div><!--col-->

      <div class="col-lg-4 col-md-6 d-lg-flex flex-column order-md-2">
        <h3 class="footer__title">EMAIL SIGNUP</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        <form action="" class="mt-auto">
          <div class="form-group mb-0 d-flex">
            <input type="search" class="form-control border-0 bg-white">
            <button type="submit" class="btn ml-3">SUBMIT</button>
          </div>
        </form>
      </div><!--col-->
    </div><!--row-->

    <p class="d-lg-none mt-4 text-center text-lg-left">
      <big class="d-block">1.800.123.4567</big>
      ©2018. All Rights Reserved
    </p>
  </div><!--container-->
</footer><!--footer-->
