<header class="header">
  <div class="header__info">
    <div class="container d-flex justify-content-between align-items-center">
      <a href="#" class="header__logo">
        <img src="assets/images/elements/logo-header.png" alt="" class="w-100">
      </a>
      <div>
        <ul class="header__list">
          <li class="header__list__item">CHATTANOOGA: <span class="text-black">423.123.4567</span></li>
          <li class="header__list__item">DALTON: <span class="text-black">706.123.4567</span></li>
          <li class="header__list__item">OOLTEWAH: <span class="text-black">423.123.4567</span></li>
        </ul><!--header__list-->
        <div class="d-flex align-items-center justify-content-end">
          <h3 class="header__title d-none d-lg-block mr-4 mb-0">SE HABLA ESPAñOL</h3>
          <ul class="header__control-list">
            <li class="header__control-list__item d-lg-none">
              <a href="#" class="header__control-list__link header__control-list__link--menu-toggle">
                <i class="ispecialize-icon-menu"></i>
              </a>
            </li><!--header__control-list__item-->
            <li class="header__control-list__item">
              <a href="#" class="header__control-list__link">
                <i class="ispecialize-icon-user"></i>
              </a>
            </li><!--header__control-list__item-->
            <li class="header__control-list__item">
              <a href="#" class="header__control-list__link header__control-list__link--search-box-toggle">
                <i class="ispecialize-icon-search"></i>
              </a>
            </li><!--header__control-list__item-->
            <li class="header__control-list__item">
              <a href="#" class="header__control-list__link">
                <i class="ispecialize-icon-basket"></i>
              </a>
            </li><!--header__control-list__item-->
          </ul><!--header__control-list-->
        </div>
      </div>
    </div><!--container-->
  </div><!--header__info-->

  <div class="header__navbar">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <ul class="header__nav mb-0">
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">HOME</a>
        </li><!--header__nav__item-->
        <li class="header__nav__item dropdown">
          <a href="#" class="header__nav__link dropdown-toggle" data-toggle="dropdown">SERVICES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">mOBILE PHONE REPAIR</a>
            <a class="dropdown-item" href="#">TABLET REPAIR</a>
            <a class="dropdown-item" href="#">DATA RECOVERY</a>
            <a class="dropdown-item" href="#">MOTHERBOARD REPAIR (PC & MAC)</a>
            <a class="dropdown-item" href="#">LOREM IPSUM</a>
            <a class="dropdown-item" href="#">LOREM IPSUM DOLOR</a>
          </div><!--dropdown-menu-->
        </li><!--header__nav__item-->
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">ACCESSORIES</a>
        </li><!--header__nav__item-->
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">REPAIR QUOTE</a>
        </li><!--header__nav__item-->
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">BLOG</a>
        </li><!--header__nav__item-->
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">CONTACT US</a>
        </li><!--header__nav__item-->
      </ul><!--header__nav-->

      <div class="header__nav-buttons d-none d-lg-flex">
        <a href="#" class="header__nav-button">MAIL-IN SERVICE</a>
        <a href="#" class="header__nav-button header__nav-button--filled">PAY NOW</a>
      </div>
    </div><!--container-->
  </div><!--header__navbar-->
</header><!--header-->
