/* HEADER */
$header-height: 68px;

.header {
  @extend .p-3, .d-flex, .align-items-center, .bg-white, .flex-wrap, .flex-shrink-0;
  top: 0;
  left: 0;
  border-bottom: 3px solid $primary;
  min-height: $header-height;
  @include media-breakpoint-up(md) {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
}

.header__logo {
  @extend .d-block, .mr-1, .mr-sm-4, .order-md-1;
  width: 125px;
  @include media-breakpoint-down(xs) {
    width: 120px;
  }
}