/* BUTTONS */

$btn-fs: 13px;
$btn-ff: $font-base-bold;

.btn {
  font-size: $btn-fs;
  font-family: $btn-ff;
  padding: 0.5rem 1.4rem;
  &.btn-sky {
    background: $bright-turquoise;
    color: $white;
    &:hover, &:focus {
      background: darken($bright-turquoise, 10%);
      color: $white;
    }
  }
  &.btn-secondary {
    border-color: #dde8ed;
    background: #f5f7f8;
    color: #7a93ae;
    &:hover, &:focus {
      border-color: #dde8ed;
      background: darken(#f5f7f8, 5%);
      color: #7a93ae;
    }
  }
  &.btn-rounded {
    border-radius: 20px;
  }
}
