/* BUTTONS */

$btn-fs: 13px;
$btn-ff: $font-base-bold;

.btn {
  font-size: $btn-fs;
  font-family: $btn-ff;
  padding: 0.5rem 1.4rem;
  &.btn-sky {
    background: $bright-turquoise;
    color: $white;
    &:hover, &:focus {
      background: darken($bright-turquoise, 10%);
      color: $white;
    }
  }
  &.btn-secondary {
    border-color: #dde8ed;
    background: #f5f7f8;
    color: #7a93ae;
    &:hover, &:focus {
      border-color: #dde8ed;
      background: darken(#f5f7f8, 5%);
      color: #7a93ae;
    }
  }
  &.btn-primary {
    border-color: #3da5dd;
    background: #3da5dd;
    color: $white;
    &:hover, &:focus {
      border-color: darken(#3da5dd, 5%);;
      background: darken(#3da5dd, 5%);
      color: $white;
    }
  }
  &.btn-gray {
    border-color: #7e8e9d;
    background: #7e8e9d;
    color: $white;
    &:hover, &:focus {
      border-color: darken(#7e8e9d, 5%);
      background: darken(#7e8e9d, 5%);
      color: $white;
    }
  }
  &.btn-sky-gradient {
    border-color: #99d1e4;
    @include gradient-y($start-color: #f9fdfe, $end-color: #f5fcfd, $start-percent: 0%, $end-percent: 100%);
    color: #005cbf;
    &:hover, &:focus {
      border-color: #99d1e4;
      @include gradient-y($start-color: darken(#f9fdfe, 10%), $end-color: darken(#f5fcfd, 10%), $start-percent: 0%, $end-percent: 100%);
      color: #005cbf;
    }
  }
  &.btn-warning-gradient {
    border-color: #ffbd81;
    @include gradient-y($start-color: #fdf3ea, $end-color: #fcead9, $start-percent: 0%, $end-percent: 100%);
    color: #6f451f;
    &:hover, &:focus {
      border-color: #ffbd81;
      @include gradient-y($start-color: #fcead9, $end-color: #fcead9, $start-percent: 0%, $end-percent: 100%);
      color: #6f451f;
    }
  }
  &.btn-sm {
    padding: 0.3rem 1.2rem;
  }
  &.btn-rounded {
    border-radius: 20px;
  }
  &.btn-equal {
    min-width: 90px;
  }
}
