/* Fonts */

//OpenSans
@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Light.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Light.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Regular.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Regular.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Italic.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Italic.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Semibold.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Semibold.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Semibold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Bold.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Bold.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Bold.ttf') format('ttf');

}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-ExtraBold.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-ExtraBold.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-ExtraBold.ttf') format('ttf');
}
