/* KNOB */

.knob {
  >div {
    //height: 46px !important;
    margin-right: 10px;
  }
}
.knob-wrap {
  height: 46px;
  overflow: hidden;
  position: relative;
}
.knob__title {
  text-transform: capitalize;
  color: $limed-spruce;
  font-size: 17px;
  font-family: $font-base-semibold;
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}
