/* LIST */

.list-collapse__item {
  margin: 10px 0;
}
.list-collapse__link {
  display: inline-block;
  color: $black;
  padding-left: 20px;
  position: relative;
  &:hover {
		color: darken($link-color, 10%);
	}
  &:focus {
		color: $black;
	}
}
.list-collapse__link--toggle {
  &:not(.collapsed) {
    color: darken($link-color, 10%);
    &:before {
      transform: rotate(90deg);
    }
  }
  @extend .white-smoke-icon-right-open-big;
  &:before {
    font-family: $font-icons;
    @include transition(250ms);
    position: absolute;
    left: 0px;
    top: 2px;
    color: #0d5d81;
  }
}
