/* MODAL */

.modal-content {
  border-color: #669bae;
  background: #f5f7f8;
}
.modal-header {
  background: $white;
  border-color: #cbd3da;
  border-radius: 0.2rem 0.2rem 0 0;
  @include media-breakpoint-up(md) {
    padding: 25px 50px;
  }
}
.modal-header--sky {
  background: #449ab8;
  border-color: #449ab8;
  color: $white;
  .close {
    color: $white;
    opacity: 1;
    text-shadow: none;
  }
}

.modal-body {
  @include media-breakpoint-up(md) {
    padding: 60px 50px;
  }
}

.modal-content--sm {
  .modal-header {
    padding: 5px 15px;
  }
  .modal-body {
    padding: 15px 15px;
  }
}
