/* MODAL */

.modal-content {
  border-color: #669bae;
}
.modal-header {
  background: $white;
  border-color: #cbd3da;
  @include media-breakpoint-up(md) {
    padding: 25px 50px;
  }
}

.modal-body {
  background: #f5f7f8;
  @include media-breakpoint-up(md) {
    padding: 60px 50px;
  }
}
