/* RESET STYLES */

* {
	&:hover, &:focus, &:active {
		outline: none !important;
	}
}

a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
	outline-offset: 0;
}

ol, ul {
	margin-bottom: 20px;
	padding-left: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}
.relative {
	position: relative;
}
.z-index {
	position: relative;
	z-index: 10;
}

.o-y-s {
	overflow-y: auto;
}
.o-y-s--fixed {
	//max-height: 480px;
}
.ov-h {
	overflow: hidden;
}

.floatet {
	@include media-breakpoint-up(lg) {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		overflow-y: scroll;
	}
}
