/* SIDEBAR RIGHT */

$sidebar-right-width: 0px;
$sidebar-right-open-width: 360px;
$sidebar-right-sm-open-width: 320px;
$sidebar-right-bg: #f5f7f8;
$sibebar-border-color: #dde8ed;
$sidebar-right-toggle-btn-color: $jungle-mist;
$sidebar-right-toggle-btn-bg: #f5f7f8;
$sidebar-right-toggle-btn-size: 35px;


.sidebar__right {
  @include transition(250ms);
  width: $sidebar-right-width;
  flex-shrink: 0;
  background: $sidebar-right-bg;
  border-left: 1px solid $sibebar-border-color;
  border-bottom: 1px solid $sibebar-border-color;
  position: relative;
  @include media-breakpoint-up(md) {
    overflow-y: auto;
    height: calc(100vh - 75px);
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100%);
    height: 100%;
    overflow-y: auto;
    margin-bottom: 0;
  }
}
.sidebar__right--opened {
  @include media-breakpoint-up(lg) {
    width: $sidebar-right-open-width;
  }
}
.sidebar__right--mobile-opened {
  transform: translateX(0%);
}

.sidebar__right__item {
  padding: 28px 15px;
  @include media-breakpoint-up(md) {
    min-width: 330px;
  }
  @include media-breakpoint-down(md) {
    padding: 15px 15px;
  }
}

.sidebar__right__toggle {
  height: $sidebar-right-toggle-btn-size * 2;
  width: $sidebar-right-toggle-btn-size;
  @extend .d-flex, .align-items-center;
  color: $sidebar-right-toggle-btn-color;
  background: $sidebar-right-toggle-btn-bg;
  font-size: 20px;
  padding-left: 6px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  border-top: 1px solid $sidebar-right-toggle-btn-color;
  border-left: 1px solid $sidebar-right-toggle-btn-color;
  border-bottom: 1px solid $sidebar-right-toggle-btn-color;
  position: absolute;
  left: -$sidebar-right-toggle-btn-size;
  top: 50%;
  transform: translateY(-50%);
  @include media-breakpoint-down(md) {
    display: none !important;
  }
  &:hover, &:focus {
    color: darken($sidebar-right-toggle-btn-color, 10%);
  }
}

.sidebar__right__close {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
  color: $sidebar-right-toggle-btn-color;
  &:hover, &:focus {
    color: darken($sidebar-right-toggle-btn-color, 10%);
  }
}
