/* STATS */

$stats-color: #798796;
$stats-title-color: #4e5f70;

.stats {
  @extend .d-flex, .align-items-center;
}
.stats__item {
  flex: 1;
  text-align: center;
  color: $stats-color;
  font-family: $font-base-semibold;
  font-size: 12px;
}
.stats__title {
  color: $stats-title-color;
  font-size: 18px;
  font-family: $font-base-bold;
  margin-bottom: 5px;
}
