/* TABLE */

$table-border-color: #dde8ed;
$table-color: #798796;

.table {
  >tbody {
    >tr {
      >td, >th {
        border-color: $table-border-color;
        vertical-align: middle;
        font-size: 12px;
        color: $table-color;
        font-family: $font-base-semibold;
        &:not(:first-child) {
          border-left: 1px solid $table-border-color;
        }
      }
      &:first-child {
        >td, >th {
          border-top: none;
        }
      }
    }
  }
}

.table--aside {
  table-layout: fixed;
  word-wrap: break-word;
}
