/* TRANSLATE BOX */

.translate-box {
  &+.translate-box {
    margin-top: 20px;
  }
  .form-control {
    height: auto;
  }
}

.translate-box__panel {
  background: $white;
  text-align: center;
  min-width: 26px;
  flex-shrink: 0;
  border-top: 1px solid $spindle;
  border-right: 1px solid $spindle;
  border-bottom: 1px solid $spindle;
}
.translate-box__btn {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $spindle;
  color: #64a6bc;
}
