
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $body-font-family;
	color: $body-main-color;
	font-size: $body-font-size;
	line-height: $body-line-height;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	@extend .d-flex, .flex-column;
}

.main {
	flex: 1 0 auto;
	position: relative;
	@include media-breakpoint-up(md) {
		height: calc(100vh - 80px);
		overflow: auto;
  }
}
.page-tab-content {
	@include media-breakpoint-up(md) {
		//max-height: calc(100vh - 80px);
		//height: calc(100vh - 80px);
		//overflow: auto;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: $font-base-bold;
	color: $title-color;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, .h1 {
}
h2, .h2 {
}
h3, .h3 {
}
h4, .h4 {
}
h5, .h5 {
	font-size: 17px;
}
h6, .h6 {
	font-size: 14px;
}

hr {
	border-top-color: #dde8ed;
}

a {
	color: $link-color;
	@include transition(250ms);
	text-decoration: none;
	&:hover, &:focus {
		color: darken($link-color, 10%);
		text-decoration: none;
	}
}
.link-blue {
	color: $cerulean;
	&:hover, &:focus {
		color: darken($cerulean, 10%);
	}
}
.underline {
	text-decoration: underline;
}
button {
	@include transition(150ms);
	cursor: pointer;
}
b, .bold {
	font-family: $font-base-bold;
}
p {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.title-underline {
	color: #485462;
	font-size: 15px;
	font-family: $font-base-semibold;
	margin-bottom: .5rem;
}
.title-underline__span {
	display: inline-block;
	border-bottom: 1px solid #485462;
}


/*Font classes*/
.font-base-light {
	font-family: $font-base-light;
}
.font-base-regular {
	font-family: $font-base-regular;
}
.font-base-italic {
	font-family: $font-base-italic;
}
.font-base-semibold {
	font-family: $font-base-semibold;
}
.font-base-bold {
	font-family: $font-base-bold;
}
.font-base-extrabold {
	font-family: $font-base-extrabold;
}


/*Color classes*/
.text-muted-thin {
	color: $muted-thin !important;
}
.text-muted {
	color: $muted !important;
}
.text-muted-soft {
	color: $muted-soft !important;
}
.text-gray {
	color: $gray;
}
.text-gray-soft {
	color: $gray-soft;
}
.text-sky {
	color: $sky !important;
}
.text-sky-soft {
	color: $sky-soft !important;
}
.text-blue {
	color: $blue !important;
}
.text-success {
	color: $success !important;
}
.text-success-secondary {
	color: $success-secondary !important;
}
.text-danger {
	color: $danger !important;
}
.text-danger-secondary {
	color: $danger-secondary !important;
}
.text-pink {
	color: $pink !important;
}
.text-pink-secondary {
	color: $pink-secondary !important;
}
.text-facebook {
	color: $facebook !important;
}
.text-twitter {
	color: $twitter !important;
}
.text-black {
	color: $black !important;
}



/*Background classes*/
.bg-white {
	background-color: $white !important;
}
.bg-muted-thin {
	background-color: $muted-thin !important;
}
.bg-muted {
	background-color: $muted !important;
}
.bg-muted-soft {
	background-color: $muted-soft !important;
}
.bg-gray {
	background-color: $gray;
}
.bg-gray-soft {
	background-color: $gray-soft;
}
.bg-sky {
	background-color: $sky !important;
}
.bg-sky-soft {
	background-color: $sky-soft !important;
}
.bg-blue {
	background-color: $blue !important;
}
.bg-success {
	background-color: $success !important;
}
.bg-success-secondary {
	background-color: $success-secondary !important;
}
.bg-danger {
	background-color: $danger !important;
}
.bg-danger-secondary {
	background-color: $danger-secondary !important;
}
.bg-pink {
	background-color: $pink !important;
}
.bg-pink-secondary {
	background-color: $pink-secondary !important;
}
