/* VARIABLES */


/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Blue group */
$shakespeare: #4BAED0; //Sky color
$jelly-bean: #2a88a8; //Sky soft color
$danube: #548ec7; //Blue color
$bright-turquoise: #0DC7FF; //Link color
$limed-spruce: #343f4b; //Muted soft color
$ebony-clay: #222c38; //Logo bg
$spindle: #b7d4ea;
$facebook: #3a589b;
$twitter: #2674bb;
/* Gray group */
$porcelain: #f5f7f8;
$gallery: #f0f0f0;
$aqua-haze: #f0f5f7;
$casper: #a8bec9; //Navbar color
$dove-gray: #767171; //Muted
$cloud: #c9c5c1;
$tapa: #7c7771;
$jungle-mist: #c1d2da;
$blue-bayoux: #576d82;
$bali-hai: #8497a9;
/* Green group */
$jungle-green: #2baa65; //Success color
$christi: #5d8e0f; //Success secondary
/* Danger group */
$flush-mahogany: #D04141; //Danger color
$tall-poppy: #b92929; //Danger secondary color
/* Pink group */
$kingfisher-daisy: #28008F; //Pink color
$chambray: #314A8C; //Pink secondary color


/*************************
	Global color variables
*************************/
$muted-thin: $porcelain;
$muted: $dove-gray;
$muted-soft: $limed-spruce;
$gray: $blue-bayoux;
$gray-soft: $bali-hai;
$sky: $shakespeare;
$sky-soft: $jelly-bean;
$blue: $danube;
$success: $jungle-green;
$success-secondary: $christi;
$danger: $flush-mahogany;
$danger-secondary: $tall-poppy;
$pink: $kingfisher-daisy;
$pink-secondary: $chambray;


$main-color: $muted;

/*************************
	Fonts variables
*************************/
$font-path: '../fonts/';


$font-base-light: 'OpenSans-Light';
$font-base-regular: 'OpenSans-Regular';
$font-base-italic: 'OpenSans-Italic';
$font-base-semibold: 'OpenSans-Semibold';
$font-base-bold: 'OpenSans-Bold';
$font-base-extrabold: 'OpenSans-ExtraBold';

$font-base: $font-base-regular;


$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $main-color;


/*************************
	Links color variable
*************************/
$link-color: $bright-turquoise;


/*************************
	Title color variable
*************************/
$title-color: $limed-spruce;
