/* NAVBAR */

$navbar-bg: $base-brand-color;
$navbar-color: $success-thin;
$navbar-color-hover: $white;
$navbar-height: 82px;
$navbar-height-desktop: 119px;
$navbar-toggler-size: 24px;
$navbar-divider-bg: $muted;
$navbar-brand-ff: $font-secondary-bold;

.navbar {
  background: $navbar-bg;
  min-height: $navbar-height;
  will-change: background-color;
  z-index: 5000;
  @include transition($base-animation);
  @extend .py-md-0,
  .px-0;

  @include media-breakpoint-down(md) {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  @include media-breakpoint-up(lg) {
    min-height: $navbar-height-desktop;
  }

  &--transparent {
    &:not(.navbar--filled) {
      background-color: transparent;

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $navbar-bg;

            @include media-breakpoint-up(lg) {
              color: $white;

              &:hover,
              &:focus {
                color: $navbar-bg;
              }
            }

            &--highlited {
              color: $navbar-bg;

              @include media-breakpoint-up(lg) {
                color: $white;

                &:hover,
                &:focus {
                  color: $navbar-bg;
                }
              }
            }
          }
        }
      }
    }
  }

  >.container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-brand {
  width: 99px;
  min-height: 82px;
  font-family: $navbar-brand-ff;
  font-size: 36px;
  line-height: .91;
  @extend .py-0,
  .d-inline-flex,
  .align-items-center,
  .text-white,
  .text-right;
  padding-top: 10px !important;

  @include media-breakpoint-up(lg) {
    width: 136px;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 283px;
  }

  @include media-breakpoint-down(md) {
    font-size: 26px;
    line-height: .87;
    margin-left: 40px;
    margin-right: .5rem;
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      color: $navbar-color;
      @extend .position-relative;

      &--highlited {
        @include media-breakpoint-up(lg) {
          color: $white;
        }
      }

      &:before {
        @extend .position-absolute,
        .w-100;
        top: 0;
        left: 0;
        height: 5px;
        background-color: $navbar-color-hover;
        opacity: 0;
        visibility: 0;
        @include transition($base-animation);
        transform: translateY(5px);
      }

      &:hover,
      &:focus {
        color: $navbar-color-hover;

        &:before {
          transform: translateY(0);
          opacity: 1;
          visibility: 1;
        }
      }

      @include media-breakpoint-up(lg) {
        padding-top: 30px;
        padding-bottom: 30px;
        text-transform: uppercase;

        &:before {
          content: '';
        }
      }

      @include media-breakpoint-up(lg) {
        font-size: 15px;

        &:before {
          content: '';
        }
      }

      @include media-breakpoint-up(xl) {
        font-size: 16px;
        padding: 47.5px 10px;
      }

      @include media-breakpoint-down(md) {
        color: $navbar-color-hover;
        font-size: 15px;

        &:hover,
        &:focus {
          color: $navbar-color-hover;
        }
      }
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    margin-left: -15px;
    margin-right: -15px;

    .navbar-nav {
      .nav-item {
        &:not(:last-child) {
          border-bottom: 1px solid $navbar-divider-bg;
        }

        .nav-link {
          background-color: $white;
          color: $navbar-bg;
          padding: 24px 15px;
        }
      }
    }
  }
}

.navbar-toggler {
  @extend .border-0,
  .p-0,
  .position-absolute,
  .d-flex,
  .d-lg-none,
  .align-items-center;
  width: $navbar-toggler-size;
  height: calc(#{$navbar-toggler-size} - 6px);
  top: 30px;
  left: 15px;

  &:before,
  &:after {
    content: '';
    @extend .position-absolute,
    .bg-white,
    .w-100;
    left: 0;
    height: 2px;
    @include transition($base-animation);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:not(.collapsed) {
    &:before {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }

    &:after {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      bottom: auto;
    }

    .navbar-toggler-icon {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.navbar-toggler-icon {
  @extend .w-100,
  .bg-white;
  height: 2px;
  @include transition($base-animation);
}

.nav-icon {
  width: 21px;
  vertical-align: sub;
  display: inline-block;
  margin-right: 5px;
}