/* FOOTER */

$pre-footer-list-color: $dark-soft;


.pre-footer {
  text-align: center;
  padding: 35px 0;
}

.pre-footer--divider {
  border-top: 2px solid $success;
}

.pre-footer__list {
  @extend .list-unstyled;
}

.pre-footer__list__item {
  display: inline-block;

  &:not(:last-child) {
    @include media-breakpoint-down(md) {
      margin-right: 5px;
      padding: 2px 0;
    }

    @include media-breakpoint-up(lg) {
      border-right: 1px solid $pre-footer-list-color;
      margin-right: 25px;
      padding-right: 25px;
    }

    @media screen and (min-width:1450px) {
      margin-right: 75px;
      padding-right: 75px;
    }
  }
}

.pre-footer__list__link {
  color: $pre-footer-list-color;

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}
