/* HEADER */

.header {}

.header-top {
    padding: 15px 0;

    @include media-breakpoint-up(lg) {
        padding: 30px 0;
    }

    >.container {
        @extend .d-flex,
        .align-items-center,
        .justify-content-between,
        .justify-content-lg-center;
    }
}

.header__logo {
    @extend .d-block;
    width: 200px;

    @include media-breakpoint-up(lg) {
        width: 360px;
    }
}