/* NAVBAR */

.navbar {
    @include media-breakpoint-up(lg) {
        background-color: $dark;
    }

    >.container-fluid {
        @extend .px-0,
        .px-lg-3;
    }
}

.navbar-nav {
    .nav-item {
        .nav-link {
            @extend .text-uppercase,
            .fs-14,
            .font-avenir-black,
            .text-white;

            @include media-breakpoint-up(lg) {
                padding-top: 18px;
                padding-bottom: 18px;
            }

            @include media-breakpoint-up(xxl) {
                padding-left: 26px;
                padding-right: 26px;
            }

            &:hover,
            &:focus,
            &:active {
                @extend .text-primary;
            }

            &.actvie {
                @extend .text-primary;
            }
        }
    }
}

.btn-navbar {
    @include media-breakpoint-up(xxl) {
        margin-left: 26px;
    }
}