<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        <a href="#" class="header__logo">
          <img src="assets/images/elements/logo-header.svg" alt="" class="w-100">
        </a>

        <button type="button" class="header__menu-toggle">
          <i class="america-icon-menu"></i>
        </button>
      </div>

      <div class="header__right">
        <button type="button" class="header__menu-close">
          <i class="america-icon-cancel"></i>
        </button>

        <div class="header__account-holder">
          <ul class="nav header__nav-account">
            <li>
              <a href="#">NEWSLETTER</a>
            </li>
            <li>
              <a href="#">CONTACT US</a>
            </li>
            <li>
              <a href="#">LOGIN</a>
            </li>
            <li>
              <a href="#">ACCOUNT</a>
            </li>
            <li>
              <a href="#">CART <i class="america-icon-basket text-primary nav-item__icon"></i></a>
            </li>
          </ul>
          <a href="tel:423-867-5544" class="header__tel-number">423-867-5544</a>
        </div>

        <div class="header__navbar-holder">
          <ul class="nav header__navbar">
            <li><a href="#">ABOUT</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-display="static">GAS PRODUCTS</a>
              <div class="dropdown-menu">
                <div class="row align-items-center">
                  <div class="col-lg-5 mb-2 mb-sm-0 d-none d-lg-block">
                    <a href="#">
                      <img src="assets/images/temp/slide-1.jpg" alt="" class="w-100 img-rotate">
                    </a>
                  </div>

                  <div class="col-lg-7">
                    <a href="#" class="img-rotate-trigger" data-img='assets/images/temp/slide-1.jpg'>FIREPLACES</a>
                    <a href="#" class="img-rotate-trigger" data-img='assets/images/temp/slide-2.jpg'>LOREM IPSUM</a>
                    <a href="#" class="img-rotate-trigger" data-img='assets/images/temp/slide-3.jpg'>DOLOR SIT AMET</a>
                    <a href="#" class="img-rotate-trigger" data-img='assets/images/temp/slide-4.jpg'>CONSECTETUER ADIPISCING</a>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">WOOD PRODUCTS</a></li>
            <li><a href="#">FURNACES</a></li>
            <li><a href="#">OUTDOOR</a></li>
            <li><a href="#">PELLET STOVES/ GRILLS</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>

        <div class="header__form-holder">
          <img src="assets/images/elements/made-in.svg" alt="" class="header__made-in">
          <form action="" class="header__form">
            <div class="form-group">
              <input type="search" class="form-control">
              <button type="submit" class="btn btn-primary btn-submit">search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="header__mask"></div>
</header>