<!-- Modal -->
<div class="modal fade" id="newsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content has-bg" style="background-image: url('assets/images/temp/slide-8.jpg');">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="text-center text-uppercase mb-md-4">LOREM IPSUM 15% DOLOR SIT AMET</h4>
        <p class="mb-4 mb-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis
          aute irure dolor in reprehenderit.</p>

        <form action="" class="newsletter-form px-md-5">
          <div class="form-group mb-0 d-flex">
            <input type="email" class="form-control flex-fill" placeholder="ENTER EMAIL">
            <button class="btn btn-submit">SIGN UP</button>
          </div>
        </form>

        <p class="mt-4 mt-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis
          aute irure dolor in reprehenderit.</p>
      </div>
    </div>
  </div>
</div>