/* COLORS */

/* For color names was used site - http://chir.ag/projects/name-that-color */

/************************* 
	Main colors start
*************************/
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Gray group */
$mine-shaft: #333333;
$silver: #CCCCCC;
/* Green group */
$upwork: #6fda44;
/* Blue group */
$skype: #00aff0;
/************************* 
	Main colors end
*************************/

/************************* 
	Local colors start
*************************/
$text-success: $upwork;
/************************* 
	Local colors end
*************************/