/* FLEX */

.flex-holder {
	@include respond-to(sm-min) {
		display: flex;
	}
}
.flex-column {
	flex-direction: column;
}
.flex-centered {
	justify-content: center;
	align-items: center;
	align-content: center;
}
.flex-full-height {
	height: 100%;
}
.flexbox-item-grow {
	flex: 1; /* same as flex: 1 1 auto; */
}