/* SERVICE */

.services-holder {
	width: 100%;
}

.services-item {
	margin-bottom: 30px;
	display: block;
	text-align: center;
}
.services-icon {
	display: block;
	margin: 0 auto 25px auto;
	font-size: 60px;
}
