/* VARIABLES */

/************************* 
	Fonts variable
*************************/
$font-base: 'PT Sans', sans-serif;
$font-secondary: 'Amatic SC', cursive;
$font-bold: 700;
/************************* 
	Body variable
*************************/
$main-text-color: $black;
$body-main-font: $font-base;
$body-font-size: 20px;
$body-font-size-mobile: 16px;

/************************* 
	Links color variable
*************************/
$link-color: $upwork;



