<header class="header">
  <div class="container-fluid d-flex align-items-center">
    <a href="#" class="header__logo">
      <img src="assets/images/elements/logo.png" alt="" class="img-fluid">
    </a>
    <div class="header__inner">
      <p class="mb-0 mr-3 fs-16 text-truncate">Senior Management Forum 14 Dec 2017</p>
      <form action="" class="form-expanded ml-auto">
        <div class="form-group form-expanded__form-group mb-0 relative">
          <input type="text" class="form-control form-expanded__field">
          <button type="submit" class="form-expanded__submit"></button>
        </div><!--form-group-->
      </form>
    </div><!--header__inner-->
  </div><!--container-fluid-->
</header><!--header-->
