<div class="menu">
  <div class="container relative">
    <a href="#" class="menu__close allready-icon-menu-close"></a>
    <ul class="menu_navigation">
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Om oss</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Karriär</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Kalendarium</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Företagare</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Branscher</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Tjänster</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Aktuellt</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Publikationer</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Kontakt</a></li>
      <li class="menu_navigation__item"><a href="#" class="menu_navigation__link">Form</a></li>
    </ul><!--menu_navigation-->
  </div><!--container-->
</div><!--menu-->
