<!-- Modal form -->
<div class="modal modal--dashboard fade" id="modal-dashboard-pages" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="wrapper">
  			<div class="wrapper__inner">
          <header class="header">
            <div class="container-fluid d-md-flex align-items-center">
              <a href="#" class="header__logo mb-2 mb-md-0">
                <img src="assets/images/elements/logo.png" alt="" class="img-fluid">
              </a>
              <div class="header__inner">
                <p class="mb-2 mb-sm-0 mr-sm-3 fs-16 text-truncate">Senior Management Forum 14 Dec 2017</p>
                <form action="" class="form-expanded ml-auto">
                  <div class="form-group form-expanded__form-group mb-0 relative">
                    <input type="text" class="form-control form-expanded__field" placeholder="Search">
                    <button type="submit" class="form-expanded__submit"></button>
                  </div><!--form-group-->
                </form>
              </div><!--header__inner-->
            </div><!--container-fluid-->
          </header><!--header-->




          <div class="content">
  					<div class="container-fluid">
  						<div class="d-flex align-items-center justify-content-between mb-3">
  							<h2 class="mb-0">Pages</h2>
  							<span class="content-icon protip"
  							data-pt-position="bottom-left-corner"
  							data-pt-trigger="hover"
  							data-pt-gravity="false"
  							data-pt-title="
  								<h4 class='popover-title'>Pages</h4>
  								<p>Lorem ipsum</p>
  							"
  							>
  								<i class="allready-icon-question"></i>
  							</span>
  						</div>

  						<div class="card card--content">
  						  <div class="card-body">
  								<div class="table-responsive">
  									<table class="table table--drag table-striped">
  									  <thead>
  									    <tr>
  									      <th>#</th>
  									      <th>type</th>
  									      <th>name</th>
  									      <th class="text-center">published</th>
  												<th class="text-center">in menu</th>
  												<th colspan="2"></th>
  									    </tr>
  									  </thead>
  									  <tbody>
  									    <tr>
  									      <td class="text-muted">1</td>
  									      <td>Section</td>
  									      <td>Start</td>
  												<td class="text-center">
  													<div class="checkbox-holder checkbox-holder--empty checkbox-holder--inline">
  														<input type="checkbox" id="checkobox-table-21">
  														<label class="checkbox__label" for="checkobox-table-21">
  														</label><!--checkbox__label-->
  													</div><!--checkbox-holder-->
  												</td>
  												<td class="text-center">
  													<div class="checkbox-holder checkbox-holder--empty checkbox-holder--inline">
  														<input type="checkbox" id="checkobox-table-22">
  														<label class="checkbox__label" for="checkobox-table-22">
  														</label><!--checkbox__label-->
  													</div><!--checkbox-holder-->
  												</td>
  												<td>
                            <div class="d-flex flex-row">
                              <a href="#" class="table-btn lead mx-1" data-toggle="modal" data-target="#modal-edit-section">
                                <i class="allready-icon-edit"></i>
                              </a>
                              <a href="#" class="table-btn lead mx-1">
                                <i class="allready-icon-trashcan"></i>
                              </a>
                            </div><!--d-flex-->
  												</td>
  												<td>
  													<div class="d-flex flex-column">
  														<a href="#" class="table-btn table-sort-btn-up px-2 allready-icon-up-dir"></a>
  														<a href="#" class="table-btn table-sort-btn-down px-2 allready-icon-down-dir"></a>
  													</div>
  												</td>
  									    </tr>

                        <tr>
  									      <td class="text-muted">2</td>
  									      <td>Section</td>
  									      <td>Welcome</td>
  												<td class="text-center">
  													<div class="checkbox-holder checkbox-holder--empty checkbox-holder--inline">
  														<input type="checkbox" id="checkobox-table-23">
  														<label class="checkbox__label" for="checkobox-table-23">
  														</label><!--checkbox__label-->
  													</div><!--checkbox-holder-->
  												</td>
  												<td class="text-center">
  													<div class="checkbox-holder checkbox-holder--empty checkbox-holder--inline">
  														<input type="checkbox" id="checkobox-table-24">
  														<label class="checkbox__label" for="checkobox-table-24">
  														</label><!--checkbox__label-->
  													</div><!--checkbox-holder-->
  												</td>
  												<td>
                            <div class="d-flex flex-row">
                              <a href="#" class="table-btn lead mx-1" data-toggle="modal" data-target="#modal-edit-section">
                                <i class="allready-icon-edit"></i>
                              </a>
                              <a href="#" class="table-btn lead mx-1">
                                <i class="allready-icon-trashcan"></i>
                              </a>
                            </div><!--d-flex-->
  												</td>
  												<td>
  													<div class="d-flex flex-column">
  														<a href="#" class="table-btn table-sort-btn-up px-2 allready-icon-up-dir"></a>
  														<a href="#" class="table-btn table-sort-btn-down px-2 allready-icon-down-dir"></a>
  													</div>
  												</td>
  									    </tr>

                        <tr>
  									      <td class="text-muted">3</td>
  									      <td>Section</td>
  									      <td>Welcome</td>
  												<td class="text-center">
  													<div class="checkbox-holder checkbox-holder--empty checkbox-holder--inline">
  														<input type="checkbox" id="checkobox-table-25">
  														<label class="checkbox__label" for="checkobox-table-25">
  														</label><!--checkbox__label-->
  													</div><!--checkbox-holder-->
  												</td>
  												<td class="text-center">
  													<div class="checkbox-holder checkbox-holder--empty checkbox-holder--inline">
  														<input type="checkbox" id="checkobox-table-26">
  														<label class="checkbox__label" for="checkobox-table-26">
  														</label><!--checkbox__label-->
  													</div><!--checkbox-holder-->
  												</td>
  												<td>
                            <div class="d-flex flex-row">
                              <a href="#" class="table-btn lead mx-1" data-toggle="modal" data-target="#modal-edit-section">
                                <i class="allready-icon-edit"></i>
                              </a>
                              <a href="#" class="table-btn lead mx-1">
                                <i class="allready-icon-trashcan"></i>
                              </a>
                            </div><!--d-flex-->
  												</td>
  												<td>
  													<div class="d-flex flex-column">
  														<a href="#" class="table-btn table-sort-btn-up px-2 allready-icon-up-dir"></a>
  														<a href="#" class="table-btn table-sort-btn-down px-2 allready-icon-down-dir"></a>
  													</div>
  												</td>
  									    </tr>
  									  </tbody>
  									</table><!--table-->
  								</div><!--table-responsive-->

  								<div class="text-right">
  									<a href="#" class="btn btn-success" data-toggle="modal" data-target="#modal-add-section">Add</a>
  								</div><!--text-right-->
  						  </div><!--card-body-->
  						</div><!--card-->
  					</div><!--container-fluid-->
  				</div><!--content-->




          <div class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <a href="#" class="btn btn-outline-muted">Close</a>
              <a href="#" class="btn btn-success">Spara</a>
            </div><!--container-fluid-->
          </div><!--footer-->
  			</div><!--wrapper__inner-->






        <aside class="aside">
          <ul class="aside__list">
            <li class="aside__list__item aside__list__item--toggle">
              <a href="#" class="aside__list__link aside__list__link--toggle protip"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Context Menu</h4>
                <p>Use this function to get directly
                to the desired page.</p>
              "
              >
                <i class="allready-icon-hamburger aside__list__icon"></i>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a href="#" class="aside__list__link protip aside__list__link--close-menu"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-title="
                  <h4 class='popover-title'>Home</h4>
                  <p>Lorem ipsum</p>
                "
                >
                <i class="allready-icon-allmant aside__list__icon"></i>
                <span class="aside__list__text">Home</span>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a href="#" class="aside__list__link protip aside__list__link--close-menu"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-title="
                  <h4 class='popover-title'>General</h4>
                  <p>Here you can edit the General settings for the event, such as the title ,location and date.</p>
                "
                >
                <i class="allready-icon-allmant aside__list__icon"></i>
                <span class="aside__list__text">Allmänt</span>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-1"
              aria-expanded="false"
              aria-controls="collapse-1"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Booking</h4>
                <p>In this tab, you will find a lot of settings regarding the Booking for an event, such as the amount of people who can attend, amount of queueplaces and so on. You can also create an interval between two dates/times for when booking is possible.</p>
              "
              >
                <i class="allready-icon-calendar aside__list__icon"></i>
                <span class="aside__list__text">Bokning</span>
              </a>
              <div class="collapse" id="collapse-1">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-11"
                      aria-expanded="false"
                      aria-controls="collapse-11"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-11">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-2"
              aria-expanded="false"
              aria-controls="collapse-2"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Email / SMS</h4>
                <p>Here you can configure everything that has to do with e-mails, and edit their text.</p>
                <p>A useful tip is to copy the text in these emails from the presentation page of your event!</p>
                <p><b>Do not forget to give yourself a test invitation after you are done, just so there are no typos or mistakes.</b></p>
              "
              >
                <i class="allready-icon-at aside__list__icon"></i>
                <span class="aside__list__text">Email / Sms</span>
              </a>
              <div class="collapse" id="collapse-2">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-22"
                      aria-expanded="false"
                      aria-controls="collapse-22"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-22">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-3"
              aria-expanded="false"
              aria-controls="collapse-3"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Form</h4>
                <p>Here you can edit all the settings regarding the booking form; all the fields, what type of field it is, related/parented fields and so on.</p>
                <p><b><i>Tip: To create a related field, press the [rel] button and choose the field that is used as a parent. You can also specify which alternative this should apply to if the field contains several values.</i></b></p>
                <p>Do not forget that the Choice Option button in the tool tray area will only appear if a Field is of radiobutton or checkbox or list type.</p>
              "
              >
                <i class="allready-icon-forms aside__list__icon"></i>
                <span class="aside__list__text">Formulär</span>
              </a>
              <div class="collapse" id="collapse-3">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-33"
                      aria-expanded="false"
                      aria-controls="collapse-33"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-33">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-4"
              aria-expanded="false"
              aria-controls="collapse-4"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Participants</h4>
                <p>Click here to show all the participants. You can also go through the submenu options and see if there is a search filter yo u want to use.</p>
              "
              >
                <i class="allready-icon-participants aside__list__icon"></i>
                <span class="aside__list__text">Participants</span>
              </a>
              <div class="collapse" id="collapse-4">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-44"
                      aria-expanded="false"
                      aria-controls="collapse-44"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-44">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item protip">
              <a href="#" class="aside__list__link protip"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-gravity="false"
                data-pt-title="
                  <h4 class='popover-title'>Access</h4>
                  <p>Here you can edit access level of this page for certain usergroups; you can choose who is allowed to edit and who is allowed to see the page. You can make the page public if you want to, or only available to certain groups.</p>
                "
              >
                <i class="allready-icon-access aside__list__icon"></i>
                <span class="aside__list__text">Behörighet</span>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item protip">
              <a href="#" class="aside__list__link aside__list__link--active protip"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-gravity="false"
                data-pt-title="
                  <h4 class='popover-title'>Lorem</h4>
                  <p>Lorem ipsum</p>
                "
              >
                <i class="allready-icon-pages aside__list__icon"></i>
                <span class="aside__list__text">Pages</span>
              </a>
            </li><!--aside__list__item-->
          </ul><!--aside__list-->
        </aside><!--aside-->
  		</div><!--wrapper-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
