<!-- Modal form -->
<div class="modal modal--has-bg fade" id="modal-edit-section" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Edit Section</h2>
        <form action="">
          <div class="form-group">
            <div class="row">
              <div class="col-md-8 mb-3 mb-md-0">
                <label for="field-section-name-22">Section Name:</label>
                <input type="text" class="form-control" id="field-section-name-22">
              </div><!--col-->

              <div class="col-md-4">
                <label for="field-select-22">Section Type</label>
                <select name="" id="field-select-22" class="form-control">
                  <option selected hidden>Select an option</option>
                  <option value="">Lorem</option>
                  <option value="">Ipsum</option>
                </select>
              </div><!--col-->
            </div><!--row-->
          </div><!--form-group-->

          <div class="form-group">
            <div class="checkbox-holder checkbox-holder--inline">
              <input type="checkbox" id="checkobox-modal-21">
              <label class="checkbox__label" for="checkobox-modal-21">
                Published
              </label><!--checkbox__label-->
            </div><!--checkbox-holder-->

            <div class="checkbox-holder checkbox-holder--inline">
              <input type="checkbox" id="checkobox-modal-22">
              <label class="checkbox__label" for="checkobox-modal-22">
                Include in menu
              </label><!--checkbox__label-->
            </div><!--checkbox-holder-->

            <div class="checkbox-holder checkbox-holder--inline">
              <input type="checkbox" id="checkobox-modal-23">
              <label class="checkbox__label" for="checkobox-modal-23">
                Height 100%
              </label><!--checkbox__label-->
            </div><!--checkbox-holder-->
          </div><!--form-group-->

          <div class="form-group">
            <label for="">Content</label>
            <textarea class="wysiwyg wysiwyg-editor" name="editordata"></textarea>
          </div><!--form-group-->
        </form>
      </div><!--modal-body-->

      <div class="modal-footer pt-0">
        <button type="button" class="btn btn-outline-muted" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add</button>
      </div><!--modal-footer-->
    </div><!--modal-dialog-->
  </div><!--modal-dialog-->
</div><!--modal-->
