<!-- Modal form -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Add Field</h2>
        <form action="">
          <div class="form-group">
            <label for="field-name">Field Name:</label>
            <input type="text" class="form-control" id="field-name">
          </div><!--form-group-->

          <div class="form-group">
            <div class="checkbox-holder checkbox-holder--inline">
              <input type="checkbox" id="checkobox-modal-1">
              <label class="checkbox__label" for="checkobox-modal-1">
                Mandatory
              </label><!--checkbox__label-->
            </div><!--checkbox-holder-->

            <div class="checkbox-holder checkbox-holder--inline">
              <input type="checkbox" id="checkobox-modal-2">
              <label class="checkbox__label" for="checkobox-modal-2">
                UQ
              </label><!--checkbox__label-->
            </div><!--checkbox-holder-->

            <div class="checkbox-holder checkbox-holder--inline">
              <input type="checkbox" id="checkobox-modal-3">
              <label class="checkbox__label" for="checkobox-modal-3">
                BR
              </label><!--checkbox__label-->
            </div><!--checkbox-holder-->
          </div><!--form-group-->

          <div class="form-group">
            <label for="field-select">Information to be filled in by (Type) </label>
            <select name="" id="field-select" class="form-control">
              <option selected hidden>Select an option</option>
              <option value="">Lorem</option>
              <option value="">Ipsum</option>
            </select>
          </div><!--form-group-->

          <div class="form-group">
            <div class="card bg-gray border-0">
              <div class="card-body">
                <div class="form-group">
                  <table class="table table-sm table--border-0">
									  <thead>
									    <tr>
                        <th></th>
									      <th class="w-70">Value</th>
									      <th>Quantity</th>
									    </tr>
									  </thead>
									  <tbody>
											<tr>
												<td>
                          1
												</td>
												<td>
                          <input type="text" class="form-control" id="">
												</td>
												<td>
                          <input type="text" class="form-control" id="">
												</td>
									    </tr>
                      <tr>
												<td colspan="1">
												</td>
                        <td colspan="2">
                          <a data-toggle="collapse" href="#table-collapse-1" role="button" aria-expanded="false" aria-controls="table-collapse-1" class="underline table-collapse collapsed">Expand Quantity Settings</a>
                          <div class="collapse" id="table-collapse-1">
                            <div class="form-group mt-2">
                              <div class="row align-items-end">
                                <div class="col-xl-4 col-sm-4 mb-3 mb-sm-0">
                                  <label for="">Start</label>
                                  <div class="datepicker-holder">
          													<input type="text" class="form-control datepicker" id="" placeholder="">
          												</div><!--datepicker-holder-->
                                </div><!--col-->
                                <div class="col-xl-4 col-sm-4 mb-3 mb-sm-0">
                                  <label for="">Stop</label>
                                  <div class="datepicker-holder">
          													<input type="text" class="form-control datepicker" id="" placeholder="">
          												</div><!--datepicker-holder-->
                                </div><!--col-->
                                <div class="col-xl-4 col-sm-4">
                                  <p class="pb-10px"><b>Vald ggr</b> 0</p>
                                </div><!--col-->
                              </div><!--row-->
                            </div><!--mt-2-->
                          </div><!--collapse-->
												</td>
									    </tr>

                      <tr>
												<td>
                          2
												</td>
												<td>
                          <input type="text" class="form-control" id="">
												</td>
												<td>
                          <input type="text" class="form-control" id="">
												</td>
									    </tr>
                      <tr>
												<td colspan="1">
												</td>
                        <td colspan="2">
                          <a data-toggle="collapse" href="#table-collapse-2" role="button" aria-expanded="false" aria-controls="table-collapse-2" class="underline table-collapse collapsed">Expand Quantity Settings</a>
                          <div class="collapse" id="table-collapse-2">
                            <div class="form-group mt-2">
                              <div class="row align-items-end">
                                <div class="col-xl-4 col-sm-4 mb-3 mb-sm-0">
                                  <label for="">Start</label>
                                  <div class="datepicker-holder">
          													<input type="text" class="form-control datepicker" id="" placeholder="">
          												</div><!--datepicker-holder-->
                                </div><!--col-->
                                <div class="col-xl-4 col-sm-4 mb-3 mb-sm-0">
                                  <label for="">Stop</label>
                                  <div class="datepicker-holder">
          													<input type="text" class="form-control datepicker" id="" placeholder="">
          												</div><!--datepicker-holder-->
                                </div><!--col-->
                                <div class="col-xl-4 col-sm-4">
                                  <p class="pb-10px"><b>Vald ggr</b> 0</p>
                                </div><!--col-->
                              </div><!--row-->
                            </div><!--mt-2-->
                          </div><!--collapse-->
												</td>
									    </tr>

                      <tr>
												<td>
                          3
												</td>
												<td>
                          <input type="text" class="form-control" id="">
												</td>
												<td>
                          <input type="text" class="form-control" id="">
												</td>
									    </tr>
                      <tr>
												<td colspan="1">
												</td>
                        <td colspan="2">
                          <a data-toggle="collapse" href="#table-collapse-3" role="button" aria-expanded="false" aria-controls="table-collapse-3" class="underline table-collapse collapsed">Expand Quantity Settings</a>
                          <div class="collapse" id="table-collapse-3">
                            <div class="form-group mt-2">
                              <div class="row align-items-end">
                                <div class="col-xl-4 col-sm-4 mb-3 mb-sm-0">
                                  <label for="">Start</label>
                                  <div class="datepicker-holder">
          													<input type="text" class="form-control datepicker" id="" placeholder="">
          												</div><!--datepicker-holder-->
                                </div><!--col-->
                                <div class="col-xl-4 col-sm-4 mb-3 mb-sm-0">
                                  <label for="">Stop</label>
                                  <div class="datepicker-holder">
          													<input type="text" class="form-control datepicker" id="" placeholder="">
          												</div><!--datepicker-holder-->
                                </div><!--col-->
                                <div class="col-xl-4 col-sm-4">
                                  <p class="pb-10px"><b>Vald ggr</b> 0</p>
                                </div><!--col-->
                              </div><!--row-->
                            </div><!--mt-2-->
                          </div><!--collapse-->
												</td>
									    </tr>
									  </tbody>
									</table><!--table-->

                  <div class="text-right mb-3">
  									<a href="#" class="btn btn-primary btn-sm btn-has-shadow">Add</a>
  								</div><!--text-right-->
                </div><!--form-group-->
              </div><!--card-body-->
            </div><!--card-->
          </div><!--form-group-->
        </form>
      </div><!--modal-body-->

      <div class="modal-footer pt-0">
        <button type="button" class="btn btn-outline-muted" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add</button>
      </div><!--modal-footer-->
    </div><!--modal-dialog-->
  </div><!--modal-dialog-->
</div><!--modal-->
