<!-- Modal form -->
<div class="modal modal--dashboard fade" id="modal-dashboard-home" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="wrapper">
  			<div class="wrapper__inner">
          <header class="header">
            <div class="container-fluid d-md-flex align-items-center">
              <a href="#" class="header__logo mb-2 mb-md-0">
                <img src="assets/images/elements/logo.png" alt="" class="img-fluid">
              </a>
              <div class="header__inner">
                <p class="mb-2 mb-sm-0 mr-sm-3 fs-16 text-truncate">Senior Management Forum 14 Dec 2017</p>
                <form action="" class="form-expanded ml-auto">
                  <div class="form-group form-expanded__form-group mb-0 relative">
                    <input type="text" class="form-control form-expanded__field" placeholder="Search">
                    <button type="submit" class="form-expanded__submit"></button>
                  </div><!--form-group-->
                </form>
              </div><!--header__inner-->
            </div><!--container-fluid-->
          </header><!--header-->




          <div class="content">
  					<div class="container-fluid">
  						<div class="card card--content card--content--md border-0 bg-transparent">
  						  <div class="card-body p-0">
                  <div class="card">
      						  <div class="card-body">
                      <p class="fs-16 mb-2">Senior Management Forum 14 Dec 2017</p>
                      <div class="row">
                        <div class="col-md-3 mb-3 mb-md-0">
                          <p class="mb-1 text-truncate">
                            <b>Event Date:</b> <span class="ml-1 text-muted">20.02.2018</span>
                          </p>

                          <p class="mb-1 text-truncate">
                            <b>Start:</b> <span class="ml-1 text-muted">09:00</span>
                          </p>

                          <p class="text-truncate">
                            <b>End:</b> <span class="ml-1 text-muted">18:30</span>
                          </p>
                        </div><!--col-->

                        <div class="col-md-3 mb-3 mb-md-0">
                          <p class="mb-1 text-truncate">
                            <b>Seats:</b> <a href="#" class="ml-1 underline">423 <i class="allready-icon-edit"></i></a>
                          </p>

                          <p class="text-truncate">
                            <b>Speakers:</b> <span class="ml-1 text-muted">8</span>
                          </p>
                        </div><!--col-->

                        <div class="col-md-6">
                          <p class="mb-1 text-truncate">
                            <b>Organizer:</b> <span class="ml-1 text-muted">Mikael Eriksson</span>
                          </p>

                          <p class="text-truncate">
                            <b>Location:</b> <span class="ml-1 text-muted">Stockholm, Nice Street 67, 00923</span>
                          </p>
                        </div><!--col-->
                      </div><!--row-->
      						  </div><!--card-body-->
      						</div><!--card-->

                  <div class="card">
      						  <div class="card-body">
                      <h4 class="mb-2"><b>Alerts</b></h4>
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      								    <i class="allready-icon-close-rounded"></i>
      								  </button>
      								  <p class="mb-3">You are trying to close “edit mode” but you have unsaved progress on Allmant page. What would you like to do?</p>
      									<a href="#" class="btn btn-muted btn-sm btn-has-shadow my-1">Dismiss</a>
      									<a href="#" class="btn btn-success btn-sm btn-has-shadow my-1">Send Now</a>
      								</div><!--alert-->

                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      								    <i class="allready-icon-close-rounded"></i>
      								  </button>
      								  <p class="mb-3">You are trying to close “edit mode” but you have unsaved progress on Allmant page. What would you like to do?</p>
      									<a href="#" class="btn btn-muted btn-sm btn-has-shadow my-1">Dismiss</a>
      									<a href="#" class="btn btn-success btn-sm btn-has-shadow my-1">Send Now</a>
      								</div><!--alert-->
      						  </div><!--card-body-->
      						</div><!--card-->

                  <div class="card">
      						  <div class="card-body">
                      <h4 class="mb-2"><b>Event Status</b></h4>

                      <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item">
                          Cras justo odio
                        </a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item">Morbi leo risus</a>
                        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item">Vestibulum at eros</a>
                      </div><!--list-group-->
      						  </div><!--card-body-->
      						</div><!--card-->
  						  </div><!--card-body-->
  						</div><!--card-->
  					</div><!--container-fluid-->
  				</div><!--content-->




          <div class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <a href="#" class="btn btn-outline-muted">Close</a>
              <a href="#" class="btn btn-success">Spara</a>
            </div><!--container-fluid-->
          </div><!--footer-->
  			</div><!--wrapper__inner-->






        <aside class="aside">
          <ul class="aside__list">
            <li class="aside__list__item aside__list__item--toggle">
              <a href="#" class="aside__list__link aside__list__link--toggle protip"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Context Menu</h4>
                <p>Use this function to get directly
                to the desired page.</p>
              "
              >
                <i class="allready-icon-hamburger aside__list__icon"></i>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a href="#" class="aside__list__link aside__list__link--active protip aside__list__link--close-menu"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-title="
                  <h4 class='popover-title'>Home</h4>
                  <p>Lorem ipsum</p>
                "
                >
                <i class="allready-icon-house aside__list__icon"></i>
                <span class="aside__list__text">Dashboard</span>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a href="#" class="aside__list__link protip aside__list__link--close-menu"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-title="
                  <h4 class='popover-title'>General</h4>
                  <p>Here you can edit the General settings for the event, such as the title ,location and date.</p>
                "
                >
                <i class="allready-icon-allmant aside__list__icon"></i>
                <span class="aside__list__text">Allmänt</span>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-1"
              aria-expanded="false"
              aria-controls="collapse-1"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Booking</h4>
                <p>In this tab, you will find a lot of settings regarding the Booking for an event, such as the amount of people who can attend, amount of queueplaces and so on. You can also create an interval between two dates/times for when booking is possible.</p>
              "
              >
                <i class="allready-icon-calendar aside__list__icon"></i>
                <span class="aside__list__text">Bokning</span>
              </a>
              <div class="collapse" id="collapse-1">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-11"
                      aria-expanded="false"
                      aria-controls="collapse-11"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-11">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-2"
              aria-expanded="false"
              aria-controls="collapse-2"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Email / SMS</h4>
                <p>Here you can configure everything that has to do with e-mails, and edit their text.</p>
                <p>A useful tip is to copy the text in these emails from the presentation page of your event!</p>
                <p><b>Do not forget to give yourself a test invitation after you are done, just so there are no typos or mistakes.</b></p>
              "
              >
                <i class="allready-icon-at aside__list__icon"></i>
                <span class="aside__list__text">Email / Sms</span>
              </a>
              <div class="collapse" id="collapse-2">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-22"
                      aria-expanded="false"
                      aria-controls="collapse-22"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-22">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-3"
              aria-expanded="false"
              aria-controls="collapse-3"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Form</h4>
                <p>Here you can edit all the settings regarding the booking form; all the fields, what type of field it is, related/parented fields and so on.</p>
                <p><b><i>Tip: To create a related field, press the [rel] button and choose the field that is used as a parent. You can also specify which alternative this should apply to if the field contains several values.</i></b></p>
                <p>Do not forget that the Choice Option button in the tool tray area will only appear if a Field is of radiobutton or checkbox or list type.</p>
              "
              >
                <i class="allready-icon-forms aside__list__icon"></i>
                <span class="aside__list__text">Formulär</span>
              </a>
              <div class="collapse" id="collapse-3">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-33"
                      aria-expanded="false"
                      aria-controls="collapse-33"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-33">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item">
              <a class="aside__list__link aside__link--has-collapse collapsed protip" data-toggle="collapse"
              data-target="#collapse-4"
              aria-expanded="false"
              aria-controls="collapse-4"
              data-pt-position="left"
              data-pt-trigger="hover"
              data-pt-gravity="false"
              data-pt-title="
                <h4 class='popover-title'>Participants</h4>
                <p>Click here to show all the participants. You can also go through the submenu options and see if there is a search filter yo u want to use.</p>
              "
              >
                <i class="allready-icon-participants aside__list__icon"></i>
                <span class="aside__list__text">Participants</span>
              </a>
              <div class="collapse" id="collapse-4">
                <ul class="aside__sublist">
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Teaser
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Inbjudan
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Paminnelse
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                      <a href="#" class="aside__sublist__link aside__link--has-collapse protip collapsed"
                      data-toggle="collapse"
                      data-target="#collapse-44"
                      aria-expanded="false"
                      aria-controls="collapse-44"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Send Email
                    </a>
                    <div class="collapse" id="collapse-44">
                      <ul class="aside__sublist">
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Single Invite
                          </a>
                        </li><!--aside__sublist__item-->
                        <li class="aside__sublist__item">
                          <a href="#" class="aside__sublist__link protip"
                            data-pt-position="left"
                            data-pt-trigger="hover"
                            data-pt-gravity="false"
                            data-pt-title="
                              <h4 class='popover-title'>Lorem</h4>
                              <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                            "
                          >
                            Invitation
                          </a>
                        </li><!--aside__sublist__item-->
                      </ul><!--aside__sublist-->
                    </div><!--collapse-->
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Avbokning
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Ko
                    </a>
                  </li><!--aside__sublist__item-->
                  <li class="aside__sublist__item">
                    <a href="#" class="aside__sublist__link protip"
                      data-pt-position="left"
                      data-pt-trigger="hover"
                      data-pt-gravity="false"
                      data-pt-title="
                        <h4 class='popover-title'>Lorem</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                      "
                    >
                      Auto
                    </a>
                  </li><!--aside__sublist__item-->
                </ul><!--aside__sublist-->
              </div><!--collapse-->
            </li><!--aside__list__item-->
            <li class="aside__list__item protip">
              <a href="#" class="aside__list__link protip"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-gravity="false"
                data-pt-title="
                  <h4 class='popover-title'>Access</h4>
                  <p>Here you can edit access level of this page for certain usergroups; you can choose who is allowed to edit and who is allowed to see the page. You can make the page public if you want to, or only available to certain groups.</p>
                "
              >
                <i class="allready-icon-access aside__list__icon"></i>
                <span class="aside__list__text">Behörighet</span>
              </a>
            </li><!--aside__list__item-->
            <li class="aside__list__item protip">
              <a href="#" class="aside__list__link protip"
                data-pt-position="left"
                data-pt-trigger="hover"
                data-pt-gravity="false"
                data-pt-title="
                  <h4 class='popover-title'>Lorem</h4>
                  <p>Lorem ipsum</p>
                "
              >
                <i class="allready-icon-access aside__list__icon"></i>
                <span class="aside__list__text">Lorem</span>
              </a>
            </li><!--aside__list__item-->
          </ul><!--aside__list-->
        </aside><!--aside-->
  		</div><!--wrapper-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
