<!-- Modal -->
<div class="modal fade" id="modal-family-grouping" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="text-center mb-2">Family grouping </h5>
                <p class="fs-12 text-center text-silver-soft">Family groupings is applied. See changes below by room</p>
                <div class="text-center">
                    <select class="selectpicker" data-style="custom-select" data-width="218px">
                        <option>
                            All Rooms
                        </option>
                        <option data-content="<span class='room-badge room-badge--sky'></span> Kindergarten">
                            Kindergarten
                        </option>
                        <option data-content="<span class='room-badge room-badge--success'></span> Kindergarten2">
                            Kindergarten2
                        </option>
                        <option data-content="<span class='room-badge room-badge--blue'></span> Kindergarten3">
                            Kindergarten3
                        </option>
                        <option data-content="<span class='room-badge room-badge--success-soft'></span> Kindergarten4">
                            Kindergarten4
                        </option>
                        <option
                            data-content="<span class='room-badge room-badge--success-secondary'></span> Kindergarten5">
                            Kindergarten5
                        </option>
                        <option data-content="<span class='room-badge room-badge--rose'></span> Kindergarten6">
                            Kindergarten6
                        </option>
                        <option data-content="<span class='room-badge room-badge--warning'></span> Kindergarten7">
                            Kindergarten7
                        </option>
                        <option data-content="<span class='room-badge room-badge--pink'></span> Kindergarten8">
                            Kindergarten8
                        </option>
                        <option data-content="<span class='room-badge room-badge--orange'></span> Kindergarten9">
                            Kindergarten9
                        </option>
                    </select>
                </div>

                <div class="family-group">
                    <div class="family-group__item">
                        <p><a href="#">4 children</a> have been moved from <a href="#">Kindergarten to Junior Kindy</a>
                        </p>
                    </div>
                    <div class="family-group__item">
                        <p><a href="#">4 children</a> have been moved from <a href="#">Kindergarten to Junior Kindy</a>
                        </p>
                    </div>
                    <div class="family-group__item">
                        <p><a href="#">4 children</a> have been moved from <a href="#">Kindergarten to Junior Kindy</a>
                        </p>
                    </div>
                    <div class="family-group__item">
                        <p><a href="#">4 children</a> have been moved from <a href="#">Kindergarten to Junior Kindy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add Staff</button>
            </div>
        </div>
    </div>
</div>