<!-- Modal -->
<div class="modal fade" id="modal-staff-selector" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="text-center mb-2">Staff Selector</h5>
                <p class="fs-12 text-center text-silver-soft">Choose the staff you would like to<br
                        class="d-none d-sm-inline-block" /> add to your roster</p>

                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <td scope="col">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" id="customCheck1"
                                            name="select-all">
                                        <label class="custom-control-label" for="customCheck1"></label>
                                    </div>
                                </td>
                                <td scope="col">
                                    Room name
                                </td>
                                <td scope="col">
                                    Bookings
                                </td>
                                <td scope="col">
                                    Shift preference
                                </td>
                                <td scope="col">
                                    Qualifications
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-item"
                                            id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2"></label>
                                    </div>
                                </th>
                                <th>Emma Kilczynski</th>
                                <th>1pm-4pm</th>
                                <th>Morning<br />
                                    7am-12am</th>
                                <th>Level 2 teaching </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-item"
                                            id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3"></label>
                                    </div>
                                </th>
                                <th>Emma Kilczynski</th>
                                <th>1pm-4pm</th>
                                <th>Morning<br />
                                    7am-12am</th>
                                <th>Level 2 teaching </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-item"
                                            id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4"></label>
                                    </div>
                                </th>
                                <th>Emma Kilczynski</th>
                                <th>1pm-4pm</th>
                                <th>Morning<br />
                                    7am-12am</th>
                                <th>Level 2 teaching </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-item"
                                            id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5"></label>
                                    </div>
                                </th>
                                <th>Emma Kilczynski</th>
                                <th>1pm-4pm</th>
                                <th>Morning<br />
                                    7am-12am</th>
                                <th>Level 2 teaching </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-item"
                                            id="customCheck6">
                                        <label class="custom-control-label" for="customCheck6"></label>
                                    </div>
                                </th>
                                <th>Emma Kilczynski</th>
                                <th>1pm-4pm</th>
                                <th>Morning<br />
                                    7am-12am</th>
                                <th>Level 2 teaching </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-item"
                                            id="customCheck7">
                                        <label class="custom-control-label" for="customCheck7"></label>
                                    </div>
                                </th>
                                <th>Emma Kilczynski</th>
                                <th>1pm-4pm</th>
                                <th>Morning<br />
                                    7am-12am</th>
                                <th>Level 2 teaching </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add Staff</button>
            </div>
        </div>
    </div>
</div>