<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">
        <img src="img/elements/logo.svg" alt="" class="w-100">
    </a>

    <div class="d-flex align-items-center d-md-none ml-auto mr-3">
        <button type="button" class="btn btn-icon position-relative mr-3">
            <span class="navbar-notification-counter">3</span>
            <i class="icon-notification"></i>
        </button>

        <div class="dropdown">
            <button type="button" class="navbar-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="img/elements/avatar.png" class="navbar-user__avatar" alt="">
                <div class="flex-fill">
                    <p class="navbar-user__name">Sarah Fisher</p>
                    <p class="navbar-user__role">Centre Maneger</p>
                </div>
            </button>

            <div class="dropdown-menu">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Daily view </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Weekly Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Staff overview </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin settings </a>
            </li>
        </ul>
        <div class="d-none d-md-flex flex-column flex-md-row align-items-md-center">
            <button type="button" class="btn btn-icon position-relative mr-4">
                <span class="navbar-notification-counter">3</span>
                <i class="icon-notification"></i>
            </button>

            <div class="dropdown">
                <button type="button" class="navbar-user" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="img/elements/avatar.png" class="navbar-user__avatar" alt="">
                    <div class="flex-fill">
                        <p class="navbar-user__name">Sarah Fisher</p>
                        <p class="navbar-user__role">Centre Maneger</p>
                    </div>
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </div>
    </div>
</nav>