/* Fonts */

//Plus_Jakarta_Sans
@font-face {
	font-family: 'PlusJakartaSans-Regular';
	src: url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff2') format('woff2'),
	url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans-SemiBold';
	src: url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
	url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans-Medium';
	src: url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff2') format('woff2'),
	url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans-Bold';
	src: url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff2') format('woff2'),
	url('#{$font-path}Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

//Playfair_Display
@font-face {
	font-family: 'PlayfairDisplay-Bold';
	src: url('#{$font-path}Playfair_Display/PlayfairDisplay-Bold.woff2') format('woff2'),
	url('#{$font-path}Playfair_Display/PlayfairDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

//DM_Sans
@font-face {
	font-family: 'DMSans-Medium';
	src: url('#{$font-path}DM_Sans/DMSans-Medium.woff2') format('woff2'),
	url('#{$font-path}DM_Sans/DMSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}