/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #191919;
$primary: #2b56a6;
$gray: #b8b8b8;
$gray-secondary: #d2d2d2;
$silver: #f6f6f6;
$silver-secondary: #cacaca;
$success: #35a248;
$success-secondary: #00d2d2;
$muted: #757575;
$muted-secondary: #3d3d3d;
/* Override Bootstrap color variables */
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-secondary {
  color: $gray-secondary !important;
}

.text-silver {
  color: $silver !important;
}

.text-silver-secondary {
  color: $silver-secondary !important;
}

.text-success {
  color: $success !important;
}

.text-success-secondary {
  color: $success-secondary !important;
}

.text-muted {
  color: $muted !important;
}

.text-muted-secondary {
  color: $muted-secondary !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-gray-secondary {
  background-color: $gray-secondary !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-silver-secondary {
  background-color: $silver-secondary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-success-secondary {
  background-color: $success-secondary !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-muted-secondary {
  background-color: $muted-secondary !important;
}
/*************************
	Fonts variables
*************************/
$font-light: 'NunitoLight';
$font-regular: 'NunitoRegular';
$font-semibold: 'NunitoSemiBold';
$font-bold: 'NunitoBold';

.font-light {
  font-family: $font-light !important;
}

.font-regular {
  font-family: $font-regular !important;
}

.font-semibold {
  font-family: $font-semibold !important;
}

.font-bold {
  font-family: $font-bold !important;
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-regular;
$base-animation: 250ms;
$base-radius: 0.25rem;
$base-border-color: $silver;
$base-box-shadow: 0 0 5px 0 rgba($black, .3);
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/
$title-font: $font-bold;