/* VARIABLES */


/* Color variables */

$white: #ffffff;
$black: #000000;
$black50: #0e171f;
$black100: #1d1c1e;
$black200: #031002;
$black300: #0d0d0d;
$warning: #ffc15e;
$warning100: #fcb223;
$silver-thin: #d9dbe1;
$silver: #f9f9fb;
$silver100: #7c8087;
$silver-soft: #e2e4e8;
$muted: #5c6278;
$blue: #10375c;
$blue100: #0e1820;
$blue-soft: #222831;
$blue-thin: #05374d;
//Override Bootstrap color variables
.text-white {
    color: $white !important;
}

.text-black {
    color: $black !important;
}

.text-black50 {
    color: $black50 !important;
}

.text-black100 {
    color: $black100 !important;
}

.text-black200 {
    color: $black200 !important;
}

.text-black300 {
    color: $black300 !important;
}

.text-warning {
    color: $warning !important;
}

.text-warning100 {
    color: $warning100 !important;
}

.text-silver-thin {
    color: $silver-thin !important;
}

.text-silver {
    color: $silver !important;
}

.text-silver100 {
    color: $silver100 !important;
}

.text-silver-soft {
    color: $silver-soft !important;
}

.text-muted {
    color: $muted !important;
}

.text-blue {
    color: $blue !important;
}

.text-blue100 {
    color: $blue100 !important;
}

.text-blue-soft {
    color: $blue-soft !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-black {
    background-color: $black !important;
}

.bg-black50 {
    background-color: $black50 !important;
}

.bg-black100 {
    background-color: $black100 !important;
}

.bg-black200 {
    background-color: $black200 !important;
}

.bg-black300 {
    background-color: $black300 !important;
}

.bg-warning {
    background-color: $warning !important;
}

.bg-warning100 {
    background-color: $warning100 !important;
}

.bg-silver-thin {
    background-color: $silver-thin !important;
}

.bg-silver {
    background-color: $silver !important;
}

.bg-silver100 {
    background-color: $silver100 !important;
}

.bg-silver-soft {
    background-color: $silver-soft !important;
}

.bg-muted {
    background-color: $muted !important;
}

.bg-blue {
    background-color: $blue !important;
}

.bg-blue100 {
    background-color: $blue100 !important;
}

.bg-blue-soft {
    background-color: $blue-soft !important;
}


/*************************
	Fonts variables
*************************/

$font-manrope-regular: 'Manrope-Regular';
.font-manrope-regular {
    font-family: $font-manrope-regular !important;
}

$font-manrope-medium: 'Manrope-Medium';
.font-manrope-medium {
    font-family: $font-manrope-medium !important;
}

$font-manrope-semibold: 'Manrope-SemiBold';
.font-manrope-semibold {
    font-family: $font-manrope-semibold !important;
}

$font-manrope-extrabold: 'Manrope-ExtraBold';
.font-manrope-extrabold {
    font-family: $font-manrope-extrabold !important;
}

$font-bergentext-regular: 'BergenText-Regular';
.font-bergentext-regular {
    font-family: $font-bergentext-regular !important;
}

$font-bergentext-semibold: 'BergenText-SemiBold';
.font-bergentext-semibold {
    font-family: $font-bergentext-semibold !important;
}

$font-bergentext-bold: 'BergenText-Bold';
.font-bergentext-bold {
    font-family: $font-bergentext-bold !important;
}

$font-montserrat-regular: 'Montserrat-Regular';
.font-montserrat-regular {
    font-family: $font-montserrat-regular !important;
}

$font-montserrat-medium: 'Montserrat-Medium';
.font-montserrat-medium {
    font-family: $font-montserrat-medium !important;
}

$font-montserrat-bold: 'Montserrat-Bold';
.font-montserrat-bold {
    font-family: $font-montserrat-bold !important;
}

$font-lato-medium: 'Lato-Medium';
.font-lato-medium {
    font-family: $font-lato-medium !important;
}

$font-circular-std-book: 'Circular-Std-Book';
.font-circular-std-book {
    font-family: $font-circular-std-book !important;
}

$font-bwdarius-bold: 'BwDarius-Bold';
.font-bwdarius-bold {
    font-family: $font-bwdarius-bold !important;
}

$font-icons: "icomoon";
.font-icons {
    &:before {
        font-family: $font-icons;
    }
}


/*************************
	Base variables
*************************/

$base-color: $blue-soft;
$base-font: $font-manrope-regular;
$base-animation: 250ms;

/*************************
	Font path variable
*************************/

$font-path: "../fonts/";

/*************************
	Body variables
*************************/

$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/

$link-color: $warning;

/*************************
	Heading variables
*************************/

$heading-color: $blue-thin;
$heading-font: $font-bergentext-bold;

/*************************
	Radius variables
*************************/

$radius-base: 5px;
.radius-base {
    border-radius: $radius-base !important;
}