/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #394d85;
$muted: #4c5667;
$gray: #97a0af;
$pink: #fa4a86;
/* Override Bootstrap color variables */
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-muted {
  color: $muted !important;
}

.text-gray {
  color: $gray !important;
}

.text-pink {
  color: $pink !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-pink {
  background-color: $pink !important;
}
/*************************
	Fonts variables
*************************/
$font-light: 'Roboto-Light';
$font-regular: 'Roboto-Regular';
$font-bold: 'Roboto-Bold';
/*************************
	Icons fonts variables
*************************/
$font-icons: "fontello";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $pink;
/*************************
	Title variables
*************************/
$title-font: $font-bold;
/*************************
	Sizes variables
*************************/
$size-base: 16px;
$size-xxs: 4px;
$size-xs: 8px;
$size-md: 24px;
$size-lg: 32px;
$size-xl: 48px;
$size-xxl: 64px;
/*************************
	Radius variables
*************************/
$radius-base: 16px;
$radius-xs: 3px;
$radius-sm: 9px;
$radius-xl: 29px;
$radius-xl: 48px;
/*************************
	Shadow variables
*************************/
$shadow-base: 0 2px 2px rgba(0, 0, 0, 0.1);