/* SHOPIFY */

.shopify-brand-logo, .shopify-logo {
  width: 100%;
}
.shopify-brand-logo {
  max-width: 120px;
  @include media-breakpoint-up(sm) {
    max-width: 270px;
  }
}
.shopify-logo {
  max-width: 120px;
  @include media-breakpoint-up(sm) {
    max-width: 250px;
  }
}
