<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0">
        <a href="#" class="footer__logo"><img src="assets/images/elements/logo-footer.svg" alt="" class="w-100"></a>
      </div><!--col-->

      <div class="col-md-3 mb-4 mb-md-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">HOW IT WORKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MEDIA & GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div><!--col-->

      <div class="col-md-3 mb-4 mb-md-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">YOUR ACCOUNT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOREM IPSUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DOLOR SIT AMET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRIVACY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TERMS/ CONDITIONS</a>
          </li>
        </ul>
      </div><!--col-->

      <div class="col-md-3">
        <address class="">
          P.O. Box 2079<br>
          Calhoun, Georgia 30701<br>
          Call Toll-Free: 1.866.629.6652<br>
          Fax: 706.602.9042<br>
          <a href="mailto:customerservice@biofuel.com" class="footer__link">customerservice@biofuel.com</a>
        </address>

        <ul class="social">
          <li class="social__item">
            <a href="#" class="social__link biofuel-icon-facebook"></a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link biofuel-icon-youtube"></a>
          </li>
        </ul>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-->
</footer><!--footer-->
