<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="assets/images/elements/logo-navbar.svg" alt="" class="w-100">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="biofuel-icon-menu"></i>
  </button>

  <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-nav--secondary ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">NEWSLETTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ACCOUNT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CART <i class="biofuel-icon-basket text-orange"></i> <span class="nav-link__counter">0</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">HOW IT WORKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEDIA & GALLERY</a>
      </li>
    </ul>
  </div>
</nav>
