/* BUTTONS */
.btn {
  @extend .rounded-0, .py-3, .px-5;

  &-primary {
    @include button-variants($bg: $orange, $color: $white);
  }

  &-link {
    color: $black;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }
}