/* FLOATED BOX */
.floated-box {
  @extend .d-flex, .flex-column, .flex-md-row, .align-items-md-center, .px-3, .px-md-0;

  &+.floated-box {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 100px;
    }
  }
}

.floated-box__img-holder {
  @extend .flex-shrink-0, .overflow-hidden;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 40%;

    &:hover {
      > img {
        @include scale(1.3);
      }
    }
  }
}

.floated-box__img {
  transition: $base-animation;
  @extend .w-100;
}

.floated-box__content {
  @extend .flex-fill;
  padding: 25px 15px;
  @include media-breakpoint-up(md) {
    padding: 40px;
  }
  @include media-breakpoint-up(lg) {
    padding: 60px;
  }
  @include media-breakpoint-up(xl) {
    padding: 90px;
  }
}