/* FORMS */
.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form-control {
	@extend .rounded-0, .border-0, .shadow-none;
	background-color: rgba($black, .2);

	&:focus {
		background-color: rgba($black, .3);
	}
}

select.form-control {
	background-repeat: no-repeat;
	background-size: 30px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjI3NyAxNC43NTIyTDguNDUwNjIgMTAuNTAwN0M4LjI3Njg3IDEwLjMwNzYgOC40MTM4OCAxMCA4LjY3MzYxIDEwSDE2LjMyNjRDMTYuNTg2MSAxMCAxNi43MjMxIDEwLjMwNzYgMTYuNTQ5NCAxMC41MDA3TDEyLjcyMyAxNC43NTIyQzEyLjYwMzggMTQuODg0NiAxMi4zOTYyIDE0Ljg4NDYgMTIuMjc3IDE0Ljc1MjJaIiBmaWxsPSIjMkMzMjNBIi8+Cjwvc3ZnPgo=");
	background-position: right 5px center;
	padding-right: 35px;
}

textarea.form-control {
	resize: none;
	min-height: 80px;
	@include media-breakpoint-up(md) {
		min-height: 200px;
	}
}

.contact-form {
	@extend .position-relative;

	&:before {
		@include media-breakpoint-up(xl) {
			content: '';
			position: absolute;
			top: 0;
			left: -40px;
			width: 10px;
			height: 125px;
			background-color: $orange;
		}
	}
}