/* PERSON CARD */
.person-card {
  margin-bottom: 40px;
  @extend .text-uppercase, .text-center, .d-block, .text-gray;
  font-size: 22px;

  &:focus,
  &:hover {
    @extend .text-orange;
  }
}

.person-card__header {
  @extend .mb-3, .rounded-circle, .text-white, .d-flex, .align-items-center, .justify-content-center, .bg-orange, .mx-auto;
  font-size: 24px;
  width: 180px;
  height: 180px;
  @include media-breakpoint-up(md) {
    width: 200px;
    height: 200px;
  }
  @include media-breakpoint-up(lg) {
    width: 260px;
    height: 260px;
  }
  @include media-breakpoint-up(xl) {
    width: 300px;
    height: 300px;
  }
}