/* SCROLL TO TOP BUTTON */
.scroll-top-btn {
  @extend .position-fixed, .p-0, .border-0, .rounded-circle, .d-inline-flex, .align-items-center, .justify-content-center, .bg-black, .text-white, .invisible;
  bottom: 5%;
  right: 1rem;
  width: 30px;
  height: 30px;
  z-index: 300;
  transform: scale(.95) translateY(10px);
  opacity: 0;
  box-shadow: 0 0 3px 1px $white;
  @include media-breakpoint-up(lg) {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  &.is-active {
    @extend .visible;
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}