/* SLICK */
$dot-size: 14px;

.slick-dots {
  @extend .list-unstyled, .position-absolute, .w-100, .px-3, .d-flex, .justify-content-center;
  bottom: 20px;
  @include media-breakpoint-up(md) {
    bottom: 40px;
  }

  > li {
    @extend .rounded-circle, .bg-white;
    width: $dot-size;
    height: $dot-size;
    cursor: pointer;

    &.slick-active {
      @extend .bg-orange;
    }

    &+li {
      margin-left: 14px;
    }

    > button {
      @extend .d-none;
    }
  }
}