/* FOOTER */

$footer-color: #888888;

.footer {
  @include media-breakpoint-up(md) {
    padding: 35px 0;
  }
  color: $footer-color;
  padding: 40px 0;
  font-size: 11px;
  text-align: center;
}

.footer__logo {
  max-width: 135px;
}
