/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #1f252c;
$primary: #13af9c;
$success: #10e2c9;
$muted: #858e9c;
$silver: #f7f8fa;
$gray: #e8ecef; //Override Bootstrap color variables

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $success !important;
}

.text-muted {
  color: $muted !important;
}

.text-silver {
  color: $silver !important;
}

.text-gray {
  color: $gray !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-gray {
  background-color: $gray !important;
}
/*************************
	Fonts variables
*************************/
$font-base: 'Rubik', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

.font-regular {
  font-weight: $font-regular;
}

.font-medium {
  font-weight: $font-medium;
}

.font-bold {
  font-weight: $font-bold;
}
$font-secondary: 'coconregular';

.font-secondary {
  font-family: $font-secondary;
}
$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-base;
$base-radius: 6px;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/
$title-font-family: $font-medium;
$title-line-height: 1.35;