/* Fonts */

//Poppins
@font-face {
    font-family: 'Poppins-Regular';
    src: url('#{$font-path}poppins/Poppins-Regular.woff2') format('woff2'),
    url('#{$font-path}poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('#{$font-path}poppins/Poppins-SemiBold.woff2') format('woff2'),
    url('#{$font-path}poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('#{$font-path}poppins/Poppins-Medium.woff2') format('woff2'),
    url('#{$font-path}poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('#{$font-path}poppins/Poppins-Light.woff2') format('woff2'),
    url('#{$font-path}poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('#{$font-path}poppins/Poppins-Bold.woff2') format('woff2'),
    url('#{$font-path}poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}