<nav class="navbar-menu">
    <button type="button" class="navbar-menu__toggle d-none d-md-flex">
        <i class="icon-menu"></i>
    </button>

    <div class="navbar-menu__list">
        <a href="#" class="navbar-menu__item navbar-menu__item--active">
            <i class="navbar-menu__item-icon icon-dashboard"></i> <span class="navbar-menu__item-label">Dashboard</span>
            <span class="navbar-menu__item__corner"></span>
        </a>
        <a href="#" class="navbar-menu__item">
            <i class="navbar-menu__item-icon icon-categories"></i> <span
                class="navbar-menu__item-label">Categories</span>
            <span class="navbar-menu__item__corner"></span>
        </a>
        <a href="#" class="navbar-menu__item">
            <i class="navbar-menu__item-icon icon-user"></i> <span class="navbar-menu__item-label">Users</span>
            <span class="navbar-menu__item__corner"></span>
        </a>
    </div>

    <a href="#" class="navbar-menu__support-box">
        <div class="navbar-menu__support-box__icon-box">
            <i class="icon-support"></i>
        </div>
        <span class="navbar-menu__support-box__title">Support</span>
    </a>
</nav>