<div class="slide-panel">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h2 class="mb-0">Request Info</h2>
        <button type="button" class="slide-panel__close">
            <i class="icon-cancel"></i>
        </button>
    </div>

    <form action="">
        <div class="form-group">
            <label for="field-expense-category">Expense category</label>
            <select class="form-control" id="field-expense-category">
                <option selected>Marketing</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field-supplier-name">Supplier name</label>
            <input type="text" class="form-control" id="field-supplier-name" placeholder="Jamey Craghead">
        </div>
        <div class="form-group">
            <label for="field-description">Description</label>
            <textarea class="form-control" id="field-description" placeholder="Description…"></textarea>
        </div>
        <div class="form-group">
            <label for="field-amount">Amount</label>
            <!-- is-invalid class added just for an example -->
            <input type="text" class="form-control is-invalid" id="field-amount">
            <!-- d-block class added just for an example -->
            <div class="invalid-feedback d-block">
                Add Amount value
            </div>
        </div>
        <div class="form-group">
            <label for="field-required-by">Required by</label>
            <input type="text" class="form-control input-datepicker" id="field-required-by">
        </div>
        <div class="form-group mb-5">
            <label for="field-requested-by">Requested by</label>
            <input type="text" class="form-control" id="field-requested-by" placeholder="Dannie Trapp">
        </div>

        <div class="d-flex align-items-center mb-4">
            <button type="submit" class="btn btn-primary btn-circle btn-md fs-16">Request</button>
            <button type="submit" class="btn btn-link btn-md fs-16"
                data-toggle="slide-panel-decline-box">Cancel</button>
        </div>
    </form>

    <div class="slide-panel__box mt-5">
        <p class="fs-16">Do you want to send reminder for this request?</p>
        <button type="button" class="btn btn-white btn-circle"><i class="icon-paper-plane-o mr-3 fs-18"></i>
            Send</button>
    </div>
</div>

<div class="slide-panel-decline-box">
    <div class="slide-panel-decline-box__inner">
        <div class="text-right mb-1">
            <button type="button" class="slide-panel-decline-box__close">
                <i class="icon-cancel"></i>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="field-reason-to-decline">Reason to decline</label>
                <textarea class="form-control" id="field-reason-to-decline" placeholder="Description…"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-circle btn-md fs-16 px-md-5">Submit</button>
            </div>
        </form>
    </div>
</div>