/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #0088bb;
$muted: #888888;
$silver: #979797;
$blue: #2d5281;
$sky: #416b88;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.text-primary {
	color: $primary !important;
}

.text-muted {
	color: $muted !important;
}

.text-blue {
	color: $blue !important;
}

.text-sky {
	color: $sky !important;
}

.text-silver {
	color: $silver !important;
}

.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-primary {
	background-color: $primary !important;
}

.bg-muted {
	background-color: $muted !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-sky {
	background-color: $sky !important;
}

.bg-silver {
	background-color: $silver !important;
}

/*************************
	Fonts variables
*************************/
$font-light: 'Roboto-Light';
$font-regular: 'Roboto-Regular';
$font-medium: 'Roboto-Medium';
$font-bold: 'Roboto-Bold';

.font-light {
	font-family: $font-light !important;
}

.font-regular {
	font-family: $font-regular !important;
}

.font-medium {
	font-family: $font-medium !important;
}

.font-bold {
	font-family: $font-bold !important;
}

$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $sky;
$link-color-hover: $primary;

/*************************
	Title variables
*************************/
$title-font: $font-bold;