/* CONTENT */

$aside-width: 220px;
$aside-bg: $blue;

.content {
  padding: 15px 0;
  @include clearfix();
  @include media-breakpoint-up(md) {
    margin-left: $aside-width;
  }
}


.content__inner {
  @extend .d-flex, .flex-column;
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - #{$navbar-desktop-height} - 30px);
  }
}

.content__item {
  @include clearfix();
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
