<footer class="footer">
    <div class="container position-relative">
        <img src="img/temp/highlight.svg" alt="" class="hero__highlight">
        <h2 class="text-warning">Today 50% off</h2>
        <h2 class="h1 mb-md-5">Get started now</h2>
        <form action="" class="signup-form footer__signup-form">
            <input type="email" class="form-control border-0 shadow-none rounded-0 bg-transparent ps-md-5"
                placeholder="Your email address">
            <button class="btn btn-primary flex-shrink-0 ms-3" type="submit">Sign up now</button>
        </form>

        <a href="#" class="footer__logo">
            <img src="img/elements/logo.svg" alt="" class="w-100">
        </a>

        <div class="footer-nav">
            <a href="#" class="footer-nav-link">Home</a>
            <a href="#" class="footer-nav-link">How it works</a>
            <a href="#" class="footer-nav-link">Pricing</a>
        </div>

        <div class="footer-info">
            <a href="#" class="footer-info-link">Privacy policy</a>
            <a href="#" class="footer-info-link">Terms & conditions</a>
        </div>
    </div>
</footer>