<header class="header header--secondary navbar-expand-lg">
    <div class="container">
        <a href="#" class="header__logo">
            <img src="img/elements/logo-dark.svg" alt="" class="w-100">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="header-links mt-3 mt-lg-0">
                <a href="#" class="header-link pe-0">Get Started Now</a>
                <a href="#" class="btn btn-login flex-shrink-0">Login</a>
            </div>
        </div>
    </div>
</header>