/* BLOCK LINK */

.block-link-holder {
  position: relative;
}
.block-link-holder__item {
  min-height: 110px;
  padding: 20px 0;
  border-bottom: 1px solid $mercury-thin;
  .news-info__item {
    color: $tundora;
  }
}
.block-link-holder__link {
  display: block;
  color: $primary;
  font-family: $font-secondary;
}
