/* BUTTONS */

$btn-font-family: $font-secondary;

.btn {
  font-family: $btn-font-family;
  border-radius: 0;
  font-size: inherit;
  text-transform: uppercase;
  @include respond-to(sm-min) {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &.btn-primary {
    background: $blue;
    border-color: $blue;
    color: $white;
    &:hover, &:focus {
      background: darken($blue, 10%);
      border-color: darken($blue, 10%);
      color: $white;
    }
  }
  &.btn-link {
    color: $blue;
    &:hover, &:focus {
      background: none;
      color: darken($blue, 10%);
    }
  }
  &.btn-bold {
    font-weight: $font-bold;
  }
  &.btn-sm {
    padding-left: 20px;
    padding-right: 20px;
  }
}
