/* FLEX */

.flex {
  display: flex;
}
.flex-xs-up {
  @include respond-to(xs-min){
    display: flex;
  }
}
.flex-inline {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-content-center {
  justify-content: center;
}
.flex-item-center {
  align-items: center;
}
.flex-item-start {
  align-items: flex-start;
}
.flex-item-end {
  align-items: flex-end;
}
.flex-item-between {
  align-content: space-between;
}
.flex-basis-100 {
  flex-basis: 100%;
}
.flex-grow {
  flex-grow: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.flex-1 {
  flex: 1;
}

.flex-ellipsis {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-centered {
  @extend .flex, .flex-content-center, .flex-item-center;
}
.flex-inline-centered {
  @extend .flex-inline, .flex-content-center, .flex-item-center;
}
