/* FOCUS ON */

$focus-on-border-color: $mercury-thin;
$focus-on-font-family: $font-secondary;

.focus-on {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.focus-on__item {
  position: relative;
  border-bottom: 1px solid $focus-on-border-color;
  padding-bottom: 15px;
  font-family: $focus-on-font-family;
  @extend .flex, .flex-item-center, .link__dark;
  &+.focus-on__item {
    padding-top: 15px;
  }
}
.focus-on__item__logo {
  flex-shrink: 0;
  min-width: 100px;
  margin-right: 24px;;
}
.focus-on__item__img {
  @extend .img-responsive;
}
.focus-on__item__description {
  flex: 1;
  font-size: 0.842em;
  >* {
    &:not(:last-child) {
      margin-bottom: 2.5px;
    }
  }
}
.focus-on__item__title {
  font-weight: $font-bold;
}
