/* LIST */

.list {
}
.list__item {
  font-size: 1.053em;
  font-family: $font-secondary;
}
.list__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.list-social {
  @extend .flex, .flex-between, .flex-item-center;
  @include respond-to(xs) {
    display: block !important;
  }
}
.list-social__item {
  @include respond-to(xs) {
    display: inline-block !important;
  }
}
.list-social__item {
  font-size: 1.253em;
  @include respond-to(sm-min) {
    font-size: 1.579em;
  }
}
.list-social__link {
  color: $blue-soft;
}

.list-divider__item {
  display: inline-block;
  &+.list-divider__item {
    .list-divider__link {
      &:before {
        content: "|";
        padding-left: 1em;
        padding-right: 1em;
        @include respond-to(sm) {
          padding-left: .5em;
          padding-right: .5em;
        }
      }
    }
  }
}
.list-divider__link {
  color: $primary;
  font-family: $font-secondary;
  @extend .fs-sm;
  &:hover, &:focus {
		color: darken($link-color, 10%);
	}
}

.list-arrow__item {
  display: inline-block;
}
.list-arrow__link {
  text-transform: uppercase;
  font-weight: $font-bold;
  @extend .link__dark;
  font-size: .895em;
  &:after {
    font-family: $font-icons;
    content: '\e803';
    color: $link-color;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.list-share__link {
  border-radius: 50%;
  @extend .flex-centered;
  width: 32px;
  height: 32px;
  border-width: 2px;
  border-style: solid;
  font-size: 16px;
  line-height: 1;
  >i {
    &:before {
      line-height: 1;
      margin: 0;
    }
  }
}
.list-share__link--facebook {
  color: #033478;
  border-color: #033478;
  &:hover, &:focus {
    background: #033478;
    color: $white;
  }
}
.list-share__link--twitter {
  color: #02a5ec;
  border-color: #02a5ec;
  &:hover, &:focus {
    background: #02a5ec;
    color: $white;
  }
}
.list-share__link--mail {
  color: #686868;
  border-color: #686868;
  &:hover, &:focus {
    background: #686868;
    color: $white;
  }
}

.list-counter {
  counter-reset: list;
  list-style-type: none;
  font-family: $font-secondary;
}
.list-counter__item {
}
.list-counter__link {
  color: $primary;
  display: block;
  padding: 15px 0 15px 30px;
  border-bottom: 2px solid $mercury-thin;
  position: relative;
  &:before {
    color: $blue;
    content: counter(list);
    counter-increment: list;
    font-weight: $font-bold;
    margin-right: 10px;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
  }
}
