/* PRODUCT */

$product-border-color: $mercury-thin;
$product-font-family: $font-secondary;

.product {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.product__item {
  position: relative;
  padding-bottom: 15px;
  font-family: $product-font-family;
  @extend .flex, .flex-item-center, .link__dark;
  &+.product__item {
    padding-top: 15px;
  }
}
.product__item__logo {
  flex-shrink: 0;
  min-width: 130px;
  margin-right: 24px;;
}
.product__item__img {
  @extend .img-responsive;
}
.product__item__description {
  flex: 1;
  font-size: 0.842em;
  >* {
    &:not(:last-child) {
      margin-bottom: 2.5px;
    }
  }
}
.product__item__title {
  font-weight: $font-bold;
}
