/* READ MORE */

.read-more {
  overflow: hidden;
}
.read-more__btn {
  display: block;
  text-align: center;
  padding: 25px 0;
  transform: translateY(-100%);
  font-family: $font-secondary;
  color: $primary;
  text-transform: uppercase;
  font-weight: $font-bold;
  position: relative;
  z-index: 100;
  @include gradient-vertical($start-color: rgba($white, .5), $end-color: $white, $start-percent: 0%, $end-percent: 100%);
  &:after {
    font-family: $font-icons;
    content: '\e801';
    color: $blue;
    margin: 0 7.5px;
  }
}
