/* VACANCY */

$vacancy-font-family: $font-secondary;

.vacancy {
  position: relative;
  padding: 0 10px;
  background: $danger-thin;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.vacancy--has-logo {
  &:before {
    content: '';
    background: url('../images/temp/lgo_job.png') no-repeat 50% 50% / contain;
    display: block;
    width: 56px;
    height: 10px;
    position: absolute;
    top: -40px;
    right: 0;
  }
}
.vacancy__item {
  display: block;
  padding: 10px 0;
  color: $danger;
  font-size: 1.053em;
  font-family: $vacancy-font-family;
  &:hover, &:focus {
    color: $danger;
  }
  &+.vacancy__item {
    border-top: 1px solid rgba($danger, .5);
  }
  * {
    &:not(:last-child) {
      margin-bottom: 2.5px;
    }
  }
}
.vacancy__title {
  color: $primary;
  font-weight: $font-bold;
}
