/* VARIABLES */


/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
$blue-charcoal: #00060D; //Primary color
/* Blue group */
$hawkes-blue: #E9F1FD; //Sky
$blue-ribbon: #006bff; //Blue
$catalina-blue: #033478; //Blue soft
/* Gray group */
$alto: #d7d7d7;
$wild-sand: #F5F5F5;
$galley: #F0F0F0;
$mercury-thin: #e5e5e5;
$mercury: #e4e4e4; //Muted
$mercury-soft: #E9E9E9; //Muted soft
$dove-gray: #686868; //Gray
$dover-gray-soft: #727272;
$tundora: #494949;
/* Red group */
$bridesmaid: #fef2ee;
$burnt-sienna: #E56A3D; //Danger

/*************************
	Global color variables
*************************/
$white: $white;
$black: $black;
$primary: $blue-charcoal;
$sky: $hawkes-blue;
$blue: $blue-ribbon;
$blue-soft: $catalina-blue;
$muted: $mercury;
$muted-soft: $mercury-soft;
$gray: $dove-gray;
$gray-soft: $alto;
$danger-thin: $bridesmaid;
$danger: $burnt-sienna;

$main-color: $primary;

/*************************
	Fonts variable
*************************/
$font-base: 'Source Serif Pro';
$font-secondary: 'Source Sans Pro', sans-serif;

$font-bold: 600;

$font-icons: 'fontello';

/*************************
	Body variable
*************************/
$body-font-family: $font-base;
$body-font-size: 19px;
$body-font-size-sm: 16px;
$body-line-height: 1.3529;
$body-main-color: $main-color;


/*************************
	Links variables
*************************/
$link-color: $blue-ribbon;


/*************************
	Title variables
*************************/
$title-font-family: $font-secondary;
$title-font-weight: $font-bold;
$title-line-height: 1.38;
