<nav class="navbar navbar-toggleable-md fixed-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="neomam-icon-menu"></i>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/images/elements/site-logo.svg" class="navbar-brand__img" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto align-items-lg-center">
        <li class="nav-item mr-lg-4">
          <a class="nav-link" href="#">SERVICES</a>
        </li>
        <li class="nav-item mr-lg-4">
          <a class="nav-link" href="#">CASE STUDIES</a>
        </li>
        <li class="nav-item mr-lg-4">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item mr-lg-4">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item mb-2 mb-lg-0">
          <button class="btn btn-primary btn-sm" type="submit">Let’s Talk <i class="neomam-icon-right-1"></i></button>
        </li>
      </ul>
    </div><!--collapse-->
  </div><!--container-->
</nav>
