/* Fonts */


//ProximaNova
@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Regular.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Regular.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Bold.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Bold.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNova-Black';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Black.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Black.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Black.ttf') format('ttf');
}
