/* BUTTONS */

.btn {
  @extend .rounded-0, .text-uppercase, .font-bold;
  color: $black;
  box-shadow: 0px 0px 2px 1px rgba($black, .3);
  border: 1px solid $gray;
  background: $white;
  padding: 6px 30px;
  &:hover, &:focus {
    box-shadow: 0px 0px 2px 1px rgba($black, .3);
    color: $black;
    background: $gray;
  }
  &.btn-brand {
    @include button-variants($bg: $danger-secondary, $color: $white);
  }
  &.btn-link {
    border-color: transparent;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
