/* DROPDOWN */

.dropdown-toggle {
  &:after {
    @include media-breakpoint-up(lg) {
      content: none;
    }
  }
}

.dropdown-menu {
  @extend .m-0, .border-0, .rounded-0;
  background: rgba($black, .5);
}

.dropdown-item {
  @extend .text-uppercase, .font-medium;
  color: $white;
  font-size: 12px;
  &:hover, &:focus {
    background: none;
    color: $danger;
  }
}
