/* FORMS */

$field-border-color: $silver;
$field-bg: #d4d5d5;
$field-color: $black;
$field-size: 35px;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	@extend .rounded-0, .border-0;
	background: $field-bg;
	color: $field-color;
	font-family: $font-bold;
	height: $field-size;
	&:focus {
		box-shadow: none;
		background: darken($field-bg, 10%);
		color: $field-color;
	}
	&:hover {
		color: $field-color;
	}
}

.form-group {
	margin-bottom: 1.5rem;
}


label {
	font-family: $font-bold;
	text-transform: uppercase;
}


select.form-control {
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: right 15px center;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMjFsLTEyLTE4aDI0eiIvPjwvc3ZnPg==');
	height: $field-size !important;
	padding-right: 40px;
}

textarea.form-control {
	resize: none;
	min-height: 290px;
	@include media-breakpoint-down(sm) {
		min-height: 180px;
	}
}
