/* FORMS */

$field-border-color: $silver;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	@extend .rounded-0;
	border-color: $field-border-color;
	&:focus {
		box-shadow: none;
		border-color: $black;
	}
}
