/* GALLERY CONTENT */

.gallery-content {
  font-size: 21px;
  min-width: 0;
  width: 100%;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
  .slick-dots {
    @include media-breakpoint-down(sm) {
      bottom: 0px;
    }
  }
}
