/* Fonts icons */

//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url('#{$font-path}Icomoon/icomoon.eot?f75gad');
  src: url('#{$font-path}Icomoon/icomoon.eot?f75gad#iefix') format('embedded-opentype'),
  url('#{$font-path}Icomoon/icomoon.ttf?f75gad') format('truetype'),
  url('#{$font-path}Icomoon/icomoon.woff?f75gad') format('woff'),
  url('#{$font-path}Icomoon/icomoon.svg?f75gad#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="helix-icon-"],
[class*=" helix-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.helix-icon-rotate-cw:before {
  content: "\e923";
}

.helix-icon-check:before {
  content: "\e922";
}

.helix-icon-package:before {
  content: "\e90c";
}

.helix-icon-apple:before {
  content: "\e908";
}

.helix-icon-android:before {
  content: "\e90f";
}

.helix-icon-image:before {
  content: "\e916";
}

.helix-icon-calendar:before {
  content: "\e915";
}

.helix-icon-file-text:before {
  content: "\e919";
}

.helix-icon-close:before {
  content: "\e920";
}

.helix-icon-menu:before {
  content: "\e921";
}

.helix-icon-route:before {
  content: "\e900";
}

.helix-icon-shield-ok:before {
  content: "\e901";
}

.helix-icon-shuffle:before {
  content: "\e902";
}

.helix-icon-smartphone:before {
  content: "\e903";
}

.helix-icon-target:before {
  content: "\e904";
}

.helix-icon-wifi-off:before {
  content: "\e905";
}

.helix-icon-zap:before {
  content: "\e906";
}

.helix-icon-quote-right:before {
  content: "\e907";
}

.helix-icon-linkedin:before {
  content: "\e909";
}

.helix-icon-lock:before {
  content: "\e90a";
}

.helix-icon-minus:before {
  content: "\e90b";
}

.helix-icon-pie-chart:before {
  content: "\e90d";
}

.helix-icon-plus:before {
  content: "\e90e";
}

.helix-icon-info:before {
  content: "\e910";
}

.helix-icon-instagram:before {
  content: "\e911";
}

.helix-icon-key:before {
  content: "\e912";
}

.helix-icon-file-checked:before {
  content: "\e913";
}

.helix-icon-file-create:before {
  content: "\e914";
}

.helix-icon-circle-checked:before {
  content: "\e917";
}

.helix-icon-clock:before {
  content: "\e918";
}

.helix-icon-check-circle:before {
  content: "\e91a";
}

.helix-icon-chevron-right:before {
  content: "\e91b";
}

.helix-icon-arrow-left:before {
  content: "\e91c";
}

.helix-icon-arrow-right:before {
  content: "\e91d";
}

.helix-icon-bell:before {
  content: "\e91e";
}

.helix-icon-activity:before {
  content: "\e91f";
}