/* Fonts */
//Roboto
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url("#{$font-path}roboto/Roboto-MediumItalic.woff2") format('woff2'), url("#{$font-path}roboto/Roboto-MediumItalic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("#{$font-path}roboto/Roboto-Bold.woff2") format('woff2'), url("#{$font-path}roboto/Roboto-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url("#{$font-path}roboto/Roboto-Black.woff2") format('woff2'), url("#{$font-path}roboto/Roboto-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}