/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #0d0d0d;
$muted: #242424;
$sky: #80acd1;
$silver: #f5f5f5;
$silver500: #dfdfe8;
$silver600: #777777;
$blue: #005aab;
$blue500: #071b59;
$gray: #e8e8e8;
$gray400: #d4d4d4;
$gray500: #393939;
$green: #169600;

//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.text-muted {
	color: $muted !important;
}

.text-sky {
	color: $sky !important;
}

.text-silver {
	color: $silver !important;
}

.text-silver500 {
	color: $silver500 !important;
}

.text-silver600 {
	color: $silver600 !important;
}

.text-blue {
	color: $blue !important;
}

.text-blue500 {
	color: $blue500 !important;
}

.text-gray {
	color: $gray !important;
}

.text-gray400 {
	color: $gray400 !important;
}

.text-gray500 {
	color: $gray500 !important;
}

.text-green {
	color: $green !important;
}


.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-muted {
	background-color: $muted !important;
}

.bg-sky {
	background-color: $sky !important;
}

.bg-silver {
	background-color: $silver !important;
}

.bg-silver500 {
	background-color: $silver500 !important;
}

.bg-silver600 {
	background-color: $silver600 !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-blue500 {
	background-color: $blue500 !important;
}

.bg-gray {
	background-color: $gray !important;
}

.bg-gray400 {
	background-color: $gray400 !important;
}

.bg-gray500 {
	background-color: $gray500 !important;
}

.bg-green {
	background-color: $green !important;
}

/*************************
	Fonts variables
*************************/
$font-arial: Arial,
Helvetica,
sans-serif;

.font-arial {
	font-family: $font-arial;
}

$font-georgia: Georgia,
"Times New Roman",
Times,
serif;

.font-georgia {
	font-family: $font-georgia;
}

$font-bodoni: 'Bodoni-SvtyTwo';

.font-bodoni {
	font-family: $font-bodoni;
}

/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-arial;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-font-size-lg: 20px;
$body-line-height: 1.6;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $blue;

/*************************
	Heading variables
*************************/
$heading-font: $font-bodoni;
$heading-color: $muted;