/* BOX */

.box {
	position: relative;
	padding: 35px;
	margin-top: 25px;
	margin-bottom: 25px;
	@include respond-to(xs) {
		padding: 20px 15px;
	}
}
.box--primary {
	background: $primary;
	color: $white;
}
