/* BUTTONS */

$btn-font-family: $font-base-medium;
$btn-letter-spacig: 2px;

.btn {
  border-width: 2px;
  letter-spacing: $btn-letter-spacig;
  font-family: $btn-font-family;
  border-radius: 0;
  text-transform: uppercase;
  padding: 9px 47px 9px 47px;
  white-space: normal;
  @include respond-to(xs) {
    padding: 7px 25px 7px 25px;
    font-size: 12px;
  }
  &.btn-ghost-white {
    border-color: $white;
    background: none;
    color: $white;
    &:hover, &:focus, &.is-checked {
      color: $black;
      background: $white;
    }
  }
  &.btn-ghost-black {
    border-color: $gray-thin;
    background: none;
    color: $gray-thin;
    &:hover, &:focus, &.is-checked {
      color: $white;
      background: $gray-thin;
    }
  }
  &.btn-equal {
    padding-left: 12px;
    padding-right: 12px;;
  }
}
