/* CARD */

.card {
  position: relative;
  margin-bottom: 20px;
  @include respond-to(sm) {
    font-size: 12px;
  }
  @include respond-to(xs) {
    font-size: 14px;
  }
}
.card__img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.soundcloud-preview {
  height: 350px;
    border-radius: 2px;
    text-align: center;
    &.unloaded {
      position: relative;
cursor: pointer;
    }
}
