/* FILTER */

.filter {
  text-align: center;
  @extend .list-unstyled;
  font-size: 0;
}
.filter__item {
  display: inline-block;
  @include respond-to(xs) {
    padding: 2.5px;
  }
  &+.filter__item {
    @include respond-to(xs-min) {
      margin-left: -2px;
    }
  }
}
.filter__link {
  text-transform: uppercase;
  @extend .btn, .btn-ghost-black;
}
