/* FONTS ICONS */

@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}Fontello/fontello.eot?56978959');
  src: url('#{$font-path}Fontello/fontello.eot?56978959#iefix') format('embedded-opentype'),
       url('#{$font-path}Fontello/fontello.woff2?56978959') format('woff2'),
       url('#{$font-path}Fontello/fontello.woff?56978959') format('woff'),
       url('#{$font-path}Fontello/fontello.ttf?56978959') format('truetype'),
       url('#{$font-path}Fontello/fontello.svg?56978959#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="vator-icon-"]:before, [class*=" vator-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vator-icon-cancel:before { content: '\e801'; } /* '' */
.vator-icon-ok:before { content: '\e802'; } /* '' */
.vator-icon-play-button:before { content: '\e803'; } /* '' */
.vator-icon-twitter:before { content: '\f099'; } /* '' */
.vator-icon-menu:before { content: '\f0c9'; } /* '' */
.vator-icon-linkedin:before { content: '\f0e1'; } /* '' */
.vator-icon-angle-left:before { content: '\f104'; } /* '' */
.vator-icon-angle-right:before { content: '\f105'; } /* '' */
.vator-icon-angle-up:before { content: '\f106'; } /* '' */
.vator-icon-angle-down:before { content: '\f107'; } /* '' */
