/* FONTS */

//HelveticaNeue
@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
       url('#{$font-path}HelveticaNeue/HelveticaNeue.woff') format('woff'),
       url('#{$font-path}HelveticaNeue/HelveticaNeue.ttf') format('ttf');
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}HelveticaNeue/HelveticaNeue-Medium.woff2') format('woff2'),
       url('#{$font-path}HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
       url('#{$font-path}HelveticaNeue/HelveticaNeue-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'helvetica-neue-bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}HelveticaNeue/helvetica-neue-bold.woff2') format('woff2'),
       url('#{$font-path}HelveticaNeue/helvetica-neue-bold.woff') format('woff'),
       url('#{$font-path}HelveticaNeue/helvetica-neue-bold.ttf') format('ttf');
}

//Sabon
@font-face {
  font-family: 'SabonRoman';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}Sabon/SabonRoman.woff2') format('woff2'),
       url('#{$font-path}Sabon/SabonRoman.woff') format('woff'),
       url('#{$font-path}Sabon/SabonRoman.ttf') format('ttf');
}
