/* VARIABLES */


/*************************
	Global color variable
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Gray group */
$silver: #CCCCCC;
$teak: #AB9B68; //Link color
$mine-shaft-thin: #333333; //Main text color
$mine-shaft: #222222;
/* Blue group */
$river-bed: #434B5C;

/*************************
	Local color variable
*************************/
$primary: $river-bed;
$silver: $silver;
$gold: $teak;
$gray-thin: $mine-shaft-thin;
$gray: $mine-shaft;

/*************************
	Fonts variable
*************************/
$font-base-regular: 'HelveticaNeue';
$font-base-medium: 'HelveticaNeue-Medium';
$font-base-bold: 'helvetica-neue-bold';

$font-secondary: 'SabonRoman';

$font-third: Georgia, sans-serif;

$font-icons: 'fontello';

$font-base: $font-base-regular;

/*************************
	Body variable
*************************/
$body-font-family: $font-base;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $mine-shaft-thin;


/*************************
	Links color variable
*************************/
$link-color: $teak;


/*************************
	Title color variable
*************************/
$title-font-family: $font-secondary;
