/* HERO */

.hero {
    @extend .position-relative,
    .d-flex,
    .align-items-center,
    .text-white;
    min-height: 100vh;
    z-index: 20;

    &:before {
        content: '';
        @extend .position-absolute,
        .start-0,
        .top-0,
        .h-100,
        .w-100;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0%;
        background-color: rgba(51, 73, 73, 0.91);
        background-blend-mode: multiply;
        z-index: -1;
        background-image: url('../img/bg/hero-bg-min.png');
    }
}