/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$blue-100: #e0f1f6;
$blue-300: #1fbcee;
$blue-500: #3076ff;
$blue-600: #0168ff;
$blue-700: #23274b;
$blue-900: #0c0e22;
$yellow-100: #f6f1dc;
$yellow-500: #f4b920;
$orange-100: #fbefdf;
$orange-300: #ffcea0;
$orange-500: #f18a2b;
$orange-700: #ff9901;
$orange-900: #9e462a;
$green-100: #e7f0ea;
$green-300: #40bb2c;
$green-400: #39a958;
$green-500: #72eec9;
$green-600: #2aa250;
$green-700: #20ab2e;
$green-900: #07634d;
$gray-50: #fcfcfc;
$gray-100: #f8f9fb;
$gray-200: #e9eaee;
$gray-300: #d3d6dd;
$gray-500: #7c7f9e;
$gray-700: #6d6f87;
$red-100: #f4e9ec;
$red-300: #ff5f5f;
$red-500: #f23d5e;
$red-700: #ed315e;
$red-900: #e7186f;
$pink-100: #f1ebf8;
$pink-400: #c149df;
$pink-500: #c33df2;
$pink-600: #8e53d9;
$pink-700: #674fff;


//Override Bootstrap color variables
.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.text-blue-100 {
	color: $blue-100 !important;
}

.text-blue-300 {
	color: $blue-300 !important;
}

.text-blue-500 {
	color: $blue-500 !important;
}

.text-blue-600 {
	color: $blue-600 !important;
}

.text-blue-700 {
	color: $blue-700 !important;
}

.text-blue-900 {
	color: $blue-900 !important;
}

.text-yellow-100 {
	color: $yellow-100 !important;
}

.text-yellow-500 {
	color: $yellow-500 !important;
}

.text-orange-100 {
	color: $orange-100 !important;
}

.text-orange-300 {
	color: $orange-100 !important;
}

.text-orange-500 {
	color: $orange-500 !important;
}

.text-orange-700 {
	color: $orange-700 !important;
}

.text-orange-900 {
	color: $orange-900 !important;
}

.text-green-100 {
	color: $green-100 !important;
}

.text-green-300 {
	color: $green-300 !important;
}

.text-green-400 {
	color: $green-400 !important;
}

.text-green-500 {
	color: $green-500 !important;
}

.text-green-600 {
	color: $green-600 !important;
}

.text-green-700 {
	color: $green-700 !important;
}

.text-green-900 {
	color: $green-900 !important;
}

.text-gray-50 {
	color: $gray-50 !important;
}

.text-gray-100 {
	color: $gray-100 !important;
}

.text-gray-200 {
	color: $gray-200 !important;
}

.text-gray-300 {
	color: $gray-300 !important;
}

.text-gray-500 {
	color: $gray-500 !important;
}

.text-gray-700 {
	color: $gray-700 !important;
}

.text-red-100 {
	color: $red-100 !important;
}

.text-red-300 {
	color: $red-300 !important;
}

.text-red-500 {
	color: $red-500 !important;
}

.text-red-700 {
	color: $red-700 !important;
}

.text-red-900 {
	color: $red-900 !important;
}

.text-pink-100 {
	color: $pink-100 !important;
}

.text-pink-400 {
	color: $pink-400 !important;
}

.text-pink-500 {
	color: $pink-500 !important;
}

.text-pink-600 {
	color: $pink-600 !important;
}

.text-pink-700 {
	color: $pink-700 !important;
}

.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-blue-100 {
	background-color: $blue-100 !important;
}

.bg-blue-300 {
	background-color: $blue-300 !important;
}

.bg-blue-500 {
	background-color: $blue-500 !important;
}

.bg-blue-600 {
	background-color: $blue-600 !important;
}

.bg-blue-700 {
	background-color: $blue-700 !important;
}

.bg-blue-900 {
	background-color: $blue-900 !important;
}

.bg-yellow-100 {
	background-color: $yellow-100 !important;
}

.bg-yellow-500 {
	background-color: $yellow-500 !important;
}

.bg-orange-100 {
	background-color: $orange-100 !important;
}

.bg-orange-300 {
	background-color: $orange-300 !important;
}

.bg-orange-500 {
	background-color: $orange-500 !important;
}

.bg-orange-700 {
	background-color: $orange-700 !important;
}

.bg-orange-900 {
	background-color: $orange-900 !important;
}

.bg-green-100 {
	background-color: $green-100 !important;
}

.bg-green-300 {
	background-color: $green-300 !important;
}

.bg-green-400 {
	background-color: $green-400 !important;
}

.bg-green-500 {
	background-color: $green-500 !important;
}

.bg-green-600 {
	background-color: $green-600 !important;
}

.bg-green-700 {
	background-color: $green-700 !important;
}

.bg-green-900 {
	background-color: $green-900 !important;
}

.bg-gray-50 {
	background-color: $gray-50 !important;
}

.bg-gray-100 {
	background-color: $gray-100 !important;
}

.bg-gray-200 {
	background-color: $gray-200 !important;
}

.bg-gray-300 {
	background-color: $gray-300 !important;
}

.bg-gray-500 {
	background-color: $gray-500 !important;
}

.bg-gray-700 {
	background-color: $gray-700 !important;
}

.bg-red-100 {
	background-color: $red-100 !important;
}

.bg-red-300 {
	background-color: $red-300 !important;
}

.bg-red-500 {
	background-color: $red-500 !important;
}

.bg-red-700 {
	background-color: $red-700 !important;
}

.bg-red-900 {
	background-color: $red-900 !important;
}

.bg-pink-100 {
	background-color: $pink-100 !important;
}

.bg-pink-400 {
	background-color: $pink-400 !important;
}

.bg-pink-500 {
	background-color: $pink-500 !important;
}

.bg-pink-600 {
	background-color: $pink-600 !important;
}

.bg-pink-700 {
	background-color: $pink-700 !important;
}

/*************************
	Fonts variables
*************************/
$font-base: 'Circular-Std-Book';
$font-italic: 'Circular-Std-BookItalic';
$font-medium: 'Circular-Std-Medium';
$font-bold: 'Circular-Std-Bold';

.font-base {
	font-family: $font-base;
}

.font-italic {
	font-family: $font-italic;
}

.font-medium {
	font-family: $font-medium;
}

.font-bold {
	font-family: $font-bold;
}

$font-icons: "icomoon";

.font-icons {
	&:before {
		font-family: $font-icons;
	}
}

/*************************
	Base variables
*************************/
$base-color: $blue-700;
$base-font: $font-base;
$base-animation: 250ms;
$base-radius: 10px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 15px;
$body-line-height: 1.6;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $blue-600;
$link-color-hover: $blue-700;

/*************************
	Heading variables
*************************/
$heading-font: $font-bold;
$heading-line-height: 1.4;