/* NAVBAR */
$navbar-divider-height: 19px;
$navbar-divider-height-mobile: 10px;
$navbar-link-color: $muted;
$navbar-link-active-color: $orange-thin;

.navbar {
  @extend .position-relative;
  padding-top: calc(10px + #{$navbar-divider-height});
  padding-bottom: 10px;
  @include media-breakpoint-down(md) {
    padding-top: calc(10px + #{$navbar-divider-height-mobile});
  }

  &:before {
    content: '';
    @extend .d-block, .w-100, .position-absolute;
    background: linear-gradient(to right, $orange 36%,$orange 36%,$white 36%,$white 37%, $black 37%,$black 100%);
    height: $navbar-divider-height;
    top: 0;
    left: 0;
    z-index: 100;
    @include media-breakpoint-down(md) {
      height: $navbar-divider-height-mobile;
    }
  }

  .dropdown-menu {
    @extend .border-0, .rounded-0, .px-4;
    box-shadow: 0 3px 16px 1px rgba($black, .2);

    > a {
      @extend .d-block, .py-1, .py-md-2, .mx-md-1, .text-uppercase;
      white-space: nowrap;
      color: $navbar-link-color;
      font-family: $font-bold;

      &:not(:last-child) {
        border-bottom: 2px solid $orange;
      }
      @include media-breakpoint-up(md) {
        font-size: 15px;
      }

      &:focus,
      &:hover {
        color: $navbar-link-active-color;
      }
    }
  }
}

.navbar-brand {
  @extend .w-100, .p-0;
  max-width: 232px;
  @include media-breakpoint-up(xl) {
    margin-right: 95px;
  }
  @include media-breakpoint-down(lg) {
    max-width: 160px;
  }
  @include media-breakpoint-down(xs) {
    max-width: 120px;
  }
}

.navbar-nav {
  > li {
    @extend .position-relative;

    &:hover {
      > div {
        @include media-breakpoint-up(lg) {
          display: block;
          margin-top: -2px;
        }
      }
    }

    &.show {
      > a {
        color: $navbar-link-active-color;
      }
    }

    > a {
      @extend .text-uppercase;
      color: $navbar-link-color;
      font-family: $font-bold;
      padding: 5px 10px;
      display: inline-block;
      @include media-breakpoint-down(md) {
        padding: 7.5px 0;
      }

      &:focus,
      &:hover {
        color: $navbar-link-active-color;
      }

      &[data-toggle] {
        @extend .dropdown-toggle;
        @include media-breakpoint-up(lg) {
          &:after {
            content: none;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  color: $base-brand-color;
  @extend .border-0, .pr-0;
}