<header class="header">
  <div class="flex flex-wrap px-4 py-5 md:py-[30px] 2xl:px-[150px]">
    <a href="#" class="order-first mb-5 block w-[196px] flex-shrink-0 md:mb-0">
      <img src="img/logo.svg" alt="" class="w-full" />
    </a>

    <a
      href="#"
      class="ml-auto inline-flex h-9 w-9 items-center justify-center rounded-full bg-gray-800 transition hover:bg-gray-600 md:order-last md:h-[50px] md:w-[50px]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5"
      >
        <path
          d="M17.5525 17.5V15.8333C17.5525 14.9493 17.2013 14.1014 16.5762 13.4763C15.9511 12.8512 15.1032 12.5 14.2192 12.5H7.55251C6.66846 12.5 5.82061 12.8512 5.19549 13.4763C4.57037 14.1014 4.21918 14.9493 4.21918 15.8333V17.5"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10.8859 9.16667C12.7268 9.16667 14.2192 7.67428 14.2192 5.83333C14.2192 3.99238 12.7268 2.5 10.8859 2.5C9.04494 2.5 7.55255 3.99238 7.55255 5.83333C7.55255 7.67428 9.04494 9.16667 10.8859 9.16667Z"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>

    <nav
      class="font-heading mb-5 flex w-full grow flex-row items-start justify-center gap-5 md:mx-5 md:mb-0 md:w-auto md:justify-center md:gap-[50px] md:text-[18px]"
    >
      <a href="#" class="border-b border-b-white font-bold transition"
        >Create</a
      >
      <a
        href="#"
        class="border-b border-b-transparent transition hover:border-b-white"
        >Discover</a
      >
    </nav>
  </div>
</header>
