<section class="why-section narrow-spacing">
  <div class="box-container border-t border-b border-brand-gray-500 py-12">
    <h3 class="mb-8">Highlights</h3>

    <div class="grid grid-cols-1 items-start gap-10 md:grid-cols-2">
      <blockquote>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo ab.
      </blockquote>

      <blockquote>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo ab.
      </blockquote>
    </div>
  </div>
</section>
