<section class="values-section narrow-spacing">
  <div class="box-container">
    <h3 class="mb-8">Projects</h3>

    <div class="projects-table">
      <table>
        <thead>
          <tr>
            <th scope="col" width="200">Project</th>
            <th scope="col">Description</th>
            <th scope="col" width="200">Status</th>
            <th scope="col" width="200">Project Owner</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="#" class="project-name">24/7 monitoring</a>
            </td>
            <td>
              <p>
                Amine foaming is a nagging problem in gas/LNG plants. Undetected
                foaming incidents can lead to undue production hits ng problem
                in gas/LNG plants. Undetected foaming incidents can lead to
                undue production hits
              </p>
            </td>
            <td>Complete</td>
            <td>
              <a href="#">Jolinde Vandegraaf</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" class="project-name">24/7 monitoring</a>
            </td>
            <td>
              <p>
                Amine foaming is a nagging problem in gas/LNG plants. Undetected
                foaming incidents can lead to undue production hits ng problem
                in gas/LNG plants. Undetected foaming incidents can lead to
                undue production hits
              </p>
            </td>
            <td>Complete</td>
            <td>
              <a href="#">Jolinde Vandegraaf</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" class="project-name">24/7 monitoring</a>
            </td>
            <td>
              <p>
                Amine foaming is a nagging problem in gas/LNG plants. Undetected
                foaming incidents can lead to undue production hits ng problem
                in gas/LNG plants. Undetected foaming incidents can lead to
                undue production hits
              </p>
            </td>
            <td>Complete</td>
            <td>
              <a href="#">Jolinde Vandegraaf</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex w-full items-center justify-center">
      <button class="load-more-btn">
        <span>Load more projects</span>
        <svg
          class="loader"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="21"
          fill="none"
          viewBox="0 0 21 21"
        >
          <path
            fill="currentColor"
            d="M4.375 7.875a.875.875 0 0 1 1.497-.621L10.5 11.89l4.63-4.637a.878.878 0 1 1 1.242 1.242l-5.25 5.25a.875.875 0 0 1-1.234 0l-5.25-5.25a.875.875 0 0 1-.263-.621Z"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
