<section class="values-section narrow-spacing">
  <div class="box-container">
    <h3 class="mb-8">Values</h3>

    <div class="mt-4 grid w-full grid-cols-1 gap-7 md:grid-cols-4">
      <div class="value-block">
        <p>$904 Mln</p>
        <span>rNPV</span>
      </div>
      <div class="value-block">
        <p>$41 Mln</p>
        <span>Delivered Impact</span>
      </div>
      <div class="value-block">
        <p>1.6</p>
        <span>rCO2e</span>
      </div>
      <div class="value-block">
        <p>33</p>
        <span>Number of Projects</span>
      </div>
    </div>
  </div>
</section>
