/* VARIABLES */


/* Color variables */
// White group
$white: #ffffff;
$black: #000000;
$warning: #f2ce46;
$warning-secondary: #bf9b12;
$success: #2a8768;
$turquoise: #7be0db;
$gray: #a1a1a1;
$muted: #f7f7f7;
$silver: #e8e8e8;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-warning {
  color: $warning !important;
}
.text-warning-secondary {
  color: $warning-secondary !important;
}
.text-success {
  color: $success !important;
}
.text-turquoise {
  color: $turquoise !important;
}
.text-gray {
  color: $gray !important;
}
.text-muted {
  color: $muted !important;
}
.text-silver {
  color: $silver !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-warning-secondary {
  background-color: $warning-secondary !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-turquoise {
  background-color: $turquoise !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-silver {
  background-color: $silver !important;
}



/*************************
	Fonts variables
*************************/
$font-light: 'Montserrat-Light';
$font-semibold: 'Montserrat-SemiBold';
$font-bold: 'Montserrat-Bold';

.font-light {
  font-family: $font-light !important;
}
.font-semibold {
  font-family: $font-semibold !important;
}
.font-bold {
  font-family: $font-bold !important;
}


$font-icons: 'icomoon';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-light;
/*************************
	Font path variable
************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 19px;
$body-font-size-tablet: 16px;
$body-font-size-mobile: 14px;
$body-line-height: 1.4;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $warning;


/*************************
	Title variables
*************************/
$title-font: $font-bold;
