/* BUTTONS */

.btn {
  @extend .rounded-0, .text-uppercase, .fs-7, .text-base-semibold, .kerning-2;
  padding: 10.5px 50px;
  &.btn-danger {
    @include button-variants($bg: $danger, $color: $white)
  }
  &.btn-block {
    padding-left: 15px;
    padding-right: 15px;
  }
}
