/* GALLERY */

$slick-dot-size: 6px;
$slick-dot-bg: $muted;
$slick-active-dot-bg: $gray;

.slick-dotted.slick-slider {
  margin-bottom: 28px;
}

.slick-dots {
   @extend .d-flex, .justify-content-center, .align-items-center;
   bottom: -16px;
  >li {
    width: $slick-dot-size;
    height: $slick-dot-size;
    &.slick-active {
      >button {
        background: $slick-active-dot-bg;
      }
    }
    >button {
      background: $slick-dot-bg;
      padding: 0;
      width: $slick-dot-size;
      height: $slick-dot-size;
      border-radius: 50%;
      &:before {
        content: none;
      }
    }
  }
}
