/* PRODUCT */

.product-item {
  position: relative;
  @extend .d-block;
  margin-bottom: 20px;
  color: $brand;
  &:hover, &:focus {
    color: darken($brand, 10%);
  }
}

.product-item__image-holder {
  margin-bottom: 8px;
}

.product-item__name {
  @extend .text-base-book;
  font-size: 10px;
}
