/* PRODUCT QTY */

$product-qty-btn-size: 23px;

.product-qty {
  @extend .d-flex, .align-items-center;
  width: 70px;
  margin-bottom: 12px;
}

.product-qty__btn {
  @extend .d-flex, .align-items-center, .justify-content-center, .flex-shrink-0, .bg-gray, .text-white, .rounded-0, .p-0;
  width: $product-qty-btn-size;
  height: $product-qty-btn-size;
  font-size: 8px;
  &:hover, &:focus {
    background: darken($gray, 10%) !important;
    box-shadow: none;
  }
  &:disabled, &.disabled {
    opacity: 1;
  }
}

.product-qty__field {
  flex: 1;
  @extend .rounded-0, .border-0, .text-center, .p-0, .text-brand, .text-base-medium;
  height: $product-qty-btn-size;
}
