/* PRODUCT CART */

.product-cart-item {
  &+.product-cart-item {
    margin-top: 20px;
  }
  position: relative;
  @extend .d-block;
  color: $brand;
}

.product-cart-item__title {
  margin-bottom: 8px;
  @extend .text-base-medium;
}

.product-cart-item__remove {
  @extend .text-uppercase, .text-muted-thin, .text-base-semibold;
  font-size: 6px;
  letter-spacing: .2em;
}
