<section class="guide-holder">
  <div class="container">
    <h1>Backgrounds Colors</h1>

    <div class="styleguid-bg-box bg-white">bg-white</div>
    <div class="styleguid-bg-box bg-black">bg-black</div>
    <div class="styleguid-bg-box bg-gray-thin">bg-gray-thin</div>
    <div class="styleguid-bg-box bg-gray">bg-gray</div>
    <div class="styleguid-bg-box bg-gray-soft">bg-gray-soft</div>
    <div class="styleguid-bg-box bg-gray-bold">bg-gray-bold</div>
    <div class="styleguid-bg-box bg-muted">bg-muted</div>
    <div class="styleguid-bg-box bg-primary text-white">bg-primary</div>
    <div class="styleguid-bg-box bg-blue">bg-blue</div>
    <div class="styleguid-bg-box bg-sky">bg-sky</div>
    <div class="styleguid-bg-box bg-danger">bg-danger</div>
    <div class="styleguid-bg-box bg-warning">bg-warning</div>

  </div><!-- container -->
</section><!-- guide-holder -->
