<div class="bilboard bilboard--dark parallax" data-parallax="scroll" data-position="top" data-speed="0.2"  data-image-src="assets/images/temp/Billboard-1800x700.jpg">
  <div class="container">
    <h1 class="bilboard__title">chance <br> the rapper</h1>
    <h6 class="bilboard__subtitle">
      <a href="#bilboard-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="bilboard-collapse">
        <span class="title-has-border">about</span>
      </a>
    </h6>
  </div><!-- container -->
</div><!-- bilboard -->
<div class="collapse" id="bilboard-collapse">
  <div class="bilboard__panel">
    <div class="container container--sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div><!-- container -->
    <a href="#bilboard-collapse" data-toggle="collapse" href="#bilboard-collapse" aria-expanded="false" aria-controls="bilboard-collapse" class="btn btn-icon btn-close btn-close--floatet"><i class="wanderset-icon-up-open"></i></a>
  </div><!-- bilboard__panel -->
</div><!-- collapse -->
