<section class="guide-holder">
  <div class="container">
    <h1>Buttons</h1>

    <h2>Buttons wrapped in tag *p* just for spacing between each elements, just for example.</h2>

    <p>
      <button type="button" class="btn btn-primary">button</button>
    </p>

    <p>
      <button type="button" class="btn btn-primary btn-md">button</button>
    </p>

    <p>
      <button type="button" class="btn btn-outline-secondary btn-md">Secondary</button>
    </p>

    <p>
      <button type="button" class="btn btn-outline-secondary btn-md" disabled>Disabled</button>
    </p>

    <p>
      <button type="button" class="btn btn-link btn-md">Button text</button>
    </p>


    <div class="dropdown">
      <button class="btn dropdown-toggle dropdown-toggle--has-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        regular dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div><!-- dropdown -->

    <div class="row">
      <div class="col-sm-4">
        <p>
          <div class="dropdown dropdown--inline-block">
            <button class="btn dropdown-toggle dropdown-toggle--has-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              inline-block dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div><!-- dropdown -->
        </p>
        <p>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown without arrow
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div><!-- dropdown -->
        </p>

        <p>
          <div class="dropdown">
            <button class="btn dropdown-toggle dropdown-toggle--has-arrow" type="button" disabled id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              disabled dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div><!-- dropdown -->
        </p>


        <p>
          <div class="dropdown dropdown--has-error">
            <button class="btn dropdown-toggle dropdown-toggle--has-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              alert dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div><!-- dropdown -->
          <div class="form-control-feedback form-control-feedback--has-error">This text will be visible just when parent div has class "dropdown--has-error"</div>
        </p>

        <p>
          <div class="dropdown dropdown--link">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              title
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div><!-- dropdown -->
        </p>

        <p>
          <div class="dropdown dropdown--sm dropdown--muted">
            <button class="btn dropdown-toggle dropdown-toggle--has-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              smaller dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div><!-- dropdown -->
        </p>
      </div><!-- col -->
    </div><!-- row -->





  </div><!-- container -->
</section><!-- guide-holder -->
