<section class="guide-holder">
  <div class="container">
    <h1>Checkout</h1>

    <div class="row">
      <div class="col-md-4 col-sm-6 push-sm-down">
        <div class="checkout">
          <dl class="dl-aligned">
            <dt>subtotal</dt>
            <dd>$900</dd>

            <dt>shipping</dt>
            <dd>free</dd>

            <dt>estimated tex</dt>
            <dd>tbd</dd>

            <dt class="dt-highlighted">wandersave applied</dt>
            <dd class="dd-highlighted">-$100</dd>

            <div class="divider"></div>

            <dt>estimated total</dt>
            <dd>$825</dd>
          </dl>

          <button type="" class="btn btn-primary btn-block">checkout</button>

          <div class="divider"></div>

          <form action="">
            <div class="form-group">
              <label for="promo-code">enter promo code</label>
              <input type="text" class="form-control" placeholder="enter promo code" id="promo-code" value="">
            </div><!-- form-group -->
          </form>
        </div><!-- checkout -->
      </div><!-- col -->

      <div class="col-md-4 col-sm-6">
        <div class="checkout">
          <dl class="dl-aligned">
            <dt>subtotal</dt>
            <dd>$900</dd>

            <dt>shipping</dt>
            <dd>free</dd>

            <dt>estimated tex</dt>
            <dd>tbd</dd>

            <dt class="dt-highlighted">wandersave applied</dt>
            <dd class="dd-highlighted">-$100</dd>

            <div class="divider"></div>

            <dt>estimated total</dt>
            <dd>$825</dd>
          </dl>

          <button type="" class="btn btn-primary btn-block">checkout</button>

          <div class="divider"></div>

          <form action="">
            <div class="form-group">
              <label for="promo-code-2">enter promo code</label>
              <input type="text" class="form-control" placeholder="enter promo code" id="promo-code-2" value="">
            </div><!-- form-group -->
            <button type="" class="btn btn-blueberry btn-block">apply code</button>
          </form>
        </div><!-- checkout -->
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->
</section><!-- guide-holder -->
