<section class="guide-holder">
  <div class="container">
    <h1>Checkbox and radio</h1>

    <div class="checkbox-holder">
      <label>
        <input type="checkbox">
        <span class="label">black</span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="checkbox-holder checkbox-holder--inline">
      <label>
        <input type="checkbox">
        <span class="label"></span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="checkbox-holder checkbox-holder--inline">
      <label>
        <input type="checkbox">
        <span class="label"></span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="checkbox-holder checkbox-holder--inline">
      <label>
        <input type="checkbox">
        <span class="label"></span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="checkbox-holder checkbox-holder--inline">
      <label>
        <input type="checkbox">
        <span class="label"></span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="radio-holder">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
        <span class="label">black</span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="radio-holder radio-holder--inline">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        <span class="label"></span>
      </label>
    </div><!-- checkbox-holder -->

    <div class="radio-holder radio-holder--inline">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
        <span class="label"></span>
      </label>
    </div><!-- checkbox-holder -->
  </div><!-- container -->
</section><!-- guide-holder -->
