<section class="guide-holder">
  <div class="container">
    <h1>Goods</h1>

    <div class="goods__item">
      <a href="#" class="goods__item__link">
        <img src="assets/images/temp/product-img-1.png" class="goods__img" alt="">
      </a>
      <div class="goods__info">
        <p class="goods__info-name">Product TT</p>
        <p class="goods__info-description">Sm Caption</p>
        <p class="goods__info-price">$100</p>
      </div><!-- goods__info -->
    </div><!-- goods__item -->

  </div><!-- container -->
</section><!-- guide-holder -->
