<section class="guide-holder">
  <div class="container">
    <h1>Icons</h1>
    <ul class="list-icons">
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-facebook list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-instagram list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-pinterest list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-twitter list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-snapchat-ghost list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-heart-empty list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-heart list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link">
          <i class="wanderset-icon-email list-icons__icon"></i>
        </a>
      </li>
    </ul><!-- list-icons -->

    <ul class="list-icons">
      <li class="list-icons__item">
        <a href="#" class="list-icons__link list-icons__link--circled list-icons__link--circled--left">
          <i class="wanderset-icon-arrow-left list-icons__icon"></i>
        </a>
      </li>
      <li class="list-icons__item">
        <a href="#" class="list-icons__link list-icons__link--circled list-icons__link--circled--right">
          <i class="wanderset-icon-arrow-right list-icons__icon"></i>
        </a>
      </li>
    </ul><!-- list-social -->

    <p>
      <a href="#" class="btn btn-icon btn-close"><i class="wanderset-icon-up-open"></i></a>
    </p>

    <p class="relative" style="height: 120px;">
      Close button with position absolute
      <a href="#" class="btn btn-icon btn-close btn-close--floatet"><i class="wanderset-icon-up-open"></i></a>
    </p>

    <p>
      <a href="#" class="btn btn-icon btn-icon--arrow"><i class="wanderset-icon-down-open"></i></a>
      <a href="#" class="btn btn-icon btn-icon--arrow text-gray-soft"><i class="wanderset-icon-down-open"></i></a>
      <a href="#" class="btn btn-icon btn-icon--arrow text-danger"><i class="wanderset-icon-down-open"></i></a>
      <a href="#" class="btn btn-icon btn-icon--arrow btn-icon--has-bg"><i class="wanderset-icon-down-open"></i></a>
      <a href="#" class="btn btn-icon btn-icon--arrow"><i class="wanderset-icon-up-open"></i></a>
      <a href="#" class="btn btn-icon btn-icon--arrow btn-icon--has-bg"><i class="wanderset-icon-up-open"></i></a>
    </p>

    <p>
      <span class="btn btn-icon btn-icon--arrow"><i class="wanderset-icon-down-dir"></i></span>
      <span class="btn btn-icon btn-icon--arrow text-gray-soft"><i class="wanderset-icon-left-dir"></i></span>
      <span class="btn btn-icon btn-icon--arrow text-danger"><i class="wanderset-icon-right-dir"></i></span>
      <span class="btn btn-icon btn-icon--arrow btn-icon--has-bg"><i class="wanderset-icon-up-dir"></i></span>
      <span class="btn btn-icon btn-icon--arrow"><i class="wanderset-icon-up-dir"></i></span>
      <span class="btn btn-icon btn-icon--arrow btn-icon--has-bg"><i class="wanderset-icon-down-dir"></i></span>
    </p>

    <p>
      <a href="#" class="btn btn-icon btn-icon--arrow"><i class="wanderset-icon-left-open"></i></a>
      <a href="#" class="btn btn-icon btn-icon--arrow"><i class="wanderset-icon-right-open"></i></a>
    </p>

    <p>
      <a href="#" class="btn btn-icon"><i class="wanderset-icon-menu"></i></a>
      <a href="#" class="btn btn-icon"><i class="wanderset-icon-search"></i></a>
      <a href="#" class="btn btn-icon"><i class="wanderset-icon-bag"></i></a>
      <a href="#" class="btn btn-icon"><i class="wanderset-icon-plus"></i></a>
      <a href="#" class="btn btn-icon"><i class="wanderset-icon-minus"></i></a>
    </p>

  </div><!-- container -->
</section><!-- guide-holder -->
