<section class="guide-holder">
  <div class="container">
    <h1>Lists</h1>

    <ul class="list">
      <li class="list__item list__title">CLOTHING</li>
      <li class="list__item"><a href="#" class="list__link">COATS + JACKETS</a></li>
      <li class="list__item"><a href="#" class="list__link">JEANS</a></li>
      <li class="list__item"><a href="#" class="list__link">PANTS</a></li>
    </ul><!-- list -->

    <ul class="list">
      <li class="list__item list__title"><a class="list__link collapse-btn" data-toggle="collapse" href="#collapseExampleOne" aria-expanded="false" aria-controls="collapseExampleOne">CLOTHING</a></li>
      <div class="collapse" id="collapseExampleOne">
        <li class="list__item"><a href="#" class="list__link">COATS + JACKETS</a></li>
        <li class="list__item"><a href="#" class="list__link">JEANS</a></li>
        <li class="list__item"><a href="#" class="list__link">PANTS</a></li>
      </div>
    </ul><!-- list -->
  </div><!-- container -->
</section><!-- guide-holder -->
