<section class="guide-holder">
  <div class="container">
    <h1>Tabs</h1>

    <p>Tabs regular</p>
    <ul class="tabs" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <p>Tabs centered</p>
    <ul class="tabs tabs--centered" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <p>Tabs right</p>
    <ul class="tabs tabs--right" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <p>Tabs equal width</p>
    <ul class="tabs tabs--centered tabs--equal-width" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <p>Tabs full width</p>
    <ul class="tabs tabs--full" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <p>Tabs full width just on mobile</p>
    <ul class="tabs tabs--full-mobile" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <p>Tabs desktop regular buttons view</p>
    <ul class="tabs tabs--full tabs--desktop-btn-view" role="tablist">
      <li class="nav-item tabs__item tabs__item--btn">
        <a class="tabs__link tabs__link--btn active" data-toggle="tab" href="#home" role="tab">Filter</a>
      </li>
      <li class="nav-item tabs__item tabs__item--btn">
        <a class="tabs__link tabs__link--btn" data-toggle="tab" href="#profile" role="tab">Sort</a>
      </li>
    </ul><!-- tabs -->

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">
        <div id="accordion-test" class="accordion" role="tablist" aria-multiselectable="true">
          <div class="card accordion__item">
            <div class="accordion__header" role="tab" id="headingOne-test">
              <a data-toggle="collapse" class="accordion__title" data-parent="#accordion-test" href="#collapseOne-test" aria-expanded="true" aria-controls="collapseOne-test">
                PRODUCT DETAILS
                <i class="accordion__icon"></i>
              </a>
            </div><!-- accordion__header -->

            <div id="collapseOne-test" class="collapse  show" role="tabpanel" aria-labelledby="headingOne-test">
              <div class="accordion__body">
                <div class="form-group">
                  <div class="checkbox-holder">
                    <label>
                      <input type="checkbox">
                      <span class="label">black</span>
                    </label>
                  </div><!-- checkbox-holder -->

                  <div class="checkbox-holder">
                    <label>
                      <input type="checkbox">
                      <span class="label">all</span>
                    </label>
                  </div><!-- checkbox-holder -->

                  <div class="checkbox-holder">
                    <label>
                      <input type="checkbox">
                      <span class="label">black</span>
                    </label>
                  </div><!-- checkbox-holder -->

                  <div class="checkbox-holder">
                    <label>
                      <input type="checkbox">
                      <span class="label">all</span>
                    </label>
                  </div><!-- checkbox-holder -->

                  <div class="checkbox-holder">
                    <label>
                      <input type="checkbox">
                      <span class="label">black</span>
                    </label>
                  </div><!-- checkbox-holder -->

                  <div class="checkbox-holder">
                    <label>
                      <input type="checkbox">
                      <span class="label">all</span>
                    </label>
                  </div><!-- checkbox-holder -->
                </div><!-- form-group -->
                <div class="text-center">
                  <button type="button" class="btn btn-primary">apply</button>
                </div>
              </div><!-- accordion__body -->
            </div><!-- collapse -->
          </div><!-- accordion__item -->

          <div class="card accordion__item">
            <div class="accordion__header" role="tab" id="headingTwo-test">
              <a class="collapsed accordion__title" data-toggle="collapse" data-parent="#accordion-test" href="#collapseTwo-test" aria-expanded="false" aria-controls="collapseTwo-test">
                PRODUCT DETAILS 2
                <i class="accordion__icon"></i>
              </a>
            </div><!-- accordion__header -->

            <div id="collapseTwo-test" class="collapse" role="tabpanel" aria-labelledby="headingTwo-test">
              <div class="accordion__body">
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                </ul>
              </div><!-- accordion__body -->
            </div><!-- collapse -->
          </div><!-- accordion__item -->
        </div><!-- accordion -->
      </div><!-- tab-pane -->

      <div class="tab-pane" id="profile" role="tabpanel">
        <div class="form-group">
          <div class="radio-holder">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
              <span class="label">black</span>
            </label>
          </div><!-- checkbox-holder -->

          <div class="radio-holder">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              <span class="label">All</span>
            </label>
          </div><!-- checkbox-holder -->

          <div class="radio-holder">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
              <span class="label">Red</span>
            </label>
          </div><!-- checkbox-holder -->
        </div><!-- form-group -->

        <div class="text-center">
          <button type="button" class="btn btn-primary">apply</button>
        </div>
      </div><!-- tab-pane -->
    </div><!-- tab-content -->



    <ul class="tabs tabs--has-border tabs--has-divider tabs--centered" role="tablist">
      <li class="nav-item tabs__item">
        <a class="tabs__link active" data-toggle="tab" href="#home-1" role="tab">Home</a>
      </li>
      <li class="nav-item tabs__item">
        <a class="tabs__link" data-toggle="tab" href="#profile-1" role="tab">Profile</a>
      </li>
    </ul><!-- tabs -->

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home-1" role="tabpanel">
        11
      </div><!-- tab-pane -->

      <div class="tab-pane" id="profile-1" role="tabpanel">
        22
      </div><!-- tab-pane -->
    </div><!-- tab-content -->
  </div><!-- container -->
</section><!-- guide-holder -->
