<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <a href="#" class="footer__logo">
        <img src="assets/images/elements/logo.png" class="w-100" alt="">
      </a>

      <ul class="social-list footer__social">
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <i class="masthaven-icon-twitter"></i>
          </a>
        </li>

        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <i class="masthaven-icon-linkedin"></i>
          </a>
        </li>

        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <i class="masthaven-icon-facebook"></i>
          </a>
        </li>
      </ul>

      <ul class="footer__address">
        <li class="footer__address__item">
          P:  020 7036 2000
        </li>

        <li class="footer__address__item">
          A: 11 Soho Street, London, W1D 3AD
        </li>

        <li class="footer__address__item">
          E: <a href="mailto:info@masthaven.co.uk">info@masthaven.co.uk</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__middle">
    <div class="container">
      <ul class="footer__nav mb-1">
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">TERMS & CONDITIONS</a>
        </li>
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">ONLINE SECURITY</a>
        </li>
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">PRIVACY NOTICE</a>
        </li>
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">COOKIE POLICY</a>
        </li>
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">FAQS</a>
        </li>
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">CAREERS</a>
        </li>
        <li class="footer__nav__item">
          <a href="#" class="footer__nav__link">BROKER RESOURCES</a>
        </li>
      </ul>
      <p>©2019 Masthaven Bank Limited All Rights reserved.</p>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>Masthaven Bank Limited is a company registered in England & Wales with registration number 09660012. Registered office address 11 Soho Street, London W1D 3AD. Authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority (Register no. 719354).</p>
      <p>Your eligible deposits with Masthaven are protected up to a total of £85,000 by the Financial Services Compensation Scheme, the UKs deposit guarantee scheme. This limit is applied to the total of any deposits you have.  In the unlikely event that anything happens to Masthaven Bank Limited you won’t have to do anything. For information about the full scope of your protection, visit the FSCS website at www.fscs.org.uk.</p>
    </div>
  </div>
</footer>
