/* CHECKBOX BORDERED */

$checkbox-bordered-size: 24px;

.checkbox-bordered {
    input[type="checkbox"] {
        @extend .d-none;

        &:checked {
            &~.checkbox-bordered__label {
                @extend .font-bold,
                .text-blue-600;
                box-shadow: 0 0 0 1px $blue-600 inset;
                border-color: $blue-600;

                &:after {
                    @extend .bg-blue-600;
                    border-color: $blue-600;
                }
            }
        }
    }
}

.checkbox-bordered__label {
    cursor: pointer;
    height: $field-height;
    border-radius: $base-radius;
    border: solid 1px $field-border-color;
    @extend .bg-white,
    .d-flex,
    .align-items-center,
    .position-relative,
    .font-base,
    .text-blue-700,
    .fs-15,
    .font-icons,
    .helix-icon-check;
    padding: 8px 16px 8px 48px;

    &:before,
    &:after {
        @extend .position-absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:before {
        @extend .text-white,
        .fs-14;
        left: 21px;
        z-index: 2;
    }

    &:after {
        content: '';
        @extend .bg-white;
        left: 16px;
        width: $checkbox-bordered-size;
        height: $checkbox-bordered-size;
        border-radius: 6px;
        border: solid 1px $field-border-color;
    }
}