/* CHECKBOX */

$checkbox-size: 24px;

.checkbox {
    input[type="checkbox"] {
        @extend .d-none;

        &:checked {
            &~.checkbox__label {
                &:after {
                    @extend .bg-blue-600;
                    border-color: $blue-600;
                }
            }
        }
    }
}

.checkbox__label {
    cursor: pointer;
    height: $field-height;
    @extend .bg-white,
    .d-flex,
    .align-items-center,
    .position-relative,
    .font-base,
    .text-blue-700,
    .fs-15,
    .font-icons,
    .helix-icon-check;
    padding: 8px 16px 8px 32px;

    &:before,
    &:after {
        @extend .position-absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:before {
        @extend .text-white,
        .fs-14;
        left: 5px;
        z-index: 2;
    }

    &:after {
        content: '';
        @extend .bg-white;
        left: 0px;
        width: $checkbox-size;
        height: $checkbox-size;
        border-radius: 6px;
        border: solid 1px $field-border-color;
    }
}