/* FORMS */

$field-height: 56px;
$field-border-color: $gray-300;
$label-color: #7c849a;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: $field-height;
	border-radius: $base-radius;
	border-color: $field-border-color;
	padding-left: 20px;
	padding-right: 20px;
	@include custom-placeholder($color: $gray-300,
		$font-size: 15px,
		$font-family: $font-base);
}

label {
	@extend .font-medium,
	.fs-13;
	color: $label-color;
}

.form-group {
	@include media-breakpoint-up(md) {
		margin-bottom: 32px;
	}

	&--has-icon {
		@extend .position-relative;

		>.form-control {
			padding-right: 50px;
		}
	}
}

.form-icon {
	@extend .position-absolute,
	.text-gray-700,
	.fs-20;
	right: 16px;
	top: 20px;
	pointer-events: none;
}

textarea.form-control {
	resize: none;
	height: 104px;
}