/* ICON BOX */

$icon-box-size: 44px;

.icon-box {
    @extend .rounded-circle,
    .d-inline-flex,
    .align-items-center,
    .justify-content-center,
    .fs-22;
    width: $icon-box-size;
    height: $icon-box-size;

    &--has-shadow {
        box-shadow: 0 2px 2px 0 rgba(60, 66, 74, 0.08);
        border: 2px solid $white;
    }

    &--orange {
        @extend .bg-orange-100,
        .text-orange-700;
    }

    &--red {
        @extend .bg-red-100,
        .text-red-700;
    }

    &--green {
        @extend .bg-green-100,
        .text-green-600;
    }

    &--pink {
        @extend .bg-pink-100,
        .text-pink-600;
    }

    &--yellow {
        @extend .bg-yellow-100,
        .text-yellow-500;
    }

    &--blue {
        @extend .bg-blue-100,
        .text-blue-300;
    }
}