/* IMAGE FLOATED */

.image-floated {
    @extend .position-relative;
    z-index: 20;
    padding-top: 100px;
    margin-top: -100px;

    &:before {
        content: '';
        @extend .position-absolute,
        .w-100,
        .h-50,
        .bg-white;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 0 0 $base-radius $base-radius;
        box-shadow: 0 84px 210px 0 rgba(60, 66, 74, 0.08);
    }
}