/* LABEL */

.label {
    @extend .text-uppercase,
    .d-inline-flex,
    .font-bold,
    .fs-14;
    padding: 5.5px 15px;
    border-radius: $base-radius;
    letter-spacing: 1.4px;

    &__orange {
        @extend .bg-orange-300,
        .text-orange-900;
    }
}