/* LABEL INFO */

.label-info {
    @extend .d-inline-flex,
    .align-items-center,
    .fs-16,
    .font-bold,
    .mx-1;
    border-radius: 80px;
    box-shadow: 0 2px 2px 0 rgba(60, 66, 74, 0.08);
    padding: 2px 24px 2px 2px;
    margin-bottom: 10px;
}