/* LIST SUCCESS */

.list-success {
    &:not(:last-child) {
        @extend .mb-4;
    }
}

.list-success__item {
    @extend .position-relative,
    .font-icons,
    .helix-icon-check-circle,
    .font-bold,
    .d-block,
    .w-100;
    padding-left: 36px;

    &:before {
        @extend .position-absolute,
        .text-green-600,
        .fs-20;
        left: 0;
        top: 0;
        line-height: 1;
    }

    &+.list-success__item {
        margin-top: 12px;
    }
}