/* PRICE CARD */

.price-card {
    @extend .position-relative,
    .bg-gray-100,
    .d-flex,
    .flex-column,
    .flex-fill;

    border-radius: $base-radius;
    padding: 4px;

    &--blue {
        .price-card__extended-color {
            @extend .text-blue-600;
        }

        &:hover {
            .price-card__header {
                background-color: rgba($blue-600, .1);
            }
        }
    }

    &--most-popular {
        box-shadow: 0px 0px 0px 2px $green-400 inset;

        &:after {
            content: 'MOST POPULAR';
            @extend .position-absolute,
            .text-uppercase,
            .fs-14,
            .text-white,
            .bg-green-400,
            .font-bold;
            right: 0;
            top: 0px;
            padding: 10px 15px;
            letter-spacing: 1.4px;
            border-radius: 0 $base-radius 0 $base-radius;
        }

        .price-card__extended-color {
            @extend .text-green-400;
        }

        &:hover {
            .price-card__header {
                background-color: rgba($green-400, .1);
            }
        }
    }

    &--pink {
        .price-card__extended-color {
            @extend .text-pink-400;
        }

        &:hover {
            .price-card__header {
                background-color: rgba($pink-400, .1);
            }
        }
    }
}

.price-card__body,
.price-card__header {
    padding: 20px;
}

.price-card__header {
    background-color: $white;
    @include transition($base-animation);
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(60, 66, 74, 0.08);
    @extend .mb-md-3;
    color: $gray-700;
}

.price-card__list {
    &:not(:last-child) {
        @extend .mb-3;
    }
}

.price-card__list-item {
    @extend .d-flex,
    .align-items-center;

    &+.price-card__list-item {
        @extend .mt-2;
    }
}

.price-card__price {
    @extend .mb-1,
    .font-bold;
    font-size: 44px;
}

.price-card__title {
    @extend .fs-20,
    .font-bold,
    .mb-1;
}