/* WORK BOX */

.work-box-holder {
    @extend .position-relative;
    z-index: 10;

    &:before {
        content: '';
        @extend .position-absolute,
        .w-100,
        .h-50,
        .bg-white;
        z-index: -1;
    }
}

.work-box {
    @extend .position-relative;
    border-radius: $base-radius;
    padding: 350px 15px 48px 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/temp/box-work-mobile.png'),
        radial-gradient(circle, #25294e, #131630);
    background-position: 50% 00%;

    @include media-breakpoint-up(md) {
        padding: 520px 15px 80px 15px;
    }

    @include media-breakpoint-up(lg) {
        padding: 100px 15px;
        background-image: url('../img/temp/box-work-desktop.png'),
            radial-gradient(circle, #25294e, #131630);
        background-position: 0% 50%;
    }

    @include media-breakpoint-up(xl) {
        padding: 150px 15px;
    }
}