/* CARD RATES */

.card-rates {
  border: 8px solid $white;
  border-radius: 20px 5px 20px 5px;
  background: $white;
}
.card-rates__item {
  padding: 40px 20px;
  &:nth-child(odd) {
    background-color: rgba($black, 0.03);
  }
  &:first-child {
    border-top-left-radius: 20px;
  }
  &:last-child {
    border-bottom-right-radius: 20px;
  }
}
.card-rates__divider {
  display: block;
  width: 32px;
	height: 3px;
	background-color: rgba($primary, .2);
}
