/* CARD */

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 10px 22px 64px 0 rgba(59,144,247,0.10), 10px 22px 84px 0 rgba(0,0,0,0.10);
}
.card-block {
  @include media-breakpoint-up(md) {
    padding: 40px;
  }
}
