/* Fonts */

$font-path: '../fonts/';

//Open sans
@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Light.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Light.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-LightItalic.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-LightItalic.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-LightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Regular.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Regular.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Regular.ttf') format('ttf');

}
@font-face {
  font-family: 'OpenSans-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Italic.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Italic.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Semibold.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Semibold.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Semibold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-SemiboldItalic.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-SemiboldItalic.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-SemiboldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-Bold.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-Bold.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-BoldItalic.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-BoldItalic.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-ExtraBold.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-ExtraBold.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-ExtraBold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}openSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
       url('#{$font-path}openSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('#{$font-path}openSans/OpenSans-ExtraBoldItalic.ttf') format('ttf');
}

//Arboria
@font-face {
  font-family: 'Arboria-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}arboria/Arboria-Bold.woff2') format('woff2'),
       url('#{$font-path}arboria/Arboria-Bold.woff') format('woff'),
       url('#{$font-path}arboria/Arboria-Bold.ttf') format('ttf');
}
