/* LIST */

.list-counter {
  @extend .d-md-flex;
  counter-reset: list;
}
.list-counter__item {
  position: relative;
  &:before {
    background: red;
    content: counter(list);
    counter-increment: list;
    border-radius: 50%;
    color: $sky;
    display: inline-block;
    height: 48px;
    width: 48px;
    text-align: center;
    @extend .d-flex, .justify-content-center, .align-items-center;
    background: rgba($muted-soft, .1);
    font-size: 25px;
    font-family: $font-secondary;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  &+.list-counter__item {
    @include media-breakpoint-up(md) {
      margin-left: 35px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
  }
}

.list-status__item {
  border-radius: 4px;
  @extend .d-flex, .justify-content-between, .align-items-center;
  color: $muted;
  padding: 15px 20px;
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.active {
    box-shadow: 0 20px 24px -10px rgba(0,0,0,.08), 0 16px 24px -10px rgba(0,199,89,.2);
    background: $success;
    color: $white;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
  }
}

.list-rating__item {
  font-size: 20px;
  color: $warning;
}
