/* MIXINS */


// Placeholder text
@mixin custom-placeholder($color: $placeholder-color, $font-size: $placeholder-font-size, $font-family: $placeholder-font-style) {
  &:-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $placeholder-font-style;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $placeholder-font-style;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $placeholder-font-style;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $placeholder-font-style;
  }
}
//Placeholder opacity
@mixin custom-placeholder-opacity($opacity: $placeholder-opacity) {
  &:-moz-placeholder {
    opacity: $opacity;
  }
  &::-moz-placeholder {
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    opacity: $opacity;
  }
  &::-webkit-input-placeholder {
    opacity: $opacity;
  }
}
