/* QUOTE */

.quote {
	position: relative;
	color: rgba($primary, .8);
	@extend .ln-xl;
	&:before {
		font-family: $font-icons;
		content: '\f10d';
		position: absolute;
		font-size: 70px;
		left: -20px;
		top: 0;
		color: rgba($muted, .1);
		@include media-breakpoint-down(xs) {
			left: -10px;
		}
	}
}
