/* SECTION */

.section {
  position: relative;
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 35px 0;
  }
}

.section--waves {
  padding: 600px 0;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1200px) {
    padding: 300px 0;
  }
  @include media-breakpoint-up(md) {
    background-image: url('../images/bg/waves.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  @include media-breakpoint-down(sm) {
    background: $sky;
    padding: 50px 0;
  }
}

.section-skew {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10%;
    height: 120%;
    width: 100%;
    transform: skew(0deg, -3deg);
    z-index: -1;
  }
}
.section-skew--success {
  &:before {
    background: rgba($success, .2);
  }
}
