/* TABLE */

.table {
  >thead, >tbody {
    >tr {
      >th, >td {
        color: rgba($primary, .7);
        white-space: nowrap;
      }
    }
  }
  >thead {
    >tr {
      >th, >td {
        font-size: 14px;
        font-weight: 600;
        border: none;
        background-color: rgba(155, 178, 204, 0.07);
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
      }
    }
  }
  >tbody {
    >tr {
      &:first-child {
        >th, >td {
          border-top: none;
        }
      }
      >th, >td {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-weight: 600;
        vertical-align: middle;
        border-color: $gray;
      }
    }
  }
}

.table__indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}
.table__indicator--success-secondary {
  background: $success-secondary;
}
.table__indicator--blue-soft {
  background: $blue-soft;
}
.table__indicator--sky {
  background: $sky;
}
