/* VARIABLES */

/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
$black-perl: #061027; //Main text color
/* Blue group */
$rock-blue: #9bb2cc; //Muted color
$rock-blue-soft: #9FB1C9; //Muted soft color
$anakiwa: #94C5FF; //Sky thin color
$azure-radiance: #008FFF; //Sky color
$blue-ribbon-light: #2466f5;
$blue-ribbon: #004eff; //Blue color
$sun-juan: #274463; //Blue soft color
$dodger-blue: #1e6ff6;
/* Gray group */
$gallery: #ededed;
/* Green group */
$fountain-blue: #56C2C9; //Success secondary color
$jade: #00c759; //Success color
/* Yellow group */
$ripe-lemon: #F8E81C; //Warning color
/* Red group */
$flamingo: #f44040; //Danger color

/*************************
	Global color variables
*************************/
$primary: $black-perl;
$muted: $rock-blue;
$muted-soft: $rock-blue-soft;
$sky-thin: $anakiwa;
$sky: $azure-radiance;
$blue: $blue-ribbon;
$blue-soft: $sun-juan;
$blue-thin: $dodger-blue;
$blue-light: $blue-ribbon-light;
$gray: $gallery;
$success-secondary: $fountain-blue;
$success: $jade;
$warning: $ripe-lemon;
$danger: $flamingo;

$main-color: $black-perl;

/*************************
	Fonts variables
*************************/
$font-base-light: 'OpenSans-Light';
$font-base-lightItalic: 'OpenSans-LightItalic';
$font-base-regular: 'OpenSans-Regular';
$font-base-italic: 'OpenSans-Italic';
$font-base-semibold: 'OpenSans-Semibold';
$font-base-semiboldItalic: 'OpenSans-SemiboldItalic';
$font-base-bold: 'OpenSans-Bold';
$font-base-boldItalic: 'OpenSans-BoldItalic';
$font-base-extraBold: 'OpenSans-ExtraBold';
$font-base-extraBoldItalic: 'OpenSans-ExtraBoldItalic';

$font-secondary: 'Arboria-Bold';

$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base-regular;
$body-font-size: 16px;
$body-font-size-md: 14px;
$body-line-height: 1.6rem;
$body-main-color: $main-color;


/*************************
	Links variables
*************************/
$link-color: $blue;


/*************************
	Title variables
*************************/
$title-ff: $font-secondary;
