// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 



.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #a09c99;
  color: #fff;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 60px 20px;

  @media only screen and (max-width: 596px) {
    padding: 50px 20px;
  }
}

.header .container {
  background: transparent;
}

.color-white {
  color: #fff !important;
}

.color-gold {
  color: #eee09f !important;
}

.color-dark {
  color: #414142 !important;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.font-bold {
  font-weight: bold;
}

.header__holder {
  position: relative;
  padding-left: 65px;

  @media only screen and (max-width: 596px) {
    padding-left: 15px;
  }

  .header__image,
  .header__logo {
    position: absolute;
  }

  .header__image {
    left: -16px;
    width: 50px;
    height: 100px;
    top: 50%;
    margin-top: -50px;

    @media only screen and (max-width: 596px) {
      left: -50px;
    }
  }

  .header__logo {
    right: -16px;
    width: 120px;
    height: 58px;
    top: 50%;
    margin-top: -29px;

    @media only screen and (max-width: 596px) {
      display: none;
    }
  }
}

.header__title {
  @extend .color-white,
  .uppercase,
  .mb-0,
  .font-bold;

  @media only screen and (max-width: 596px) {
    font-size: 16px;
  }
}

.w-100 {
  width: 100% !important;
}

.bg-gray-soft {
  background: #48494b !important;
}

.bg-pink {
  background: #951c45 !important;
}

.p-1 {
  padding: 1rem !important;
}

.no-gutter {
  .columns {
    padding-bottom: 0 !important;
  }
}

.pull-right {
  float: right !important;
  max-width: 100px;
}

.pr-xl-1 {
  @media only screen and (min-width: 810px) {
    padding-right: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

th.callout-inner {
  border: none;
  background-color: #48423c;
  padding: 15px 20px;

  &.primary {
    border: none;
    background-color: #746d69;
  }
}

.panel {
  padding: 15px 20px;
  background-color: #d6d3d1;
  color: #49413c;

  &--heading {
    background-color: #746d69;
  }
}

h6 {
  font-size: 14px;
}

ol,
ul {
  padding-left: 15px;
  margin-top: 0;
}