/* FOOTER */
$footer-social-item-size: 30px;

.footer {
  @extend .fs-13;
  padding: 10px 0 30px;
  @include media-breakpoint-up(md) {
    padding: 10px 0 60px;
  }

  > .container {
    @include media-breakpoint-up(md) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.footer__nav {
  margin-bottom: 25px;
}

.footer__nav-title {
  @extend .fs-13, .m-0, .position-relative, .icon-chevron-up, .font-icons;
  color: $blue;
  @include media-breakpoint-up(md) {
    color: $muted;
  }

  &:before {
    @extend .position-absolute, .d-md-none, .text-blue;
    right: 0;
    top: 1px;
  }

  &.collapsed {
    @extend .icon-chevron-down;
  }
}

.footer__nav-collapse {
  @extend .d-md-block;
  @include media-breakpoint-up(md) {
    height: auto !important;
    transition: none !important;
  }
}

.footer__nav-list {
  @extend .pl-3, .pt-3;

  > li {
    &+li {
      @extend .mt-2;
    }
  }
}

.footer__social {
  @extend .position-relative, .d-flex, .align-items-center, .justify-content-center;
  margin-bottom: 25px;
  z-index: 20;

  &:before {
    content: '';
    @extend .position-absolute, .w-100;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $muted-thin;
    z-index: -1;
  }
}

.footer__social__item {
  @extend .d-inline-flex, .align-items-center, .justify-content-center, .rounded-circle, .text-white;
  width: $footer-social-item-size;
  height: $footer-social-item-size;

  &+.footer__social__item {
    @extend .ml-3;
  }

  &--twitter {
    background-color: #1da1f2;
  }

  &--facebook {
    background-color: #3b5998;
  }

  &--mail {
    @include themify($themes) {
      background-color: themed('themeColor');
    }
  }
}