/* HEADER */
$header-mobile-height: 51px;

.header {
  @include media-breakpoint-down(sm) {
    min-height: $header-mobile-height;
  }

  > .container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #search_field_holder_desktop {
    .search-field {
      @extend .d-flex, .flex-wrap, .justify-content-end, .m-0;
      background-color: transparent !important;
      width: 363px;
    }
  }

  #search_field_holder_mobile {
    .search-field {
      @extend .bg-crimson, .w-100, .px-3, .py-2;
      width: 100%;

      #search-form {
        @extend .position-relative, .w-100;
      }
    }
  }
}

.header__top {
  @extend .px-3, .px-md-0, .d-flex, .justify-content-center, .justify-content-md-between;
  border-bottom: 1px solid $gray-thin;
  min-height: 51px;
  position: relative;
  @include media-breakpoint-up(md) {
    border-color: $sand;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include media-breakpoint-down(sm) {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 960;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navbar-nav {
    margin-bottom: 10px;

    > .nav-item {
      &+.nav-item {
        @include media-breakpoint-up(md) {
          @include themify($themes) {
            border-color: themed('headerNavbarItemBorderColor');
          }
        }
      }

      > .nav-link {
        transition: none;
        @include themify($themes) {
          color: themed('themeColor');
        }
      }
    }
  }
}

.header__highlight {
  @extend .d-none, .d-lg-block, .position-absolute;
  left: 350px;
  top: 19px;
}

.header__logo {
  @extend .d-inline-block;
  width: 114px;
  @include media-breakpoint-up(md) {
    width: 222px;
  }
}