/* HEADER */
.header {
  @include media-breakpoint-down(sm) {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1400;
  }

  > .container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #search_field_holder_desktop {
    .search-field {
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 0;
      width: 363px;
      padding: 0 0 10px;
    }
  }

  #search_field_holder_mobile {
    .search-field {
      background-color: $red;
      width: 100%;
      padding: 8px 15px;

      #search-form {
        width: 100%;
        position: relative;

        input {
          &::placeholder {
            color: #495057;
            opacity: 0.9 !important;
            /* Firefox */
          }
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          background: transparent;
          border: none;
          color: $orange;
          padding: 0 14.5px;
          font-size: 13px;
          height: 32px;

          i {
            display: block;
          }
        }
      }
    }
  }
}

.header__top {
  @extend .py-2, .py-md-3, .px-3, .px-md-0, .position-relative, .d-flex, .justify-content-center, .justify-content-md-between;
  border-bottom: 1px solid $gray-thin;
  @include media-breakpoint-up(md) {
    border-color: $sand;
  }

  .navbar-nav {
    > .nav-item {
      &+.nav-item {
        @include media-breakpoint-up(md) {
          @include themify($themes) {
            border-color: themed('headerNavbarItemBorderColor');
          }
        }
      }

      > .nav-link {}
    }
  }
}

.header__logo {
  @extend .d-inline-block;
  width: 114px;
  @include media-breakpoint-up(md) {
    width: 222px;
  }
}