/* NAVBAR */
.navbar-collapse {
  @extend .d-md-block;
  @include media-breakpoint-down(sm) {
    position: fixed;
    left: 0;
    width: 100%;
    top: calc(#{$header-mobile-height} + 1px);
    z-index: 960;
    background-color: $white;
  }
}

.navbar-toggler {
  @extend .d-md-none, .border-0, .px-0, .position-absolute, .text-blue;
  left: 1rem;
  top: 12px;
}

.navbar {
  padding: 0 15px;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-accented-color;
  @include media-breakpoint-up(md) {
    background-color: $crimson;
    border-radius: $base-radius;
    padding: 15px;
    border: none;
  }
}

.navbar-nav {
  @extend .flex-md-row, .w-100;

  > .nav-item {
    @include media-breakpoint-down(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }

    &+.nav-item {
      @include media-breakpoint-up(md) {
        border-left: 1px solid $sand;
      }
    }

    &:not(:last-child) {
      > .nav-link {
        border-bottom: 1px solid $base-border-color;
        @include media-breakpoint-up(md) {
          border: none;
        }
      }
    }

    &:last-child {
      > .nav-link {
        @include media-breakpoint-up(md) {
          padding-right: 0;
        }
      }
    }

    > .nav-link {
      font-size: 15px;
      color: $white;
      color: $blue;
      font-family: $font-base-bold;
      padding: 10px 15px;
      @include media-breakpoint-up(md) {
        font-size: 13px;
        padding: 0 10px;
        line-height: 15px;
        color: $white;
        font-family: $font-base-regular;
      }
    }
  }
}