/* ACCORDION INFO BOX */
.accordion-info-box__toggle {
  @extend .pr-4, .text-black, .position-relative, .w-100, .text-left, .border-0, .font-icons, .icon-arrow-up, .d-flex, .align-items-center;
  background: transparent;
  font-size: 18px;
  padding: 8px;

  &:before {
    @extend .text-muted, .position-absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }

  &.collapsed {
    @extend .icon-arrow-down;
  }
}

.accordion-info-box__item {
  @extend .bg-white, .overflow-hidden;
  border-radius: $base-radius;
  box-shadow: 0 0 20px 0 rgba(187, 187, 187, 0.3);

  &+.accordion-info-box__item {
    margin-top: 16px;
  }
}

.accordion-info-box__body {
  padding: 15px;
  @extend .bg-white;
}