/* ASIDE */
$aside-width: 400px;
$aside-bg: $silver;
$aside-color: $muted;

.aside {
  background-color: $aside-bg;
  color: $aside-color;
  padding: 0 15px 24px;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    position: fixed;
    height: calc(100vh - (#{$navbar-desktop-height} + 56px));
    top: $navbar-desktop-height;
    left: 0;
    width: $aside-width;
    overflow: hidden;
  }
  @include media-breakpoint-down(sm) {
    padding: 0 15px;
  }

  &:before {
    @include media-breakpoint-up(md) {
      content: '';
    }
    @extend .position-absolute;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    height: 53px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -4%, #ffffff);
  }

  .tab-content {
    @extend .bg-white;
  }
}

.aside__header {
  @extend .d-flex, .align-items-center, .position-sticky, .w-100;
  background-color: $aside-bg;
  z-index: 30;
  padding-bottom: 8px;
  padding-top: 8px;
  top: $navbar-mobile-height;
  left: 0;
  @include media-breakpoint-up(md) {
    padding-bottom: 24px;
    padding-top: 24px;
    top: 0;
  }
}

.aside__header-logo {
  @extend .flex-shrink-0, .mr-3;
  width: 80px;
  border-radius: $base-radius;
  @include media-breakpoint-down(sm) {
    width: 40px;
  }
}

.aside__header-content {
  @extend .flex-fill, .font-icons, .icon-remove;
  min-width: 0;
  @include media-breakpoint-down(sm) {
    padding-right: 50px;
  }

  &.collapsed {
    @extend .icon-arrow-down;
  }

  &:before {
    @extend .d-md-none, .position-absolute, .text-muted;
    right: 0;
    top: 5px;
  }
}

.aside__header-title {
  @extend .fs-18, .mb-0;
  @include media-breakpoint-down(sm) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }
}

.aside-collapse {
  @include media-breakpoint-up(md) {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}

.aside-content {
  @extend .d-flex, .flex-column, .flex-fill, .bg-white;
  padding: 15px 20px;
  @include media-breakpoint-up(md) {
    padding-bottom: 55px;
  }
}

.aside__scrollble-box {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - (#{$navbar-desktop-height} + 101px + 78px + 40px));
  }
}

.aside-content__item {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -20px;
  margin-left: -20px;

  &:not(:first-child) {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(#9fabbd, .3);
  }

  .media {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .media__icon {
    width: 25px;
  }
}