/* BUTTONS */
.btn {
  @extend .font-medium;
  border-radius: $base-radius;
  border-width: 2px;
  @include media-breakpoint-up(md) {
    padding: 10px 39px;
  }

  &:focus {
    box-shadow: none;
  }

  &-outline-success {
    @include button-outline-variants($color: $primary);
  }

  &-success {
    @include button-variants($bg: $primary, $color: $white);
  }

  &-sm {
    border-width: 1px;
    padding: 4px 17px;
  }

  &-lg {
    font-size: 14px;
    padding: 7.5px 21px;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
      padding: 16.5px 31px;
    }
  }

  &-has-shadow {
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
  }
}

.btn-icon {
  @extend .d-inline-block;

  &-lg {
    transform: scale(1.3);
    @include media-breakpoint-up(md) {
      transform: scale(1.6);
    }
  }
}