/* COMMENT */
.comment {
  margin-bottom: 20px;
  display: none;
}

.comment__header {
  @extend .d-flex, .align-items-center;
  margin-bottom: 10px;
}

.comment__header-avatar {
  @extend .flex-shrink-0;
  margin-right: 15px;
  border-radius: $base-radius;
  width: 40px;
}

.comment-name {
  @extend .fs-12, .mb-0;
  color: #3c4858;
}

.comment-date {
  @extend .fs-12, .text-muted;
}

.comment-dropdown-menu {
  padding: 10px;
  overflow-y: auto;
  max-height: 140px;

  .comment {
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.btn-show-more-comments {
  @extend .font-medium, .p-0, .border-0;
  background-color: transparent;
  color: $primary;

  &:focus,
  &:hover {
    color: darken($primary, 10%);
  }
}

.comment-dropdown-toggle {
  @extend .p-0, .border-0, .shadow-none, .fs-14;
  color: $primary;

  &:focus,
  &:hover {
    color: darken($primary, 10%);
  }

  &:before {
    content: none !important;
  }
}