/* COMMENT */
.comment {
  margin-bottom: 20px;
}

.comment__header {
  @extend .d-flex, .align-items-center;
  margin-bottom: 10px;
}

.comment__header-avatar {
  @extend .flex-shrink-0;
  margin-right: 15px;
  border-radius: $base-radius;
  width: 40px;
}

.comment-name {
  @extend .fs-12, .mb-0;
  color: #3c4858;
}

.comment-date {
  @extend .fs-12, .text-muted;
}