/* DROPDOWN */
.dropdown-menu {
  border-radius: $base-radius;
  padding: 0.2rem 0;
  font-size: 14px;
}

.dropdown-item {
  color: $black;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  &:focus,
  &:hover {
    color: $primary;
    background-color: transparent;

    .dropdown-item-subtitle {
      color: $primary;
    }
  }
}

.dropdown-item-subtitle {
  color: $muted;

  &:not(:first-child) {
    @extend .ml-2;
  }
}

.dropdown {
  &.show {
    .dropdown-toggle {
      @extend .icon-arrow-up;

      &:before {
        color: $primary;
      }
    }
  }
}

.dropdown-toggle {
  @extend .pr-3, .font-icons, .position-relative, .icon-arrow-down;

  &:hover {
    &:before {
      color: $primary;
    }
  }

  &:before {
    @extend .position-absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $muted;
    font-size: 10px;
    @include transition($base-animation);
  }

  &:after {
    content: none;
  }
}