/* FILTER DESKTOP */
.filter-header {
  @extend .d-flex, .align-items-center, .justify-content-start, .justify-content-md-center;
  margin-bottom: 30px;
}

.filter-desktop {
  display: flex;
  margin-bottom: 50px;
  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }

  .bootstrap-select {
    @include media-breakpoint-up(lg) {
      max-width: 300px;
      min-width: 300px;
    }
  }
}

.filter-desktop__item-holder {
  @extend .flex-fill, .d-flex;
  @include media-breakpoint-up(lg) {
    margin-left: 20px;
  }
  @include media-breakpoint-up(xl) {
    margin-left: 30px;
  }
}

.filter-desktop__item {
  @extend .d-flex, .align-items-xl-center, .flex-column, .flex-xl-row;

  &+.filter-desktop__item {
    margin-left: 20px;
    @include media-breakpoint-up(xl) {
      margin-left: 30px;
    }
  }
}

.filter-desktop__title {
  @extend .flex-shrink-0, .text-muted, .mr-3, .mb-2, .mb-xl-0;
}