/* GEOGRAPHER */
.geographer {
  @extend .position-absolute;
  z-index: 30;
  width: 156px;
  border-radius: 8px;
  border: solid 3px $white;

  &--lg {
    @include media-breakpoint-up(xl) {
      width: 250px;

      .geographer__title {
        font-size: 20px !important;
      }

      .geographer__by {
        font-size: 16px !important;
      }
    }
  }

  &--animated {
    animation: animation-horizontal 6s ease infinite both;
    transform-origin: 50% 50%;
  }

  &:before {
    @extend .position-absolute, .d-inline-block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 10px 0 10px;
    border-color: $white transparent transparent transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }

  &__avatar {
    @extend .w-100;
    border-radius: $base-radius;
  }

  &__content {
    @extend .position-absolute, .w-100, .h-100, .text-center, .text-white, .d-flex, .align-items-center, .justify-content-end, .flex-column, .overflow-hidden;
    top: 0;
    left: 0;
    padding: 6px;
    z-index: 20;
    border-radius: 8px;

    &:after {
      content: '';
      @extend .position-absolute, .w-100, .h-100;
      top: 0;
      left: 0;
      @include gradient-y($start-color: rgba($white, .0), $end-color: rgba($black, .6), $start-percent: 0%, $end-percent: 100%);
      z-index: -1;
    }
  }

  &__title {
    @extend .mb-0, .font-medium, .fs-14;
  }

  &__by {
    @extend .fs-10;
  }

  &__by-link {
    color: $white;
    text-decoration: underline;

    &:focus,
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}
@keyframes animation-horizontal {
  // 0% {
  //   transform: translate(0,0);
  // }
  //
  // 6.97675% {
  //   transform: translate(2px,0);
  // }
  //
  // 13.95349% {
  //   transform: translate(0,0);
  // }
  //
  // 20.93023% {
  //   transform: translate(2px,0);
  // }
  //
  // 27.90698% {
  //   transform: translate(0,0);
  // }
  //
  // 34.88372% {
  //   transform: translate(2px,0);
  // }
  //
  // 41.86047% {
  //   transform: translate(0,0);
  // }
  //
  // 100% {
  //   transform: translate(0,0);
  // }
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(0.95) translateY(5px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}