/* HERO */
$gallery-bullet-size: 16px;
$gallery-bullet-mobile-size: 9px;

.hero {
  @extend .text-white;

  .slick-dots {
    @extend .d-flex, .align-items-center, .justify-content-center, .position-absolute, .w-100;
    left: 0;
    bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    > li {
      @extend .d-flex, .align-items-center, .justify-content-center, .mx-1;

      &.slick-active {
        > button {
          opacity: 0.7;
        }
      }

      > button {
        @extend .p-0, .bg-white, .rounded-circle, .border-0;
        font-size: 0;
        color: transparent;
        width: $gallery-bullet-size;
        height: $gallery-bullet-size;
        cursor: pointer;
        opacity: 0.3;
        @include media-breakpoint-down(sm) {
          width: $gallery-bullet-mobile-size;
          height: $gallery-bullet-mobile-size;
        }

        &:hover {
          opacity: 0.7;
        }

        &:before {
          content: none;
        }
      }
    }
  }
}

.hero-gallery-desktop,
.hero-gallery-mobile {
  @extend .mb-0;
}

.hero-gallery__slide {
  @extend .has-bg, .text-center, .text-md-left;
  //background-position: center bottom !important;
  z-index: 20;
  padding: 65px 0;
  @include media-breakpoint-up(md) {
    padding: 125px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 175px 0;
  }

  &--1 {
    .geographer {
      &:nth-child(1) {
        left: 0;
        top: -60px;
      }

      &:nth-child(2) {
        left: 445px;
        top: -90px;
      }

      &:nth-child(3) {
        right: -236px;
        top: -72px;
      }

      &:nth-child(4) {
        left: 230px;
        bottom: 45px;
      }

      &:nth-child(5) {
        left: 560px;
        bottom: -10px;
      }
    }
  }
}

.hero-divider {
  @extend .d-block;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 2px;
  background-color: rgba($white, .3);
}

.hero-map-holder {
  @extend .position-relative, .w-100;
}