/* LIKE COUNTER BOX */
.like-counter-box {
  @extend .my-2, .d-flex, .align-items-center;
}

.like-counter-list {
  @extend .flex-shrink-0, .d-flex, .align-items-center;
  margin-right: 8px;
}

.like-counter-list__item {
  @extend .overflow-hidden;
  width: 32px;
  height: 32px;
  border-radius: $base-radius;

  &+.like-counter-list__item {
    margin-left: 8px;
  }
}

.like-counter {
  @extend .d-flex, .align-items-center;
  color: $muted;

  &:focus,
  &:hover {
    color: darken($muted, 10%);

    .like-counter__btn {
      @extend .text-primary;
    }
  }
}

.like-counter__btn {
  @extend .flex-shrink-0, .border-0, .bg-gray, .text-muted, .flex-shrink-0, .d-inline-flex, .align-items-center;
  border-radius: $base-radius;
  height: 32px;
  padding: 4px 12px;
  margin-right: 15px;
}

.like-counter__title {
  @extend .fs-12;
}