/* NAME THE FOREST */
.name-the-forest {
  @extend .position-relative;
  @include media-breakpoint-up(lg) {
    box-shadow: 0 2px 20px 0 rgba(135, 135, 135, 0.1);
    padding: 25px;
    border: solid 1px #e4e4e4;
    border-radius: 18px;
  }

  &:after,
  &:before {
    @include media-breakpoint-up(lg) {
      content: '';
    }
    @extend .position-absolute;
    bottom: 100%;
    left: 200px;
    border: solid transparent;
    height: 0;
    width: 0;
    @include media-breakpoint-up(xl) {
      left: 245px;
    }
  }

  &:before {
    border-bottom-color: #e4e4e4;
    border-width: 13px;
    margin-left: -13px;
  }

  &:after {
    border-bottom-color: $white;
    border-width: 12px;
    margin-left: -12px;
  }
}

.name-the-forest__header {
  @include media-breakpoint-up(lg) {
    padding: 20px 20px 45px;
  }
  @include media-breakpoint-up(xl) {
    padding: 20px 85px 45px;
  }

  .list-bullet {
    color: rgba(#0b0b0b, .6);
  }
}

.name-the-forest__body {
  @extend .position-relative, .overflow-hidden;
  border-radius: 12px;

  .geographer {
    top: 50px;
    left: 50%;
    margin-left: -78px;
    @include media-breakpoint-up(xl) {
      margin-left: -125px;
    }
    @include media-breakpoint-down(xs) {
      transform: scale(.5);
      top: -20px;
    }
  }
}