/* SECTION */
.section {
  position: relative;
  padding: 45px 0;
  z-index: 20;
  @include media-breakpoint-up(lg) {
    padding: 90px 0;
  }

  &:before {
    content: attr(data-placeholder);
    @extend .position-absolute, .font-bold, .text-uppercase, .d-none, .d-md-block;
    z-index: -1;
    color: $white;
    opacity: 0.72;
    font-size: 121px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -60px;
  }

  &--mobile-pb-0 {
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }
  }

  &--mobile-pt-small {
    @include media-breakpoint-down(sm) {
      padding-top: 25px;
    }
  }
}