/* SELECTPICKER */
.bootstrap-select {
  border-radius: 24px;
  box-shadow: 0 5px 13px 0 rgba(187, 187, 187, 0.14);

  &.show,
  &:active {
    .dropdown-toggle {
      background-color: transparent !important;
      @extend .text-primary;
    }
  }

  .filter-option-inner-inner {
    @extend .text-truncate;
  }

  .dropdown-toggle {
    @extend .border-0, .d-flex, .font-regular;
    background-color: transparent;
    padding: 12px 35px 12px 15px !important;
    border-radius: 24px;

    &:active,
    &:focus,
    &:hover {
      @extend .shadow-none, .text-primary;
      background-color: transparent !important;
    }

    &:before {
      right: 15px;
      font-size: 14px;
    }
  }

  .dropdown-menu {
    @extend .border-0, .w-100, .py-1;
    border-radius: $base-radius;
    box-shadow: 0 10px 30px 0 rgba(187, 187, 187, 0.3);

    .dropdown-item {
      &.active {
        @extend .text-primary;
        background-color: transparent;
      }
    }
  }
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}