/* SOCIAL LIST */
$sicial-list-item-size: 46px;

.social-list {
  @extend .d-flex;
}

.social-list__item {
  @extend .d-flex, .align-items-center, .justify-content-center, .rounded-circle, .text-white;
  width: $sicial-list-item-size;
  height: $sicial-list-item-size;
  background-color: $muted;
  font-size: 18px;

  &:focus,
  &:hover {
    background-color: $primary;
  }
  @include media-breakpoint-down(sm) {
    background-color: $primary;
  }

  &+.social-list__item {
    margin-left: 8px;
  }
}