/* SPONSOR */
.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.sponsor {
  @extend .d-inline-block;
}

.sponsor__avatar {
  @extend .w-100;
  border-radius: $base-radius;
}