/* TAB */
$tab-item-bg: #e8ecef;

.tab {
  @extend .d-flex;
}

.tab__item {
  @extend .flex-fill, .d-flex, .align-items-center, .justify-content-center;
  background-color: $tab-item-bg;
  color: $muted;
  border-radius: $base-radius $base-radius 0 0;
  padding: 9px 10px;
  min-height: 40px;

  &:hover {
    color: $primary;
  }

  &.active {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }

  &+.tab__item {
    margin-left: 4px;
  }
}