<footer class="footer">
    <div class="container">
        <div class="row justify-content-md-between gy-5">
            <div class="col-md-8 col-xl-6 order-md-last">
                <div class="row gy-5">
                    <div class="col-sm-4">
                        <h4 class="footer-title">Company</h4>
                        <div class="footer-nav">
                            <a href="#" class="footer-nav-link">Home</a>
                            <a href="#" class="footer-nav-link">Contact us</a>
                            <a href="#" class="footer-nav-link">Blog</a>
                            <a href="#" class="footer-nav-link">Terms</a>
                            <a href="#" class="footer-nav-link">Privacy</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="footer-title">Product</h4>
                        <div class="footer-nav">
                            <a href="#" class="footer-nav-link">Pricing</a>
                            <a href="#" class="footer-nav-link">Features</a>
                            <a href="#" class="footer-nav-link">Join Community</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="footer-title">Partners</h4>
                        <div class="footer-nav">
                            <a href="#" class="footer-nav-link">Affiliate Program</a>
                            <a href="#" class="footer-nav-link">We are hiring</a>
                            <a href="#" class="footer-nav-link">Case Studies</a>
                            <a href="#" class="footer-nav-link">Resources</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <a href="#" class="footer-logo">
                    <img src="img/elements/logo.png" alt="footer-logo" class="w-100 d-none d-md-block">
                    <img src="img/elements/logo-footer.svg" alt="footer-logo" class="w-100 d-md-none">
                </a>
                <p class="mb-0">Fast, easy, and reliable loans for real<br /> estate
                    investors</p>
                <div class="footer-socials">
                    <a href="#" class="footer-social">
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="footer-social">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="footer-social">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>