<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="img/elements/logo.svg" alt="logo" class="w-100" />
		</a>

		<button
			class="navbar-toggler collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-bar navbar-toggler-bar--top"></span>
			<span class="navbar-toggler-bar navbar-toggler-bar--bottom"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-md-grow-1">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item dropdown">
					<button
						class="nav-link dropdown-toggle border-top-0 border-end-0 border-start-0 bg-transparent"
						type="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Features
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li>
							<hr class="dropdown-divider" />
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Loan Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">FAQ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About us</a>
				</li>
				<li class="nav-item ms-md-auto pe-lg-0">
					<a href="#" class="btn btn-primary btn-long font-mono-medium"
						>Apply</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
