/* NAVBAR */

.navbar {
    @extend .bg-transparent,
    .position-absolute,
    .top-0,
    .start-0,
    .w-100,
    .py-md-3;
    z-index: 90;
}

.navbar-collapse {
    &.collapsing {
        transition: none;
        display: none;
    }

    &.show {
        @extend .fixed-top,
        .bg-primary,
        .h-100,
        .overflow-auto;
        padding: 8px 12px;
    }
}

.navbar-brand {
    width: 112px;
}

.navbar-nav {
    .nav-item {
        &:not(:last-child) {
            .nav-link {
                @extend .pe-md-4;
            }
        }

        .nav-link {
            @extend .text-uppercase,
            .text-white,
            .font-extrabold,
            .ps-md-4;

            &:hover,
            &:focus,
            &:active,
            &.active {
                @extend .text-primary;
            }

            .nav-icon {
                @extend .position-relative;
                top: -2px;
                font-size: 12px;
            }
        }
    }
}

.navbar-toggler {
    @extend .border-0,
    .shadow-none,
    .text-white;
}