/* KERNING */

.kerning-1 {
  letter-spacing: .1em !important;
}
.kerning-2 {
  letter-spacing: .2em !important;
}
.kerning-3 {
  letter-spacing: .3em !important;
}
.kerning-4 {
  letter-spacing: .4em !important;
}
.kerning-5 {
  letter-spacing: .5em !important;
}
.kerning-6 {
  letter-spacing: .6em !important;
}
