/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
*************************/
$font-regular: 'Muli-Regular';

.font-regular {
	font-family: $font-regular;
}

$font-bold: 'Muli-Bold';

.font-bold {
	font-family: $font-bold;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size-desktop: 16px;
$body-font-size-mobile: 14px;
$body-line-height: 1.8;


/*************************
	Heading variables
*************************/
$heading-font-family: $font-bold;