/* NAVBAR */

$navbar-height: 75px;
$navbar-height-mobile: 66px;
$navbar-bg: $white;
$navbar-bg-mobile: $blue;
$navbar-brand-bg: $blue-bold;
$navbar-brand-width: 217px;
$navbar-brand-width-mobile: 130px;
$navbar-link-bg: $blue;
$navbar-link-color: $gray;
$navbar-link-color-mobile: $white;
$navbar-link-color-hover: darken($gray, 15%);
$navbar-link-color-hover-mobile: darken($gray, 5%);
$nav-link-avatar-img-size: 75px;

.navbar-expand-md {
  .navbar-nav {
    .nav-link {
      @include media-breakpoint-up(md) {
        padding: 0;
      }
    }
  }
  .dropdown-toggle {
    &:after {
      content: none;
    }
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .navbar-collapse {
    @include media-breakpoint-up(md) {
      display: none !important;
    }
    @include media-breakpoint-down(sm) {
      max-height: 440px;
      overflow-y: scroll;
    }
  }
}

.navbar {
  @include media-breakpoint-up(md) {
    padding: 0;
    min-height: $navbar-height;
  }
  background: $navbar-bg;
  min-height: $navbar-height-mobile;
  @include media-breakpoint-down(sm) {
    background: $navbar-bg-mobile;
  }
  .nav-link {
    color: $navbar-link-color;
    background: $navbar-link-bg;
    min-width: 75px;
    @extend .d-md-flex, .justify-content-md-center, .align-items-md-center;
    font-size: 20px;
    &:hover, &:focus {
      color: $navbar-link-color-hover;
      @include media-breakpoint-down(sm) {
        color: $navbar-link-color-hover-mobile;
      }
    }
    @include media-breakpoint-up(md) {
      min-height: $nav-link-avatar-img-size;
    }
    @include media-breakpoint-down(sm) {
      color: $navbar-link-color-mobile;
      display: flex;
      align-items: center;
    }
  }
  .nav-link--top {
    @include media-breakpoint-down(sm) {
      min-width: 38px;
      padding: 6.5px 0;
      justify-content: center;
    }
  }
  .dropdown-menu--top {
    position: absolute;
    left: auto;
    right: 0;
  }
}



.navbar-brand {
  @include media-breakpoint-up(md) {
    background: $navbar-brand-bg;
    padding: 20.5px 35px;
  }
  max-width: $navbar-brand-width;
  width: 100%;
  @include media-breakpoint-down(lg) {
    max-width: 170px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
  }
  @include media-breakpoint-down(sm) {
    max-width: $navbar-brand-width-mobile;
    padding: 10px 0;
  }
}
.navbar-brand__img {
  width: 100%;
}

.navbar-breadcrumb {
  background: none;
  border-radius: 0;
  margin-bottom: 0;
  .breadcrumb-item {
    color: $blue-bold;
    font-size: 20px;
    font-family: $font-base-light;
    &.active {
      font-size: 28px;
    }
    &:not(.active) {
      line-height: 1.8;
    }
    &+.breadcrumb-item {
      @extend .qlicket-icon-angle-right;
      &:before {
        font-family: $font-icons;
        color: $gray-light;
      }
    }
  }
}


.nav-link--avatar {
  padding: 0;
}
.nav-link-avatar-img {
  max-width: $nav-link-avatar-img-size;
  width: 100%;
  @include media-breakpoint-down(sm) {
    max-width: $nav-link-avatar-img-size / 2;
  }
}

.navbar-toggler {
  color: $white;
  right: 0;
  top: 18px;
  position: absolute;
  font-size: 22px;
}

.nav-link-icon__img {
  display: inline-block;
  max-width: 24px;
  width: 100%;
  margin-right: 10px;
  path, mask {
    fill: $white !important;
  }
  g {
    fill: $white !important;
  }
}
