/* NAVBAR */

$navbar-bg: $white;

.navbar {
  border-radius: 0;
  border: none;
  background: $navbar-bg;
  min-height: auto;
  z-index: 900;
  margin-bottom: 0;
  .navbar-nav {
    >li {
      &:hover {
        >a {
          &:before {
            opacity: 1;
          }
        }
      }
      >a {
        padding-top: 22px;
        padding-bottom: 22px;
        color: $primary;
        font-family: $font-bold;
        font-weight: bold;
        &:before {
          width: calc(100% - 30px);
          height: 2px;
          background: $primary;
          position: absolute;
          left: 15px;
          bottom: 0px;
          opacity: 0;
        }
      }
    }
  }
}

.navbar-nav {
  >li {
    &.open {
      >a {
        background: transparent;
        &:hover, &:focus {
          background: transparent;
        }
      }
    }
    >a {
      position: relative;
      &:before {
        content: '';
      }
      &:hover, &:focus {
        background: transparent;
      }
    }
  }
}

.navbar-brand {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand__img {
  max-width: 138px;
  width: 100%;
}
