/* HAS BG */
.has-overlay {
  position: relative;
  z-index: 10;

  &:before {
    content: '';
    @extend .position-absolute, .h-100, .w-100;
    left: 0;
    top: 0;
    background-color: rgba($base-brand-color, .65);
    z-index: -1;
  }

  &--white {
    &:before {
      background-color: rgba($white, .85);
    }
  }
}