<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-3">
						<h5 class="footer__title">关于 Blueair</h5>
						<ul class="list-unstyled">
							<li><a href="#" class="footer__list-item">Blueair 全球</a></li>
							<li><a href="#" class="footer__list-item">Blueair 在中国</a></li>
							<li><a href="#" class="footer__list-item">世界权威认证</a></li>
							<li><a href="#" class="footer__list-item">官方动态</a></li>
							<li><a href="#" class="footer__list-item">加入我们</a></li>
							<li><a href="#" class="footer__list-item">联系我们</a></li>
						</ul>
					</div><!--col-->

					<div class="col-xs-3">
						<h5 class="footer__title">产品及销售</h5>
						<ul class="list-unstyled">
							<li><a href="#" class="footer__list-item">空气净化机</a></li>
							<li><a href="#" class="footer__list-item">Blueair 滤网</a></li>
							<li><a href="#" class="footer__list-item">查找零售店</a></li>
							<li><a href="#" class="footer__list-item">Blueair 天猫旗舰店</a></li>
							<li><a href="#" class="footer__list-item">Blueair 京东旗舰店</a></li>
						</ul>
					</div><!--col-->

					<div class="col-xs-3">
						<h5 class="footer__title">合作伙伴</h5>
						<ul class="list-unstyled">
							<li><a href="#" class="footer__list-item">政企采购</a></li>
							<li><a href="#" class="footer__list-item">成为合作伙伴</a></li>
						</ul>
					</div><!--col-->

					<div class="col-xs-3">
						<h5 class="footer__title">客户服务支持</h5>
						<ul class="list-unstyled">
							<li><a href="#" class="footer__list-item">知识库</a></li>
							<li><a href="#" class="footer__list-item">常见问题</a></li>
							<li><a href="#" class="footer__list-item">自助服务</a></li>
							<li><a href="#" class="footer__list-item">意见反馈</a></li>
							<li><a href="#" class="footer__list-item">网站地图</a></li>
							<li><a href="#" class="footer__list-item">网站使用条款</a></li>
						</ul>
					</div><!--col-->
				</div><!--row-->
			</div><!--col-->

			<div class="col-xs-4 text-right">
				<ul class="list-unstyled list-social list-inline">
					<li class="list-social__item">
						<a href="#" class="list-social__link blueair-icon-wechat"></a>
					</li>

					<li class="list-social__item">
						<a href="#" class="list-social__link blueair-icon-weibo"></a>
					</li>

					<li class="list-social__item">
						<a href="#" class="list-social__link blueair-icon-share"></a>
					</li>
				</ul><!--list-social-->

				<p>© 2008-2015 博露雅迩(上海)商贸有限公司适用于中国客户的内容设计</p>
				<p>建议使用 Google Chrome、Internet Explorer 9、Apple Safari 6 及更高版本浏览器，以获得最佳网页浏览体验。
				沪ICP备12049900号</p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</footer><!--footer-->
