<header class="header">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">App下载</a></li>
      <li><a href="#">免费入户检测</a></li>
      <li><a href="#">购物车</a></li>
      <li><a href="#">我的帐户</a></li>
      <li><a href="#">产品注册</a></li>
      <li><a href="#">零售店</a></li>
      <li><a href="#">政企采购</a></li>
      <li><a href="#"><img src="assets/images/elements/header-icon-1.png" class="img-responsive header__icon" alt=""></a></li>
      <li><a href="#"><img src="assets/images/elements/header-icon-2.png" class="img-responsive header__icon" alt=""></a></li>
      <li class="header__language"><a href="#" class="font-secondary-light"><i class="blueair-icon-globe"></i> EN</a></li>
    </ul>
  </div><!--container-->
</header><!--header-->
