<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="assets/images/elements/logo.svg" class="navbar-brand__img" alt="">
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">了解健康空气</a></li>
      <li><a href="#">空气净化产品</a></li>
      <li><a href="#">客户服务支持</a></li>
      <li><a href="#">洁净空气知识库</a></li>
      <li><a href="#">关于 Blueair</a></li>
    </ul>
  </div><!-- /.container -->
</nav>
