<footer class="bg-white pt-[30px] pb-[35px]">
    <div class="container">
        <nav class="flex flex-wrap place-content-around mb-[25px] font-bold text-[16px] md:text-[18px]">
            <a href="https://visisoothe.com/dtc.html" class="inline-block px-[10px] py-[5px] ease-in-out duration-300 hover:text-black hover:text-[#b00002]">Get
                Started</a>
            <a href="#"
                class="inline-block px-[10px] py-[5px] ease-in-out duration-300 text-black hover:text-[#b00002]">Privacy</a>
            <a href="#"
                class="inline-block px-[10px] py-[5px] ease-in-out duration-300 text-black hover:text-[#b00002]">Terms
                and
                Conditions</a>
            <a href="#"
                class="inline-block px-[10px] py-[5px] ease-in-out duration-300 text-black hover:text-[#b00002]">Terms</a>
            <a href="#"
                class="inline-block px-[10px] py-[5px] ease-in-out duration-300 text-black hover:text-[#b00002]">References</a>
            <a href="#"
                class="inline-block px-[10px] py-[5px] ease-in-out duration-300 text-black hover:text-[#b00002]">Contact</a>
            <a href="#"
                class="inline-block px-[10px] py-[5px] ease-in-out duration-300 text-black hover:text-[#b00002]">Disclaimer</a>
        </nav>
        <p class="text-[12px] sm:text-[14px] md:text-[16px] leading-[1.8] font-normal mb-[20px] text-center">© Copyright
            visisoothe.com All
            rights reserved.</p>
        <p class="text-[12px] sm:text-[14px] md:text-[16px] leading-[1.8] font-normal mb-[25px]">Please note that the
            information
            we provide is not intended to replace consultation with a qualified medical professional. We encourage you
            to inform your physician of changes you make to your lifestyle and discuss these with him or her. For
            questions or concerns about any medical conditions you may have, please contact your doctor. Statements on
            this website have not been evaluated by the Food and Drug Administration. Products are not intended to
            diagnose, treat, cure or prevent any disease. If you are pregnant, nursing, taking medication, or have a
            medical condition, consult your physician before using our products. The website's content and the product
            for sale is based upon the author's opinion and is provided solely on an "AS IS" and "AS AVAILABLE" basis.
            You should do your own research and confirm the information with other sources when searching for
            information regarding health issues and always review the information carefully with your professional
            health care provider before using any of the protocols presented on this website and/or in the product sold
            here. Neither BuyGoods nor the author are engaged in rendering medical or similar professional services or
            advice via this website or in the product, and the information provided is not intended to replace medical
            advice offered by a physician or other licensed healthcare provider. You should not construe BuyGoods's sale
            of this product as an endorsement by BuyGoods of the views expressed herein, or any warranty or guarantee of
            any strategy, recommendation, treatment, action, or application of advice made by the author of the product.
        </p>

        <span id="disclaimer-bg"></span>
    </div>
</footer>