/* NAVBAR */

$navbar-bg: $white;

.navbar {
  @include media-breakpoint-up(lg) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @extend .align-items-md-end;
  background: $navbar-bg;
}


.navbar-brand {
  max-width: 385px;
  @include media-breakpoint-down(lg) {
    max-width: 200px;
  }
}


.navbar-nav {
  &:not(.navbar-nav--secondary) {
    .nav-item {
      .nav-link {
        color: $black;
        text-transform: uppercase;
        font-family: $font-base-semibold;
        @include media-breakpoint-up(xl) {
          font-size: 25px;
          padding: 0px 15px;
        }
        &:hover, &:focus {
          color: $orange;
        }
      }
    }
  }
}

.navbar-nav--secondary {
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 85px;
  }
  .nav-item {
    .nav-link {
      font-size: 12px;
      color: $gray;
      font-family: $font-base-semibold;
      text-transform: uppercase;
      @include media-breakpoint-up(lg) {
        padding-left: 10px;
        padding-right: 10px;
      }
      &:hover, &:focus {
        color: $orange;
      }
    }
    .nav-link__counter {
      color: $black;
    }
  }
}
