/* Fonts icons */

//Fontello
@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello/fontello.eot?15432080');
  src: url('#{$font-path}fontello/fontello.eot?15432080#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?15432080') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?15432080') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?15432080') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?15432080#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="theme-icon-"]:before, [class*=" theme-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 45px;
  position: relative;
  bottom: -1px;
  @include media-breakpoint-down(md) {
		font-size: 30px;
	}
  &:before {
    line-height: 100%;
  }
}

.theme-icon-envelope:before { content: '\e800'; } /* '' */
.theme-icon-coin-stack:before { content: '\e801'; } /* '' */
.theme-icon-delivery-truck:before { content: '\e802'; } /* '' */
.theme-icon-diamond:before { content: '\e803'; } /* '' */
.theme-icon-discuss-issue:before { content: '\e804'; } /* '' */
.theme-icon-engineer:before { content: '\e805'; } /* '' */
.theme-icon-heart-empty:before { content: '\e806'; } /* '' */
.theme-icon-hold:before { content: '\e807'; } /* '' */
.theme-icon-home:before { content: '\e808'; } /* '' */
.theme-icon-knife:before { content: '\e809'; } /* '' */
.theme-icon-left-quote:before { content: '\e80a'; } /* '' */
.theme-icon-magnifying-glass:before { content: '\e80b'; } /* '' */
.theme-icon-padlock:before { content: '\e80c'; } /* '' */
.theme-icon-phone-circle:before { content: '\e80d'; } /* '' */
.theme-icon-question-bubble:before { content: '\e80e'; } /* '' */
.theme-icon-heart:before { content: '\e80f'; } /* '' */
.theme-icon-lock:before { content: '\e810'; } /* '' */
.theme-icon-cart:before { content: '\e811'; } /* '' */
.theme-icon-star:before { content: '\e812'; } /* '' */
.theme-icon-star-empty:before { content: '\e813'; } /* '' */
.theme-icon-eye:before { content: '\e814'; } /* '' */
.theme-icon-right-quote:before { content: '\e815'; } /* '' */
.theme-icon-down-open-big:before { content: '\e816'; } /* '' */
.theme-icon-left-open-big:before { content: '\e817'; } /* '' */
.theme-icon-right-open-big:before { content: '\e818'; } /* '' */
.theme-icon-up-open-big:before { content: '\e819'; } /* '' */
.theme-icon-paperclip:before { content: '\e81a'; } /* '' */
.theme-icon-star-half-alt:before { content: '\f123'; } /* '' */
.theme-icon-cc-visa:before { content: '\f1f0'; } /* '' */
.theme-icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.theme-icon-cc-amex:before { content: '\f1f3'; } /* '' */
