/* BUTTONS */

.btn {
    font-family: $font-base-medium;
    padding: 12px 20px;

    &-primary {
        color: #152131;
        background-color: #ffbe0b;
        border-color: #ffbe0b;
        border-bottom: 2px solid #d79e00;

        &:hover,
        &:focus,
        &:active {
            color: #152131;
            background-color: #d79e00;
            border-color: #d79e00;
            border-bottom: 2px solid #d79e00;
        }
    }

    &-danger {
        color: $white;
        border-color: #ec0101;
        background-color: #ec0101;
        border-bottom: 2px solid #b90101;

        &:hover,
        &:focus,
        &:active {
            color: $white;
            border-color: #b90101;
            background-color: #b90101;
            border-bottom: 2px solid #b90101;
        }
    }

    &-outline-white {
        border-color: $white;
        color: $white;
    }

    &-large {
        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }
}