/* CTA BOX */

.cta-box {
    margin: 60px 0;

    @include media-breakpoint-up(sm) {
        margin: 100px 0;
    }

    @include media-breakpoint-up(md) {
        margin: 160px 0;
    }

    @include media-breakpoint-up(lg) {
        margin: 220px 0;
    }

    @include media-breakpoint-up(xl) {
        margin: 280px 0;
    }

    @include media-breakpoint-up(xxl) {
        margin: 360px 0;
    }
}