/* HERO LIST */

.hero-list {
    @extend .d-none,
    .d-md-flex,
    .align-items-center,
    .justify-content-center,
    .fs-14;
}

.hero-list-item {
    @extend .position-relative;

    &:first-child {
        margin-right: 30px;

        &:before {
            content: '';
            @extend .position-absolute,
            .top-50,
            .translate-middle-y,
            .rounded-circle;
            right: -15px;
            background-color: rgba($white, .5);
            width: 4px;
            height: 4px;
        }
    }
}