/* HEADER */

.header {
  padding: 42px 0;
  flex-shrink: 0;
  @include media-breakpoint-down(sm) {
    padding: 24px 0;
  }
}

.header__logo {
  @extend .d-block;
  max-width: 208px;
  @include media-breakpoint-down(sm) {
    max-width: 98px;
  }
}
