/* ACCORDION */

.accordion {
  .card {
    &+.card {
      margin-top: 5px;
    }
  }
  .card-header, .card, .card-body {
    border-radius: 0;
  }
  .accordion-heading {
    font-size: 20px;
    color: $black;
    font-weight: bold;
    position: relative;
    padding-right: 40px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}

.accoriont-alert-icon {
  max-width: 20px;
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
}
