/* BUTTONS */

.btn {
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover, &:focus, &:active {
    box-shadow: none !important;
  }
  &.btn-warning {
    @include button-variants($bg: $warning, $color: $white);
  }
  &.btn-success {
    @include button-variants($bg: $success, $color: $white);
  }
  &.btn-link {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
  &.btn-lg {
    @include media-breakpoint-up(sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 18px;
    }
  }
}
