
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	min-height: 100%;
	font-family: $body-font-family;
	color: $body-main-color;
	font-size: $body-font-size;
	line-height: $body-line-height;
}

body {
	padding-top: 25px;
	padding-bottom: 25px;
	min-height: 100vh;
	@extend .d-flex, .flex-column;
	background-attachment: fixed;
}

.body-accordion-opened {
	.navbar, .footer {
		display: none;
	}
	.content {
		padding-top: 0 !important;
	}
}

.wrapper {
	min-height: calc(100vh - 125px);
}

.content, .wrapper, .wrapper > .container {
	@extend .d-flex, .flex-column;
	flex: 1;
}

.content {
	background: $cream;
	padding-bottom: 120px;
	@extend .d-flex, .flex-column;
	@include media-breakpoint-up(md) {
		height: calc(100vh - 200px);
		overflow-y: auto;
	}
	@include media-breakpoint-down(md) {
		padding-bottom: 60px;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: $title-fw;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, .h1 {
	font-size: 30px;
}
h2, .h2 {
}
h3, .h3 {
}
h4, .h4 {
}
h5, .h5 {
}
h6, .h6 {
}

button, a {
	@include transition(250ms);
	cursor: pointer;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: darken($link-color, 10%);
		text-decoration: none;
	}
}

p {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	small {
		font-size: 14px;
	}
}

.divider {
	height: 20px;
}
