/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
*************************/
$font-regular: 'Poppins-Regular';
.font-regular {
	font-family: $font-regular !important;
}
$font-semibold: 'Poppins-SemiBold';
.font-semibold {
	font-family: $font-semibold !important;
}
$font-extrabold: 'Poppins-ExtraBold';
.font-extrabold {
	font-family: $font-extrabold !important;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size: 16px;
$body-line-height: 1.8;


/*************************
	Heading variables
*************************/
$heading-font: $font-semibold;