/* NAVBAR */

.navbar {
	@extend .position-sticky,
	.top-0,
	.start-0,
	.flex-shrink-0;
	z-index: 30;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $pink-300;
	border-bottom: 1px solid rgba($gray-500, .1);

	@include media-breakpoint-up(lg) {
		background-color: $white;
		padding-top: 28.5px;
		padding-bottom: 28.5px;
		border-bottom: none;
	}

	&--scroll {
		@include media-breakpoint-up(lg) {
			border-bottom: 1px solid rgba($gray-500, .1);
		}
	}
}

.navbar-brand {
	@extend .p-0;
	width: 146px;

	@include media-breakpoint-up(xl) {
		width: 176px;
	}
}

.navbar-toggler {
	@extend .shadow-none,
	.p-0,
	.text-dark-500,
	.position-relative,
	.rounded-0;
	width: 18px;
	height: 16px;
	border: none;

	&:before {
		@extend .position-absolute,
		.w-100,
		.bg-dark-500,
		.start-0;
		content: '';
		height: 2px;
		transform: translateY(-50%);
		@include transition($base-animation);
		top: 50%;
	}

	&:not(.collapsed) {
		&:before {
			opacity: 0;
		}
	}

	&.collapsed {
		.navbar-toggler-bar {
			&--top {
				@extend .top-0;
				transform: rotate(0);
			}

			&--bottom {
				@extend .bottom-0;
				transform: rotate(-0);
			}
		}
	}
}

.navbar-toggler-bar {
	@extend .position-absolute,
	.w-100,
	.bg-dark-500,
	.start-0;
	height: 2px;
	@include transition($base-animation);

	&--top {
		transform: rotate(45deg);
	}

	&--bottom {
		transform: rotate(-45deg);
	}
}

.navbar-nav {
	@extend .align-items-lg-center;

	@include media-breakpoint-up(xl) {
		padding-left: 35px;
		margin-left: 25px;
		border-left: 2px solid $gray-400;
	}

	@include media-breakpoint-up(xxl) {
		padding-left: 55px;
		margin-left: 35px;
		border-left: 2px solid $gray-400;
	}

	.nav-item {
		@include media-breakpoint-up(lg) {
			padding-right: 10px;
			padding-left: 10px;
		}

		@include media-breakpoint-up(xl) {
			padding-right: 17px;
			padding-left: 17px;
		}

		.nav-link {
			@extend .font-mono-medium,
			.text-dark-600,
			.p-lg-0;
			border-bottom: 1px solid transparent;

			&:hover,
			&:focus,
			&:active {
				@extend .text-primary;
			}

			&.active {
				border-block-color: currentColor;
			}
		}
	}
}