/* NAVBAR */

$navbar-bg: $muted;
$navbar-height: 70px;
$navbar-height-sm: 86px;

.navbar {
  background: $navbar-bg;
  flex-shrink: 0;
  min-height: $navbar-height-sm;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: $navbar-height;
  }
}

.navbar--secondary {
  .navbar-brand {
    @include transition(500ms);
    @include media-breakpoint-up(md) {
      transform: scale(0);
    }
  }
  &.scaleUp {
    .navbar-brand {
      @include media-breakpoint-up(md) {
        transform: scale(1);
      }
    }
  }
}

.navbar--menu-opened {
  background: $navbar-bg;
}

.navbar-brand {
  width: 92px;
}


.navbar-nav {
  position: relative;
  z-index: 50;
  .nav-item {
    .nav-link {
      text-transform: uppercase;
      color: $primary;
      font-size: 16px;
      @include media-breakpoint-up(lg) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
  .dropdown-menu {
    @include media-breakpoint-up(md) {
      top: 54px;
    }
  }
  .dropdown-item {
    text-transform: uppercase;
    font-size: 16px;
    color: $primary;
  }
  .dropdown-toggle {
    &:after {
      @include media-breakpoint-down(sm) {
        content: none;
      }
    }
  }
  .dropdown {
    &.show {
      .dropdown-toggle {
        &:after {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.navbar-toggler {
  border: none;
  padding: 0;
  font-size: 26px;
  color: $sky;
}
