/* Fonts */
//Futura
@font-face {
  font-family: 'FuturaRegular';
  src: url("#{$font-path}futura/Futura-Normal.woff2") format('woff2'), url("#{$font-path}futura/Futura-Normal.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBold';
  src: url("#{$font-path}futura/Futura-Heavy.woff2") format('woff2'), url("#{$font-path}futura/Futura-Heavy.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}