<header class="header">
  <a href="#" class="header__logo">
    <img src="assets/images/elements/logo-header.svg" alt="" class="w-100">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false">
    <i class="cannabis-icon-menu"></i>
  </button>

  <div class="d-flex flex-column align-items-center flex-lg-row header__user-box">
    <a href="#" class="btn btn-link btn-sm rounded-0">MEMBER LOGIN</a>
    <a href="#" class="btn btn-gradient btn-sm rounded-0 ml-lg-2">SIGN UP TODAY</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="header__top">
      <form action="" class="header__form my-4 my-lg-0">
        <div class="form-group mb-0 d-flex">
          <input type="text" class="form-control order-lg-2">
          <button type="submit" class="btn btn-link order-lg-1 btn-sm rounded-0">SEARCH</button>
        </div><!--form-group-->
      </form>

      <div class="d-none d-lg-flex flex-column align-items-center flex-lg-row">
        <a href="#" class="btn btn-link btn-sm rounded-0">MEMBER LOGIN</a>
        <a href="#" class="btn btn-gradient btn-sm rounded-0 ml-lg-2">SIGN UP TODAY</a>
      </div>
    </div><!--header__top-->

    <ul class="header__nav">
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">HOME</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">ABOUT US</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">SERVICES</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">WHY JOIN?</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">LATEST NEWS</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">VIEW DIRECTORY</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</header><!--header-->
