<section class="pre-footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="text-white text-uppercase mb-2">SIGN UP FOR OUR ENEWSLETTER</h3>
        <p class="text-white font-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      </div><!--col-->

      <div class="col-md-6 text-md-right relative">
        <img src="assets/images/elements/logo-pre-footer.svg" class="pre-footer__logo d-none d-md-block" alt="">
        <a href="#" class="btn btn-primary btn-lg pre-footer__cta">LOREM IPSUM</a>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-->
</section><!--pre-footer-->
