@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FranklinGothic';
    src: url("../fonts/FranklinGothic/FranklinGothic.ttf");
  }

  @font-face {
    font-family: 'AcuminRPro';
    src: url("../fonts/Acumin/Acumin-BdPro.otf");
  }

  @font-face {
    font-family: 'Gwendolyn';
    src: url("../fonts/Gwendolyn/Gwendolyn-Bold.ttf");
  }
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  }

  .text-shadow-md {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}