/* Fonts */

//ProximaNova

@font-face {
  font-family: 'ProximaNova-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Thin.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Thin.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'ProximaNova-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Light.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Light.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Light.ttf') format('ttf');  
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Regular.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Regular.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}proximanova/ProximaNova-Semibold.woff2') format('woff2'),
       url('#{$font-path}proximanova/ProximaNova-Semibold.woff') format('woff'),
       url('#{$font-path}proximanova/ProximaNova-Semibold.ttf') format('ttf');
}
