/* FOOTER */

$footer-color: $white;


.footer {
  padding: 40px 0;
  @include gradient-x-three-colors($start-color: #762906, $mid-color: #a95d18, $color-stop: 50%, $end-color: #762906);
  color: $footer-color;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
  @include media-breakpoint-down(xs) {
		text-align: center;
	}
  a {
    color: $footer-color;
    &:hover, &:focus {
      color: $muted;
    }
  }
}

.footer__logo {
  display: block;
  margin: auto;
  max-width: 220px;
}
.footer__link {
  display: inline-block;
  padding: 2px 0;
}
