/* NAVBAR */

$navbar-border-color: $black;
$nav-link-color: $muted;

.navbar {
  @include gradient-x-three-colors($start-color: #a6a6a6, $mid-color: #fafafa, $color-stop: 50%, $end-color: #a6a6a6);
  position: relative;
  border-bottom: 22px solid $navbar-border-color;
  @include media-breakpoint-down(md) {
    border-width: 4px;
  }
}


.nav-link {
  color: $nav-link-color;
  font-size: 12px;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.nav-item--logo-holder {
  width: 186px;
  position: relative;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @include media-breakpoint-down(md) {
    width: 100px;
  }
}
.nav-link--logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -40px;
  @include media-breakpoint-down(md) {
    top: -15px;
  }
}

.navbar-brand {
  width: 40px;
  @include media-breakpoint-down(xs) {
    width: 30px;
  }
}

.navbar-nav--menu {
  .nav-link {
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    @include media-breakpoint-up(md) {
      font-family: $font-secondary;
      color: $black;
    }
  }
}

.navbar-toggler {
  padding: .25rem .25rem;
  border: none;
  font-size: 1.8rem;
}
