/* Fonts */


//HelveticaNeue
@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}helveticaneue/HelveticaNeue.woff2') format('woff2'),
       url('#{$font-path}helveticaneue/HelveticaNeue.woff') format('woff'),
       url('#{$font-path}helveticaneue/HelveticaNeue.ttf') format('ttf');
}
@font-face {
  font-family: 'HelveticaNeueMedium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}helveticaneue/HelveticaNeueMedium.woff2') format('woff2'),
       url('#{$font-path}helveticaneue/HelveticaNeueMedium.woff') format('woff'),
       url('#{$font-path}helveticaneue/HelveticaNeueMedium.ttf') format('ttf');
}
@font-face {
  font-family: 'HelveticaNeueBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}helveticaneue/HelveticaNeueBold.woff2') format('woff2'),
       url('#{$font-path}helveticaneue/HelveticaNeueBold.woff') format('woff'),
       url('#{$font-path}helveticaneue/HelveticaNeueBold.ttf') format('ttf');
}

//Microextendflf
@font-face {
  font-family: 'microextendflf-bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}microextendflf/microextendflf-bold.woff2') format('woff2'),
       url('#{$font-path}microextendflf/microextendflf-bold.woff') format('woff'),
       url('#{$font-path}microextendflf/microextendflf-bold.ttf') format('ttf');
}
