/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #203039;
$sky: #e8f2f7;
$blue: #54baf3;
$blue-soft: #6fc5f5;
$silver: #fafafb;
$gray: #eeeeee;
$muted: #849198;

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-sky {
  color: $sky !important;
}

.text-blue {
  color: $blue !important;
}

.text-blue-soft {
  color: $blue-soft !important;
}

.text-silver {
  color: $silver !important;
}

.text-gray {
  color: $gray !important;
}

.text-muted {
  color: $muted !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-sky {
  background-color: $sky !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-blue-soft {
  background-color: $blue-soft !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-muted {
  background-color: $muted !important;
}
/*************************
	Fonts variables
*************************/
$font-light: 'Lato-Light';
$font-regular: 'Lato-Regular';
$font-bold: 'Lato-Bold';
$font-black: 'Lato-Black';
$font-icons: "fontello";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-primary-color: $blue;
$base-font: $font-regular;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size-desktop: 16px;
$body-font-size-mobile: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $base-primary-color;
/*************************
	Title variables
*************************/
$title-font: $font-black;