/* FOOTER */

.footer {
    padding: 20px 0;
    border-top: 2px solid $blue800;
    @extend .text-blue800,
    .font-base-semibold;
    @include media-breakpoint-up(md) {
        padding: 40px 0;
    }
}