/* HEADER MAIN */

.header-main {
    padding-top: 25px;
    padding-bottom: 25px;
    @extend .position-absolute,
    .w-100;
    top: 0;
    left: 0;
    @include media-breakpoint-up(md) {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

.header-main__logo {
    @extend .d-block;
    max-width: 148px;
}