/* CAMPAIGN */

$campaign-color: #929292;
$campaign-border-color: #eff3f3;
$campaign-border-color-inside: #e2e6e6;
$campaign-bg: $white;

.campaign-item {
  background: $campaign-bg;
  border-radius: 6px;
  border: 1px solid $campaign-border-color;
  &+.campaign-item {
    margin-top: 25px;
  }
}

.campaign-item__header {
  border-radius: 6px 6px 0 0;
  padding: 10px 15px;
}

.campaign-item__body {
  border-top: 1px solid $campaign-border-color;
}

.campaign-item__body {
  padding: 0px 15px;
}

.campaign__img {
  @extend .img-fluid;
  max-width: 100px;
  border-radius: 6px;
}

.campaign__stats {
  @extend .d-flex, .flex-column, .align-items-center;
  border-left: 1px solid $campaign-border-color;
  max-width: 160px;
  width: 100%;
  padding: 30px 15px;
  font-size: 28px;
  font-family: $font-thin;
  margin-right: -15px;
  @include media-breakpoint-down(sm) {
    max-width: 90px;
    font-size: 18px;
  }
}
.campaign__stats__qta {
  color: $sky;
  font-size: 48px;
  font-family: $font-semibold;
  line-height: 80%;
  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

.campaign-item__footer {
  border-radius: 0 0 6px 6px;
  padding: 10px 15px;
  border-top: 1px solid $campaign-border-color;
}
