/* DROPDOWN */

$dropdown-color: $sky;

.dropdown-menu {
  //border-color: $dropdown-color;
}

.dropdown-divider {
  //border-top-color: $dropdown-color;
}

.dropdown-item {
  //color: $dropdown-color;
  //&:hover, &:focus {
    //color: $white;
    //background: $dropdown-color;
  //}
}

.dropdown-toggle {
  &:after {
    font-family: $font-icons;
    content: '\f107';
    border: none;
    height: auto;
    width: auto;
    vertical-align: 0;
    margin-left: 10px;
    transform: scale(1.3);
    color: currentColor;
  }
}

.dropdown-toggle--left {
  &:before {
    font-family: $font-icons;
    content: '\f107';
    border: none;
    height: auto;
    width: auto;
    vertical-align: 0;
    margin-right: 10px;
    transform: scale(1.3);
    display: inline-block;
    color: currentColor;
  }
  &:after {
    content: none;
  }
}


.dropdown-img {
  vertical-align: text-top;
  margin-top: 1px;
}
