/* DROPDOWN */

$dropdown-color: $sky;

.show {
  .btn {
    &.btn-outline-secondary {
      @include button-outline-variants($color: #c9cdcd);
    }
  }
}

.dropdown-toggle {
  &:after {
    font-family: $font-icons;
    content: '\f107';
    border: none;
    height: auto;
    width: auto;
    vertical-align: 0;
    margin-left: 10px;
    transform: scale(1.3);
    color: currentColor;
  }
}

.dropdown-toggle--left {
  &:before {
    font-family: $font-icons;
    content: '\f107';
    border: none;
    height: auto;
    width: auto;
    vertical-align: 0;
    margin-right: 10px;
    transform: scale(1.3);
    display: inline-block;
    color: currentColor;
  }
  &:after {
    content: none;
  }
}


.dropdown-img {
  vertical-align: text-top;
  margin-top: 1px;
}

.dropdown-item {
  &:hover, &:focus, &.active {
    background: #fbfbfb;
  }
}
