/* FORMS */

$field-height: 41px;

.form-control {
	-webkit-appearance:none;
	-moz-appearance:none;
	height: $field-height;
	border-color: #edf1f1;
	color: #929292;
	&:focus {
		box-shadow: none !important;
		border-color: $orange;
	}
}


.form-group--has-select {
	position: relative;
	@extend .font-icons, .rebill-icon-angle-down;
	z-index: 10;
	&:before {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: currentColor;
		font-size: 22px;
		-webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
		z-index: -1;
	}
	>select, >select.form-control {
		padding-right: 40px;
		background: none;
	}
}
