/* SEARCH BOX */

$search-box-border-color: #e2e6e6;

.search-box {
  border: 1px solid $search-box-border-color;
  border-radius: 6px;
}

.search-box__header {
  border-radius: 6px 6px 0 0;
  background: #f6fafa;
  padding: 15px;
}

.search-box__body {
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #f2f6f6;
  padding: 15px;
}
