<footer class="footer">
  <div class="container">
    <div class="footer__item">
      <div class="row align-items-center">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <img src="assets/images/elements/footer-logo.png" class="img-fluid" alt="">
        </div><!--col-->

        <div class="col-lg-3 mb-4 mb-lg-0 d-none d-md-block text-center">
          <a href="mailto:support@scoutestate.com" class="d-inline-flex align-items-center h5 text-truncate flex-column flex-md-row"><i class="d-inline-block mb-2 mb-md-0 theme-icon-search h4 footer__icon"></i> Support@scoutestate.com</a>
        </div><!--col-->

        <div class="col-lg-3 mb-4 mb-lg-0 text-center">
          <a href="#" class="d-inline-flex align-items-center h5 text-truncate flex-column flex-md-row"><i class="d-inline-block mb-2 mb-md-0 theme-icon-paperclip h4 footer__icon"></i> Co. No. 38927884</a>
        </div><!--col-->

        <div class="col-lg-3 text-center">
          <a href="tel:+45 71 99 28 22" class="d-inline-flex align-items-center h5 text-truncate flex-column flex-md-row"><i class="d-inline-block mb-2 mb-md-0 theme-icon-phone-circle h4 footer__icon"></i> +45 71 99 28 22</a>
        </div><!--col-->
      </div><!--row-->
    </div><!--footer__item-->

    <div class="footer__item">
      <div class="row">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="text-center mb-2">
            <i class="theme-icon-magnifying-glass h4 d-inline-block mb-2"></i>
            <h5 class="font-semibold">Hvad er ScoutEstate?</h5>
          </div>
          <p class="text-justify text-last-center">ScoutEstate.com er en boligportal hvor du kan finde din nye lejebolig. ScoutEstate samler de bedste lejeboliger i Europa for dig, så du ikke selv skal bøvle med det. Ved deltagelse af denne konkurrence bliver du automatisk tegnet op på et abonnement til ScoutEstate med 2 dages prøveperiode.</p>
        </div><!--col-->

        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="text-center mb-2">
            <i class="theme-icon-coin-stack h4 d-inline-block mb-2"></i>
            <h5 class="font-semibold">Hvor meget koster det?</h5>
          </div>
          <p class="text-justify text-last-center">Det er nemt at afmelde dit abonnement, og der er ingen bindingsperiode. Efter dine 2 dages gratis prøveperiode vil du blive opkrævet abonnementets fulde pris. Prisen på medlemskabet er 298,- DKK hver fjortendes dag. De første 14 timer fra du har fået din gratis prøveperiode kan det ikke opsiges på grund af tekniske restriktioner.</p>
        </div><!--col-->

        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="text-center mb-2">
            <i class="theme-icon-home h4 d-inline-block mb-2"></i>
            <h5 class="font-semibold">Login / Fordelspakke</h5>
          </div>
          <p class="text-justify text-last-center">Når du logger ind på ScoutEstate.com (e-mail og kodeord får du per e-mail) har du fuld adgang til at søge lejeboliger og kontakte udlejere uden ekstra beregning.</p>
          <p class="text-justify text-last-center">Salgsfremmende tilbud:  29DKK konkurrence: Èn vinder vil blive udtrukket for hver 1.000 deltagende i kampagnen.</p>
        </div><!--col-->

        <div class="col-lg-3">
          <div class="text-center mb-2">
            <i class="theme-icon-question-bubble h4 d-inline-block mb-2"></i>
            <h5 class="font-semibold">Flere spørgsmål?</h5>
          </div>
          <p class="text-justify text-last-center">Hvis du har nogen spørgsmål vedr. dit abonnement, opsigelse eller andet er vores support team klar til at hjælpe dig.</p>
          <p class="text-justify text-last-center">+45 71992822<br>
          Support@scoutestate.com</p>
        </div><!--col-->
      </div><!--row-->
    </div><!--footer__item-->
  </div><!--container-->
</footer><!--footer-->
