<header class="header">
  <div class="header__top">
    <div class="container d-md-flex align-items-center">
      <ul class="nav justify-content-center justify-content-md-start">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="theme-icon-heart"></i> Glade kunder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="theme-icon-lock nav-icon-negative"></i> Sikker betaling</a>
        </li>
        <li class="nav-item d-none d-md-inline-block">
          <a class="nav-link" href="#"><i class="theme-icon-search"></i> Fordelspakke</a>
        </li>
        <li class="nav-item d-none d-md-inline-block">
          <a class="nav-link" href="#"><i class="theme-icon-delivery-truck"></i> 2 dages prøveperiode</a>
        </li>
      </ul><!--nav-->
      <a href="#" class="ml-auto d-none d-md-inline-block">
        <img src="assets/images/flags/DK.svg" class="header__flag" alt="">
      </a>
    </div><!--container-->
  </div><!--header__top-->

  <div class="header__middle" id="header-anchor">
    <div class="container d-flex align-items-center justify-content-between">
      <ul class="nav nav__card d-none d-md-flex">
        <li class="nav-item">
          <i class="theme-icon-cc-visa"></i>
        </li>
        <li class="nav-item">
          <i class="theme-icon-cc-mastercard"></i>
        </li>
        <li class="nav-item">
          <i class="theme-icon-cc-amex"></i>
        </li>
      </ul><!--nav-->

      <a href="#" class="header__logo">
        <img src="assets/images/elements/logo.png" class="w-100" alt="">
      </a>

      <a href="#" class="btn btn-outline-secondary ml-4"><i class="theme-icon-cart"></i> Kurv</a>
    </div><!--container-->
  </div><!--header__middle-->

  <nav class="header__navbar">
    <div class="container d-flex align-items-center justify-content-between">
      <ul class="nav d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#">FORSIDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BESTIL NU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OM OS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KONTAKT OS</a>
        </li>
      </ul><!--nav-->

      <ul class="nav nav__card d-md-none">
        <li class="nav-item">
          <i class="theme-icon-cc-visa"></i>
        </li>
        <li class="nav-item">
          <i class="theme-icon-cc-mastercard"></i>
        </li>
      </ul><!--nav-->

      <div class="rating">
        <span class="rating__item rating__item--full"></span>
        <span class="rating__item rating__item--full"></span>
        <span class="rating__item rating__item--full"></span>
        <span class="rating__item rating__item--full"></span>
        <span class="rating__item rating__item--half"></span>
      </div><!--rating-->
    </div><!--container-->
  </nav><!--header__navbar-->
</header><!--header-->
