<div class="modal fade" id="modal-om-os" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="theme-icon-cancel"></i>
        </button>
        <img src="assets/images/elements/scout-logo.png" alt="" class="modal__logo">
        <div class="modal__box text-center">
          <p class="modal__subtitle">The team behind ScoutEstate is passionated and works on daily basis to optimize the ease for the tenant and landlord.</p>
        </div><!--modal__box-->

        <div class="row mb-4 text-center">
          <div class="col-md-3 col-6 mb-4 mb-md-0">
            <i class="modal__icon theme-icon-chat"></i>
            <p class="modal__lead">Focus on human dialogue</p>
          </div><!--col-->

          <div class="col-md-3 col-6 mb-4 mb-md-0">
            <i class="modal__icon theme-icon-add-contact"></i>
            <p class="modal__lead">User-friendly and transparent</p>
          </div><!--col-->

          <div class="col-md-3 col-6 mb-4 mb-md-0">
            <i class="modal__icon theme-icon-diagram"></i>
            <p class="modal__lead">Rapidly weekly platform groth</p>
          </div><!--col-->

          <div class="col-md-3 col-6 mb-4 mb-md-0">
            <i class="modal__icon theme-icon-coins"></i>
            <p class="modal__lead">Save money on your new home shift</p>
          </div><!--col-->
        </div><!--row-->

        <div class="modal__box text-center">
          <a href="#" class="btn btn-outline-warning btn-block btn-md">Read more about the benefit package</a>
        </div><!--modal__box-->
      </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
