<div class="modal fade" id="modal-kontakt" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="theme-icon-cancel"></i>
        </button>
        <img src="assets/images/elements/scout-logo.png" alt="" class="modal__logo">
        <div class="modal__box text-center">
          <p class="modal__subtitle">Do you have any questions for us? Our customer support team is ready to assist you with any kind of questions and problems.</p>
        </div><!--modal__box-->
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <form action="">
              <div class="form-group">
                <input type="email" class="form-control form-control--transparent" placeholder="E-mail">
              </div><!--form-group-->

              <div class="form-group">
                <textarea name="" id="" cols="" rows="" class="form-control form-control--transparent" placeholder="Your message"></textarea>
              </div><!--form-group-->

              <button type="submit" class="btn btn-outline-warning btn-block btn-sm btn-border-double">Send</button>
            </form>
          </div><!--col-->

          <div class="col-md-6 d-flex">
            <ul class="modal__list">
              <li class="modal__list__item">
                <i class="theme-icon-avatar modal__list__icon"></i>
                <div>
                  Monday-Friday 10:00 AM to 3:00 PM
                </div>
              </li><!--modal__list__item-->

              <li class="modal__list__item">
                <i class="theme-icon-imac modal__list__icon"></i>
                <div>
                  Company number: 38927884
                </div>
              </li><!--modal__list__item-->

              <li class="modal__list__item">
                <i class="theme-icon-mail modal__list__icon"></i>
                <div>
                  <a href="mailto:Support@scoutestate.com" class="modal__list__link">Support@scoutestate.com</a>
                </div>
              </li><!--modal__list__item-->

              <li class="modal__list__item">
                <i class="theme-icon-phone-call modal__list__icon"></i>
                <a href="tel:(+45) 71 99 28 22" class="modal__list__link">(+45) 71 99 28 22</a>
              </li><!--modal__list__item-->
            </ul><!--modal__list-->
          </div><!--col-->
        </div><!--row-->
      </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
