/* BOX */

.box {
  min-height: 400px;
  @extend .d-flex, .flex-column, .justify-content-center, .align-items-center;
  text-align: center;
  @include media-breakpoint-up(xl) {
    min-height: 700px;
  }
  @include media-breakpoint-down(xs) {
    min-height: 260px;
  }
}
