/* Fonts icons */

//Fontello

@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}Fontello/fontello.eot?87720971');
  src: url('#{$font-path}Fontello/fontello.eot?87720971#iefix') format('embedded-opentype'),
       url('#{$font-path}Fontello/fontello.woff2?87720971') format('woff2'),
       url('#{$font-path}Fontello/fontello.woff?87720971') format('woff'),
       url('#{$font-path}Fontello/fontello.ttf?87720971') format('truetype'),
       url('#{$font-path}Fontello/fontello.svg?87720971#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="nsh-icon-"]:before, [class*=" nsh-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transform: scale(1.3);
}

.nsh-icon-phone:before { content: '\e800'; } /* '' */
.nsh-icon-down-dir:before { content: '\e801'; } /* '' */
.nsh-icon-up-dir:before { content: '\e802'; } /* '' */
.nsh-icon-left-dir:before { content: '\e803'; } /* '' */
.nsh-icon-right-dir:before { content: '\e804'; } /* '' */
.nsh-icon-down-open-big:before { content: '\e805'; } /* '' */
.nsh-icon-left-open-big:before { content: '\e806'; } /* '' */
.nsh-icon-right-open-big:before { content: '\e807'; } /* '' */
.nsh-icon-up-open-big:before { content: '\e808'; } /* '' */
.nsh-icon-down-open-mini:before { content: '\e809'; } /* '' */
.nsh-icon-left-open-mini:before { content: '\e80a'; } /* '' */
.nsh-icon-right-open-mini:before { content: '\e80b'; } /* '' */
.nsh-icon-up-open-mini:before { content: '\e80c'; } /* '' */
.nsh-icon-cancel:before { content: '\e80d'; } /* '' */
.nsh-icon-twitter:before { content: '\f099'; } /* '' */
.nsh-icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.nsh-icon-map-o:before { content: '\f278'; } /* '' */
