/* Fonts */

//OpenSans
@font-face {
  font-family: 'OpenSans-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
       url('#{$font-path}OpenSans/OpenSans-LightItalic.woff') format('woff'),
       url('#{$font-path}OpenSans/OpenSans-LightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}OpenSans/OpenSans-Light.woff2') format('woff2'),
       url('#{$font-path}OpenSans/OpenSans-Light.woff') format('woff'),
       url('#{$font-path}OpenSans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}OpenSans/OpenSans-Regular.woff2') format('woff2'),
       url('#{$font-path}OpenSans/OpenSans-Regular.woff') format('woff'),
       url('#{$font-path}OpenSans/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
       url('#{$font-path}OpenSans/OpenSans-SemiBold.woff') format('woff'),
       url('#{$font-path}OpenSans/OpenSans-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}OpenSans/OpenSans-Bold.woff2') format('woff2'),
       url('#{$font-path}OpenSans/OpenSans-Bold.woff') format('woff'),
       url('#{$font-path}OpenSans/OpenSans-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}OpenSans/OpenSans-ExtraBold.woff2') format('woff2'),
       url('#{$font-path}OpenSans/OpenSans-ExtraBold.woff') format('woff'),
       url('#{$font-path}OpenSans/OpenSans-ExtraBold.ttf') format('ttf');
}
