/* GALLERY */

$gallery-dot-size: 21px;
$gallery-dot-size-xs: 12px;
$gallery-dot-bg: $gold;

.gallery__content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	padding: 50px 0;
	@extend .d-flex, .flex-column, .justify-content-end;
	@include media-breakpoint-up(md) {
		padding: 115px 0;
	}
}

.slick-dots {
	bottom: 60px;
	@include media-breakpoint-down(sm) {
		bottom: 20px;
	}
	>li {
		width: $gallery-dot-size;
		height: $gallery-dot-size;
		@include media-breakpoint-down(sm) {
			height: $gallery-dot-size-xs;
			width: $gallery-dot-size-xs;
		}
		&.slick-active {
			>button {
				background: $white;
			}
		}
		>button {
			width: $gallery-dot-size;
			height: $gallery-dot-size;
			border-radius: 50%;
			background: $gallery-dot-bg;
			@include media-breakpoint-down(sm) {
				height: $gallery-dot-size-xs;
				width: $gallery-dot-size-xs;
			}
			&:before {
				content: none;
			}
		}
	}
}

.gallery-logos {
	.slick-track {
		@extend .d-flex, .align-items-center;
	}
	.slick-slide {
		padding: 0 15px;
	}
}
