/* MODAL */

.modal--lightbox {
  .modal-dialog {
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 800px;
    }
  }
}
.modal-body--no-gutter {
  padding: 0;
}
.modal-body--thumbnails {
  padding: 160px 35px 50px 35px;
}
