/* TABLE */

.table {
  font-size: 18px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
  >thead, >tbody {
    >tr {
      td, th {
        border: none;
        color: $muted;
        padding: 1.4rem .75rem;
      }
    }
  }
  >thead {
    >tr {
      td, th {
        text-transform: uppercase;
        font-family: $font-base-bold;
      }
    }
  }
}
.table-striped {
  tbody {
    tr:nth-of-type(odd) {
      background: #efefef;
    }
  }
}

.table-responsive {
  display: table;
  @include media-breakpoint-down(sm) {
    display: block;
  }
  >thead, >tbody {
    >tr {
      td, th {
        @include media-breakpoint-down(sm) {
          white-space: nowrap;
        }
      }
    }
  }
}
