/* VARIABLES */



/*************************
	Color variables
*************************/
$white: #ffffff;
$black: #2e282a;
$warning: #ef3e36;
$gold: #edb88b;
$success: #48b7c2;
$blue: #33658a;
$muted: #333333;
$gray: #686566;

.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-danger {
  color: $warning !important;
}
.text-gold {
  color: $gold !important;
}
.text-success {
  color: $success !important;
}
.text-blue {
  color: $blue !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray {
  color: $gray !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-danger {
  background-color: $warning !important;
}
.bg-gold {
  background-color: $gold !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray {
  background-color: $gray !important;
}

$base-color: $muted;


/*************************
	Fonts variables
*************************/
$font-path: '../fonts/';

$font-base-light-italic: 'OpenSans-LightItalic';
$font-base-light: 'OpenSans-Light';
$font-base-regular: 'OpenSans-Regular';
$font-base-semibold: 'OpenSans-SemiBold';
$font-base-bold: 'OpenSans-Bold';
$font-base-extrabold: 'OpenSans-ExtraBold';

.font-base-light-italic {
  font-family: $font-base-light-italic !important;
}
.font-base-light {
  font-family: $font-base-light !important;
}
.font-base-regular {
  font-family: $font-base-regular !important;
}
.font-base-semibold {
  font-family: $font-base-semibold !important;
}
.font-base-bold {
  font-family: $font-base-bold !important;
}
.font-base-extrabold {
  font-family: $font-base-extrabold !important;
}

$font-base: $font-base-regular;

$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 16px;
$body-font-size-xs: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $black;
$link-color-hover: $success;


/*************************
	Title variables
*************************/
$title-font-family: $font-base-extrabold;
$title-color: $blue;
