<div
  x-data="dashboardWatchlistListInit()"
  x-effect="() => {
    listViewInit(tabContent?.entries)
    $watch('data', () => listViewInit(tabContent?.entries))
  }"
>
  <template x-if="listViewData.length">
    <div class="flex flex-col gap-2 text-blue800 xl:gap-0">
      <div
        class="mb-1 hidden gap-6 px-2 xl:grid xl:grid-cols-[120px_1fr_1fr_1fr_160px_100px] xxl:grid-cols-[180px_1fr_1fr_1fr_160px_100px] huge:grid-cols-[240px_1fr_1fr_1fr_160px_100px] huge:gap-[70px] [&>*]:text-[12px] [&>*]:font-semibold [&>*]:uppercase [&>*]:tracking-[0.6px] [&>*]:text-[#838690]"
      >
        <p>Symbol Name</p>
        <p>Comment</p>
        <p>Price</p>
        <p>Amount</p>
        <p>total gain</p>
        <p></p>
      </div>

      <template x-for="table in listViewData" :key="table.watchlistEntryId">
        <div x-data="{ isToggled: false }" class="flex flex-col">
          <div
            class="grid gap-6 border-x border-b border-t py-4 px-2 text-[14px] font-medium xl:grid-cols-[120px_1fr_1fr_1fr_160px_100px] xl:items-center xxl:grid-cols-[180px_1fr_1fr_1fr_160px_100px] huge:grid-cols-[240px_1fr_1fr_1fr_160px_100px] huge:gap-[70px]"
            :class="isToggled ? 'bg-[#f9fafb] border-b-[#f9fafb]  border-x-[#d9d5ec] border-t-[#d9d5ec]' : 'border-b-[#d9d5ec] bg-transparent border-x-transparent  border-t-transparent'"
          >
            <div
              class="flex flex-col gap-3 sm:flex-row sm:items-start sm:justify-between"
            >
              <p
                class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
              >
                Symbol Name
              </p>
              <div class="flex min-w-0 items-center gap-3">
                <div
                  class="relative h-[36px] w-[36px] shrink-0 overflow-hidden rounded-full"
                >
                  <div
                    class="flex h-[36px] w-[36px] items-center justify-center rounded-full bg-blue500 pt-[1px] text-center text-[7px] font-bold text-white"
                    x-text="table.symbol"
                  ></div>
                  <img
                    :src="`https://storage.googleapis.com/iexcloud-hl37opg/api/logos/${table.symbol}.png`"
                    :alt="`${table.symbol}`"
                    class="absolute left-0 top-0 z-10 block h-[36px] w-[36px] bg-white"
                    onerror='this.style.display = "none"'
                  />
                </div>
                <div class="flex min-w-0 flex-col">
                  <span
                    x-text="table.symbol"
                    class="truncate text-dark500"
                  ></span>
                  <span
                    x-text="table.instrumentName"
                    class="truncate text-[9px] font-medium text-gray700"
                  ></span>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col gap-3 sm:flex-row sm:items-start sm:justify-between"
            >
              <p
                class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
              >
                Comment
              </p>
              <div x-text="table.comment"></div>
            </div>

            <div
              class="flex flex-col gap-3 sm:flex-row sm:items-start sm:justify-between"
            >
              <p
                class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
              >
                Price
              </p>
              <div x-text="table.openPrice ? '$' + table.openPrice : ''"></div>
            </div>

            <div
              class="flex flex-col gap-3 sm:flex-row sm:items-start sm:justify-between"
            >
              <p
                class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
              >
                Amount
              </p>
              <div x-text="table.amount"></div>
            </div>

            <div
              class="flex flex-col gap-3 sm:flex-row sm:items-start sm:justify-between"
            >
              <p
                class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
              >
                total gain
              </p>
              <div>
                <div class="flex items-center space-x-6">
                  <div class="text-[14px] font-medium">
                    <span
                      class="text-black"
                      x-text="'$' + table.priceCurrent"
                      x-show="table.priceCurrent === 0"
                    ></span>
                    <span
                      class="text-red500"
                      x-text="'-$' + table.priceCurrent"
                      x-show="table.priceCurrent < 0"
                    ></span>
                    <span
                      class="text-green500"
                      x-text="'+$' + table.priceCurrent"
                      x-show="table.priceCurrent > 0"
                    ></span>
                  </div>

                  <div
                    class="text-[14px] font-medium [&>*]:rounded-[8px] [&>*]:px-[13px] [&>*]:py-[8px]"
                  >
                    <span
                      class="text-black"
                      x-text="table.priceChange + '%'"
                      x-show="table.pricePercentChange === 0"
                    ></span>
                    <span
                      class="bg-red300 text-red500"
                      x-text="table.priceChange + '%'"
                      x-show="table.pricePercentChange < 0"
                    ></span>
                    <span
                      class="bg-green300 text-green500"
                      x-text="'+' + table.priceChange + '%'"
                      x-show="table.pricePercentChange > 0"
                    ></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex items-start justify-between gap-3">
              <p
                class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
              >
                Action
              </p>
              <div>
                <div class="flex items-center justify-end space-x-4">
                  <button
                    class="inline-flex items-center rounded px-1 text-gray700"
                    @click="isToggled = ! isToggled"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        x-show="!isToggled"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19 9l-7 7-7-7"
                      />
                      <path
                        x-show="isToggled"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5 15l7-7 7 7"
                      />
                    </svg>
                  </button>

                  <div x-data="{ open: false }" class="relative flex">
                    <div
                      x-show="open"
                      @click.away="open = false"
                      x-transition:enter="transition-all duration-200 ease-out"
                      x-transition:enter-start="transform opacity-0 scale-95"
                      x-transition:enter-end="transform opacity-100 scale-100"
                      x-transition:leave="transition-all duration-200 ease-in"
                      x-transition:leave-start="transform opacity-100 scale-100"
                      x-transition:leave-end="transform opacity-0 scale-95"
                      :class="open ? '' : 'hidden'"
                      class="absolute top-full right-0 z-50 grid min-w-[12rem] origin-top-left gap-2 space-y-1 rounded-[4px] bg-white px-4 py-3 text-base shadow-[0_5px_15px_0_rgba(0,0,0,0.15)] [&>*]:border-0 [&>*]:bg-transparent [&>*]:p-0 [&>*]:text-left [&>*]:text-[14px] [&>*]:text-dark500 [&>*]:transition"
                    >
                      <button type="button" class="hover:text-blue600">
                        Edit watchlist
                      </button>
                      <button
                        type="button"
                        class="hover:text-blue600"
                        @click="() => {
                          deleteWatchListEntrie(table.watchlistEntryId);
                          open = false;
                        }"
                      >
                        Delete
                      </button>
                    </div>

                    <button
                      :class="open ? 'text-dark500' : 'text-gray700'"
                      class="inline-flex items-center rounded px-1"
                      @click="open = ! open"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <template x-if="isToggled">
            <div
              class="border-x border-b border-[#d9d5ec]"
              x-effect="() => {
                subListViewInit(listViewData[0].positions || [])
                $watch('listViewData', () => subListViewInit(listViewData[0].positions || []))
              }"
            >
              <div
                class="mb-1 hidden gap-6 border-b border-[#d9d5ec] px-2 xl:grid xl:grid-cols-[120px_1fr_1fr_1fr_160px_100px] xxl:grid-cols-[180px_1fr_1fr_1fr_160px_100px] huge:grid-cols-[240px_1fr_1fr_1fr_160px_100px] huge:gap-[70px] [&>*]:py-2 [&>*]:text-[12px] [&>*]:font-semibold [&>*]:uppercase [&>*]:tracking-[0.6px] [&>*]:text-[#838690]"
                x-show="subListViewData.length"
              >
                <p></p>
                <p>Purchase date</p>
                <p>Trade Date</p>
                <p>Amount</p>
                <p>total gain</p>
                <p></p>
              </div>

              <template
                x-for="subtable in subListViewData"
                :key="subtable.positionId"
              >
                <div
                  class="grid gap-6 border-b border-[#d9d5ec] px-2 py-3 xl:grid xl:grid-cols-[120px_1fr_1fr_1fr_160px_100px] xl:py-0 xxl:grid-cols-[180px_1fr_1fr_1fr_160px_100px] huge:grid-cols-[240px_1fr_1fr_1fr_160px_100px] huge:gap-[70px] [&>*]:text-[14px] [&>*]:font-medium [&>*]:xl:py-[21px]"
                >
                  <div class="hidden xl:block"></div>

                  <div class="flex items-start justify-between gap-3">
                    <p
                      class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
                    >
                      Purchase date
                    </p>
                    <div
                      x-text="subtable.transactionDate ? moment(subtable.transactionDate).format('MMM	 D, YYYY') : ''"
                    ></div>
                  </div>

                  <div class="flex items-start justify-between gap-3">
                    <p
                      class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
                    >
                      Trade Date
                    </p>
                    <div x-text="subtable.transactionPrice"></div>
                  </div>

                  <div class="flex items-start justify-between gap-3">
                    <p
                      class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
                    >
                      Amount
                    </p>
                    <div x-text="subtable.amount"></div>
                  </div>

                  <div class="flex items-start justify-between gap-3">
                    <p
                      class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
                    >
                      total gain
                    </p>
                    <div class="flex items-center space-x-6">
                      <div class="text-[14px] font-medium">
                        <span
                          class="text-black"
                          x-text="'$' + table.priceCurrent"
                          x-show="table.priceCurrent === 0"
                        ></span>
                        <span
                          class="text-red500"
                          x-text="'-$' + table.priceCurrent"
                          x-show="table.priceCurrent < 0"
                        ></span>
                        <span
                          class="text-green500"
                          x-text="'+$' + table.priceCurrent"
                          x-show="table.priceCurrent > 0"
                        ></span>
                      </div>

                      <div
                        class="text-[14px] font-medium [&>*]:rounded-[8px] [&>*]:px-[13px] [&>*]:py-[8px]"
                      >
                        <span
                          class="text-black"
                          x-text="table.priceChange + '%'"
                          x-show="table.pricePercentChange === 0"
                        ></span>
                        <span
                          class="bg-red300 text-red500"
                          x-text="table.priceChange + '%'"
                          x-show="table.pricePercentChange < 0"
                        ></span>
                        <span
                          class="bg-green300 text-green500"
                          x-text="'+' + table.priceChange + '%'"
                          x-show="table.pricePercentChange > 0"
                        ></span>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-start justify-between gap-3">
                    <p
                      class="text-[12px] font-semibold uppercase tracking-[0.6px] text-[#838690] xl:hidden"
                    >
                      Action
                    </p>
                    <div class="flex items-center justify-end space-x-4">
                      <button
                        class="inline-flex items-center rounded px-1 text-gray700 transition hover:text-gray600"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-5 w-5"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                          />
                        </svg>
                      </button>
                      <button
                        class="inline-flex items-center rounded px-1 text-gray700 transition hover:text-gray600"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-5 w-5"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </template>

              <div class="px-2 py-4">
                <button
                  type="button"
                  class="inline-flex items-center justify-center gap-1 rounded-[8px] bg-blue300 px-[15px] py-[6px] text-[14px] font-semibold text-blue500 duration-200 ease-in-out hover:bg-blue400"
                  @click="showModalAddingTrade = true; $nextTick(() => cardItemForTradeModal(table))"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                    />
                  </svg>
                  Add Trade
                </button>
              </div>
            </div>
          </template>
        </div>
      </template>
    </div>
  </template>
</div>
