/* Fonts */
//Helvetica
@font-face {
  font-family: 'Helvetica-Regular';
  src: url("#{$font-path}helvetica/HelveticaNeue.woff2") format('woff2'), url("#{$font-path}helvetica/HelveticaNeue.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url("#{$font-path}helvetica/HelveticaNeue-Bold.woff2") format('woff2'), url("#{$font-path}helvetica/HelveticaNeue-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
//Roboto
@font-face {
  font-family: 'Roboto-Regular';
  src: url("#{$font-path}roboto/RobotoSlab-Regular.woff2") format('woff2'), url("#{$font-path}roboto/RobotoSlab-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url("#{$font-path}roboto/Roboto-Medium.woff2") format('woff2'), url("#{$font-path}roboto/Roboto-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("#{$font-path}roboto/RobotoSlab-Bold.woff2") format('woff2'), url("#{$font-path}roboto/RobotoSlab-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}