/* HAS DIVIDER */
.has-divider {
  @extend .position-relative;

  &:before {
    @extend .position-absolute, .h-100;
    left: 0;
    width: 1px;
    background-color: $base-border-color;
  }

  &--md {
    &:before {
      @include media-breakpoint-up(md) {
        content: '';
      }
    }
  }
}