body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: $body-font-family;
  color: $body-main-color;
  line-height: $body-line-height;
  background: url("../images/bg/bubbles.svg") center top no-repeat $body-bg;
  font-size: $body-font-size-mobile;
  @include media-breakpoint-up(md) {
    font-size: $body-font-size-desktop;
  }
}

html {
  @extend .d-flex;
}

body {
  min-height: 100vh;
  @extend .w-100, .d-flex, .flex-column;
  @include media-breakpoint-down(sm) {
    padding-top: $header-mobile-height;
  }
}

.footer,
.header {
  @extend .flex-shrink-0;
}

.main {
  @extend .flex-grow-1;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  color: $title-color;
  font-family: $title-font;

  &:last-child {
    margin-bottom: 0;
  }
}

.h1,
h1 {
  font-size: 1.375rem;
}

.h2,
h2 {
  font-size: 1.30rem;
}

.h3,
h3 {
  font-size: 1.25rem;
}

.h4,
h4 {
  font-size: 1.2rem;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 13px;
}

a,
button {
  @include transition($base-animation);
  cursor: pointer;
}

a {
  @include themify($themes) {
    color: themed('themeColor');
  }
  text-decoration: none;

  &:focus,
  &:hover {
    @include themify($themes) {
      color: darken(themed('themeColor'), 10%);
    }
    text-decoration: none;
  }
}

.color-theme {
  @include themify($themes) {
    color: themed('themeColor') !important;
  }
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.bold,
b {
  font-family: $title-font;
}

.scroll-lock {
  @extend .modal-open;
}

.btn-back {
  @extend .fs-13, .font-icons, .icon-chevron-left, .d-flex, .align-items-center;
  margin-bottom: 24px;
  padding-left: 16px;
  height: 20px;

  &:before {
    margin-right: 10px;
  }
}

.underline {
  text-decoration: underline;
}

.bold,
b {
  @extend .font-base-bold;
}