/* FOOTER */

$footer-bg: $primary;

.footer {
  padding: 50px 0;
  background: $footer-bg;
  color: $white;
  position: relative;
  z-index: 5000;
  @include media-breakpoint-down(sm) {
    padding: 25px 0px;
  }
  .list-inline-item {
    &:not(:last-child) {
      @include media-breakpoint-up(lg) {
        margin-right: 30px;
      }
    }
  }
  .list-icons__item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .list-icons__link {
    color: $footer-bg;
    font-size: 14px;
    background: $white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    &:hover, &:focus {
      color: darken($gray, 15%);
    }
  }
  .list-icons__icon {
    font-size: 13px;
  }
  .logo--content {
    color: $white;
    font-size: 23px;
    margin-bottom: 20px;
    letter-spacing: $body-kerning;
    text-indent: $body-text-indent;
    line-height: .8;
    &:hover, &:focus {
      color: $white;
    }
  }
}
.footer__list {
  text-align: center;
  margin-bottom: 20px;
  .list-inline-item {
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  .list-inline-link {
    text-transform: uppercase;
    font-size: 10px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $white;
    &:hover, &:focus {
      color: darken($gray, 15%);
    }
    @include media-breakpoint-down(sm) {
      //display: block;
      padding: 5px 15px;
    }
  }
}
.footer__divider {
  height: 1px;
  width: 100%;
  background: $silver-chalise-soft;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 25px;
  }
}
