/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$gray-light: #e6ebf6;
$gray: #919294;
$blue-light: #99b6df;
$blue: #4863ac;
$blue-soft: #1e2131;
$sky: #2cc0f0;
$success: #37a267;
$success-secondary: #3ab56e;
$danger: #f4896b;
$orange: #f5911f;
$pink: #e43fa3;
$pink-soft: #ec2e6b;
$violet-light: #d9dff1;
$violet: #919ecf;
$violet-soft: #4964ac;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-gray-light {
  color: $gray-light !important;
}
.text-gray {
  color: $gray !important;
}
.text-blue-light {
  color: $blue-light !important;
}
.text-blue {
  color: $blue !important;
}
.text-blue-soft {
  color: $blue-soft !important;
}
.text-sky {
  color: $sky !important;
}
.text-success {
  color: $success !important;
}
.text-success-secondary {
  color: $success-secondary !important;
}
.text-danger {
  color: $danger !important;
}
.text-orange {
  color: $orange !important;
}
.text-pink {
  color: $pink !important;
}
.text-pink-soft {
  color: $pink-soft !important;
}
.text-violet-light {
  color: $violet-light !important;
}
.text-violet {
  color: $violet !important;
}
.text-violet-soft {
  color: $violet-soft !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-gray-light {
  background-color: $gray-light !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-blue-light {
  background-color: $blue-light !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-blue-soft {
  background-color: $blue-soft !important;
}
.bg-sky {
  background-color: $sky !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-success-secondary {
  background-color: $success-secondary !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-pink-soft {
  background-color: $pink-soft !important;
}
.bg-violet-light {
  background-color: $violet-light !important;
}
.bg-violet {
  background-color: $violet !important;
}
.bg-violet-soft {
  background-color: $violet-soft !important;
}

/*************************
	Fonts variables
*************************/
$font-poppins-light: "Poppins-Light";
$font-poppins-regular: "Poppins-Regular";
$font-poppins-medium: "Poppins-Medium";
$font-poppins-semibold: "Poppins-SemiBold";
$font-poppins-bold: "Poppins-Bold";
$font-poppins-extrabold: "Poppins-ExtraBold";

$font-myriadpro-regular: "MyriadPro-Regular";

.font-poppins-light {
  font-family: $font-poppins-light !important;
}
.font-poppins-regular {
  font-family: $font-poppins-regular !important;
}
.font-poppins-medium {
  font-family: $font-poppins-medium !important;
}
.font-poppins-semibold {
  font-family: $font-poppins-semibold !important;
}
.font-poppins-bold {
  font-family: $font-poppins-bold !important;
}
.font-poppins-extrabold {
  font-family: $font-poppins-extrabold !important;
}
.font-myriadpro-regular {
  font-family: $font-myriadpro-regular !important;
}

$font-icons: "icomoon";
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}

/*************************
	Base variables
*************************/
$base-color: $blue-soft;
$base-font: $font-poppins-regular;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $orange;

/*************************
	Base transition
*************************/
$base-transition: 250ms;

/*************************
	Title variables
*************************/
$title-font-family: $font-poppins-bold;
