<footer class="bg-white py-10 md:py-12 text-center">
  <div class="container space-y-8 md:space-y-10">
    <div class="flex flex-col xl:flex-row items-center justify-between gap-x-8 gap-y-5">
      <a href="/" class="inline-block w-[200px] sm:w-[310px]">
        <img src="./assets/images/logo.svg" alt="Logo" class="block w-full" />
      </a>
      <nav class="flex flex-col md:flex-row gap-x-10 flex-wrap gap-y-3 text-sm md:text-base">
        <a href="#" class='text-brand underline font-bold transition-colors duration-200 hover:no-underline'>Privacy
          Policy</a>
        <a href="#" class='text-brand underline font-bold transition-colors duration-200 hover:no-underline'>Terms of
          Use</a>
        <a href="#" class='text-brand underline font-bold transition-colors duration-200 hover:no-underline'>Advertiser
          Disclosure</a>
        <a href="#" class='text-brand underline font-bold transition-colors duration-200 hover:no-underline'>About
          Us</a>
        <a href="#" class='text-brand underline font-bold transition-colors duration-200 hover:no-underline'>Contact
          Us</a>
      </nav>
    </div>
    <div class="space-y-4 md:space-y-6 md:text-base">
      <p>This Site may earn revenue from Amazon and other links based on qualifying purchases, as more fully
        described <a href="#"
          class='text-brand underline font-bold transition-colors duration-200 hover:no-underline'>here</a>.</p>
      <p class="opacity-50">Consumerexpertreview.com © 2021-2025 All Rights Reserved.</p>
    </div>

  </div>
</footer>