<footer class="bg-slate-600 text-gray-100 py-8 md:py-10">
  <div class="container space-y-8 md:space-y-10">
    <div class="flex flex-col items-start lg:flex-row lg:items-center justify-between gap-8">
      <a href="/" class="inline-block w-[200px] sm:w-[370px]">
        <img src="./assets/images/logo.svg" alt="Logo" class="block w-full" />
      </a>
      <nav class="flex flex-col items-start md:flex-row gap-x-10 flex-wrap gap-y-3 text-sm md:text-base">
        <a href="#" class='text-white transition-colors duration-200 hover:text-brand'>About Us</a>
        <a href="#" class='text-white transition-colors duration-200 hover:text-brand'>Contact us</a>
        <a href="#" class='text-white transition-colors duration-200 hover:text-brand'>Privacy Policy</a>
        <a href="#" class='text-white transition-colors duration-200 hover:text-brand'>Terms of Use</a>
      </nav>
    </div>
    <div class="space-y-4 text-xs">
      <p>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE</p>
      <p>MARKETING DISCLOSURE: This website is a market place. As such you should know that the owner has a monetary
        connection
        to the product and services advertised on the site. The owner receives payment whenever a qualified lead is
        referred but
        that is the extent of it.</p>
      <p>HEALTH DISCLAIMER: This website is not intended to provide medical advice or to take the place of medical
        advice and
        treatment from your personal physician. Visitors are advised to consult their own doctors or other qualified
        health
        professional regarding the treatment of medical conditions. The author shall not be held liable or responsible
        for any
        misunderstanding or misuse of the information contained on this site or for any loss, damage, or injury caused,
        or
        alleged to be caused, directly or indirectly by any treatment, action, or application of any food or food source
        discussed in this website. The U.S. Food and Drug Administration have not evaluated the statements on this
        website. The
        information is not intended to diagnose, treat, cure, or prevent any disease.</p>
      <p>ADVERTISING DISCLOSURE: This website and the products & services referred to on the site are advertising
        marketplaces.
        This website is an advertisement and not a news publication. Any photographs of persons used on this site are
        models.
        The owner of this site and of the products and services referred to on this site only provides a service where
        consumers
        can obtain and compare.</p>
      <p>ADVERTISER: Blue Stone Digital, Inc., 200 Broadhollow Rd, Suite 207, Melville, NY 11747</p>
      <p class="mt-8 text-center">© 2024 consumerinsighthub.co</p>
    </div>

  </div>
</footer>