/* VARIABLES */

/*************************
	Base variables
*************************/
$base-animation: 250ms;

/*************************
	Fonts variables
*************************/
$font-poppins-regular: 'Poppins-Regular';

.font-poppins-regular {
	font-family: $font-poppins-regular;
}

$font-poppins-bold: 'Poppins-Bold';

.font-poppins-bold {
	font-family: $font-poppins-bold;
}

$font-montserrat-light: 'Montserrat-Light';

.font-montserrat-light {
	font-family: $font-montserrat-light;
}

$font-montserrat-regular: 'Montserrat-Regular';

.font-montserrat-regular {
	font-family: $font-montserrat-regular;
}

$font-montserrat-medium: 'Montserrat-Medium';

.font-montserrat-medium {
	font-family: $font-montserrat-medium;
}

$font-montserrat-semibold: 'Montserrat-SemiBold';

.font-montserrat-semibold {
	font-family: $font-montserrat-semibold;
}

$font-montserrat-bold: 'Montserrat-Bold';

.font-montserrat-bold {
	font-family: $font-montserrat-bold;
}

.font-icons {
	&:before {
		font-family: 'icomoon';
	}
}


/*************************
	Font path variable
*************************/
$font-path: "../fonts/";

/*************************
	Body variables
*************************/
$body-font-size-desktop: 18px;
$body-font-size-mobile: 16px;
$body-line-height: 1.8;


/*************************
	Heading variables
*************************/