/* Fonts icons */
//Fontello
@font-face {
  font-family: 'fontello';
  src: url("#{$font-path}fontello/fontello.eot?14757852");
  src: url("#{$font-path}fontello/fontello.eot?14757852#iefix") format('embedded-opentype'), url("#{$font-path}fontello/fontello.woff2?14757852") format('woff2'), url("#{$font-path}fontello/fontello.woff?14757852") format('woff'), url("#{$font-path}fontello/fontello.ttf?14757852") format('truetype'), url("#{$font-path}fontello/fontello.svg?14757852#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="masthaven-icon-"]:before,
[class*=" masthaven-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.masthaven-icon-b2b:before {
  content: '\e801';
}
/* '' */
.masthaven-icon-balance:before {
  content: '\e802';
}
/* '' */
.masthaven-icon-bank:before {
  content: '\e803';
}
/* '' */
.masthaven-icon-calculator:before {
  content: '\e804';
}
/* '' */
.masthaven-icon-bills:before {
  content: '\e805';
}
/* '' */
.masthaven-icon-calendar:before {
  content: '\e806';
}
/* '' */
.masthaven-icon-coin-in-hand:before {
  content: '\e807';
}
/* '' */
.masthaven-icon-coins-and-bills:before {
  content: '\e808';
}
/* '' */
.masthaven-icon-decline-graph:before {
  content: '\e809';
}
/* '' */
.masthaven-icon-credit-card:before {
  content: '\e80a';
}
/* '' */
.masthaven-icon-discussion:before {
  content: '\e80b';
}
/* '' */
.masthaven-icon-diamond:before {
  content: '\e80c';
}
/* '' */
.masthaven-icon-email-transfer:before {
  content: '\e80d';
}
/* '' */
.masthaven-icon-email:before {
  content: '\e80e';
}
/* '' */
.masthaven-icon-envelope-bills:before {
  content: '\e80f';
}
/* '' */
.masthaven-icon-exchange:before {
  content: '\e810';
}
/* '' */
.masthaven-icon-funds-transfer:before {
  content: '\e812';
}
/* '' */
.masthaven-icon-growth-graph:before {
  content: '\e813';
}
/* '' */
.masthaven-icon-interest-rates:before {
  content: '\e816';
}
/* '' */
.masthaven-icon-levers:before {
  content: '\e817';
}
/* '' */
.masthaven-icon-location:before {
  content: '\e819';
}
/* '' */
.masthaven-icon-money-making:before {
  content: '\e81a';
}
/* '' */
.masthaven-icon-money:before {
  content: '\e81b';
}
/* '' */
.masthaven-icon-payments:before {
  content: '\e81c';
}
/* '' */
.masthaven-icon-people:before {
  content: '\e81d';
}
/* '' */
.masthaven-icon-phone-1:before {
  content: '\e81e';
}
/* '' */
.masthaven-icon-phone:before {
  content: '\e81f';
}
/* '' */
.masthaven-icon-pie-chart:before {
  content: '\e820';
}
/* '' */
.masthaven-icon-pound-bill:before {
  content: '\e821';
}
/* '' */
.masthaven-icon-pound-coin:before {
  content: '\e822';
}
/* '' */
.masthaven-icon-report:before {
  content: '\e823';
}
/* '' */
.masthaven-icon-safe:before {
  content: '\e824';
}
/* '' */
.masthaven-icon-savings:before {
  content: '\e825';
}
/* '' */
.masthaven-icon-search:before {
  content: '\e826';
}
/* '' */
.masthaven-icon-sucess:before {
  content: '\e828';
}
/* '' */
.masthaven-icon-uk-flag:before {
  content: '\e82a';
}
/* '' */
.masthaven-icon-wallet-with-bills:before {
  content: '\e82b';
}
/* '' */
.masthaven-icon-wallet:before {
  content: '\e82c';
}
/* '' */
.masthaven-icon-web:before {
  content: '\e82d';
}
/* '' */
.masthaven-icon-facebook:before {
  content: '\e82e';
}
/* '' */
.masthaven-icon-linkedin:before {
  content: '\e82f';
}
/* '' */
.masthaven-icon-twitter:before {
  content: '\e830';
}
/* '' */
.masthaven-icon-quotes-left:before {
  content: '\e831';
}
/* '' */
.masthaven-icon-quotes-right:before {
  content: '\e832';
}
/* '' */
.masthaven-icon-bottom-circular:before {
  content: '\e833';
}
/* '' */
.masthaven-icon-cancel:before {
  content: '\e834';
}
/* '' */
.masthaven-icon-left-circular:before {
  content: '\e835';
}
/* '' */
.masthaven-icon-right-circular:before {
  content: '\e836';
}
/* '' */
.masthaven-icon-top-circular:before {
  content: '\e837';
}
/* '' */
.masthaven-icon-home:before {
  content: '\e838';
}
/* '' */
.masthaven-icon-secure:before {
  content: '\e839';
}
/* '' */
.masthaven-icon-home-loan:before {
  content: '\e83a';
}
/* '' */
.masthaven-icon-assets:before {
  content: '\e83b';
}
/* '' */
.masthaven-icon-down-open:before {
  content: '\f004';
}
/* '' */
.masthaven-icon-up-open:before {
  content: '\f005';
}
/* '' */
.masthaven-icon-right-open:before {
  content: '\f006';
}
/* '' */
.masthaven-icon-left-open:before {
  content: '\f007';
}
/* '' */
.masthaven-icon-menu:before {
  content: '\f008';
}
/* '' */