/* Fonts */
//Raleway
@font-face {
  font-family: 'RalewayLight';
  src: url("#{$font-path}raleway/Raleway-Light.woff2") format('woff2'), url("#{$font-path}raleway/Raleway-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayRegular';
  src: url("#{$font-path}raleway/Raleway-Regular.woff2") format('woff2'), url("#{$font-path}raleway/Raleway-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayMedium';
  src: url("#{$font-path}raleway/Raleway-Medium.woff2") format('woff2'), url("#{$font-path}raleway/Raleway-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayBold';
  src: url("#{$font-path}raleway/Raleway-Bold.woff2") format('woff2'), url("#{$font-path}raleway/Raleway-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}