@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Avenir-Black";
    src: url("../fonts/avenir/Avenir-Black.woff");
  }
  @font-face {
    font-family: "Avenir-Medium";
    src: url("../fonts/avenir/Avenir-Medium.woff");
  }

  @font-face {
    font-family: "Avenir-Roman";
    src: url("../fonts/avenir/Avenir-Roman.woff");
  }

  @font-face {
    font-family: "Avenir-Oblique";
    src: url("../fonts/avenir/Avenir-Oblique.woff");
  }
  @font-face {
    font-family: "Avenir-Heavy";
    src: url("../fonts/avenir/Avenir-Heavy.woff");
  }
}
