/* Fonts */

//Objektiv

@font-face {
  font-family: 'ObjektivRegular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}objektiv/ObjektivRegular.woff2') format('woff2'),
       url('#{$font-path}objektiv/ObjektivRegular.woff') format('woff'),
       url('#{$font-path}objektiv/ObjektivRegular.ttf') format('ttf');
}

@font-face {
  font-family: 'ObjektivBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}objektiv/ObjektivBold.woff2') format('woff2'),
       url('#{$font-path}objektiv/ObjektivBold.woff') format('woff'),
       url('#{$font-path}objektiv/ObjektivBold.ttf') format('ttf');
}

@font-face {
  font-family: 'ObjektivBlack';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}objektiv/ObjektivBlack.woff2') format('woff2'),
       url('#{$font-path}objektiv/ObjektivBlack.woff') format('woff'),
       url('#{$font-path}objektiv/ObjektivBlack.ttf') format('ttf');
}
