/* BUTTONS */

.btn {
    @extend .align-items-center,
    .font-medium,
    .position-relative;
    display: inline-flex;
    border-radius: 13px;
    padding: 8.5px 16px;

    &-primary {
        @include button-variants($bg: $blue500, $color: $white);
    }

    &-white {
        @include button-variants($bg: $white, $color: $blue500);
    }

    &-rose {
        @include button-variants($bg: $rose500, $color: $blue500);
    }

    &-outline-secondary {
        @include button-outline-variants($border-color: $gray300, $color: $blue500);
    }

    &-outline-primary {
        @include button-outline-variants($border-color: $blue500, $color: $blue500);

        &:hover,
        &:focus,
        &:active {
            color: $white !important;
        }
    }

    &-link {
        @extend .text-black;

        &:hover,
        &:focus,
        &:active {
            @extend .text-blue500;
        }
    }

    &-circle {
        border-radius: 25px;
    }

    &-dropdown {
        @extend .font-icons,
        .icon-arrow-down;
        padding-right: 42px;

        &[aria-expanded="true"] {
            &:before {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        &:before {
            @extend .position-absolute,
            .fs-12;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            @include transition($base-animation);
        }
    }

    &-lg {
        padding: 12.5px 16px;

        @include media-breakpoint-up(md) {
            padding: 12.5px 25px;
        }
    }

    &-md {
        padding: 12.5px 18px;

        @include media-breakpoint-up(md) {
            padding: 12.5px 31px;
        }
    }

    &-sm {
        padding: 6px 28px;
    }
}