/* CHART */

.chart-yaxis-label {
    fill: $gray500;

    &:nth-child(1) {
        fill: $gray100;
    }

    &:nth-child(2) {
        fill: $gray200;
    }
}

.chart-xaxis-label {
    fill: $gray500;

    &:nth-child(1),
    &:last-child {
        fill: $gray100;
    }

    &:nth-child(2),
    &:nth-last-child(2) {
        fill: $gray200;
    }
}