/* NOTIFICATION INDICATOR */

$notification-indicator-size: 10px;

.notification-indicator {
    @extend .position-absolute,
    .rounded-circle,
    .bg-rose600;
    width: $notification-indicator-size;
    height: $notification-indicator-size;
    border: 3px solid $rose500;
    top: 16px;
    right: 12px;
}