/* candidates-box */

.candidates-box {
    @extend .position-relative,
    .has-bg,
    .text-white,
    .radius-sm,
    .overflow-hidden;
    background-image: url('../img/bg/candidates-box-bg.svg');
    padding: 30px 15px;
    @include media-breakpoint-up(md) {
        padding: 65px 55px;
    }
}