/* FORMS */

$field-height: 50px;
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: $field-height;
    border-color: $blue50;
    @extend .px-4,
    .fs-16,
    .font-base-semibold,
    .radius-xs;
    @include custom-placeholder($color: $gray100, $font-size: 16px, $font-family: $font-base-semibold);
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($blue500, .25);
    }
}

.form-group {
    margin-bottom: 24px;
}

.form-control-has-icon {
    @extend .position-relative;
    >.form-control {
        padding-left: 50px !important;
    }
    .form-control-icon {
        @extend .position-absolute,
        .text-blue400,
        .fs-16;
        top: 50%;
        transform: translateY(-50%);
        left: 26px;
    }
}

.custom-select {
    height: $field-height;
    @extend .px-4,
    .fs-16,
    .font-base-semibold,
    .radius-xs;
    border-color: $blue50;
    background: $white url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNyA3TDEzIDEiIHN0cm9rZT0iIzQ1NTg4MCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==") no-repeat right 18px center/14px 10px;
    padding-right: 44px !important;
}

.form-secondary {
    @extend .mx-auto;
    max-width: 620px;
}

.input-group {
    .form-control {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.input-group-text {
    @extend .bg-white,
    .px-4,
    .fs-13,
    .font-base-semibold,
    .text-gray100;
    border-radius: $radius-xs 0 0 $radius-xs;
    border-color: $blue50;
}