/* REPORT PANEL */

.report-panel {
    @extend .mb-3;
    padding: 20px 15px;
    border-radius: 30.7px;
    box-shadow: 0 0 73.6px 0 rgba(219, 219, 219, 0.25);
    border: solid 2px #e9f0f7;
    @include media-breakpoint-up(md) {
        padding: 32px;
    }
}