/* TABLE BOX */

.table-box {
    @extend .p-3,
    .p-md-4,
    .radius-md;
    background-image: linear-gradient(to bottom, #f5fbff, rgba(245, 251, 255, 0));
    &--sub {
        background-image: linear-gradient(to bottom, #d9efff, rgba(245, 251, 255, 0));
        @include media-breakpoint-down(sm) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        @include media-breakpoint-up(md) {
            margin-top: -1.5rem;
            margin-right: -1.5rem;
        }
    }
    &--lg {
        @include media-breakpoint-up(lg) {
            padding: 50px !important;
        }
    }
    &--gradient {
        background-image: linear-gradient(to bottom, #d9efff, rgba(245, 251, 255, 0));
    }
}