/* Fonts */


//Montserrat
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Light.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Light.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-SemiBold.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-SemiBold.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('#{$font-path}montserrat/Montserrat-Bold.woff') format('woff'),
       url('#{$font-path}montserrat/Montserrat-Bold.ttf') format('ttf');
}
