/* Fonts */

//Futura
@font-face {
    font-family: 'FuturaBook';
    src: url('#{$font-path}futura/Futura-Book.woff2') format('woff2'),
    url('#{$font-path}futura/Futura-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaDemi';
    src: url('#{$font-path}futura/FuturaPT-Demi.woff2') format('woff2'),
    url('#{$font-path}futura/FuturaPT-Demi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('#{$font-path}futura/FuturaPT-Medium.woff2') format('woff2'),
    url('#{$font-path}futura/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}