/* FOOTER */
$footer-color: $white;

.footer {
  @extend .text-center, .text-md-left;
  color: $footer-color;
  padding: 110px 0 70px;
  @include gradient-radial($inner-color: #626262, $outer-color: #0d0d0d);
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
}

.footer-logo {
  @extend .d-block, .mx-auto, .ml-md-0;
  max-width: 220px;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    max-width: 220px;
    margin-bottom: 25px;
  }
}

.footer-logo-secondary {
  @extend .w-100;
  max-width: 70px;
}

.footer-menu {
  @extend .d-flex, .flex-column;
}

.footer-menu__item {
  @extend .text-white, .text-uppercase, .py-1, .font-bold;

  &:focus,
  &:hover {
    @extend .text-coffee;
  }

  &:first-child {
    @extend .pt-0;
  }
}

.footer-address {
  @extend .font-bold;
  line-height: 1.6;

  a {
    @extend .text-white;

    &:focus,
    &:hover {
      @extend .text-coffee;
    }
  }
}

.footer-social {
  @extend .d-flex, .mt-3, .justify-content-center, .justify-content-md-start;
}

.footer-social__item {
  @extend .d-inline-block, .text-white;
  font-size: 24px;

  &:focus,
  &:hover {
    @extend .text-coffee;
  }

  &+.footer-social__item {
    @extend .ml-1;
  }
}