/* HEADER */
.header {
  padding: 30px 0;
  @include media-breakpoint-down(sm) {
    padding: 15px 0;
  }
}

.header__mask {
  @extend .position-fixed, .w-100, .h-100;
  left: 0;
  top: 0;
  background-color: rgba($black, .7);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 40;
  opacity: 0;
  visibility: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.header__inner {
  @extend .d-lg-flex, .align-items-lg-end;
}

.header__left {
  @extend .flex-shrink-0, .d-flex, .align-items-center, .justify-content-between, .position-relative;
  @include media-breakpoint-up(lg) {
    margin-right: 30px;
  }
}

.header__right {
  @extend .flex-lg-fill, .d-lg-flex, .flex-lg-column, .align-items-lg-end, .px-3, .px-lg-0, .pt-3, .pb-5, .py-lg-0;
  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    background-color: #e9e0d1;
    z-index: 50;
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);

    &.is-menu-opened {
      transform: translateX(0%);
    }
  }
}

.header__logo {
  @extend .d-block, .mb-lg-1;
  width: 270px;
  @include media-breakpoint-down(lg) {
    width: 200px;
  }
}

.header__account-holder {
  @extend .order-lg-1, .d-lg-flex, .align-items-lg-center, .mb-2;
}

.header__navbar-holder {
  @extend .order-lg-3, .mb-2, .mb-lg-0, .mt-lg-3;

  .dropdown-toggle {
    &:after {
      @include media-breakpoint-up(lg) {
        content: none;
      }
    }
  }
}

.header__form-holder {
  @extend .order-lg-2, .d-flex, .align-items-end;
}

.header__form {
  @extend .w-100;
  @include media-breakpoint-up(lg) {
    min-width: 380px;
  }
  @include media-breakpoint-up(xl) {
    min-width: 460px;
  }

  .form-group {
    @extend .mb-0, .d-flex;
  }

  .form-control {
    @extend .rounded-0;
    border-width: 2px;
    border-color: $primary;
    height: 40px;
  }

  .btn-submit {
    @extend .rounded-0, .text-uppercase, .flex-shrink-0;
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:focus,
    &:hover {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
  }
}

.header__made-in {
  @extend .d-none, .d-lg-inline-block, .mr-4, .flex-shrink-0;
  width: 120px;
}

.header__nav-account {
  @extend .d-flex, .flex-column, .flex-lg-row, .mb-lg-0, .mr-lg-4;

  a {
    @extend .d-inline-flex, .align-items-center, .text-uppercase, .px-lg-2, .py-1, .py-lg-0;
    color: $gray-bold;
    @include media-breakpoint-up(lg) {
      font-size: 12px;
    }

    &:focus,
    &:hover {
      color: $primary;
    }
  }

  i {
    @extend .ml-1;
    margin-top: -4px;

    &:before {
      vertical-align: top;
    }
  }
}

.header__tel-number {
  @extend .font-bold, .d-none, .d-lg-inline-block;
  font-size: 20px;
}

.header__navbar {
  @extend .d-flex, .flex-column, .flex-lg-row;

  > li {
    &.show {
      > a {
        @include media-breakpoint-up(lg) {
          @include gradient-y($start-color: rgba($white, .5), $end-color: $white, $start-percent: 0%, $end-percent: 100%);

          &:focus,
          &:hover {
            @include gradient-y($start-color: rgba($white, .5), $end-color: $white, $start-percent: 0%, $end-percent: 100%);
          }
        }
      }
    }

    &.dropdown {
      @include media-breakpoint-up(lg) {
        &:hover {
          > a {
            background-color: $white;
          }

          > .dropdown-menu {
            display: block;
          }
        }
      }
    }

    > .dropdown-menu {
      @extend .rounded-0, .border-0, .mt-0;
      padding: 3px;
      @include media-breakpoint-up(lg) {
        min-width: 300px;
      }
      @include media-breakpoint-down(md) {
        position: static !important;
        transform: translate3d(0px, 0px, 0px) !important;
      }

      a {
        @extend .d-block, .text-uppercase;
        font-size: 12px;
        color: $primary;
        padding: 2px 0;

        &:not(:last-child) {
          border-bottom: 1px solid $muted;
        }

        &:focus,
        &:hover {
          color: $black;
        }
      }

      > .row {
        margin-left: -5px;
        margin-right: -5px;

        > [class^="col"] {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    > a {
      @extend .text-truncate, .d-block;
      padding-top: 5px;
      padding-bottom: 5px;
      @include media-breakpoint-up(lg) {
        font-size: 12px;
      }
      @include media-breakpoint-up(lg) {
        padding: 10px 5px;
      }
      @include media-breakpoint-up(xl) {
        padding: 10px;
      }

      &:focus,
      &:hover {
        @include media-breakpoint-up(lg) {
          @include gradient-y($start-color: rgba($white, .5), $end-color: $white, $start-percent: 0%, $end-percent: 100%);
        }
      }
    }
  }
}

.header__menu-toggle {
  @extend .d-lg-none, .border-0, .p-0;
  background-color: transparent;
  color: $primary;
  @include media-breakpoint-up(md) {
    font-size: 30px;
  }
  font-size: 26px;
}