<header class="header">
  <a href="#" class="header__logo">
    <img src="assets/images/elements/logo-last.svg" alt="" class="d-none d-md-block w-100">
    <img src="assets/images/elements/logo-mobile.svg" alt="" class="d-md-none w-100">
  </a>
  <div class="d-none d-md-flex flex-row justify-content-center justify-content-md-end align-items-center header__form-holder">
    <form action="" class="header__form">
      <div class="form-group form-group--subscribe mb-0">
        <input type="email" class="form-control form-control--has-shadow" placeholder="Your email address">
        <button type="submit" class="btn-subscribe">
          <i class="karmaza-icon-arrow-right"></i>
        </button>
      </div>
    </form>
    <a href="#" class="btn btn-warning btn-has-shadow ml-2 header__form-trigger-btn" data-click="scroll-to-target">NOTIFY ME</a>
  </div>
</header><!--header-->
