<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="format-detection" content="telephone=no">
<!-- Start: injected by AdGuard -->
<script src="//local.adguard.com/adguard-ajax-api/injections/content-script.js?ts=1528212168.492523&amp;sb=0&amp;domain=karmaza.com&amp;mask=103" type="text/javascript" nonce="106B7E718FFD4C488A2162E7A73BE1E8" crossorigin="anonymous"></script>
<script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Adguard Assistant?ts=1528212720.698120" type="text/javascript" nonce="106B7E718FFD4C488A2162E7A73BE1E8" crossorigin="anonymous"></script>
<!-- End: injected by AdGuard -->
<link rel="shortcut icon" href="assets/images/favicons/favicon.ico" />
<meta property="og:title" content="Karmaza - Social Fundraising Cryptocurrency" />
<meta property="og:image" content="https://www.karmaza.com/invite/img/k-01.png" />
<link rel="stylesheet" href="assets/stylesheets/main.css">
