@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b1eidh');
  src:  url('fonts/icomoon.eot?b1eidh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b1eidh') format('truetype'),
    url('fonts/icomoon.woff?b1eidh') format('woff'),
    url('fonts/icomoon.svg?b1eidh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sagar-icon-"], [class*=" sagar-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sagar-icon-star-full:before {
  content: "\e916";
}
.sagar-icon-cancel:before {
  content: "\e913";
}
.sagar-icon-cost:before {
  content: "\e914";
  color: #b5bcd5;
}
.sagar-icon-dollar:before {
  content: "\e915";
  color: #b5bcd5;
}
.sagar-icon-arrow-left:before {
  content: "\e901";
}
.sagar-icon-arrow-right:before {
  content: "\e902";
}
.sagar-icon-bitcoin:before {
  content: "\e903";
}
.sagar-icon-document:before {
  content: "\e904";
}
.sagar-icon-e-governance:before {
  content: "\e905";
}
.sagar-icon-globe:before {
  content: "\e906";
}
.sagar-icon-help:before {
  content: "\e907";
}
.sagar-icon-menu:before {
  content: "\e908";
}
.sagar-icon-movies:before {
  content: "\e909";
}
.sagar-icon-open-source:before {
  content: "\e90a";
}
.sagar-icon-pranks:before {
  content: "\e90b";
}
.sagar-icon-privacy:before {
  content: "\e90c";
}
.sagar-icon-read:before {
  content: "\e90d";
}
.sagar-icon-space:before {
  content: "\e90e";
}
.sagar-icon-team:before {
  content: "\e90f";
}
.sagar-icon-travel:before {
  content: "\e910";
}
.sagar-icon-trek:before {
  content: "\e911";
}
.sagar-icon-customer:before {
  content: "\e912";
}
.sagar-icon-binoculars:before {
  content: "\e900";
}
.sagar-icon-phone:before {
  content: "\e942";
}
.sagar-icon-twitter:before {
  content: "\ea96";
}
.sagar-icon-skype:before {
  content: "\eac5";
}
.sagar-icon-linkedin2:before {
  content: "\eaca";
}
