<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="row">
        <div class="col-xl col-md-4 mb-4">
          <h4 class="footer__title">company</h4>
          <div class="footer__menu">
            <a href="#" class="footer__menu__item">About Labscoop</a>
            <a href="#" class="footer__menu__item">Supplier Partners</a>
            <a href="#" class="footer__menu__item">Our Team</a>
            <a href="#" class="footer__menu__item">Careers</a>
            <a href="#" class="footer__menu__item">Press <i class="fas fa-external-link-alt"></i></a>
            <a href="#" class="footer__menu__item">Blog <i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        <div class="col-xl col-md-4 mb-4">
          <h4 class="footer__title">support</h4>
          <div class="footer__menu">
            <a href="#" class="footer__menu__item">Knowledge Base & FAQs</a>
            <a href="#" class="footer__menu__item">Submit a Support Ticket</a>
            <a href="#" class="footer__menu__item">Make a Suggestion</a>
            <a href="#" class="footer__menu__item">Repost a Bug</a>
          </div>
        </div>
        <div class="col-xl col-md-4 mb-4">
          <h4 class="footer__title">enterprise</h4>
          <div class="footer__menu">
            <a href="#" class="footer__menu__item">Solutions</a>
            <a href="#" class="footer__menu__item">Integration</a>
            <a href="#" class="footer__menu__item">Onboarding</a>
            <a href="#" class="footer__menu__item">Institutional Partners</a>
            <a href="#" class="footer__menu__item">Schedule a Demo</a>
          </div>
        </div>
        <div class="col-xl col-md-4 mb-4">
          <h4 class="footer__title">legal</h4>
          <div class="footer__menu">
            <a href="#" class="footer__menu__item">Terms & Conditions</a>
            <a href="#" class="footer__menu__item">Privacy Policy</a>
          </div>
        </div>
        <div class="col-xl col-md-4 mb-4">
          <h4 class="footer__title">contact</h4>
          <div class="footer__menu text-uppercase">
            <a href="#" class="footer__menu__item text-success"><i class="far fa-comment fa-lg mr-2"></i> live chat a scientist</a>
            <a href="mailto:support@labscoop.com" class="footer__menu__item"><i class="far fa-envelope fa-lg mr-2"></i> support@labscoop.com</a>
            <a href="tel:800.316.3081" class="footer__menu__item"><i class="fas fa-phone fa-lg mr-2"></i> 800.316.3081</a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="row align-items-center">
        <div class="col-xl">
          <div class="d-md-flex align-items-center mb-4">
            <div class="flex-fill d-md-flex mb-4 mb-md-0">
              <div class="row w-100">
                <div class="col-md-7 mb-4 mb-md-0">
                  <div class="d-flex align-items-center">
                    <img src="assets/images/flags/USA.svg" alt="" class="footer__flag">
                    <select name="" id="" class="form-control">
                      <option value="">united states of america</option>
                      <option value="">2</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="d-flex align-items-center">
                    <span class="footer__language">en</span>
                    <select name="" id="" class="form-control">
                      <option value="">english</option>
                      <option value="">2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="social-list flex-shrink-0 ml-md-4 justify-content-center justify-content-md-start">
              <a href="#" class="social-list__item fab fa-twitter-square"></a>
              <a href="#" class="social-list__item fab fa-linkedin"></a>
              <a href="#" class="social-list__item fab fa-facebook-square"></a>
              <a href="#" class="social-list__item fab fa-google-plus-square"></a>
            </div>
          </div>
          <p class="mb-3"><small>Copyright © 2016 Labscoop, LLC. All Rights Reserved. Reproduction of any materials from the site is strictly forbidden without permission.</small></p>
        </div>

        <div class="col-xl align-self-end">
          <img src="assets/images/temp/CrowdIllustration-Condensed.svg" alt="" class="img-fluid mx-auto">
        </div>
      </div>
    </div>
  </div>
</footer>