<div class="header-menu">
  <button class="header-menu__close" type="button">
    <i class="far fa-times-circle"></i>
  </button>
  <div class="container">
    <ul class="header-menu-list">
      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link">
          <i class="header-menu-list__icon fas fa-random"></i> <span class="header-menu-list__text">Shop by Brand</span>
        </a>
      </li>

      <li class="header-menu-list__item header-menu-list__title">Shop by Category</li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link header-menu-list__link--has-child">
          <i class="header-menu-list__icon fas fa-dna"></i> <span class="header-menu-list__text">Life Science</span>
        </a>
        <ul class="header-menu-sublist">
          <li class="header-menu-sublist__item header-menu-sublist__item--black">
            <a href="#" class="header-menu-sublist__link header-menu-sublist__link--back">
              <i class="fas fa-chevron-left"></i> Back
            </a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Antibodies</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Assay Kits</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Biochemicals & Reagents</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Cell Culture</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Chromatography</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Molecular Biology</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Human & Animal Biologicals</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Plant & Agricultural Science</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Proteomics</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Cell Biology</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">PCR Amplificiation</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Animal Research</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Science Education</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Services Education</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Services</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Software</a>
          </li>
        </ul>
      </li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link header-menu-list__link--has-child">
          <i class="header-menu-list__icon fas fa-flask"></i> <span class="header-menu-list__text">Chemistry</span>
        </a>
        <ul class="header-menu-sublist">
          <li class="header-menu-sublist__item header-menu-sublist__item--black">
            <a href="#" class="header-menu-sublist__link header-menu-sublist__link--back">
              <i class="fas fa-chevron-left"></i> Back
            </a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 2</a>
          </li>
        </ul>
      </li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link header-menu-list__link--has-child">
          <i class="header-menu-list__icon fas fa-atom"></i> <span class="header-menu-list__text">Material Science</span>
        </a>
        <ul class="header-menu-sublist">
          <li class="header-menu-sublist__item header-menu-sublist__item--black">
            <a href="#" class="header-menu-sublist__link header-menu-sublist__link--back">
              <i class="fas fa-chevron-left"></i> Back
            </a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 3</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 3</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 3</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 3</a>
          </li>
        </ul>
      </li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link header-menu-list__link--has-child">
          <i class="header-menu-list__icon fas fa-heartbeat"></i> <span class="header-menu-list__text">Healthcare</span>
        </a>
        <ul class="header-menu-sublist">
          <li class="header-menu-sublist__item header-menu-sublist__item--black">
            <a href="#" class="header-menu-sublist__link header-menu-sublist__link--back">
              <i class="fas fa-chevron-left"></i> Back
            </a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 4</a>
          </li>
        </ul>
      </li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link header-menu-list__link--has-child">
          <i class="header-menu-list__icon fas fa-vials"></i> <span class="header-menu-list__text">Labware</span>
        </a>
        <ul class="header-menu-sublist">
          <li class="header-menu-sublist__item header-menu-sublist__item--black">
            <a href="#" class="header-menu-sublist__link header-menu-sublist__link--back">
              <i class="fas fa-chevron-left"></i> Back
            </a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 5</a>
          </li>
        </ul>
      </li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link header-menu-list__link--has-child">
          <i class="header-menu-list__icon fas fa-balance-scale"></i> <span class="header-menu-list__text">Science Education</span>
        </a>
        <ul class="header-menu-sublist">
          <li class="header-menu-sublist__item header-menu-sublist__item--black">
            <a href="#" class="header-menu-sublist__link header-menu-sublist__link--back">
              <i class="fas fa-chevron-left"></i> Back
            </a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
          <li class="header-menu-sublist__item">
            <a href="#" class="header-menu-sublist__link">Lorem 6</a>
          </li>
        </ul>
      </li>

      <li class="header-menu-list__item header-menu-list__title">Need Help?</li>

      <li class="header-menu-list__item">
        <a href="mailto:support@labscoop.com" class="header-menu-list__link">
          <i class="header-menu-list__icon fas fa-envelope"></i> <span class="header-menu-list__text">support@labscoop.com</span>
        </a>
      </li>

      <li class="header-menu-list__item">
        <a href="#" class="header-menu-list__link">
          <i class="header-menu-list__icon fas fa-comments"></i> <span class="header-menu-list__text text-success">Live Chat</span>
        </a>
      </li>

      <li class="header-menu-list__item">
        <a href="tel:800.316.3081" class="header-menu-list__link">
          <i class="header-menu-list__icon fas fa-phone"></i> <span class="header-menu-list__text">800.316.3081</span>
        </a>
      </li>
    </ul>
  </div>
</div>
