<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a class="footer__logo" href="#">
                <img src="img/elements/logo.svg" alt="" class="w-100">
            </a>

            <p class="fs-12 d-lg-none">As an Amazon Associate & Affiliate of other partners Trusted Consumer Review may
                earn a comission
                from<br /> qualifying purchases made as a result of our reviews.</p>

            <div class="footer-nav">
                <a href="#" class="footer-nav__item">About us</a>
                <a href="#" class="footer-nav__item">Get In Touch</a>
                <a href="#" class="footer-nav__item">Terms Of Use</a>
                <a href="#" class="footer-nav__item">Privacy Policy</a>
            </div>
        </div>

        <div class="d-flex align-items-center flex-column flex-lg-row justify-content-lg-between fs-12">
            <div class="d-none d-lg-block mr-5">
                <p>As an Amazon Associate & Affiliate of other partners Trusted Consumer Review may earn a comission
                    from<br /> qualifying purchases made as a result of our reviews.</p>
            </div>

            <div
                class="d-flex flex-column justify-content-lg-end text-center text-lg-end align-items-lg-end ms-lg-5 flex-shrink-0">
                <img src="img/elements/footer-protected.svg" alt=""
                    class="img-fluid mb-1 footer__protected-logo mx-auto me-lg-0">
                <p>© All Rights Reserved! Trusted Consumer Review 2021</p>
            </div>
        </div>
    </div>
</footer>