/* Fonts */

//Sequel
@font-face {
  font-family: 'SequelSansBook';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}sequel/SequelSansBook.woff2') format('woff2'),
       url('#{$font-path}sequel/SequelSansBook.woff') format('woff'),
       url('#{$font-path}sequel/SequelSansBook.ttf') format('ttf');
}

@font-face {
  font-family: 'SequelSansMedium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}sequel/SequelSansMedium.woff2') format('woff2'),
       url('#{$font-path}sequel/SequelSansMedium.woff') format('woff'),
       url('#{$font-path}sequel/SequelSansMedium.ttf') format('ttf');
}

@font-face {
  font-family: 'SequelSansSemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}sequel/SequelSansSemiBold.woff2') format('woff2'),
       url('#{$font-path}sequel/SequelSansSemiBold.woff') format('woff'),
       url('#{$font-path}sequel/SequelSansSemiBold.ttf') format('ttf');

}

@font-face {
  font-family: 'SequelSansBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}sequel/SequelSansBold.woff2') format('woff2'),
       url('#{$font-path}sequel/SequelSansBold.woff') format('woff'),
       url('#{$font-path}sequel/SequelSansBold.ttf') format('ttf');
}
