/* Fonts */

//Sharp Grotesk
@font-face {
    font-family: 'SharpGroteskBook20';
    src: url('#{$font-path}sharp-grotesk/SharpGroteskBook20-Regular.woff2') format('woff2'),
    url('#{$font-path}sharp-grotesk/SharpGroteskBook20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpGroteskMedium20';
    src: url('#{$font-path}sharp-grotesk/SharpGroteskMedium20-Regular.woff2') format('woff2'),
    url('#{$font-path}sharp-grotesk/SharpGroteskMedium20-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}