/* NAVBAR */

$navbar-bg: $gray;
$navlink-color: #555555;
$navlink-border-color: #e4e4e4;

.navbar {
  background: $navbar-bg;
  padding: 0;
  .nav-item {
    &.dropdown {
      @include media-breakpoint-up(lg) {
        &:hover, &.show {
          >.dropdown-menu {
            display: block;
          }
          >.nav-link {
            color: $white;
            background: $orange;
          }
        }
      }
    }
    &+.nav-item {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $navlink-border-color;
      }
    }
    .nav-link {
      color: $navlink-color;
      text-transform: uppercase;
      padding: 6px 15px;
      @include media-breakpoint-up(xl) {
        padding: 1.5px 15px;
      }
      @include media-breakpoint-down(lg) {
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
      &:hover, &:focus {
        color: $white;
        background: $orange;
      }
    }
  }
  .dropdown-menu {
    margin-top: 0;
  }
}
