/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$blue: #0484FF;
$muted: #B0B9BE;
$gray-light: #7E888D; //Main text color
$gray-bold: #585C64; //Title color
$gray-soft: #354052;
$silver: #E5E5E5;


//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-blue {
  color: $blue !important;
}
.text-muted {
  color: $muted !important;
}
.text-gray-light {
  color: $gray-light !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-gray-soft {
  color: $gray-soft !important;
}
.text-silver {
  color: $silver !important;
}



.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-gray-light {
  background-color: $gray-light !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-gray-soft {
  background-color: $gray-soft !important;
}
.bg-silver {
  background-color: $silver !important;
}




/*************************
	Fonts variables
*************************/
$font-regular: 'ProximaNova-Regular';
$font-bold: 'ProximaNova-Bold';
$font-black: 'ProximaNova-Black';

.font-regular {
  font-family: $font-regular !important;
}
.font-bold {
  font-family: $font-bold !important;
}
.font-black {
  font-family: $font-black !important;
}


$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $gray-light;
$base-font: $font-regular;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;

/*************************
	Links variables
*************************/
$link-color: $blue;


/*************************
	Title variables
*************************/
$title-color: $gray-bold;
$title-font-family: $font-bold;
