html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  line-height: $body-line-height;
  font-size: $body-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $body-font-size-desktop;
  }
}

:root {
  scroll-behavior: unset;
}

body {
  background: #f9f9f9;
}

.page-switched {
  .box-hide {
    @extend .d-none;
  }

  .box-hidden {
    display: block;
  }
}

.box-hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.45;
  font-family: $heading-font-family;

  &:last-child {
    margin-bottom: 0;
  }
}

button,
a {
  @include transition($base-animation);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #007bff;
  }
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

b,
.bold {
  @extend .font-bold;
}