/* NAVBAR */
.navbar {
  box-shadow: none;
  @include media-breakpoint-up(sm) {
    padding: 24px 32px;
  }

  &.top-nav-collapse {
    @extend .bg-white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  }
}

.navbar-brand {
  @extend .font-black, .text-black, .fs-22;

  &:focus,
  &:hover {
    @extend .text-black;
  }
}

.navbar-call-us {
  @extend .d-flex, .align-items-center;
}

.navbar-call-us-icon-box {
  @extend .flex-shrink-0, .rounded-circle, .d-inline-flex, .align-items-center, .justify-content-center, .base-primary-color, .mr-md-3, .ml-md-4;
  width: 36px;
  height: 36px;
  border: 1px solid $base-primary-color;
}

.navbar-call-us-btn {
  @extend .d-inline-flex, .align-items-center, .text-black, .fs-18, .font-bold;

  &:focus,
  &:hover {
    @extend .base-primary-color;
  }
}