/* ASIDE */

$aside-bg:$gallery;
$aside-heading-bg: $mercury;
$aside-border-color: $alto-soft;

.aside {
  background: $aside-bg;
  border: 1px solid $aside-border-color;
  flex: 1;
  width: 100%;
}


.aside__heading {
  background: $aside-heading-bg;
  border-bottom:1px solid $aside-border-color;
  padding: 10px 20px;
}

.aside__body {
  padding: 20px 15px;
}


