/* BLOCKQUOTE */

blockquote {
  border: none;
  margin: 25px 0;
  text-align: center;
  font-size: 26px;
  font-family:$font-secondary;
  font-style: $font-italic;
  @include respond-to(xs) {
    font-size: 20px;
  }
}
