/* BUTTONS */

.btn {
  &.btn-mutted {
    background: $mutted-color;
    color: $gray-soft;
    &:hover, &:focus {
      background: darken($mutted-color, 10%);
      color: $gray-soft;
    }
  }
  &.btn-danger {
    background: $danger-color;
    border-color: $danger-color;
    &:hover, &:focus {
      background: darken($danger-color, 10%);
      border-color: darken($danger-color, 10%);
    }
  }
}

