/* TABLE */

.table {
  &:last-child {
    margin-bottom: 0;
  }
  >thead {
    >tr {
      >th {
        font-weight: $font-bold;
        background: $danger-color;
        color: $white;
        border-bottom: 1px solid darken($danger-color, 5%);
      }
    }
  }
  >tbody {
    >tr {
      >th, >td {
        font-weight: $font-bold;
      }
    }
  }
}
.table-striped {
  > tbody {
    > tr:nth-of-type(2n+1) {
      background: $gallery;
    }
  }
}
.table-bordered {
  border-color: darken($danger-color, 5%);
  >thead {
    >tr {
      >th {
        border-color: darken($danger-color, 5%);
      }
    }
  }
  >tbody {
    >tr {
      >th, >td {
        border-color: $alto;
      }
    }
  }
}
