/* VARIABLES */

/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000; //Main text color
/* Gray group */
$quill-gray: #E6E6E5; //Mutted color
$gallery: #F0F0F0; //Gray color
$alto: #DDDDDD; //Border color
$hr-border: #EBEBEB;
$alto-soft: #DFDFDF; //Aside border color
$mercury: #E8E8E8; //Aside header bg
$ship-gray: #414042;
/* Red group */
$night-shadz: #AD3748; //Danger color

/*************************
	Global color variables
*************************/
$danger-color: $night-shadz;
$mutted-color: $quill-gray;
$border-color: $alto;
$gray-soft: $ship-gray;

/*************************
	Fonts variable
*************************/
$font-base: Arial, Helvetica, sans-serif;
$font-secondary: Georgia, serif;

$font-italic: italic;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$font-icons: 'fontello';


/*************************
	Body variable
*************************/
$body-color: $black;
$body-font-size: 12px;

$body-font-family: $font-base;
$body-font-size: $body-font-size;
$body-line-height: 1.5;
$body-main-color: $body-color;


/*************************
	Links color variable
*************************/
$link-color: $danger-color;


/*************************
	Font size variables
*************************/
$fs-sm: 14px;
