/* SLICK */
$slick-dot-size: 12px;

.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.slick-dots {
  @extend .position-absolute, .d-block, .w-100, .p-0, .m-0, .text-center;
  bottom: -55px;

  li {
    @extend .position-relative, .d-inline-block, .mx-2, .p-0, .rounded-circle;
    width: $slick-dot-size;
    height: $slick-dot-size;
    cursor: pointer;
    background-color: $white;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &.slick-active {
      background-color: $pink;
      opacity: 1;
    }

    button {
      @extend .d-none;
    }
  }
}