/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$muted: #323232;
$orange: #fa921c;
$orange-soft: #cc7c28;
$gray: #666666;
$silver: #b3b3b3;
//Override Bootstrap color variables
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-muted {
  color: $muted !important;
}

.text-orange {
  color: $orange !important;
}

.text-orange-soft {
  color: $orange-soft !important;
}

.text-gray {
  color: $gray !important;
}

.text-silver {
  color: $silver !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-orange-soft {
  background-color: $orange-soft !important;
}

.bg-gray {
  background-color: $gray !important;
}
/*************************
	Fonts variables
*************************/
$font-bold: 'Roboto-Bold';
$font-black: 'Roboto-Black';
$font-medium-italic: 'Roboto-MediumItalic';

.font-bold {
  font-family: $font-bold;
}

.font-black {
  font-family: $font-black;
}

.font-medium-italic {
  font-family: $font-medium-italic;
}
$font-icons: "fontello";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-bold;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $orange;