/* ALERT */

.alert {
    margin-bottom: $base-gutter;
    @extend .border-0,
    .fs-13;

    &-warning {
        @extend .text-warning;
        background-image: linear-gradient(92deg, #fffaed, #ffd479 99%);
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}