/* BOX */

.box {
    @extend .bg-white,
    .mb-base-gutter,
    .w-100;
    padding: $base-gutter * 1.5 $base-gutter;
    border-radius: 10px;

    &--gradient {
        background-image: linear-gradient(to bottom, #ffffff -6%, #f2f6ff);
    }
}