/* BTN CONTROL */

.btn-control {
    @extend .shadow-none,
    .p-0,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .bg-transparent,
    .fs-14,
    .flex-shrink-0;
    width: 48px;
    height: 24px;
    border-radius: 9px;
    border: 1px solid rgba($sky, .2);
    color: #9cb2cd;

    &:hover,
    &:focus {
        @extend .text-sky;
    }
}