/* CALENDAR PANEL */

.calendar-panel {
    .fc-header-toolbar {
        @extend .d-flex,
        .flex-column;

        .fc-toolbar-chunk,
        .fc-button-group {
            @extend .w-100;

            .fc-button-group {
                @extend .bg-blue-thin,
                .px-4;
                border-radius: 21px;
                margin-bottom: $base-gutter * 1.5;

                .fc-button {
                    @extend .bg-transparent,
                    .border-0,
                    .text-capitalize,
                    .fs-12,
                    .shadow-none;
                    color: rgba($primary, .8);
                    padding: 12px 15px;

                    &:hover {
                        @extend .text-sky;
                    }

                    &:before {
                        @extend .position-absolute,
                        .w-100,
                        .bg-sky;
                        content: '';
                        height: 2px;
                        border-radius: 17px;
                        @include transition($base-animation);
                        opacity: 0;
                        left: 0;
                        bottom: 0;
                    }

                    &.fc-button-active {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .fc-toolbar-chunk {
            &:nth-child(2) {
                >div {
                    @extend .d-flex,
                    .align-items-center,
                    .justify-content-between;

                    .fc-button {
                        @extend .shadow-none,
                        .p-0,
                        .d-flex,
                        .align-items-center,
                        .justify-content-center,
                        .bg-transparent,
                        .fs-10,
                        .flex-shrink-0;
                        width: 48px;
                        height: 24px;
                        border-radius: 9px;
                        border-color: rgba($sky, .2);
                        color: #9cb2cd;

                        &:hover,
                        &:focus {
                            @extend .text-sky;
                        }
                    }

                    .fc-toolbar-title {
                        font-size: 14px;
                        @extend .text-truncate,
                        .mx-1;

                        @include media-breakpoint-down(md) {
                            font-size: 12px;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .fc-scrollgrid-liquid {
        @extend .border-0;

        thead,
        tbody {
            tr {

                th,
                td {
                    @extend .border-0;
                }
            }
        }

        thead {
            tr {

                th,
                td {
                    @extend .fs-11,
                    .text-silver-soft,
                    .font-regular,
                    .pb-2;
                    font-weight: normal;
                }
            }
        }

        tbody {
            tr {

                th,
                td {
                    @extend .fs-12,
                    .text-primary,
                    .font-medium;
                }
            }

            .fc-daygrid-day-events {
                @extend .d-none;
            }

            .fc-daygrid-day {
                &.fc-day-today {
                    @extend .bg-transparent;

                    .fc-daygrid-day-number {
                        @extend .bg-sky,
                        .text-white;
                    }
                }

                .fc-daygrid-day-number {
                    @extend .rounded-circle,
                    .d-flex,
                    .align-items-center,
                    .justify-content-center,
                    .mx-auto;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}