/* CALENDAR DAY */

$calendar-day-cell-size: 153px;
$calendar-day-border-color: rgba(85, 98, 128, 0.09);

.calendar-day {
    overflow-x: auto;
    padding-top: 20px;
    border-bottom: 1px solid $calendar-day-border-color;

    &--staff {
        .calendar-day__cell-grid-time__item {
            &:first-child {
                @extend .fs-11;
                color: rgba($primary, .5);
            }
        }

        .calendar-day__row {
            &:first-child {
                .calendar-day__cell {
                    height: 88px;
                }
            }
        }
    }
}

.calendar-day__body {
    @extend .px-3;
}

.calendar-day__row {
    @extend .d-flex,
    .flex-nowrap;

    &:first-child {
        .calendar-day__cell {
            height: 30px;
            //border-top: 1px solid $calendar-day-border-color;
        }
    }

    &+.calendar-day__row {
        .calendar-day__cell {
            border-top: 1px solid $calendar-day-border-color;
        }
    }
}

.calendar-day__cell {
    @extend .position-relative,
    .flex-shrink-0;
    width: $calendar-day-cell-size;
    height: 95px;
    border-left: 1px solid $calendar-day-border-color;
}

.calendar-day__cell-grid {
    @extend .position-absolute,
    .w-100,
    .h-100,
    .d-flex;
    left: 0;
    top: 0;
    z-index: -1;
}

.calendar-day__cell-grid__item {
    @extend .flex-fill,
    .position-relative;
    width: 38px;

    &+.calendar-day__cell-grid__item {
        border-left: 1px dashed $calendar-day-border-color;
    }
}

.calendar-day__cell-grid-time {
    @extend .position-absolute,
    .d-flex,
    .w-100;
    top: -20px;
    left: -13px;
}

.calendar-day__cell-grid-time__item {
    @extend .flex-shrink-0,
    .position-relative,
    .fs-10,
    .font-medium;
    color: rgba($primary, .2);
    width: 38px;

    &--highlited {
        @extend .bg-danger,
        .text-white,
        .fs-11;
        border-radius: 8px;
        padding: 0px 4px;
        left: -6px;
    }
}

.calendar-day__event {
    @extend .position-absolute;
    left: -1px;
    transform: translateY(-50%);
    top: 50%;
    width: 441px;
    height: 42px;
    border-radius: 0 10px 10px 0;
    border-left-style: solid;
    border-left-width: 5px;
    z-index: 10;

    &--gap-1 {
        margin-left: 38px;
    }

    &--gap-2 {
        margin-left: calc(38px * 2 + 2px);
    }

    &--gap-3 {
        margin-left: calc(38px * 3 + 2px);
    }

    &--gap-4 {
        margin-left: calc(38px * 4 + 2px);
    }

    &--gap-5 {
        margin-left: calc(38px * 5 + 2px);
    }

    &--gap-6 {
        margin-left: calc(38px * 6 + 2px);
    }

    &--gap-7 {
        margin-left: calc(38px * 7 + 2px);
    }

    &--gap-8 {
        margin-left: calc(38px * 8 + 2px);
    }

    &--gap-9 {
        margin-left: calc(38px * 9 + 2px);
    }

    &--gap-10 {
        margin-left: calc(38px * 10 + 2px);
    }

    &--pink {
        border-left-color: #de65f7;
        background-color: rgba(#de65f7, .3);
    }

    &--success {
        border-left-color: #79d6a7;
        background-color: rgba(#79d6a7, .3);
    }

    &--danger {
        border-left-color: #da6e69;
        background-color: rgba(#da6e69, .3);
    }

    &--warning {
        border-left-color: #efb843;
        background-color: rgba(#efb843, .3);
    }
}