/* CALENDAR TABS */

.calendar-tabs {
    @extend .flex-shrink-0,
    .d-flex,
    .justify-content-between,
    .bg-blue-thin,
    .px-4,
    .w-100;
    border-radius: 21px;

    @include media-breakpoint-up(lg) {
        margin-left: 50px;
        max-width: 278px;
    }
}

.calendar-tab {
    @extend .d-block,
    .position-relative,
    .fs-13,
    .text-primary;
    padding: 11.5px 10px;

    &:before {
        content: '';
        @extend .position-absolute,
        .w-100,
        .bg-sky;
        height: 2px;
        border-radius: 17px;
        @include transition($base-animation);
        opacity: 0;
        left: 0;
        bottom: 0;
    }

    &:hover,
    &.active {
        @extend .text-sky;
    }

    &.active {
        &:before {
            opacity: 1;
        }

        &:focus,
        &:active {
            @extend .text-sky;
        }
    }
}