/* CALENDAR PANEL */

.calendar {
    .fc-header-toolbar {
        @extend .d-flex,
        .flex-column;

        .fc-toolbar-chunk,
        .fc-button-group {
            @extend .w-100;

            .fc-button-group {
                @extend .bg-blue-thin,
                .px-4;
                border-radius: 21px;
                margin-bottom: $base-gutter * 1.5;

                .fc-button {
                    @extend .bg-transparent,
                    .border-0,
                    .text-capitalize,
                    .fs-12,
                    .shadow-none;
                    color: rgba($primary, .8);
                    padding: 12px 15px;

                    &:hover {
                        @extend .text-sky;
                    }

                    &:before {
                        @extend .position-absolute,
                        .w-100,
                        .bg-sky;
                        content: '';
                        height: 2px;
                        border-radius: 17px;
                        @include transition($base-animation);
                        opacity: 0;
                        left: 0;
                        bottom: 0;
                    }

                    &.fc-button-active {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .fc-toolbar-chunk {
            &:nth-child(2) {
                >div {
                    @extend .d-flex,
                    .align-items-center,
                    .justify-content-center;

                    .fc-button {
                        @extend .shadow-none,
                        .p-0,
                        .d-flex,
                        .align-items-center,
                        .justify-content-center,
                        .bg-transparent,
                        .fs-10,
                        .flex-shrink-0;
                        width: 48px;
                        height: 24px;
                        border-radius: 9px;
                        border-color: rgba($sky, .2);
                        color: #9cb2cd;

                        &:hover,
                        &:focus {
                            @extend .text-sky;
                        }
                    }

                    .fc-toolbar-title {
                        @extend .text-truncate,
                        .mx-4,
                        .fs-14;
                    }
                }
            }
        }
    }

    &.fc {
        table {
            @extend .border-0;

            >thead,
            >tbody {
                >tr {

                    >th,
                    td {
                        @extend .border-0;
                    }
                }
            }

            .fc-col-header {
                .fc-col-header-cell-cushion {
                    @extend .fs-12,
                    .font-regular,
                    .pt-3,
                    .pb-5;
                    color: #312f2f;
                }

                .fc-scrollgrid-sync-inner {
                    @extend .text-left;
                }
            }

            .fc-daygrid-body {
                .fc-daygrid-day {
                    border-radius: 12px;

                    &.fc-day-today {
                        background-color: rgba($sky, .1);
                    }
                }

                .fc-daygrid-day-top {
                    @extend .justify-content-start,
                    .flex-row,
                    .fs-12;
                    color: #312f2f;
                }

                .fc-daygrid-day-events {
                    @extend .p-0;
                }

                .fc-daygrid-day-frame {
                    @extend .p-0,
                    .p-md-2;
                    border-radius: 12px;

                    &:hover {
                        @extend .bg-white;
                        box-shadow: 0 11px 12px 0 rgba(149, 149, 149, 0.12);
                    }
                }

                .fc-h-event {
                    @extend .border-0,
                    .p-0,
                    .fs-10;
                    background-color: rgba($sky, .1);

                    .fc-event-title {
                        @extend .fs-8,
                        .p-0;
                        vertical-align: middle !important;
                    }
                }

                .fc-daygrid-event {
                    @extend .text-center;

                    .fc-event-main {
                        @extend .text-sky,
                        .fs-12,
                        .font-medium;
                    }
                }

                .fc-daygrid-event-harness {
                    &+.fc-daygrid-event-harness {
                        margin-top: 10px;
                    }
                }

                .fc-daygrid-day-bottom {
                    @extend .text-center;
                }

                .fc-daygrid-more-link {
                    @extend .text-sky,
                    .fs-10,
                    .font-medium,
                    .text-nowrap;
                }
            }
        }
    }
}