/* CALENDAR GRID */

.calendar-grid {
    @extend .d-md-flex;
}

.calendar-grid-aside {
    @extend .mr-md-3,
    .flex-shrink-0;

    @include media-breakpoint-up(md) {
        width: 227px;
    }

    .staff-list {
        @include media-breakpoint-up(md) {
            padding-top: 64px;
        }
    }
}

.calendar-grid-body {
    @extend .flex-fill,
    .pb-4,
    .px-md-3,
    .bg-white;
    min-width: 0;
    border-radius: 0 0 10px 0;

    @include media-breakpoint-down(sm) {
        margin-left: -16px;
        margin-right: -16px;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 0 0 10px 10px;
    }
}