/* COLLAPSE BOX */

$collapse-toggle-size: 20px;

.collapse-box {
    @extend .w-100,
    .mb-base-gutter,
    .d-flex,
    .flex-column;

    .box {
        @extend .mb-0;
    }
}

.collapse-box__header {
    @extend .d-flex,
    .align-items-center,
    .mb-2;
}

.collapse-box__divider {
    @extend .flex-fill,
    .mr-3;
    height: 1px;
    background-color: rgba(85, 98, 128, 0.09);
}

.collapse-box__toggle {
    @extend .btn,
    .border-0,
    .shadow-none,
    .bg-white,
    .d-flex,
    .align-items-center,
    .justify-content-center,
    .rounded-circle,
    .font-icons,
    .icon-arrow-up,
    .p-0,
    .text-primary,
    .fs-10;
    box-shadow: 0 2px 4px 0 rgba(72, 126, 251, 0.12);
    height: $collapse-toggle-size;
    width: $collapse-toggle-size;

    &:hover,
    &:focus,
    &:active {
        @extend .text-sky;
    }

    &--is-opened {
        &:before {
            transform: rotate(180deg);
        }
    }
}

.collapse-box__body {
    @extend .flex-fill;
    display: flex;
}