/* FAMILY GROUP */

.family-group {
    margin-top: 30px;

    @include media-breakpoint-up(md) {
        margin-top: 60px;
    }
}

.family-group__item {
    @extend .text-center,
    .py-3,
    .py-md-4,
    .px-3,
    .fs-12,
    .font-medium;
    border-bottom: solid 1px rgba(85, 98, 128, 0.09);

    &:first-child {
        border-top: solid 1px rgba(85, 98, 128, 0.09);
    }
}