/* FORMS */

$field-border-color: rgba(24, 43, 84, .2);
$field-color: rgba(#333333, .5);
$field-height: 40px;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-color: $field-border-color;
	color: $field-color;
	height: $field-height;
	@include custom-placeholder($color: $field-color,
		$font-size: 12px,
		$font-family: $font-regular);
}

.custom-select {
	@extend .font-regular,
	.fs-12;
	border-color: $field-border-color;
	color: $field-color;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxnIGlkPSJJY29uc19DaGV2cm9uc19UZXhmaWVsZHNfQ2xlYXJfZmllbGRfaWNvbiIgZGF0YS1uYW1lPSJJY29ucyAvIENoZXZyb25zICZhbXA7IFRleGZpZWxkcyAvIENsZWFyIGZpZWxkIGljb24iIG9wYWNpdHk9IjAuNSI+CiAgICA8cGF0aCBpZD0iU2hhcGUiIGQ9Ik03Ljg2Mi42MDcsNy4yODMsMCwzLjk0NSwzLjM2Ni42MDcsMCwwLC42MDcsMy4zMzgsMy45NDVsLjYwNy42MDcuNTc5LS42MDdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDIpIiBmaWxsPSIjMzMzIi8+CiAgPC9nPgo8L3N2Zz4K");
	height: $field-height;

	&:after {
		content: none;
	}

	.filter-option {
		@extend .d-flex,
		.align-items-center;
	}
}