/* ICON BOX */

$icon-box-size: 30px;

.icon-box {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center,
    .fs-18;
    border-radius: 8px;
    width: $icon-box-size;
    height: $icon-box-size;

    &--success {
        @extend .bg-success-secondary,
        .text-success;
    }
}