/* ICON BOX */

$icon-box-size: 30px;

.icon-box {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center;
    font-size: 18px;
    border-radius: 8px;
    width: $icon-box-size;
    height: $icon-box-size;

    &--success {
        @extend .bg-success-secondary,
        .text-success;
    }

    &--danger {
        @extend .bg-danger-secondary,
        .text-danger;
    }

    &--sm {
        @extend .fs-8;
        width: 18px;
        height: 18px;
        border-radius: 4px;
    }
}