/* ROOM BADGE */

$room-badge-size: 8px;

.room-badge {
    width: $room-badge-size;
    height: $room-badge-size;
    display: inline-block;
    @extend .rounded-circle,
    .mr-2;

    &--sky {
        background-image: linear-gradient(45deg, #1288d8, #35d3ff);
    }

    &--success {
        background-image: linear-gradient(45deg, #008b47, #2be2a0);
    }

    &--blue {
        background-image: linear-gradient(45deg, #2338AC, #677CF0);
    }

    &--success-soft {
        background-image: linear-gradient(45deg, #6a7506, #93b024);
    }

    &--success-secondary {
        background-image: linear-gradient(45deg, #277d38, #64c43b);
    }

    &--rose {
        background-image: linear-gradient(45deg, #cd4473, #fd92b6);
    }

    &--warning {
        background-image: linear-gradient(45deg, #b5910b, #eeca18 99%);
    }

    &--pink {
        background-image: linear-gradient(45deg, #742a6b, #f192fd);
    }

    &--orange {
        background-image: linear-gradient(45deg, #d85524, #efc566);
    }
}