/* SIMPLEBAR */

.simplebar-track {
    &.simplebar-horizontal {
        background-color: #e6edff;
        border-radius: 4px;
        height: 6px;

        .simplebar-scrollbar {
            height: 6px;
            top: 0;

            &.simplebar-visible {
                &:before {
                    opacity: 1;
                }
            }

            &:before {
                background-color: #bcc8e4;
            }
        }
    }
}