/* TABLE */

.table {
    >thead {
        >tr {

            >th,
            td {
                vertical-align: middle;
                @extend .fs-11,
                .text-silver-soft,
                .border-0,
                .bg-blue-thin;
                padding-top: 7px;
                padding-bottom: 7px;

                &:first-child {
                    border-radius: $radius-base 0 0 $radius-base;
                }

                &:last-child {
                    border-radius: 0 $radius-base $radius-base 0;
                }
            }
        }
    }

    >tbody {
        >tr {
            &:first-child {

                >th,
                td {
                    border-top: none;
                }
            }

            >th,
            td {
                @extend .fs-12,
                .text-primary;
                border-color: rgba(85, 98, 128, .09);
                vertical-align: middle;
            }

            >th {
                @extend .font-medium;
                font-weight: normal;
            }
        }
    }

    >tfoot {
        >tr {

            >th,
            td {
                @extend .fs-12,
                .text-primary,
                .font-black;
                font-weight: normal;
                border: none;

                &.bordered {
                    border-top: 2px solid $primary;
                }
            }
        }
    }
}


.table-control-box {
    @extend .flex-shrink-0,
    .d-flex,
    .flex-column,
    .flex-sm-row;

    @include media-breakpoint-up(lg) {

        .form-control,
        .bootstrap-select {
            width: 150px !important;
        }
    }
}

.table-text-limit {
    @extend .text-truncate;
    max-width: 120px;
}