/* Fonts */



@font-face {
  font-family: 'fzzhengheis-el-gbregular';
  src: url('#{$font-path}chinese-font/fzzxhjw-regular-webfont.woff2') format('woff2'),
       url('#{$font-path}chinese-font/fzzxhjw-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fzzhengheis-db-gbbold';
  src: url('#{$font-path}chinese-font/fzzzhongjw-bold-webfont.woff2') format('woff2'),
       url('#{$font-path}chinese-font/fzzzhongjw-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
