/* Fonts */

@font-face {
  font-family: 'FZZXHJW--GB1-0';
  src: url('#{$font-path}chinese-font/FZZXHJW--GB1-0.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}chinese-font/FZZXHJW--GB1-0.woff') format('woff'),
       url('#{$font-path}chinese-font/FZZXHJW--GB1-0.ttf')  format('truetype'),
       url('#{$font-path}chinese-font/FZZXHJW--GB1-0.svg#FZZXHJW--GB1-0') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FZZZHONGJW--GB1-0';
  src: url('#{$font-path}chinese-font/FZZZHONGJW--GB1-0.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}chinese-font/FZZZHONGJW--GB1-0.woff') format('woff'),
       url('#{$font-path}chinese-font/FZZZHONGJW--GB1-0.ttf')  format('truetype'),
       url('#{$font-path}chinese-font/FZZZHONGJW--GB1-0.svg#FZZZHONGJW--GB1-0') format('svg');
  font-weight: normal;
  font-style: normal;
}



//Gilroy
@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gilroy/Gilroy-Light.woff2') format('woff2'),
       url('#{$font-path}gilroy/Gilroy-Light.woff') format('woff'),
       url('#{$font-path}gilroy/Gilroy-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
       url('#{$font-path}gilroy/Gilroy-ExtraBold.woff') format('woff'),
       url('#{$font-path}gilroy/Gilroy-ExtraBold.ttf') format('ttf');
}
