/* HAS BG */

.bg-holder {
  position: relative;
}

.has-bg {
  //min-height: 990px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 56.5%;
}

.bg-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 25px 60px;
  z-index: 100;
}
