/* HR */

$hr-border-color: $muted-thin;

hr {
  border-color: $hr-border-color;
}

.hr--lg {
  margin-top: 100px;
  margin-bottom: 100px;
}
.hr--md {
  margin-top: 70px;
  margin-bottom: 70px;
}
.hr--sm {
  margin-top: 45px;
  margin-bottom: 45px;
}
.hr--mb-0 {
  margin-bottom: 0;
}
