/* ICONS */

$icons-size: 24px;

.icon {
  width: $icons-size;
  height: $icons-size;
  line-height: $icons-size;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  vertical-align: text-bottom;
  font-family: $font-secondary-light;
}
.icon--left {
  margin-right: .25rem;
}
.icon--success {
  background: $success;
  color: $white;
}
