/* MARGINS */

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-65 {
  margin-bottom: 65px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}

.mt-auto {
  margin-top: auto !important;
}
