/* TABS */

$tab-full-link-color: $muted;
$tab-full-icon-size: 190px;

.tab-full {
  display: table;
  table-layout: fixed;
  width: 100%;
  display: flex;
}
.tab-full__item {
  display: table-cell;
  flex: 1;
  opacity: .4;
  position: relative;
  &+.tab-full__item {
    margin-left: 15px;
  }
  &.active {
    opacity: 1;
    &:after, &:before {
      content: '';
    }
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    opacity: .75;
  }
  &:after, &:before {
    position: absolute;
    z-index: 20;
  }
  &:before {
    height: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $success;
  }
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0px 9px;
    border-color: $success transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
  }
}
.tab-full__link {
  padding-bottom: 50px;
  display: block;
  text-align: center;
  color: $tab-full-link-color;
  &:hover, &:focus {
    color: $tab-full-link-color;
  }
}
.tab-full__icon {
  text-align: center;
  width: $tab-full-icon-size;
  height: $tab-full-icon-size;
  border-radius: 50%;
  display: inline-block;
  background: $primary;
  line-height: $tab-full-icon-size;
  color: $white;
  font-size: 60px;
  margin-bottom: 30px;
  .img-responsive {
    display: inline-block;
  }
}

.tab {
  background: $gray-thin;
  text-align: center;
}
.tab__item {
  &.active {
    .tab__link {
      color: $sky;
    }
  }
}
.tab__item, .tab__link {
  display: inline-block;
}
.tab__link {
  padding: 28px 20px;
  color: $primary;
  &:hover {
    color: $sky;
  }
}
