/* TABLE */

$thead-bg: $alabaster;
$table-border-color: $mercury;

.table {
  >thead, >tbody {
    >tr {
      >td, th {
        padding: 19px 20px;
      }
    }
  }
  >thead {
    >tr {
      >td, th {
        border-bottom: none;
        color: $primary;
        background: $thead-bg;
      }
    }
  }
  >tbody {
    >tr {
      &:first-child {
        >td, >th {
         border: none;
        }
      }
      &:last-child {
        >td, >th {
         border-bottom: 2px solid $table-border-color;
        }
      }
      >td, >th {
        border-color: $table-border-color;
        border-width: 2px;
      }
    }
  }
}
