/* TIMELINE */

$timeline-border-color: $mercury;
$timeline-border-width: 7px;

.timeline {
  position: relative;
  &:before {
    content: '';
    width: $timeline-border-width;
    background: $timeline-border-color;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.timeline__item {
  position: relative;
  &+.timeline__item {
    margin-top: 25px;
  }
  &:nth-child(odd) {
    text-align: right;
  }
  &:before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $white;
    border: 5px solid $primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}
.timeline__inner {
  max-width: 400px;
  text-align: left;
  display: inline-block;
}
.timeline-title {
  font-size: 32px;
  font-family: $font-secondary-light;
  margin-bottom: 10px;
}
