/* VARIABLES */


/*************************
	Local color variables
*************************/
/* For color names was used site - http://chir.ag/projects/name-that-color */
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Blue group */
$picton-blue: #35aee7; //Sky color
$biscay: #1A2D61; //Primary color
/* Gray group */
$black-haze: #F7F8F8; //Gray light color
$athens-gray: #F1F1F2; //Gray thin color
$silver-chalise: #b1b1b1; //Gray color
$oxford-blue: #394a58; //Muted color
/* Green group */
$turquoise: #51D8BD; //Success color
$keppel: #32ad95; //Success soft color

/*************************
	Global color variables
*************************/
$white: $white;
$black: $black;
$sky: $picton-blue;
$primary: $biscay;
$gray-light: $black-haze;
$gray-thin: $athens-gray;
$gray: $silver-chalise;
$muted: $oxford-blue;
$success: $turquoise;
$success-soft: $keppel;


$base-color: $muted;


/*************************
	Fonts variables
*************************/
$font-base: 'fzzhengheis-el-gbregular';
$font-bold: 'fzzhengheis-db-gbbold';

$font-icons: 'fontello';

/*************************
	Body variables
*************************/
$body-font-family: $font-base;
$body-font-size: 16px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $success;
$link-color-hover: $success-soft;


/*************************
	Title variables
*************************/
$title-color: $primary;
$title-font-family: $font-bold;
