/* BUTTONS */
.btn {
  @extend .shadow-none, .rounded-0, .text-uppercase;
  padding: 10px 24px;
  background-color: $black;
  color: $white;
  @include media-breakpoint-up(md) {
    padding: 16px 50px;
  }

  &.btn-skew {
    transform: skew(-21deg);

    .btn-text {
      @extend .d-inline-block;
      transform: skew(21deg);
    }
  }

  &:focus,
  &:hover {
    background-color: $primary;
    color: $white;
  }

  &-primary {
    @include button-variants($bg: $primary, $color: $white);
  }

  &-success {
    @include button-variants($bg: $success, $color: $white);
  }

  &-danger {
    @include button-variants($bg: $danger, $color: $white);
  }
}