/* FLOATED BOX */
.floated-box {
  @extend .mb-4, .mb-lg-0, .overflow-hidden;

  &:hover {
    > img {
      @include scale(1.3);
    }
  }

  > img {
    transition: all ease-in-out 500ms;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 480px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 580px;
    margin-top: 70px;
  }
}