<header class="header">
  <div class="header__top">
    <a class="header__logo" href="#">
      <img src="assets/images/elements/logo-dark.png" alt="" class="w-100 header__logo__image-dark">
      <img src="assets/images/elements/logo-light.png" alt="" class="w-100 header__logo__image-light">
    </a>

    <div class="d-none d-lg-block">
      <a class="btn btn-link btn-sm font-regular transition-0" href="#">Login</a>
      <a class="btn btn-success btn-sm" href="#">Signup</a>
    </div>

    <div class="header__controls d-lg-none">
      <div class="header__expanded-form-holder">
        <form action="" class="header__expanded-form">
          <div class="form-group form-group--search mb-0">
            <input type="search" class="form-control form-control--secondary" placeholder="Search">
            <button class="btn-submit btn-reset">
              <i class="crypto-icon-search"></i>
            </button>
            <button class="btn-cancel btn-reset">
              <i class="crypto-icon-cancel-rounded"></i>
            </button>
          </div><!--form-group-->
        </form>
        <a href="#" class="header__btn btn-expanded-form-toggle transition-0">
          <i class="crypto-icon-search"></i>
        </a>
      </div><!--header__expanded-form-holder-->
      <a href="#" class="header__btn btn-switch-themes-toggle transition-0">
        <i class="crypto-icon-sun btn-switch-themes-toggle__icon"></i>
      </a>
      <a href="#" class="header__btn btn-menu-toggle transition-0">
        <i class="crypto-icon-menu"></i>
      </a>
    </div>
  </div><!--header__top-->

  <div class="header__bottom">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GO PRO</a>
      </li>
      <li class="nav-item d-none d-md-inline-block">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item d-none d-md-inline-block">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link" href="#">SIGNUP</a>
      </li>
    </ul>

    <div class="d-none d-lg-flex">
      <form action="" class="mr-3">
        <div class="form-group form-group--search mb-0">
          <input type="search" class="form-control form-control--secondary" placeholder="Search">
          <button class="btn-submit btn-reset">
            <i class="crypto-icon-search"></i>
          </button>
        </div><!--form-group-->
      </form>
      <a href="#" class="header__btn btn-switch-themes-toggle transition-0">
        <i class="crypto-icon-sun btn-switch-themes-toggle__icon"></i>
      </a>
    </div><!--d-flex-->
  </div><!--header__bottom-->

</header><!--header-->
