<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Join Coin Break for Free!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="crypto-icon-close"></i>
        </button>
      </div><!--modal-header-->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <a href="#" class="btn btn-xl btn-google btn-login mb-4 mb-md-0 w-100"><img src="assets/images/elements/google.svg" class="btn-login__icon" alt=""> <span class="fs-12">Signup with Google</span></a>
          </div><!--col-->

          <div class="col-md-6">
            <a href="#" class="btn btn-xl btn-twitter btn-login m-0 w-100"><i class="crypto-icon-twitter btn-login__icon"></i> <span class="fs-12">Signup with Twitter</span></a>
          </div><!--col-->
        </div><!--row-->

        <div class="modal-text-divider mb-2">
          <span class="modal-text-divider__inner">or use email</span>
        </div><!--modal-divider-->

        <form action="">
          <div class="form-group">
            <label for="field-username">Username</label>
            <input type="text" class="form-control" id="field-username" placeholder="Enter your username">
          </div><!--form-group-->

          <div class="form-group">
            <label for="field-email">Email</label>
            <input type="text" class="form-control" id="field-email" placeholder="Enter your email">
          </div><!--form-group-->

          <div class="form-group form-group--password">
            <label for="field-password">Password</label>
            <input type="password" class="form-control" id="field-password" placeholder="Enter your password">
            <a href="#" class="btn-toggle-password crypto-icon-eye field-control-btn"></a>
          </div><!--form-group-->

          <div class="form-group form-group--password">
            <label for="field-password-confirmation">Enter your password</label>
            <input type="password" class="form-control" id="field-password-confirmation" placeholder="Enter your password">
            <a href="#" class="btn-toggle-password crypto-icon-eye field-control-btn"></a>
          </div><!--form-group-->

          <div class="form-group">
            <div class="custom-field">
              <input type="checkbox" id="checkbox-custom-1">
              <label for="checkbox-custom-1" class="custom-field__label">I have read and agree to the <a href="#" class="text-success underline d-inline-block ml-1">Terms of Service</a></label>
            </div><!--custom-field-->
          </div><!--form-group-->

          <div class="modal-divider modal-divider--full-width"></div>

          <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-xl btn-success">Signup</button>
            <button type="submit" class="btn btn-xl btn-link" data-dismiss="modal">Cancel</button>
          </div><!--form-group-->
          <p class="mt-4 text-center fs-13 font-medium">Already have an account? <a href="#" class="text-success" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Login</a></p>
        </form>
      </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->





<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="crypto-icon-close"></i>
        </button>
      </div><!--modal-header-->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <a href="#" class="btn btn-xl btn-google btn-login mb-4 mb-md-0 w-100"><img src="assets/images/elements/google.svg" class="btn-login__icon" alt=""> <span class="fs-12">Signup with Google</span></a>
          </div><!--col-->

          <div class="col-md-6">
            <a href="#" class="btn btn-xl btn-twitter btn-login m-0 w-100"><i class="crypto-icon-twitter btn-login__icon"></i> <span class="fs-12">Signup with Twitter</span></a>
          </div><!--col-->
        </div><!--row-->

        <div class="modal-text-divider mb-2">
          <span class="modal-text-divider__inner">or use email</span>
        </div><!--modal-divider-->

        <form action="">
          <div class="form-group">
            <label for="field-username">Username</label>
            <input type="text" class="form-control" id="field-username" placeholder="Enter your username">
          </div><!--form-group-->

          <div class="form-group">
            <label for="field-email">Email</label>
            <input type="text" class="form-control" id="field-email" placeholder="Enter your email">
          </div><!--form-group-->

          <div class="form-group form-group--password">
            <label for="field-password">Password</label>
            <input type="password" class="form-control" id="field-password" placeholder="Enter your password">
            <a href="#" class="btn-toggle-password crypto-icon-eye field-control-btn"></a>
          </div><!--form-group-->

          <div class="form-group form-group--password">
            <label for="field-password-confirmation">Enter your password</label>
            <input type="password" class="form-control" id="field-password-confirmation" placeholder="Enter your password">
            <a href="#" class="btn-toggle-password crypto-icon-eye field-control-btn"></a>
          </div><!--form-group-->

          <div class="form-group">
            <div class="custom-field">
              <input type="checkbox" id="checkbox-custom-1">
              <label for="checkbox-custom-1" class="custom-field__label">I have read and agree to the <a href="#" class="text-success underline d-inline-block ml-1">Terms of Service</a></label>
            </div><!--custom-field-->
          </div><!--form-group-->

          <div class="modal-divider modal-divider--full-width"></div>

          <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-xl btn-success">Signup</button>
            <button type="submit" class="btn btn-xl btn-link" data-dismiss="modal">Cancel</button>
          </div><!--form-group-->
          <p class="mt-4 text-center fs-13 font-medium">Already have an account? <a href="#" class="text-success">Login</a></p>
        </form>
      </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
