/* VARIABLES */


/* Color variables */
$white: #ffffff;
$black: #000000;
$mine-shaft: #202427;
$asphalt: #7a838c;
$asphalt-bold: #727b83;
$asphalt-soft: #282c2f; //Main text color
$asphalt-dark: #4c5459;
$asphalt-dark-bold: #495358;
$silver: #d8d8d8;
$silver-soft: #dfdfdf;
$silver-bold: #4a5358;
$gray: #454c52;
$gray-bold: #383e42;
$muted-thin: #f3f3f3;
$muted: #eeeeee;
$muted-bold: #e8e8e8;
$warning: #e06c44;
$success: #7bb664;



//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-mine-shaft {
  color: $mine-shaft !important;
}
.text-asphalt {
  color: $asphalt !important;
}
.text-asphalt-bold {
  color: $asphalt-bold !important;
}
.text-asphalt-soft {
  color: $asphalt-soft !important;
}
.text-asphalt-dark {
  color: $asphalt-dark !important;
}
.text-asphalt-dark-bold {
  color: $asphalt-dark-bold !important;
}
.text-silver {
  color: $silver !important;
}
.text-silver-soft {
  color: $silver-soft !important;
}
.text-silver-bold {
  color: $silver-bold !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-bold {
  color: $gray-bold !important;
}
.text-muted-thin {
  color: $muted-thin !important;
}
.text-muted {
  color: $muted !important;
}
.text-muted-bold {
  color: $muted-bold !important;
}
.text-warning {
  color: $warning !important;
}
.text-success {
  color: $success !important;
}


.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-mine-shaft {
  background-color: $mine-shaft !important;
}
.bg-asphalt {
  background-color: $asphalt !important;
}
.bg-asphalt-bold {
  background-color: $asphalt-bold !important;
}
.bg-asphalt-soft {
  background-color: $asphalt-soft !important;
}
.bg-asphalt-dark {
  background-color: $asphalt-dark !important;
}
.bg-asphalt-dark-bold {
  background-color: $asphalt-dark-bold !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-silver-soft {
  background-color: $silver-soft !important;
}
.bg-silver-bold {
  background-color: $silver-bold !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-gray-bold {
  background-color: $gray-bold !important;
}
.bg-muted-thin {
  background-color: $muted-thin !important;
}
.bg-muted {
  background-color: $muted !important;
}
.bg-muted-bold {
  background-color: $muted-bold !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-success {
  background-color: $success !important;
}



/*************************
	Fonts variables
*************************/
$font-thin: 'ProximaNovaThin';
$font-light: 'ProximaNovaLight';
$font-regular: 'ProximaNovaReg';
$font-semibold: 'ProximaNovaSemibold';
$font-bold: 'ProximaNovaBold';

.font-thin {
  font-family: $font-thin;
}
.font-light {
  font-family: $font-light;
}
.font-regular {
  font-family: $font-regular;
}
.font-semibold {
  font-family: $font-semibold;
}
.font-bold {
  font-family: $font-bold;
}



$font-icons: 'fontello';
.font-icons {
  &:before {
    font-family: $font-icons;
  }
}


/*************************
	Base variables
*************************/
$base-color: $asphalt-soft;
$base-font: $font-regular;
$base-radius: 12px;
/*************************
	Font path variable
*************************/
$font-path: '../fonts/';

/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size-md: 16px;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;


/*************************
	Links variables
*************************/
$link-color: $success;


/*************************
	Title variables
*************************/
$title-font: $font-regular;
