<footer class="footer">
    <div class="container">
        <p class="text-uppercase bold mb-4 fs-13">THIS IS AN ADVERTORIAL AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR
            CONSUMER
            PROTECTION UPDATE.
        </p>
        <p class="text-uppercase bold mb-4 fs-13">DISCLAIMER</p>
        <p class="mb-4">This website is not intended to provide medical advice or to take the place of medical advice
            and treatment from your personal physician. Visitors are advised to consult their own doctors or other
            qualified health professional regarding the treatment of medical conditions. The author shall not be held
            liable or responsible for any misunderstanding or misuse of the information contained on this site or for
            any loss, damage, or injury caused, or alleged to be caused, directly or indirectly by any treatment,
            action, or application of any food or food source discussed in this website. The U.S. Food and Drug
            Administration have not evaluated the statements on this website. Any trademarks contained herein are
            property of their respective owners. We do our best to keep the information on this page up to date but
            rules and regulations change frequently: As such, we cannot be held liable for inaccuracies.
            Thank you for visiting.</p>

        <nav class="footer-nav">
            <a href="https://prostatehealthsecret.com/privacypolicy/">Privacy Policy</a>
            <span>|</span>
            <a href="https://prostatehealthsecret.com/contact/">Contact Us</a>
        </nav>
    </div>
</footer>