/* Fonts icons */

//Fontello
@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello/fontello.eot?60813056');
  src: url('#{$font-path}fontello/fontello.eot?60813056#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello/fontello.woff2?60813056') format('woff2'),
       url('#{$font-path}fontello/fontello.woff?60813056') format('woff'),
       url('#{$font-path}fontello/fontello.ttf?60813056') format('truetype'),
       url('#{$font-path}fontello/fontello.svg?60813056#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="rebill-icon-"]:before, [class*=" rebill-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rebill-icon-menu:before { content: '\e800'; } /* '' */
.rebill-icon-clipboard:before { content: '\e801'; } /* '' */
.rebill-icon-cloud:before { content: '\e802'; } /* '' */
.rebill-icon-coins:before { content: '\e803'; } /* '' */
.rebill-icon-dashboard:before { content: '\e804'; } /* '' */
.rebill-icon-settings:before { content: '\e805'; } /* '' */
.rebill-icon-networking:before { content: '\e806'; } /* '' */
.rebill-icon-globe:before { content: '\e807'; } /* '' */
.rebill-icon-eye:before { content: '\e808'; } /* '' */
.rebill-icon-cog:before { content: '\e809'; } /* '' */
.rebill-icon-down-open-big:before { content: '\e80a'; } /* '' */
.rebill-icon-left-open-big:before { content: '\e80b'; } /* '' */
.rebill-icon-right-open-big:before { content: '\e80c'; } /* '' */
.rebill-icon-up-open-big:before { content: '\e80d'; } /* '' */
.rebill-icon-plus:before { content: '\e80e'; } /* '' */
.rebill-icon-minus:before { content: '\e80f'; } /* '' */
.rebill-icon-cart:before { content: '\e810'; } /* '' */
.rebill-icon-payment:before { content: '\e811'; } /* '' */
.rebill-icon-users:before { content: '\e812'; } /* '' */
.rebill-icon-add-user:before { content: '\e813'; } /* '' */
.rebill-icon-bar-chart:before { content: '\e814'; } /* '' */
.rebill-icon-campaigning:before { content: '\e815'; } /* '' */
.rebill-icon-world-wide-web:before { content: '\e816'; } /* '' */
.rebill-icon-down-arrow:before { content: '\e817'; } /* '' */
.rebill-icon-calendar:before { content: '\e818'; } /* '' */
.rebill-icon-faces:before { content: '\e819'; } /* '' */
.rebill-icon-search:before { content: '\e81a'; } /* '' */
.rebill-icon-close-circular:before { content: '\e82c'; } /* '' */
.rebill-icon-file:before { content: '\e82d'; } /* '' */
.rebill-icon-key:before { content: '\e82e'; } /* '' */
.rebill-icon-arrow-right:before { content: '\e82f'; } /* '' */
.rebill-icon-bomb:before { content: '\e830'; } /* '' */
.rebill-icon-cancel:before { content: '\e831'; } /* '' */
.rebill-icon-chat:before { content: '\e832'; } /* '' */
.rebill-icon-close:before { content: '\e833'; } /* '' */
.rebill-icon-magnet:before { content: '\e835'; } /* '' */
.rebill-icon-rocketet:before { content: '\e836'; } /* '' */
.rebill-icon-cross:before { content: '\e837'; } /* '' */
.rebill-icon-angle-left:before { content: '\f104'; } /* '' */
.rebill-icon-angle-right:before { content: '\f105'; } /* '' */
.rebill-icon-angle-up:before { content: '\f106'; } /* '' */
.rebill-icon-angle-down:before { content: '\f107'; } /* '' */
