<footer>
	<div class="container">
		<div class="footer-top-holder">
			<div class="row row-flex">
				<div class="col-md-2 footer__item">
					<address>
						<b>Stockholm</b><br>
						Kungsgatan 10<br>
						111 43 Stockholm<br>
						Telefon: <a href="tel:08 - 791 83 30">08 - 791 83 30</a>
					</address>
				</div><!--col-->

				<div class="col-md-2 footer__item">
					<address>
						<b>Göteborg</b><br>
						Mässans gata 18<br>
						402 24 Göteborg<br>
						Telefon: <a href="tel:031 - 780 28 90">031 - 780 28 90</a>
					</address>
				</div><!--col-->

				<div class="col-md-2 footer__item">
					<address>
						<b>Uppsala</b><br>
						Drabanten, Bangårdsgatan 13<br>
						753 20 Uppsala<br>
						Telefon: <a href="tel:018 - 46 96 14">018 - 46 96 14</a>
					</address>
				</div><!--col-->

				<div class="col-md-2 footer__item">
					<address>
						<b>Västerås</b><br>
						Hållgatan 4<br>
						722 11 Västerås<br>
						Telefon: <a href="tel:08 - 791 83 31">08 - 791 83 31</a>
					</address>
				</div><!--col-->

				<div class="col-md-2 footer__item">
					<address>
						<b>Zürich</b><br>
						Hallwylstrasse 54<br>
						8004 Zürich<br>
						Telefon: <a href="tel:+41 (0) 78 838 82 57">+41 (0) 78 838 82 57</a>
					</address>
				</div><!--col-->

				<div class="col-md-2 footer__item align-self-bottom">
					<a href="#" id="footer-logo" title="Hem">
						<img src="assets/images/elements/logo.svg" alt="">
					</a>
				</div><!--col-->
			</div><!--row-->
		</div><!--footer-top-holder-->


		<div class="footer-bottom-holder">

			<ul class="list visible-sm visible-xs">
				<li class="list__item">
					<a class="btn btn-danger" href="https://carlstrompartners.strukturinvest.se/Templates/UI/Views/LoginPage.aspx?ReturnUrl=/" title="Min depå" target="blank">Min depå</a>
				</li>
				<li class="list__item">
					<a href="https://www.facebook.com/fondpartner/?ref=ts&fref=ts" class="btn btn-danger svensk-icon-facebook" title="Facebook" target="_blank"></a>
				</li>
				<li class="list__item">
					<a href="https://twitter.com/Nyheterikorthet" class="btn btn-danger svensk-icon-twitter" title="Twitter" target="_blank"></a>
				</li>
				<li class="list__item">
					<a href="mailto:info@fondpartner.se" class="btn btn-danger svensk-icon-mail" title="Kontakta oss" target="_blank"></a>
				</li>
			</ul><!--header-list-->

			<p>Copyright © 2016 <b><a href="#">fondpartner.se</a></b> All Rights Reserved. <b><a href="mailto:info@fondpartner.se">info@fondpartner.se</a></b></p>
		</div>
	</div><!--container-->
</footer>