<script>
	if (window.XMLHttpRequest) {
		xhr = new XMLHttpRequest();
	} else {
		xhr = new ActiveXObject("Microsoft.XMLHTTP");
	}
	xhr.open("GET",'assets/stylesheets/main.css',false);
	xhr.send();
	var lazyStyle = document.createElement('style');
	lazyStyle.innerHTML = xhr.responseText;
	document.head.appendChild(lazyStyle);
</script>

<script defer src="assets/vendors/jquery/dist/jquery.min.js"></script>
<script defer src="assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script defer src="assets/vendors/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script defer src="assets/javascript/scripts.js"></script>
