/* BOX CARD */
.box-card {
	@extend .mb-4, .px-3, .py-3, .d-xl-flex, .align-items-xl-center, .justify-content-xl-between;
	@include transition($base-animation);
	border: 1px solid $gray-secondary;
	border-left-width: 4px;

	&--lg {
		@media (max-width: 1550px) {
			display: block !important;

			.box-card__description {
				margin-right: 0 !important;
				margin-bottom: 2rem !important;
			}
		}
	}

	&--xl {
		@extend .mb-md-5;
	}

	&:focus,
	&:hover {
		box-shadow: $base-box-shadow;
		border-left-color: $success;
	}

	.form-group-qty {
		@media only screen and (min-width: 1200px) and (max-width: 1400px) {
			width: 100%;
			margin-right: 0 !important;
			margin-bottom: 10px !important;
		}
	}

	.field-qty {
		@include media-breakpoint-up(lg) {
			max-width: 200px;
		}
		min-width: 115px;
	}
}

.box-card__description {
	@extend .mr-xl-4, .mb-4, .mb-xl-0;
}

.box-card__action {
	@extend .flex-shrink-0, .d-lg-flex;
}

.box-card__img {
	@extend .w-100;
	max-width: 148px;
	border: 1px solid $gray-secondary;
}

.box-card__badges {
	@extend .d-flex, .align-items-center, .justify-content-xl-end;

	&:not(:last-child) {
		@extend .mb-3;
	}
}

.box-card__badge {
	width: 35px;

	&+.box-card__badge {
		@extend .ml-3;
	}
}

.box-card__icon-ship {
	@extend .img-fluid, .mr-2;
	max-width: 40px;
}

.box-card__img-negative {
	@extend .mb-md-n3;
	max-width: 135px;
}

.box-card-list {
	@extend .d-flex, .flex-column, .font-bold;

	&:not(:last-child) {
		@extend .mb-3;
	}
	@include media-breakpoint-down(lg) {
		font-size: 10px;
	}
}