/* BTN BACK TO TOP */

.btn-to-top {
  @extend .d-flex, .align-items-center, .justify-content-center, .text-uppercase, .font-bold, .px-4, .py-3, .bg-silver;
  color: $silver-secondary;
  &:hover, &:focus {
    color: darken($silver-secondary, 15%);
  }
}

.btn-to-top__icon {
  @extend .mr-2;
  font-size: 24px;
}
