/* BUTTONS */
.btn {
  @extend .shadow, .font-bold;
  padding: 0.5rem 2rem;

  &-primary {
    @include button-variants($bg: $primary, $color: $white);
  }

  &-lg {
    padding: 14px 65px;
    @include media-breakpoint-down(md) {
      padding: 10px 35px;
    }
  }

  &-sm {
    @extend .py-1, .px-3;
  }

  &-outline-primary {
    @include button-outline-variants($color: $primary)
  }

  &-action {
    @extend .shadow-none, .text-black, .px-3;
    border-color: #bcc1c8;
    background-color: $white;

    &:focus,
    &:hover {
      border-color: #bcc1c8;
      background-color: #bcc1c8;
    }
  }
}