/* CHECKBOX */
.checkbox {
  input {
    @extend .d-none, .position-absolute;

    &:checked {
      &+label {
        &:before {
          @extend .fa-check-square;
        }
      }
    }
  }

  label {
    @extend .d-flex, .align-items-center, .text-black, .m-0, .font-regular;
    cursor: pointer;

    &:before {
      @extend .mr-2, .flex-shrink-0, .far, .fa-square;
    }
  }

  &+.checkbox {
    margin-top: 1px;
  }
}

.checkbox__img {
  @extend .img-fluid;
  max-width: 135px;
}