/* CONTENT */
.content {
  @extend .d-flex, .flex-column, .flex-lg-row;

  &--reverse {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse!important;
    }

    .content__aside {
      @extend .mb-0;
    }

    .content__body {
      @extend .mb-5, .mb-lg-0;
    }
  }
}

.content__aside {
  @extend .flex-shrink-0, .mb-4, .mb-md-0;
  @include media-breakpoint-up(lg) {
    width: 200px;
    margin-right: 30px;
  }
  @include media-breakpoint-up(xl) {
    margin-right: 50px;
  }
}

.content__body {
  @extend .flex-fill;
}