/* FILTER */
.filter {
	@extend .overflow-auto, .mb-3;
	max-height: 354px;

	.mCSB_scrollTools {
		width: 4px;
		opacity: 1;

		.mCSB_draggerRail {
			@extend .rounded-0;
			background-color: rgba($primary, .4);
			width: 4px;
		}

		.mCSB_dragger {
			.mCSB_dragger_bar {
				@extend .rounded-0, .bg-primary;
			}
		}
	}
}

.filter__title {
	@extend .mb-2;
	font-size: 16px;
}