/* HEADER ACCOUNT */
$dropdown-triangle-size: 8px;

.header__account {
  > .nav-item {
    &.show {
      > .nav-link {
        color: lighten($black, 30%);

        &:focus,
        &:hover {
          color: lighten($black, 30%);
        }
      }
    }

    > .nav-link {
      color: $black;

      &:focus,
      &:hover {
        color: lighten($black, 30%);
      }
    }
  }

  .dropdown-toggle {
    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    min-width: 300px;
    top: calc(100% + 27px);

    &:after {
      @extend .position-absolute, .d-inline-block;
      top: -$dropdown-triangle-size;
      left: 15px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 $dropdown-triangle-size $dropdown-triangle-size $dropdown-triangle-size;
      border-color: transparent transparent $white transparent;
    }

    &-centered {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-right {
      &:after {
        right: 5px;
        left: auto;
      }
    }
  }
}