/* HEADER MENU LIST */
.header-menu-list {
  @extend .py-3, .d-flex, .flex-column, .flex-fill, .list-unstyled, .position-relative;
  padding-right: 20px;
  @include media-breakpoint-up(md) {
    max-width: 340px;
    border-right: 1px solid $success-secondary;
    padding-right: 45px;
  }
  @include media-breakpoint-down(sm) {
    overflow-x: hidden;
  }
}

.header-menu-list__item {
  min-width: 0;

  &.is-active {
    .header-menu-sublist {
      visibility: visible;
      opacity: 1;
      transform: translateX(0px);
    }

    .header-menu-list__link {
      @extend .text-success-secondary;
    }
  }
}

.header-menu-list__link {
  @extend .text-white, .font-bold, .d-flex, .align-items-center, .py-3, .position-relative, .pr-4;
  min-width: 0;

  &--has-child {
    @extend .fa-chevron-right;

    &:before {
      @extend .fas, .position-absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:focus,
  &:hover {
    @extend .text-success-secondary;
  }
}

.header-menu-list__text {
  @extend .text-truncate;
}

.header-menu-list__icon {
  font-size: 1.8rem;
  @extend .mr-3;
}

.header-menu-list__title {
  @extend .text-success-secondary, .font-light, .py-3, .mb-0;
  font-size: 22px;
}

.header-menu-sublist {
  @extend .d-flex, .flex-column, .position-absolute, .py-4, .w-100, .list-unstyled, .bg-primary, .overflow-auto;
  top: 0;
  left: calc(100% + 1px);
  visibility: hidden;
  opacity: 0;
  @include transition($base-animation);
  transform: translateX(20px);
  @include media-breakpoint-down(sm) {
    left: 0;
    z-index: 30;
    transform: translateX(40px);
    height: 100%;
    position: fixed !important;
  }
}

.header-menu-sublist__item {
  min-width: 0;

  &--black {
    @extend .d-md-none;
  }
}

.header-menu-sublist__link {
  @extend .text-white, .d-block, .d-md-inline-block, .text-truncate;
  padding: 6px 15px 6px 55px;
  @include media-breakpoint-down(sm) {
    padding: 6px 15px;
    font-size: 16px;
  }

  &:focus,
  &:hover {
    @extend .text-success-secondary;
  }
}