/* HEADER FORM */
.header__form {
  @extend .flex-fill, .shadow, .ml-md-4, .mr-md-5, .mt-2, .mt-md-0, .rounded, .order-md-3;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  .form-control {
    padding-left: 40px;
  }

  .btn-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.header__form-icon {
  @extend .position-absolute, .text-muted, .h-100, .d-flex, .justify-content-center, .align-items-center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}