/* NOTIFICATION CARD */
$notification-card-bg: #f9f9f9;
$notification-card-border-color: #c3c3c3;

.notification-card {
  margin-bottom: 20px;
  border: 1px solid $notification-card-border-color;
  background-color: $notification-card-bg;
  padding: 15px;
  @include media-breakpoint-up(md) {
    padding: 25px;
  }
  @include media-breakpoint-up(xl) {
    padding: 35px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}