/* PANEL */
.panel {
  @extend .bg-white;
  @include transition($base-animation);
  border-bottom: 4px solid darken($base-border-color, 10%);
  padding: 100px 30px;
  @include media-breakpoint-down(lg) {
    padding: 60px 20px;
  }
  @include media-breakpoint-down(md) {
    padding: 40px 15px;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 5px 0 rgba($black, .3);
    border-color: $success;
  }
}

.panel__title {
  @extend .mb-2;
  font-size: 28px;
}