/* PRODUCTS */
.products {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product {
  @extend .position-relative, .d-flex, .flex-column, .align-items-center, .justify-content-center, .overflow-hidden;
  border: 1px solid darken($base-border-color, 10%);
  transition: $base-animation;

  &:focus,
  &:hover {
    box-shadow: 0 0 5px 0 rgba($black, .3);

    .product-description {
      border-left-color: $success;
    }
  }

  &--wide {
    @include media-breakpoint-up(sm) {
      grid-column-end: span 2;
    }
  }
}

.product__img {
  @extend .w-100, .h-100;
  object-fit: cover;
}
// .product-description {
//   @extend .position-absolute, .w-100, .py-2, .px-3, .bg-white;
//   transition: $base-animation;
//   z-index: 20;
//   left: 0;
//   bottom: 0;
//   border-left: 4px solid $success;
//   border-top: 1px solid darken($base-border-color, 10%);
//   transform: translateY(100%);
// }

.product-description {
  @extend .py-2, .px-3, .bg-white, .w-100, .mt-auto;
  border-left: 4px solid darken($base-border-color, 10%);
  border-top: 1px solid darken($base-border-color, 10%);
  transition: $base-animation;
}

.product-description__by {
  @extend .text-gray, .mb-1;
  font-size: 13px;
}

.product-description__price {
  @extend .text-gray;
}