/* SEARCH RESULT CARD */
.product-card {
	@extend .mb-2, .px-3, .py-2, .d-xl-flex, .align-items-xl-center, .justify-content-xl-between;
	@include transition($base-animation);
	border-left: 4px solid $gray-secondary;
	border-bottom: 1px solid $gray-secondary;

	&:focus,
	&:hover {
		box-shadow: $base-box-shadow;
		border-left-color: $success;
	}

	.field-qty {
		min-width: 115px;
	}
}

.product-card__description {
	@extend .mr-xl-4, .mb-4, .mb-xl-0;
}

.product-card__action {
	@extend .flex-shrink-0, .d-lg-flex;
}

.product-card__img {
	@extend .w-100;
	max-width: 148px;
	border: 1px solid $gray-secondary;
}

.product-card__badges {
	@extend .d-flex, .align-items-center, .mb-3, .justify-content-xl-end;
}

.product-card__badge {
	width: 35px;

	&+.product-card__badge {
		@extend .ml-3;
	}
}