/* RATING */
.ratings {
	@extend .mb-2;
}

.raiting {
	@extend .d-flex, .align-items-center, .mb-1;
	font-size: 11px;

	&--lg {
		font-size: 13px;

		.raiting__list__item {
			font-size: 14px;
		}
	}
}

.raiting__list {
	@extend .d-inline-flex, .flex-shrink-0, .mr-2;
}

.raiting__list__item {
	@extend .text-primary;
	cursor: pointer;
	font-size: 12px;

	&+.raiting__list__item {
		margin-left: 2px;
	}
}