/* SELECTPICKER */
.bootstrap-select {
  .btn {
    @extend .shadow-none, .rounded-0, .px-3;
    border: none;
    border-bottom: 2px solid $primary;
    min-height: 37px;

    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    @extend .shadow;

    .selected {
      &.active {}
    }

    .dropdown-item {
      @extend .text-black;

      &:hover {
        background-color: rgba($primary, .1);
      }

      &.active,
      &:active {
        background-color: rgba($primary, .1);
      }
    }
  }
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus+.dropdown-toggle {
  outline: none !important;
}