<div class="alert alert-cookies alert-dismissible alert-has-container" role="alert">
  <div class="container">
		<div class="flex-xs-up flex-item-center">
			<p class="flex-1">Schuttevaer.nl gebruikt cookies en vergelijkbare technologieën (cookies) onder andere om u een optimale gebruikerservaring te bieden. Ook kunnen we hierdoor het gedrag van bezoekers vastleggen en analyseren en daardoor onze website verbeteren. Meer informatie hierover vindt u in ons <a href="#">cookie-statement</a>.</p>
			<button type="button" class="btn btn-primary btn-bold alert__btn-close" data-dismiss="alert" aria-label="Close">Ja, ik begrijp het</button>
		</div><!-- flex -->
	</div><!-- container -->
</div>
