<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__item">
				<div class="row">
					<div class="col-lg-6 col-sm-6 push-xs-down">
						<div class="panel panel-default">
						  <div class="panel-body">
						    <h4>Nieuwsbrief ontvangen?</h4>
								<p>Wilt u ook <b>2x per week</b> op de hoogte worden gehouden van alle actualiteiten uit de maritieme sector?</p>
								<p>Meldt u zich dan nu hier aan voor de gratis nieuwsbrief van Schuttevaer.nl.</p>
								<p><a href="#" class="btn btn-primary btn-bold btn-block">Nieuwsbrief aanvragen</a></p>
								<a href="#" class="link__dark"><small>Voorbeeld nieuwsbrief</small></a>
						  </div><!-- panel-body -->
						</div><!-- panel -->
					</div><!-- col -->

					<div class="col-lg-5 col-lg-offset-1 col-sm-6">
						<div class="row">
							<div class="col-sm-6 push-xs-down">
								<h5 class="title__has-divider hidden-xs">
									<span class="title__has-divider__inner">Contact & services</span>
								</h5>
								<a class="title__has-divider footer__title__toggle visible-xs" data-toggle="collapse" href="#footer-collapse-item1" aria-expanded="false" aria-controls="footer-collapse-item1">
									<span class="title__has-divider__inner">Contact & services</span>
									<span class="caret"></span>
								</a>

								<ul class="list list-unstyled footer__coollapse-mobile"  id="footer-collapse-item1">
									<li class="list__item">
										<a href="#" class="list__link">Abonneren</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Hulp bij het inloggen</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Contactgegevens</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Adverteren</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Nieuwsbrief</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Lezersaanbieding</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Huisregels</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">_</a>
									</li>
								</ul><!-- list -->

								<a class="title__has-divider footer__title__toggle visible-xs" data-toggle="collapse" href="#footer-collapse-item2" aria-expanded="false" aria-controls="footer-collapse-item2">
									<span class="title__has-divider__inner">Bezoek ook</span>
									<span class="caret"></span>
								</a>
								<ul class="list list-unstyled footer__coollapse-mobile d-none"  id="footer-collapse-item2">
									<li class="list__item">
										<a href="#" class="list__link">Wacht te Kooi</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">VAART!</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Vraag en Aanbod</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Wie Levert</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Aandrijven en besturen</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">EngineersOnline</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">Scheepvaarttelefoongids</a>
									</li>
								</ul><!-- list -->
							</div><!-- col -->

							<div class="col-sm-6">
								<h5 class="title__has-divider">
									<span class="title__has-divider__inner">Volg ons Facebook</span>
								</h5>
								<ul class="list-social list-unstyled">
									<li class="list-social__item">
										<a href="#" class="list-social__link schuttevaer-icon-facebook"></a>
									</li><!-- list-social__item -->
									<li class="list-social__item">
										<a href="#" class="list-social__link schuttevaer-icon-twitter"></a>
									</li><!-- list-social__item -->
									<li class="list-social__item">
										<a href="#" class="list-social__link schuttevaer-icon-rss"></a>
									</li><!-- list-social__item -->
								</ul><!-- list-social -->

								<h5 class="title__has-divider">
									<span class="title__has-divider__inner">Mobiele apps</span>
								</h5>
								<ul class="list list-unstyled">
									<li class="list__item">
										<a href="#" class="list__link">
											<img src="assets/images/temp/Download_on_the_App_Store_Badge_NL_135x40.svg" class="store-img" alt="">
										</a>
									</li>
									<li class="list__item">
										<a href="#" class="list__link">
											<img src="assets/images/temp/google-play-badge.svg" class="store-img" alt="">
										</a>
									</li>
								</ul><!-- list -->
							</div><!-- col -->
						</div><!-- row -->
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- footer__item -->

			<div class="footer__item">
				<h5 class="title__has-divider hidden-xs">
					<span class="title__has-divider__inner">Bezoek ook</span>
				</h5>
				<ul class="list-divider list-unstyled hidden-xs">
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">Wacht te Kooi</a>
					</li><!-- list-divider__item -->
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">VAART!</a>
					</li><!-- list-divider__item -->
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">Vraag en Aanbod</a>
					</li><!-- list-divider__item -->
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">Wie Levert</a>
					</li><!-- list-divider__item -->
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">Aandrijven en besturen</a>
					</li><!-- list-divider__item -->
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">EngineersOnline</a>
					</li><!-- list-divider__item -->
					<li class="list-divider__item">
						<a href="#" class="list-divider__link">Scheepvaarttelefoongids</a>
					</li><!-- list-divider__item -->
				</ul><!-- list-divider -->
			</div><!-- footer__item -->
		</div><!-- container -->
	</div><!-- footer__top -->

	<div class="footer__bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 push-sm-down">
					<p>© 2017 MYbusinessmedia B.V. alle rechten voorbehouden</p>
				</div><!-- col -->

				<div class="col-md-6">
					<ul class="list-inline text-right-md">
						<li><a href="#" class="underline link__dark">Privacy statement</a></li>
						<li><a href="#" class="underline link__dark">Gebruikersvoorwaarden</a></li>
						<li><a href="#" class="underline link__dark">Disclaimer</a></li>
					</ul><!-- list-inline -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- footer__bottom -->
</footer><!-- footer -->
